{% extends 'template/mainpage/template.html.twig' %}

{% block header %}

    <header id="header" class="reg-header">
        <div class="container">
            <div class="container-inner">
                <a href="/" class="logo"><img src="{{ asset('img/logo.svg') }}" alt=""></a>
                <ul class="navbar-right">
                    <li>
                        <img src="{{ asset('img/ic-phone.svg') }}" alt="">
                        <a href="tel:8 800 222 33 57"><b>8 800 222 33 57</b></a>
                    </li>
                </ul>

                <div class="hamburger visible-xs">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
        <div class="mobile-menu js-mobile-menu">
            <div class="menu-inner">
                <ul class="mobile-main-menu">
                    <li class="{% if app.request.attributes.get('_route') == 'app.default.index' %}active{% endif %}"><a href="{{ path('app.default.index') }}">Отправителям</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'app.auction.index' %}active{% endif %}"><a href="{{ path('app.auction.index') }}">Перевозчикам</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'app.track.index' %}active{% endif %}"><a href="{{ path('app.track.index') }}">Отследить заказ</a></li>
                </ul>
                <ul class="links">
                    <li><a href="{{ path('fos_user_security_login') }}" class="header-login">Вход</a></li>
                    <li><a href="{{ path('app.security.register') }}" onclick="counterEvent('REG_BUT', 'click'); return true;" class="btn-rounded header-register">Регистрация</a></li>
                </ul>
                <div class="mobile-phone">
                    <img src="/img/ic-phone.svg" alt="">
                    <a href="tel:8 800 222 33 57"><b>8 800 222 33 57</b></a>
                </div>
            </div>
        </div>
    </header>

{% endblock %}

{% block footer %}{% endblock %}