{% extends 'template/securitypage/template.html.twig' %}

{% block content %}

    <section class="log-reg-wrapper">

        <div class="container">
            <div class="container-inner">

                <div id="auth"
                     data-attach-vue="auth"
                     data-username="{{ last_username }}"
                     data-restore-path="{{ path('fos_user_resetting_request') }}"
                     data-login-path="{{ path('app.security.register') }}?{{ app.request.server.get('REDIRECT_QUERY_STRING') }}">
                </div>

                <div class="reg-copyright">
                    <span>{{ "now"|date("Y") }} © ООО "Точка-Точка”. Все права защищены.</span>
                </div>
            </div>
        </div>

        <div class="log-reg-bg"></div>
    </section>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_script_tags('js/main') }}
{% endblock %}
