<!DOCTYPE html>
<html lang="ru" {{ sonata_seo_html_attributes() }}>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-W5L8GH7');</script>
    <!-- End Google Tag Manager -->


</head>

<body>
{% include 'template/mainpage/counters.html.twig' %}

{% block content %}{% endblock %}

</body>

</html>
