{% if app.request.attributes.get('_route') == 'app.personal.index' and app.user and app.user.isCustomerNow %}
    <footer id="footer" class="footer-lk">
{% else %}
    <footer id="footer">
{% endif %}
    <div class="container">
        <div class="row">
        {% if app.request.attributes.get('_route') == 'app.personal.index' and app.user and app.user.isCustomerNow %}
            <div class="col-md-3 col-sm-4 footer-column-left">
        {% else %}
            <div class="col-md-3 col-sm-4 footer-column-left">
        {% endif %}
                <div class="company-copyright">
                    Подпишитесь
                    <ul>
                        <li><a onclick="counterEvent('VK', 'click');" href="https://vk.com/dot_dotru" target="_blank"><img src="{{ asset('img/vk.svg') }}" alt=""></a></li>
                        <li><a onclick="counterEvent('FB', 'click');" href="http://facebook.com/dotdotru/" target="_blank"><img src="{{ asset('img/fb.svg') }}" alt=""></a></li>
                        <li><a href="https://www.instagram.com/dot_dotru/" target="_blank"><img src="{{ asset('img/inst.svg') }}" alt=""></a></li>
<!-- <li><a  onclick="openPopupUrl('/static/popup/subscribe', 'main-popup register-popup', function(){ initSubscribe();});" href="#"><img src="{{ asset('img/mail.svg') }}" alt=""></a></li> -->
                        <li id="subscrib" data-attach-vue="subscrib" ></li>
                    </ul>
                    <Subscrib/>
                    <br>

                    {% if app.request.attributes.get('_route') == 'app.auction.index' %}
                        <a href="#" onclick="openPopupUrl('/static/popup/company?transporter=1', 'main-popup company-popup'); counterEvent('about', 'click'); return false;" class=" black">О компании </a>
                    {% else %}
                        <a href="#" onclick="openPopupUrl('/static/popup/company?sender=1', 'main-popup company-popup'); counterEvent('about', 'click'); return false;" class=" black">О компании </a>
                    {% endif %}

                    {% if app.request.attributes.get('_route') in [
                        'app.default.index',
                        'app.track.index',
                        'app.security.register',
                    ] %}
                        <a target="_blank" href="{{ path('app.static.offer_customer') }}">Условия оферты</a>
                    {% elseif app.request.attributes.get('_route') in [
                        'app.auction.index',
                        'app.security.register',
                    ] %}
                        <a target="_blank" href="{{ path('app.static.offer_carrier') }}">Условия оферты</a>
                    {% elseif app.user %}
                        {% if app.user.isCustomerNow %}
                            <a target="_blank" href="{{ path('app.static.offer_customer') }}">Условия оферты</a>
                        {% elseif app.user.isCarrierNow %}
                            <a target="_blank" href="{{ path('app.static.offer_carrier') }}">Условия оферты</a>
                        {% endif %}
                    {% endif %}

                </div>
            </div>
        {% if app.request.attributes.get('_route') == 'app.personal.index' and app.user and app.user.isCustomerNow %}
            <div class="col-md-5 footer-column-center">
                <div class="footer-faq">
                    <img src="{{ asset('img/question-mark.svg') }}" alt="">
                    {% if app.request.attributes.get('_route') == 'app.default.index' %}
                        {% set faqLink = path('app.faq.index') %}
                    {% else %}
                        {% set faqLink = path('app.faq.carrier') %}
                    {% endif %}
                    <a href="{{ faqLink }}"><b>Частые вопросы</b></a>
                </div>    
                <div class="footer-phone">
                    <img src="{{ asset('img/ic-phone.svg') }}" alt="">
                    <b>8 800 222 33 57</b>
                </div>                         
                {% if app.request.attributes.get('_route') == 'app.personal.index' and app.user and app.user.isCustomerNow %}
                    <ul class="footer-logos">
                        <li><img src="/img/mastercard.svg" alt="" style="width: 45px;"></li>
                        <li><img src="/img/visa.svg" alt="" style="width: 50px;"></li>
                        <li><img src="/img/mir.svg" alt="" style="width: 53px;"></li>
                    </ul>
                {% endif %}
        {% else %}
            <div class="col-md-5 footer-column-center">
                {% if app.request.attributes.get('_route') == 'app.personal.index' and app.user and app.user.isCustomerNow %}

                {% endif %}
                <div class="footer-faq">
                    <img src="{{ asset('img/question-mark.svg') }}" alt="">
                    {% if app.request.attributes.get('_route') == 'app.default.index' %}
                        {% set faqLink = path('app.faq.index') %}
                    {% else %}
                        {% set faqLink = path('app.faq.carrier') %}
                    {% endif %}
                    <a href="{{ faqLink }}"><b>Частые вопросы</b></a>
                </div>
                <div class="footer-phone">
                    <img src="{{ asset('img/ic-phone.svg') }}" alt="">
                    <b>8 800 222 33 57</b>
                </div>
                <ul class="footer-logos">
                    <li><img src="/img/mastercard.svg" alt="" style="width: 45px;"></li>
                    <li><img src="/img/visa.svg" alt="" style="width: 50px;"></li>
                    <li><img src="/img/mir.svg" alt="" style="width: 53px;"></li>
                </ul>

        {% endif %}            
            </div>
        {% if app.request.attributes.get('_route') == 'app.personal.index' and app.user and app.user.isCustomerNow %}
            <div class="col-md-4 col-sm-5 text-right no-padding-r-tablet text-centered-mobile footer-column-right">
        {% else %}
            <div class="col-md-5 col-sm-5 text-right no-padding-r-tablet text-centered-mobile footer-column-right">
        {% endif %}             
                {{ "now"|date("Y") }} © ООО ‟Точка-Точка”. Все права защищены.
                <div class="copyright">Сделано в <a href="http://air.agency/?utm_source=dot-dot.ru&utm_medium=portfolio" target="_blank">AIR Production</a></div>
            </div>
        </div>
    </div>
</footer>