
    <div class="container">
        <a href="{{ path('app.default.index') }}" class="logo" style="width: 185px; margin-right: 70px;">
            <img src="{{ asset('/img/logo.svg') }}" alt="">
        </a>

        <ul class="main-menu">
            <li class="{% if app.request.attributes.get('_route') == 'app.default.index' %}active{% endif %}">
                <a href="{{ path('app.default.index') }}">Клиентам</a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'app.auction.index' %}active{% endif %}">
                {% if is_granted('ROLE_MILES') or is_granted('ROLE_ADMIN') %}
                    <span>Перевозчикам</span>
                    <ul class="sub-menu">
                        <li><a href="{{ path('app.auction.index') }}">Магистральная перевозка</a></li>
                        <li><a href="{{ path('app.persoinal.miles') }}">Адресная доставка</a></li>
                    </ul>
                {% else %}
                    <a href="{{ path('app.auction.index') }}">Перевозчикам</a>
                {% endif %}
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'app.track.index' %}active{% endif %}">
                <a href="{{ path('app.track.index') }}">Отследить заказ</a>
            </li>
            {% if app.user %}
                <li class="{% if app.request.attributes.get('_route') == 'app.personal.index' %}active{% endif %}">
                    <a href="{{ path('app.personal.index') }}">
                        {% if app.user.isCustomerNow %}
                            Мои заказы
                        {% else %}
                            Мои партии
                        {% endif %}
                    </a>

                    {% if app.user.isCustomerNow %}
                        {% if app.user.isCarrier %}
                            <ul class="sub-menu">
                                <li><a href="{{ path('app.personal.change_login') }}">
                                        {% if app.user.isCustomerNow %}
                                            Мои партии
                                        {% else %}
                                            Мои заказы
                                        {% endif %}
                                    </a></li>
                            </ul>
                        {% else %}
                            <ul class="sub-menu">
                                <li><a href="{{ path('app.personal.change_login') }}">Стать перевозчиком</a></li>
                            </ul>
                        {% endif %}
                    {% elseif app.user.isCarrierNow %}
                        {% if app.user.isCustomer %}
                            <ul class="sub-menu">
                                <li><a href="{{ path('app.personal.change_login') }}">
                                        {% if app.user.isCustomerNow %}
                                            Мои партии
                                        {% else %}
                                            Мои заказы
                                        {% endif %}
                                    </a>
                                </li>
                            </ul>
                        {% else %}
                            <ul class="sub-menu">
                                <li><a href="{{ path('app.personal.change_login') }}">Стать отправителем</a></li>
                            </ul>
                        {% endif %}
                    {% endif %}
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-right">
            {% if app.user %}
                <li class="mobile-logged">
                    <a href="javascript:void(0);"><img src="/img/ic-user.svg" alt=""></a>

                    <ul class="user-menu">
                        <li><a href="{{ path('app.personal.profile') }}"><img src="/img/settings.svg" alt="">Настройки</a></li>
                        <li><a href="{{ path('fos_user_security_login') }}">
                                <img src="/img/change.svg" alt="">Другой логин</a>
                        </li>
                        {% if app.user and app.user.isCustomer %}
                            <li><a href="{{ path('app.personal.authtokens') }}"><img src="/img/code.svg" alt="">Персональный код</a></li>
                        {% endif %}
                        <li><a href="{{ path('fos_user_security_logout') }}"><img src="/img/exit.svg" alt="">Выйти</a></li>
                    </ul>
                </li>
            {% else %}
                <li class="mobile-login"><a href="{{ path('fos_user_security_login') }}"><img src="/img/ic-user.svg" alt=""></a></li>
                <li><a href="{{ path('fos_user_security_login') }}" class="header-login">Вход</a></li>
                <li><a href="{{ path('app.security.register') }}" onclick="counterEvent('REG_BUT', 'click'); return true;" class="btn-rounded header-register">Регистрация</a></li>
            {% endif %}

            <li>
                <img src="/img/ic-phone.svg" alt="">
                <b>8 800 222 33 57</b>
            </li>
        </ul>

        <div class="hamburger visible-xs">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </div>
    <div class="mobile-menu js-mobile-menu">
        <div class="menu-inner">
            <ul class="mobile-main-menu">
                <li class="{% if app.request.attributes.get('_route') == 'app.default.index' %}active{% endif %}"><a href="{{ path('app.default.index') }}">Клиентам</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'app.auction.index' %}active{% endif %}">
                    {% if is_granted('ROLE_MILES') or is_granted('ROLE_ADMIN') %}
                        <span>Перевозчикам</span>
                        <ul class="sub-menu">
                            <li><a href="{{ path('app.auction.index') }}">Магистральная перевозка</a></li>
                            <li><a href="{{ path('app.persoinal.miles') }}">Адресная доставка</a></li>
                        </ul>
                    {% else %}
                        <a href="{{ path('app.auction.index') }}">Перевозчикам</a>
                    {% endif %}
                </li>
                <li class="{% if app.request.attributes.get('_route') == 'app.track.index' %}active{% endif %}"><a href="{{ path('app.track.index') }}">Отследить заказ</a></li>
            </ul>
            <ul class="links">
                <li><a href="{{ path('fos_user_security_login') }}" class="header-login">Вход</a></li>
                <li><a href="{{ path('app.security.register') }}" onclick="counterEvent('REG_BUT', 'click'); return true;" class="btn-rounded header-register">Регистрация</a></li>
            </ul>
            <div class="mobile-phone">
                <img src="/img/ic-phone.svg" alt="">
                <a href="tel:8 800 222 33 57"><b>8 800 222 33 57</b></a>
            </div>
        </div>
    </div>

<style>
    .h2.faqued {
        font-size: 56px;
        margin-bottom: 9px;
    }
    .accordion {
        margin-bottom: 40px;
    }
    #header.inner-header {
        margin-bottom: 67px;
    }
</style>
