<!DOCTYPE html>
<html lang="ru" {{ sonata_seo_html_attributes() }}>
<head {{ sonata_seo_head_attributes() }}>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {{ sonata_seo_title() }}
    {{ sonata_seo_metadatas() }}
    {{ sonata_seo_link_canonical() }}
    {{ sonata_seo_lang_alternates() }}
    <meta name="format-detection" content="telephone=no">
	<meta name="yandex-verification" content="be1b40219c40a133" />

	<style>body{opacity:0;overflow-x:hidden}a{text-decoration:none;color:#a1a3ab}.btn-rounded{border-radius:18px;padding:7px 21px}#header .navbar-right li a{font-size:11px}#header .main-menu li a{font-size:15px}</style>

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
					new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
				j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
				'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-W5L8GH7');</script>
	<!-- End Google Tag Manager -->

	<!--<script src="https://smartcallback.ru/api/smartis.js?t=HaYlPBTuhicV8UFf0qfI" async></script>-->
	
	<script type="text/javascript">
	var __cs = __cs || [];
	__cs.push(["setCsAccount", "NFZmHWtvR4yUo0pUW4qZL2fCC__4lZW8"]);
	</script>
	<script type="text/javascript" async src="https://app.comagic.ru/static/cs.min.js"></script>
</head>

<body>
    {% include 'template/mainpage/counters.html.twig' %}
{% block header %}
	{% if is_granted('ROLE_PREVIOUS_ADMIN') %}
		<a style="position: absolute; z-index: 100; color: #fff;" href="{{ path('admin_sonata_user_user_list', {'_switch_user': '_exit'}) }}">Exit impersonation</a>
	{% endif %}
	<header id="header" class="{% block headerClass %}{% endblock %}">
    {% include 'template/mainpage/header.html.twig' %}
	</header>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
    {% include 'template/mainpage/footer.html.twig' %}
{% endblock %}

<script src="/libs/jquery/dist/jquery.min.js"></script>
<script src="/libs/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js/stocks.js"></script>
{{ encore_entry_link_tags('css/main') }}
{{ encore_entry_script_tags('js/main') }}

{% block stylesheets %}{% endblock %}
{% block js %}{% endblock %}



<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLqawvvNm0Oj1Nt8yaQ-CdvQ1190oPaug&callback=mapInited">
</script>


<script>
	function mapInited() {
		// костыль
		var event = new Event('map-loaded', {bubbles: true});
		window.dispatchEvent(event);

		initMap();
	}
</script>

<div id="popup" class="main-popup mfp-hide"></div>
</body>

</html>
