<template>
    <div>

        <div class="main-hero address-hero">
            <div class="container">
                <div class="h2" v-if="this.currentCity">Адресная доставка в г. {{ this.currentCity.title }}</div>
                <div class="h3">Дополнительный заработок. В твоем графике.</div>
                <ul class="hero-steps">
                    <li>Выберите город</li>
                    <li>Выберите партию</li>
                    <li>Перевезите груз</li>
                    <li>Получите деньги</li>
                </ul>
                <span class="js-toggle-steps"><span>Подробнее</span> <img src="img/arr-down.png" alt=""></span>

            </div>
        </div>


        <section>
            <div class="container">



        <div class="price-graph__wrapper">
            <div class="h3">Выберите партию</div>
            <div class="price-graph">
                <template v-for="n in timerGraphSteps">
                    <div class="price-graph__column" v-bind:class="{ 'price-graph__column--filled': n < timerGraphStep, 'price-graph__column--current': n == timerGraphStep }">
                        <div v-if="n == timerGraphStep" class="price-graph__column__fill" v-bind:style="{ transform: 'translateY(-' + timerGraphCurrentStepPercent + '%)' }"></div>
                    </div>
                </template>

                <div class="price-graph__info">
                    Цена изменится <br>через {{ percentTimeLeft }} сек.
                </div>
            </div>
        </div>

        <div class="day-list__wrapper">
            <div class="vs-select--inline">
                <v-select
                    placeholder="Выберите город"
                    :multiple="false"
                    v-model="currentCity"
                    label="title"
                    :options="cities"
                ></v-select>
            </div>
            

            <div class="day-list" data-simplebar>
                <div class="day-list__item"
                     @click="setCurrentDate(date)"
                     v-for="date in dateList"
                     v-bind:class="{
                         'day-list__item--active': currentDate && currentDate.format('YYYYMMDD') == date.format('YYYYMMDD'),
                         'day-list__item--disabled': !availableDates || availableDates.indexOf(date.format('YYYY-MM-DD')) === -1
                      }"
                >
                    <div class="day-list__item__name">{{ date.format('ddd', 'ru_')}}</div>
                    <div class="day-list__item__date">{{ date.format('DD')}} {{ date.format('MMMM')}}</div>
                </div>
            </div>

        </div>

        

        <city-select @city_changed="cityChange" :cities="cities" ref="city-select-popup"></city-select>


        <div class="price-graph price-graph--mobile">
            <template v-for="n in timerGraphSteps">
                <div class="price-graph__column" v-bind:class="{ 'price-graph__column--filled': n < timerGraphStep, 'price-graph__column--current': n == timerGraphStep }">
                    <div v-if="n == timerGraphStep" class="price-graph__column__fill" v-bind:style="{ transform: 'translateX(-' + timerGraphCurrentStepPercent + '%)' }"></div>
                </div>
            </template>
        </div>

            </div>
        </section>
        <section class="white address-map-section">
            <div class="container">
                <div class="map-area address-map">
                    <miles-auction-map
                        :currentDate="currentDate"
                        :currentCity="currentCity"
                        :percentCoef="percentCoef"
                        :percentNextCoef="percentNextCoef"
                        :percentPeriodLeft="percentPeriodLeft"

                        v-if="mode == 'map'"
                        class="map-wrapper"
                ></miles-auction-map>
                </div>
                
            </div>
        </section>
        <div class="clearfix"></div>
    </div>


</template>

<script>
    import Vue from 'vue';
    import vSelect from 'vue-select';
    import Vuex from 'vuex';
    import moment from 'moment';
    import storeData from '../../custom/store/wms.miles-auction.store';
    import CitySelect from '../../custom/city-select/city-select';
    import MilesAuctionMap from './parts/map';
    import Cookies from 'js-cookie'

    moment.locale('ru_', {
        months : 'января,февраля,марта,апреля,мая,июня,июля,августа,сентября,октября,ноября,декабря'.split(','),
    });

    Vue.use(Vuex);
    const store = new Vuex.Store(storeData);

    export default {
        name: 'milesAuction',
        store,
        data() {
            return {
                mode: 'map',
                dateList: [],

                currentCity: null,
                currentDate: null,
                sort: null,
                sortDirection: 'DESC',

                percentCoef: 100,
                percentNextCoef: 100,
                percentPeriodLeft: 0,
                percentTimeLeft: 0,
                percentTimePeriod: 0,

                timerGraphSteps: 0,
                timerGraphStep: 0
            }
        },
        components: {
            vSelect,
            CitySelect,
            MilesAuctionMap
        },
        mounted() {
            let userCityId = Cookies.get('user_city');
            this.currentDate = null;

            this.$store.dispatch('config/loadConfig').then(() => {
                // Если город пользователя не выбран, или в конфиге нет этого города, показываем попап
                if (!userCityId || !this.$store.getters['config/city'](userCityId)) {
                    this.$refs['city-select-popup'].showCitySelect();
                } else {
                    this.cityChange(userCityId);
                }

                // Устанавливаем сортировку по умолчанию
                this.sort = this.availableSorts && this.availableSorts.length ? this.availableSorts[0] : null;

                this.recalculatePrice();
            }, () => {});

            moment.locale('ru');
            for (let i = 0; i < 7; i++) {
                this.dateList.push(moment().add(i, 'days'));
            }


        },
        methods: {
            cityChange(cityId) {
                this.currentCity = this.$store.getters['config/city'](cityId);
            },
            setCurrentDate(date) {
                this.currentDate = date;
            },
            recalculatePrice() {
                let settings = this.$store.getters['config/auctionSettings'];

                let steps = [];
                let step = settings['percent_step'];

                let percentEnd = settings['percent_end'] ? settings['percent_end'] * 1 : 100;
                let percentStart = settings['percent_start'] ? settings['percent_start'] * 1 : 60;
                for (let i  = percentStart; i <= percentEnd; i !== percentEnd && i + step > percentEnd ? i = percentEnd : i += step) {
                    steps.push(i);
                }
                let totalSteps = steps.length;
                this.timerGraphSteps = steps.length;


                let intervalId = setInterval(() => {
                    // Делим UTC на количество шагов и получаем в каком периоде мы находимся
                    let period = ((new Date().getTime() / 1000) / settings['change_period']) % totalSteps;

                    let currentPeriod = Math.floor(period) ? Math.floor(period) : totalSteps; // текущий период
                    let periodLeft = period % 1; // сколько осталось до конца периода

                    this.timerGraphStep = currentPeriod;
                    this.percentCoef = steps[currentPeriod - 1];
                    this.percentNextCoef = steps[currentPeriod] ? steps[currentPeriod] : steps[0];
                    this.percentPeriodLeft = periodLeft;
                    this.percentTimeLeft = Math.floor(settings['change_period'] - periodLeft * settings['change_period']);
                    this.percentTimePeriod = settings['change_period'];
                }, 1000);
            }
        },
        computed: {
            // Формируем города из списка складов
            cities() {
                return this.$store.getters['config/cities'];
            },
            availableDates() {
                return this.$store.getters['mapMiles/availableDates'];
            },
            availableSorts() {
                return this.$store.getters['config/availableSorts'];
            },
            timerGraphCurrentStepPercent() {
                let secondsInStep = this.percentTimePeriod;
                let timer = this.percentTimePeriod - this.percentTimeLeft;

                if (timer == 0) {
                    return 0;
                }
                if ((timer / secondsInStep) % 1 == 0) {
                    return 100;
                }

                return Math.ceil(((timer / secondsInStep) % 1) * 100);
            },

        },
        watch: {
            'currentCity': function (city) {
                // Сохраняем выбор города пользователя
                if (city) {
                    Cookies.set('user_city', city.id, { expires: 365, path: '/' });
                }
            },
        }
    }
</script>

