{% extends '@SonataAdmin/standard_layout.html.twig' %}


{% form_theme form _self %}

{% block mile_tariff_widget %}

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>{{ form_label(form.id) }}</th>
            <th>{{ form_label(form.loaders) }}</th>
            <th>{{ form_label(form.tail_lift) }}</th>
            <th>{{ form_label(form.refrigerator) }}</th>
        </tr>
        </thead>
        <tbody class="sonata-ba-tbody">
        <tr>
            <td>{{ form_widget(form.id) }}</td>
            <td>{{ form_widget(form.loaders) }}</td>
            <td>{{ form_widget(form.tail_lift) }}</td>
            <td>{{ form_widget(form.refrigerator) }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}



{% block sonata_admin_content %}
<section class="content" style="background-color: white;">
    <div class="sonata-ba-form">
        {{ form(form) }}
    </div>
</section>
{% endblock %}

