<template>
    <div class="pallet" v-if="pallet">
        <span v-if="pallet.isShipping == false" v-on:click="unpalleted(pallet, $event)" class="delete-pallet"><img src="/img/round-cross.svg" alt=""></span>
        <div class="pallet-row">
            <div class="h5">ID паллеты:</div>
            <b>{{ pallet.externalId }}</b>
        </div>
        <div class="pallet-row bordered-row">
            <div class="h5">ID грузовых мест:</div>
            <div class="pallet-id-wrapper">
                <b><span v-for="(packageItem,index) in pallet.packages">{{ packageItem.externalId }}
                    <span v-if="pallet.packages.length > index+1">, </span></span>
                </b>
            </div>

        </div>
        <div class="pallet-row">
            <div class="h5">Вес, кг:</div>
            <input type="text" class="form-control" v-bind:class="{'disabled': pallet.palleted, 'error': isErrorWeightPallet(pallet)}"  v-model="pallet.weight" name="pallet.weight" v-filter="maskfilter.float" min="30" max="1450" placeholder="от 30 до 1450 кг">
        </div>
        <div class="pallet-row">
            <div class="h5">Точка отправления:</div>
            <p>{{ pallet.stockFrom.address }}</p>
        </div>
        <div class="pallet-row">
            <div class="h5">Точка доставки:</div>
            <p>{{ pallet.stockTo.address }}</p>
        </div>
        <div class="pallet-row">
            <a target="_blank" :href="'/wms/pdf/pallet/composition/'+pallet.externalId"><img src="/img/print-big.svg" alt="">Распечатать места</a>
            <a target="_blank" v-bind:class="{'disabled': !pallet.palleted}" :href="'/wms/pdf/pallet/marking/'+pallet.externalId"><img src="/img/print-big.svg" alt="">Распечатать маркировку</a>
        </div>
        <div class="pallet-row">
            <a v-if="pallet.palleted" v-bind:class="{'disabled': pallet.isShipping}" href="#" class="btn-default" v-on:click="unpalleted(pallet, $event)">Расформировать</a>
            <a v-else-if="pallet.palleted == false" href="#" class="btn-default" v-bind:class="{'disabled': (!pallet.weight || parseInt(pallet.weight) <= 0 || parseInt(pallet.weight) < 30 || parseInt(pallet.weight) > 1450)}" v-on:click="palleted(pallet, $event)">Cформировать</a>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import ff from '../../vueconfig.js';

    export default {
        name: 'Pallet',
        props: ['pallet'],
        data() {
            return {
                mask: ff.mask(),
                maskfilter: ff.filter(),
            }
        },
        methods: {
            unpalleted: function($pallet, $event) {
                $event.preventDefault();
                var $this = this;

                var formData = new FormData();
                formData.append('pallet[id]', $pallet.id);

                ff.openPopupButton('Вы уверены?', 'Паллета будет расформирована', '', function () {
                    var jqxhr = $.ajax({
                        method: 'POST',
                        url: "/api/wms/wmspallet/unpalleted",
                        data: formData,
                        dataType: "json",
                        async: false,
                        processData: false,
                        contentType: false,
                    });

                    var data = jqxhr.responseJSON;

                    if (data.status == true) {
                        $this.$parent.loadPallets();
                        ff.closePopup();
                    }
                });

                return false;
            },

            palleted: function($pallet, $event) {
                $event.preventDefault();

                var minWeight = $($event.target).attr('min');
                var maxWeight = $($event.target).attr('max');

                var button = $($event.target);
                if (button.hasClass('disabled')) {
                    return false;
                }

                button.addClass('disabled');

                var $this = this;

                if (!$pallet.weight) {
                    button.removeClass('disabled');
                    return false;
                }

                var formData = new FormData();

                formData.append('pallet[palletId]', $pallet.id);
                formData.append('pallet[weight]', $pallet.weight);

                $.ajax({
                    method: 'POST',
                    url: "/api/wms/wmspallet/palleted",
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                }).done(function(data) {
                    if (data.status == true) {
                        //button.removeClass('disabled');

                        $this.$parent.loadPallets();

                        //if (wmsPalletsShipping) {
                        //    wmsPalletsShipping.resetPallet();
                        //    wmsPalletsShipping.loadPallets();
                        //}
                    }
                });

                return false;
            },

            isErrorWeightPallet: function(pallet) {
                if (pallet.weight && (parseFloat(pallet.weight) < 30 || parseFloat(pallet.weight) > 1450)) {
                    return true;
                }
                return false;
            },
        }
    }
</script>