<template>
    <div>
        <div class="create-pallets">

            <div class="h2">Сформировать вручную</div>
            <div class="form-column" v-bind:class="{ error: errors.has('stockTo') }">
                <b>Точка доставки*</b>
                <v-select
                        placeholder="Все"
                        :multiple="false"
                        :reduce="item => item.id"
                        v-model="stockTo"
                        label="address"
                        :options="stocksTo"
                >
                </v-select>
            </div>
            <div class="form-column">
                <div class="form-group small mr-0">
                    <label>ID паллеты</label>
                    <div class="styled-input-number">
                        <input type="text" min="1" step="1" readonly class="disabled" v-model="palletId" v-bind:class="{ error: errors.has('palletId') }" v-validate="{required: true}" :name="palletId">
                        <div class="input-number-nav">
                            <div class="input-number-button input-number-up" v-on:click="upPalletId(palletId)">
                                <img src="/img/small-up.svg" alt="">
                            </div>
                            <div class="input-number-button input-number-down" v-on:click="downPalletId(palletId)">
                                <img src="/img/small-down.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group small">
                    <label for="createPalletsWeight">Вес грузовых мест, кг:</label>
                    <input type="text" class="form-control no-border"  v-model="weight" v-filter="maskfilter.int" name="weight" id="weight" v-bind:class="{ error: errors.has('weight') }" placeholder="" v-validate="{required: true}">
                </div>
            </div>
        </div>

        <span class="consist">Сформировать паллету</span>
        <table class="order-table shipment-table">
            <thead>
            <tr>
                <th>
                    <span>ID места</span>
                    <sort :sort="sort" sortBy="id"></sort>
                </th>
                <th class="order-send">
                    <span>Доставить до:</span>
                    <sort :sort="sort" sortBy="deliveryToAt"></sort>
                </th>
                <th class="order-status">
                    <span>Направление:</span>
                </th>
                <th class="order-price text-right">
                    <span>Вес, кг:</span>
                    <sort :sort="sort" sortBy="weight"></sort>
                </th>
            </tr>
            </thead>
            <tr v-for="packageItem in packages">
                <td class="order-number">
                    <label class="control control--checkbox terms" v-bind:class="{ disabled: !isCanSelectedPackage(packageItem) }">
                        <input type="checkbox" v-on:change="selectOrder(packageItem)" :checked="isSelectOrder(packageItem)">
                        <div class="control__indicator"></div>
                    </label>
                    <span>{{ packageItem.externalId }}</span>
                </td>
                <td class="order-date">
                    <span>{{ formatDate(packageItem.deliveryToAt) }}</span>
                    <span class="small">{{ formatTime(packageItem.deliveryToAt) }}</span>
                </td>
                <td class="order-delivery">
                    <span v-if="packageItem.direction">{{ packageItem.direction.title }}</span>
                </td>
                <td class="order-weight text-right">{{ packageItem.weight }}</td>
            </tr>
        </table>

        <paginate
                v-scroll-to="{
                        el: '.order-table',
                        container: 'body',
                        duration: 700,
                        easing: 'ease-in',
                        offset: -200,

                        x: false,
                        y: true
                    }"
                v-if="pagination.pages > 1"
                :page-count="pagination.pages"
                :page-range="6"
                :margin-pages="1"
                prev-text=""
                prev-class="unstyled"
                prev-link-class="btn btn-rect previous"
                next-class="unstyled"
                next-link-class="btn btn-rect next"
                next-text=""
                :click-handler="changePage"
                :container-class="'pagination'"
                :page-class="'page-item'">
        </paginate>

        <div class="clearfix"></div>
        <div class="order-column-buttons pull-right">
            <span class="btn-default pull-right" v-on:click="palleted($event); return false;">Паллетировать</span>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import ff from '../../vueconfig.js';
    import Sort from '../../block/sort.vue';
    import vSelect from 'vue-select';
    import Paginate from 'vuejs-paginate';
    import VueScrollTo from 'vue-scrollto';

    Vue.use(VueScrollTo);

    export default {
        name: 'PalletManualCreate',
        props: ['pallet'],
        components: {
            Paginate,
            VueScrollTo,
            Sort,
            vSelect
        },
        data() {
            return {
                mask: ff.mask(),
                maskfilter: ff.filter(),
                timeout: null,
                edit: false,
                filter: {
                    direction: null,
                },
                weight: null,
                stockTo: null,
                stocks: [],
                selectOrders: [],
                packages: [],
                pagination: {
                    page : 1,
                    perPage : 10,
                    pages : 0,
                },
                directions: [],
                loadPackagesEmpty: true,
                sort: {
                    by: 'id',
                    direction: 'desc'
                },
                selectAll: false,
                palletId: '',
                freePallets: []
            }
        },
        methods: {
            changePage: function (page) {
                this.showPage(page);
            },

            showPage: function(page) {
                if (page >= 1 && page <= this.pagination.pages) {
                    this.pagination.page = page;
                    this.loadPackages();
                }
            },

            isSelectAll: function(order) {
                let $this = this;
                let result = true;
                $.each($this.orders, function( index, order ) {
                    if (!$this.isSelectOrder(order)) {
                        result = false;
                    }
                });

                return result;
            },

            unselectOrders: function() {
                this.selectOrders = [];
            },

            selectAllOrders: function(val) {
                let $this = this;

                if ($this.selectAll) {
                    $this.unselectOrders();
                } else {
                    $this.unselectOrders();
                    $.each($this.orders, function( index, order ) {
                        $this.selectOrder(order);
                    });
                }
            },

            selectOrder: function(order) {
                let key = this.selectOrders.indexOf(order.id);
                if (key == -1) {
                    this.selectOrders.push(order.id);
                } else {
                    this.selectOrders.splice(key,1);
                }
            },

            isSelectOrder: function(order) {
                let result = false;
                let key = this.selectOrders.indexOf(order.id);
                if (key == -1) {
                    result = false;
                } else {
                    result = true;
                }

                return result;
            },

            palleted: function($event) {
                let $this = this;

                let button = $($event.target);
                if (button.hasClass('disabled')) {
                    return false;
                }

                button.addClass('disabled');

                this.$validator.validateAll().then(function(result) {

                    if(!result) {
                        button.removeClass('disabled');
                        return;
                    }

                    if ($this.selectOrders.length == 0) {
                        button.removeClass('disabled');
                        ff.openPopup('Выберите места');
                        return false;
                    }

                    let formData = new FormData();

                    formData.append('pallet[palletId]', $this.palletId);

                    $.each($this.selectOrders, function( index, packageItem ) {
                        formData.append('pallet[packages]['+index+']', packageItem);
                    })

                    $('#wms-pallets-shipping .create-pallets .styled-input-number input').removeClass('error');

                    $.ajax({
                        method: 'POST',
                        url: "/api/wms/wmspallet/add-packages",
                        data: formData,
                        dataType: "json",
                        processData: false,
                        contentType: false,
                    }).done(function(data) {
                        if (data.status == true) {
                            button.removeClass('disabled');
                            $this.weight = 0;
                            $this.selectOrders = [];
                            $this.loadPackages();
                            wmsPalletsShippingList.loadOrders();
                        } else if (data.data) {
                            button.removeClass('disabled');

                            let errorPallettedIds = [];

                            if (data.data.errorPallettedIds) {
                                errorPallettedIds = data.data.errorPallettedIds;
                            }

                            if (errorPallettedIds) {
                                $('#wms-pallets-shipping .create-pallets .styled-input-number input').addClass('error');
                                ff.openPopup('Ошибка паллетирования', 'Превышен общий вес в паллете '+errorPallettedIds);
                            }
                        }
                    });

                });

                return false;
            },

            loadPackages: function() {

                let $this = this;

                let formData = new FormData();

                if ($this.stockTo) {
                    formData.append('filter[stockTo]', $this.stockTo);
                }

                //formData.append('filter[palletId]', null);
                formData.append('page', $this.pagination.page);
                formData.append('perPage', $this.pagination.perPage);
                formData.append('sort[by]', $this.sort.by);
                formData.append('sort[direction]', $this.sort.direction);

                let jqxhr = $.ajax({
                    method: 'POST',
                    url: "/api/wms/wmspackage/packages-not-in-pallet",
                    cache: false,
                    async: false,
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                });

                let result = jqxhr.responseJSON;

                if (result.data) {
                    $this.packages = result.data.packages;
                    $this.pagination = result.data.pagination;
                    $this.loadPackagesEmpty = false;
                }
            },

            getData: function () {
                var jqxhr = $.ajax({
                    url: "/api/wms/wmsorder/config",
                    cache: true,
                    async: false
                });

                var data = jqxhr.responseJSON.data;

                this.directions = data.params.directions;
                this.packageTypes = data.params.packageTypes;
                this.packings = data.params.packings;
                this.stocks = data.params.stocks;
                this.currentStock = data.params.currentStock;
            },

            getDirection: function (id) {
                let result = null;

                if (!id) {
                    id = this.direction;
                }

                $.each(this.directions, function( index, item ) {
                    if (item.id == id) {
                        result = item;
                    }
                })

                return result;
            },

            getStocksFrom: function () {
                let direction = this.getDirection();

                let result = [];

                if (direction) {
                    $.each(this.stocks, function( index, item ) {
                        if (direction.cityFrom.id == item.city.id) {
                            result.push(item);
                        }
                    });
                }

                return result;
            },

            getStocksTo: function () {
                let $this = this;
                let result = [];

                $.each(this.stocks, function( index, item ) {
                    if (item.id != $this.currentStock.id) {
                        result.push(item);
                    }
                });

                return result;
            },

            upPalletId: function (palletId) {
                let $this = this;
                let nextPalletId = null;

                $.each($this.freePallets, function( index, pallet ) {
                    if ($this.palletId == pallet.externalId) {
                        if ($this.freePallets[index + 1] != undefined) {
                            nextPalletId = $this.freePallets[index + 1].externalId;
                        }
                    }
                })

                if (!nextPalletId) {
                    nextPalletId = $this.createPallet();
                }

                if (nextPalletId) {
                    $this.palletId = nextPalletId;
                }

                $this.loadPallets();
            },

            downPalletId: function (packageItem) {
                let $this = this;
                let prevPalletId = null;

                $.each($this.freePallets, function( index, pallet ) {
                    if ($this.palletId == pallet.externalId) {
                        if ($this.freePallets[index - 1] != undefined) {
                            prevPalletId = $this.freePallets[index - 1].externalId;
                        }
                    }
                })

                if (prevPalletId) {
                    $this.palletId = prevPalletId;
                }
            },

            isCanSelectedPackage: function (packageItem) {
                let $this = this;
                let result = false;
                let firstPackage = $this.getPackageById($this.selectOrders.slice(0, 1));

                if (firstPackage) {
                    if (firstPackage.stockFrom.id == packageItem.stockFrom.id
                        && firstPackage.stockTo.id == packageItem.stockTo.id
                    ) {
                        result = true;
                    }
                } else {
                    result = true;
                }

                return result;
            },

            getPackageById: function (id) {
                let $this = this;
                let result = null;

                $.each($this.packages, function( index, packageItem ) {
                    if (parseInt(packageItem.id) == parseInt(id)) {
                        result = packageItem;
                    }
                });

                return result;
            },

            resetPallet: function () {
                this.palletId = null;
            },

            loadPallets: function () {
                let $this = this;

                let formData = new FormData();

                formData.append('data[stockTo]', $this.stockTo);

                $.ajax({
                    method: 'POST',
                    url: "/api/wms/wmspallet/free_pallets",
                    cache: false,
                    async: true,
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                }).done(function(data) {
                    if (data.status) {
                        $this.freePallets = data.data.pallets;
                        $this.checkPalletId();
                    }
                });
            },

            checkPalletId: function () {
                let $this = this;

                if ($this.palletId) {
                    return false;
                }

                if ($this.freePallets.length) {
                    let firstPallet = $this.freePallets[0];
                    $this.palletId = firstPallet.externalId;
                } else {
                    $this.palletId = $this.createPallet();
                    $this.loadPallets();
                    return;
                }

                return;
            },

            createPallet: function () {
                let $this = this;
                let formData = new FormData();

                let stockTo = $this.stockTo;

                formData.append('data[stockTo]', stockTo);

                let jqxhr = $.ajax({
                    method: 'POST',
                    url: "/api/wms/wmspallet/create",
                    cache: false,
                    async: false,
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                });

                let data = jqxhr.responseJSON.data;

                return data.palletId;
            },

            formatDateTime: function (date) {
                return ff.formatDateTime(date);
            },

            formatDate: function (date) {
                return ff.formatDate(date);
            },

            formatTime: function (date) {
                return ff.formatTime(date);
            },
            isErrorWeightPallet: function(pallet) {
                if (pallet.weight && (parseFloat(pallet.weight) < 30 || parseFloat(pallet.weight) > 1250)) {
                    return true;
                }
                return false;
            },
        },
        mounted: function() {
			this.getData();
            this.loadPackagesEmpty = true;
            this.loadPackages();

            this.weight = 0;

            $('#wms-pallets-shipping').css('visibility', 'visible');
        },
        computed: {
            stocksFrom: function () {
                return this.getStocksFrom();
            },
            stocksTo: function () {
                return this.getStocksTo();
            }
        },
        watch: {
            'stockTo': function(val) {
                if (val) {
                    this.loadPackages();
                    this.loadPallets();
                    this.palletId = null;
                }
            },
            'filter.palletId': function(val) {
                this.loadPackages();
            },
            'sort.by': function(val) {
                this.loadPackages();
            },
            'sort.direction': function(val) {
                this.loadPackages();
            },
            'selectOrders': function(val) {
                let $this = this;
                $this.weight = 0;
                $.each($this.selectOrders, function( index, packageId ) {
                    let packageItem = $this.getPackageById(packageId);
                    $this.weight += packageItem.weight;
                })
            },
            'q': function() {
                let self = this;
                clearTimeout(self.timeout);
                self.timeout = setTimeout(function () {
                    self.loadPallets();
                }, 600);
            },
        }
    }
</script>
