<template>
    <div id="wms-pallets-waiting">
        <div class="pallet-wrap-title">
            <div class="h2">{{ title }}</div>
            <div class="inline-form">
                <form id="orderSearch" class="search">
                    <div class="form-group">
                        <input v-model="filter.search" type="text" class="form-control" value="">
                    </div>
                    <v-select
                            class="select-in-field"
                            placeholder="Искать по всем данным"
                            :multiple="false"
                            :reduce="item => item.value"
                            v-model="filter.field"
                            label="title"
                            :options="filterFields"
                            :clearable="false"
                    >
                    </v-select>
                </form>
            </div>
        </div>
        <div class="pallets-wrapper" >
            <div v-for="(palletItem, index) in pallets" :key="index">
                <pallet :pallet="palletItem"></pallet>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import ff from '../../vueconfig.js';
    import Pallet from './pallet.vue';
    import vSelect from 'vue-select';

    export default {
        name: 'palletList',
        props: ['title', 'url'],
        components: { Pallet, vSelect },
        data() {
            return {
                timeout: null,
                q: '',
                pallets: [],
                directions: [],
                mask: ff.mask(),
                maskfilter: ff.filter(),
                filterFields: [
                    {title: 'Искать по всем данным', value: ''},
                    {title: 'id паллеты', value: 'externalId'},
                    {title: 'id грузовых мест', value: 'packageId'},
                    {title: 'вес, кг', value: 'weight'},
                ],
                filter: {
                    search: '',
                    field: '',
                },
            }
        },
        methods: {
            loadPallets: function() {
                var $this = this;

                var formData = new FormData();
                formData.append('filter[search]', $this.filter.search);
                formData.append('filter[field]', $this.filter.field);

                var jqxhr = $.ajax({
                    method: 'POST',
                    url: $this.url,
                    cache: false,
                    async: false,
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                }).done(function(data) {
                    $this.pallets = data.data.pallets;
                    $this.pagination = data.data.pagination;
                });

            },

            isErrorWeightPallet: function(pallet) {
                if (pallet.weight && (parseFloat(pallet.weight) < 30 || parseFloat(pallet.weight) > 1250)) {
                    return true;
                }
                return false;
            },
        },
        mounted: function() {
            this.loadPallets();
        },
        watch: {
            'filter.search': function(val) {
                let self = this;
                clearTimeout(self.timeout);
                self.timeout = setTimeout(function () {
                    self.loadPallets();
                }, 600);
            },
            'filter.field': function(val) {
                this.loadPallets();
            },
        }
    }
</script>