<template>
    <section class="white" id="wmsorders">
        <div class="container loading " v-bind:class="{load: !loading}">
            <div class="inline-form">
                <form id="orderSearch" class="search">
                    <div class="form-group">
                        <input type="text" class="form-control" v-model="filter.search" value="" >
                    </div>
                    <v-select
                            class="select-in-field"
                            placeholder="Искать по всем данным"
                            :multiple="false"
                            :reduce="item => item.value"
                            v-model="filter.field"
                            label="title"
                            :options="filterFields"
                            :clearable="false"
                    >
                    </v-select>
                </form>
                <a href="/wms/create/" class="btn-default">Создать заказ</a>
            </div>
            <table class="order-table">
                <thead>
                <tr>
                    <th>
                        <span>Номер заказа</span> <sort :sort="sort" sortBy="id"></sort>
                    </th>
                    <th class="order-send">
                        <span>Дата приемки </span> <sort :sort="sort" sortBy="receptionAt"></sort>
                    </th>
                    <th class="order-arrived">
                        <span>Дата прибытия </span>
                    </th>
                    <th class="order-delivery">
                        <span>Дата выдачи</span> <sort :sort="sort" sortBy="issueAt"></sort>
                    </th>
                    <th class="order-price text-right">
                        <span>Цена, ₽</span> <sort :sort="sort" sortBy="price"></sort>
                    </th>
                    <th class="order-status" colspan="2">
                        <span>Статус:</span>

                        <v-select
                            :clearable="false"
                            placeholder="Все"
                            :multiple="false"
                            v-model="filter.status"
                            label="title"
                            :options="filterStatusList()"
                        >
                        </v-select>
                    </th>
                </tr>
                </thead>

                <template v-for="order in orders">
                    <orderItem :id="'order'+order.id" :orderData="order" :open="orderId == order.id"></orderItem>
                </template>

            </table>

            <paginate
                    v-scroll-to="{
                        el: '.order-table',
                        container: 'body',
                        duration: 700,
                        easing: 'ease-in',
                        offset: -200,

                        x: false,
                        y: true
                    }"
                    v-if="pagination.pages > 1"
                    :page-count="pagination.pages"
                    :page-range="6"
                    :margin-pages="1"
                    prev-text=""
                    prev-class="unstyled"
                    prev-link-class="btn btn-rect previous"
                    next-class="unstyled"
                    next-link-class="btn btn-rect next"
                    next-text=""
                    :click-handler="changePage"
                    :container-class="'pagination'"
                    :page-class="'page-item'">
            </paginate>
        </div>
    </section>
</template>

<script>
    import Vue from 'vue';
    import ff from '../../vueconfig.js';
    import Sort from '../../block/sort.vue';
    import Files from '../../block/files.vue';
    import vSelect from 'vue-select';
    import Paginate from 'vuejs-paginate';
    import VueScrollTo from 'vue-scrollto';
    import OrderItem from './orderItem.vue';

    Vue.use(VueScrollTo);

    export default {
        name: 'wms-orders',
        props: [],
        components: {
            OrderItem,
            Paginate,
            VueScrollTo,
            Sort,
            Files,
            vSelect
        },
        data() {
            return {
                timeout: null,
                loading: true,
                edit: false,
                filterFields: [
                    {title: 'Искать по всем данным', value: ''},
                    {title: '№ Заказа', value: 'externalId'},
                    {title: 'Дата выдачи', value: 'issueAt'},
                    {title: 'Дата приемки', value: 'receptionAt'},
                    {title: 'Заявленная ценность', value: 'declaredPrice'},
                    {title: 'Получатель', value: 'receiver'},
                    {title: 'Контакты отправителя', value: 'receiverContact'},
                    {title: 'Адрес отправителя', value: 'fromAddress'},
                    {title: 'Адрес получателя', value: 'toAddress'},
                    {title: 'Направление', value: 'direction'},
                    {title: 'Перевозчик', value: 'carrier'},
                    {title: 'Отправитель', value: 'sender'},
                    {title: 'Контакты отправителя', value: 'senderContact'},
                    {title: 'Тип груза', value: 'packageType'},
                ],
                filter: {
                    search: '',
                    status: this.filterStatusList()[0],
                    field: 'externalId',
                },
                order: null,
                stockFrom: {
                    id: null
                },
                stockTo: {
                    id: null
                },
                orderId: null,
                receiverId: null,
                uridical: 0,
                type: 'ООО',
                inn: '',
                contactName: '',
                contactPhone: '',
                contactEmail: '',
                series: '',
                number: '',
                companyName: '',
                stocks: [],
                fileGroups: [],
                direction: {
                    from: null,
                    to: null,
                },
                orders: [],
                pagination: {
                    page : 1,
                    perPage : 10,
                    pages : 0,
                },
                organizationTypes: [],
                loadOrdersEmpty: true,
                mask: ff.mask(),
                maskfilter: ff.filter(),
                sort: {
                    by: 'externalId',
                    direction: 'desc'
                },
            }
        },
        methods: {
            filterStatusList: function () {
                let list = [];
                list.push({title: 'Все', value: ''});
                list.push({title: 'ожидается', value: 'waiting'});
                list.push({title: 'принят', value: 'accepted'});
                list.push({title: 'отказано', value: 'rejected'});
                list.push({title: 'подготовка к отгрузке', value: 'preparing'});
                list.push({title: 'ожидает оплаты', value: 'not paid'});
                list.push({title: 'оплачено', value: 'paid'});
                list.push({title: 'готов к выдаче', value: 'ready'});
                list.push({title: 'выдан', value: 'delivered'});
                list.push({title: 'остановлен', value: 'suspended'});

                return list;
            },

            changePage: function (page) {
                this.showPage(page);
            },

            showPage: function(page) {
                if (page >= 1 && page <= this.pagination.pages) {
                    this.pagination.page = page;
                    this.loadOrders();
                }
            },

            removeOrders: function($event) {

                let $this = this;

                openPopupButton('Вы уверены?', 'Выбранные заказы будут удалены!', '', function () {

                    let ids = [];
                    $('.order-number').find(":checkbox:checked").each(function () {
                        ids.push($(this).val());
                    })

                    let formData = new FormData();
                    $.each(ids, function (index, id) {
                        formData.append('ids[]', id);
                    })

                    let jqxhr = $.ajax({
                        method: 'POST',
                        url: "/api/order/customer/remove",
                        cache: false,
                        async: false,
                        data: formData,
                        dataType: "json",
                        processData: false,
                        contentType: false,
                    });

                    let data = jqxhr.responseJSON;

                    if (data.status == true) {

                        $('.order-number').find('input[type="checkbox"]:checked').prop('checked', false);
                        $('.order-table thead').removeClass('blured');
                        $(".js-select-all").prop('checked', false);

                        $this.loadOrders();
                    }

                })

                return false;
            },

            toggleOrder: function(orderId) {
                let $this = this;

                if ($this.orderId == orderId) {
                    $this.orderId = null;
                } else {
                    $this.loadOrder(orderId)
                }
            },

            loadOrders: function() {

                let $this = this;

                let formData = new FormData();
                formData.append('filter[search]', $this.filter.search);
                if ($this.filter.status) {
                    formData.append('filter[status]', $this.filter.status.value);
                }
                formData.append('filter[field]', $this.filter.field);
                formData.append('page', $this.pagination.page);
                formData.append('perPage', $this.pagination.perPage);
                formData.append('sort[by]', $this.sort.by);
                formData.append('sort[direction]', $this.sort.direction);

                let jqxhr = $.ajax({
                    method: 'POST',
                    url: "/api/wms/wmsorder/orders",
                    cache: false,
                    async: false,
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                });

                let result = jqxhr.responseJSON;

                if (result.data) {
                    $this.orders = result.data.orders;
                    $this.pagination = result.data.pagination;
                    $this.loadOrdersEmpty = false;

                    $this.loading = false;
                }
            },

            getDirection: function (id) {
                let result = null;

                if (!id) {
                    id = this.direction;
                }

                $.each(this.directions, function( index, item ) {
                    if (item.id == id) {
                        result = item;
                    }
                })

                return result;
            },

            getStocksFrom: function () {
                let direction = this.getDirection();

                let result = [];

                if (direction) {
                    $.each(this.stocks, function( index, item ) {
                        if (direction.cityFrom.id == item.city.id) {
                            result.push(item);
                        }
                    });
                }

                return result;
            },
            getStocksTo: function () {
                let direction = this.getDirection();

                let result = [];

                if (direction) {
                    $.each(this.stocks, function( index, item ) {
                        if (direction.cityTo.id == item.city.id) {
                            result.push(item);
                        }
                    });
                }

                return result;
            },

            filesByGroup: function (group) {
                let $this = this;
                let order = null;

                if (!$this.orderId) {
                    return [];
                }

                $.each($this.orders, function( index, item ) {
                    if (item.id == $this.orderId) {
                        order = item;
                    }
                })

                let files = [];
                if (order && order.files) {
                    $.each(order.files, function( index, file ) {
                        if (file.group.id == group.id) {
                            files.push(file);
                        }
                    })
                }

                return files;
            },

            filesWithoutGroups: function (groups) {
                let $this = this;
                let order = null;

                if (!$this.orderId) {
                    return [];
                }

                $.each($this.orders, function( index, item ) {
                    if (item.id == $this.orderId) {
                        order = item;
                    }
                })

                let groupIds = [];
                $.each(groups, function( index, group ) {
                    groupIds.push(group.id);
                })

                let files = [];
                if (order && order.files) {
                    $.each(order.files, function( index, file ) {
                        let group = file.group;
                        if (!group || group && $.inArray(group.id, groupIds) == -1 && !group.hidden) {
                            files.push(file);
                        }
                    })
                }

                return files;
            },

            firstPathFileByGroup: function (group) {
                let files = this.filesByGroup(group);
                if (files.length > 0) {
                    return files[0].file;
                }

                return null;
            },

            formatDateTime: function (date) {
                return formatDateTime(date);
            },

            formatDate: function (date) {
                return formatDate(date);
            },

            formatTime: function (date) {
                return formatTime(date);
            },

        },
        mounted: function() {
            this.loadOrdersEmpty = true;
            this.loadOrders()
        },
        computed: {
            stocksFrom: function () {
                return this.getStocksFrom();
            },
            stocksTo: function () {
                return this.getStocksTo();
            },
            disabledAllOrders: function () {
                let $this = this;
                let result = true;
                $.each($this.orders, function( index, order ) {
                    if (order.isRemoveExactStatus) {
                        result = false;
                    }
                })

                return result;
            }
        },
        watch: {
            'filter.search': function(val) {
                let self = this;
                self.pagination.page = 1;
                clearTimeout(self.timeout);
                self.timeout = setTimeout(function () {
                    self.loadOrders();
                }, 600);

            },
            'filter.status': function(val) {
                this.loadOrders();
            },
            'sort.by': function(val) {
                this.loadOrders();
            },
            'sort.direction': function(val) {
                this.loadOrders();
            },
        }
    }
</script>
