<template>
    <tbody v-if="order">
        <tr :id="'order-header'+order.id" v-bind:class="{'has-notice': order.isDamaged || order.isArriveDamaged}">
            <td class="order-number disabled">
                <label class="control control--checkbox terms">
                    <input type="checkbox" id="head-checkbox" :value="order.id" />
                    <div class="control__indicator"></div>
                </label>
                <span>{{ order.externalId }} {{ order.isPayed }}</span>
            </td>
            <td class="order-date">
                <span>{{ formatDate(order.receptionAt) }}</span>
                <span class="small">{{ formatTime(order.receptionAt) }}</span>
            </td>
            <td class="order-date">
                <span>{{ formatDate(order.arrivedAt) }}</span>
                <span class="small">{{ formatTime(order.arrivedAt) }}</span>
            </td>
            <td class="order-date">
                <span>{{ formatDate(order.issueAt) }}</span>
                <span class="small">{{ formatTime(order.issueAt) }}</span>
            </td>
            <td class="order-price text-right">
                <div v-if="order.suspendedPrice">
                    {{ order.suspendedPrice }} ₽
                </div>
                <div v-else-if="order.price && order.isShowRealPrice">
                    {{ order.price }} ₽
                </div>
                <div v-else-if="order.minPrice">
                    <template v-if="order.minPrice != order.maxPrice">
                        {{ order.minPrice }} - {{ order.maxPrice }} ₽
                    </template>
                    <template v-else-if="order.minPrice == order.maxPrice">
                        {{ order.minPrice }} ₽
                    </template>
                </div>
            </td>
            <td class="text-right btn-status"><span class="bordered-btn tdghter" v-bind:class="order.statusClass">{{ order.status }}</span></td>
            <td class="order-open" v-on:click="toggleOrder(order.id)">
                <span class="js-open-order" v-bind:class="{active: orderId == order.id}">
                    <img src="/img/down-arrow.svg" alt="">
                </span>
            </td>
        </tr>

        <tr :id="'order-detail'+order.id" :data-order-details="'order'+order.id" class="order-details" v-if="order && orderId == order.id" style="display: table-row; width: 100%;">
            <td colspan="7">
                <ul class="order-buttons">
                    <li v-if="order.isEditStatus && order.stock.id == order.stockFrom.id">
                        <a :href="'/wms/order/'+order.externalId" class="btn-gray">Редактировать</a>
                    </li>
                    <li v-else><a href="javascript:void(0)" class="btn-gray disabled">Редактировать</a></li>

                    <li v-if="order.isEditStatus && order.realStatus != 'rejected' && order.stock.id == order.stockFrom.id">
                        <a href="javascript:void(0)" v-on:click="orderRejected($event)" class="btn-gray">Отказать в приемке</a>
                    </li>
                    <li v-else><a href="javascript:void(0)" class="btn-gray order-stop disabled">Отказать в приемке</a></li>

                    <li v-if="order.payed && (order.realStatus == 'ready') && order.stock.id == order.stockTo.id && order.isDeliveredAvailable">
                        <a :href="'/wms/order/delivered/'+order.externalId" class="btn-gray">Выдать заказ</a>
                    </li>
                    <li v-else><a href="javascript:void(0)" class="btn-gray disabled">Выдать заказ</a></li>

                    <li v-if="!order.isEditStatus" class="pull-right">
                        <a target="_blank" :href="'/wms/pdf/order/composition/'+order.externalId" class="btn-gray not-filled">
                            <img src="/img/print-dark.svg" alt="">
                            Печать состава заказа
                        </a>
                    </li>
                </ul>

                <div v-if="order.files">
                    <files :order="order" :fileGroups="fileGroups"></files>
                </div>

                <div class="order-row personal-orders" v-bind:class="{'four-columns' : order.receiver && !edit}">
                    <div class="order-column">
                        <div class="order-info-item">
                            <b>Тип груза:</b>

                            <span v-for="packageType in order.packagesTypes">
                                {{ packageType }}<br>
                            </span>
                            <span v-if="!order.packagesTypes" v-for="packageItem in order.orderPackages">
                                <template v-if="packageItem.packageType">{{ packageItem.packageType.title }}<br></template>
                                <template v-else="packageItem.packageTypeAnother">{{ packageItem.packageTypeAnother }}<br></template>
                            </span>
                        </div>
                        <div class="order-info-item">
                            <b>Общий вес:</b>
                            {{ order.totalWeight }} кг
                        </div>
                        <div class="order-info-item">
                            <b>Общий объем:</b>
                            {{ order.totalVolume }} м<sup>3</sup>
                        </div>
                        <div class="order-info-item">
                            <b>Общая стоимость упаковки:</b>
                            {{ order.totalPricePackage }} руб.
                        </div>

                        <div class="order-info-item" v-if="order.totalPriceShipping">
                            <b>Cтоимость дополнительных услуг (без НДС, руб.):</b>
                            {{ order.totalPriceShipping }} руб.
                        </div>

                        <div class="order-info-item" v-if="order.packages.length || order.orderPackages.length">
                            <b>Количество грузовых мест:</b>

                            <span>{{ order.totalPackages }}</span>
                        </div>

                        <div class="order-info-item">
                            <b>Объявленная ценность:</b>
                            {{ order.declaredPrice }} руб.
                        </div>

                        <div class="order-info-item" v-if="order.promocode">
                            <b>Промокод:</b>
                            {{ order.promocode }}
                        </div>
                    </div>

                    <template v-if="order.receiver">
                        <div class="order-column">
                            <div class="order-info-item">
                                <b>Точка отправления:</b>
                                <span v-if="order.pickUp && order.pickUp.active">
                                    {{ order.pickUp.address }}
                                </span>
                                <span v-else-if="order.pickUp && order.pickUp.stockObject">
                                    <a class="link-with-decoration" target="_blank" :href="'/stock/print/' + order.pickUp.stockObject.id" title="Распечатать карту">
                                        {{ order.pickUp.stockObject.address }}
                                    </a>
                                </span>
                                <span v-else="">
                                    <a class="link-with-decoration" target="_blank" :href="'/stock/print/' + order.stockFrom.id" title="Распечатать карту">
                                        {{ order.stockFrom.address }}
                                    </a>
                                </span>
                            </div>

                            <div class="order-info-item" v-if="order.pickUp && order.pickUp.date">
                                <b>Дата и время:</b>
                                <span v-if="order.pickUp.date">{{ formatDateTime(order.pickUp.date) }}</span>
                            </div>

                            <div class="order-info-item" v-if="order.pickUp && order.pickUp.driverName">
                                <b>ФИО водителя:</b>
                                <span v-if="order.pickUp.driverName">{{ order.pickUp.driverName }}</span>
                            </div>

                            <div class="order-info-item" v-if="order.pickUp && order.pickUp.driverPhone">
                                <b>Контактные данные водителя:</b>
                                <span v-if="order.pickUp.driverPhone">{{ formatPhone(order.pickUp.driverPhone) }}</span>
                            </div>
                            <div class="order-info-item" v-if="order.pickUp && order.pickUp.driverDocument">
                                <b>Паспортные данные водителя:</b>
                                <span v-if="order.pickUp.driverDocument">{{ order.pickUp.driverDocument }}</span>
                            </div>
                        </div>

                        <div class="order-column">
                            <div class="order-info-item">
                                <b>Точка доставки:</b>
                                <span v-if="order.deliver && order.deliver.active">
                                    {{ order.deliver.address }}
                                </span>
                                <span v-else-if="order.deliver && order.deliver.stockObject">
                                    <a class="link-with-decoration" target="_blank" :href="'/stock/print/' + order.deliver.stockObject.id" title="Распечатать карту">
                                        {{ order.deliver.stockObject.address }}
                                    </a>
                                </span>
                                <span v-else="">
                                    <a class="link-with-decoration" target="_blank" :href="'/stock/print/' + order.stockTo.id" title="Распечатать карту">
                                        {{ order.stockTo.address }}
                                    </a>
                                </span>

                                <div class="order-info-item" v-if="order.deliver && order.deliver.date">
                                    <b>Дата и время:</b>
                                    <span v-if="order.deliver.date">{{ formatDateTime(order.deliver.date) }}</span>
                                </div>

                                <div class="order-info-item" v-if="order.deliver && order.deliver.driverName">
                                    <b>ФИО водителя:</b>
                                    <span v-if="order.deliver.driverName">{{ order.deliver.driverName }}</span>
                                </div>

                                <div class="order-info-item" v-if="order.deliver && order.deliver.driverPhone">
                                    <b>Контактные данные водителя:</b>
                                    <span v-if="order.deliver.driverPhone">{{ formatPhone(order.deliver.driverPhone) }}</span>
                                </div>
                                <div class="order-info-item" v-if="order.deliver && order.deliver.driverDocument">
                                    <b>Паспортные данные водителя:</b>
                                    <span v-if="order.deliver.driverDocument">{{ order.deliver.driverDocument }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="order-column">

                            <template v-if="order.sender && order.sender.contactName">
                                <div class="order-info-item">
                                    <b>Отправитель: <b v-if="order.sender.id == order.userPerson.id">(клиент)</b></b>
                                    <span v-if="order.sender.uridical">
                                        <template v-if="order.sender.type != 'null' && order.sender.type != 'drugoe'">{{ order.sender.type }}</template>
                                        {{ order.sender.companyName }}<br>
                                        {{ order.sender.inn }}<br>
                                        {{ order.sender.contactName }}<br>
                                    </span>
                                    <span v-else>
                                        {{ order.sender.contactName }}, <br>
                                        {{ order.sender.series }} {{ order.sender.number }}
                                    </span>
                                </div>
                                <div class="order-info-item">
                                    <b>Контактные данные отправителя:</b>

                                    {{ order.sender.contactPhone }}<br>
                                    {{ order.sender.contactEmail }}
                                </div>
                            </template>

                            <template v-if="order.receiver && order.receiver.contactName">
                                <div class="order-info-item">
                                    <b>Получатель:</b>
                                    <span v-if="order.receiver.uridical">
                                        <template v-if="order.receiver.type != 'null' && order.receiver.type != 'drugoe'">{{ order.receiver.type }}</template>
                                        {{ order.receiver.companyName }}<br>
                                        {{ order.receiver.inn }}<br>
                                        {{ order.receiver.contactName }}<br>
                                    </span>
                                    <span v-else>
                                        {{ order.receiver.contactName }}, <br>
                                        {{ order.receiver.series }} {{ order.receiver.number }}
                                    </span>
                                </div>
                                <div class="order-info-item">
                                    <b>Контактные данные получателя:</b>

                                    {{ order.receiver.contactPhone }}<br>
                                    {{ order.receiver.contactEmail }}
                                </div>
                            </template>

                            <template v-if="order.payer && order.payer.contactName">
                                <div class="order-info-item">
                                    <b>Плательщик:</b>
                                    <span v-if="order.payer.uridical">
                                        <template v-if="order.payer.type != 'null' && order.payer.type != 'drugoe'">{{ order.payer.type }}</template>
                                        {{ order.payer.companyName }}<br>
                                        {{ order.payer.inn }}<br>
                                        {{ order.payer.contactName }}<br>
                                    </span>
                                    <span v-else>
                                        {{ order.payer.contactName }}, <br>
                                        {{ order.payer.series }} {{ order.payer.number }}
                                    </span>
                                </div>
                                <div class="order-info-item">
                                    <b>Контактные данные плательщика:</b>

                                    {{ order.payer.contactPhone }}<br>
                                    {{ order.payer.contactEmail }}
                                </div>
                            </template>
                        </div>
                    </template>
                </div>
            </td>
        </tr>
    </tbody>
</template>

<script>
    import Vue from 'vue';
    import ff from '../../vueconfig.js';
    import Files from '../../block/files.vue';
    //import Person from './person.vue';
    import vSelect from 'vue-select';
    import DatePicker from 'vue2-datepicker';
    import VModal from 'vue-js-modal';

    Vue.use(VModal);

    export default {
        name: 'orderItem',
        props: ['orderData', 'open'],
        components: {
            Files,
            DatePicker,
            vSelect
        },
        data() {
            return {
                order: null,

                listPersons: [],
                loadingOrder: false,
                step: 1,

                organizationTypes: [],
                mask: ff.mask(),
                maskfilter: ff.filter(),

                stockFrom: {
                    id: null
                },
                stockTo: {
                    id: null
                },
                pickUp: null,
                moverLoad: false,
                deliver: null,

                orderId: null,

                stocks: [],
                fileGroups: [],
                direction: null,
                edit: false
            }
        },
        computed: {
            stocksFrom: function () {
                let $this = this;
                let result = [];
                $.each($this.getStocksFrom(), function( index, stock ) {
                    result.push({title: stock.title, value: stock.id});
                })

                return result;
            },
            stocksTo: function () {
                let $this = this;
                let result = [];
                $.each($this.getStocksTo(), function( index, stock ) {
                    result.push({title: stock.title, value: stock.id});
                })

                return result;
            },

            userName: function() {
                let username = '';
                if (this.order && this.order.user) {
                    username = this.order.user.firstname;
                } else if (this.order && this.order.organization) {
                    username = this.order.organization.type + ' ' + this.order.organization.companyName;
                }
                return username;
            },
        },
        created() {

        },
        destroyed() {

        },
        methods: {
            formatPhone: function (phone) {
                return ff.formatPhone(phone);
            },

            formatDateTime: function (phone) {
                return ff.formatDateTime(phone);
            },

            formatDate: function (phone) {
                return ff.formatDate(phone);
            },

            formatTime: function (phone) {
                return ff.formatTime(phone);
            },

            toggleOrder: function(orderId) {
                let $this = this;

                if ($this.orderId == orderId) {
                    $this.orderId = null;
                } else {
                    $this.loadOrder(orderId)
                }
            },

            orderRejected: function($event) {
                let $this = this;

                openPopupButton('Вы уверены?', '', '', function () {
                    let jqxhr = $.ajax({
                        method: 'POST',
                        url: " /api/wms/wmsorder/order-rejected/"+$this.orderId,
                        cache: false,
                        async: false,
                        dataType: "json",
                        processData: false,
                        contentType: false,
                    });

                    let data = jqxhr.responseJSON;

                    if (data.status == true) {
                        $($event.target).addClass('disabled');

                        $this.loadOrder($this.orderId);
                        closePopup();
                    }
                });

                return false;
            },

            pauseDelivery: function($event) {
                let $this = this;

                openPopupButton('Вы уверены?', 'Заказ будет остановлен, изменить его статус можно будет только при обращении к администрации сайта', '', function () {
                    let jqxhr = $.ajax({
                        method: 'POST',
                        url: " /api/order/customer/"+$this.orderId+"/pause_delivery",
                        cache: false,
                        async: false,
                        dataType: "json",
                        processData: false,
                        contentType: false,
                    });

                    let data = jqxhr.responseJSON;

                    if (data.status == true) {
                        $($event.target).addClass('disabled');

                        $this.loadOrders();
                        closePopup();
                    }
                });

                return false;
            },

            loadConfig: function($callback) {
                let $this = this;
                $.ajax({url: "/api/wms/wmsorder/config", success: function(result) {
                    $this.directions = result.data.params.directions;
                    $this.stocks = result.data.params.stocks;
                    $this.fileGroups = result.data.params.fileGroups;
                    $this.organizationTypes = result.data.params.organizationTypes;

                    if ($callback) {
                        $callback();
                    }
                }});
            },

            loadOrder: function(orderId) {
                let $this = this;
                let formData = new FormData();

                this.orderId = orderId;

                let jqxhr = $.ajax({
                    method: 'POST',
                    url: "/api/wms/wmsorder/order/"+orderId,
                    cache: false,
                    async: false,
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                });

                let result = jqxhr.responseJSON;

                if (result.data) {
                    $this.order = Object.assign({}, result.data.order);

                    $this.loadingOrder = false;
                }
            },
        },
        mounted: function() {
            this.loadConfig();

            if (this.orderData) {
                this.order = this.orderData;
            }
        },

        watch: {
            'orderData': function(val) {
                this.order = val;
            },
        }
    }
</script>
