<template>
    <div>
        <div class="loading" v-bind:class="{load: !loading}">
            <div v-if="!orders.length && loadOrdersEmpty" class="order-empty">
                <div class="h3">Заказов пока нет</div>
            </div>

            <table class="order-table">
                <thead>
                <tr>
                    <th>
                        <label class="control control--checkbox terms" v-bind:class="{disabled: (orders.length <= 0 || disabledAllOrders)}">
                            <input type="checkbox" id="head-checkbox" :checked="selectedOrders" class="js-select-all"/>
                            <div class="control__indicator"></div>
                        </label>

                        <span>Номер заказа</span> <sort :sort="sort" sortBy="id"></sort>

                        <div class="js-delete-orders-wrapper">
                            <div class="js-delete-orders" v-on:click="removeOrders($event)">
                                <img src="/img/delete.svg" alt=""><span>Удалить выбранные заказы</span>
                            </div>
                            <span class="js-undelete">Отмена</span>
                        </div>
                    </th>
                    <th class="order-send" width="156">
                        <span>Дата приемки </span> <sort :sort="sort" sortBy="receptionAt"></sort>
                    </th>
                    <th class="order-dethvery">
                        <span>Дата выдачи</span> <sort :sort="sort" sortBy="issueAt"></sort>
                    </th>
                    <th class="order-price text-right" width="138">
                        <span>Цена, ₽</span> <sort :sort="sort" sortBy="price"></sort>
                    </th>
                    <th class="order-status " colspan="2">
                        <span>Статус:</span>

                        <v-select
                                placeholder="Все"
                                :multiple="false"
                                v-model="filter"
                                label="title"
                                :options="filterStatusList()"
                        >
                        </v-select>
                    </th>
                </tr>
                </thead>
                <template v-for="order in orders">
                    <orderItem :id="'order'+order.id" :orderItem="order" :open="orderId == order.id"></orderItem>
                </template>
            </table>

            <paginate
                v-scroll-to="{
                        el: '.order-table',
                        container: 'body',
                        duration: 700,
                        easing: 'ease-in',
                        offset: -200,

                        x: false,
                        y: true
                    }"
                v-if="pagination.pages > 1"
                :page-count="pagination.pages"
                :page-range="6"
                :margin-pages="1"
                prev-text=""
                prev-class="unstyled"
                prev-link-class="btn btn-rect previous"
                next-class="unstyled"
                next-link-class="btn btn-rect next"
                next-text=""
                :click-handler="changePage"
                :container-class="'pagination'"
                :page-class="'page-item'">
            </paginate>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import Paginate from 'vuejs-paginate';
    import VueScrollTo from 'vue-scrollto';
    import OrderItem from './orderItem.vue';
    import Sort from '../../../block/sort.vue';
    import Files from '../../../block/files.vue';
    import vSelect from 'vue-select';
    import ff from '../../../vueconfig.js';

    Vue.use(VueScrollTo);

    export default {
        components: {
            OrderItem,
            Paginate,
            VueScrollTo,
            Sort,
            Files,
            vSelect
        },
        name: 'orders',
        props: {
            orderId: null
        },
        data() {
            return {
                loadOrdersEmpty: true,
                loading: true,
                filter: this.filterStatusList()[0],
                order: null,
                orders: [],
                pagination: {
                    page : 1,
                    perPage : 10,
                    pages : 0,
                },
                sort: {
                    by: 'id',
                    direction: 'desc'
                },
            }
        },
        methods: {
            filterStatusList: function (phone) {
                let list = [];
                list.push({title: 'Все', value: ''});
                list.push({title: 'требует оформления', value: 'booked'});
                list.push({title: 'ожидается', value: 'waiting'});
                list.push({title: 'принят', value: 'accepted'});
                list.push({title: 'отказано', value: 'rejected'});
                list.push({title: 'подготовка к отгрузке', value: 'preparing'});
                list.push({title: 'ожидает оплаты', value: 'not paid'});
                list.push({title: 'оплачено', value: 'paid'});
                list.push({title: 'готов к выдаче', value: 'ready'});
                list.push({title: 'выдан', value: 'delivered'});
                list.push({title: 'остановлен', value: 'suspended'});

                return list;
            },

            formatPhone: function (phone) {
                return ff.formatPhone(phone);
            },

            formatDateTime: function (phone) {
                return ff.formatDateTime(phone);
            },

            formatDate: function (phone) {
                return ff.formatDate(phone);
            },

            formatTime: function (phone) {
                return ff.formatTime(phone);
            },

            changePage: function (page) {
                this.showPage(page);
            },

            showPage: function(page) {
                if (page >= 1 && page <= this.pagination.pages) {
                    this.pagination.page = page;
                    this.loadOrders();
                }
            },

            removeOrders: function($event) {

                var $this = this;

                openPopupButton('Вы уверены?', 'Выбранные заказы будут удалены!', '', function () {

                    var ids = [];
                    $('.order-number').find(":checkbox:checked").each(function () {
                        ids.push($(this).val());
                    })

                    var formData = new FormData();
                    $.each(ids, function (index, id) {
                        formData.append('ids[]', id);
                    })

                    var jqxhr = $.ajax({
                        method: 'POST',
                        url: "/api/order/customer/remove",
                        cache: false,
                        async: false,
                        data: formData,
                        dataType: "json",
                        processData: false,
                        contentType: false,
                    });

                    var data = jqxhr.responseJSON;

                    if (data.status == true) {

                        $('.order-number').find('input[type="checkbox"]:checked').prop('checked', false);
                        $('.order-table thead').removeClass('blured');
                        $(".js-select-all").prop('checked', false);

                        $this.loadOrders();
                        closePopup();

                        $this.$emit('order.refresh_order_promocode', data.result);
                    }

                })

                return false;
            },


            loadOrders: function($callback) {

                var $this = this;

                var formData = new FormData();
                if ($this.filter) {
                    formData.append('filter', $this.filter.value);
                }
                formData.append('page', $this.pagination.page);
                formData.append('perPage', $this.pagination.perPage);
                formData.append('sort[by]', $this.sort.by);
                formData.append('sort[direction]', $this.sort.direction);

                var jqxhr = $.ajax({
                    method: 'POST',
                    url: "/api/order/customer/orders",
                    cache: false,
                    async: false,
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                });

                var result = jqxhr.responseJSON;

                if (result.data) {
                    $this.orders = result.data.orders;
                    $this.pagination = result.data.pagination;
                    $this.loadOrdersEmpty = false;
                    $this.loading = false;

                    if (result.data.user_message) {
                        $(document).ready(() => {
                            ff.openPopup(result.data.user_message);
                        });
                    }

                    if ($callback) {
                        $callback();
                    }
                }
            },
        },
        mounted: function() {
            let $this = this;

            this.loadOrdersEmpty = true;
            this.loadOrders(function() {
                if ($this.orderId) {
                    setTimeout(function(){
                        VueScrollTo.scrollTo('#order'+$this.orderId, 600);
                    }, 500);
                }
            });

            // Пользователь создавал заказ неавторизованным, перекинем его на нужный заказ
            if (window.sessionStorage.getItem('sender_order_unauthed')) {
                let tmpOrderId = window.sessionStorage.getItem('sender_order_unauthed');
                window.sessionStorage.removeItem('sender_order_unauthed');

                if($this.orderId != tmpOrderId) {
                    window.location.href = '/personal?group=sender&orderId=' + tmpOrderId;
                }
            }
        },
        computed: {
            disabledAllOrders: function () {
                var $this = this;
                var result = true;
                $.each($this.orders, function( index, order ) {
                    if (order.isRemoveExactStatus) {
                        result = false;
                    }
                })

                return result;
            },
            selectedOrders: function () {
                var $this = this;
                var ids = [];

                $('.order-number').find("checkbox:checked").each(function () {
                    ids.push($(this).val());
                })

                return ids.length;
            }
        },
        watch: {
            'filter': function(val) {
                this.loadOrders();
            },
            'sort.by': function(val) {
                this.loadOrders();
            },
            'sort.direction': function(val) {
                this.loadOrders();
            },
            'pagination.page': function(val) {
                $('.order-table').find('thead').removeClass('blured');
            },
        }
    }
</script>