<template>
    <div class="overload loading" v-bind:class="{load: !loading}">
        <div class="h4">Перегруз</div>
        <p class="bordered">Собрать партию</p>

        <table class="order-table overload-table">
            <thead>
            <tr>
                <th>
                    <span>ID Палетты</span>
                    <sort :sort="sort" sortBy="id"></sort>
                </th>
                <th class="" width="135">
                    <span>Доставить до:</span>
                    <sort :sort="sort" sortBy="date"></sort>
                </th>
                <th width="330">
                    <span>Направление:</span>

                    <v-select
                            placeholder="Все"
                            :multiple="false"
                            v-model="filter.direction"
                            name="filter.direction"
                            label="title"
                            :options="directions"
                    >
                    </v-select>

                    <sort :sort="sort" sortBy="direction"></sort>
                </th>
                <th class=" text-right">
                    <span>Вес, кг:</span>

                    <sort :sort="sort" sortBy="weight"></sort>
                </th>
                <th width="166" class="text-right">
                    <span class="text-left">Склад <br>отправки №:</span>

                    <v-select
                            placeholder="Все"
                            :multiple="false"
                            v-model="filter.stockFrom"
                            name="filter.stockFrom"
                            label="title"
                            :options="getStockFromIds"
                    >
                    </v-select>

                    <sort :sort="sort" sortBy="stockFrom"></sort>
                </th>
                <th class="text-right">
                    <span class="text-left">Склад <br>назначения №:</span>

                    <v-select
                            placeholder="Все"
                            :multiple="false"
                            v-model="filter.stockTo"
                            name="filter.stockTo"
                            label="title"
                            :options="getStockToIds"
                    >
                    </v-select>

                    <sort :sort="sort" sortBy="stockTo"></sort>
                </th>
            </tr>
            </thead>
            <tr v-for="pallet in pallets">
                <td class="order-number" v-bind:class="{disabled : !isPalletCanSelected(pallet)}">
                    <label class="control control--checkbox terms">
                        <input type="checkbox" id="head-checkbox" :checked="isPalletActive(pallet.id)" v-on:click="togglePalletActive(pallet.id)"/>
                        <div class="control__indicator"></div>
                    </label>
                    <span>{{ pallet.externalId }}</span>
                </td>
                <td class="order-date">
                    <span>{{ formatDate(pallet.maxDeliveryTime) }}</span>
                    <span class="small">{{ formatTime(pallet.maxDeliveryTime) }}</span>
                </td>
                <td class="">{{ pallet.direction.title }}</td>
                <td class="text-right">{{ pallet.weight }}</td>
                <td class="text-right">{{ pallet.stockFrom.id }} </td>
                <td class="text-right">{{ pallet.stockTo.id }}</td>
            </tr>
        </table>

        <paginate
                v-scroll-to="{
                        el: '.order-table',
                        container: 'body',
                        duration: 700,
                        easing: 'ease-in',
                        offset: -200,

                        x: false,
                        y: true
                    }"
                v-if="pagination.pages > 1"
                :page-count="pagination.pages"
                :page-range="6"
                :margin-pages="1"
                prev-text=""
                prev-class="unstyled"
                prev-link-class="btn btn-rect previous"
                next-class="unstyled"
                next-link-class="btn btn-rect next"
                next-text=""
                :click-handler="changePage"
                :container-class="'pagination'"
                :page-class="'page-item'">
        </paginate>

        <p class="bordered mb0">Итого по партии:</p>

        <table class="order-table order-total-table">
            <tr>
                <td width="150">
                    Всего паллет:
                    <div class="order-total">
                        <div v-if="selectPallets.length == 0">-</div>
                        <div v-else>{{ selectPallets.length }}</div>
                    </div>
                </td>
                <td width="130">
                    Доставить до:
                    <div class="order-total" v-if="!deliveryDate">-</div>
                    <div class="order-total" v-else>{{ formatDate(deliveryDate) }}<span>{{ formatTime(deliveryDate) }}</span></div>
                </td>
                <td width="295">
                    Направление:
                    <div class="order-total" v-if="!direction">-</div>
                    <div class="order-total" v-else>{{ direction.title }}</div>
                </td>
                <td width="105" class="text-right">
                    Общий вес груза:
                    <div class="order-total" v-if="totalWeight == 0">-</div>
                    <div class="order-total" v-else>{{ totalWeight }}</div>
                </td>
                <td width="160" class="text-right">
                    Склад отправки:
                    <div class="order-total" v-if="!stockFrom">-</div>
                    <div class="order-total" v-else>{{ stockFrom.id }}</div>
                </td>
                <td width="205" class="text-right">
                    Склад назначения:
                    <div class="order-total" v-if="!stockTo">-</div>
                    <div class="order-total" v-else>{{ stockTo.id }}</div>
                </td>
            </tr>
        </table>

        <div class="order-row order-create">
            <div class="order-column">
                <div class="form-group" v-bind:class="{ error: errors.has('organization') }">
                    <v-select
                            placeholder="Назначить перевозчика"
                            :multiple="false"
                            v-model="organization"
                            name="organization"
                            label="companyName"
                            :options="organizations"
                            v-bind:class="{ error: errors.has('organization')}"
                            v-validate="{ required: true }"
                    >
                    </v-select>
                </div>
            </div>
            <div class="order-column">
                <div class="form-column">
                    <div class="form-group" v-bind:class="{ error: errors.has('driver'), disabled: !organization }">
                        <v-select
                                placeholder="Выбрать водителя"
                                :multiple="false"
                                v-model="driver"
                                name="driver"
                                label="name"
                                :options="listDrivers"
                                v-bind:class="{ error: errors.has('driver')}"
                                v-validate="{ required: getOrganization && !getOrganization.isWithoutDrivers}"
                        >
                        </v-select>
                    </div>
                </div>
                <div class="edit-buttons">
                    <span class="btn-default" v-on:click="reserve($event); return false;">Создать партию</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import Paginate from 'vuejs-paginate';
    import VueScrollTo from 'vue-scrollto';
    import Sort from '../../../../block/sort.vue';
    import Files from '../../../../block/files.vue';
    import vSelect from 'vue-select';
    import ff from '../../../../vueconfig.js';

    Vue.use(VueScrollTo);

    export default {
        components: {
            Paginate,
            VueScrollTo,
            Sort,
            Files,
            vSelect
        },
        name: 'overloadBatches',
        data() {
            return {
                selectPallets: [],
                palletsTotal: [],
                palletsAll: [],
                pallets: [],
                directions: [],
                organizations: [],
                organization: null,
                driver: null,
                filter: {
                    direction: '',
                    stockFrom: '',
                    stockTo: '',
                },
                pagination: {
                    page : 1,
                    perPage : 10,
                    pages : 0,
                },
                mask: ff.mask(),
                maskfilter: ff.filter(),
                loadEmpty: false,
                sort: {
                    by: 'id',
                    direction: 'desc'
                },
                loading: true
            }
        },
        methods: {
            showPage: function(page) {
                if (page >= 1 && page <= this.pagination.pages) {
                    this.pagination.page = page;
                    this.load();
                }

                location.href = '#overload';
            },

            changePage: function (page) {
                this.showPage(page);
            },

            formatDateTime: function (date) {
                return ff.formatDateTime(date);
            },

            formatDate: function (date) {
                return ff.formatDate(date);
            },

            formatTime: function (date) {
                return ff.formatTime(date);
            },

            load: function() {

                var $this = this;

                var formData = new FormData();
                if ($this.filter.direction) {
                    formData.append('filter[direction]', $this.filter.direction.id);
                }
                if ($this.filter.stockFrom) {
                    formData.append('filter[stockFrom]', $this.filter.stockFrom.id);
                }
                if ($this.filter.stockTo) {
                    formData.append('filter[stockTo]', $this.filter.stockTo.id);
                }
                formData.append('page', $this.pagination.page);
                formData.append('perPage', $this.pagination.perPage);
                formData.append('sort[by]', $this.sort.by);
                formData.append('sort[direction]', $this.sort.direction);

                var jqxhr = $.ajax({
                    method: 'POST',
                    url: "/api/overload/pallets",
                    cache: false,
                    async: false,
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                });

                var result = jqxhr.responseJSON;

                if (result.data) {

                    $this.palletsTotal = result.data.palletsTotal;
                    //$this.palletsAll = result.data.palletsAll;
                    $this.pallets = result.data.pallets;

                    $this.pagination = result.data.pagination;
                    $this.loadEmpty = false;

                    $this.loading = false;
                }
            },

            init: function() {

                var $this = this;

                var formData = new FormData();

                var jqxhr = $.ajax({
                    method: 'POST',
                    url: "/api/overload/config",
                    cache: false,
                    async: false,
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                });

                var result = jqxhr.responseJSON;

                if (result.data) {
                    $this.organizations = result.data.params.organizations;
                    $this.directions = result.data.params.directions;
                }
            },

            reserve: function($event) {

                var $this = this;

                if ($this.selectPallets.length == 0) {
                    ff.openPopup('Выберите паллеты!');
                    return false;
                }

                if ($($event.target).hasClass('disabled')) {
                    return false;
                }

                this.$validator.validateAll().then(function(result) {

                    if(!result) {
                        return false;
                    }

                    $($event.target).addClass('disabled');

                    var formData = new FormData();
                    formData.append('overload[direction]', $this.direction.id);
                    formData.append('overload[stockFrom]', $this.stockFrom.id);
                    formData.append('overload[stockTo]', $this.stockTo.id);
                    formData.append('overload[weight]', $this.totalWeight);
                    formData.append('overload[carrier]', $this.getOrganization.user.id);
                    formData.append('overload[drivers][]', $this.driver);

                    $.each($this.selectPallets, function( index, pallet ) {
                        formData.append('overload[pallets]['+index+']', pallet);
                    });

                    var jqxhr = $.ajax({
                        method: 'POST',
                        url: "/api/overload/reserve",
                        cache: false,
                        async: false,
                        data: formData,
                        dataType: "json",
                        processData: false,
                        contentType: false,
                    });

                    var result = jqxhr.responseJSON;

                    if (result.id) {
                        $this.load();
                        $this.selectPallets = [];
                        $this.organization = null;
                        $this.driver = null;

                        carrierOrders.loadOrders();
                    }

                });

                return false;
            },

            getDirectionById: function($id) {
                var $this = this;
                var result = null;

                $.each($this.directions, function( index, direction ) {
                    if (direction.id == $id) {
                        result = direction;
                    }
                });

                return result;
            },

            addPallet: function (id) {
                var $this = this;
                if ($.inArray(id, this.selectPallets) == -1) {
                    $this.selectPallets.push(id);
                }

                return $this.selectPallets;
            },

            removePallet: function (id) {
                var $this = this;
                $.each($this.selectPallets, function( index, palletId ) {
                    if (id == palletId) {
                        $this.selectPallets.splice(index, 1);
                    }
                })

                return $this.selectPallets;
            },

            togglePalletActive: function (pallet) {
                var $this = this;
                if ($this.isPalletActive(pallet)) {
                    $this.removePallet(pallet);
                } else {
                    $this.addPallet(pallet);
                }

                return $this.selectPallets;
            },

            isPalletActive: function (pallet) {
                var $this = this;
                if ($.inArray(pallet, $this.selectPallets) != -1) {
                    return true;
                }

                return false;
            },

            isPalletCanSelected: function (pallet) {
                var $this = this;
                var firstPallet = $this.getPalletById($this.selectPallets.slice(0, 1));

                //console.log(pallet);
                if (firstPallet) {
                    if (firstPallet.direction.id == pallet.direction.id
                        && firstPallet.stockFrom.id == pallet.stockFrom.id
                        && firstPallet.stockTo.id == pallet.stockTo.id
                    ) {
                        return true;
                    }
                } else {
                    return true;
                }

                return false;
            },

            getPalletById: function (id) {
                var $this = this;
                var result = null;

                $.each($this.palletsTotal, function( index, pallet ) {
                    if (parseInt(pallet.externalId) == parseInt(id)) {
                        result = pallet ;
                    }
                });

                return result;
            },

            getStocksFrom: function () {
                var direction = this.getDirection();

                var result = [];

                if (direction) {
                    $.each(this.stocks, function( index, item ) {
                        if (direction.cityFrom.id == item.city.id) {
                            result.push(item);
                        }
                    });
                }

                return result;
            },
            getStocksTo: function () {
                var direction = this.getDirection();

                var result = [];

                if (direction) {
                    $.each(this.stocks, function( index, item ) {
                        if (direction.cityTo.id == item.city.id) {
                            result.push(item);
                        }
                    });
                }

                return result;
            },
        },
        mounted: function() {
            this.init();
            this.load();
        },
        computed: {
            listDrivers: function () {
                var result = [];

                //console.log(this.getOrganization);

                if (this.getOrganization && this.getOrganization.isWithoutDrivers) {
                    result.push({'id': '', 'name': 'Без водителя'});
                }

                if (this.getOrganization && this.getOrganization.verifiedDrivers) {
                    this.getOrganization.verifiedDrivers.forEach(function(element) {
                        result.push({'id': element.id, 'name': element.name});
                    })
                }

                return result;
            },

            getStockFromIds: function () {
                var $this = this;
                var result = [];
                $.each(this.palletsTotal, function( index, pallet ) {
                    var stockId = pallet.stockFrom.id;
                    if ($.inArray(stockId, result) == -1) {
                        result.push(stockId);
                    }
                });

                return result.sort();
            },

            getStockToIds: function () {
                var result = [];
                var $this = this;

                var direction = $this.getDirectionById($this.filter.direction);

                $.each($this.palletsTotal, function( index, pallet ) {
                    var stockId = pallet.stockTo.id;
                    if ($.inArray(stockId, result) == -1) {
                        if (direction && direction.cityTo.id == pallet.stockTo.city.id) {
                            result.push(stockId);
                        } else if(!direction) {
                            result.push(stockId);
                        }
                    }
                });
                return result.sort();
            },

            totalWeight: function (id) {
                var $this = this;
                var result = 0;
                $.each($this.selectPallets, function( index, palletId ) {
                    if (palletId) {
                        var pallet = $this.getPalletById(palletId);
                        result = result + pallet.weight;
                    }

                });

                return result;
            },

            direction: function () {
                var $this = this;

                var firstPallet = $this.getPalletById($this.selectPallets.slice(0, 1));

                if (!firstPallet) {
                    return false;
                }
                return firstPallet.direction;
            },

            stockFrom: function () {
                var $this = this;

                var firstPallet = $this.getPalletById($this.selectPallets.slice(0, 1));

                if (!firstPallet) {
                    return false;
                }

                return firstPallet.stockFrom;
            },

            stockTo: function () {
                var $this = this;

                var firstPallet = $this.getPalletById($this.selectPallets.slice(0, 1));

                if (!firstPallet) {
                    return false;
                }

                return firstPallet.stockTo;
            },

            deliveryDate: function () {
                var $this = this;

                var result = false;

                $.each($this.selectPallets, function( index, palletId ) {
                    var pallet = $this.getPalletById(palletId);
                    var date = ff.convertDate(pallet.maxDeliveryTime);
                    if (!result || result.getTime() >= date.getTime()) {
                        result = new Date(date.getTime());
                    }
                });

                return result;
            },

            getOrganization: function () {
                var $this = this;

                var result = false;

                $.each($this.organizations, function( index, organization ) {
                    if ($this.organization == organization.id) {
                        result = organization;
                    }
                });

                return result;
            },
        },
        watch: {
            'filter.direction': function(val) {
                this.load();
            },
            'filter.stockFrom': function(val) {
                this.load();
            },
            'filter.stockTo': function(val) {
                this.load();
            },
            'sort.by': function(val) {
                this.load();
            },
            'sort.direction': function(val) {
                this.load();
            },
            'organization': function(val) {
                this.driver = null;
            },
        }
    }
</script>