{% extends '@SonataAdmin/standard_layout.html.twig' %}


{% form_theme form _self %}

{% block mile_price_widget %}
    {{ form_widget(form.id) }}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>{{ form_label(form.distance) }}</th>
            <th>{{ form_label(form.weight) }}</th>
            <th>{{ form_label(form.price) }}</th>
            <th>{{ form_label(form.per_km) }}</th>
        </tr>
        </thead>
        <tbody class="sonata-ba-tbody">
        <tr>
            <td>{{ form_widget(form.distance) }}</td>
            <td>{{ form_widget(form.weight) }}</td>
            <td>{{ form_widget(form.price) }}</td>
            <td>{{ form_widget(form.per_km) }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}


{% block mile_price_type_collection_widget %}
    {% if form.vars.data %}
        <h4>{{ form.vars.data.tarif_name }}</h4>
        {{ form_widget(form.tarif_name) }}
        {{ form_widget(form.tarif_id) }}

        <table class="table table-bordered">
            <tbody class="sonata-ba-tbody">
            <tr>
                <td></td>
                {% for weight in weights %}
                    <td>{{ weight }}</td>
                {% endfor %}
            </tr>

            {% for distance in distances %}
                <tr>
                    <td>{{ distance }}</td>
                    {% for weight in weights %}
                        <td>
                            {% for priceForm in form.prices %}
                                {% if priceForm.vars.data.distance == distance and priceForm.vars.data.weight == weight %}
                                    {{ form_widget(priceForm.id) }}
                                    {{ form_widget(priceForm.price) }}
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}

            <tr>
                <td>за км</td>
                {% for weight in weights %}
                    <td>
                        {% for priceForm in form.prices %}
                            {% if priceForm.vars.data.per_km and priceForm.vars.data.weight == weight %}
                                {{ form_widget(priceForm.id) }}
                                {{ form_widget(priceForm.price) }}
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>

            </tbody>
        </table>

    {% else %}

    {% endif %}

{% endblock %}


{% block sonata_admin_content %}
    <section class="content" style="background-color: white;">
        <div class="sonata-ba-form">


            {{ form_start(form) }}

            {% for tarifForm in form.collection %}
                {{ form_widget(tarifForm, {weights: weights, distances: distances}) }}
            {% endfor %}

            {{ form(form) }}

            {{ form_end(form) }}

        </div>
    </section>
{% endblock %}

