{% extends 'template/innerpage/template.html.twig' %}

{% block content %}

<section class="white">
    <div class="container">
        <div class="h3">Отследить заказ</div>
        <div class="track-wrapper">
            <div class="track-inner">
                <div class="track-title">
                    <div class="h5">Заказ №{{ order.id }}</div>
                    <b>Статус: <span>{{ order.publicStatus }}</span></b>
                </div>
                <ul class="track-info">
                    <li>
                        <b>Тип груза:</b>
                        {% if order.getPackagesTypes() is not empty %}
                            {% for type in order.getPackagesTypes() %}
                                {{ type }} <br>
                            {% endfor %}
                        {% endif %}
                    </li>
                    <li>
                        {% if order.stockFrom %}
                        <b>Точка отправления:</b>
                        {{ order.stockFrom.address }}
                        {% endif %}
                    </li>
                    <li>
                        <b>Общий вес:</b>
                        {{ order.totalWeight }} кг
                    </li>

                    <li>
                        {% if order.stockTo %}
                        <b>Точка доставки:</b>
                        {{ order.stockTo.address }}
                        {% endif %}
                    </li>
                    {% if order.receptionAt is not empty %}
                    <li>
                        <b>Дата приемки:</b>
                        {{ order.receptionAt.format('d.m.Yг. H:m') }}
                    </li>
                    {% endif %}
                    {% if order.issueAt is not empty %}
                        <li>
                            <b>Дата выдачи:</b>
                            {{ order.issueAt.format('d.m.Yг. H:m') }}
                        </li>
                    {% endif %}
                </ul>
                {% if order.status in ['accepted', 'preparing', 'not paid', 'paid']%}
                <table class="track-table">
                    <tr>
                        <th>Количество мест</th>
                        <th class="text-right">Статус</th>
                    </tr>
                    {% for package in order.getPackagesGroupStatus() %}
                    <tr>
                        <td><b>{{ package.count  }}</b></td>
                        <td class="text-right"><span class="bordered-btn">{{ package.status }}</span></td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section class="white">
    <div class="container">
        {% include 'block/sender_banner.html.twig' %}

        {% include 'block/questions.html.twig' %}
    </div>
</section>

{% endblock %}
