{% extends 'template/innerpage/template.html.twig' %}

{% block content %}

    <div id="track" data-attach-vue="track"></div>

    <section class="white">
        <div class="container">
            {% include 'block/sender_banner.html.twig' %}

            {% include 'block/questions.html.twig' %}
         </div>
    </section>

{% endblock %}
