<form method="post" action="{{ path('city_price_per_kilo_delete', {'id': city_price_per_kilo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ city_price_per_kilo.id) }}">
    <button class="btn">Delete</button>
</form>
