<!DOCTYPE html>

<title>Edit CityPricePerKilo</title>

{% block body %}
    <h1>Edit CityPricePerKilo</h1>

    {{ include('city_price_per_kilo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('city_price_per_kilo_index') }}">back to list</a>

    {{ include('city_price_per_kilo/_delete_form.html.twig') }}
{% endblock %}
