<!DOCTYPE html>

<title>CityPricePerKilo index</title>

{% block body %}
    <h1>CityPricePerKilo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>WeightFrom</th>
                <th>WeightTo</th>
                <th>Price</th>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for city_price_per_kilo in city_price_per_kilos %}
            <tr>
                <td>{{ city_price_per_kilo.weightFrom }}</td>
                <td>{{ city_price_per_kilo.weightTo }}</td>
                <td>{{ city_price_per_kilo.price }}</td>
                <td>{{ city_price_per_kilo.id }}</td>
                <td>{{ city_price_per_kilo.createdAt ? city_price_per_kilo.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ city_price_per_kilo.updatedAt ? city_price_per_kilo.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('city_price_per_kilo_show', {'id': city_price_per_kilo.id}) }}">show</a>
                    <a href="{{ path('city_price_per_kilo_edit', {'id': city_price_per_kilo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('city_price_per_kilo_new') }}">Create new</a>
{% endblock %}
