<!DOCTYPE html>

<title>New CityPricePerKilo</title>

{% block body %}
    <h1>Create new CityPricePerKilo</h1>

    {{ include('city_price_per_kilo/_form.html.twig') }}

    <a href="{{ path('city_price_per_kilo_index') }}">back to list</a>
{% endblock %}
