<!DOCTYPE html>

<title>CityPricePerKilo</title>

{% block body %}
    <h1>CityPricePerKilo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>WeightFrom</th>
                <td>{{ city_price_per_kilo.weightFrom }}</td>
            </tr>
            <tr>
                <th>WeightTo</th>
                <td>{{ city_price_per_kilo.weightTo }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ city_price_per_kilo.price }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ city_price_per_kilo.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ city_price_per_kilo.createdAt ? city_price_per_kilo.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ city_price_per_kilo.updatedAt ? city_price_per_kilo.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('city_price_per_kilo_index') }}">back to list</a>

    <a href="{{ path('city_price_per_kilo_edit', {'id': city_price_per_kilo.id}) }}">edit</a>

    {{ include('city_price_per_kilo/_delete_form.html.twig') }}
{% endblock %}
