{% extends 'template/securitypage/template.html.twig' %}

{% block content %}

    <section class="log-reg-wrapper">
        <div class="container">
            <div class="container-inner">

                <div id="reset" data-attach-vue="reset"></div>

                <div class="reg-copyright">
                    <span>{{ "now"|date("Y") }} © ООО "Точка-Точка”. Все права защищены.</span>
                </div>
            </div>
        </div>
        <div class="log-reg-bg"></div>
    </section>

{% endblock %}

{% block stylesheets %}
    {{ encore_entry_script_tags('js/main') }}
{% endblock %}