<template>
    <section>
        <div class="container">
            <div class="chart-wrapper">
                <div class="h3">Калькулятор дохода</div>
                <span v-on:click="showGraph()">
                    <div id="chart" class="chart" data-current-step="1"></div>
                    <span class="small">Количество груза на складе</span>
                </span>
                <div class="form-row-mobile">
                    <div class="form-group group-info">
                        <div class="price-inner">
                            <label>Сейчас на складе</label>
                            <b><span>{{ nowInWarehouses }}</span> кг</b>
                        </div>
                    </div>
                    <div class="form-group w-auto">
                        <label>Текущая цена за кг <span>(без НДС)</span></label>
                        <b class="price" v-bind:class="{ error: priceHighlighting}"><span>{{ (currentPricePerKilo / 100).toFixed(2) }}</span> руб.</b>
                    </div>
                    <div class="form-group w-auto" style="margin-bottom: 5px">
                        <label>Через {{ time }} цена станет</label>
                        <b><span>{{ (nextPricePerKilo / 100).toFixed(2) }}</span> руб.</b>
                    </div>
                </div>
            </div>
            <div class="calculator-steps">
                <div class="content">
                    <form id="calculator-form" autocomplete="off">
                        <div v-if="this.predefinedVat === null" class="nds-switch">
                            Ваша компания является плательщиком НДС?
                            <label class="control control--switch">
                                <input type="checkbox" v-model="vat" name="vat" value="1"  />
                                Нет
                                <div class="control__indicator"></div>
                                Да
                            </label>
                        </div>

                            <div class="form-row-tablet">
                                <div class="form-group group-info">
                                    <div class="price-inner">
                                        <label>Сейчас на складе</label>
                                        <b><span>{{ nowInWarehouses }}</span> кг</b>
                                    </div>
                                </div>
                                <div class="form-group w-auto">
                                    <label>Текущая цена за кг <span>(без НДС)</span></label>
                                    <b class="price" v-bind:class="{ error: priceHighlighting}"><span>{{ (currentPricePerKilo / 100).toFixed(2) }}</span> руб.</b>
                                </div>
                                <div class="form-group w-auto" style="margin-bottom: 5px">
                                    <label>Через {{ time }} цена станет</label>
                                    <b><span>{{ (nextPricePerKilo / 100).toFixed(2) }}</span> руб.</b>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-column">
                                    <div style="width: 157px" class="form-group medium" v-bind:class="{ error: errors.has('cityFrom') }">
                                        <label>Откуда* </label>
                                        <v-select
                                                placeholder="Выберите город"
                                                :multiple="false"
                                                v-model="cityFrom"
                                                label="title"
                                                :value="getCityFromList[0]"
                                                :options="getCityFromList"
                                                v-bind:class="{ error: errors.has('cityFrom')}"
                                                v-validate="{required: true}"
                                        >
                                            <span slot="no-options">Город не найден</span>
                                        </v-select>

                                        <label class="error" v-if="errors.has('cityFrom')">Заполните поле</label>
                                    </div>
                                    <div style="width: 157px" class="form-group medium " v-bind:class="{ error: errors.has('cityTo') }">
                                        <label>Куда* </label>
                                        <v-select
                                                placeholder="Выберите город"
                                                :multiple="false"
                                                v-model="cityTo"
                                                label="title"
                                                :value="getCityFromList[0]"
                                                :options="getCityToList"
                                                v-bind:class="{ error: errors.has('cityTo')}"
                                                v-validate="{required: true}"
                                        >
                                            <span slot="no-options">Город не найден</span>
                                        </v-select>
                                        <label class="error" v-if="errors.has('cityTo')">Заполните поле</label>
                                    </div>
                                    <div class="form-group">
                                        <label>Когда готовы приехать?*</label>

                                        <date-picker
                                                class="mx-calendar-disabled-header auction-calendar-picker"
                                                v-model="sendDate"
                                                :disabled-days="disabledDates"
                                                :disabled="showErrorCityFlag"
                                                :editable="false"
                                                lang="ru"
                                                :value="sendDate"
                                                :first-day-of-week="1"
                                                format="DD.MM.YYYY HH:mm"
                                                :clearable="false"
                                                placeholder="Выберите дату и время"
                                                v-on:focus="showErrorCity($event)"
                                                v-bind:class="{ error: errors.has('sendDate')}"

                                                type="datetime"
                                                :minute-step="60"
                                                :time-picker-options="timeOptions"

                                                :time-title-format="'Выберите время прибытия'"
                                        >
                                        </date-picker>

                                        <label v-if="showErrorCityFlag" class="error">Выберите город отправления</label>
                                        <label class="error"  v-if="errors.has('sendDate')">Заполните поле</label>
                                    </div>

                                    <div class="form-group group-info hidden-on-responsive">
                                        <div class="price-inner">
                                            <label>Сейчас на складе</label>
                                            <b><span>{{ nowInWarehouses }}</span> кг</b>
                                        </div>
                                    </div>
                                    <div class="form-group w-auto hidden-on-responsive">
                                        <label>Текущая цена за кг <span><!--<span>(без НДС)</span>--></span></label>
                                        <b class="price" v-bind:class="{ error: priceHighlighting}"><span>{{ (currentPricePerKilo / 100).toFixed(2) }} </span>руб.</b>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group small">
                                    <label for="maxCount">Кол-во паллет, шт.*</label>
                                    <input type='text' class="form-control" v-bind:class="{ error: errors.has('maxCount')}" v-filter="filter.int" v-model="maxCount" name="maxCount" id="maxCount" v-validate="{required: true, numeric : true}" placeholder="≤ 33"/>
                                    <label class="error"  v-if="errors.has('maxCount') && !maxCount">Заполните поле</label>
                                    <label class="error"  v-if="errors.has('maxCount') && maxCount">Только целые числа</label>

                                </div>
                                <div class="form-group small">
                                    <label for="maxWeight">Макс. вес паллеты, кг</label>
                                    <input type='text' class="form-control" v-bind:class="{ error: errors.has('maxWeight')}" v-filter="filter.int" v-model="maxWeight" name="maxWeight" id="maxWeight" v-validate="{numeric : true}" placeholder="≤ 1500" />
                                    <label class="error"  v-if="errors.has('maxWeight') && !maxWeight">Заполните поле</label>
                                    <label class="error"  v-if="errors.has('maxWeight') && maxWeight">Только целые числа</label>
                                </div>
                                <div class="form-group">
                                    <label for="weight">Общий вес груза, кг*</label>
                                    <input type="text" class="form-control" v-bind:class="{ error: errors.has('weight')}" v-filter="filter.int" v-on:change="setWeight($event)" name="weight" id="weight" v-validate="{required: true, numeric : true}" min="30" max="20000" placeholder="≥ 30кг и ≤ 20т"/>
                                    <label class="error"  v-if="errors.has('weight') && !weight">Заполните поле</label>
                                    <label class="error"  v-if="errors.has('weight') && weight">Только целые числа</label>
                                </div>
                                <div class="form-group group-info">
                                    <button class="calculator-btn" type="button" v-on:click="validateForm($event)"  id="calculator-submit">Забрать</button>
                                </div>
                                <div class="form-group w-auto hidden-on-responsive" style="margin-bottom: 5px">
                                    <label>Через {{ time }} цена станет</label>
                                    <b class="price"><span>{{ (nextPricePerKilo / 100).toFixed(2) }} </span>руб.</b>
                                </div>
                                <div class="small-info static">* - обязательные поля</div>
                            </div>

                        </form>

                    <div class="warning" v-bind:class="{'show' : isWeightNotExact}">
                        <img src="/img/warning-circle.svg" alt="">
                        <p>К сожалению по вашему запросу нет подходящих партий <span v-if="auctionData && auctionData.length > 0">, вы можете изменить условия или выбрать 1 из альтернативных вариантов ниже:</span></p>
                        <span class="close"><img src="/img/close-white.png" alt=""></span>
                    </div>

                    <div class="price-tables" v-show="auctionData && auctionData.length > 0" style="display: block" data-simplebar>
                        <div class="price-table" v-bind:class="{'selected' : part == index}" v-for="(auctionDataItem, index) in auctionData">
                            <label class="control control--checkbox terms">Партия № {{ index + 1}}

                                <i class="tooltip-link" v-b-tooltip.hover="{'placement': 'right', 'title': 'Чем цена выше, тем больше желающих и меньше выбор партий'}" >
                                    <img src="/img/circle.png" alt="">
                                </i>

                                <input type="radio" name="part" v-model="part" :checked="part == index" :value="index" />
                                <div class="control__indicator"></div>
                            </label>
                            <div class="price-table-cell">
                                <span>Ваш доход:</span>
                                <b class="big"><span>{{ auctionDataItem.cost }}</span>руб.</b>
                            </div>
                            <div class="price-table-cell">
                                <span>Общий вес груза:</span>
                                <b>{{ totalWeight(auctionDataItem.pallets) }} кг</b>
                            </div>
                            <div class="price-table-cell">
                                <span>Количество паллет:</span>
                                <b>{{ auctionDataItem.pallets.length }}</b>
                            </div>
                            <div class="price-table-cell">
                                <p>
                                    Адрес отправления: {{ auctionDataItem.warehouse_from.address }}
                                </p>
                            </div>
                            <div class="price-table-cell">
                                <p>
                                    Адрес доставки: {{ auctionDataItem.warehouse_to.address }}
                                </p>
                            </div>
                            <div class="price-table-cell" v-if="sendDateMoment">
                                <span>Ожидаем на складе: </span>
                                <b>с {{ sendDateMoment }}</b>
                            </div>
                            <div class="price-table-cell" v-if="auctionDataItem.sla_date">
                                <span>Доставить до:</span>
                                <b>{{ formatTime(auctionDataItem.sla_date) }} {{ formatDate(auctionDataItem.sla_date) }}</b>
                            </div>

                            <div class="price-table-cell">
                                <span>Время работы:</span>
                                <b>{{ auctionDataItem.warehouse_to.mode }}</b>
                            </div>
                            <div class="price-table-cell submit">
                                <span @click="highlightOffert = !agree">
                                    <a href="#" v-on:click="reserve($event)" v-bind:class="{'disabled' : !agree}" class="btn-default reserve-button">Выбрать партию</a>
                                </span>

                                <label class="control control--checkbox terms"   v-bind:class="{'highlight-offert': highlightOffert}">
                                    Согласен с условиями <br><a target="_blank" href="/offer/carrier">оферты</a>
                                    <input type="checkbox" v-model="agree" :checked="agree" :value="1"  @change="highlightOffert ? highlightOffert = !agree : null" />
                                    <div class="control__indicator"></div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import Vue from 'vue';
    import vSelect from 'vue-select';
    import ff from '../../vueconfig.js';
    import DatePicker from 'vue2-datepicker';
    import moment from 'moment';

    import CityStockTime from './part/CityStockTime';

    export default {
        components: {
            vSelect,
            DatePicker
        },
        name: 'auction',
        props: ['route'],
        data() {
            return {
                stocks: [],
                directions: [],
                direction: 1,
                nowInWarehouses: 0,
                currentPricePerKilo: 17,
                currentPriceStep: 1,
                priceHighlighting: false,
                nextPricePerKilo: 17,
                nextPriceTime: 0,
                weight:  '',
                maxWeight : '',
                maxCount : '',
                pallets : [],
                auctionData : [],
                maxCountPallets: 33,
                maxWeightPallets: 1450,
                sendDate: null,
                sendDateTime: null,
                time: '',
                valid: false,
                part: null,

                agree: false,
                highlightOffert: false,

                calculate: false,
                validate: false,
                mask: ff.mask(),
                filter: ff.filter(),
                graphData: [],
                cityFrom: null,
                cityTo: null,
                cityFromPlaceholder: null,
                cityToPlaceholder: null,

                stockWorkingHours: [],
                workingCalendar: [],

                showErrorCityFlag: false,
                sendDateTest: new Date(),

                cityStockTime: null,

                vat: false,
                predefinedVat: null,
            }
        },
        methods: {
            formatDateTime: function (date) {
                return ff.formatDateTime(date);
            },
            formatDate: function (phone) {
                return ff.formatDate(phone);
            },
            formatTime: function (phone) {
                return ff.formatTime(phone);
            },

            showErrorCity: function($event) {
                if (!this.cityFrom || !this.cityFrom.value) {
                    this.showErrorCityFlag = true;
                    if ($event) {
                        $event.preventDefault();
                    }
                } else {
                    this.showErrorCityFlag = false;
                }

                return this.showErrorCityFlag
            },

            showAdditionalPopups: function() {
                $(function () {
                    if(window.location.hash === '#verify_delay') {
                        ff.openPopupUrl('/static/popup/verification_delay');
                    }
                })
            },

            getStockFromId : function () {
                var $this = this;
                let result = 9;

                $.each($this.stocks, function( index, item ) {
                    if (item.city.id == $this.cityFrom.value) {
                        result = item.externalId;
                    }
                });

                return result;
            },

            disabledDates: function (date) {
                if (this.cityStockTime != null) {
                    if (date.getHours() === 0 && date.getMinutes() === 0) {
                        return this.cityStockTime.isDateAvailable(date);
                    }
                    return this.cityStockTime.isTimeAvailable(date);
                } else {
                    return false;
                }
            },
            // Доступные даты для отправки
            timeOptions: function () {
                let times = [];

                if (this.sendDate) {
                    times = this.cityStockTime.getDateTimes(this.sendDate);
                }

                let result = [];

                times.forEach(time => {
                    let start = moment(time, "HH:mm");
                    let end = moment(time, "HH:mm").add(1, 'hours');

                    result.push({
                        value: {hours: start.format('HH'), minutes: start.format('mm')},
                        label: start.format('HH:mm') + " - " + end.format('HH:mm')
                    });
                });

                return result

            },

            setPickerText: function (text) {
                let datePicker = this.$children.find((item) => { return item.$options._componentTag === 'date-picker' });
                this.$set(datePicker, 'userInput', text);
            },

            auctionUpdate: function () {
                var $this = this;

                let params = {
                    direction: this.direction,
                    weight: this.weight,
                    sendDate: this.sendDate,
                    price: this.currentPricePerKilo,
                    maxWeight: this.maxWeight,
                    maxCount: this.maxCount
                };

                if (this.predefinedVat === null) {
                    params['vat'] =  1 * this.vat;
                }

                let jqxhr = $.ajax({
                    url: "/api/auction/config",
                    cache: false,
                    async: false,
                    data: params
                });

                if (jqxhr.responseJSON) {
                    let data = jqxhr.responseJSON.data;

                    this.directions = data.params.directions;
                    this.stocks = data.params.stocks;

                    if (!this.direction) {
                        /* Предустановим направление */
                        this.direction = this.directions[0].id;
                    }

                    if (data.params.predefinedVat === false || data.params.predefinedVat === true) {
                        this.predefinedVat = data.params.predefinedVat;
                    }
                    this.nowInWarehouses = data.params.nowInWarehouses;
                    this.currentPricePerKilo = data.params.currentPricePerKilo;
                    this.currentPriceStep = data.params.currentPriceStep;
                    this.nextPricePerKilo = data.params.nextPricePerKilo;
                    this.nextPriceTime = data.params.nextPriceTime;
                    this.maxCountPallets = data.settings.max_count_pallet;
                    this.maxWeightPallets = data.settings.max_weight_pallet;

                    $this.loadDataGraph(function(){
                        $this.showSmallGraph();
                        $this.showBigGraph();
                    });
                }
            },
            validateForm: function ($event) {
                var $this = this;

                this.$validator.validateAll().then(function(result) {
                    if(!result) {
                        $this.validate = false;

                        return;
                    }

                    $this.validate = true;
                    ff.counterEvent('ZABRAT_ZAKAZ', 'click');
                    $this.auctionPickUp($event);
                })
            },
            auctionPickUp: function ($event) {
                var $this = this;

                if ($event) {
                    if ($($event.target).hasClass('disabled')) {
                        return false;
                    }

                    $($event.target).addClass('disabled');
                }

                if ($this.direction && $this.weight && $this.validate) {

                    let params = {
                        direction: this.direction,
                        weight: this.weight,
                        sendDate: this.sendDate,
                        price: this.currentPricePerKilo,
                        maxWeight: this.maxWeight,
                        maxCount: this.maxCount,
                    };

                    if (this.predefinedVat === null) {
                        params['vat'] =  1 * this.vat;
                    }

                    $.ajax({
                        method: "GET",
                        url: "/api/auction/list",
                        data: params
                    })
                        .done(function( data ) {
                            $this.auctionData = data.data.opts;

                            if (data.data.update) {
                                $this.loadDataGraph(function(){
                                    $this.showSmallGraph();
                                    $this.showBigGraph();
                                });
                            }

                            $this.nowInWarehouses = data.data.weight;

                            $this.calculate = true;
                            if ($event) {
                                $($event.target).removeClass('disabled');
                            }

                            $('.reserve-button').removeClass('disabled');

                        }).fail(function() {
                        $this.auctionData = [];
                        $this.calculate = true;

                    });
                }

                return false;
            },
            reserve: function ($event) {
                var $this = this;
                let packages = this.packages;

                let formData = new FormData();
                formData.append('order[sendDate]', this.sendDate);
                formData.append('order[direction]', this.direction);
                formData.append('order[weight]', this.totalWeight(this.auctionData[this.part].pallets));
                formData.append('order[maxWeight]', this.maxWeight);
                formData.append('order[maxCount]', this.maxCount);
                formData.append('order[price]', this.auctionData[this.part].cost);
                formData.append('order[priceVat]', this.auctionData[this.part].costVat);
                formData.append('order[currentPricePerKilo]', this.currentPricePerKilo);
                formData.append('order[stockFrom]', this.auctionData[this.part].warehouse_from.id);
                formData.append('order[stockTo]', this.auctionData[this.part].warehouse_to.id);
                if (this.predefinedVat === null) {
                    formData.append('order[vat]', 1 * this.vat);
                }

                $.each(this.auctionData[this.part].pallets, function( index, pallet ) {
                    formData.append('order[pallets]['+index+']', pallet.id);
                });

                let jqxhr = $.ajax({
                    method: 'POST',
                    url: "/api/auction/reserve",
                    cache: true,
                    async: false,
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                });

                let data = jqxhr.responseJSON;

                if (data.status) {
                    ff.counterEvent('OFORMIT_ZAKAZ_PEREVOZCHIK', 'click');
                    if (data.authed) {
                        location.href = '/personal?group=carrier&orderId=' + data.id;
                    } else {
                        // Пользователь пытается зарезервировать неавторизованным, сохраняем, чтобы использовать после авторизации
                        window.sessionStorage.setItem('auction_reserve_unauthed', data.id);
                        ff.openPopupUrl('/static/popup/carrier/auth');
                    }
                } else {
                    // нужна авторизация
                    if(jqxhr.status == 403) {
                        ff.openPopupUrl('/static/popup/carrier/auth');
                    } else {
                        ff.openPopup('К сожалению партия забронирована.', 'Измените условия или выберите другой вариант');
                    }
                    $($event.target).addClass('disabled');
                }

                return data.status;
            },
            createOrder: function () {
                var $this = this;

                let packages = this.packages;

                let formData = new FormData();
                formData.append('order[sendDate]', this.sendDate);
                formData.append('order[direction]', this.direction);
                formData.append('order[weight]', this.totalWeight(this.auctionData[this.part].pallets));
                formData.append('order[maxWeight]', this.maxWeight);
                formData.append('order[maxCount]', this.maxCount);
                formData.append('order[currentPricePerKilo]', this.currentPricePerKilo);
                formData.append('order[stockFrom]', this.auctionData[this.part].warehouse_from.id);
                formData.append('order[stockTo]', this.auctionData[this.part].warehouse_to.id);

                $.each(this.auctionData[this.part].pallets, function( index, pallet ) {
                    formData.append('order[pallets]['+index+']', pallet.id);
                });

                let jqxhr = $.ajax({
                    method: 'POST',
                    url: "/api/auction/create_order",
                    cache: true,
                    async: false,
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                });

                let data = jqxhr.responseJSON;

                if (data.id > 0) {
                    location.href = '/personal?group=carrier&orderId='+data.id;
                }

                return data.status;
            },
            nextPriceTimeUpdate: function () {
                let date = new Date(2018, 0, 1, 0, 0, this.nextPriceTime);
                let min = date.getMinutes();
                let sec = date.getSeconds();
                if (min < 10) {
                    min = "0" + min;
                }
                if (sec < 10) {
                    sec = "0" + sec;
                }
                this.time = min+':'+sec;

                this.priceHighlighting = false;

                if (sec <= 5) {
                    this.priceHighlighting = true;
                }

                return this.time;
            },
            totalPrice: function (pallets) {
                var $this = this;
                let price = 0;
                $.each(pallets, function( index, pallet ) {
                    price = price + (pallet.weight * $this.currentPricePerKilo) / 100;
                });

                return Math.round(price);
            },
            totalWeight: function (pallets) {
                let weight = 0;
                $.each(pallets, function( index, pallet ) {
                    weight += pallet.weight;
                });

                return weight;
            },

            setWeight: function ($event) {
                let input = $('#'+$event.target.id);
                let val = parseInt(input.val());
                this.weight = val;

                let min = parseInt(input.attr('min'));
                if (val < min) {
                    this.weight = min;
                }

                let max = parseInt(input.attr('max'));
                if (val > max) {
                    this.weight = max;
                }

                if (parseInt(this.weight) > 0) {
                    input.val(parseInt(this.weight));
                }
            },
            setSendDate: function ($event) {
                let input = $('#'+$event.target.id);
                let val = input.val();

                this.$set(this, 'sendDate', val);
                this.errors.remove('sendDate');
            },
            showGraph: function () {
                var $this = this;
                ff.openPopupUrl('/static/popup/graph', ' ', function() {
                    ff.d3graphBigInit(
                        '#chart-big',
                        $this.graphData,
                        $this.currentPriceStep,
                        $this.priceHighlighting
                    );
                    $this.showBigGraph();
                });
            },
            showBigGraph: function () {
                var $this = this;
                if ($this.graphData) {
                    ff.updateGraph('#chart-big', '#chart', $this.graphData, $this.currentPriceStep);
                }
            },
            showSmallGraph: function () {
                var $this = this;
                if ($this.graphData) {
                    ff.d3graphSmallInit('#chart', $this.graphData, $this.currentPriceStep, $this.priceHighlighting);
                    ff.updateGraph('#chart-big', '#chart', $this.graphData, $this.currentPriceStep, $this.priceHighlighting);
                }
            },
            loadDataGraph: function ($callback) {
                var $this = this;

                if ($this.graphData && $this.currentPricePerKilo) {

                    let params = {};
                    if (this.predefinedVat === null) {
                        params['vat'] =  1 * this.vat;
                    }

                    $.ajax({
                        method: "GET",
                        async: true,
                        url: '/api/auction/graphdata/'+$this.direction,
                        data: params
                    })
                        .done(function( data ) {
                            $this.graphData = data.data;

                            if ($callback) {
                                $callback();
                            }
                        }).fail(function() {

                    });
                }

                return;
            },
            loadStockWorkingHours: function ($callback) {
                var $this = this;

                $.ajax({
                    method: "GET",
                    async: true,
                    url: '/api/auction/stock_working_hours/',
                    data: {}
                })
                    .done(function( data ) {
                        $this.stockWorkingHours = data.data.stockWorkingHours;
                        $this.workingCalendar = data.data.workingCalendar;
                        $this.initStockWorkingHours();
                    }).fail(function() {
                });

                return;
            },
            changeDirection: function () {
                var $this = this;
                let result = $this.getDirection();

                if (result) {
                    this.direction = result.id;
                }
                this.initStockWorkingHours();

                return false;
            },
            setDirection: function (id) {
                var $this = this;
                let result = null;

                $.each($this.directions, function( index, item ) {
                    if (item.id == id) {
                        $this.cityFrom = {'title': item.cityFrom.title, 'value': item.cityFrom.id};
                        $this.cityTo = {'title': item.cityTo.title, 'value': item.cityTo.id};
                        $this.direction = item.id;
                    }
                });

                return result;
            },
            getDirection: function () {
                var $this = this;
                let result = null;

                $.each($this.directions, function( index, item ) {
                    if (item.cityFrom.id == $this.cityFrom.value && item.cityTo.id == $this.cityTo.value) {
                        result = item;
                    }
                });

                return result;
            },


            initStockWorkingHours () {
                if (!this.cityFrom || !this.stockWorkingHours || !this.stocks) {
                    return;
                }
                let city = this.cityFrom;
                let stocks = this.stocks.filter(stock => {
                    if (stock.city.id == city.value) {
                        return true;
                    }
                });
                if (!stocks.length) {
                    return;
                }
                let timezone = stocks[0].city.region;

                this.cityStockTime = new CityStockTime(stocks, timezone, this.stockWorkingHours, this.workingCalendar);
            }
        },
        computed: {
            sendDateMoment() {
                return this.sendDate ? moment(this.sendDate).format('HH:mm DD.MM.YYYY') : null;
            },
            sum: function () {
                let propertyType = this.propertyType;
                return this.objectTypes.filter(function (item, pos, array) {
                    if (propertyType == item.propertyType) {
                        return true;
                    }
                });
            },
            isWeightNotExact: function () {
                var $this = this;
                let result = true;
                $.each($this.auctionData, function( index, item ) {
                    if ($this.totalWeight(item.pallets) > $this.weight * 0.5) {
                        result = false;
                    }
                });

                return result && this.calculate;
            },
            formValid: function () {
                var $this = this;

                return $this.validate;
            },
            requiredDate: function () {
                let result = false;
                if (this.sendDate == null) {
                    result = true;
                }

                return result;
            },
            getCityFromList: function () {
                var $this = this;
                let result = [];
                let resultIds = [];
                let list = [];

                list.push({title: 'Выберите город', value: null});

                $.each($this.directions, function( index, item ) {
                    if (resultIds.indexOf(item.cityFrom.id) === -1) {
                        list.push(item.cityFrom);
                        resultIds.push(item.cityFrom.id);
                    }
                });

                list.sort(ff.comparePosition);

                $.each(list, function( index, item ) {
                    result.push({title: item.title, value: item.id });
                });

                return result;
            },
            getCityToList: function () {
                var $this = this;
                let result = [];
                let resultIds = [];
                let list = [];

                list.push({title: 'Выберите город', value: null});

                $.each($this.directions, function( index, item ) {
                    // Города не могут совпадать
                    // Делаем список городов, в которые доступна доставка из города отправления
                    if (($this.cityFrom.value !== item.cityTo.id) && (!parseInt($this.cityFrom.value) || $this.cityFrom.value === item.cityFrom.id)) {
                        if (resultIds.indexOf(item.cityTo.id) === -1) {
                            list.push(item.cityTo);
                            resultIds.push(item.cityTo.id);
                        }
                    }
                });

                list.sort(ff.comparePosition);

                $.each(list, function( index, item ) {
                    result.push({title: item.title, value: item.id });
                });

                // Если мы построили список и в нем нет выбранного города, заменяем на "Выберите город"
                if ($this.cityTo && resultIds.indexOf($this.cityTo.value) === -1) {
                    $this.cityTo = result[0];
                }


                return result;
            },
        },
        watch: {
            'cityTo': function (val) {
                this.changeDirection();
            },
            'cityFrom': function (val) {
                this.changeDirection();

                this.showErrorCity();
                this.sendDate = null;
                this.setPickerText('');
            },
            weight: function (val) {

            },
            currentPricePerKilo: function () {
                this.auctionPickUp();
            },
            maxWeight: function (val) {
                if (parseInt(val) > this.maxWeightPallets) {
                    this.maxWeight = this.maxWeightPallets;
                }

                if (this.maxWeight < 1 && this.maxWeight != null && this.maxWeight != '') {
                    this.maxWeight = 1;
                }
            },
            maxCount: function (val) {
                if (parseInt(val) > this.maxCountPallets) {
                    this.maxCount = this.maxCountPallets;
                }

                if (this.maxCount < 1 && this.maxCount != null && this.maxCount != '') {
                    this.maxCount = 1;
                }
            },
            direction: function () {
                this.auctionUpdate();
            },
            nextPriceTime: function () {
                if (this.nextPriceTime == 0) {
                    this.priceHighlighting = false;
                    this.auctionUpdate();
                    this.auctionPickUp();
                }
            },
            priceHighlighting: function () {
                ff.d3graphUpdateDotRed('#chart', this.currentPriceStep, this.priceHighlighting);
                ff.d3graphUpdateDotRed('#chart-big', this.currentPriceStep, this.priceHighlighting);
            },
            vat: function () {
                this.auctionUpdate();
                this.auctionPickUp();
            },
        },
        mounted : function () {
            var $this = this;

            $this.loadStockWorkingHours();
            $this.loadDataGraph(function(){
                $this.showSmallGraph();
                $this.showBigGraph();
            });
            $this.auctionUpdate();

            if (this.route) {
                this.setDirection(this.route);
            }

            setInterval(function(){
                $this.nextPriceTime--;
                $this.nextPriceTimeUpdate();
            }, 1000);

            $this.showAdditionalPopups();
        }

    }
</script>
