#overload, #wmsauth, #wms-pallets-shipping-list,
#wms-pallets-shipping,
#wms-pallets-send,
#wms-pallets-issue,
#register,
#changePassword
{
    visibility: hidden;
}

#orders {
    visibility: visible;
}

.pagination li.disabled {
    cursor: default;
}

.form-group.disabled .bootstrap-select{
    pointer-events:none;
    cursor: default;
    opacity: 0.7;
}

.profile-column .form-group.error .bootstrap-select>.dropdown-toggle {
    background-color: #fff!important;
    border: 2px solid #ef483e!important;
}

.profile-wrapper .def-form .order-info-item .error .bootstrap-select>.dropdown-toggle {
    background-color: #fff!important;
    border: 2px solid #ef483e!important;
}

.order-buttons li .disabled {
    color: #cfcfcf!important;
    background-image: url(../img/arrow-nonactive.svg);
}

.pallets-wrapper:last-of-type {
    margin-bottom: 100px;
}

#chart.chart {
    width: 416px;
}

#chart.chart .current-circle {
    fill: rgba(216,216,216,.5)!important;
    fill-opacity: 1!important;
}

#chart-big .current-circle {
    fill: rgba(216,216,216,.5)!important;
    fill-opacity: 1!important;
}

#chart.chart .current-circle.red {
    fill: #ef483e!important;
    fill-opacity: 1!important;
}

#chart-big .current-circle.red {
    fill: #ef483e!important;
    fill-opacity: 1!important;
}

.order-doc img {
    padding-right: 10px;
}

.pdf div.page
{
    page-break-after: always;
    page-break-inside: avoid;
}

.chart-popup .chart-wrapper .chart .current-text-price {
	fill: rgba(216,216,216,.5)!important;
}

.chart-popup .chart-wrapper .chart .current-text-quantity {
	fill: rgba(216,216,216,.5)!important;
}

.chart-popup .chart-wrapper .chart .current-text-price.red {
    fill: #ef483e!important;
}

.chart-popup .chart-wrapper .chart .current-text-quantity.red {
    fill: #ef483e!important;
}

.row-buttons li:nth-child(2) svg {
    position: relative;
    top: auto;
}

.row-buttons li:nth-child(2):hover svg path{
    fill:#ef483e;
    stroke: #ef483e;
}

.row-buttons .order-edit-print svg {
    position: relative!important;
    top: 4px!important;
}

.row-buttons .order-edit-print:hover svg path{
    fill:#ef483e!important;
    stroke:transparent!important; 
}

.compare-graph .graph-columns li.bigger-column:nth-child(2):before {
    left: -41px;
}

.btn-default.focus, .btn-default:focus{
  background-color: #ef483e;
  color: #fff;
}

.order-row .order-column .btn-group.lined-tabs {
    min-height: 30px;
}

.loading.load:after {
    display: none;
}

.loading.load:before {
    display: none;
}

.order-docs li:hover .sub-menu-docs {
    background-color: #fff;
    z-index: 2;
}

.scb_phone_but,
#scb_bg{
  filter:none !important;
}

.form-row.finished .form-group {
    width: 33.33%;
}
.form-row.finished .form-group:last-child{padding-left:80px;}

.sticky-total {
    top: 0;
}

#passportCode {
    margin-bottom: 40px;
}

.main-popup .back-link{margin-right:30px;}

.order-buttons .btn-default.disabled:focus {
    background-color: #f6f6f6!important;
    color: #cfcfcf!important;
    background-image: none;
}

.order-row .order-column .tab-content.lined-tabs .order-settings-buttons .back-link {
    background-color: transparent;
    padding: 11px 25px 11px 0px;
    background: none;
    font-size: 15px;
    font-weight: 700;
    color: #7b7e83;
    float: left;
    cursor: pointer;
}

.pagination>li:not(.active)>a:focus,.pagination>li:not(.active)>span:focus{
  border-bottom: 2px solid transparent !important;
}

.main-popup .back-link{
  display: inline-block;
  margin-right: 25px;
  font-weight: bold;
  width: auto;
  font-size: 15px;
  color: #bababa;
  text-align: center;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
    opacity: 0.6;
}

.link-with-decoration {
    text-decoration:none;
    border-bottom: 1px solid black;
}

.custom-autocomplete-select button {
    display:none !important;
}

.custom-autocomplete-select div.dropdown-menu {
    margin-top: -12px !important;
    top: 0px !important;
    width: 500px;
    margin-top: -9px !important;
}

.loading {
    max-height: 300px;
    overflow: hidden;
}

.loading.load {
    max-height: none;
    overflow: visible;
}

.consignment-table .order-open .js-open-order {
    pointer-events: initial;
}

.personal-orders.three-columns .order-column:nth-child(3) {
    float: left;
}

.personal-orders.three-columns .order-column:nth-child(4) {
    float: right;
}

.personal-orders.three-columns .order-column {
    width: 250px;
}

.disabled-blur {
    opacity: 0.6;
    pointer-events: none;
}

input.form-control.error {
    background-color: #fff!important;
    border: 2px solid #ef483e!important;
}

.custom-autocomplete-select .bootstrap-select {
    position: absolute;
}

.shipment-mover-table thead th:first-child {
    width: 129px;
}

@media only screen and (max-width: 1200px) {
    .wizard .previous {
        display: none!important;
    }
}

#header .navbar-right li .btn-rounded{
    padding: 5px 21px;
}
.article-main-content p{
    opacity: 1;
    color: rgba(52,53,57,0.5);
}

.article-main-content ul li {
    color: rgba(20, 20, 22, 0.5);
}

@media only screen and (max-width: 767px){
    .main-popup.compare-popup .mfp-close {
        right: -10px;
        top: -35px;
    }
}