<template>
    <tbody v-if="batch">
        <tr :id="'batch-header'+batch.id">
            <td class="batch-number" v-bind:class="{'disabled' : !batch.isRemoveExactStatus }">
                <label class="control control--checkbox terms">
                    <input type="checkbox" :value="batch.id" />
                    <div class="control__indicator"></div>
                </label>
                <span>{{ batch.id }}</span>
            </td>
            <td class="batch-date">
                <span>{{ formatDate(batch.receptionAt) }}</span>
                <span class="small">{{ formatTime(batch.receptionAt) }}</span>
            </td>
            <td class="batch-date">
                <span>{{ formatDate(batch.issueAt) }}</span>
                <span class="small">{{ formatTime(batch.issueAt) }}</span>
            </td>
            <td class="batch-price text-right">
                <span v-if="batch.overload">По договору</span>
                <span v-else>{{ batch.price }} ₽</span>
            </td>
            <td class="batch-status text-right btn-status">
                <span class="bordered-btn lighter" v-bind:class="batch.statusClass">{{ batch.status }}</span>
            </td>
            <td class="order-open" v-on:click="toggleBatch(batch.id)">
            <span class="js-open-batch" v-bind:class="{active: batchId == batch.id}">
                <img src="/img/down-arrow.svg" alt="">
            </span>
            </td>
        </tr>
    
        <tr :id="'batch-detail'+batch.id" :data-batch-details="'batch'+batch.id" class="batch-details" v-if="batch && batchId == batch.id" style="display: table-row; width: 100%;">
            <td colspan="6">
    
                <div v-if="batch.isCreated">
                    <files v-if="!loadingBatch" :order="batch" :fileGroups="fileGroups"></files>
                </div>
    
                <div class="order-row order-select-driver">
                    <div class="order-column order-transporter">
                        <div class="order-info-item">
                            <b>Направление:</b>
                            {{ batch.direction.title }}
                        </div>
                        <div class="order-info-item">
                            <b>Общий вес:</b>
                            {{ batch.totalWeight }} кг
                        </div>
                        <div class="order-info-item">
                            <b>Количество палет:</b>
                            {{ batch.totalPallets }}
                        </div>
                    </div>
                    <div class="order-column">
                        <div class="order-info-item">
                            <b>Точка отправления:</b>
                            <a class="link-with-decoration" target="_blank" :href="'/stock/print/' + batch.stockFrom.id" title="Распечатать карту">
                                {{ batch.stockFrom.address }}
                            </a>
                        </div>
                        <div class="order-info-item">
                            <b>Точка доставки:</b>
                            <a class="link-with-decoration" target="_blank" :href="'/stock/print/' + batch.stockTo.id" title="Распечатать карту">
                                {{ batch.stockTo.address }}
                            </a>
                        </div>
                    </div>
                    <div class="order-column" v-show="finishTimeSeconds > 0 && batch.drivers.length == 0 || edit">
                        <form>
                            <div class="form-column">
                                <div class="form-group" style="width: 100%;" v-bind:class="{ error: errors.has('selectDrivers') }">
                                    <label v-show="batch.drivers.length == 0" class="order-driver-label" >Назначьте водителя, иначе партия будет расформирована
                                        <b style="margin-left: 60px;" v-if="!batch.overload">{{ this.time }}</b>
                                    </label>

                                    <v-select
                                            placeholder=""
                                            :clearable="false"
                                            :multiple="false"
                                            v-model="selectDrivers"
                                            label="name"
                                            :options="batch.chooseDrivers"
                                            v-bind:class="{error: errors.has('selectDrivers')}"
                                            v-validate="{required: true}"
                                    >
                                    </v-select>

                                    <label class="error" v-if="errors.has('selectDrivers')">Выберите водителя</label>
                                </div>
                            </div>
                            <div class="edit-buttons">
                                <span class="back" v-if="batch.drivers.length <= 0" v-on:click="stopSend($event)">Отмена</span>
                                <span class="back" v-else="" v-on:click="editBatch($event)">Отмена</span>
                                <a href="javascript:void(0);" v-on:click="sendDrivers()" class="btn-default">
                                    <template v-if="edit">
                                        Редактировать партию
                                    </template>
                                    <template v-else>
                                        Завершить оформление
                                    </template>
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="order-column order-driver" v-if="(finishTimeSeconds <= 0 || batch.drivers.length >=1) && !edit">
                        <div class="order-info-item">
                            <b>Водитель:</b>
                            <template v-for="driver in batch.drivers">
                                {{ driver.name }} <br>
                            </template>
                            <br>
                            <template v-if="batch.sendDate">
                                Ожидаем на складе до {{ formatTime(batch.sendDate) }} <!--по {{ formatTime(getSendDateMax()) }}--> {{ formatDate(batch.sendDate) }}
                            </template>
                            <br>
                            <template v-if="batch.slaDate">
                                Доставить до {{ formatTime(batch.slaDate) }} <!--по {{ formatTime(getSendDateMax()) }}--> {{ formatDate(batch.slaDate) }}
                            </template>
                        </div>
                        <div class="order-edit-icons">
                            <span v-if="batch.overload && !batch.acceptanceAt" v-on:click="acceptancebatch($event)">
                                <img src="/img/ic-ok-active.svg" alt="">
                            </span>
                                <span v-else-if="batch.overload" class="disabled">
                                <img src="/img/ic-ok.svg" alt="">
                            </span>
                                <span v-if="batch.isEdit" v-on:click="editBatch($event)">
                                <img src="/img/ic-edit-active.svg" alt="">
                            </span>
                                <span v-else class="disabled">
                                <img src="/img/ic-edit.svg" alt="">
                            </span>
                                <span v-if="batch.isStopSendExactStatus && !batch.isSuspended" v-on:click="stopSend($event)">
                                <img src="/img/ic-annulment-active.svg" alt="">
                            </span>
                                <span v-else class="disabled">
                                <img src="/img/ic-annulment.svg" alt="">
                            </span>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</template>

<script>
    import Vue from 'vue';
    import ff from '../../../vueconfig.js';
    import Files from '../../../block/files.vue';
    import vSelect from 'vue-select';
    import DatePicker from 'vue2-datepicker';
    import VModal from 'vue-js-modal';
    import moment from 'moment';

    Vue.use(VModal);

    export default {
        name: 'batchItem',
        props: ['batchItem', 'open'],
        components: {
            Files,
            DatePicker,
            vSelect
        },
        data() {
            return {
                loadingBatch: false,
                step: 1,

                selectDrivers: null,
                mask: ff.mask(),
                maskfilter: ff.filter(),

                batchId: null,

                fileGroups: [],
                edit: false,

                time: null,

                finishTime: null,
                finishTimeSeconds: null,
            }
        },
        computed: {
            batch:{
                get(){
                    return this.batchItem;
                },
                set(field){
                    this.$emit('update:field', field);
                }
            },

        },
        created() {

        },
        destroyed() {

        },
        methods: {
            formatPhone: function (phone) {
                return ff.formatPhone(phone);
            },

            formatDateTime: function (phone) {
                return ff.formatDateTime(phone);
            },

            formatDate: function (phone) {
                return ff.formatDate(phone);
            },

            formatTime: function (phone) {
                return ff.formatTime(phone);
            },

            toggleBatch: function(batchId) {
                let $this = this;

                if ($this.batchId == batchId) {
                    $this.batchId = null;
                } else {
                    $this.loadBatch(batchId)
                }
            },

            editOrder: function($event) {
                let $this = this;

                if (!$this.edit) {
                    $this.edit = true;
                    return false;
                } else {
                    $this.edit = false;
                }

                return false;
            },

            getSendDateMax: function() {
                if (this.batch && this.batch.sendDate) {
                    let date = new Date(this.batch.sendDate.date);
                    date.setHours(date.getHours() + 1);

                    return date;
                }

                return null;
            },

            sendDrivers: function() {

                let $this = this;

                this.$validator.validateAll().then(function(result) {

                    if(!result) {
                        return;
                    }

                    let editStatus = $this.edit;

                    $this.edit = false;

                    let formData = new FormData();
                    formData.append('drivers', $this.selectDrivers.id);

                    let jqxhr = $.ajax({
                        method: 'POST',
                        url: " /api/order/carrier/"+$this.batchId+"/send_drivers#",
                        cache: false,
                        async: false,
                        data: formData,
                        dataType: "json",
                        processData: false,
                        contentType: false,
                    });

                    let data = jqxhr.responseJSON;

                    if (data.status == true) {
                        if (!editStatus) {
                            ff.counterEvent('ZAKAZ_PEREVOZCHIK', 'form_submit');
                        }
                        
                        $this.$parent.loadOrders();
                    }

                });

                return false;
            },

            stopSend: function($event) {
                let $this = this;

                ff.openPopupButton('Вы уверены?', 'Заказ будет удален. После - можно разместить только новый.', '', function () {
                    let jqxhr = $.ajax({
                        method: 'POST',
                        url: " /api/order/carrier/"+$this.batchId+"/stop_send",
                        cache: false,
                        async: false,
                        dataType: "json",
                        processData: false,
                        contentType: false,
                    });

                    let data = jqxhr.responseJSON;

                    if (data.status == true) {
                        $($event.target).addClass('disabled');

                        $this.$parent.loadOrders();
                        ff.closePopup();
                    }
                });

                return false;
            },


            toggleOrder: function(orderId){

                let $this = this;

                if ($this.orderId == orderId) {
                    $this.orderId = null;
                    $this.selectDrivers = null;
                } else {
                    let order = $this.loadOrder(orderId);

                    $.ajax({url: "/api/order/carrier/config", success: function(result){
                            $this.fileGroups = result.data.params.fileGroups;
                        }});
                }

                if (!order) {
                    $this.orderId = null;
                }

                $this.edit = false;
            },

            loadConfig: function($callback) {
                let $this = this;
                $.ajax({url: "/api/order/carrier/config", success: function(result) {
                    $this.fileGroups = result.data.params.fileGroups;

                    if ($callback) {
                        $callback();
                    }
                }});
            },

            loadBatch: function(batchId){
                let $this = this;

                if (batchId) {
                    $this.batchId = batchId;
                }

                let formData = new FormData();

                let jqxhr = $.ajax({
                    method: 'POST',
                    url: "/api/order/carrier/batch/"+this.batchId,
                    cache: false,
                    async: false,
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                });

                let result = jqxhr.responseJSON.data;

                // @todo Этот код не работает, в ответе нет поля data
                if (result.data) {
                    $this.batch = Object.assign({}, result.data.batch);

                    if ($this.batch.drivers) {
                        $.each($this.batch.drivers, function( index, driver ) {
                            $this.selectDrivers = driver.id
                        });
                    }
                }

                if (result.batch) {
                    // В ответе приходит сколько секунд осталось до конца, на случай, если у пользователя неправильно идут часы
                    this.finishTime = moment().add(result.batch['finish_time_diff'], 'seconds');
                }

                return $this.batch;
            },

            editBatch: function($event) {
                var $this = this;

                if (!$this.edit) {
                    $this.edit = true;
                    return false;
                } else {
                    $this.edit = false;
                }

                return false;
            },
            
            finishTimeUpdate: function () {
                let $this = this;

                if (this.finishTime && this.batchId) {
                    if (this.batch && !this.overload) {
                        let currentTime = moment();
                        let duration = moment.duration(this.finishTime.diff(currentTime));

                        let minutes = duration.minutes();
                        let seconds = duration.seconds();

                        this.time = (minutes < 10 ? '0' : '') + minutes + ':' + (seconds < 10 ? '0' : '') + seconds;
                        this.finishTimeSeconds = duration.asSeconds();

                        if (duration.asSeconds() <= 0 && $this.batch.drivers.length == 0 && $this.batch.organization.isWithoutDrivers == false && $this.batch.realStatus == 'reserved') {
                            $this.$parent.removeOrder($this.batch.id);
                            ff.openPopupUrl('/static/popup/time');
                            return false;
                        }
                    }
                }

                return true;
            },
        },
        mounted: function() {
            this.loadConfig();
            
            if (this.open) {
                this.toggleBatch(this.batch.id);
            }
            var $this = this;
            
            let intervalId = setInterval(function(){
                if (!$this.finishTimeUpdate()) {
                    clearInterval(intervalId);
                }
            }, 1000);
        },

        watch: {
            
        }
    }
</script>
