<template>
    <div>
        <div class="loading" v-bind:class="{load: !loading}">
            <div v-if="!orders.length && loadOrdersEmpty" class="order-empty">
                <div class="h3">Партий пока нет</div>
            </div>

            <table class="order-table">
                <thead>
                <tr>
                    <th>
                        <label class="control control--checkbox terms" v-bind:class="{disabled: (orders.length <= 0 || disabledAllOrders)}">
                            <input type="checkbox" id="head-checkbox" :checked="selectedOrders" class="js-select-all"/>
                            <div class="control__indicator"></div>
                        </label>

                        <span>Номер партии</span> <sort :sort="sort" sortBy="id"></sort>

                        <div class="js-delete-orders-wrapper">
                            <div class="js-delete-orders" v-on:click="removeOrders($event)">
                                <img src="/img/delete.svg" alt=""><span>Удалить выбранные заказы</span>
                            </div>
                            <span class="js-undelete">Отмена</span>
                        </div>
                    </th>
                    <th class="order-send" width="156">
                        <span>Время загрузки </span> <sort :sort="sort" sortBy="receptionAt"></sort>
                    </th>
                    <th class="order-dethvery">
                        <span>Время сдачи</span> <sort :sort="sort" sortBy="issueAt"></sort>
                    </th>
                    <th class="order-price text-right" width="138">
                        <span>Доход, ₽</span> <sort :sort="sort" sortBy="cost"></sort>
                    </th>
                    <th class="order-status " colspan="2">
                        <span>Статус:</span>

                        <v-select
                            placeholder="Все"
                            :multiple="false"
                            v-model="filter"
                            label="title"
                            :options="filterStatusList()"
                        >
                        </v-select>
                    </th>
                </tr>
                </thead>
                <template v-for="batch in orders">
                    <batchItem v-if="batch.type == 'batch'"
                               :id="'batch'+batch.id"
                               :batchItem="batch"
                               :open="batchId == batch.id"></batchItem>
                    <batchMileItem v-if="batch.type == 'batch_mile'"
                               :id="'batch'+batch.id"
                               :batchItem="batch"
                               :open="batchId == batch.id"></batchMileItem>
                </template>
            </table>

            <paginate
                    v-scroll-to="{
                        el: '.order-table',
                        container: 'body',
                        duration: 700,
                        easing: 'ease-in',
                        offset: -200,

                        x: false,
                        y: true
                    }"
                    v-if="pagination.pages > 1"
                    :page-count="pagination.pages"
                    :page-range="6"
                    :margin-pages="1"
                    prev-text=""
                    prev-class="unstyled"
                    prev-link-class="btn btn-rect previous"
                    next-class="unstyled"
                    next-link-class="btn btn-rect next"
                    next-text=""
                    :click-handler="changePage"
                    :container-class="'pagination'"
                    :page-class="'page-item'">
            </paginate>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import Paginate from 'vuejs-paginate';
    import VueScrollTo from 'vue-scrollto';
    import BatchItem from './batchItem.vue';
    import BatchMileItem from './batchMileItem.vue';
    import Sort from '../../../block/sort.vue';
    import Files from '../../../block/files.vue';
    import vSelect from 'vue-select';
    import ff from '../../../vueconfig.js';

    import Vuex from 'vuex';
    import storeData from '../../../custom/store/wms.login.store';

    Vue.use(Vuex);
    const store = new Vuex.Store(storeData);

    Vue.use(VueScrollTo);

    export default {
        components: {
            BatchItem,
            BatchMileItem,
            Paginate,
            VueScrollTo,
            Sort,
            Files,
            vSelect
        },
        name: 'orders',
        store,
        props: {
            batchId: null
        },
        data() {
            return {
                orderId: null,
                orders: [],
                order: null,
                filter: this.filterStatusList()[0],
                fileGroups: [],
                time: '',
                pagination: {
                    page : 1,
                    perPage : 10,
                    pages : 1,
                },
                loadOrdersEmpty: true,
                mask: ff.mask(),
                sort: {
                    by: 'id',
                    direction: 'desc'
                },
                edit: false,
                loading: true
            }
        },
        methods: {
            filterStatusList: function (phone) {
                let list = [];

                list.push({title: 'Все', value: ''});
                list.push({title: 'требует оформления', value: 'reserved'});
                list.push({title: 'ожидает загрузки', value: 'ready'});
                list.push({title: 'отказано', value: 'rejected'});
                list.push({title: 'в пути', value: 'shipping'});
                list.push({title: 'подготовка к отгрузке', value: 'preparing'});
                list.push({title: 'ожидает оплаты', value: 'arrived'});
                list.push({title: 'оплачено', value: 'paid'});

                return list;
            },

            formatPhone: function (phone) {
                return ff.formatPhone(phone);
            },

            formatDateTime: function (phone) {
                return ff.formatDateTime(phone);
            },

            formatDate: function (phone) {
                return ff.formatDate(phone);
            },

            formatTime: function (phone) {
                return ff.formatTime(phone);
            },

            changePage: function (page) {
                this.showPage(page);
            },

            showPage: function(page) {
                if (page >= 1 && page <= this.pagination.pages) {
                    this.pagination.page = page;
                    this.loadOrders();
                }
            },

            removeOrders: function($event) {

                let $this = this;

                ff.openPopupButton('Вы уверены?', 'Выбранные заказы будут удалены!', '', function () {

                    let ids = [];
                    $('.order-number').find(":checkbox:checked").each(function () {
                        ids.push($(this).val());
                    })

                    let formData = new FormData();
                    $.each(ids, function (index, id) {
                        formData.append('ids[]', id);
                    })

                    let jqxhr = $.ajax({
                        method: 'POST',
                        url: "/api/order/carrier/remove",
                        cache: false,
                        async: false,
                        data: formData,
                        dataType: "json",
                        processData: false,
                        contentType: false,
                    });

                    let data = jqxhr.responseJSON;

                    if (data.status == true) {

                        $('.order-number').find('input[type="checkbox"]:checked').prop('checked', false);
                        $('.order-table thead').removeClass('blured');
                        $(".js-select-all").prop('checked', false);

                        $this.loadOrders();
                        ff.closePopup();
                    }

                })

                return false;
            },

            loadOrders: function() {

                let $this = this;

                let formData = new FormData();
                if ($this.filter) {
                    formData.append('filter', $this.filter.value);
                }
                formData.append('page', $this.pagination.page);
                formData.append('perPage', $this.pagination.perPage);
                formData.append('sort[by]', $this.sort.by);
                formData.append('sort[direction]', $this.sort.direction);

                let jqxhr = $.ajax({
                    method: 'POST',
                    url: "/api/order/carrier/orders",
                    cache: false,
                    async: false,
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                });

                let result = jqxhr.responseJSON;

                if (result.data) {
                    $this.orders = result.data.orders;
                    $this.pagination = result.data.pagination;

                    if ($this.orders.length && $this.loadOrdersEmpty) {
                        $this.loadOrdersEmpty = false;
                    }

                    if ($this.orders) {
                        $($this.orders).each(function( index, order ) {
                            if (order.overload == false && order.chooseDrivers.length == 0 && order.realStatus == 'reserved') {

                                $(document).ready(function () {
                                    ff.openPopupUrl('/static/popup/no_drivers');
                                });
                                $this.removeOrder(order.id);
                            }
                        });
                    }

                    if (result.data.user_message) {
                        $(document).ready(() => {
                            ff.openPopup(result.data.user_message);
                        });
                    }

                    $this.loading = false;
                }
            },

            removeOrder: function (orderId, callback) {
                let formData = new FormData();
                formData.append('ids[]', orderId);

                let jqxhr = $.ajax({
                    method: 'POST',
                    url: "/api/order/carrier/remove",
                    cache: false,
                    async: false,
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                });

                let data = jqxhr.responseJSON;

                if (data.status == true) {
                    if (callback) {
                        callback();
                        
                        $this.loadOrders();
                    }
                }

                return '';
            },

        },
        mounted: function() {
            let $this = this;

            $this.loadOrdersEmpty = true;

            this.loadOrders(function() {
                if ($this.batchId) {
                    setTimeout(function(){
                        VueScrollTo.scrollTo('#batch'+$this.batchId, 600);
                    }, 500);
                }
            });

            // У нас есть отложенное резервирование партии, пытаемся зарезервировать
            if (window.sessionStorage.getItem('auction_reserve_unauthed')) {
                window.sessionStorage.removeItem('auction_reserve_unauthed');
            }
        },
        computed: {
            disabledAllOrders: function () {
                let $this = this;
                let result = true;
                $.each($this.orders, function( index, order ) {
                    if (order.isRemoveExactStatus) {
                        result = false;
                    }
                });

                return result;
            },
            selectedOrders: function () {
                let $this = this;
                let ids = [];

                $('.order-number').find("checkbox:checked").each(function () {
                    ids.push($(this).val());
                });

                return ids.length;
            }
        },
        watch: {
            'filter': function(val) {
                this.loadOrders();
            },
            'sort.by': function(val) {
                this.loadOrders();
            },
            'sort.direction': function(val) {
                this.loadOrders();
            },
            'pagination.page': function(val) {
                $('.order-table').find('thead').removeClass('blured');
            },
        }
    }
</script>
