<template>
    <tbody v-if="batch">
        <tr :id="'batch-header'+batch.id">
            <td class="batch-number" v-bind:class="{'disabled' : !batch.isRemoveExactStatus }">
                <label class="control control--checkbox terms">
                    <input type="checkbox" :value="batch.id" />
                    <div class="control__indicator"></div>
                </label>
                <span>{{ batch.title }}</span>
            </td>
            <td class="batch-date">
                <span>{{ formatDate(batch.receptionAt) }}</span>
                <span class="small">{{ formatTime(batch.receptionAt) }}</span>
            </td>
            <td class="batch-date">
                <span>{{ formatDate(batch.issueAt) }}</span>
                <span class="small">{{ formatTime(batch.issueAt) }}</span>
            </td>
            <td class="batch-price text-right">
                <span v-if="batch.overload">По договору</span>
                <span v-else>{{ batch.price }} ₽</span>
            </td>
            <td class="batch-status text-right btn-status">
                <span class="bordered-btn lighter" v-bind:class="batch.statusClass">{{ batch.status }}</span>
            </td>
            <td class="order-open" v-on:click="toggleBatch(batch.id)">
            <span class="js-open-batch" v-bind:class="{active: batchId == batch.id}">
                <img src="/img/down-arrow.svg" alt="">
            </span>
            </td>
        </tr>

        <tr :id="'batch-detail'+batch.id" :data-batch-details="'batch'+batch.id" class="batch-details" v-if="batch && batchId == batch.id" style="display: table-row; width: 100%;">
            <td colspan="6">
                <div v-if="batch.isCreated">
                    <files v-if="!loadingBatch" :order="batch" :fileGroups="fileGroups"></files>
                </div>
                <template v-for="shipping in batch.shippings">
                    <template v-if="shipping.type == 'deliver' && batch.isUploadDocuments">
                        <div class="form-group" v-if="!getFileByGroup('act-rt')">
                            <uploadFile
                                    :file="getFileByGroup('act-rt')"
                                    :url="'/api/miles/batch/order-upload-file/'+batch.id"
                                    :name="'Акт ПП'"
                                    :loadName="'Акт ПП загружен'"
                                    :group="'act-rt'"
                            />
                        </div>
                        <div class="form-group" v-if="!getFileByGroup('tn')">
                            <uploadFile
                                    :file="getFileByGroup('tn')"
                                    :url="'/api/miles/batch/order-upload-file/' + batch.id"
                                    :name="'ТН'"
                                    :group="'tn'"
                                    :loadName="'ТН загружена'"
                                    :fileLoaded="getFileByGroup('tn')"
                            />
                        </div>
                    </template>

                    <template v-if="shipping.type == 'pickup' && batch.realStatus == 'waiting'">
                        <div class="form-group">
                            <a target="_blank" :href="'/pdf/batch/mile/tn/'+batch.id">
                                <img src="/img/print-dark.svg" alt="">
                                <span>Распечатать ТН </span>
                            </a>
                        </div>

                        <div class="form-group">
                            <a target="_blank" :href="'/pdf/batch/mile/er/'+batch.id">
                                <img src="/img/print-dark.svg" alt="">
                                <span>Распечатать ЭР </span>
                            </a>
                        </div>
                    </template>

                </template>

                <div class="order-row order-select-driver">
                    <div class="order-column order-transporter">
                        <div class="order-info-item" v-if="batch.totalPriceShipping">
                            <b>Cтоимость дополнительных услуг (без НДС, руб.):</b>
                            {{ order.totalPriceShipping }} руб.
                        </div>


                        <div class="order-info-item">
                            <b>Тип груза:</b>

                            <span v-for="packageType in batch.orderPackagesTypes">
                                <template v-if="packageType">{{ packageType }}<br></template>
                            </span>
                        </div>

                        <div class="order-info-item">
                            <b>Общий вес:</b>
                            {{ batch.orderTotalWeight }} кг
                        </div>
                        <div class="order-info-item">
                            <b>Общий объем:</b>
                            {{ batch.orderTotalVolume }} м<sup>3</sup>
                        </div>

                        <div class="order-info-item" v-if="batch.orderTotalPackages">
                            <b>Количество грузовых мест:</b>

                            <span>{{ batch.orderTotalPackages }}</span>
                        </div>

                    </div>
                    <div class="order-column">
                        <template v-for="shipping in batch.shippings">
                        <div class="order-info-item">
                            <b>Точка отправления:</b>
                            {{ shipping.type == 'pickup' ? shipping.address : shipping.stockObject.address }}
                        </div>
                        <div class="order-info-item" v-if="shipping.date && shipping.type == 'pickup'">
                            <b>Дата и время:</b>
                            <span v-if="shipping.date">{{ formatDateTime(shipping.date) }}</span>
                        </div>

                        <div class="order-info-item">
                            <b>Точка доставки:</b>
                            {{ shipping.type == 'pickup' ? shipping.stockObject.address : shipping.address }}
                        </div>
                        <div class="order-info-item" v-if="shipping.date && shipping.type == 'deliver'">
                            <b>Прибытие водителя:</b>
                            <span v-if="shipping.date">{{ formatDateTime(shipping.date) }}</span>
                        </div>


                        </template>
                    </div>
                    <div class="order-column" v-show="finishTimeSeconds > 0 && batch.drivers.length == 0 || edit">
                        <form>
                            <div class="form-column">
                                <div class="form-group" style="width: 100%;" v-bind:class="{ error: errors.has('selectDrivers') }">
                                    <label v-show="batch.drivers.length == 0" class="order-driver-label" >Назначьте водителя, иначе партия будет расформирована
                                        <b style="margin-left: 60px;">{{ this.time }}</b>
                                    </label>

                                    <v-select
                                            placeholder=""
                                            :clearable="false"
                                            :multiple="false"
                                            v-model="selectDrivers"
                                            label="name"
                                            :options="batch.chooseDrivers"
                                            v-bind:class="{error: errors.has('selectDrivers')}"
                                            v-validate="{required: true}"
                                    >
                                    </v-select>

                                    <label class="error" v-if="errors.has('selectDrivers')">Выберите водителя</label>
                                </div>
                            </div>
                            <div class="edit-buttons">
                                <span class="back" v-if="batch.drivers.length <= 0" v-on:click="stopSend($event)">Отмена</span>
                                <span class="back" v-else="" v-on:click="editBatch($event)">Отмена</span>
                                <a href="javascript:void(0);" v-on:click="sendDrivers()" class="btn-default">
                                    <template v-if="edit">
                                        Редактировать партию
                                    </template>
                                    <template v-else>
                                        Завершить оформление
                                    </template>
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="order-column order-driver" v-if="(finishTimeSeconds <= 0 || batch.drivers.length >=1) && !edit">
                        <div class="order-info-item">
                            <b>Водитель:</b>
                            <template v-for="driver in batch.drivers">
                                {{ driver.name }}
                            </template>

                            <template v-if="batch.sendDate">
                            	<br>
                                Ожидаем на складе до {{ formatTime(batch.sendDate) }} {{ formatDate(batch.sendDate) }}
                            </template>
                        </div>
                        <div class="order-edit-icons">
                            <span v-if="batch.overload && !batch.acceptanceAt" v-on:click="acceptancebatch($event)">
                                <img src="/img/ic-ok-active.svg" alt="">
                            </span>
                                <span v-else-if="batch.overload" class="disabled">
                                <img src="/img/ic-ok.svg" alt="">
                            </span>
                                <span v-if="batch.isEdit" v-on:click="editBatch($event)">
                                <img src="/img/ic-edit-active.svg" alt="">
                            </span>
                                <span v-else class="disabled">
                                <img src="/img/ic-edit.svg" alt="">
                            </span>
                                <span v-if="batch.isStopSendExactStatus && !batch.isSuspended" v-on:click="stopSend($event)">
                                <img src="/img/ic-annulment-active.svg" alt="">
                            </span>
                                <span v-else class="disabled">
                                <img src="/img/ic-annulment.svg" alt="">
                            </span>
                        </div>



                        <template v-if="batch.batchType == 'pickup'">
                        <div v-if="batch.sender">
                            <div class="order-info-item">
                                <b>Отправитель:</b>
                                <span v-if="batch.sender && batch.sender.uridical">
                                {{ batch.sender.type }} {{ batch.sender.companyName }}<br>
                                {{ batch.sender.inn }}<br>
                                {{ batch.sender.contactName }}<br>
                            </span>
                                <span v-else-if="batch.sender && batch.sender.uridical == false">
                                {{ batch.sender.contactName }}, <br>
                                {{ batch.sender.series }} {{ batch.sender.number }}
                            </span>
                            </div>
                            <div class="order-info-item">
                                <b>Контактные данные отправителя:</b>

                                {{ batch.sender.contactPhone }}<br>
                                {{ batch.sender.contactEmail }}
                            </div>

                        </div>
                        </template>

                        <template v-if="batch.batchType == 'deliver'">
                            <div v-if="batch.receiver">
                                <div class="order-info-item">
                                    <b>Получатель:</b>
                                    <span v-if="batch.receiver && batch.receiver.uridical">
                                {{ batch.receiver.type }} {{ batch.receiver.companyName }}<br>
                                {{ batch.receiver.inn }}<br>
                                {{ batch.receiver.contactName }}<br>
                            </span>
                                    <span v-else-if="batch.receiver && batch.receiver.uridical == false">
                                {{ batch.receiver.contactName }}, <br>
                                {{ batch.receiver.series }} {{ batch.receiver.number }}
                            </span>
                                </div>
                                <div class="order-info-item">
                                    <b>Контактные данные получателя:</b>

                                    {{ batch.receiver.contactPhone }}<br>
                                    {{ batch.receiver.contactEmail }}
                                </div>

                            </div>
                        </template>

                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</template>

<script>
    import Vue from 'vue';
    import ff from '../../../vueconfig.js';
    import Files from '../../../block/files.vue';
    import vSelect from 'vue-select';
    import DatePicker from 'vue2-datepicker';
    import VModal from 'vue-js-modal';
    import moment from 'moment';

    Vue.use(VModal);


    import Vuex from 'vuex';
    import storeData from '../../../custom/store/wms.miles-batch.store';

    Vue.use(Vuex);
    const store = new Vuex.Store(storeData);

    import UploadFile from '../../../block/upload-file.vue';


    export default {
        name: 'batchMileItem',
        props: ['batchItem', 'open'],
        store,
        components: {
            Files,
            DatePicker,
            vSelect,
            UploadFile
        },
        data() {
            return {
                loadingBatch: false,
                step: 1,

                selectDrivers: null,
                mask: ff.mask(),
                maskfilter: ff.filter(),

                batchId: null,

                fileGroups: [],
                edit: false,

                time: null,

                finishTime: null,
                finishTimeSeconds: null,
            }
        },
        computed: {
            batch:{
                get(){
                    return this.batchItem;
                },
                set(field){
                    this.$emit('update:field', field);
                }
            },
        },
        created() {

        },
        destroyed() {

        },
        methods: {
            formatDate: function (phone) {
                return ff.formatDate(phone);
            },

            formatTime: function (phone) {
                return ff.formatTime(phone);
            },
            formatDateTime: function (date) {
                return ff.formatDateTime(date);
            },
            toggleBatch: function(batchId) {
                let $this = this;

                if ($this.batchId == batchId) {
                    $this.batchId = null;
                } else {
                    $this.loadBatch(batchId)
                }
            },


            getFileByGroup: function($type) {
                var $this = this;
                var $result = null;

                $.each($this.batch.files, function( index, file ) {
                    if (file.group.slug == $type) {
                        $result = file;
                    }
                });

                return $result;
            },


            editOrder: function($event) {
                let $this = this;

                if (!$this.edit) {
                    $this.edit = true;
                    return false;
                } else {
                    $this.edit = false;
                }

                return false;
            },

            sendDrivers: function() {
                let $this = this;

                this.$validator.validateAll().then(function(result) {
                    if(!result) {
                        return;
                    }

                    let editStatus = $this.edit;
                    $this.edit = false;

                    $this.$store.dispatch('miles/confirmBatch', {
                        'batchId': $this.batchId,
                        'driverId': $this.selectDrivers.id
                    }).then(() => {
                        if (!editStatus) {
                            ff.counterEvent('ZAKAZ_PEREVOZCHIK', 'form_submit');
                        }
                        $this.$parent.loadOrders();
                    }, (result) => {
                        if (result && result.error) {
                            ff.openPopup(result.error);
                        }
                    })
                });

                return false;
            },


            stopSend: function($event) {
                let $this = this;

                if (!this.batch || !this.batch.shippings) {
                    return;
                }

                let comment = '';
                if (this.batch.shippings[0].date) {
                    let shippingDate = moment(this.batch.shippings[0].date);
                    let now = moment();

                    let tmpDate1 = moment(shippingDate).subtract(1, 'day').hours(16).minutes(0);
                    let tmpDate2 = moment(shippingDate).hours(9).minutes(0);

                    if (now > tmpDate2) {
                        comment += 'Отменить партию после 9:00 в день заказа штраф 100% от стоимости партии';
                    } else if (now > tmpDate1) {
                        comment += 'Отменить партию после 16:00 за день до заказа и до 9:00 в день заказа штраф 50% от стоимости партии';
                    }
                }

                ff.openPopupButton('Вы уверены?', 'Заказ будет удален. После - можно разместить только новый. ' + comment, '', function () {
                    $this.$store.dispatch('miles/rejectBatch', {
                        'batchId': $this.batchId
                    }).then(() => {
                        ff.closePopup();
                        $this.$parent.loadOrders();
                    }, (result) => {
                        ff.closePopup();
                        if (result && result.error) {
                            ff.openPopup(result.error);
                        }
                    });
                });

                return false;
            },


            toggleOrder: function(orderId){

                let $this = this;

                if ($this.orderId == orderId) {
                    $this.orderId = null;
                    $this.selectDrivers = null;
                } else {
                    let order = $this.loadOrder(orderId);

                    $.ajax({url: "/api/order/carrier/config", success: function(result){
                            $this.fileGroups = result.data.params.fileGroups;
                        }});
                }

                if (!order) {
                    $this.orderId = null;
                }

                $this.edit = false;
            },

            loadConfig: function($callback) {
                let $this = this;
                $.ajax({url: "/api/order/carrier/config", success: function(result) {
                    $this.fileGroups = result.data.params.fileGroups;

                    if ($callback) {
                        $callback();
                    }
                }});
            },

            loadBatch: function(batchId){
                let $this = this;

                if (batchId) {
                    $this.batchId = batchId;
                }

                let formData = new FormData();

                let jqxhr = $.ajax({
                    method: 'POST',
                    url: "/api/order/carrier/batch/"+this.batchId,
                    cache: false,
                    async: false,
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                });

                let result = jqxhr.responseJSON.data;

                // @todo Этот код не работает, в ответе нет поля data
                if (result.data) {
                    $this.batch = Object.assign({}, result.data.batch);

                    if ($this.batch.drivers) {
                        $.each($this.batch.drivers, function( index, driver ) {
                            $this.selectDrivers = driver.id
                        });
                    }
                }

                if (result.batch) {
                    // В ответе приходит сколько секунд осталось до конца, на случай, если у пользователя неправильно идут часы
                    this.finishTime = moment().add(result.batch['finish_time_diff'], 'seconds');
                }

                return $this.batch;
            },

            editBatch: function($event) {
                var $this = this;

                if (!$this.edit) {
                    $this.edit = true;
                    return false;
                } else {
                    $this.edit = false;
                }

                return false;
            },

            finishTimeUpdate: function () {
                let $this = this;

                if (this.finishTime && this.batchId) {
                    if (this.batch && !this.overload) {
                        let currentTime = moment();
                        let duration = moment.duration(this.finishTime.diff(currentTime));

                        let minutes = duration.minutes();
                        let seconds = duration.seconds();

                        this.time = (minutes < 10 ? '0' : '') + minutes + ':' + (seconds < 10 ? '0' : '') + seconds;
                        this.finishTimeSeconds = duration.asSeconds();

                        if (duration.asSeconds() <= 0 && $this.batch.drivers.length == 0 && $this.batch.organization.isWithoutDrivers == false && $this.batch.realStatus == 'reserved') {
                            $this.$parent.removeOrder($this.batch.id);
                            ff.openPopupUrl('/static/popup/time');
                            return false;
                        }
                    }
                }

                return true;
            },
        },
        mounted: function() {
            this.loadConfig();

            if (this.open) {
                this.toggleBatch(this.batch.id);
            }
            var $this = this;

            let intervalId = setInterval(function(){
                if (!$this.finishTimeUpdate()) {
                    clearInterval(intervalId);
                }
            }, 1000);
        },

        watch: {

        }
    }
</script>
