{% extends 'template/wmspage/template.html.twig' %}

{% block content %}

    <section class="white">
        <div class="container" >

            <div
                    id="wms-pallets-waiting"
                    data-attach-vue="pallet-list"
                    data-url="/api/wms/wmspallet/waiting-pallets"
                    data-title="Готовые паллеты">
            </div>

            <div
                    id="wms-pallets-send"
                    data-attach-vue="pallet-list"
                    data-url="/api/wms/wmspallet/send-pallets"
                    data-title="Паллеты на отгрузку">
            </div>

            <div
                    id="wms-pallets-wait-arrival"
                    data-attach-vue="pallet-list"
                    data-url="/api/wms/wmspallet/wait-arrival-pallets"
                    data-title="Ожидаемые паллеты">
            </div>

            <div
                    id="wms-pallets-issue"
                    data-attach-vue="pallet-list"
                    data-url="/api/wms/wmspallet/issue-pallets"
                    data-title="Паллеты на выдачу">
            </div>
           
        </div>
    </section>

{% endblock %}

{% block footer %}
    {% set docs = [
        { title : 'ЭР', path : '/docs/template/ЭР (перевозчик-ТТ).pdf'},
        { title : 'Доверенность', path : '/docs/template/Доверенность (перевозчик).pdf'},
        { title : 'Оферта', path : '/docs/template/Оферта перевозчику (услуги доставки).pdf'},
    ] %}
    {{ parent() }}
{% endblock %}