<div class="pallet">
    <span v-if="pallet.isShipping == false" v-on:click="unpalleted(pallet, $event)" class="delete-pallet"><img src="{{ asset('img/round-cross.svg') }}" alt=""></span>
    <div class="pallet-row">
        <div class="h5">ID паллеты:</div>
        <b>${ pallet.externalId }</b>
    </div>
    <div class="pallet-row bordered-row">
        <div class="h5">ID грузовых мест:</div>
        <div class="pallet-id-wrapper">
            <b><span v-for="(package,index) in pallet.packages">${ package.externalId }<span v-if="pallet.packages.length > index+1">, </span></span></b>
        </div>

    </div>
    <div class="pallet-row">
        <div class="h5">Вес, кг:</div>
        <input type="text" class="form-control" v-bind:class="{'disabled': pallet.palleted, 'error': isErrorWeightPallet(pallet)}"  v-model="pallet.weight" name="pallet.weight" v-filter="maskfilter.float" min="30" max="1500" placeholder="от 30 до 1500 кг">
    </div>
    <div class="pallet-row">
        <div class="h5">Точка отправления:</div>
        <p>${ pallet.stockFrom.address }</p>
    </div>
    <div class="pallet-row">
        <div class="h5">Точка доставки:</div>
        <p>${ pallet.stockTo.address }</p>
    </div>
    <div class="pallet-row">
        <a target="_blank" :href="'/wms/pdf/pallet/composition/'+pallet.externalId"><img src="{{ asset('img/print-big.svg') }}" alt="">Распечатать места</a>
        <a target="_blank" v-bind:class="{'disabled': !pallet.palleted}" :href="'/wms/pdf/pallet/marking/'+pallet.externalId"><img src="{{ asset('img/print-big.svg') }}" alt="">Распечатать маркировку</a>
    </div>
    <div class="pallet-row">
        <a v-if="pallet.palleted" v-bind:class="{'disabled': pallet.isShipping}" href="#" class="btn-default" v-on:click="unpalleted(pallet, $event)">Расформировать</a>
        <a v-else-if="pallet.palleted == false" href="#" class="btn-default" v-bind:class="{'disabled': (!pallet.weight || parseInt(pallet.weight) <= 0 || parseInt(pallet.weight) < 30 || parseInt(pallet.weight) > 1500)}" v-on:click="palleted(pallet, $event)">Cформировать</a>
    </div>
</div>
