{% extends 'template/wmspage/template.html.twig' %}

{% block content %}

    <section class="white">
        <div class="container">

            <div
                    id="wms-pallets-shipping-list"
                    data-attach-vue="pallet-list"
                    data-url="/api/wms/wmspallet/new-pallets"
                    data-title="Паллеты на выдачу">
            </div>

            <div
                    id="wms-pallets-shipping"
                    data-attach-vue="pallet-manual-create"
            >
            </div>
        </div>
    </section>

{% endblock %}

{% block footer %}
    {% set docs = [
        { title : 'ЭР', path : '/docs/template/ЭР (перевозчик-ТТ).pdf'},
        { title : 'Доверенность', path : '/docs/template/Доверенность (перевозчик).pdf'},
        { title : 'Оферта', path : '/docs/template/Оферта перевозчику (услуги доставки).pdf'},
    ] %}
    {{ parent() }}
{% endblock %}
