{% extends 'template/wmspage/template.html.twig' %}

{% block content %}

    <section class="white">
        <div class="container">
            <div id="wms-pallets-shipping-list">
                <div class="pallet-wrap-title">
                    <div class="h2">Сформировать паллеты</div>
                    <!--<div class="inline-form">
                        <form id="orderSearch" class="search">
                            <div class="form-group">
                                <input type="text" class="form-control" required>
                            </div>
                        </form>
                    </div>-->
                </div>
                <div class="pallets-wrapper " v-if="orders.length > 0">
                    <template v-for="pallet,index in orders" :key="index">
                        {% include 'wms/pallet/pallet.html.twig' %}
                    </template>
                </div>
            </div>
            <div id="wms-pallets-shipping">
                <div class="create-pallets">

                    <div class="h2">Сформировать вручную</div>
                    <div class="form-column" v-bind:class="{ error: errors.has('stockTo') }">
                        <b>Точка доставки*</b>
                        <select v-model="stockTo" name="stockTo" id="stockTo" class="selectpicker" v-validate="{required : true}">
                            <option value="">Выберите точку доставки</option>
                            <option v-for="stockItem in stocksTo"  :value="stockItem.id" selected="stockTo.id == stockItem.id">
                                ${ stockItem.address }
                            </option>
                        </select>
                    </div>
                    <div class="form-column">
                        <div class="form-group small mr-0">
                            <label for="orderPallet">ID паллеты</label>
                            <div class="styled-input-number">
                                <input type="text" min="1" step="1" readonly class="disabled" :value="palletId" v-model="palletId" v-bind:class="{ error: errors.has('palletId') }" v-validate="{required: true}" :name="palletId">
                                <div class="input-number-nav">
                                    <div class="input-number-button input-number-up" v-on:click="upPalletId(palletId)">
                                        <img src="{{ asset('img/small-up.svg') }}" alt="">
                                    </div>
                                    <div class="input-number-button input-number-down" v-on:click="downPalletId(palletId)">
                                        <img src="{{ asset('img/small-down.svg') }}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group small">
                            <label for="createPalletsWeight">Вес грузовых мест, кг:</label>
                            <input type="text" class="form-control no-border"  v-model="weight" v-filter="maskfilter.int" name="weight" id="weight" v-bind:class="{ error: errors.has('weight') }" placeholder="" v-validate="{required: true}">
                        </div>
                    </div>
                </div>

                <span class="consist">Сформировать паллету</span>
                <table class="order-table shipment-table">
                    <thead>
                    <tr>
                        <th>
                            <!--<label class="control control--checkbox terms">
                                <input type="checkbox" id="head-checkbox" v-model="selectAll" class="js-select-all" v-on:change="selectAllOrders()" :checked="isSelectAll" />
                                <div class="control__indicator"></div>
                            </label>-->
                            <span>ID места</span>
                            {% include 'personal/block/sort.html.twig' with {'sortBy' : 'id'} %}
                            <!--<div class="js-delete-orders-wrapper" v-on:click="unselectOrders()">
                                <span class="js-undelete">Отмена</span>
                            </div>-->
                        </th>
                        <th class="order-send">
                            <span>Доставить до:</span>
                            {% include 'personal/block/sort.html.twig' with {'sortBy' : 'deliveryToAt'} %}
                        </th>
                        <th class="order-status">
                            <span>Направление:</span>
                            {#<select v-model="filter.direction" name="filter.direction" id="filter.direction" class="selectpicker">
                                <option value="">Все</option>
                                <option :value="direction.id" v-for="direction in directions">
                                    ${ direction.title }
                                </option>
                            </select>#}
                        </th>
                        <th class="order-price text-right">
                            <span>Вес, кг:</span>
                            {% include 'personal/block/sort.html.twig' with {'sortBy' : 'weight'} %}
                        </th>
                    </tr>
                    </thead>
                    <tr v-for="package in packages">
                        <td class="order-number">
                            <label class="control control--checkbox terms" v-bind:class="{ disabled: !isCanSelectedPackage(package) }">
                                <input type="checkbox" v-on:change="selectOrder(package)" :checked="isSelectOrder(package)">
                                <div class="control__indicator"></div>
                            </label>
                            <span>${ package.externalId }</span>
                        </td>
                        <td class="order-date">
                            <span>${ formatDate(package.deliveryToAt) }</span>
                            <span class="small">${ formatTime(package.deliveryToAt) }</span>
                        </td>
                        <td class="order-delivery">
                            <span v-if="package.direction">${ package.direction.title }</span>
                        </td>
                        <td class="order-weight text-right">${ package.weight }</td>
                    </tr>
                </table>

                {% include 'personal/block/pagination.html.twig' %}

                <div class="clearfix"></div>
                <div class="order-column-buttons pull-right">
                    <span class="btn-default pull-right" v-on:click="palleted($event); return false;">Паллетировать</span>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block footer %}
    {% set docs = [
        { title : 'ЭР', path : '/docs/template/ЭР (перевозчик-ТТ).pdf'},
        { title : 'Доверенность', path : '/docs/template/Доверенность (перевозчик).pdf'},
        { title : 'Оферта', path : '/docs/template/Оферта перевозчику (услуги доставки).pdf'},
    ] %}
    {{ parent() }}
{% endblock %}


{% block stylesheets %}
    <script src="{{ asset('js/wms/pallets-shipping-list.js') }}"></script>
    <script src="{{ asset('js/wms/pallets-shipping.js') }}"></script>
{% endblock %}
