{% extends 'template/emailpage/template.html.twig' %}

{% block content %}
    <h1>Детализация заказа</h1>
    <p>Стоимость заказа: {{ order.price }}руб.</p>

    <table>
        <tbody>
        {% for priceDetail in order.jsonSerialize.priceDetails %}
        <tr>
            <td>{{ priceDetail.name }}</td>
            <td>
                {{ priceDetail.price }}руб.
                {% if priceDetail.priceVat %}
                    в том числе НДС (20%), {{ priceDetail.priceVat }}руб.
                {% else %}
                    без учета НДС
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
