<template>
    <div>
        <modal name="city-select" :height="'auto'" :adaptive="true">
            <div class="main-popup city-select-popup">
                <div class="h2">Выберите город</div>

                <template v-for="city in cities">
                    <div style="cursor: pointer;" @click="changeCity(city.id)" class="city-select__item">{{ city.title }}</div>
                </template>
            </div>
        </modal>
    </div>
</template>



<script>

    export default {
        name: 'city-select',

        methods: {
            showCitySelect: function () {
                this.$modal.show('city-select');
            },
            changeCity: function (cityId) {
                this.$modal.hide('city-select');
                this.$emit('city_changed', cityId);
            }
        },

        computed: {
            cities() {
                return this.$store.getters['config/cities'];
            }
        },
        mounted: function() {

        }
    }
</script>



