{% extends 'template/wmspage/template.html.twig' %}

{% block content %}
    {% set print = print|default('') %}
    <div id="wms-order" data-attach-vue="wms-order-create" data-print="{{ print|json_encode()|raw }}" data-order-id="{{ order.id }}"></div>

{% endblock %}

{% block footer %}
    {% set docs = [
        { title : 'ЭР', path : '/docs/template/ЭР (ТТ-отправитель).pdf'},
        { title : 'Доверенность', path : '/docs/template/Доверенность (отправитель).pdf'},
        { title : 'Оферта', path : '/docs/template/Оферта отправителю (комплекс услуг по доставке).pdf'}
    ] %}

    {{ parent() }}
{% endblock %}
