{% extends 'template/wmspage/template.html.twig' %}

{% block content %}

    <section class="white" id="orders" data-attach-vue="wms-orders"></section>

{% endblock %}

{% block footer %}
    {% set docs = [
        { title : 'ЭР', path : '/docs/template/ЭР (ТТ-отправитель).pdf'},
        { title : 'Доверенность', path : '/docs/template/Доверенность (получатель).pdf'},
        { title : 'Оферта', path : '/docs/template/Оферта отправителю (комплекс услуг по доставке).pdf'}
    ] %}
    {{ parent() }}
{% endblock %}
