{% extends 'site/page/page.html.twig' %}

{% block oldfiles %}
    {% if page.oldFiles.count > 0 %}
    <div class="b-offer b-offer__wrap">
        <b>Предыдущие оферты:</b>
        <div class=" b-offer__list">
            {% for file in page.oldFiles %}
                <a href="{{ path('sonata_media_download', {'id': (file.media|sonata_urlsafeid)}) }}" class="b-offer__link">{{ file.title }}</a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}