{% extends 'template/innerpage/template.html.twig' %}

{% block content %}


    <section class="white" style="padding: 60px 0; text-align: justify;">
        <div class="container">
            <h1 class="h3"> {{ page.title }}</h1>

            {{ page.description|raw }}

            <br><br>
            <br><br>
            {% for file in page.files %}
            <div class="text-center">
                <a download target="_blank" href="{% path file.media, 'reference' %}" class="btn btn-default download-offer">{{ file.title }}</a>
            </div>
            {% endfor %}

            {% block oldfiles %}
                {% for file in page.oldFiles %}
                    <div class="text-center">
                        <a download target="_blank" href="{% path file.media, 'reference' %}" class="btn btn-default download-offer">{{ file.title }}</a>
                    </div>
                {% endfor %}
            {% endblock %}

        </div>
    </section>

{% endblock %}