<template>
    <ul v-if="fileGroups" class="order-docs">
        <template v-for="group in fileGroups">
            <li class="" v-bind:class="{'disabled' : filesByGroup(group).length == 0}">
                <template v-if="group.showList && filesByGroup(group).length > 0">
                    <a target="_blank" href="#" class="download-doc"><img src="/img/pdf-dark.svg" alt="">
                        &nbsp;{{ group.title }}
                    </a>
                    <template v-if="filesByGroup(group).length > 0">
                        <img src="/img/down-arrow.svg" alt="">
                        <ul class="sub-menu-docs">
                            <li v-for="(file, index) in filesByGroup(group)">
                                <a target="_blank" :href="file.file" class="download-doc"><img src="/img/pdf-dark.svg" alt="">
                                    <template v-if="group && group.showTitle">&nbsp;{{ group.title }}</template>&nbsp;{{ file.title }}
                                </a>
                            </li>
                        </ul>
                    </template>
                </template>
                <template v-else-if="filesByGroup(group).length > 0">
                    <a target="_blank" :href="firstPathFileByGroup(group)" class="download-doc"><img src="/img/pdf-dark.svg" alt="">
                        &nbsp;{{ group.title }}
                    </a>

                    <template v-if="filesByGroup(group).length > 1">
                        <img src="/img/down-arrow.svg" alt="">
                        <ul class="sub-menu-docs">
                            <li v-for="(file, index) in filesByGroup(group)">
                                <a target="_blank" :href="file.file" class="download-doc"><img src="/img/pdf-dark.svg" alt="">
                                    <template v-if="group && group.showTitle">&nbsp;{{ group.title }} </template>&nbsp;{{ file.title }}
                                </a>
                            </li>
                        </ul>
                    </template>
                </template>
                <div v-else>
                    <a href="#" class="download-doc disabled">
                        <img src="/img/pdf-dark.svg" alt="">
                    </a>
                    {{ group.title }}
                </div>
            </li>
        </template>


        <li class="" v-bind:class="{'disabled' : filesWithoutGroups(fileGroups).length == 0}">
            <a href="#" class="download-doc"><img src="/img/pdf-dark.svg" alt="">
                &nbsp;Другие документы
            </a>
            <img src="/img/down-arrow.svg" alt="">

            <ul class="sub-menu-docs" v-if="filesWithoutGroups(fileGroups).length > 0">
                <li v-for="(file, index) in filesWithoutGroups(fileGroups)">
                    <a target="_blank" :href="file.file" class="download-doc"><img src="/img/pdf-dark.svg" alt="">
                        <template v-if="file.group && file.group.showTitle">&nbsp;{{ file.group.title }}</template>&nbsp;{{ file.title }}
                    </a>
                </li>
            </ul>
        </li>

        <li class="docs-icon" v-if="order.isEditDeliver">
        <span class="js-edit-order-popup"
              v-on:click="openPopupOrderDelivery(order)">
            <img src="/img/email-rounded.svg" alt="">
        </span>
        </li>
    </ul>


</template>

<script>
    export default {
        name: 'files',
        props: ['fileGroups', 'order'],
        data() {
            return {

            }
        },
        computed: {

        },
        created() {

        },
        destroyed() {

        },
        methods: {
            filesByGroup: function (group) {
                let $this = this;

                let files = [];
                if ($this.order && $this.order.files) {
                    $.each($this.order.files, function( index, file ) {
                        if (file.group && file.group.id == group.id) {
                            files.push(file);
                        }
                    })
                }

                return files;
            },

            filesWithoutGroups: function (groups) {
                let $this = this;

                let groupIds = [];
                $.each(groups, function( index, group ) {
                    groupIds.push(group.id);
                })

                let files = [];
                if ($this.order && $this.order.files) {
                    $.each($this.order.files, function( index, file ) {
                        if (!file.group || file.group && $.inArray(file.group.id, groupIds) == -1) {
                            files.push(file);
                        }
                    })
                }

                return files;
            },

            firstPathFileByGroup: function (group) {
                let files = this.filesByGroup(group);
                if (files.length > 0) {
                    return files[0].file;
                }

                return null;
            },
        }
    }
</script>
