<template>
    <div>
        <div class="form-row" v-if="user">
            <div class="btn-group" >
                <label class="control control--radio" v-bind:class="{unchecked: user.uridical == 1}">Частное лицо
                    <input ref="uridical1" type="radio" :disabled="!isEdit" v-on:change="user.uridical = 0" id="uridical1" v-bind:class="{checked: user.uridical == 0}" name="user.uridical" v-validate="{required: false}" value="0">
                    <div class="control__indicator"></div>
                </label>

                <label class="control control--radio" v-bind:class="{unchecked: user.uridical == 0}">Юридическое лицо
                    <input ref="uridical2" type="radio" :disabled="!isEdit" v-on:change="user.uridical = 1" id="uridical2" v-bind:class="{checked: user.uridical == 1}" name="user.uridical" v-validate="{required: false}" value="1">
                    <div class="control__indicator"></div>
                </label>
            </div>

            <div class="tab-content">
                <div v-if="!user.uridical">
                    <div class="form-column full">
                        <div class="form-group">
                            <label>ФИО*</label>
                            <input ref="contactName" type="text" v-filter="maskfilter.cyrillic" v-bind:class="{'disabled': !isEdit, error: errors.has('contactName')}" :disabled="!isEdit" class="form-control" v-model="user.contactName" name="contactName" v-validate="{required: user.uridical == 0, cyrillic : true}">
                            <label v-if="errors.has('contactName')" class="error">Заполните поле</label>
                        </div>
                    </div>

                    <div v-if="user.issuance === 'passport' || user.issuance == ''">
                        <div class="form-column lined">
                            <div class="form-group small">
                                <label >Серия паспорта*</label>
                                <input ref="series" type="text" class="form-control" :disabled="!isEdit" v-bind:class="{error: errors.has('series'), 'disabled': !isEdit}" v-model="user.series" name="series" v-validate="{required: user.uridical == 0 && user.issuance == 'passport'}">
                                <label v-if="errors.has('series')" class="error">Заполните поле</label>
                            </div>
                            <div class="form-group bigger">
                                <label>Номер паспорта*</label>
                                <input ref="number" type="text" class="form-control" :disabled="!isEdit" v-bind:class="{error: errors.has('number'), 'disabled': !isEdit}" v-model="user.number" name="number" v-validate="{required: user.uridical == 0 && user.issuance == 'passport'}">
                                <label v-if="errors.has('number')" class="error">Заполните поле</label>
                            </div>
                        </div>
                        <div class="form-column full">
                            <div class="form-group">
                                <label>Телефон*</label>
                                <input ref="contactPhone1" type="text" v-mask="mask.phone" class="form-control " :disabled="!isEdit" v-bind:class="{error: errors.has('contactPhone'), 'disabled': !isEdit}" v-model="user.contactPhone" name="contactPhone" v-validate="{required: user.uridical == 0 && user.issuance == 'passport', phone: true}">

                                <i class="tooltip-link" v-b-tooltip.hover="{'placement': 'bottom', 'title': 'Достоверный номер телефона с поддержкой SMS-сообщений, с целью подтверждения личности при выдаче заказа. Получатель также сможет отследить заказ'}" >
                                    <img src="/img/info-gray.svg" alt="">
                                </i>

                                <label v-if="errors.has('contactPhone')" class="error">Заполните поле</label>
                            </div>
                        </div>
                        <div class="form-column full">
                            <div class="form-group">
                                <label>Email*</label>
                                <input ref="contactEmail" type="email" class="form-control" :disabled="!isEdit" v-bind:class="{error: errors.has('contactEmail'), 'disabled': !isEdit}" v-model="user.contactEmail" name="contactEmail" v-validate="{required: user.uridical == 0 && user.issuance == 'passport', email: true}">

                                <i class="tooltip-link" v-b-tooltip.hover="{'placement': 'bottom', 'title': 'На эту почту будут отправлены детали заказа получателю.'}" >
                                    <img src="/img/info-gray.svg" alt="">
                                </i>

                                <label v-if="errors.has('contactEmail')" class="error">Заполните поле</label>
                            </div>
                        </div>
                    </div>

                    <div v-show="user.issuance === 'code'">
                        <div class="form-column lined">
                            <div class="form-group small">
                                <label>Код</label>
                                <input ref="code" type="text" class="form-control" v-bind:class="{error: errors.has('code'), 'disabled': !isEdit}" readonly v-model="user.code" name="code" v-validate="{required: user.uridical == 0 && user.issuance == 'code'}" >
                                <label v-if="errors.has('code')" class="error">Заполните поле</label>
                            </div>
                            <div class="form-group bigger">
                                <label>Телефон*</label>
                                <input ref="contactPhone2" type="text" v-mask="mask.phone" class="form-control" :disabled="!isEdit" v-bind:class="{error: errors.has('contactPhone'), 'disabled': !isEdit}" v-model="user.contactPhone" name="contactPhone" v-validate="{required: user.uridical == 0 && user.issuance == 'code', phone: true}">

                                <i class="tooltip-link" v-b-tooltip.hover="{'placement': 'bottom', 'title': 'Достоверный номер телефона с поддержкой SMS-сообщений, с целью подтверждения личности при выдаче заказа. Получатель также сможет отследить заказ'}" >
                                    <img src="/img/info-gray.svg" alt="">
                                </i>

                                <label v-if="errors.has('contactPhone')" class="error">Заполните поле</label>
                            </div>
                        </div>
                        <div class="form-column full">
                            <div class="form-group">
                                <label>Email*</label>
                                <input ref="contactEmail" type="email" class="form-control" :disabled="!isEdit" v-bind:class="{error: errors.has('contactEmail'), 'disabled': !isEdit}" v-model="user.contactEmail" name="contactEmail" v-validate="{required: user.uridical == 0 && user.issuance == 'code', email: true}">

                                <i class="tooltip-link" v-b-tooltip.hover="{'placement': 'bottom', 'title': 'На эту почту будут отправлены детали заказа получателю.'}" >
                                    <img src="/img/info-gray.svg" alt="">
                                </i>

                                <label v-if="errors.has('contactEmail')" class="error">Заполните поле</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div v-if="user.uridical">
                    <div class="form-column lined">
                        <div class="form-group small">
                            <label>Организация*</label>

                            <v-select
                                    placeholder=""
                                    :clearable="false"
                                    :multiple="false"
                                    :reduce="item => item.slug"
                                    v-model="user.type"
                                    label="title"
                                    :options="organizationTypes"
                                    v-bind:class="{error: errors.has('user.type')}"
                                    v-validate="{required: true}"
                            >
                            </v-select>
                        </div>
                        <div class="form-group bigger">
                            <label>&nbsp;</label>
                            <input ref="companyName" type="text" v-filter="maskfilter.cyrillicNumeric" class="form-control" :disabled="!isEdit" v-bind:class="{error: errors.has('companyName'), 'disabled': !isEdit}" v-model="user.companyName" name="companyName" v-validate="{required: user.uridical == 1, cyrillicNumeric: true}">
                            <label v-if="errors.has('companyName')" class="error">Заполните поле</label>
                        </div>
                    </div>
                    <div class="form-column full">
                        <div class="form-group">
                            <label>ИНН*</label>
                            <input ref="inn" type="text" v-filter="maskfilter.numeric" class="form-control" :disabled="!isEdit" v-bind:class="{error: errors.has('inn'), 'disabled': !isEdit}" v-model="user.inn" name="inn" :maxlength="user.type == 'ip' || user.type == 'ИП' ? 12 : 10" v-validate="{required: user.uridical == 1, min: user.type == 'ip' ? 12 : 10, numeric: true}">
                            <label v-if="errors.has('inn')" class="error">Заполните поле</label>
                        </div>
                    </div>
                    <div class="form-column full">
                        <div class="form-group">
                            <label>ФИО представителя*</label>
                            <input ref="contactName" type="text" v-filter="maskfilter.cyrillic" class="form-control" :disabled="!isEdit" v-bind:class="{error: errors.has('contactName'), 'disabled': !isEdit}" v-model="user.contactName" name="contactName" v-validate="{required: user.uridical == 1, cyrillic: true}">
                            <label v-if="errors.has('contactName')" class="error">Заполните поле</label>
                        </div>
                    </div>
                    <div class="form-column full">
                        <div class="form-group">
                            <label>Телефон*</label>
                            <input ref="contactPhone3" type="text" v-mask="mask.phone" class="form-control "  :disabled="!isEdit" v-bind:class="{error: errors.has('contactPhone'), 'disabled': !isEdit}" v-model="user.contactPhone" name="contactPhone" v-validate="{required: user.uridical == 1}">

                            <i class="tooltip-link" v-b-tooltip.hover="{'placement': 'bottom', 'title': 'Получатель сможет отследить заказ, получив смс на этот номер'}" >
                                <img src="/img/info-gray.svg" alt="">
                            </i>

                            <label v-if="errors.has('contactPhone')" class="error">Заполните поле</label>
                        </div>
                    </div>
                    <div class="form-column full">
                        <div class="form-group">
                            <label>Email*</label>
                            <input ref="contactEmail" type="email" class="form-control" :disabled="!isEdit" v-bind:class="{error: errors.has('contactEmail'), 'disabled': !isEdit}" v-model="user.contactEmail" name="contactEmail" v-validate="{required: user.uridical == 1, email: true}">

                            <i class="tooltip-link" v-b-tooltip.hover="{'placement': 'bottom', 'title': 'На эту почту будут отправлены детали заказа получателю.'}" >
                                <img src="/img/info-gray.svg" alt="">
                            </i>

                            <label v-if="errors.has('contactEmail')" class="error">Заполните поле</label>
                        </div>
                    </div>
                    <div class="small-info static">* - обязательные поля</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import ff from '../vueconfig.js';
    import vSelect from 'vue-select';
    import { VBTooltip } from 'bootstrap-vue';

    Vue.directive('b-tooltip', VBTooltip);

    export default {
        name: 'person',
        components: {
            vSelect
        },
        inject: ['$validator'],
        props: {
            person: null,
            isEdit: true
        },
        data() {
            return {
                organizationTypes: [],
                mask: ff.mask(),
                maskfilter: ff.filter(),
                user: this.person
            }
        },
        mounted: function() {
            if (!this.person) {
                this.user = ff.Person();
            }
        },
        watch: {
            'user': function() {
                this.$emit('change:person', this.user);
                this.$emit('update:person', this.user);
            },
            'person': function() {
                if (!this.person) {
					this.user = ff.Person();
				} else {
					this.user = this.person;
				}
                if (this.user.issuance == '') {
                    this.user.issuance = 'passport';
                }
                
                if (this.user.type == 'ip') {
                    this.user.type = 'ИП';
                }
                
                if (this.user.type == 'ooo') {
                    this.user.type = 'ООО';
                }
                
                if (this.user.type == 'drugoe') {
                    this.user.type = 'Другое';
                }
            }
        },
        methods: {
            loadConfig: function(orderId) {
                let $this = this;
                $.ajax({url: "/api/order/customer/config", success: function(result) {
                    $this.organizationTypes = result.data.params.organizationTypes;
                }});
            }
        },
        computed: {

        },
        created() {
            this.loadConfig();
        }
    }
</script>


