<template>
    <b v-if="sort">
        <img v-on:click="sort.direction='asc'" v-if="sort.by == sortBy && sort.direction == 'desc'" src="/img/sort-icon-filled-down.svg" alt="">
        <img v-on:click="sort.direction='desc'" v-else-if="sort.by == sortBy && sort.direction == 'asc'" src="/img/sort-icon-filled-up.svg" alt="">
        <img v-on:click="sort.by=sortBy" v-else="sort.by == sortBy" src="/img/sort-icon.svg" alt="">
    </b>
</template>

<script>
    export default {
        name: 'sort',
        props: ['sort', 'sortBy'],
        data() {
            return {

            }
        },
        computed: {

        },
        created() {

        },
        destroyed() {

        },
        methods: {

        }
    }
</script>
