<template>
    <span>
        <input :id="'file'+group" type="file" :name="'file'+group" v-on:change="uploadFile($event, group)" class="input-file" ref="fileInput">
        <label class="js-labelFile" v-bind:class="{'has-file': fileLoaded}" v-on:click="$refs.fileInput.click()">
            <img src="/img/ic-doc-activ.svg">
            <img src="/img/ic-doc-activ-2.svg" class="loaded" v-if="fileLoaded">
            <span v-if="!fileLoaded" class="js-fileName">
                <span v-if="uploadName">{{ uploadName }}</span>
                <span v-if="name">Загрузить {{ name }}</span>
            </span>

            <span v-if="fileLoaded" class="text-loaded" data-hover="Загрузить новую">
                <template v-if="loadName">{{ loadName }}</template>
                <template v-else-if="name">{{ name }} загружен</template>
            </span>
        </label>
    </span>
</template>

<script>
    export default {
        name: 'uploadFile',
        props: ['file', 'url', 'group', 'name', 'loadName', 'uploadName'],
        data() {
            return {
                fileLoaded: false,
            }
        },
        computed: {

        },
        created() {
            if (this.file) {
                this.fileLoaded = true;
            }
        },
        destroyed() {

        },
        watch: {
            file: function (val) {
                this.fileLoaded = !!val;
            }
        },
        methods: {
            uploadFile: function($event, $group) {
                let el = $event.target;
                let $this = this;

                let formData = new FormData();
                formData.append('file', el.files[0]);
                formData.append('groupCode', $group);

                let jqxhr = $.ajax({
                    method: 'POST',
                    url: $this.url,
                    cache: false,
                    async: false,
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                });

                let data = jqxhr.responseJSON;

                if (data.status) {
                    // @todo ??
                    //if (typeof $this.$parent.createOrder !== "undefined") {
                    //    $this.$parent.createOrder();
                    //}

                    $this.fileLoaded = true;
                }

                return false;
            },
        }
    }
</script>
