{% extends 'template/emailpage/template.html.twig' %}

{% block content %}

    <table class="main" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;background: #ffffff;border-radius: 3px;max-width: 800px;table-layout: fixed;">
        <!-- START MAIN CONTENT AREA -->
        <tr>
            <td class="wrapper" style="font-family: sans-serif;font-size: 14px;vertical-align: top;box-sizing: border-box;padding: 43px 60px;">
                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;">
                    <tr>
                        <td style="font-family: sans-serif;font-size: 14px;vertical-align: top;">
                            <h1 style="color: #000000;font-weight: 700;font-family: &quot;HelveticaNeue-Bold&quot;, &quot;Helvetica Neue Bold&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;line-height: 1.4;margin: 0;margin-bottom: 0;font-size: 30px;">{{ params.subject }}</h1>
                            <hr style="border: 0;border-bottom: 2px solid #e6e6e6;margin: 36px 0;">
                            <p style="font-family: sans-serif;font-size: 14px;font-weight: normal;margin: 0;margin-bottom: 15px;">
                                {{ params.body|raw }}
                            </p>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- END MAIN CONTENT AREA -->
    </table>



{% endblock %}
