{% extends 'template/emailpage/template.html.twig' %}

{% block content %}
    <table class="main" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;background: #ffffff;border-radius: 3px;max-width: 800px;table-layout: fixed;">
    <!-- START MAIN CONTENT AREA -->
    <tr>
        <td class="wrapper" style="font-family: sans-serif;font-size: 14px;vertical-align: top;box-sizing: border-box;padding: 43px 60px;">
            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;">
                <tr>
                    <td style="font-family: sans-serif;font-size: 14px;vertical-align: top;">
                        <h1 style="color: #000000;font-weight: 700;font-family: &quot;HelveticaNeue-Bold&quot;, &quot;Helvetica Neue Bold&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;line-height: 1.4;margin: 0;margin-bottom: 0;font-size: 30px;">Детали заказа на сайте dot-dot.ru</h1>
                        <hr style="border: 0;border-bottom: 2px solid #e6e6e6;margin: 36px 0;">
                        <p style="font-family: sans-serif;font-size: 14px;font-weight: normal;margin: 0;margin-bottom: 15px;">
                            <b>
                                Добрый день.<br>
                                Вы можете отследить заказ без регистрации по ссылке:<br><br></b>
                            <a target="_blank" href="{{ app.request.getSchemeAndHttpHost() ~ path('app.track.detail', {'id' : params.order.id, 'hash': params.order.hash}) }}" style="color: #343539;text-decoration: underline;">{{ app.request.getSchemeAndHttpHost() ~ path('app.track.detail', {'id' : params.order.id, 'hash': params.order.hash}) }}</a>
                        </p>
                        <h4 style="color: #000000;font-weight: 700;font-family: &quot;HelveticaNeue-Bold&quot;, &quot;Helvetica Neue Bold&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;line-height: 1.4;margin: 0;margin-bottom: 43px;font-size: 15px;margin-top: 36px;">Заказ №{{ params.order.id }}</h4>
                        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary" style="border-collapse: separate;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;">
                            <tbody>
                            <tr>
                                <td align="left" width="345" style="font-family: sans-serif;font-size: 14px;vertical-align: top;">
                                    <h6 style="margin-top: 0;font-size: 11px;font-weight: 700;color: #7b7e83;margin-bottom: 3px;">Тип груза:</h6>
                                    <p class="small" style="font-family: sans-serif;font-size: 13px;font-weight: normal;margin: 0;margin-bottom: 20px;">
                                        {% if params.order.packages is not empty %}
                                            {% for package in params.order.packages %}
                                                {% if package.packageType is not null %}
                                                    {{ package.packageType }} <br>
                                                {% else %}
                                                    {{ package.packageTypeAnother }} <br>
                                                {% endif %}
                                            {% endfor %}
                                        {% elseif params.order.orderPackages is not empty %}
                                            {% for package in params.order.orderPackages %}
                                                {% if package.packageType is not null %}
                                                    {{ package.packageType }} <br>
                                                {% else %}
                                                    {{ package.packageTypeAnother }} <br>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </p>
                                    <h6 style="margin-top: 0;font-size: 11px;font-weight: 700;color: #7b7e83;margin-bottom: 3px;">Общий вес:</h6>
                                    <p class="small" style="font-family: sans-serif;font-size: 13px;font-weight: normal;margin: 0;margin-bottom: 20px;">
                                        {{ params.order.totalWeight }} кг.
                                    </p>
                                    <h6 style="margin-top: 0;font-size: 11px;font-weight: 700;color: #7b7e83;margin-bottom: 3px;">Количество мест:</h6>
                                    <p class="small" style="font-family: sans-serif;font-size: 13px;font-weight: normal;margin: 0;margin-bottom: 20px;">
                                        {{ params.order.totalCount }}
                                    </p>
                                    <h6 style="margin-top: 0;font-size: 11px;font-weight: 700;color: #7b7e83;margin-bottom: 3px;">Дата/время приемки:</h6>
                                    <p class="small" style="font-family: sans-serif;font-size: 13px;font-weight: normal;margin: 0;margin-bottom: 20px;">
                                        {% if params.order.receptionAt %}
                                        {{ params.order.receptionAt.format('d.m.Yг. H:m') }}
                                        {% endif %}
                                    </p>
                                </td>
                                <td align="left" width="345" style="font-family: sans-serif;font-size: 14px;vertical-align: top;">
                                    <h6 style="margin-top: 0;font-size: 11px;font-weight: 700;color: #7b7e83;margin-bottom: 3px;">Точка отправления:</h6>
                                    <p class="small" style="font-family: sans-serif;font-size: 13px;font-weight: normal;margin: 0;margin-bottom: 20px;">{{ params.order.stockFrom.address }}</p>
                                    <h6 style="margin-top: 0;font-size: 11px;font-weight: 700;color: #7b7e83;margin-bottom: 3px;">Точка доставки:</h6>
                                    <p class="small" style="font-family: sans-serif;font-size: 13px;font-weight: normal;margin: 0;margin-bottom: 20px;">{{ params.order.stockTo.address }}</p>
                                    <h6 style="margin-top: 0;font-size: 11px;font-weight: 700;color: #7b7e83;margin-bottom: 3px;">Отправитель:</h6>
                                    <p class="small" style="font-family: sans-serif;font-size: 13px;font-weight: normal;margin: 0;margin-bottom: 20px;">
                                        {% if params.organization is defined and params.organization is not empty %}
                                            {{ params.organization.contactName }}<br>
                                            {{ params.organization.contactPhone }}<br>
                                        {% else %}
                                            {{ params.order.sender.firstname }}<br>
                                            {{ params.order.sender.phone|formatPhone }}<br>
                                            {{ params.order.sender.email }}
                                        {% endif %}
                                    </p>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                        <table class="bottom-table" style="border-collapse: separate;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;">
                            <tr>
                                <td style="font-family: sans-serif;font-size: 14px;vertical-align: top;">
                                    <hr style="border: 0;border-bottom: 2px solid #e6e6e6;margin: 36px 0;margin-top: 23px;margin-bottom: 31px;">
                                    <h4 style="color: #000000;font-weight: 700;font-family: &quot;HelveticaNeue-Bold&quot;, &quot;Helvetica Neue Bold&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;line-height: 1.4;margin: 0;margin-bottom: 20px;font-size: 15px;margin-top: 31px;">Правила выдачи заказа:</h4>
                                    <h6 style="margin-top: 0;font-size: 11px;font-weight: 700;color: #7b7e83;margin-bottom: 3px;">Для физических лиц:</h6>
                                    <p class="small" style="font-family: sans-serif;font-size: 13px;font-weight: normal;margin: 0;margin-bottom: 20px;">по паспорту</p>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <!-- END MAIN CONTENT AREA -->
</table>
{% endblock %}
