<template>
    <form id="login" action="/login_check" method="post">
        <div class="login-wrap">
            <div class="content">
                <section>
                    <div class="h3">Вход в систему</div>
                    <p>Нет личного кабинета? <a :href="loginPath">Зарегистрируйтесь</a></p>

                    <div class="form-column">
                        <div class="form-group">
                            <label for="loginPhone">Введите логин (номер моб. телефона)</label>
                            <input type="hidden" id="username" name="_username" class="t-input" :value="username" />
                            <input type="text" v-on:keyup.enter="auth" v-mask="mask.phone" v-model="login" v-bind:class="{ error: errors.has('login') }" v-validate="{required: true, phone: true}" name="login"  class="form-control"/>
                            <label class="error" v-if="errors.has('login')">Заполните поле</label>
                        </div>
                    </div>
                    <div class="form-column">
                        <div class="form-group">
                            <label for="password">Введите пароль</label>
                            <input :type="passwordTypePassword" v-on:keyup.enter="auth" id="password" v-model="password" v-bind:class="{ error: errors.has('_password') || error}" v-validate="{required: true}" class="form-control" name="_password"/>
                            <span class="view-password" @click="toggleShowPassword"><img src="/img/eye.png" alt=""></span>
                            <label class="error" v-if="errors.has('_password')">Заполните поле</label>
                            <label v-if="error" style="color: red" class="error">Неверный логин или пароль</label>
                        </div>
                    </div>
                    <div class="form-column login-meta">
                        <label class="control control--checkbox">Запомнить меня
                            <input type="checkbox" id="remember_me" v-model="remember" name="_remember_me" value="on"  />
                            <div class="control__indicator"></div>
                        </label>
                        <a :href="restorePath">Забыли пароль?</a>
                    </div>

                    <button type="button" v-on:click="auth()" class="btn-active">Войти</button>
                </section>
            </div>
        </div>


    </form>
</template>

<script>
    import Vue from 'vue';
    import ff from '../../vueconfig.js';




    let senderGroup = "Sender";
    let carrierGroup = "Carrier";

    export default {
        name: 'calc',

        props: ['loginPath', 'restorePath', 'username'],
        data() {
            return {
                login: '',
                password: '',
                remember: true,
                error: false,
                mask: ff.mask(),
                passwordTypePassword: 'password',
            }
        },
        methods: {
            auth: function () {
                let $this = this;

                this.$validator.validateAll().then(function(result) {
                    if(!result) {
                        return;
                    }

                    let username = ff.formatUserName($this.login);
                    let password = $this.password;

                    let data = JSON.stringify({username: username, password: password});

                    $.ajax({
                        url: '/auth',
                        type: 'POST',
                        contentType: "application/json",
                        dataType: 'json',
                        data: data,
                        success: function (data, status) {
                            $this.postAuth(data);
                        },
                        error: function (data, status) {
                            if (status == 'error') {
                                $this.error = true;
                            }
                        },
                    });
                });

                return false;
            },

            postAuth: function (data) {
                if (window.sessionStorage.getItem('auction_reserve_unauthed')) {
                    // Если пользователь перевозчик, переводим в лк перевозчика
                    if (data.groups.indexOf(carrierGroup) !== -1) {
                        window.location.href = '/personal?group=carrier&orderId=' + window.sessionStorage.getItem('auction_reserve_unauthed');
                    } else {
                        // Если пользователь не перевозчик, но резервировал груз, показываем попап
                        ff.openPopupUrl('/static/popup/need-carrier/auth');
                        // У него не будет верефицированных водителей
                        window.sessionStorage.removeItem('auction_reserve_unauthed')
                    }
                } else if (window.sessionStorage.getItem('sender_order_unauthed')) {
                    // Если пользователь отправитель, переводим в лк отправителя
                    if (data.groups.indexOf(senderGroup) !== -1) {
                        window.location.href = '/personal?group=sender&orderId=' + window.sessionStorage.getItem('sender_order_unauthed');
                    } else {
                        // Если пользователь не отправитель, но создавал заказ, показываем попап
                        ff.openPopupUrl('/static/popup/need-customer/auth');
                    }
                } else {
                    if (window.location.pathname === '/login') {
                        window.location.href = '/personal';
                    } else {
                        location.reload();
                    }
                }
            },

            toggleShowPassword: function () {
                if (this.passwordTypePassword == 'password') {
                    this.passwordTypePassword = 'text';
                } else if (this.passwordTypePassword == 'text') {
                    this.passwordTypePassword = 'password';
                }
            },
        },
        watch: {
            login: function () {
                this.error = false;
            },
            password: function () {
                this.error = false;
            },
        },
        mounted : function () {
            $('#login').css('visibility', 'visible');

            if (this.username) {
                this.login = this.username;
            }

            $('#loginPhone').on('keyup', function(){
                let phone = $(this);
                let username = normalizeLogin.val(ff.normalizeLogin(phone));
            })
        },
    }
</script>