<tr :id="'order-header'+order.id">
    <td class="order-number" v-bind:class="{'disabled' : !order.isRemoveExactStatus }">
        <label class="control control--checkbox terms">
            <input type="checkbox" id="head-checkbox" :value="order.id" />
            <div class="control__indicator"></div>
        </label>
        <span>${ order.id }</span>
    </td>
    <td class="order-date">
        <span>${ formatDate(order.receptionAt) }</span>
        <span class="small">${ formatTime(order.receptionAt) }</span>
    </td>
    <td class="order-date">
        <span>${ formatDate(order.issueAt) }</span>
        <span class="small">${ formatTime(order.issueAt) }</span>
    </td>
    <td class="order-price text-right">
        <span v-if="order.overload">По договору</span>
        <span v-else>${ order.price } ₽</span>
    </td>
    <td class="order-status text-right btn-status">
        <span class="bordered-btn tdghter" v-bind:class="order.statusClass">${ order.status }</span>
    </td>
    <td class="order-open" v-on:click="toggleOrder(order.id)">
        <span class="js-open-order" v-bind:class="{active: orderId == order.id}">
            <img src="{{ asset('img/down-arrow.svg') }}" alt="">
        </span>
    </td>
</tr>