<tr :id="'order-header'+order.id">
    <td class="order-number" v-bind:class="{'disabled' : !order.isRemoveExactStatus }">
        <label class="control control--checkbox terms">
            <input type="checkbox" id="head-checkbox" :value="order.id" />
            <div class="control__indicator"></div>
        </label>
        <span>${ order.id }</span>
    </td>
    <td class="order-date">
        <span>${ formatDate(order.receptionAt) }</span>
        <span class="small">${ formatTime(order.receptionAt) }</span>
    </td>
    <td class="order-date">
        <span>${ formatDate(order.issueAt) }</span>
        <span class="small">${ formatTime(order.issueAt) }</span>
    </td>
    <td class="order-price text-right">
        <span v-if="order.overload">По договору</span>
        <span v-else>${ order.price } ₽</span>
    </td>
    <td class="order-status text-right btn-status">
        <span class="bordered-btn tdghter" v-bind:class="order.statusClass">${ order.status }</span>
    </td>
    <td class="order-open" v-on:click="toggleOrder(order.id)">
        <span class="js-open-order" v-bind:class="{active: orderId == order.id}">
            <img src="{{ asset('img/down-arrow.svg') }}" alt="">
        </span>
    </td>
</tr>

<tr :id="'order-detail'+order.id" :data-order-details="'order'+order.id" v-if="order" class="order-details" v-show="orderId == order.id" style="display: table-row; width: 100%;">
    <td colspan="6">

        <div v-if="order.isCreated">
            {%  include 'personal/block/files.html.twig' %}
        </div>

        <div class="order-row order-select-driver">
            <div class="order-column order-transporter">
                <div class="order-info-item">
                    <b>Направление:</b>
                    ${ order.direction.title }
                </div>
                <div class="order-info-item">
                    <b>Общий вес:</b>
                    ${ order.totalWeight } кг
                </div>
                <div class="order-info-item">
                    <b>Количество палет:</b>
                    ${ order.totalPallets }
                </div>
            </div>
            <div class="order-column">
                <div class="order-info-item">
                    <b>Точка отправления:</b>
                    <a class="link-with-decoration" target="_blank" :href="'/stock/print/' + order.stockFrom.id" title="Распечатать карту">
                        ${ order.stockFrom.address }
                    </a>
                </div>
                <div class="order-info-item">
                    <b>Точка доставки:</b>
                    <a class="link-with-decoration" target="_blank" :href="'/stock/print/' + order.stockTo.id" title="Распечатать карту">
                        ${ order.stockTo.address }
                    </a>
                </div>
            </div>
            <div class="order-column" v-show="nextTime > 0 && order.drivers.length == 0 || edit">
                <form>
                    <div class="form-column">
                        <div class="form-group" v-bind:class="{ error: errors.has('selectDrivers') }">
                            <label class="order-driver-label" >Назначьте водителя, иначе партия будет расформирована <b v-if="!order.overload">${ nextTimeUpdate() }</b></label>

                            <select class="selectpicker" title="Назначить водителя" name="selectDrivers" id="selectDrivers" v-model="selectDrivers" v-bind:class="{ error: errors.has('selectDrivers') }"  v-validate="{ required: true}">
                                <option :value="driver.id" v-for="driver in order.chooseDrivers">${ driver.name }</option>
                            </select>
                            <label class="error" v-if="errors.has('selectDrivers')">Выберите водителя</label>
                        </div>
                    </div>
                    <div class="edit-buttons">
                        <span class="back" v-if="order.drivers.length <= 0" v-on:click="stopSend($event)">Отмена</span>
                        <span class="back" v-else="" v-on:click="editOrder($event)">Отмена</span>
                        <a href="javascript:void(0);" v-on:click="sendDrivers()" class="btn-default">
                            <template v-if="edit">
                                Редактировать партию
                            </template>
                            <template v-else>
                                Создать партию
                            </template>
                        </a>
                    </div>
                </form>
            </div>
            <div class="order-column order-driver" v-if="(nextTime <= 0 || order.drivers.length >=1) && !edit">
                <div class="order-info-item">
                    <b>Водитель:</b>
                    <template v-for="driver in order.drivers">
                        ${ driver.name } <br>
                    </template>
                    <br>
                    <template v-if="order.sendDate">
                    Ожидаем на складе с ${ formatTime(order.sendDate) } по ${ formatTime(getSendDateMax()) } ${ formatDate(order.sendDate) }
                    </template>
                </div>
                <div class="order-edit-icons">
                    <span v-if="order.overload && !order.acceptanceAt" v-on:click="acceptanceOrder($event)">
                        <img src="{{ asset('/img/ic-ok-active.svg') }}" alt="">
                    </span>
                    <span v-else-if="order.overload" class="disabled">
                        <img src="{{ asset('/img/ic-ok.svg') }}" alt="">
                    </span>
                    <span v-if="order.isEdit" v-on:click="editOrder($event)">
                        <img src="{{ asset('/img/ic-edit-active.svg') }}" alt="">
                    </span>
                    <span v-else class="disabled">
                        <img src="{{ asset('/img/ic-edit.svg') }}" alt="">
                    </span>
                    <span v-if="order.isStopSendExactStatus && !order.isSuspended" v-on:click="stopSend($event)">
                        <img src="{{ asset('/img/ic-annulment-active.svg') }}" alt="">
                    </span>
                    <span v-else class="disabled">
                        <img src="{{ asset('/img/ic-annulment.svg') }}" alt="">
                    </span>
                </div>
            </div>
        </div>
    </td>
</tr>
