<tr :id="'order-detail'+order.id" :data-order-details="'order'+order.id" v-if="order" class="order-details" v-show="orderId == order.id" style="display: table-row; width: 100%;">
    <td colspan="8">

        <div v-if="order.isCreated">
            {%  include 'site/personal/block/files.html.twig' %}
        </div>

        <div class="order-row order-select-driver">
            <div class="order-column order-transporter">
                <div class="order-info-item">
                    <b>Направление:</b>
                    ${ order.direction.title }
                </div>
                <div class="order-info-item">
                    <b>Общий вес:</b>
                    ${ order.totalWeight } кг
                </div>
                <div class="order-info-item">
                    <b>Количество палет:</b>
                    ${ order.totalPallets }
                </div>
            </div>
            <div class="order-column">
                <div class="order-info-item">
                    <b>Точка отправления:</b>
                    <a class="link-with-decoration" target="_blank" :href="'/stock/print/' + order.stockFrom.id" title="Распечатать карту">
                        ${ order.stockFrom.address }
                    </a>
                </div>
                <div class="order-info-item">
                    <b>Точка доставки:</b>
                    <a class="link-with-decoration" target="_blank" :href="'/stock/print/' + order.stockTo.id" title="Распечатать карту">
                        ${ order.stockTo.address }
                    </a>
                </div>
            </div>
            <div class="order-column" v-show="nextTime > 0 && order.drivers.length == 0 && !order.organization.isWithoutDrivers || edit">
                <form>
                    <div class="form-column">
                        <div class="form-group" v-bind:class="{ error: errors.has('selectDrivers') }">
                            <label class="order-driver-label">Выберите водителя</label>

                            <select class="selectpicker" title="Назначить водителя" name="selectDrivers" id="selectDrivers" v-model="selectDrivers" v-bind:class="{ error: errors.has('selectDrivers') }"  v-validate="{ required: !order.organization.isWithoutDrivers}">
                                <option value="null" v-if="order.organization && order.organization.isWithoutDrivers">Без водителя</option>
                                <option :value="driver.id" v-for="driver in order.chooseDrivers">${ driver.name }</option>
                            </select>
                            <label class="error" v-if="errors.has('selectDrivers')">Выберите водителя</label>
                        </div>
                    </div>
                    <div class="edit-buttons">
                        <span class="back" v-on:click="editOrder($event)">Отмена</span>
                        <a href="javascript:void(0);" v-on:click="sendDrivers()" class="btn-default">
                            <template v-if="edit">
                                Редактировать партию
                            </template>
                            <template v-else>
                                Редактировать партию
                            </template>
                        </a>
                    </div>
                </form>
            </div>
            <div class="order-column order-driver" v-if="(nextTime <= 0 || order.organization.isWithoutDrivers) && !edit">
                <div class="order-info-item">
                    <b>Водитель:</b>

                    <template v-if=" order.organization.isWithoutDrivers">
                       Без водителя <br>
                    </template>
                    <template v-else v-for="driver in order.drivers">
                        ${ driver.name } <br>
                    </template>
                </div>
                <div class="order-edit-icons">
                    {% if is_granted('ROLE_ADMIN') == false %}
                    <span v-if="order.overload && !order.acceptanceAt" v-on:click="acceptanceOrder($event)">
                        <img src="{{ asset('/img/ic-ok-active.svg') }}" alt="">
                    </span>
                    <span v-else class="disabled">
                        <img src="{{ asset('/img/ic-ok.svg') }}" alt="">
                    </span>
                    {% endif %}
                    <span v-if="order.isEdit" v-on:click="editOrder($event)">
                        <img src="{{ asset('/img/ic-edit-active.svg') }}" alt="">
                    </span>
                    <span v-else class="disabled">
                        <img src="{{ asset('/img/ic-edit.svg') }}" alt="">
                    </span>
                    <span v-if="order.isStopSendExactStatus && !order.isSuspended" v-on:click="stopSend($event)">
                        <img src="{{ asset('/img/ic-annulment-active.svg') }}" alt="">
                    </span>
                    <span v-else class="disabled">
                        <img src="{{ asset('/img/ic-annulment.svg') }}" alt="">
                    </span>
                </div>
            </div>
        </div>
    </td>
</tr>