<ul class="pagination" v-if="pagination.pages > 1">

    <li v-bind:class="{disabled: pagination.page == 1}">
        <a href="#" v-on:click="showPage(pagination.page - 1)"><img src="{{ asset('/img/chevron-left.png') }}" :title="pagination.page - 1" alt=""></a>
    </li>

    <template v-if="pagination.page < pagination.pages - 4">
        <li v-for="page in pagination.page + 4" v-if="page <= pagination.pages && page >= pagination.page" v-bind:class="{active: pagination.page == page}">
            <a href="#" v-on:click="showPage(page)" :title="page">${ page }</a>
        </li>
        <li>
            <a href="#" v-on:click="showPage(Math.ceil((pagination.pages - (pagination.page + 4)) / 2) + pagination.page + 4)" v-if="pagination.pages > 6" :title="Math.ceil((pagination.pages - (pagination.page + 4)) / 2) + pagination.page + 4">...</a>
        </li>
        <li v-bind:class="{active: pagination.page == pagination.pages}">
            <a href="#" v-on:click="showPage(pagination.pages)" :title="pagination.pages">${ pagination.pages }</a>
        </li>
    </template>
    <template v-else-if="pagination.page >= pagination.pages - 4">
        <li v-bind:class="{active: pagination.page == 1}" v-if="pagination.pages > 4" title="1">
            <a href="#" v-on:click="showPage(1)">1</a>
        </li>
        <li>
            <a href="#" v-on:click="showPage(Math.ceil((pagination.pages - 4) / 2) + 1)" v-if="pagination.pages > 6" :title="Math.ceil((pagination.pages - 4) / 2) + 1">...</a>
        </li>
        <li v-for="page in pagination.page + 4" v-if="page >= pagination.pages - 4 && page <= pagination.pages" v-bind:class="{active: pagination.page == page}" :title="page">
            <a href="#" v-on:click="showPage(page)">${ page }</a>
        </li>
    </template>

    <li v-bind:class="{disabled: pagination.page == pagination.pages}">
        <a href="#" v-on:click="showPage(pagination.page + 1)"><img src="{{ asset('/img/chevron-right.png') }}" :title="pagination.page + 1" alt=""></a>
    </li>
</ul>
