<div class="form-group">
    <a target="_blank" :href="{{ link|raw }}">
        <img src="{{ asset('img/print-dark.svg') }}" alt="">
        {% if fullName is defined %}
            <span>{{ fullName }}</span>
        {% elseif name is defined %}
            <span>Распечатать {{ name }}</span>
        {% endif %}
    </a>
</div>