<img v-on:click="sort.direction='asc'" v-if="sort.by == '{{ sortBy }}' && sort.direction == 'desc'" src="{{ asset('/img/sort-icon-filled-down.svg') }}" alt="">
<img v-on:click="sort.direction='desc'" v-else-if="sort.by == '{{ sortBy }}' && sort.direction == 'asc'" src="{{ asset('/img/sort-icon-filled-up.svg') }}" alt="">
<img v-on:click="sort.by='{{ sortBy }}'" v-else="sort.by == '{{ sortBy }}'" src="{{ asset('/img/sort-icon.svg') }}" alt="">