<input id="file{{ group }}" type="file" name="file{{ group }}" v-on:change="uploadFile($event, '{{ group }}')" class="input-file">
<label for="file{{ group }}" class="js-labelFile" v-bind:class="{'has-file': getFileByGroup('{{ group }}')}" >
    <img src="{{ asset('img/ic-doc-activ.svg') }}">
    <img src="{{ asset('img/ic-doc-activ-2.svg') }}" class="loaded">
    <span v-if="!getFileByGroup('{{ group }}')" class="js-fileName">
        {% if uploadName is defined %}
            <span>{{ uploadName }}</span>
        {% else %}
            <span>Загрузить {{ name }}</span>
        {% endif %}
    </span>

    <span class="text-loaded" data-hover="Загрузить новую">{% if loadName is defined %}{{ loadName }} {% else %} {{ name }} загружен {% endif %}</span>
</label>