{% extends 'template/innerpage/template.html.twig' %}

{% block content %}

    <section  class="white">
        <div id="changePasswordForm" data-attach-vue="change-password"></div>
    </section>

{% endblock %}

