{% extends 'template/innerpage/template.html.twig' %}

{% block content %}

    <section class="white overflow">
        <div class="container">
            <div id="profile" class="profile-wrapper" data-attach-vue="profile"></div>
        </div>
    </section>

{% endblock %}
