{% extends 'template/pdfpage/template.html.twig' %}

{% block content %}

    <div class="page-content" style="padding: 60px 0; text-align: justify; overflow: hidden; position:relative;">

        <div class="container" style="margin: 0 auto;max-width: 100%;   min-height: 45cm;">
            <img src="{{ asset('/img/doc-logo.jpg') }}" alt="" class="doc-img">
            <div class="doc-header">
                <a href="#" class="doc-logo"><img src="{{ asset('/img/doc-header.jpg') }}" alt="" style="width: 306px"></a>
                <p>Доставка грузов по России<br>119034, г. Москва, Рязанский пр-кт, дом 16, с. 4, 8 800 222 33 57, www.dot-dot.ru</p>
            </div>
            <div class="text-center" style="margin-bottom: 50px;">
                <p>
                    <b>
                        АКТ ПРИЕМА-ПЕРЕДАЧИ ГРУЗА № {{ order.externalId }}
                    </b>
                </p>
            </div>
            <div class="pull-left">
                <p>г. {{ order.stockTo.city.title }}</p>
            </div>
            <div class="pull-right">
                <p>{{ 'now'|date('d.m.Y') }} г.</p>
            </div>
            <div class="clearfix"></div>
            <p><b>Грузоотправитель</b>
                {% if order.sender.uridical %}
                    {{ order.sender.type }} «{{ order.sender.companyName }}», {{ order.sender.inn }} {{ order.sender.contactPhone }}.
                {% else %}
                    {{ order.sender.contactName }}, {{ order.sender.contactPhone }}.
                {% endif %}
            </p>
            <p><b>Получатель</b>
                {% if order.receiver.uridical %}
                    {{ order.receiver.type }} «{{ order.receiver.companyName }}», {{ order.receiver.contactName }}, {{ order.receiver.contactPhone }}.
                {% else %}
                    {{ order.receiver.contactName }}, {{ order.receiver.contactPhone }}.
                {% endif %}
            </p>
            <p><b>Экспедитор</b> ООО «ТОЧКА-ТОЧКА ЛОГИСТИКА», Рязанский пр-кт, дом 16, с. 4, тел. {{ '8002223357'|formatPhone}}</p>
            <p><b>Экспедиторская расписка №</b> {{ order.externalId }}</p>

            <br>
            <table class="table">
                <tr>
                    <td class="text-center"><b>№ места</b></td>
                    <td class="text-center"><b>Наименование груза</b></td>
                    <td class="text-center"><b>Упаковка</b></td>
                    <td class="text-center"><b>Вес, кг</b></td>
                </tr>
                {% for package in order.packages %}
                    <tr>
                        <td>{{ package.externalId }}</td>
                        <td>{{ not package.packageType  ? package.packageTypeAnother : package.packageType }}</td>
                        {% if package.packing %}
                            <td>{{ package.packing }}</td>
                        {% else %}
                            <td>без упаковки</td>
                        {% endif %}

                        <td>{{ package.weight }}</td>
                    </tr>
                {% endfor %}
            </table>
            <p><b>Итого</b></p>
            <p>
                <span class="pull-left" style="width:28%">
                     Кол-во мест {{ order.packages|length }}
                </span>
                <span class="pull-left" style="width:28%">
                     Общий объем, м3 {{ order.totalVolume|nformat }}
                </span>
                <span class="pull-left" style="width:28%">
                     Общий вес, кг {{ order.totalWeight }}
                </span>

                <span class="clearfix"></span>
            </p>
            <br>
            <div style="width: 50%; float: left;">
                <p><b>ГРУЗ ПЕРЕДАЛ</b></p>
                <p style="margin-bottom: 80px">ООО «ТОЧКА-ТОЧКА ЛОГИСТИКА»</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_____________________/_______________/<br>
                    М.П.</p>
                <p>по доверенности № _____ от __________г.               </p>
            </div>
            <div style="width: 50%; float: left;">
                <p><b>ГРУЗ ПРИНЯЛ</b></p>
                <p style="margin-bottom: 80px">
                    {% if order.receiver.uridical %}
                        {{ order.receiver.type }} «{{ order.receiver.companyName }}»
                    {% else %}
                        {{ order.receiver.contactName }}
                    {% endif %}
                </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_____________________/_______________/<br>
                    М.П.</p>
                <p>по доверенности № _____ от __________г.               </p>
            </div>
            <div class="clearfix"></div>




        </div>
    </div>

    {% if order.damaged %}
        <div class="page"></div>

        <div class="page-content" style="padding: 60px 0; text-align: justify; overflow: hidden; position:relative;">

            <div class="" style="margin: 0 auto;max-width: 100%; min-height: 45cm;">
                <img src="img/doc-logo.jpg" alt="" class="doc-img">
                <div class="doc-header">
                    <a href="#" class="doc-logo"><img src="img/doc-header.jpg" alt="" style="width: 306px"></a>
                    <p>Доставка грузов по России<br>119034, г. Москва, Рязанский пр-кт, дом 16, с. 4, 8 800 222 33 57, www.dot-dot.ru</p>
                </div>
            <p><b>Экспедиторская расписка № </b>{{ order.externalId }}</p>
            <br>
            <p><b>Акт составил: </b><span style="width: 88%; border-bottom: 1px solid #000; display: inline-block;">&nbsp;</span></p>
            <p><b>Транспортная накладная №
                {% for index, batch in batches %}
                    {% if batch.issueAt %}
                        {{ batch.externalId }} от {{ batch.issueAt.format('d.m.Y') }} {% if index < batches|length -1 %}, {% endif %}
                    {% endif %}
                {% endfor %}
                </b></p>
            <p><b>Пункт отправления:</b> {{ order.stockFrom.address }}</p>
            <p><b>Пункт назначения:</b> {{ order.stockTo.address }}</p>
            <p><b>Объявленная ценность: </b>{{ order.declaredPrice }} руб. </p>
            <p><b>Описание груза по факту: </b>
                кол-во мест {{ order.packages|length }} шт, объем общий {{ order.totalVolume|nformat }} м3, вес общий {{ order.totalWeight }} кг,

                в том числе поврежденных и испорченных мест {{ order.damagedCount }} шт.
            </p>
            <br>
            <p>
                <b>Замечания по приему-передаче груза (нужное подчеркнуть):</b> <br>
                &nbsp;&nbsp;&nbsp;&nbsp;•   акт экспертизы составлен/не составлен<br>
                &nbsp;&nbsp;&nbsp;&nbsp;•   к акту приложены следующие материалы: пломбы, документы, фото, видеоматериалы

            </p>
            <br>
            <table class="table">
                <tr>
                    <td class="text-center"><b>№ места</b></td>
                    <td class="text-center"><b>Упаковка/ пломбы (подчеркнуть)</b></td>
                    <td class="text-center"><b>Описание повреждения</b></td>
                </tr>
                {% for package in order.packages if package.damaged %}
                    <tr>
                        <td>{{ package.externalId }}</td>
                        <td>в запечатанном/ не запечатанном виде,<br> упаковка не нарушена/ нарушена <br><br>пломбы не нарушены/ нарушены</td>
                        <td>следы вскрытия/характер повреждения;<br> описание груза с указанием фактов его порчи; причины порчи</td>
                    </tr>
                {% endfor %}

            </table>
            <br><br>
            <p><b>Обстоятельства составления акта; условия транспортировки:</b></p>
            <p class="bottom-line">
                &nbsp;
                <span class="line">
                </span>
            </p>
            <p class="bottom-line">
                &nbsp;
                <span class="line">
                </span>
            </p>
            <p class="bottom-line">
                &nbsp;
                <span class="line">
                </span>
            </p>
            <p class="bottom-line">
                &nbsp;
                <span class="line">
                </span>
            </p>
            <p class="bottom-line">
                &nbsp;
                <span class="line">
                </span>
            </p>
            <br>
            <div style="width: 50%; float: left;">
                <p><b>ГРУЗ ПЕРЕДАЛ</b></p>
                <p style="margin-bottom: 80px">ООО «ТОЧКА-ТОЧКА ЛОГИСТИКА»</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_____________________/_______________/<br>
                    М.П.</p>
                <p>по доверенности № _____ от __________г.               </p>
            </div>
            <div style="width: 50%; float: left;">
                <p><b>ГРУЗ ПРИНЯЛ</b></p>
                <p style="margin-bottom: 80px">
                    {% if order.receiver.uridical %}
                        {{ order.receiver.type }} «{{ order.receiver.companyName }}»
                    {% else %}
                        {{ order.receiver.contactName }}
                    {% endif %}
                </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_____________________/_______________/<br>
                    М.П.</p>
                <p>по доверенности № _____ от __________г.               </p>
            </div>
            <div class="clearfix"></div>




        </div>
    </div>

    {% endif %}
{% endblock %}

{% block stylesheets %}
    <style>
        .container{
            position: relative;
        }
        .doc-img{
            top: -58px !important;
            position: absolute;
            right: 0;
            width: 115px;
        }
        .bg{
            background-color: #fff;
            position: relative;
            top: 6px;
        }
        .black-border{
            border-bottom: 1px solid #000;
            height: 28px;
        }
        .doc-header{
            margin-bottom: 100px;
        }
        .doc-header .doc-logo{
            display: inline-block;
            vertical-align: top;
        }
        .doc-header p{
            display: inline-block;
            vertical-align: top;
            font-size: 15px;
            color: #656565;
            margin-left: 50px;
        }
        p.bottom-line{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
        }
        span.line{
            width: 100%;
            border-bottom: 1px solid #000;
            display: inline-block;
        }
        p.bottom-line b{
            flex: 1 0 auto;
        }
    </style>

    <link rel="stylesheet" href="{{ asset('/css/wms.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/fix.css') }}">
{% endblock %}

