<template>
    <div>

        <form novalidate="novalidate" autocomplete="off" action="" onsubmit="return false">
            <div id="wizard-register" role="application" class="wizard clearfix">
                <div class="steps clearfix">
                    <ul role="tablist">
                        <li role="tab" class="first" v-bind:class="{ 'current': step == 1, 'done': step > 1}" aria-disabled="false" aria-selected="true"><a id="wizard-register-t-0" href="#wizard-register-h-0" aria-controls="wizard-register-p-0">{{ step }}/{{ countstep }}</a></li>
                        <li role="tab" class="disabled" v-bind:class="{ 'current': step == 2, 'done': step > 2}" aria-disabled="true"><a id="wizard-register-t-1" href="#wizard-register-h-1" aria-controls="wizard-register-p-1"><span class="number">2.</span> {{ step }}/{{ countstep }}</a></li>
                        <li role="tab" class="disabled"  v-bind:class="{ 'current': step == 3, 'done': step > 3}" aria-disabled="true"><a id="wizard-register-t-2" href="#wizard-register-h-2" aria-controls="wizard-register-p-2"><span class="number">3.</span> {{ step }}/{{ countstep }}</a></li>
                        <li role="tab" class="disabled last" v-bind:class="{ 'current': step == 4, 'done': step >= 4}" aria-disabled="true"><a id="wizard-register-t-3" href="#wizard-register-h-3" aria-controls="wizard-register-p-3"><span class="number">4.</span>{{ step }}/{{ countstep }}</a></li>
                    </ul>
                </div>
                <div class="content clearfix">

                    <section class="body" v-if="step == 1">
                        <div class="h3">Регистрация в системе</div>
                        <p>Уже зарегистрированы? <a href="/login">Авторизуйтесь</a></p>

                        <label class="control control--checkbox usergroup">
                            Хочу зарегистрироваться как перевозчик
                            <input type="checkbox" :checked="isCarrier()" v-on:change="toggleUserRole()" value="carrier">
                            <div class="control__indicator"></div>
                        </label>


                        <div class="form-row-wrap">
                            <div class="form-row">
                                <div class="form-column">
                                    <div class="form-group">
                                        <label>Введите логин (номер моб. телефона)</label>
                                        <input type="text" class="form-control" v-mask="mask.phone"  v-on:keyup="resultUser.username = false" v-bind:class="{error: errors.has('user.username')}" id="user.username" v-model="user.username" name="user.username"  v-validate="{required: true, phone: true}" value="" required>
                                        <label v-if="errors.has('user.username')" class="error">Заполните поле</label>
                                        <label v-if="resultUser.username == true" class="error">Данный телефон уже зарегистрирован, <a style="color:#fff;" href="/login">авторизуйтесь</a></label>
                                    </div>
                                </div>
                                <div class="form-column">
                                    <div class="form-group">
                                        <label>Введите email </label>
                                        <input type="email" class="form-control email" v-model="user.email" v-on:keyup="resultUser.email = false" v-bind:class="{ error: errors.has('user.email')}" name="user.email" v-validate="{required: true, email: true}" required value="">
                                        <label v-if="errors.has('user.email')" class="error">Заполните поле</label>
                                        <label v-if="resultUser.email == true" class="error">Данный email уже зарегистрирован, <a style="color:#fff;" href="/login">авторизуйтесь</a></label>
                                    </div>
                                </div>
                                <div class="form-column">
                                    <div class="form-group">
                                        <label>Введите пароль</label>
                                        <input :type="passwordTypePassword" class="form-control" v-model="user.password" v-bind:class="{ error: errors.has('user.password')}" name="user.password" v-validate="{required: true, regex: '^(?=.*[A-Za-z])(?=.*\\d)[A-Za-z\\d]{6,}'}" value="" required>
                                        <label v-if="errors.has('user.password') && !user.password" class="error">Заполните поле</label>
                                        <label v-if="errors.has('user.password') && user.password" class="error">Пароль должен содержать не менее 6 символов, буквы и цифры.</label>
                                        <span class="view-password" @click="toggleShowPassword"><img src="/img/eye.png" alt=""></span>

                                        <i class="tooltip-link" v-b-tooltip.hover="{'placement': 'right', 'title': 'Пароль должен содержать не менее 6 символов, буквы и цифры.'}" >
                                            <img src="/img/circle.png" alt="">
                                        </i>
                                    </div>
                                </div>
                                <div class="form-column">
                                    <div class="form-group">
                                        <label for="regPasswordRepeat">Введите пароль еще раз</label>

                                        <input id="regPasswordRepeat" :type="passwordTypePasswordRepeat" class="form-control" v-model="user.reenteredPassword" v-bind:class="
                                     { error:
                                        errors.has('user.reenteredPassword') && !user.reenteredPassword && reenteredPasswordChange
                                        ||
                                        errors.has('user.reenteredPassword') && !errors.has('user.password') && reenteredPasswordChange
                                     }"
                                               name="user.reenteredPassword" v-validate="{required: true, confirmed: user.password}" required value="" @change="reenteredPasswordChangeEvent()">
                                        <label v-if="errors.has('user.reenteredPassword') && !user.reenteredPassword && reenteredPasswordChange"  class="error">Заполните поле</label>
                                        <label v-else-if="errors.has('user.reenteredPassword') && !errors.has('user.password') && reenteredPasswordChange" class="error">Пожалуйста, введите такое же значение ещё раз.</label>

                                        <span class="view-password" @click="toggleShowPasswordRepeat"><img src="/img/eye.png" alt=""></span>
                                    </div>

                                    <label class="control control--checkbox terms" v-bind:class="{'highlight-offert': highlightOffert}">
                                        Даю согласие на обработку персональных данных
                                        <input type="checkbox" :checked="confirm" name="confirm" v-model="confirm"  @change="highlightOffert ? highlightOffert = !confirm : null" v-validate="{required: true}">
                                        <div class="control__indicator"></div>
                                    </label>
                                    <label class="control control--checkbox subscribe" style="width: 100%!important;">
                                        Подписаться на новости и рекламу
                                        <input type="checkbox" :checked="user.subscribe" name="user.subscribe" v-model="user.subscribe" v-validate="{required: false}">
                                        <div class="control__indicator"></div>
                                        &nbsp;&nbsp;

                                        <i id="subscribe-tooltip-link"
                                           class="tooltip-link"
                                           v-b-tooltip.hover="{'placement': 'right', 'title': user.subscribe ? 'Отказаться можно в личном кабинете' : 'Не сможем сообщать скидки'}" >
                                            <img src="/img/circle.png" alt="">
                                        </i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="body" v-if="step == 2">
                        <div class="h3">Проверка номера телефона</div>
                        <p>Система должна отправить СМС в течение 60 секунд</p>

                        <div class="form-row-wrap">
                            <div class="form-row">
                                <div class="form-column">
                                    <div class="form-group">
                                        <label>Введите код из СМС</label>
                                        <input v-if="step == 2" id="code" type="text" class="form-control" v-mask="mask.code" v-on:keyup.enter="showStep(3); " v-bind:class="{ error: errors.has('code') || checkCode === false}" value="" v-validate="{required: checkCode != null}" name="code" v-model="code" autocomplete="off">
                                        <label v-if="errors.has('code')" class="error">Заполните поле</label>
                                        <label v-if="checkCode === false" class="error">Неверный код</label>
                                    </div>
                                </div>
                                <div class="form-column">
                                    <div class="form-group">
                                        <div class="sms-links">
                                            <a href="javascript:void(0)" v-on:click="showStep(1)"><img src="/img/arrow-left.png" alt=""> Сменить номер телефона</a>
                                            <a id="resendSms" href="javascript:void(0)" v-on:click="resendSms($event)" ><img src="/img/refresh.png" alt=""> Выслать код повторно</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="body" v-if="step == 3">
                        <div class="h3">Данные профиля </div>

                        <div class="form-row-wrap" v-if="user.group == 'sender'">
                            <p>Чтобы отправить груз, заполните поля ниже: </p>
                            <div class="form-row">
                                <div id="tab" class="btn-group">
                                    <a href="#private" v-on:click="organization.uridical = 0" class="btn btn-default">
                                        <label class="control control--radio">Я - частное лицо
                                            <input type="radio" :checked="!organization.uridical" name="organization.uridical" v-validate="{required: true}" required value="0">
                                            <div class="control__indicator"></div>
                                        </label>
                                    </a>
                                    <a href="#lawyer" v-on:click="organization.uridical = 1" class="btn btn-default">
                                        <label class="control control--radio">Я - юридическое лицо
                                            <input type="radio" :checked="organization.uridical" name="organization.uridical" v-validate="{required: true}" required value="1">
                                            <div class="control__indicator"></div>
                                        </label>
                                    </a>
                                </div>
                                <div>
                                    <div v-if="organization.uridical == 0">
                                        <div class="form-column full">
                                            <div class="form-group">
                                                <label for="user.fio">Ваше ФИО </label>
                                                <input type="text" v-filter="filter.cyrillic" class="form-control" v-bind:class="{error: errors.has('user.firstname')}" v-model="user.firstname" name="user.firstname" id="user.firstname" v-validate="{required: true, cyrillic : true}">
                                                <label v-if="errors.has('user.firstname')" class="error">Заполните поле</label>
                                            </div>
                                        </div>
                                        <div class="form-column lined">
                                            <div class="form-group small">
                                                <label for="user.series">Серия паспорта </label>
                                                <input type="text" class="form-control" v-bind:class="{error: errors.has('user.series')}" v-model="user.series" name="user.series" id="user.series" v-validate="{required: true}">
                                                <label v-if="errors.has('user.series')" class="error">Заполните поле</label>
                                            </div>
                                            <div class="form-group bigger">
                                                <label for="user.number">Номер паспорта</label>
                                                <input type="text" class="form-control" v-bind:class="{error: errors.has('user.number')}" v-model="user.number" name="user.number" id="user.number" v-validate="{required: true}">
                                                <label v-if="errors.has('user.number')" class="error">Заполните поле</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div v-if="organization.uridical == 1">
                                            <div class="form-column lined">
                                                <div class="form-group small">
                                                    <label>Организация</label>

                                                    <v-select
                                                            placeholder="Тип организации"
                                                            :multiple="false"
                                                            :reduce="item => item.value"
                                                            v-model="organization.type"
                                                            label="title"
                                                            :options="listOrganizationTypes"
                                                            v-bind:class="{error: errors.has('organization.type')}"
                                                            v-validate="{required: true}"
                                                    >
                                                    </v-select>

                                                    <label v-if="errors.has('organization.type')" class="error">Заполните поле</label>
                                                </div>
                                                <div class="form-group bigger">
                                                    <label>&nbsp;</label>
                                                    <input type="text" class="form-control" v-filter="filter.cyrillicNumeric" v-bind:class="{error: errors.has('organization.companyName')}" v-model="organization.companyName" name="organization.companyName" v-validate="{required: true, cyrillicNumeric: true}">
                                                    <label v-if="errors.has('organization.companyName')" class="error">Заполните поле</label>
                                                </div>
                                            </div>
                                            <div class="form-column lined yes-no">
                                                <div class="form-group">
                                                    <label>Плательщик НДС</label>
                                                    <label class="control control--radio">Да
                                                        <input type="radio" v-bind:class="{error: errors.has('organization.nds')}" v-model="organization.nds" name="organization.nds" :checked="organization.nds" v-validate="{required: true}" required value="1" />
                                                        <div class="control__indicator"></div>
                                                    </label>
                                                    <label class="control control--radio">Нет
                                                        <input type="radio" v-bind:class="{error: errors.has('organization.nds')}" v-model="organization.nds" name="organization.nds" :checked="!organization.nds" v-validate="{required: true}" required value="0" />
                                                        <div class="control__indicator"></div>
                                                    </label>

                                                    <label v-if="errors.has('organization.nds')" class="error">Заполните поле</label>
                                                </div>
                                            </div>
                                            <div class="form-column lined">
                                                <div class="form-group">
                                                    <label>ИНН</label>
                                                    <input type="text" class="form-control" v-filter="filter.numeric" v-bind:class="{error: errors.has('organization.inn')}" v-model="organization.inn" name="organization.inn" :maxlength="organization.type == 'ip' ? 12 : 10" v-validate="{required: true, max: organization.type == 'ip' ? 12 : 10, min: organization.type == 'ip' ? 12 : 10, numeric: true}" required>
                                                    <label v-if="errors.has('organization.inn')" class="error">Заполните поле</label>
                                                </div>
                                                <div class="form-group">
                                                    <label>КПП</label>
                                                    <input type="text" class="form-control" v-filter="filter.numeric" v-bind:class="{error: errors.has('organization.kpp'), disabled: organization.type == 'ip'}" v-model="organization.kpp"  :maxlength="9" v-validate="{required: organization.type != 'ip', max: 9, min: 9, numeric: true}" name="organization.kpp" value="">
                                                    <label v-if="errors.has('organization.kpp')" class="error">Заполните поле</label>
                                                </div>
                                            </div>
                                            <div class="form-column lined">
                                                <div class="form-group">
                                                    <label>БИК</label>
                                                    <input type="text" class="form-control" v-filter="filter.numeric" v-bind:class="{error: errors.has('organization.bik')}" v-model="organization.bik" name="organization.bik" :maxlength="9" v-validate="{required: true, max: 9, min: 9, numeric: true}" required  value="">
                                                    <label v-if="errors.has('organization.bik')" class="error">Заполните поле</label>
                                                </div>
                                                <div class="form-group">
                                                    <label>Р/С</label>
                                                    <input type="text" class="form-control" v-filter="filter.numeric" v-mask="mask.five" v-bind:class="{error: errors.has('organization.rs')}" v-model="organization.rs" name="organization.rs" :maxlength="23" v-validate="{required: true, max: 23, min: 23}" required value="">
                                                    <label v-if="errors.has('organization.rs')" class="error">Заполните поле</label>
                                                </div>
                                            </div>
                                            <div class="form-column full">
                                                <div class="form-group">
                                                    <label v-if="organization.type == 'ooo' || organization.type == 'drugoe'">ФИО ген. директора</label>
                                                    <label v-if="organization.type == 'ip'">ФИО инд. предпринимателя</label>
                                                    <input type="text" v-filter="filter.cyrillic" class="form-control" v-bind:class="{error: errors.has('organization.ceo')}" v-model="organization.ceo" name="organization.ceo" v-validate="{required: true, cyrillic : true}" required value="">
                                                    <label v-if="errors.has('organization.ceo')" class="error">Заполните поле</label>
                                                </div>
                                            </div>
                                            <div class="form-column full">
                                                <div class="form-group">
                                                    <label>ФИО контактного лица</label>
                                                    <input type="text" v-filter="filter.cyrillic" class="form-control" v-bind:class="{error: errors.has('organization.contactName')}" v-model="organization.contactName" name="organization.contactName" v-validate="{required: true, cyrillic : true}" required  >
                                                    <label v-if="errors.has('organization.contactName')" class="error">Заполните поле</label>
                                                </div>
                                            </div>
                                            <div class="form-column lined">
                                                <div class="form-group">
                                                    <label>Контактный телефон</label>
                                                    <input type="text" class="form-control" v-bind:class="{error: errors.has('organization.contactPhone')}" v-mask="mask.phone" v-model="organization.contactPhone" name="organization.contactPhone" v-validate="{required: true, phone: true}" required>
                                                    <label v-if="errors.has('organization.contactPhone')" class="error">Заполните поле</label>
                                                </div>
                                            </div>
                                            <div class="form-column full">
                                                <div class="form-group custom-autocomplete-select">
                                                    <label>Почтовый адрес</label>

                                                    <VueSuggestions
                                                            :model.sync="organization.address"
                                                            :placeholder="'Введите адрес'"
                                                            :class="form-control"
                                                            v-validate="{required: true}"
                                                            v-bind:class="{error: errors.has('organization.address')}"
                                                            :options="suggestionOptionsAddress">
                                                    </VueSuggestions>

                                                    <label v-if="errors.has('organization.address')" class="error">Заполните поле</label>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row-wrap" v-if="user.group == 'carrier'">
                            <p>Введите ИНН и заполните поля ниже, пройдите верификацию:</p>
                            <div class="form-row">
                                <div>

                                    <div v-if="true || organization.uridical == 1">
                                        <div class="form-column lined">
                                            <div class="form-group small">
                                                <label>Организация</label>

                                                <v-select
                                                        placeholder="Тип организации"
                                                        :multiple="false"
                                                        :reduce="item => item.value"
                                                        v-model="organization.type"
                                                        label="title"
                                                        :options="listOrganizationTypes"
                                                        v-bind:class="{error: errors.has('organization.type')}"
                                                        v-validate="{required: true}"
                                                >
                                                </v-select>

                                                <label v-if="errors.has('organization.type')" class="error">Заполните поле</label>
                                            </div>
                                            <div class="form-group bigger">
                                                <label>&nbsp;</label>
                                                <input type="text" class="form-control" v-filter="filter.cyrillicNumeric" v-bind:class="{error: errors.has('organization.companyName')}" v-model="organization.companyName" name="organization.companyName" v-validate="{required: true, cyrillicNumeric: true}">
                                                <label v-if="errors.has('organization.companyName')" class="error">Заполните поле</label>
                                            </div>
                                        </div>
                                        <div class="form-column lined yes-no">
                                            <div class="form-group">
                                                <label>Плательщик НДС</label>
                                                <label class="control control--radio">Да
                                                    <input type="radio" v-bind:class="{error: errors.has('organization.nds')}" v-model="organization.nds" name="organization.nds" :checked="organization.nds" v-validate="{required: true}" required value="1" />
                                                    <div class="control__indicator"></div>
                                                </label>
                                                <label class="control control--radio">Нет
                                                    <input type="radio" v-bind:class="{error: errors.has('organization.nds')}" v-model="organization.nds" name="organization.nds" :checked="!organization.nds" v-validate="{required: true}" required value="0" />
                                                    <div class="control__indicator"></div>
                                                </label>

                                                <label v-if="errors.has('organization.nds')" class="error">Заполните поле</label>
                                            </div>
                                        </div>
                                        <div class="form-column lined">
                                            <div class="form-group">
                                                <label>ИНН</label>
                                                <input type="text" class="form-control" v-filter="filter.numeric" v-bind:class="{error: errors.has('organization.inn')}" v-model="organization.inn" name="organization.inn" :maxlength="organization.type == 'ip' ? 12 : 10" v-validate="{required: true, max: organization.type == 'ip' ? 12 : 10, min: organization.type == 'ip' ? 12 : 10, numeric: true}" required>
                                                <label v-if="errors.has('organization.inn')" class="error">Заполните поле</label>
                                            </div>
                                            <div class="form-group">
                                                <label>КПП</label>
                                                <input type="text" class="form-control" v-filter="filter.numeric" v-bind:class="{error: errors.has('organization.kpp'), disabled: organization.type == 'ip'}" v-model="organization.kpp"  :maxlength="9" v-validate="{required: organization.type != 'ip', max: 9, min: 9, numeric: true}" name="organization.kpp" value="">
                                                <label v-if="errors.has('organization.kpp')" class="error">Заполните поле</label>
                                            </div>
                                        </div>
                                        <div class="form-column lined">
                                            <div class="form-group">
                                                <label>БИК</label>
                                                <input type="text" class="form-control" v-filter="filter.numeric" v-bind:class="{error: errors.has('organization.bik')}" v-model="organization.bik" name="organization.bik" :maxlength="9" v-validate="{required: true, max: 9, min: 9, numeric: true}" required  value="">
                                                <label v-if="errors.has('organization.bik')" class="error">Заполните поле</label>
                                            </div>
                                            <div class="form-group">
                                                <label>Р/С</label>
                                                <input type="text" class="form-control" v-filter="filter.numeric" v-mask="mask.five" v-bind:class="{error: errors.has('organization.rs')}" v-model="organization.rs" name="organization.rs" :maxlength="23" v-validate="{required: true, max: 23, min: 23}" required value="">
                                                <label v-if="errors.has('organization.rs')" class="error">Заполните поле</label>
                                            </div>
                                        </div>
                                        <div class="form-column full">
                                            <div class="form-group">
                                                <label v-if="organization.type == 'ooo' || organization.type == 'drugoe'">ФИО ген. директора</label>
                                                <label v-if="organization.type == 'ip'">ФИО инд. предпринимателя</label>
                                                <input type="text" v-filter="filter.cyrillic" class="form-control" v-bind:class="{error: errors.has('organization.ceo')}" v-model="organization.ceo" name="organization.ceo" v-validate="{required: true, cyrillic : true}" required value="">
                                                <label v-if="errors.has('organization.ceo')" class="error">Заполните поле</label>
                                            </div>
                                        </div>
                                        <div class="form-column full">
                                            <div class="form-group">
                                                <label>ФИО контактного лица</label>
                                                <input type="text" v-filter="filter.cyrillic" class="form-control" v-bind:class="{error: errors.has('organization.contactName')}" v-model="organization.contactName" name="organization.contactName" v-validate="{required: true, cyrillic : true}" required  >
                                                <label v-if="errors.has('organization.contactName')" class="error">Заполните поле</label>
                                            </div>
                                        </div>
                                        <div class="form-column lined">
                                            <div class="form-group">
                                                <label>Контактный телефон</label>
                                                <input type="text" class="form-control" v-bind:class="{error: errors.has('organization.contactPhone')}" v-mask="mask.phone" v-model="organization.contactPhone" name="organization.contactPhone" v-validate="{required: true, phone: true}" required>
                                                <label v-if="errors.has('organization.contactPhone')" class="error">Заполните поле</label>
                                            </div>
                                        </div>
                                        <div class="form-column full">
                                            <div class="form-group custom-autocomplete-select">
                                                <label>Почтовый адрес</label>

                                                <VueSuggestions
                                                        :model.sync="organization.address"
                                                        :placeholder="'Введите адрес'"
                                                        class="form-control"
                                                        v-validate="{required: true}"
                                                        v-bind:class="{error: errors.has('organization.address')}"
                                                        :options="suggestionOptionsAddress">
                                                </VueSuggestions>

                                                <label v-if="errors.has('organization.address')" class="error">Заполните поле</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="driver-wrapper" v-for="(driver,driverIndex) in organization.drivers">
                                    <div class="h5">Данные водителя №{{ driverIndex + 1 }}</div>
                                    <div class="form-row">
                                        <div class="form-column full">
                                            <div class="form-group">
                                                <label>ФИО водителя</label>
                                                <input type="text" v-filter="filter.cyrillic" class="form-control" v-bind:class="{error: errors.has('driver.name'+driverIndex)}" v-model="driver.name" :name="'driver.name'+driverIndex" v-validate="{required: true, cyrillic : true}" required value="">
                                                <label v-if="errors.has('driver.name'+driverIndex)" class="error">Заполните поле</label>
                                            </div>
                                        </div>
                                        <div class="form-column lined">
                                            <div class="form-group">
                                                <label>ИНН</label>
                                                <input type="text" v-filter="filter.numeric" class="form-control" v-bind:class="{error: errors.has('driver.inn'+driverIndex)}" v-model="driver.inn" :name="'driver.inn'+driverIndex" :maxlength="12" v-validate="{required: true, max: 12, min: 12, numeric: true}" required value="">
                                                <label v-if="errors.has('driver.inn'+driverIndex)" class="error">Заполните поле</label>
                                            </div>
                                            <div class="form-group">
                                                <label>Дата рождения водителя</label>

                                                <date-picker
                                                        v-model="driver.birthdate"
                                                        :editable="true"
                                                        v-mask="mask.date"
                                                        lang="ru"
                                                        format="DD.MM.YYYY"
                                                        :name="'driver.birthdate'+driverIndex"
                                                        :value="driver.birthdate"
                                                        :first-day-of-week="1"
                                                        :clearable="false"
                                                        placeholder="Дата"
                                                        v-validate="{required: true}"
                                                        v-bind:class="{error: errors.has('driver.birthdate'+driverIndex)}"
                                                >
                                                </date-picker>

                                                <label v-if="errors.has('driver.birthdate'+driverIndex)" class="error">Заполните поле</label>
                                            </div>
                                        </div>
                                        <div v-for="(document,docIndex) in driver.documents" :key="docIndex">
                                            <div class="bordered"><span>{{ document.name }}</span></div>
                                            <div class="form-column lined">
                                                <div class="form-group smaller">
                                                    <label>Серия</label>
                                                    <input type="text" class="form-control" v-bind:class="{error: errors.has('series'+driverIndex+''+docIndex)}" v-model="document.series" :name="'series'+driverIndex+''+docIndex" v-validate="{required: true}" required>
                                                    <label v-if="errors.has('series'+driverIndex+''+docIndex)" class="error">Заполните поле</label>

                                                </div>
                                                <div class="form-group smaller">
                                                    <label>Номер</label>
                                                    <input type="text" class="form-control" v-bind:class="{error: errors.has('document.number'+driverIndex+''+docIndex)}" v-model="document.number" :name="'document.number'+driverIndex+''+docIndex" v-validate="{required: true}" required>
                                                    <label v-if="errors.has('document.number'+driverIndex+''+docIndex)" class="error">Заполните поле</label>
                                                </div>
                                                <div class="form-group">
                                                    <label>Дата выдачи</label>

                                                    <date-picker
                                                            v-model="document.date"
                                                            :editable="true"
                                                            v-mask="mask.date"
                                                            lang="ru"
                                                            :value="document.date"
                                                            :first-day-of-week="1"
                                                            format="DD.MM.YYYY"
                                                            :name="'document.date'+driverIndex+''+docIndex"
                                                            :clearable="false"
                                                            placeholder="Дата"
                                                            v-validate="{required: true}"
                                                            v-bind:class="{ error: errors.has('document.date'+driverIndex+''+docIndex)}"
                                                    >
                                                    </date-picker>

                                                    <label v-if="errors.has('document.date'+driverIndex+''+docIndex)" class="error">Заполните поле</label>
                                                </div>
                                            </div>
                                            <div class="form-column full" v-if="document.type != 'license'">
                                                <div class="form-group">
                                                    <label>Кем выдан</label>
                                                    <input type="text" class="form-control" v-bind:class="{error: errors.has('document.place'+driverIndex+''+docIndex)}" v-model="document.place" :name="'document.place'+driverIndex+''+docIndex" v-validate="{required: true}" required>
                                                    <label v-if="errors.has('document.place'+driverIndex+''+docIndex)" class="error">Заполните поле</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-column half">
                                            <div class="form-group">
                                                <label><b>Контактный телефон водителя</b></label>
                                                <input type="text" class="form-control " v-bind:class="{error: errors.has('driver.phone'+driverIndex)}" v-mask="mask.phone" v-model="driver.phone" :name="'driver.phone'+driverIndex" v-validate="{required: true, phone: true}" required >
                                                <label v-if="errors.has('driver.phone'+driverIndex)" class="error">Заполните поле</label>
                                            </div>
                                        </div>
                                        <div class="driver-controls">
                                            <span class="driver-minus" v-bind:class="{'not-active' : driverIndex == 0 }" v-on:click="removeDriver(driverIndex)"><img src="/img/minus.png" alt=""></span>
                                            <span class="driver-plus" v-on:click="createDriver()"><img src="/img/plus.png" alt=""></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>
                    <!--====  End of Fourth Step  ====-->
                </div>
                <div class="actions clearfix " v-bind:class="{ 'action-started': step >= 2 }">
                    <ul role="menu" aria-label="Pagination">
                        <li v-if="step==1" class="disabled" aria-disabled="true">
                            <a href="#previous" role="menuitem">Назад</a>
                        </li>
                        <li v-if="step==1" aria-hidden="false" aria-disabled="false">
                            <span @click="highlightOffert = !confirm">
                                <a href="#next" role="menuitem" class="" v-bind:class="{disabled: !confirm}" v-on:click="showStep(2)">Продолжить</a>
                            </span>
                        </li>
                        <li v-if="step==2" aria-disabled="false">
                            <a href="#previous" role="menuitem" class="previous" v-on:click="showStep(1, true)">Назад</a>
                        </li>

                        <li v-if="step==2" aria-hidden="false" aria-disabled="false">
                            <a href="#next" role="menuitem" class="" v-on:click="showStep(3)">Продолжить</a>
                        </li>

                        <template v-if="user.group == 'sender'">
                            <li v-if="step==3 && user.username" aria-disabled="false">
                                <a href="#previous" role="menuitem" class="previous" v-on:click="showStep(2, true)">Назад</a>
                            </li>

                            <li v-if="step==3" aria-disabled="false">
                                <a href="#finish" role="menuitem" v-on:click="showStep(4, false, $event)">Зарегистрироваться</a>
                            </li>
                        </template>
                        <template v-if="user.group == 'carrier'">
                            <li v-if="step==3 && user.username" aria-disabled="false">
                                <a href="#previous" role="menuitem" class="previous" v-on:click="showStep(2, true)">Назад</a>
                            </li>

                            <li v-if="step==3" aria-disabled="false">
                                <a href="#finish" role="menuitem" v-on:click="showStep(4, false, $event)">Зарегистрироваться</a>
                            </li>
                        </template>

                    </ul>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import Vue from 'vue';
    import vSelect from 'vue-select';
    import VueSuggestions from 'vue-suggestions';
    import DatePicker from 'vue2-datepicker';
    import ff from '../../vueconfig.js';

    export default {
        components: {
            vSelect,
            VueSuggestions,
            DatePicker
        },
        name: 'register',
        props: ['forcestep', 'group', 'userid'],
        data() {
            return {
                step: 1,
                organizationInnTypingTimer: null,
                autocompleteOrganizationAddress: [],
                autocompleteOrganizationAddressSelected: '',
                autocompleteOrganizationAddressTypingTimer: null,
                autocompleteOrganizationAddressFromSelect: false,
                countstep: 3,
                resultUser: {'username': false, 'email': false},
                user: Object.assign({}, ff.UserObject),
                organization: Object.assign({}, ff.Organization()),
                code: '',
                checkCode: null,

                confirm: false,
                highlightOffert: false,


                checkConfirmedPass: null,
                reenteredPasswordChange: false,
                organizationTypes: [],
                subscribe: true,
                mask: ff.mask(),
                filter: ff.filter(),
                ar: null,
                passwordTypePassword: 'password',
                passwordTypePasswordRepeat: 'password',

                suggestionOptionsAddress: {
                    token: 'c9aa5fdc338a746e23ce91ceb6fdb9e635749833',
                    type: "ADDRESS",
                    scrollOnFocus: false,
                    triggerSelectOnBlur: false,
                    triggerSelectOnEnter: false,
                    addon: 'none',
                    onSelect (suggestion) {

                    }
                },
            }
        },
        methods: {
            showStep: function (step, prevStep, $event) {

                var $this = this;
                $this.errors.clear();

                this.$validator.validateAll().then(function(result) {

                    $this.reenteredPasswordChangeEvent();

                    $this.checkCode = null;

                    if(!result && prevStep == undefined) {
                        return;
                    }

                    if (step == 2 && !prevStep) {
                        $this.beforeRegister();

                        if ($this.user.password != $this.user.reenteredPassword) {
                            $this.checkConfirmedPass = true;
                            return false;
                        } else {
                            $this.checkConfirmedPass = false;
                        }

                        var resultUser = $this.checkLogin();
                        if (resultUser.username || resultUser.email) {
                            return false;
                        }
                    }

                    if (step == 2 && !prevStep) {
                        $this.checkCode = null;
                        $this.code = '';
                    }

                    if (step == 2 && !prevStep) {
                        $this.showOffer();
                        $this.sendSms();
                    }

                    if (step == 3 && !prevStep) {
                        if (!$this.checkSmsCode()) {
                            return false;
                        }
                    }

                    if (step == 4 && !prevStep) {

                        if ($this.isCarrier()) {
                            $this.verification($event);
                        } else {
                            $this.registration($event);
                        }

                        return false;
                    }

                    $this.step = step;

                });

                $this.errors.clear();

                return false;
            },

            getData: function () {
                var jqxhr = $.ajax({
                    url: "/api/security/config",
                    cache: true,
                    async: false
                });

                var data = jqxhr.responseJSON.data;

                this.organizationTypes = data.params.organizationTypes;
            },

            getAbandonedRegisterData: function (id) {
                if (id) {
                    var jqxhr = $.ajax({
                        url: "/api/security/abandonedRegisterData/"+id,
                        cache: false,
                        async: false
                    });

                    json = jqxhr.responseJSON;

                    if (json.status != undefined) {
                        this.user.username = json.data.username;
                        this.user.password = json.data.password;
                        this.user.reenteredPassword = json.data.password;
                        this.user.email = json.data.email;
                        this.user.subscribe = json.data.subscribe;
                    }
                }
            },

            checkLogin: function () {
                var username = this.user.username;
                var email = this.user.email;
                var jqxhr = $.ajax({
                    url: "/api/security/checkusername",
                    cache: false,
                    async: false,
                    data: {username: username, email: email}
                });

                var data = jqxhr.responseJSON.data;

                this.resultUser = data;
                return data;
            },

            showOffer: function() {
                if (this.user.group == 'carrier') {
                    $('#offer_carrier').show();
                    $('#offer_customer').hide();
                } else {
                    $('#offer_customer').show();
                    $('#offer_carrier').hide();
                }
            },

            reenteredPasswordChangeEvent: function() {
                this.reenteredPasswordChange = true;
            },

            toggleUserRole: function() {
                if (this.isCarrier()) {
                    this.user.group = 'sender';
                } else {
                    this.user.group = 'carrier';
                    this.organization.uridical = 1;
                }
            },

            sendSms: function () {
                var phone = this.user.username;
                var jqxhr = $.ajax({
                    url: "/api/security/sendsms",
                    cache: true,
                    async: false,
                    data: {phone: phone}
                });

                var data = jqxhr.responseJSON;

                setTimeout(function(){
                    $('#resendSms').addClass('disabled');
                }, 200)

                setTimeout(function(){
                    $('#resendSms').removeClass('disabled');
                }, 20000)

                return data.status;
            },

            checkSmsCode: function () {
                this.checkCode = null;

                var code = this.code;
                var jqxhr = $.ajax({
                    url: "/api/security/checksms",
                    cache: true,
                    async: false,
                    data: {code: code}
                });

                var data = jqxhr.responseJSON;

                this.checkCode = data.status;

                return data.status;
            },

            resendSms: function ($event) {
                var button = $($event.target);
                if (button.hasClass('disabled')) {
                    return false;
                }

                this.sendSms();
                button.addClass('disabled');

                setTimeout(function(){
                    button.removeClass('disabled');
                }, 20000)

                return false;
            },

            beforeRegister: function () {
                var user = this.user;

                var formData = new FormData();
                formData.append('user[username]', user.username);
                formData.append('user[email]', user.email);
                formData.append('user[password]', user.password);
                formData.append('user[subscribe]', user.subscribe);

                var jqxhr = $.ajax({
                    method: 'POST',
                    url: "/api/security/beforeRegister",
                    cache: true,
                    async: false,
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                });

                return false;
            },

            register: function () {
                var user = this.user;

                var formData = new FormData();
                formData.append('user[username]', user.username);
                formData.append('user[email]', user.email);
                formData.append('user[password]', user.password);
                formData.append('user[group]', [user.group]);
                formData.append('user[subscribe]', [user.subscribe]);

                var jqxhr = $.ajax({
                    method: 'POST',
                    url: "/api/security/register",
                    cache: false,
                    async: false,
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                });

                var data = jqxhr.responseJSON;

                if (data.status) {
                    user.id = data.id;
                }

                return data.status;
            },

            verification: function ($event) {

                var button = $($event.target);
                if (button.hasClass('disabled')) {
                    return false;
                }

                button.addClass('disabled');

                var $this = this;
                var user = $this.user;
                var organization = $this.organization;

                $this.$validator.validateAll().then(function(result) {
                    if(!result) {
                        button.removeClass('disabled');
                        return;
                    }

                    if (user.id == undefined || user.id == null) {
                        $this.register();
                    }

                    var formData = new FormData();
                    formData.append('action', 'register');
                    formData.append('url', window.location.pathname);
                    formData.append('user[id]', user.id);
                    formData.append('user[group]', [user.group]);
                    formData.append('user[subscribe]', user.subscribe);
                    formData.append('organization[type]', organization.type);
                    formData.append('organization[companyName]', organization.companyName);
                    formData.append('organization[uridical]', organization.uridical);
                    formData.append('organization[nds]', organization.nds);
                    formData.append('organization[inn]', organization.inn);
                    formData.append('organization[kpp]', organization.kpp);
                    formData.append('organization[ceo]', organization.ceo);
                    formData.append('organization[address]', organization.address);
                    formData.append('organization[contactName]', organization.contactName);
                    formData.append('organization[contactPhone]', organization.contactPhone);
                    formData.append('organization[rs]', organization.rs);
                    formData.append('organization[bik]', organization.bik);

                    $.each(organization.drivers, function( index, driver ) {
                        formData.append('organization[drivers]['+index+'][name]', driver.name);
                        formData.append('organization[drivers]['+index+'][inn]', driver.inn);
                        formData.append('organization[drivers]['+index+'][birthdate]', driver.birthdate);
                        formData.append('organization[drivers]['+index+'][phone]', driver.phone);

                        $.each(driver.documents, function( indexDocument, document) {
                            formData.append('organization[drivers]['+index+'][documents]['+indexDocument+'][type]', document.type);
                            formData.append('organization[drivers]['+index+'][documents]['+indexDocument+'][series]', document.series);
                            formData.append('organization[drivers]['+index+'][documents]['+indexDocument+'][number]', document.number);
                            formData.append('organization[drivers]['+index+'][documents]['+indexDocument+'][date]', document.date);
                            formData.append('organization[drivers]['+index+'][documents]['+indexDocument+'][place]', document.place);
                        })
                    });

                    $.ajax({
                        method: 'POST',
                        url: "/api/security/register_organization",
                        cache: false,
                        data: formData,
                        dataType: "json",
                        processData: false,
                        contentType: false,
                    }).done(function(data) {
                        if (data.status) {
                            ff.counterEvent('REG_PEREVOZCHIK', 'form_submit');

                            if (data.verifiedCode == 'verified') {
                                openPopupUrl('/static/popup/verification_success');
                            } else if (data.verifiedCode == 'delay') {
                                $this.authorize();
                                window.location.href = '/auction#verify_delay';
                            } else if (data.verifiedCode == 'not_verified') {
                                $this.authorize();
                                window.location.href = '/personal/profile#verify_fail';
                            } else {
                                openPopupUrl('/static/popup/error');
                            }
                        }

                        button.removeClass('disabled');
                    });

                    return false;
                });

                return false;
            },

            registration: function ($event) {

                var button = $($event.target);
                if (button.hasClass('disabled')) {
                    return false;
                }

                button.addClass('disabled');

                var $this = this;
                var user = $this.user;
                var organization = $this.organization;

                this.$validator.validateAll().then(function(result) {
                    if(!result) {
                        button.removeClass('disabled');
                        return;
                    }

                    if (user.id == undefined || user.id == null) {
                        $this.register();
                    }

                    if ($this.organization.uridical == 1) {
                        var formData = new FormData();
                        formData.append('action', 'register');
                        formData.append('url', window.location.pathname);
                        formData.append('user[id]', user.id);
                        formData.append('user[group]', [user.group]);
                        formData.append('user[subscribe]', user.subscribe);
                        formData.append('organization[type]', organization.type);
                        formData.append('organization[companyName]', organization.companyName);
                        formData.append('organization[uridical]', organization.uridical);
                        formData.append('organization[nds]', organization.nds);
                        formData.append('organization[inn]', organization.inn);
                        formData.append('organization[kpp]', organization.kpp);
                        formData.append('organization[ceo]', organization.ceo);
                        formData.append('organization[address]', organization.address);
                        formData.append('organization[contactName]', organization.contactName);
                        formData.append('organization[contactPhone]', organization.contactPhone);
                        formData.append('organization[rs]', organization.rs);
                        formData.append('organization[bik]', organization.bik);

                        $.ajax({
                            method: 'POST',
                            url: "/api/security/register_organization",
                            data: formData,
                            dataType: "json",
                            processData: false,
                            contentType: false,
                        }).done(function(data) {
                            if (data.status) {
                                ff.counterEvent('REG_OTPRAVITEL', 'form_submit');
                                $this.authorize();
                                $this.postRegister();
                            }

                            button.removeClass('disabled');
                        });

                    } else {
                        var formData = new FormData();
                        formData.append('url', window.location.pathname);
                        formData.append('user[id]', user.id);
                        formData.append('user[subscribe]', user.subscribe);
                        formData.append('user[group]', [user.group]);
                        formData.append('user[firstname]', user.firstname);
                        formData.append('user[number]', user.number);
                        formData.append('user[series]', user.series);

                        $.ajax({
                            method: 'POST',
                            url: "/api/security/register_person",
                            data: formData,
                            dataType: "json",
                            processData: false,
                            contentType: false,
                        }).done(function(data) {
                            if (data.status) {
                                ff.counterEvent('REG_OTPRAVITEL', 'form_submit');
                                $this.authorize();
                                $this.postRegister();
                            }

                            button.removeClass('disabled');
                        });
                    }

                    return false;
                });

                return false;
            },

            authorize: function () {
                if(this.user.id) {
                    if (this.user.group === 'sender' && window.sessionStorage.getItem('sender_order_unauthed')) {
                        window.location.href = '/personal?group=sender';
                    } else {
                        window.location.href = '/';
                    }
                }
                if(!this.user.username||!this.user.password) {
                    return false;
                }

                let username = formatUserName(this.user.username);
                let password = this.user.password;

                $.ajax({
                    url: '/auth',
                    type: 'POST',
                    contentType: "application/json",
                    dataType: 'json',
                    data: JSON.stringify({username: username, password: password}),
                    async: false,
                    success: function (data, status) {
                        if (this.user.group === 'sender' && window.sessionStorage.getItem('sender_order_unauthed')) {
                            window.location.href = '/personal?group=sender';
                        } else {
                            window.location.href = '/';
                        }
                    },
                });
                if (this.user.group === 'sender' && window.sessionStorage.getItem('sender_order_unauthed')) {
                    window.location.href = '/personal?group=sender';
                } else {
                    window.location.href = '/';
                }
            },

            postRegister: function () {

            },

            createDriver: function () {
                this.organization.drivers.push(ff.getEmptyDriver());
            },

            removeDriver: function (index) {
                if (this.organization.drivers.length <= 1) {
                    return;
                }
                this.organization.drivers.splice(index, 1);
            },
            suggestInn: function () {
                if(!this.organization.inn) {
                    return;
                }
                var $this = this;
                $.ajax({
                    url: '/api/data-normalize/suggest/inn',
                    method: 'GET',
                    data: {'number':this.organization.inn},
                })
                    .done(function(data) {
                        if (data.status && data.data) {
                            if(data.data.name && !$this.organization.companyName) {
                                $this.organization.companyName = data.data.name;
                            }
                            if(data.data.kpp && !$this.organization.kpp) {
                                $this.organization.kpp = data.data.kpp;
                            }
                            if(data.data.ceo && !$this.organization.ceo) {
                                $this.organization.ceo = data.data.ceo;
                            }
                            if(data.data.address && !$this.organization.address) {
                                $this.organization.address = data.data.address;
                            }

                            if(data.data.type == "LEGAL") {
                                $this.organization.type = "ooo";
                            }

                            if(data.data.type == "INDIVIDUAL") {
                                $this.organization.type = "ip";
                            }

                            if(data.data.type &&  data.data.type != "INDIVIDUAL" && data.data.type != "LEGAL") {
                                $this.organization.type = "drugoe";
                            }
                        }
                    });
            },

            toggleShowPassword: function () {
                if (this.passwordTypePassword == 'password') {
                    this.passwordTypePassword = 'text';
                } else if (this.passwordTypePassword == 'text') {
                    this.passwordTypePassword = 'password';
                }
            },

            toggleShowPasswordRepeat: function () {
                if (this.passwordTypePasswordRepeat == 'password') {
                    this.passwordTypePasswordRepeat = 'text';
                } else if (this.passwordTypePasswordRepeat == 'text') {
                    this.passwordTypePasswordRepeat = 'password';
                }
            },

            isCarrier: function() {
                return this.user.group == 'carrier';
            },
            isCustomer: function() {
                return this.user.group == 'sender';
            },
        },
        computed: {
            listOrganizationTypes: function() {
                var $this = this;
                var result = [];
                $.each($this.organizationTypes, function( index, organizationType ) {
                    result.push({title: organizationType.title, value: organizationType.slug});
                })

                return result;
            },
        },
        watch: {
            'organization.inn': function() {
                var $this = this;
                clearTimeout(this.organizationInnTypingTimer);
                this.organizationInnTypingTimer = setTimeout(function() {
                    $this.suggestInn();
                }, 600);
            },
            'organization.type': function (val) {
                if (val == 'ip') {
                    this.organization.kpp = '';
                }
            },
            'user.subscribe': function (val) {
                if (!val) {
                    this.$root.$emit('bv::show::tooltip', 'subscribe-tooltip-link');

                    setTimeout(() => {
                        this.$root.$emit('bv::hide::tooltip', 'subscribe-tooltip-link');
                    }, 4000);
                }
            },
            'user.group': function (val) {
                this.showOffer();

                if (val == 'carrier') {
                    this.organization.uridical = 1;
                } else {
                    this.organization.uridical = 0;
                }
            },
            'ar': function (val) {
                this.getAbandonedRegisterData(this.ar);
            },
            'organization.companyName': function (val) {
                if (this.organization.type == 'ip') {
                    this.organization.ceo = val;
                }
            },
        },
        mounted : function () {
            var $this = this;

            $this.user.group = 'sender';

            if ($this.forcestep) {
                $this.step = $this.forcestep;
            }

            if ($this.group) {
                $this.user.group = $this.group;
            }

            if ($this.userid) {
                $this.user.id = $this.userid;
            }

            this.getData();
        },
    }
</script>