{% extends 'template/pdfpage/template.html.twig' %}

{% block content %}

{% set pickupShipping = order.shipping('pickup') %}

<div class="page-content" style="padding: 60px 0; text-align: justify;">

    <div class="container" style="margin: 0 auto;">
        <div class="text-center" style="margin-bottom: 50px;">
            <p>
                <b>
                    Информационное письмо
                </b>
            </p>
        </div>


        <!--<div class="pull-left">
            <p>г. {{ pickupShipping.stock.city.title }}</p>
        </div>-->
        <div class="pull-right">
            <p style="min-width: 300px; text-align: right">{{ batch ? batch.createdAt|date('d.m.Y') : '' }} г.</p>
        </div>

        <div class="clearfix"></div>


        <p style="margin-top: 60px">
            Настоящим <b>{{ format_user(order.user, 'customer', 'short') }}
                {{ order.user.organizationCustomer ? ', ИНН ' ~ order.user.organizationCustomer.inn : '' }}</b>
            (далее – Заказчик),  в лице ______________________________________,
            действующего на основании __________________________________,
            информирует Вас о том, что на основании договора, заключенного между нами и Исполнителем -
            <b>ООО «ТОЧКА-ТОЧКА ЛОГИСТИКА» ОГРН 1197746472054, ИНН 9721084356,</b>
            Исполнитель привлекает Перевозчика - <b>{{ format_user(carrier, 'carrier', 'short') }} ИНН {{ carrier.organizationCarrier.inn }}</b>
            для выполнения нашего поручения в части перевозки груза в лице водителя:<br>

            <b>{{ pickupShipping.driverName }} {{ pickupShipping.driverDocument }}</b>,
            который является надлежащим образом уполномоченным на получение/передачу грузов Заказчика и подписание транспортных документов.
        </p>

        <div class="clearfix"></div>
        <br/>
        <p>При передаче/получении груза просьба сверить данные водителя с паспортными данными.</p>
        <br/>
        <div class="clearfix"></div>

        <br/>
        <br/>
        С Уважением,
        <b>{{ format_user(order.user, 'customer', 'short') }}</b>
        <div class="clearfix"></div>
        <span class="pull-left">
            _________________________/__________________
        </span>
        <br/>
        <br/>
        <div class="clearfix"></div>

        <div style="width: 50%; float: left;">
            <p><b>ООО «ТОЧКА-ТОЧКА ЛОГИСТИКА»</b></p>
            <p><b>Генеральный директор</b></p>
        </div>
        <div style="width: 50%;float: left;text-align: right; padding-right: 60px">
            <p>&nbsp;</p>
            <p style="position: relative; z-index: 2"><b> А.В. Марчук</b></p>

        </div>
        <div style="width: 50%;float: left;">
            &nbsp;
        </div>
        <div style="width: 50%;float: left; position: relative; text-align: right">
            <img src="{{ asset('/img/dot-podpis.png') }}" alt="" width="400px" style="margin-top: -60px;">
        </div>


    </div>
</div>
{% endblock %}

{% block stylesheets %}
<style>
    .container{
        position: relative;
    }
    .clearfix{
        display: table;
        width: 100%;
    }
    .clearfix:before,
    .clearfix:after{
        display: table;
        clear: both;
    }
    .spec-columns{
        display: flex;
        width: 100%;
    }
    .spec-columns span{
        display: flex;
        margin-right: 50px;
        min-width: 150px;
        flex-wrap: nowrap;
    }
    .spec-columns span:last-child{
        margin-right: 0;
    }
    .doc-img{
        top: -58px !important;
        position: absolute;
        right: 0;
        width: 115px;
    }
    .bg{
        background-color: #fff;
        position: relative;
        top: 6px;
    }
    .black-border{
        border-bottom: 1px solid #000;
        height: 28px;
    }
    .doc-header{
        margin-bottom: 100px;
    }
    .doc-header .doc-logo{
        display: inline-block;
        vertical-align: top;
    }
    .doc-header p{
        display: inline-block;
        vertical-align: top;
        font-size: 15px;
        color: #656565;
        margin-left: 50px;
    }
    .doc-img{
        position: absolute;
        right: 0;
        top: 0;
        width: 115px;
    }
</style>

    <link rel="stylesheet" href="{{ asset('/css/wms.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/fix.css') }}">
{% endblock %}

