{% extends 'template/pdfpage/template.html.twig' %}

{% block content %}
<div class="page-content" style="padding: 60px 0; text-align: justify;">
    
    <div class="container" style="margin: 0 auto;">
		<img src="{{ asset('/img/doc-logo.jpg') }}" alt="" class="doc-img">
        <div class="doc-header">
            <a href="#" class="doc-logo"><img src="{{ asset('/img/doc-header.jpg') }}" alt="" style="width: 306px"></a>
            <p>Доставка грузов по России<br>119034, г. Москва, Рязанский пр-кт, дом 16, с. 4, {{ '800 222 33 57'|formatPhone}}, <br>www.dot-dot.ru</p>
        </div>
        <div class="text-center" style="margin-bottom: 50px;">
            <p>
                <b>
                    Экспедиторская расписка
                </b>
            </p>
        </div>
        <div class="pull-left">
            <p><b>Дата</b>
                {% if order.receptionAt %}{{ order.receptionAt.format('d.m.Y') }}{% else %}{{ "now"|date('d.m.Y') }}{% endif %}
            </p>
        </div>
        <div class="pull-right">
            <p><b>Номер</b> {{ order.id }}</p>
        </div>
        <div class="clearfix"></div>
        <p><b>Грузоотправитель</b>
            {% if order.sender.uridical %}
                {{ order.sender.type }} «{{ order.sender.companyName }}», {{ order.sender.inn }} {{ order.sender.contactPhone }}.
            {% else %}
                {{ order.sender.contactName }}, {{ order.sender.contactPhone }}.
            {% endif %}
        </p>
        <p><b>Получатель</b>
            {% if order.receiver.uridical %}
                {{ order.receiver.type }} «{{ order.receiver.companyName }}», {{ order.receiver.inn }} {{ order.receiver.contactPhone }}.
            {% else %}
                {{ order.receiver.contactName }}, {{ order.receiver.contactPhone }}.
            {% endif %}
        </p>
        <p><b>Экспедитор</b> ООО «ТОЧКА-ТОЧКА ЛОГИСТИКА», Рязанский пр-кт, дом 16, с. 4, ИНН: 9721084356, тел. {{ '8002223357'|formatPhone}}.</p>
        <br>
        <p>
            <b>Страна происхождения груза -</b><span style="width: 160px">&nbsp;</span>
            <b>Товарный код - </b><span style="width: 160px">&nbsp;</span>
            <b>Маркировка - </b><span style="width: 160px">&nbsp;</span>
        </p>
        <p><b>Количество мест, вид упаковки</b> {{ order.totalCount }} шт.</p>

        <p class="spec-columns">
            <span>
                <b>Вес</b> -
            </span>
            <span>
                <b>Объем</b> -
            </span>
            <span>
                <b>Размер упаковки</b> -
            </span>

        </p>
        <p>
            <b>Стоимость (Объявленная ценность)</b> {{ order.declaredPrice }} руб.
        </p>


        {% set pickupShipping = order.shipping('pickup') %}
        {% set deliveryShipping = order.shipping('deliver') %}


        <p><b>Условия:</b>
            доставка от
            {% if pickupShipping and pickupShipping.active %}
                {{ pickupShipping.address }}
            {% else %}
                {{ order.stockFrom.address }}
            {% endif %}
            до
            {% if deliveryShipping and deliveryShipping.active %}
                {{ deliveryShipping.address }}
            {% else %}
                {{ order.stockTo.address }}
            {% endif %}
            , предварительная стоимость: от {{ order.minTotalPrice|number_format(0, '.') }} до {{ order.maxTotalPrice|number_format(0, '.') }} руб.,
            согласно оферте опубликованной на сайте www.dot-dot.ru от {{ offerDate }} г.
        </p>


        <p class="black-border"><span class="bg"><b>Особые отметки </b></span></p>
        <p class="black-border"></p>
        <p class="black-border"></p>
        <p class="black-border"></p>
        <br><br>
        <p>
            <span class="pull-left">
                <b>Подпись Экспедитора</b>
            </span>
            <span class="pull-right">
                _________________________/__________________
            </span>
        </p>
        <span class="clearfix"></span>
        <p>По доверенности № &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; от&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; .&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; . &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;г. </p>
        <br><br>
        <p>
            <span class="pull-left">
                <b>Подпись Грузоотправителя</b>
            </span>
            <span class="pull-right">
                _________________________/__________________
            </span>

        </p>
        <span class="clearfix"></span>
        <p>По доверенности № &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; от&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; .&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; . &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;г. </p>

    </div>
</div>
{% endblock %}

{% block stylesheets %}
<style>
    .container{
        position: relative;
    }
    .clearfix{
        display: table;
        width: 100%;
    }
    .clearfix:before,
    .clearfix:after{
        display: table;
        clear: both;
    }
    .spec-columns{
        display: flex;
        width: 100%;
    }
    .spec-columns span{
        display: flex;
        margin-right: 50px;
        min-width: 150px;
        flex-wrap: nowrap;
    }
    .spec-columns span:last-child{
        margin-right: 0;
    }
    .doc-img{
        top: -58px !important;
        position: absolute;
        right: 0;
        width: 115px;
    }
    .bg{
        background-color: #fff;
        position: relative;
        top: 6px;
    }
    .black-border{
        border-bottom: 1px solid #000;
        height: 28px;
    }
    .doc-header{
        margin-bottom: 100px;
    }
    .doc-header .doc-logo{
        display: inline-block;
        vertical-align: top;
    }
    .doc-header p{
        display: inline-block;
        vertical-align: top;
        font-size: 15px;
        color: #656565;
        margin-left: 50px;
    }
    .doc-img{
        position: absolute;
        right: 0;
        top: 0;
        width: 115px;
    }
</style>

    <link rel="stylesheet" href="{{ asset('/css/wms.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/fix.css') }}">
{% endblock %}

