{# custom_button.html.twig #}

<li><a class="sonata-action-element" href="/admin/app/dispatchlog/downloadSubscribe"><i class="fa fa-plus-circle" aria-hidden="true"></i>
     Выгрузить подписки
</a></li>