{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .hidden-field {
            display: none !important;
        }
        .block-item-wraper {
            border-top: 2px solid #e7e7e7;
            margin-top:20px;
            padding: 20px;
        }
        .modal-body .block-item-wraper {
            border-top: none;
        }
        .block-item-wraper.new {
            background-color: #f8f8f8;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {
            var blockClass = 'block-item-wraper';

            function initBlockItems()
            {
                var $selects = $('select.block-type');
                var ids = [];
                $selects.each(function( index ) {
                    var $parent = $(this).closest('.form-group');
                    var id = $parent.attr('id').replace('_type','');
                    ids.push(id);
                });

                ids.forEach(function(id) {
                    // удаляем кнопку удалить
                    $('#'+id+'__delete').remove();
                    var $elements = $('div[id^="'+id+'"]');

                    var hasWrapper = false;
                    $elements.each(function( index ) {
                        var $parent = $(this).parent();
                        if($parent.hasClass(blockClass)){
                            hasWrapper = true;
                        }
                    });

                    if(!hasWrapper) {
                        $elements.wrapAll( "<div class='" + blockClass + "'></div>");
                    }
                });
                sortItems();
            }

            function sortItems($parent)
            {
                var $sortItems = $('[data-sort=1]', $('.'+blockClass));
                $sortItems.each(function( index ) {
                    var $formBlock = $(this).closest('.'+blockClass);
                    var sort = $(this).val();
                    if(!sort) {
                        sort = 100;
                    }
                    $formBlock.attr('data-sort', sort);
                });

                var items = $('.'+blockClass);
                items.sort(function(a, b){
                    return +$(a).data('sort') - +$(b).data('sort');
                });

                items.appendTo(items.first().parent());
            }

            function rebuildItem($parent)
            {
                var $blockItems = $('[data-block=1]', $parent);
                var currentType = $('select.block-type', $parent).val();

                $blockItems.each(function( index ) {
                    var $formBlock = $(this).closest('.form-group');

                    var dataTypesText = $(this).attr('data-types');
                    var dataTypes = [];
                    if(dataTypes) {
                        dataTypes = JSON.parse(dataTypesText);
                    }

                    if(dataTypes.includes(currentType)) {
                        $formBlock.removeClass('hidden-field');
                    } else {
                        $formBlock.addClass('hidden-field');
                    }
                });
            }

            function rebuildAll()
            {
                var $selects = $('select.block-type');

                $selects.each(function( index ) {
                    var $parent = $(this).closest('.form-group').parent();
                    rebuildItem($parent);
                });
            }

            initBlockItems();
            rebuildAll();

            // change type
            $(document).on('change', 'select.block-type', function() {
                var $parent = $(this).closest('.form-group').parent();
                rebuildItem($parent);
            });

            // add item in display type equal inner
            $(document).on('sonata.add_element', function() {
                initBlockItems();
                rebuildAll();
            });

            // open modal new item
            $(document).on('sonata-admin-setup-list-modal', function() {
                initBlockItems();
                rebuildAll();
            });
        });
    </script>

{% endblock %}