{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <div>
        <strong><a href="{{ path('app.default.index', {'_switch_user': object.username }) }}">Воплотиться в юзера</a></strong>
    </div>
{% endblock %}