{% extends 'template/innerpage/template.html.twig' %}

{% block content %}

    <section class="white overflow">
        <div class="container">
            <div id="personal-authtoken" data-attach-vue="personal-authtoken"></div>
        </div>
    </section>

{% endblock %}
