{% extends 'template/innerpage/template.html.twig' %}

{% block content %}
    <section class="white">
        <div class="container">

            <div class="h2 faqued">Частые вопросы</div>

            <dl class="accordion">
                {% for faqCategory in faqCategories %}
                <div class="h3">{{ faqCategory.title }}</div>
                <div class="questions-list">
                    {% for faqItem in faq if faqItem.category == faqCategory %}
                    <div class="panel-question">
                        <dt class="panel-title">
                            <span>{{ faqItem.title }}</span>
                            <span class="circle plus"></span>
                        </dt>
                        <dd class="panel-body">
                            {{ faqItem.description|raw }}
                        </dd>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </dl>

            {% include 'block/sender_banner.html.twig' %}

            {% include 'block/questions.html.twig' %}

            {{ render(url('app.part.partners')) }}
        </div>
    </section>

{% endblock %}

{% block stylesheets %}
    <script>
        (function($) {
            var tSlide = 250;
            var isAnimated = false;

            var $allPanels = $('.accordion dd').hide();

            $('.accordion dt').click(function() {
                var $parent = $(this).parent();
                var $target = $(this).next('dd');

                if (!isAnimated) {
                    if (!$parent.hasClass('active')) {
                        isAnimated = true;
                        $allPanels.parent().removeClass('active');
                        $allPanels.slideUp(tSlide, function () {
                            isAnimated = false;
                        });
                        $parent.addClass('active');
                        $target.slideDown(tSlide);
                    }
                    else {
                        $parent.removeClass('active');
                        $target.slideUp(tSlide, function () {
                            isAnimated = false;
                        });
                    }
                }
            });

        })(jQuery);


    </script>

{% endblock %}
