<template>
    <div>

        <div class="profile-wrapper" v-if="order">
            <div class="block-title">
                <a v-if="order.packages.length && !orderChanged" :href="'/wms/pdf/order/marking/' + order.externalId" target="_blank" class="print-order">
                    <img src="/img/print.svg" alt="">
                    <span>Печать маркировки заказа</span>
                </a>
            </div>

            <form class="profile-column bigger def-form js-editable-form" v-bind:class="{'disabled-blur': !authed}">
                <wmsOrderInfo :orderId="orderId"></wmsOrderInfo>

                <div class="form-wrapper">
                    <div class="form-row-inner">
                        <template v-for="(packageItem, index) in order.packages">
                            <package-item-form
                                ref="package"
                                :index="index"
                                :packageItem="packageItem"
                                :edit="order.isEditStatus"
                                :stockFrom="stockFrom"
                                :stockTo="stockTo" />
                        </template>
                    </div>
                </div>

                <div class="js-add-cargo add-cargo" v-on:click="createPackage" v-if="order.isEditStatus">
                    <span><img src="/img/plus.svg" alt=""></span>
                    Добавить место
                </div>

                <div class="documents-links">
                    <div class="form-group">
                        <uploadFile
                                :file="getFileByGroup('procuratory')"
                                :url="'/api/wms/wmsorder/order-upload-file/'+order.externalId"
                                :name="'доверенность'"
                                :group="'procuratory'"
                                :loadName="'Доверенность загружена'"
                        />
                    </div>

                    <div class="form-group" v-bind:class="{disabled: orderChanged}">
                        <a target="_blank" :href="'/wms/pdf/order/er/' + order.externalId">
                            <img src="/img/print-dark.svg" alt="">
                            <span>Распечатать ЭР </span>
                        </a>
                    </div>

                    <div class="form-group" v-bind:class="{disabled: orderChanged}">
                        <uploadFile
                                :file="getFileByGroup('er')"
                                :url="'/api/wms/wmsorder/order-upload-file/'+order.externalId"
                                :name="'ЭР'"
                                :group="'er'"
                                :loadName="'ЭР загружена'"
                        />
                    </div>
                </div>
                <div class="form-group proxy-phone js-visible-on-upload hidden">
                    <label for="proxyPhone">Телефон доверенного лица</label>
                    <input type="text" class="form-control phone-number" name="proxyPhone" id="proxyPhone" value="">
                </div>
                <div class="clearfix"></div>

                <div class="order-column-buttons" v-if="order.isEditStatus"   v-bind:class="{'disabled-blur': saving}">
                    <span href="#" v-if="orderChanged" v-on:click="saveOrder" class="btn-default pull-right">Сохранить</span>
                    <span href="#" v-else v-on:click="acceptedOrder" class="btn-default pull-right">Принять</span>
                </div>
            </form>

            <form class="profile-column def-form js-editable-form" style="margin-top: -9px">
                <wms-order-login v-if="!authed" :orderId="orderId" @auth_succesfull="reloadOrder"></wms-order-login>        

                <div class="btn-group lined-tabs buttons-list">
                    <span v-on:click="gotoStep(1)"  class="buttons-list__item" v-bind:class="{'buttons-list__item--active': step == 1, 'buttons-list__item--error': errors.has('step-direction')}">Детали доставки</span>
                    <span v-on:click="gotoStep(2)"  class="buttons-list__item" v-bind:class="{'buttons-list__item--active': step == 2, 'buttons-list__item--error': errors.has('step-sender')}">Отправитель</span>
                    <span v-on:click="gotoStep(3)"  class="buttons-list__item" v-bind:class="{'buttons-list__item--active': step == 3, 'buttons-list__item--error': errors.has('step-reciever')}">Получатель</span>
                    <span v-on:click="gotoStep(4)"  class="buttons-list__item" v-bind:class="{'buttons-list__item--active': step == 4, 'buttons-list__item--error': errors.has('step-payer')}">Плательщик</span>
                </div>
                <div class="tab-content lined-tabs"   v-bind:class="{'disabled-blur': !authed}">
                    <template>
                    
                        <div class="order-column"  v-bind:class="{'loading' : false}">
                            <div v-show="step == 1">
                                <orderStepDirection
                                        :pickUp="order.pickUp"
                                        :deliver="order.deliver"
                                        :direction="direction"
                                        :order="order"

                                        :isEditFromAvailable="false"
                                        :isEditLastAvailable="true"

                                        :isEditLastMileAvailable="true"

                                        :isNew="true"

                                        :payed="order.payed"

                                        :isAddDeliver="order.isAddDeliver"
                                        :isEditDeliver="order.isEditDeliver"
                                        :editRecevier="order.editRecevier"

                                        @deliver_update="updateDeliver"

                                        ref="step-direction"
                                ></orderStepDirection>

                                <div class="order-info-item">
                                    <b>Объявленная ценность, ₽: </b>
                                    <div class="form-column can-edit">
                                        <input
                                                type="text"
                                                v-filter="maskfilter.numeric"
                                                v-model="order.declaredPrice"
                                                class="form-control"
                                                name="declaredValue"
                                                id="declaredValue"
                                                v-validate="{required: false}" >
                                    </div>
                                </div>

                                <template v-if="order.deliver && order.deliver.active">
                                    <div class="form-column dop-info js-dop-info" v-if="deliveryPrice">
                                        <div>
                                            <div class="h5">Дополнительные услуги:</div>
                                            <ul>
                                                <li>доставить груз до адреса получателя</li>
                                            </ul>
                                            <div class="dop-price">
                                                <span>стоимость (без НДС, руб.) —</span>
                                                <span class="dop-price-value">
                                                <b>{{ deliveryPrice }}</b> руб.
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-column dop-info js-dop-info" v-else>
                                        <div>
                                            <div class="h5">Стоимость доставки до двери будет известна после сохранения заказа</div>
                                        </div>
                                    </div>
                                </template>

                            </div>

                            <orderStepSender
                                    :availableEdit="true"
                                    :user="order.user"
                                    :userPerson="order.userPerson"
                                    :sender="order.sender"
                                    v-show="step == 2"
                                    ref="step-sender"
                            ></orderStepSender>


                            <orderStepReciever
                                    :availableEdit="true"
                                    :user="order.user"
                                    :userPerson="order.userPerson"
                                    :receiver="order.receiver"
                                    v-show="step == 3"
                                    ref="step-reciever"
                            ></orderStepReciever>

                            <orderStepPayer
                                    :availableEdit="true"
                                    :user="order.user"
                                    :userPerson="order.userPerson"

                                    :payer="order.payer"
                                    :sender="order.sender"
                                    :receiver="order.receiver"

                                    v-show="step == 4"
                                    ref="step-payer"
                            ></orderStepPayer>

                        </div>

                    </template>
                </div>
            </form>

            <unique-person-popup :user="order.user" ref="popup-person-uniquer"></unique-person-popup>
        </div>

        
        <v-dialog/>
    </div>
</template>



<script>
    import Vue from 'vue';
    import ff from '../../../../vueconfig.js';
    import PackageItemForm from './../parts/packageForm';
    import OrderStepDirection from './../parts/directionForm';
    import OrderStepReciever from './../parts/recieverForm';
    import OrderStepPayer from './../parts/payerForm';
    import OrderStepSender from './../parts/senderForm';


    import OrderInfo from './../parts/orderInfo';

    import UniquePersonPopup from './../parts/uniquePersonPopup';

    import ShippingHelper from '../../../custom/helper/shipping';
    import PackagesHelper from '../../../custom/helper/packages';
    import OrderHelper from '../../../custom/helper/order';
    import PersonHelper from '../../../custom/helper/person';

    import WmsOrderLogin from './../parts/login';
    import UploadFile from '../../../../block/upload-file.vue';

    import VModal from 'vue-js-modal';
    

    Vue.use(VModal, { dialog: true });


    export default {
        name: 'wms-order-create-common',
        props: ['printdata', 'orderId'],
        components: {
            UploadFile,
            PackageItemForm,
            OrderStepDirection,
            OrderStepReciever,
            WmsOrderLogin,
            OrderStepPayer,
            wmsOrderInfo: OrderInfo,
            UniquePersonPopup,
            OrderStepSender
        },
        data() {
            return {
                step: 1,
                print: {},
                maskfilter: ff.filter(),

                deliveryChanged: false,
                packagesChanged: false,
                
                /**
                 * Заказ отличается от сохраненной версии
                 */
                orderChanged: false,
                saving: false
            }
        },
        computed: {
            direction: function () {
                return {
                    cityFrom: this.order.pickUp && this.order.pickUp.stockObject ? this.order.pickUp.stockObject.city : null
                    
                }
            },
            authed: function () {
                return this.order.user;
            },
            originalOrder() {
                return this.$store.getters.originalOrder(this.orderId);
            },
            persons() {
                return this.$store.getters['persons/persons'];
            },
            order() {
                if (this.$store.getters.dirtyOrder) {
                    return this.$store.getters.dirtyOrder;
                }
                return false;
            },
            stockFrom() {
                return this.$store.getters.stockFrom;
            },
            stockTo() {
                return this.$store.getters.stockTo;
            },

            deliveryPrice() {
                if (!this.deliveryChanged && !this.packagesChanged) {
                    if (this.order.deliver && this.order.deliver.price) {
                        return this.order.deliver.price;
                    }
                }

                return false;
            }
        },
        methods: {
            gotoStep(step) {
                // Подсвечиваем ошибки, при смене шагов
                if (this.step == 1) {
                    this.checkStep('step-direction');
                }
                if (this.step == 2) {
                    this.checkStep('step-sender');
                }
                if (this.step == 3) {
                    this.checkStep('step-reciever');
                }
                if (this.step == 4) {
                    this.checkStep('step-payer');
                }

                this.step = step;
            },
            createPackage: function (index) {
                this.$store.dispatch('createPackage');
            },
            removePackage: function (index) {
                this.$store.dispatch('removePackage', index);
            },

            saveOrder: function () {
                let $this = this;
                let promices = [];
                let tmpPromise = null;
                this.saving = true;

                // проверяем грузы
                for (var i in this.$refs['package']) {
                    tmpPromise = this.$refs['package'][i].isValid().then(status => { }, error => { throw 'error'; });
                    promices.push(tmpPromise);
                }

                promices.push(this.checkStep('step-direction'));
                promices.push(this.checkStep('step-sender'));
                promices.push(this.checkStep('step-reciever'));
                promices.push(this.checkStep('step-payer'));

                window.Promise.all(promices).then((v) => {
                    // Если плательщик указан отправителем, надо его перезаписать после проверки уникальности
                    let payerReceiverEquals = PersonHelper.isEquals(this.order.payer, this.order.receiver);
                    let payerSenderEquals = PersonHelper.isEquals(this.order.payer, this.order.sender);

                    tmpPromise = (new Promise(resolve => { resolve(true) })).then(() => {
                        return $this.$refs['popup-person-uniquer'].checkUnique(this.order.sender).then(() => {
                            if (payerSenderEquals) {
                                // отправитель может измениться в процессе сохранения, нужно обновить плательщика
                                PersonHelper.copy(this.order.payer, this.order.sender);
                            }
                        });
                    }).then(() => {
                        return $this.$refs['popup-person-uniquer'].checkUnique(this.order.receiver).then(() => {
                            if (payerReceiverEquals) {
                                // получатель может измениться в процессе сохранения, нужно обновить плательщика
                                PersonHelper.copy(this.order.payer, this.order.receiver);
                            }
                        });
                    }).then(() => {
                        return $this.$refs['popup-person-uniquer'].checkUnique(this.order.payer);
                    }).then(() => {
                        this.$store.dispatch('saveDirtyOrder').then(data => {
                            this.saving = false;
                        }, error => {
                            this.saving = false;
                        });
                    });
                }, error => {
                    this.saving = false;
                });
            },

            checkStep: function (stepRef) {
                let tmpPromise = this.$refs[stepRef].isValid().then(() => {
                    this.errors.remove(stepRef);
                }, status => {
                    this.errors.add({field: stepRef, msg: 'error on step', id: stepRef});
                    throw 'error';
                });

                return tmpPromise;
            },

            updateDeliver: function (val) {
                this.$store.dispatch('setStockTo', val.stock);
            },
            
            acceptedOrder: function ($event) {
                let $this = this;
                let promices = [];
                let tmpPromise = null;

                // проверяем грузы
                for (var i in this.$refs['package']) {
                    tmpPromise = this.$refs['package'][i].isValid().then(status => { }, error => { throw 'error'; });
                    promices.push(tmpPromise);
                }

                promices.push(this.checkStep('step-direction'));
                promices.push(this.checkStep('step-sender'));
                promices.push(this.checkStep('step-reciever'));
                promices.push(this.checkStep('step-payer'));

                window.Promise.all(promices).then((v) => {
                    this.$modal.show('dialog', {
                        text: 'Принять заказ?',
                        buttons: [
                            {
                                title: 'Да',
                                default: true,
                                handler: () => {
                                    this.$store.dispatch('orders/acceptedOrder', {orderId: this.orderId}).then(() => {
                                        window.location.href = '/wms';
                                    }, error => {});
                                    $this.$modal.hide('dialog');
                                }
                            },
                            {
                                title: 'Нет',
                                handler: () => {
                                    $this.$modal.hide('dialog');
                                }
                            },
                        ]
                    });
                }, error => {  });

            },

            reloadOrder: function () {
                this.$store.dispatch('loadOrder', this.orderId);
            },

            getFileByGroup: function(type) {
                return this.$store.getters['orders/fileByGroup'](type, this.orderId);
            },
        },

        watch: {
            'printdata': function(val) {
                if (typeof val === 'string' || val instanceof String) {
                    this.print = JSON.parse(val);
                }
            },
            'order': {
                handler(order){
                    /**
                     * Отслеживаем изменения редактируемового заказа
                     */
                    let originalDeliver = this.originalOrder.deliver;
                    let originalPackages = this.originalOrder.packages;

                    this.deliveryChanged = !ShippingHelper.isShippingEquals(order.deliver, originalDeliver);
                    this.packagesChanged = !PackagesHelper.isEquals(order.packages, originalPackages);
                    this.orderChanged = !OrderHelper.isEquals(order, this.originalOrder);
                    
                    if (this.packagesChanged) {
                        this.$store.dispatch('regeneratePackagesIds');
                    }                    
                },
                deep: true
            }
        },
        provide() {
            return {
                $validator: this.$validator,
            }
        },
    }
</script>
