<template>
    <div>

        <div class="profile-wrapper" v-if="order">
            <div class="block-title">
                <a v-if="order.packages.length && !orderChanged" :href="'/wms/pdf/order/marking/' + order.externalId" target="_blank" class="print-order">
                    <img src="/img/print.svg" alt="">
                    <span>Печать маркировки заказа</span>
                </a>
            </div>

            <form class="profile-column bigger def-form js-editable-form">
                <wmsOrderInfo :orderId="orderId"></wmsOrderInfo>

                <div class="form-wrapper">
                    <div class="form-row-inner">
                        <template v-for="(packageItem, index) in order.packages">
                            <package-item-form
                                ref="package"
                                :index="index"
                                :isAvailablePacking="false"
                                :packageItem="packageItem"
                                :edit="order.isEditStatus"
                                :stockFrom="stockFrom"
                                :stockTo="stockTo" />
                        </template>
                    </div>
                </div>

                <div class="js-add-cargo add-cargo" v-on:click="createPackage" v-if="order.isEditStatus">
                    <span><img src="/img/plus.svg" alt=""></span>
                    Добавить место
                </div>

                <div class="documents-links">
                    <div class="form-group">
                        <uploadFile
                                :file="getFileByGroup('procuratory')"
                                :url="'/api/wms/wmsorder/order-upload-file/'+order.externalId"
                                :name="'доверенность'"
                                :group="'procuratory'"
                                :loadName="'Доверенность загружена'"
                        />
                    </div>

                    <div class="form-group" v-bind:class="{disabled: orderChanged || order.deliver.active || !originalOrder.sender || !originalOrder.sender.id}">
                        <a target="_blank" :href="'/wms/pdf/order/er/' + order.externalId">
                            <img src="/img/print-dark.svg" alt="">
                            <span>Распечатать ЭР </span>
                        </a>
                    </div>

                    <div class="form-group" v-bind:class="{disabled: orderChanged || !originalOrder.sender || !originalOrder.sender.id}">
                        <uploadFile
                                :file="getFileByGroup('er')"
                                :url="'/api/wms/wmsorder/order-upload-file/'+order.externalId"
                                :name="'ЭР'"
                                :group="'er'"
                                :loadName="'ЭР загружена'"
                        />
                    </div>
                </div>
                <div class="form-group proxy-phone js-visible-on-upload hidden">
                    <label for="proxyPhone">Телефон доверенного лица</label>
                    <input type="text" class="form-control phone-number" name="proxyPhone" id="proxyPhone" value="">
                </div>
                <div class="clearfix"></div>

                <div class="order-column-buttons" v-if="order.isEditStatus"   v-bind:class="{'disabled-blur': saving}">
                    <span href="#" v-if="orderChanged" v-on:click="saveOrder" class="btn-default pull-right">Сохранить</span>
                    <span href="#" v-else v-on:click="acceptedOrder" class="btn-default pull-right">Принять</span>
                </div>
            </form>

            <form class="profile-column def-form js-editable-form" style="margin-top: -9px">
                <div class="tab-content lined-tabs">
                    <template>
                        <div class="order-column"  v-bind:class="{'loading' : false}">
                            <orderStepDirection
                                    :pickUp="order.pickUp"
                                    :deliver="order.deliver"
                                    :direction="direction"
                                    :order="order"

                                    :isEditFromAvailable="false"
                                    :isEditLastAvailable="true"

                                    :isEditFirstMileAvailable="false"
                                    :isEditLastMileAvailable="false"

                                    :isNew="true"

                                    :payed="order.payed"

                                    :isAddDeliver="order.isAddDeliver"
                                    :isEditDeliver="order.isEditDeliver"
                                    :editRecevier="order.editRecevier"

                                    @deliver_update="updateDeliver"

                                    ref="step-direction"
                            ></orderStepDirection>

                            <div class="order-info-item">
                                <b>Объявленная ценность, ₽: </b>
                                <div class="form-column can-edit">
                                    <input
                                            type="text"
                                            v-filter="maskfilter.numeric"
                                            v-model="order.declaredPrice"
                                            class="form-control"
                                            name="declaredValue"
                                            id="declaredValue"
                                            v-validate="{required: false}" >
                                </div>
                            </div>
                        </div>

                    </template>
                </div>
            </form>
        </div>

        
        <v-dialog/>
    </div>
</template>



<script>
    import Vue from 'vue';
    import ff from '../../../../vueconfig.js';
    import PackageItemForm from './../parts/packageForm';
    import OrderStepDirection from './../parts/directionForm';
    import OrderStepReciever from './../parts/recieverForm';
    import OrderStepPayer from './../parts/payerForm';
    import OrderInfo from './../parts/orderInfo';

    import PackagesHelper from '../../../custom/helper/packages';

    import OrderHelper from '../../../custom/helper/order';
    import PersonHelper from '../../../custom/helper/person';

    import WmsOrderLogin from './../parts/login';
    import UploadFile from '../../../../block/upload-file.vue';

    import VModal from 'vue-js-modal';
    

    Vue.use(VModal, { dialog: true });

    export default {
        name: 'wms-order-create-ftl',
        props: ['printdata', 'orderId'],

        components: {
            UploadFile,
            PackageItemForm,
            OrderStepDirection,
            OrderStepReciever,
            WmsOrderLogin,
            OrderStepPayer,
            wmsOrderInfo: OrderInfo
        },
        data() {
            return {
                print: {},
                maskfilter: ff.filter(),

                deliveryChanged: false,
                packagesChanged: false,
                
                /**
                 * Заказ отличается от сохраненной версии
                 */
                orderChanged: false,
                saving: false
            }
        },
        computed: {
            direction: function () {
                return {
                    cityFrom: this.order.pickUp && this.order.pickUp.stockObject ? this.order.pickUp.stockObject.city : null
                }
            },
            originalOrder() {
                return this.$store.getters.originalOrder(this.orderId);
            },
            order() {
                if (this.$store.getters.dirtyOrder) {
                    return this.$store.getters.dirtyOrder;
                }
                return false;
            },
            stockFrom() {
                return this.$store.getters.stockFrom;
            },
            stockTo() {
                return this.$store.getters.stockTo;
            },
        },
        methods: {
            createPackage: function (index) {
                this.$store.dispatch('createPackage');
            },

            removePackage: function (index) {
                this.$store.dispatch('removePackage', index);
            },

            saveOrder: function () {
                let $this = this;
                let promices = [];
                let tmpPromise = null;

                this.saving = true;

                // проверяем грузы
                for (var i in this.$refs['package']) {
                    tmpPromise = this.$refs['package'][i].isValid().then(status => { }, error => { throw 'error'; });
                    promices.push(tmpPromise);
                }

                // проверяем доставку
                promices.push(this.checkStep('step-direction'));

                // Пользователь всегда отправитель, получатель и плательщик
                if (this.order.userPerson) {
                    PersonHelper.copy(this.order.sender, this.order.userPerson);
                    PersonHelper.copy(this.order.receiver, this.order.userPerson);
                    PersonHelper.copy(this.order.payer, this.order.userPerson);
                }

                window.Promise.all(promices).then((v) => {
                    this.$store.dispatch('saveDirtyOrder').then(data => {
                        this.saving = false;
                    }, error => {
                        this.saving = false;
                    });
                }, error => {
                    this.saving = false;
                });
            },

            updateDeliver: function (val) {
                this.$store.dispatch('setStockTo', val.stock);
            },
            
            acceptedOrder: function ($event) {
                let $this = this;
                let promices = [];
                let tmpPromise = null;

                // проверяем грузы
                for (var i in this.$refs['package']) {
                    tmpPromise = this.$refs['package'][i].isValid().then(status => { }, error => { throw 'error'; });
                    promices.push(tmpPromise);
                }

                promices.push(this.checkStep('step-direction'));

                window.Promise.all(promices).then((v) => {
                    this.$modal.show('dialog', {
                        text: 'Принять заказ?',
                        buttons: [
                            {
                                title: 'Да',
                                default: true,
                                handler: () => {
                                    this.$store.dispatch('orders/acceptedOrder', {orderId: this.orderId}).then(() => {
                                        window.location.href = '/wms';
                                    }, error => {});
                                    $this.$modal.hide('dialog');
                                }
                            },
                            {
                                title: 'Нет',
                                handler: () => {
                                    $this.$modal.hide('dialog');
                                }
                            },
                        ]
                    });
                }, error => {  });
            },

            getFileByGroup: function(type) {
                return this.$store.getters['orders/fileByGroup'](type, this.orderId);
            },

            reloadOrder: function () {
                this.$store.dispatch('loadOrder', this.orderId);
            },

            checkStep: function (stepRef) {
                let tmpPromise = this.$refs[stepRef].isValid().then(() => {
                    this.errors.remove(stepRef);
                }, status => {
                    this.errors.add({field: stepRef, msg: 'error on step', id: stepRef});
                    throw 'error';
                });

                return tmpPromise;
            },
        },


        watch: {
            'printdata': function(val) {
                if (typeof val === 'string' || val instanceof String) {
                    this.print = JSON.parse(val);
                }
            },
            'order': {
                handler(order){
                    /**
                     * Отслеживаем изменения редактируемового заказа
                     */
                    let originalPackages = this.originalOrder.packages;

                    this.packagesChanged = !PackagesHelper.isEquals(order.packages, originalPackages);
                    this.orderChanged = !OrderHelper.isEquals(order, this.originalOrder);
                    
                    if (this.packagesChanged) {
                        this.$store.dispatch('regeneratePackagesIds');
                    }                    
                },
                deep: true
            }
        },
        provide() {
            return {
                $validator: this.$validator,
            }
        },
    }
</script>
