<template>
    <div class="container" v-if="order" v-bind:class="{load: !loading}">
        <ul class="breadcrumbs">
            <li><a href="/wms">Заказ</a></li>
            <li><span>Выдать заказ</span></li>
        </ul>
        <div class="consignment-head">
            <div class="bolder-list">
                <div class="list-column">
                    <div class="list-item">
                        <span>ID заказа</span>
                        <b>{{ order.externalId }}</b>
                    </div>
                </div>
                <div class="list-column" style="width: 180px">
                    <div class="list-item">
                        <span>Цена, ₽</span>
                        <b>{{ order.price }}</b>
                    </div>
                </div>
                <div class="list-column" style="width: 245px">
                    <div class="list-item">
                        <span>Объявленная ценность, ₽</span>
                        <b>{{ order.declaredPrice }}</b>
                    </div>
                </div>
                <div class="list-column">
                    <div class="list-item">
                        <span>Общий вес, кг</span>
                        <b>{{ order.totalWeight }}</b>
                    </div>
                </div>
            </div>
            <a :href="'/wms/pdf/order/composition/'+order.externalId" class="btn-gray not-filled pull-right"><img src="/img/print-dark.svg" alt=""> Печать состава заказа</a>
        </div>
        <span class="consist">Состав заказа</span>
        <table class="order-table consignment-table">
            <thead>
            <tr>
                <th>
                    <span>ID места</span>
                    <sort :sort="sort" sortBy="pallet.id"></sort>
                </th>
                <th class="order-shipment">
                    <span>Объем, см3:</span>
                    <sort :sort="sort" sortBy="pallet.volume"></sort>
                </th>
                <th class="order-accept">
                    <span>Вес приемки, кг:</span>
                    <sort :sort="sort" sortBy="pallet.weight"></sort>
                </th>
                <th class="order-crash">
                    <span>Повреждения</span>
                </th>
            </tr>
            </thead>

            <tbody v-for="packageItem in order.packages">
                <tr v-bind:class="{'not-equal' : packageItem.damaged}">
                    <td class="order-number disabled">{{ packageItem.externalId }}</td>
                    <td class="order-shipment js-shipment-value">{{ packageItem.volume }}</td>
                    <td class="order-delivery">{{ packageItem.weight }}</td>
                    <td class="order-open">
                        <label class="control control--checkbox">
                            <input type="checkbox" v-model="packageItem.damaged" :checked="packageItem.damaged" v-on:click="orderSaveDelivered(); toogleShowDetailPackage(packageItem)" />
                            <div class="control__indicator"></div>
                            Повреждено
                        </label>
                        <span class="js-open-order" v-on:click="toogleShowDetailPackage(packageItem)" v-bind:class="{'active' : showDetailPackage(packageItem)}">
                            <img src="/img/down-arrow.svg" alt="">
                        </span>
                    </td>
                </tr>
                <tr v-if="showDetailPackage(packageItem)">
                    <td colspan="6">
                        <ul class="consignment-list">
                            <li>
                                <div class="bolder-list">
                                    <div class="list-column big">
                                        <div class="list-item wide">
                                            <span>Тип груза</span>
                                            <b>{{ packageItem.packageType.title }} </b>
                                        </div>
                                    </div>
                                    <div class="list-column big">
                                        <div class="list-item wide">
                                            <span>Длина х Ширина х Высота, см:</span>
                                            <b>{{ packageItem.size }}</b>
                                        </div>
                                    </div>
                                    <div class="list-column big" v-if="packageItem.packing">
                                        <div class="list-item wide">
                                            <span>Упаковка:</span>
                                            <b>{{ packageItem.packing.title }}</b>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>

        </table>

        <paginate
            v-scroll-to="{
                    el: '.order-table',
                    container: 'body',
                    duration: 700,
                    easing: 'ease-in',
                    offset: -200,

                    x: false,
                    y: true
                }"
            v-if="pagination.pages > 1"
            :page-count="pagination.pages"
            :page-range="6"
            :margin-pages="1"
            prev-text=""
            prev-class="unstyled"
            prev-link-class="btn btn-rect previous"
            next-class="unstyled"
            next-link-class="btn btn-rect next"
            next-text=""
            :click-handler="changePage"
            :container-class="'pagination'"
            :page-class="'page-item'">
        </paginate>


        <div class="documents-links">
            <div class="form-group">
                <uploadFile
                        :file="getFileByGroup('procuratory')"
                        :url="'/api/wms/wmsorder/order-upload-file/'+order.externalId"
                        :name="'доверенность'"
                        :group="'procuratory'"
                        :loadName="'Доверенность загружена'"
                />
            </div>

            <div class="form-group">
                <a target="_blank" :href="'/wms/pdf/order/act/'+order.externalId">
                    <img src="/img/print-dark.svg" alt="">
                    <span>Распечатать акт</span>
                </a>
            </div>

            <div class="form-group">
                <uploadFile
                        :file="getFileByGroup('akty')"
                        :url="'/api/wms/wmsorder/order-upload-file/'+order.externalId"
                        :name="'Акт'"
                        :group="'akty'"
                        :loadName="''"
                />
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="order-column-buttons">
            <a href="#" class="btn-default pull-right" v-on:click="orderDelivered()" v-bind:class="{disabled: order.issueAt}">Выдать</a>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import ff from '../../../vueconfig.js';
    import Files from '../../../block/files.vue';
    import UploadFile from '../../../block/upload-file.vue';
    import Sort from '../../../block/sort.vue';
    import vSelect from 'vue-select';
    import DatePicker from 'vue2-datepicker';
    import VModal from 'vue-js-modal';
    import Paginate from 'vuejs-paginate';
    import VueScrollTo from 'vue-scrollto';
    Vue.use(VModal);

    export default {
        name: 'orderDelivered',
        props: ['orderId', 'open'],
        components: {
            Files,
            DatePicker,
            vSelect,
            Paginate,
            VueScrollTo,
            Sort,
            UploadFile
        },
        data() {
            return {
                loading: true,
                orderData: null,
                order: null,
                packageId: null,
                filter: '',
                sort: {
                    by: 'id',
                    direction: 'desc'
                },
                edit: false,
                pagination: {
                    page : 1,
                    perPage : 10,
                    pages : 0,
                },
                selectPallets: []
            }
        },
        computed: {

        },
        created() {

        },
        destroyed() {

        },
        methods: {
            formatPhone: function (phone) {
                return ff.formatPhone(phone);
            },

            formatDateTime: function (phone) {
                return ff.formatDateTime(phone);
            },

            formatDate: function (phone) {
                return ff.formatDate(phone);
            },

            formatTime: function (phone) {
                return ff.formatTime(phone);
            },

            getFileByGroup: function($type) {
                let $this = this;
                let $result = null;

                $.each($this.order.files, function( index, file ) {
                    if (file.group && file.group.slug == $type) {
                        $result = file;
                    }
                })

                return $result;
            },

            toggleOrder: function(orderId) {
                let $this = this;

                if ($this.orderId == orderId) {
                    $this.orderId = null;
                } else {
                    $this.loadOrder(orderId)
                }
            },

            loadOrder: function () {
                let $this = this;

                let jqxhr = $.ajax({
                    url: "/api/wms/wmsorder/order/"+$this.orderId,
                    cache: false,
                    async: false
                });

                let data = jqxhr.responseJSON.data;

                this.order = data.order;
            },

            orderDelivered: function($event) {
                var $this = this;

                var formData = new FormData();

                $.each($this.order.packages, function( index, packageItem ) {
                    formData.append('order[packages]['+index+'][id]', packageItem.id);
                    formData.append('order[packages]['+index+'][damaged]', packageItem.damaged ? 1 : 0);
                })

                ff.openPopupButton('Вы уверены?', '', '', function () {
                    var jqxhr = $.ajax({
                        method: 'POST',
                        url: " /api/wms/wmsorder/order-delivered/"+$this.order.id,
                        cache: false,
                        async: false,
                        data: formData,
                        dataType: "json",
                        processData: false,
                        contentType: false,
                    });

                    var data = jqxhr.responseJSON;

                    if (data.status == true) {
                        location.href = '/wms/';
                    }
                });

                return false;
            },

            createOrder: function($event) {
                this.orderSaveDelivered($event);
                this.loadOrder(this.orderId);
            },

            orderSaveDelivered: function($event) {
                var $this = this;

                var formData = new FormData();

                $.each($this.order.packages, function( index, packageItem ) {
                    formData.append('order[packages]['+index+'][id]', packageItem.id);
                    formData.append('order[packages]['+index+'][damaged]', packageItem.damaged ? 1 : 0);
                })

                var jqxhr = $.ajax({
                    method: 'POST',
                    url: " /api/wms/wmsorder/order-save-delivered/"+$this.order.id,
                    cache: false,
                    async: true,
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                });

                return false;
            },

            showDetailPackage: function (packageItem) {
                if (this.packageId == packageItem.id) {
                    return true;
                }

                return false;
            },

            toogleShowDetailPackage: function (packageItem) {
                if (this.packageId == packageItem.id) {
                    this.packageId = null;
                } else if(packageItem.damaged == true) {
                    this.packageId = packageItem.id;
                }

                return false;
            },
        },
        mounted: function() {
            this.loadOrder(this.orderId);
        },

        watch: {

        }
    }
</script>
