<template>
    <div id="wmsorder" class="container loading" v-bind:class="{load: originalOrder}">
        <ul class="breadcrumbs">
            <li><a href="/wms/">Заказы</a></li>
            <li><span>Редактировать заказ</span></li>
        </ul>

        <div class="profile-wrapper" v-if="order">

            <wms-order-edit-common v-if="orderType == 'common'" :printdata="printdata" :orderId="orderId"></wms-order-edit-common>
            <wms-order-edit-ftl v-if="orderType == 'ftl'" :printdata="printdata" :orderId="orderId"></wms-order-edit-ftl>
        </div>
    </div>
</template>



<script>
    import Vue from 'vue';
    import Vuex from 'vuex';

    import storeData from '../../custom/store/wms.order-edit.store';

    import WmsOrderEditCommon from "./orderCreateForms/orderEditCommon";
    import WmsOrderEditFtl from "./orderCreateForms/orderEditFtl";


    Vue.use(Vuex);

    const store = new Vuex.Store(storeData);

    export default {
        name: 'wms-order-create',
        props: ['printdata', 'orderId'],
        store,
        components: {
            WmsOrderEditCommon,
            WmsOrderEditFtl
        },
        data() {
            return {

            }
        },
        computed: {
            originalOrder() {
                return this.$store.getters.originalOrder(this.orderId);
            },
            order() {
                if (this.$store.getters.dirtyOrder) {
                    return this.$store.getters.dirtyOrder;
                }
                return false;
            },
            orderType() {
                let currentStock = this.$store.getters['config/currentStock'];
                let orderType = 'common';

                if (currentStock.ftlStock) {
                    orderType = 'ftl';
                }

                return orderType;
            }
        },
        methods: {

        },
        mounted: function() {
            this.$store.dispatch('init', {'orderId': this.orderId});
        },
        watch: {
            'originalOrder': function (val) {
                this.$store.dispatch('setDirtyOrder', val);
                if (val.packages && val.packages.length > 2) {
                    $(document).ready(function () {
                        $('.form-wrapper').scrollbar();
                    });

                }
            },
            'order.packages': function (packages) {
                if (packages.length > 2) {
                    $('.form-wrapper').scrollbar();
                    setTimeout(function(){
                        $('.form-wrapper').scrollTop($('.form-row-inner')[0].scrollHeight);
                    }, 200);
                }
            },
        }
    }
</script>
