<template>
    <div>
        <div :id="'package'+index" :key="index" class="form-row-wrap" v-for="(packageItem,index) in packages" >
            <ul class="row-buttons">
                <li class="js-cargo-quantity cargo-qty" v-bind:class="{ active: packageItem.count > 1}">
                    <input type="text" v-filter="filter.int" v-model="packageItem.count" name="packageItem.count" v-on:change="$parent.clearSave(); fixSize(packageItem)">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="19"><path fill="none" stroke="#BABABA" stroke-width="2" stroke-miterlimit="10" d="M5 1h14v14H5z"/><path fill="#FFF" stroke="#BABABA" stroke-width="2" stroke-miterlimit="10" d="M1 5h14v14H1z"/></svg>
                </li>
                <li v-if="packageItem.id > 0" class="order-edit-print">
                    <a target="_blank"  :href="'/wms/pdf/order/marking-package/'+getGenerateIdPackage(index)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="#BABABA" d="M21 17h-4v3H7v-3H3V8h18v9zm-2-2v-5H5v5h2v-3h10v3h2zm-4 3v-4H9v4h6zM7 4h10v2H7V4z"/></svg>
                    </a>
                </li>
                <li v-if="edit" lass="js-delete-order" data-id="'package'+index" v-on:click="$parent.removePackage(index)">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="14"><path fill="none" stroke="#BABABA" stroke-width="2" stroke-miterlimit="10" d="M0 0l13.9 14M14 0L0 13.9"/></svg>
                </li>
            </ul>
            <div class="form-row">
                <div class="form-column">
                    <div class="form-group bigger" v-bind:class="{ error: errors.has(scope+'package.packageType'+index) }">
                        <label for="orderType">Тип груза*</label>

                        <v-select
                                placeholder="Выберите тип груза"
                                :multiple="false"
                                :clearable="false"
                                :reduce="item => item.id"
                                v-model="packageItem.packageType"
                                label="title"
                                :options="packageTypes"
                                v-bind:class="{ error: errors.has(scope+'package.packageType'+index) }"
                                v-validate="{required: !packageItem.packageTypeAnother}"
                                v-on:change="$parent.clearSave()"
                        >
                        </v-select>

                        <input type="text"
                               v-if="!packageItem.packageType"
                               v-model="packageItem.packageTypeAnother"
                               v-bind:class="{ error: errors.has(scope+'package.packageTypeAnother' + index), 'active' : !packageItem.packageType }"
                               v-validate="{required: !packageItem.packageType}" :name="'package.packageTypeAnother' + index"
                               class="form-control hidden-field" >

                        <label class="error" v-if="errors.has(scope+'package.packageTypeAnother' + index)">Введите тип груза</label>
                        <label class="error" v-if="errors.has(scope+'package.packageType'+index)">Выберите тип груза</label>
                    </div>

                    <div class="form-group half mr-0">
                        <label for="orderSingleWeight">Вес 1 места, кг*</label>
                        <input type="text" class="form-control js-eq-right" v-filter="filter.int" v-on:change="$parent.clearSave(); fixSize(packageItem)" v-bind:class="{ error: errors.has(scope+'package.weight'+index) }" :name="'package.weight'+index" v-model="packageItem.weight" v-validate="'required|numeric'" min="1" step="1" placeholder="не менее 1">

                        <label class="error" v-if="errors.has(scope+'package.weight'+index) && !packageItem.weight">Заполните поле</label>
                        <label class="error" v-if="errors.has(scope+'package.weight'+index) && packageItem.weight">Только целые числа</label>
                    </div>

                </div>
                <div class="form-column">
                    <div class="form-group small">
                        <label for="orderLength">Длина, см</label>

                        <input type="text"  class="form-control js-eq-left" v-filter="filter.int" :placeholder="'не более '+maxDepth" v-on:change="$parent.clearSave(); fixSize(packageItem)" v-bind:class="{ error: errors.has(scope+'package.depth'+index)}" :name="'package.depth'+index" v-model="packageItem.depth" v-validate="{'required': true, numeric: true}">

                        <label class="error" v-if="errors.has(scope+'package.depth'+index) && !packageItem.depth">Заполните поле</label>
                        <label class="error" v-if="errors.has(scope+'package.depth'+index) && packageItem.depth">Только целые числа</label>

                    </div>
                    <div class="form-group small">
                        <label for="orderWidth">Ширина, см</label>

                        <input type="text" class="form-control js-eq-left" v-filter="filter.int" :placeholder="'не более '+maxWidth" v-on:change="$parent.clearSave(); fixSize(packageItem)" v-bind:class="{ error: errors.has(scope+'package.width'+index)}" :name="'package.width'+index" v-model="packageItem.width" v-validate="{'required' : true, numeric: true}">

                        <label class="error" v-if="errors.has(scope+'package.width'+index) && !packageItem.width">Заполните поле</label>
                        <label class="error" v-if="errors.has(scope+'package.width'+index) && packageItem.width">Только целые числа</label>
                    </div>
                    <div class="form-group small mr-0">
                        <label for="orderHeight">Высота, см</label>

                        <input type="text" class="form-control js-eq-left" v-filter="filter.int" :placeholder="'не более '+maxHeight" v-on:change="$parent.clearSave(); fixSize(packageItem)" v-bind:class="{ error: errors.has(scope+'package.height'+index)}" :name="'package.height'+index" v-model="packageItem.height" v-validate="{'required' : true, numeric: true}">

                        <label class="error" v-if="errors.has(scope+'package.height'+index) && !packageItem.height">Заполните поле</label>
                        <label class="error" v-if="errors.has(scope+'package.height'+index) && packageItem.height">Только целые числа</label>
                    </div>
                </div>
                <div class="form-column">
                    <div class="form-group bigger">
                        <label>Упаковка</label>

                        <v-select
                                class="packing-item"
                                placeholder="Без упаковки"
                                :multiple="false"
                                :clearable="false"
                                :reduce="item => item.id"
                                v-model="packageItem.packing"
                                :name="'packageItem.packing'+index"
                                label="title"
                                :options="getPackings()"
                                v-on:input="$parent.clearSave(); fixSize(packageItem)"
                                v-on:change="$parent.clearSave(); fixSize(packageItem)"
                                v-bind:class="{ error: errors.has(scope+'packageItem.packing'+index) }"
                        >
                        </v-select>

                        <input type="text" id="anotherPackage"
                               class="form-control hidden-field js-another-field">
                    </div>


                    <div class="form-group half mr-0">
                        <label for="orderPrice"> Стоимость упаковки, ₽</label>
                        <input type="text" v-on:change="$parent.clearSave()" v-model="packageItem.packingPrice" v-filter="filter.int" v-bind:class="{ error: errors.has(scope+'package.packingPrice'+index), disabled: !packageItem.packing}" placeholder="не менее 1" v-validate="{required: false}" :name="'packageItem.packingPrice'+index" class="form-control js-another-field" >
                    </div>

                </div>
                <div class="form-column">
                    <div class="form-group small">
                        <label for="orderId">ID места</label>
                        <input type="text" class="form-control no-border" name="orderId" id="orderId" placeholder="" :value="getGenerateIdPackage(index)">

                        <label class="control control--checkbox">
                            Повреждено
                            <input type="checkbox" v-model="packageItem.damaged" name="orderСrashed" value="1">
                            <div class="control__indicator"></div>
                        </label>
                    </div>
                    <div class="form-group small">
                        <!--<label for="orderInners">Вложения, шт</label>

                        <input type="text" class="form-control" v-on:change="$parent.clearSave(); fixSize(package)" v-filter="filter.int" v-bind:class="{ error: errors.has(scope+'package.count'+index) }" :name="'package.count'+index" v-model="packageItem.count" v-validate="'required|numeric'" min="1" max="80" step="1" placeholder="не более 80">

                        <label class="error" v-if="errors.has(scope+'package.count'+index) && !package.count">Заполните поле</label>
                        <label class="error" v-if="errors.has(scope+'package.count'+index) && package.count">Только целые числа</label>
                        -->
                    </div>
                    <div class="form-group small mr-0">
                        <label for="orderPallet">ID паллеты</label>
                        <div class="styled-input-number">
                            <input v-on:change="$parent.clearSave()" type="text" min="1" step="1" readonly class="disabled" v-model="packageItem.palletId" v-bind:class="{ error: errors.has(scope+'package.palletId'+index) }" v-validate="{required: true}" :name="'package.palletId'+index">
                            <div class="input-number-nav">
                                <div class="input-number-button input-number-up" v-on:click="upPalletId(packageItem)">
                                    <img src="/img/small-up.svg" alt="">
                                </div>
                                <div class="input-number-button input-number-down" v-on:click="downPalletId(packageItem)">
                                    <img src="/img/small-down.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import ff from '../../../vueconfig.js';
    import Files from '../../../block/files.vue';
    import vSelect from 'vue-select';
    import DatePicker from 'vue2-datepicker';
    import VModal from 'vue-js-modal';

    Vue.use(VModal);

    export default {
        name: 'packageListForm',
        props: ['packages', 'edit', 'scope', 'updatePallets'],
        components: {
            Files,
            DatePicker,
            vSelect
        },
        inject: ['$validator'],
        data() {
            return {
                mask: ff.mask(),
                maskfilter: ff.filter(),
                filter: ff.filter(),

                freePallets: [],

                maxWidth: 80,
                maxHeight: 180,
                maxDepth: 120,
                maxWeight: 1200,

                packageTypes: [],
                packings: [],
            }
        },
        methods: {
            getGenerateIdPackage: function (indexPackage) {
                let $this = this;
                let generateIdPackage = 0;

                $.each($this.packages, function( index, packageItem ) {
                    if (indexPackage > index) {
                        if (packageItem.count > 0) {
                            generateIdPackage = generateIdPackage + parseInt(packageItem.count);
                        } else {
                            generateIdPackage = generateIdPackage + 1;
                        }
                    } else if (indexPackage == index) {
                        if (packageItem.count > 1) {
                            generateIdPackage = parseInt(generateIdPackage + 1) + '-' + (generateIdPackage + parseInt(packageItem.count));
                        } else {
                            generateIdPackage = generateIdPackage + 1;
                        }
                    }
                })

                return $this.$parent.order.externalId + '/' + generateIdPackage;
            },

            fixSize: function (packageItem) {
                if (packageItem) {
                    let width = parseInt(packageItem.width);
                    let height = parseInt(packageItem.height);

                    if (isNaN(width)) {
                        width = 1;
                    }
                    if (isNaN(height)) {
                        height = 1;
                    }

                    if (parseInt(packageItem.height) > 0) {
                        packageItem.height = parseInt(packageItem.height);

                        if (packageItem.height > this.maxHeight) {
                            packageItem.height = this.maxHeight;
                        }
                    }

                    if (parseInt(packageItem.width) > 0) {
                        packageItem.width = parseInt(packageItem.width);

                        if (packageItem.width > this.maxWidth) {
                            packageItem.width = this.maxWidth;
                        }
                    }

                    if (parseInt(packageItem.depth) > 0) {
                        packageItem.depth = parseInt(packageItem.depth);

                        if (packageItem.depth > this.maxDepth) {
                            packageItem.depth = this.maxDepth;
                        }
                    }

                    if (packageItem.weight > this.maxWeight) {
                        packageItem.weight = this.maxWeight;
                    }
                    if (packageItem.weight < 1 && packageItem.weight != null && packageItem.weight != '') {
                        packageItem.weight = 1;
                    }

                    if (packageItem.count < 1 && packageItem.count != null && packageItem.count != '') {
                        packageItem.count = 1;
                    }

                    if (packageItem.height < 1 && packageItem.height != null && packageItem.height != '') {
                        packageItem.height = 1;
                    }

                    if (packageItem.width < 1 && packageItem.width != null && packageItem.width != '') {
                        packageItem.width = 1;
                    }

                    if (packageItem.depth < 1 && packageItem.depth != null && packageItem.depth != '') {
                        packageItem.depth = 1;
                    }

                    packageItem.packingPrice = this.getPackingPrice(packageItem);
                }

                if (this.price < 1 && this.price != null && this.price != '') {
                    this.price = 1;
                }

                return packageItem;
            },

            getPacking: function (packingId) {
                let result = null;
                $.each(this.packings, function( index, item ) {
                    if (item.id == packingId) {
                        result = item;
                    }
                });

                return result;
            },

            getVolume: function (width, height, depth) {
                return depth*height*width / 1000 / 1000;
            },

            getPackingPrice: function (packageCurrent) {
                let $this = this;
                let packingPrice = 0;
                let packing = this.getPacking(packageCurrent.packing);
                let exist = false;

                if (packing) {
                    $.each(this.getPackings(packageCurrent), function( index, item ) {
                        if (item.id == packing.id) {
                            exist = true;
                        }
                    });

                    if (exist) {
                        if (packing.type == 'for_one') {
                            packingPrice = packing.price;
                        } else if (packing.type == 'to_size') {
                            if (packageCurrent.calculateWeight > 0) {
                                packingPrice = packing.price * packageCurrent.calculateWeight;
                            } else {
                                packingPrice = packing.price * $this.getVolume(packageCurrent.width, packageCurrent.height, packageCurrent.depth);
                            }
                            if (packing.minPrice * 1 && packingPrice < packing.minPrice * 1) {
                                packingPrice = packing.minPrice * 1;
                            }
                        }
                    } else {
                        $.each(this.packages, function( index, packageItem ) {
                            if (packageItem.id == packageCurrent.id) {
                                $this.packages[index].packing = '';
                            }
                        })
                    }
                }

                return Math.round(packingPrice);
            },

            createPallet: function () {
                let $this = this;
                let formData = new FormData();

                if (!$this.$parent.order.stockTo || !$this.$parent.order.stockFrom) {
                    return null;
                }

                let stockFrom = $this.$parent.order.stockFrom.id;
                let stockTo = $this.$parent.order.stockTo.id;

                formData.append('data[stockFrom]', stockFrom);
                formData.append('data[stockTo]', stockTo);

                let jqxhr = $.ajax({
                    method: 'POST',
                    url: "/api/wms/wmspallet/create",
                    cache: false,
                    async: false,
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                });

                let data = jqxhr.responseJSON.data;

                return data.palletId;
            },

            loadPallets: function () {
                let $this = this;
                let formData = new FormData();

                if (!$this.$parent.order.stockTo || !$this.$parent.order.stockFrom) {
                    return [];
                }

                let stockFrom = $this.$parent.order.stockFrom.id;
                let stockTo = $this.$parent.order.stockTo.id;

                formData.append('data[stockFrom]', stockFrom);
                formData.append('data[stockTo]', stockTo);

                $.ajax({
                    method: 'POST',
                    url: "/api/wms/wmspallet/free_pallets",
                    cache: false,
                    async: true,
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                }).done(function(data) {
                    if (data.status) {
                        $this.freePallets = data.data.pallets;
                        $this.checkPalletId();
                    }
                });
            },

            upPalletId: function (packageItem) {
                let $this = this;
                let nextPalletId = null;

                $.each($this.freePallets, function( index, pallet ) {
                    if (packageItem.palletId == pallet.externalId) {
                        if ($this.freePallets[index + 1] != undefined) {
                            nextPalletId = $this.freePallets[index + 1].externalId;
                        }
                    }
                })

                if (!nextPalletId) {
                    nextPalletId = $this.createPallet();
                }

                if (nextPalletId) {
                    packageItem.palletId = nextPalletId;
                }

                $this.$parent.clearError();
                $this.loadPallets();
            },

            downPalletId: function (packageItem) {
                let $this = this;
                let prevPalletId = null;

                $.each($this.freePallets, function( index, pallet ) {
                    if (packageItem.palletId == pallet.externalId) {
                        if ($this.freePallets[index - 1] != undefined) {
                            prevPalletId = $this.freePallets[index - 1].externalId;
                        }
                    }
                })

                if (prevPalletId) {
                    packageItem.palletId = prevPalletId;
                }

                $this.$parent.clearError();
            },

            getPackings: function (packageItem) {
                let width = this.width;
                let height = this.height;
                let depth = this.depth;
                let result = [{'title': 'Без упаковки', 'id': null}];

                $.each(this.packings, function( index, packing ) {
                    result.push(packing);
                })

                return result;
            },

            checkPalletId: function () {
                let $this = this;
                if ($this.freePallets.length) {
                    let firstPallet = $this.freePallets[0];

                    $.each($this.packages, function( index, realPackage ) {
                        if (!realPackage.palletId) {
                            realPackage.palletId = firstPallet.externalId;
                        }
                    })
                } else {
                    $this.createPallet();
                    $this.loadPallets();
                    return;
                }
            },

            getData: function () {
                let jqxhr = $.ajax({
                    url: "/api/wms/wmsorder/config",
                    cache: true,
                    async: false
                });

                let data = jqxhr.responseJSON.data;

                this.packageTypes = data.params.packageTypes;
                this.packageTypes.push({'id': null, 'title': 'Другое'});

                this.packings = data.params.packings;

                this.maxWeight = data.settings.max_weight;
            },
        },
        created() {
            this.getData();
            this.loadPallets();

            $('body').on("input", '.js-cargo-quantity input', function() {
                let $self = $(this);
                $self.css('width', ($self.val().length + 1)*7 + 'px');
                $self.parent().css('width', $self.width() + 52 + 'px');
            });
        },
        watch: {
            'packages': function(val) {
                this.checkPalletId();
            },
            updatePallets: function(val) {
                this.loadPallets();
            },
        }

    }
</script>
