{% extends 'template/wmspage/template.html.twig' %}

{% block content %}

    <section class="white" >

        <div id="orders" data-attach-vue="wms-batch-arrived" data-batch-id="{{ order.id }}"></div>

    </section>

{% endblock %}

{% block footer %}
    {% set docs = [
        { title : 'ЭР', path : '/docs/template/ЭР (перевозчик-ТТ).pdf'},
        { title : 'Доверенность', path : '/docs/template/Доверенность (перевозчик).pdf'},
        { title : 'Оферта', path : '/docs/template/Оферта перевозчику (услуги доставки).pdf'},
    ] %}
    {{ parent() }}
{% endblock %}
