@import url(../../node_modules/bootstrap/dist/css/bootstrap-grid.css);
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-vue/src/index.scss';
@import url(../libs/swiper-slider/swiper.min.css);
@import url(../libs/magnific-popup/magnific-popup.css);
//@import url(../libs/scrollbar/jquery.scrollbar.css);
//@import url(../libs/select2/select2.min.css);
@import url(../libs/steps/jquery.steps.css);
@import url(../libs/simplebar/simplebar.css);

@mixin centered($axis: 'both'){
	position: absolute;

	@if $axis == 'both'{
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	@if $axis == 'x'{
		left: 50%;
		transform:translateX(-50%);
	}

	@if $axis == 'y'{
		top: 50%;
		transform:translateY(-50%);
	}
}

$font-regular : "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-light: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-bold: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$active: #ef483e;

html{
	overflow: auto;
	font-size:10px;
}

body{
	opacity: 1;
	color: #000;
	min-height: 100vh;
	font-size: 14px;
	font-family: $font-regular;
	background-color: #fff;
	position: relative;
	margin: 0;
	padding: 0;
}

img{
	max-width: 100%;
	height: auto;
}
a{
	transition: all 0.2s linear;
	color: #000;
	text-decoration: none;

	&:hover,
	&:focus{
		color: #000;
		text-decoration: none;
		outline: none;
	}
}
a[href^=tel] { color: inherit !important; text-decoration: none !important; }

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
	font-family: $font-bold;
    font-weight: bold;
    margin-top: 0;
}

button:focus,
button:active{
	outline: none !important;
	box-shadow: none !important;
}
.btn-rounded{
	color:#fff;
	font-size: 11px;
	padding: 7px 21px;
	border-radius: 18px;
	border:3px solid $active;
	display: inline-block;
}
.btn-gray{
	background-color: #e6e6e6;
	color:#404040;
	border-radius: 0;
	font-family: $font-bold;
	font-weight: 700;
	line-height: 1;
	font-size: 15px;
	outline: none;
    padding: 14px 65px 14px 25px;
    background-image: url(/img/arrow-right-small.svg);
    background-repeat: no-repeat;
    background-position: 90% center;
}
.btn-default{
	background-color: $active;
	color:#fff;
	border-radius: 0;
	font-family: $font-bold;
	font-weight: 700;
	font-size: 15px;
	outline: none;
    line-height: 1;
    padding: 14px 41px 15px;
    border:none;
    transition: all 0.2s linear;
    cursor: pointer;
    &.disabled{
    	cursor: default;
    	pointer-events:none;
    	background-color: #424347;
    	color: #7b7b7e;
    }
    &:hover{
		background-color: $active;
		color:#fff ;
    }
    &.download-offer{
		background-color: $active !important;
		color:#fff !important;
    }
    &:not(.dropdown-toggle):not([data-toggle="tab"]):focus,
    &:not(.dropdown-toggle):not([data-toggle="tab"]):active{
		background-color: $active !important;
		color:#fff  !important;
    }
}
#calculator-submit:not(.disabled){
	background-color: $active !important;
	color:#fff !important;
}
.btn-active{
	background-color: $active;
	color:#fff !important;
	border-radius: 0;
	border:none;
	font-family: $font-bold;
	font-weight: 700;
	font-size: 15px;
    line-height: 1;
    padding: 14px 80px 14px 25px;
    background-image: url(/img/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: 90% center;
    transition: all 0.2s linear;
    &:hover{
    	color: #fff;
    }
    &.disabled{
    	cursor: default;
    	pointer-events:none;
    	background-color: #424347;
    	color: #7b7b7e;
    }
}
.bordered-btn{
	border: 2px solid #bababa;
	padding: 7px 22px;
	font-size: 11px;
	font-family: $font-bold;
	border-radius: 30px;
	text-align: center;
	font-weight: 700;
	&.yellow{
		border:2px solid #fbd290;
	}
	&.lighter{
		border-color: #e6e6e6;
	}
	&.red{
		border-color: $active;
	}
	&.pink{
		border-color: #ffc0bd;
	}
}
.btn-back{
    width: auto;
    background-color: transparent;
    padding: 12px 25px 12px 25px;
    color: #bababa !important;
    font-family: $font-bold;
    font-weight: 700;
    background-image: url(/img/arrow-left-gray.svg);
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 10px;
    &:hover{
    	color: #bababa;
    }
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    background-color: #fff !important;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
	outline: none !important;
}
.main-popup,.profile-column{
	div:not(.btn-group){
		a.btn-default.active, a.btn-default:active{
			background-color: $active !important;
			color: #fff !important;
		}
	}

}
p{
	font-size: 16px;
	line-height: 24px;
}
a.black{
	color: #000;
	font-family: $font-bold;
	font-weight: 700;
}
.mr-0{
	margin-right: 0 !important;
}

@media only screen and (min-width: 1280px){
	.container{
		width: 1100px !important;
		margin-left: 150px;
	}
}
.form-control{
	&[readonly]:not(.flatpickr-input){
		border-color:transparent !important;
		padding-left: 0;
		font-weight: 700;
		font-family: $font-bold;
		opacity: 1 !important;
	}
	&:focus{
		border-color: #ccc;
	}
}
.underline{
	text-decoration: underline;
}
.page-content{
	a:not(.btn-default){
		color:#ef483e;
		text-decoration: underline;
	}
	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
		border:1px solid #ddd;
	}
	span{
		display: inline-block;
	}
}
br.mobile{
	display: none;
}

.comagic-widget{
	filter:none !important;
}

@import "components/header";
@import "components/content";
@import "components/steps";
@import "components/lk";
@import "components/recipient";
@import "components/media";
@import '../../node_modules/vue-select/dist/vue-select.css';
@import "components/vue-select";
@import "components/buttons-list";
@import "components/suggestions-input";
@import "components/mile-info";
@import "components/codes";
@import "fix";
