*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #343539;
    font-size: 14px;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
a{
    text-decoration: none;
}

header{
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 17px 13px 0 13px;
}

.btn-bordered{
    color: #fff;
    font-size: 11px;
    padding: 5px 21px;
    border-radius: 18px;
    border: 3px solid #ef483e;
    display: inline-block;
}

.btn-default{
    font-size: 15px;
    line-height: 44px;
    background-color: #EF483E;
    height: 44px;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    color: #fff;
    width: 100%;
    display: inline-block;
    cursor: pointer;
}

.mini-calc{
    padding: 0 13px;
    width: 100%;
    margin-bottom: 60px;
}

.mini-calc__title{
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
    padding-bottom: 33px;
    border-bottom: 2px solid #45464B;
    margin-bottom: 35px;
}

.mini-calc__total{
    color: #fff;
}
.mini-calc__total label{
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 12px;
    text-align: left;
    width: 100%;
    display: inline-block;
}
.mini-calc__price{
    margin-bottom: 30px;
    text-align: left;
    color: #fff;
    font-size: 22px;
    line-height: 26px;
}
.mini-calc__price b{
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
}
a.btn-default{
    width: auto;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.goto-site-link{
    margin-bottom: 30px;
    text-align: center;
}
.form-group{
    margin-bottom: 23px;
}
.form-group label{
    color: #fff;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 9px;
    display: block;
}

.form-control{
    border-radius: 0;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    outline: none!important;
    font-size: 15px;
    color: #000;
    height: 44px;
    padding: 14px;
    border: none;
    background-color: #fff;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
}
button{
    outline: none;
}
.button-wrapper{
    border-top: 2px solid #45464B;
    padding-top: 30px;
    margin-top: 30px;
    text-align: center;
}

.button-wrapper .btn-default{
    margin-bottom: 30px;
}

.contact-phone{
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    text-align: center;
}
.contact-phone img{
    display: inline-block;
    vertical-align: sub;
    margin-right: 5px;
}

.v-select{position:relative;font-family:inherit}.v-select,.v-select *{box-sizing:border-box}@-webkit-keyframes vSelectSpinner{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}@keyframes vSelectSpinner{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}.vs__fade-enter-active,.vs__fade-leave-active{transition:opacity .15s cubic-bezier(1,.5,.8,1)}.vs__fade-enter,.vs__fade-leave-to{opacity:0}.vs--disabled .vs__clear,.vs--disabled .vs__dropdown-toggle,.vs--disabled .vs__open-indicator,.vs--disabled .vs__search,.vs--disabled .vs__selected{cursor:not-allowed;background-color:#f8f8f8}.v-select[dir=rtl] .vs__actions{padding:0 3px 0 6px}.v-select[dir=rtl] .vs__clear{margin-left:6px;margin-right:0}.v-select[dir=rtl] .vs__deselect{margin-left:0;margin-right:2px}.v-select[dir=rtl] .vs__dropdown-menu{text-align:right}.vs__dropdown-toggle{-webkit-appearance:none;-moz-appearance:none;appearance:none;display:flex;padding:0 0 4px;background:none;border:1px solid rgba(60,60,60,.26);border-radius:4px;white-space:normal}.vs__selected-options{display:flex;flex-basis:100%;flex-grow:1;flex-wrap:wrap;padding:0 2px;position:relative}.vs__actions{display:flex;align-items:center;padding:4px 6px 0 3px}.vs--searchable .vs__dropdown-toggle{cursor:text}.vs--unsearchable .vs__dropdown-toggle{cursor:pointer}.vs--open .vs__dropdown-toggle{border-bottom-color:transparent;border-bottom-left-radius:0;border-bottom-right-radius:0}.vs__open-indicator{fill:rgba(60,60,60,.5);-webkit-transform:scale(1);transform:scale(1);transition:-webkit-transform .15s cubic-bezier(1,-.115,.975,.855);transition:transform .15s cubic-bezier(1,-.115,.975,.855);transition:transform .15s cubic-bezier(1,-.115,.975,.855),-webkit-transform .15s cubic-bezier(1,-.115,.975,.855);transition-timing-function:cubic-bezier(1,-.115,.975,.855)}.vs--open .vs__open-indicator{-webkit-transform:rotate(180deg) scale(1);transform:rotate(180deg) scale(1)}.vs--loading .vs__open-indicator{opacity:0}.vs__clear{fill:rgba(60,60,60,.5);padding:0;border:0;background-color:transparent;cursor:pointer;margin-right:8px}.vs__dropdown-menu{display:block;position:absolute;top:calc(100% - 1px);left:0;z-index:1000;padding:5px 0;margin:0;width:100%;max-height:350px;min-width:160px;overflow-y:auto;box-shadow:0 3px 6px 0 rgba(0,0,0,.15);border:1px solid rgba(60,60,60,.26);border-top-style:none;border-radius:0 0 4px 4px;text-align:left;list-style:none;background:#fff}.vs__no-options{text-align:center}.vs__dropdown-option{line-height:1.42857143;display:block;padding:3px 20px;clear:both;color:#333;white-space:nowrap}.vs__dropdown-option:hover{cursor:pointer}.vs__dropdown-option--highlight{background:#5897fb;color:#fff}.vs__selected{display:flex;align-items:center;background-color:#f0f0f0;border:1px solid rgba(60,60,60,.26);border-radius:4px;color:#333;line-height:1.4;margin:4px 2px 0;padding:0 .25em}.vs__deselect{display:inline-flex;-webkit-appearance:none;-moz-appearance:none;appearance:none;margin-left:4px;padding:0;border:0;cursor:pointer;background:none;fill:rgba(60,60,60,.5);text-shadow:0 1px 0 #fff}.vs--single .vs__selected{background-color:transparent;border-color:transparent}.vs--single.vs--open .vs__selected{position:absolute;opacity:.4}.vs--single.vs--searching .vs__selected{display:none}.vs__search::-ms-clear,.vs__search::-webkit-search-cancel-button,.vs__search::-webkit-search-decoration,.vs__search::-webkit-search-results-button,.vs__search::-webkit-search-results-decoration{display:none}.vs__search,.vs__search:focus{-webkit-appearance:none;-moz-appearance:none;appearance:none;line-height:1.4;font-size:1em;border:1px solid transparent;border-left:none;outline:none;margin:4px 0 0;padding:0 7px;background:none;box-shadow:none;width:0;max-width:100%;flex-grow:1}.vs__search::-webkit-input-placeholder{color:inherit}.vs__search:-ms-input-placeholder{color:inherit}.vs__search::-ms-input-placeholder{color:inherit}.vs__search::placeholder{color:inherit}.vs--unsearchable .vs__search{opacity:1}.vs--unsearchable .vs__search:hover{cursor:pointer}.vs--single.vs--searching:not(.vs--open):not(.vs--loading) .vs__search{opacity:.2}.vs__spinner{align-self:center;opacity:0;font-size:5px;text-indent:-9999em;overflow:hidden;border:.9em solid hsla(0,0%,39.2%,.1);border-left-color:rgba(60,60,60,.45);-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-animation:vSelectSpinner 1.1s linear infinite;animation:vSelectSpinner 1.1s linear infinite;transition:opacity .1s}.vs__spinner,.vs__spinner:after{border-radius:50%;width:5em;height:5em}.vs--loading .vs__spinner{opacity:1}
.vs__dropdown-toggle {
    border-radius: 0;
    min-height: 44px;
    padding: 5px 14px 5px;
    line-height: 48px;
    background-position: right 25px top 23px;
    color: #fff !important;
    margin-left: 0;
    border: 1px solid #e6e6e6;
    display: flex !important;
    font-size: 14px;
    background-color: #fff;
    background-position: right 25px top 34px;
    -webkit-background-size: 10px 6px;
    background-size: 10px 6px;
    transition: background-color 0.2s;
}
.vs__open-indicator {
    fill: #404040;
    right: 4px !important;
    top: 50% !important;
    margin-top: -13px;
    transform: scale(1) !important;
    position: absolute;
    cursor: pointer;
    background-image: url(../img/calc-widget/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 26px;
}
.vs__open-indicator path {
    display: none;
}
.vs__selected {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    border: none;
    margin-left: 0;
}
.vs__search {
    color: #000;
    font-size: 15px !important;
    border: none !important;
    margin-top: 0px;
    padding-left: 0 !important;
}
.vs__search:focus {
    margin-top: 0;
}
.vs__clear svg, .vs__deselect svg {
    fill: #404040;
}
.vs .vs__selected {
    align-items: baseline;
    margin-right: 10px;
}
.vs .vs__deselect {
    margin-top: -2px;
}
.vs--single .vs__selected {
    margin-right: 20px;
    height: 100%;
    margin-top: 0;
    white-space: normal;
}
.vs--single .vs__clear {
    position: absolute;
    right: 0;
    top: 14px;
}
.vs--single .vs__search {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.vs--open .vs__open-indicator {
    transform: rotate(180deg) scale(1);
}
.v-select .vs__dropdown-menu {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-y: auto;
    box-shadow: none;
    border: none;
    border-radius: 0;
    text-align: left;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.v-select .vs__dropdown-menu li {
    display: block;
    padding: 7px 11px;
    line-height: 1;
    font-size: 14px;
    white-space: normal;
}
.vs__dropdown-option {
    transition: all 0.2s linear;
}
.vs__selected-options {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0 2px;
    position: relative;
}
.vs__dropdown-option--highlight {
    background: #ef483e;
    color: #fff;
}
.content .vs__dropdown-toggle {
    padding: 5px 14px 5px;
    border: none;
}
.calculator-steps .vs--single .vs__selected {
    white-space: nowrap;
}




.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.competitors-price{
    border-top: 2px solid #45464B;
    padding-top: 30px;
    margin-bottom: 20px;
    &__title{
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 20px;
    }
    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
    }
    &__notice{
        color: rgba(255,255,255,0.5);
    }
}
.loading{
    position: relative;
    min-height: 185px;
    &:before{
        content:"";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-color: #343539;
        z-index: 100;
    }
    &:after{
        transition: all 0.2s linear;
        content:"";
        position: absolute;
        width: 50px;
        height: 50px;
        left: 50%;
        top: 50%;
        z-index: 101;
        margin-left: -26px;
        margin-top: -26px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAYAAAAehFoBAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAgNJREFUeNrsmEFLAkEUx3eX9CTB1qFTBgXVJxAM7NyxDyDRd+gWgnnxc3jwLF6EILokJEQfwFOQHsRDCSGYnvoPbLAsM7tvnjOmtH94vNnx7Zsfb2dmnXUdw5pcnJfhysFl079/aprM7znmVVa01xbYqlLgPwXGAjqG7a8KBmOdwgosYNxYgbuBVdC+XgFsHa4Fa6Dd0gIWlYULV7ZoEzqAvQx1KSutqvBM0mcFWgL7qy8yMDb7IVzPNnQMbBsMfa05jBsaNqETYG9ZuwQTuqloLw0r5BKrIeCKkp8aGKCnWVkBWufAkl8cMZU+YcyGAhdW602ngB4ygPtcWPKUiDzSYlDZIQZ6ZC64K7HXwl6Qo+2kSvWP5GIBlOBLxPguFknX8H+JO7gqMbzmacA6mrFUVXViN/LEofOIuxYYapZiU6Vaz32YsW8ewe3BPlXHGEKObbgMbI4cU2vAGOgM7jDU9aoLHcD6oa4pcnwY+ZCSACu0wyhwJnKdQ+5do8AKWKExA3gu6SNDu0vAvuFRPkviD+DyweUAMe+SGAGXk+RMnB6eSdhAeUU7fNwSUFNOpT3DsGRxoVXf1nybsETorE6Fs7ZhCdAeGRhJxOqf2IaNgV6g71trDuOGDtwDrGMTNgI9Elsl2iNV3FZCkrGzQmG8hbE33TqdOFLgTQMeKNpG9CPAAFXx41tlTDyfAAAAAElFTkSuQmCC);
        background-repeat: no-repeat;
        background-size: 100%;
        display: block;
        -webkit-animation: rotation 2s infinite linear;
    }
    &.load:after {
        display: none;
    }

    &.load:before {
        display: none;
    }   
}
@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}