.buttons-list{
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 40px;
	display: flex;
	&__item{
		flex: 1 1 auto;
		padding-bottom: 12px;
		font-size: 15px;
		font-weight: bold;
		color: #d0d0d0;
		text-align: center;
		margin-bottom: -1px;
		cursor: pointer;
		transition: all 0.2s linear;
		border-bottom: 2px solid transparent;
		&--active{
			border-bottom: 2px solid $active;
			color: #404040;
		}
		&--error{
			color: $active;
		}		
		&--disabled{
			pointer-events: none;
		}
		&:hover{
			color: #404040;
		}
	}
}