.codes{
	&__title{
		font-size: 56px;
		line-height: 68px;
		color: #343539;
		font-weight: bold;
		margin-top: 0;
		margin-bottom: 10px;
	}
	&__subtitle{
		font-size: 21px;
		color: #7b7e83;
		margin-bottom: 60px;
	}
	.js-toggle-steps,
	.js-toggle-codes{
		display: none;
		width: 100%;
		font-size: 20px;
		line-height: 26px;
		text-align: center;
		img{
			transition: all 0.2s linear;
		}
		&.active{
			img{
				transform:rotate(180deg);
			}
		}
	}

	&__steps{
		display: inline-block;
		width: 100%;
		background-image: url(/img/codes-steps.png);
		background-repeat: repeat-x;
		margin-bottom: 100px;
		&__item{
			display: inline-block;
			float: left;
			width: 33.33%;
			position: relative;
			padding-top: 26px;
			&:before{
				content:"";
				position: absolute;
				left: 1px;
				top: -7px;
				width: 17px;
				height: 17px;
				border-radius: 100%;
				border: 4px solid #7b7e83;
				background-color: #fff;
				z-index: 2;
			}
			&:after{
				content:"";
				position: absolute;
				left: -6px;
				top: -11px;
				width: 32px;
				height: 25px;
				border-radius: 100%;
				background-color: #fff;
				z-index: 1;
			}
			&:last-child:after{
				width: calc(100% + 10px);
			}
		}
	}
	&__get{
		padding-bottom: 80px;
		border-bottom: 7px solid rgba(123, 126, 131, 0.1);
		.control--checkbox{
			a{
				color: #343539;
			}
		}
		&__title{
			font-size: 30px;
			font-weight: bold;
			margin-bottom: 10px;
		}
		&__list{
			padding-left: 0;
			margin: 0;
			margin-top: 40px;
		}
		&__item{
			display: inline-block;
			
			text-align: center;
			font-size: 15px;
			font-weight: bold;
			height: 44px;
			line-height: 42px;
			margin-right: 17px;
			width: 260px;
			transition: all 0.2s linear;
			a{
				display: block;
				border: 1px solid $active;
				&.disabled{
					color: #fff;
					background-color: #e6e6e6 !important;
					border-color: #e6e6e6 !important;
				}
			}
			&:hover{
				
				a{
					color: #fff;
					background-color: $active;
				}
			}
		}
	}
	&__table{
		margin-bottom: 40px;
		&__title{
			margin-top: 70px;
			font-size: 30px;
			font-weight: bold;
			margin-bottom: 35px;
		}
		thead{
			th{
				width: 160px;
				font-weight: 400;
				font-size: 13px;
				padding-bottom: 8px;
			}
		}
		tbody{
			td{
				padding-bottom: 8px;
			}
		}
	}
}

@media only screen and (max-width: 992px){
	.codes{
		&__get{
			&__item{
				width: calc(33.33% - 15px);
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
}
@media only screen and (max-width: 767px){
	.codes{
		&__title{
			font-size: 45px;
			line-height: 52px;
			margin-bottom: 25px;
		}
		&__subtitle{
			font-size: 20px;
			line-height: 26px;
		}
		&__table{
			max-height: 160px;
			overflow: hidden;
			display: block;
			margin-bottom: 30px;
			&.opened{
				max-height: none;
			}
		}
		&__steps{
			background-image: url(/img/codes-steps-mobile.png);
			background-repeat: repeat-y;
			background-position: 8px 0;
			display: none;
			float: left;
			margin-bottom: 20px;
			&__item{
				width: 100%;
				padding-top: 0;
				margin-bottom: 16px;
				padding-left: 30px;
				&:before{
					top: 3px;
				}
				&:last-child:after{
					width: 20px;
					height: 100px;
				}
			}
		}
		.js-toggle-steps,
		.js-toggle-codes{
			display: inline-block;
			width: 100%;
			cursor: pointer;
			transition: all 0.3s linear;
			margin-bottom: 60px;
			img{
				width: 16px;
			}
			&.active{
				bottom: 3vh;
			}
		}
		.js-toggle-codes{
			margin-bottom: 0;
		}	
		&__get{
			padding-bottom: 40px;
			&__item{
				width: 100%;
				margin-bottom: 20px;
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
}