.main-hero{
	background-image: url(/img/hero.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 620px;
	padding-top: 190px;
	display: flex;
	align-items:center;
	color:#fff;
	&.transporter{
		background-image: url(/img/transporter-hero.jpg);
	}
	&.address-hero{
		background-image: url(/img/address-bg.jpg);
	}


	.h2{
		font-size: 56px;
		line-height: 67px;
		margin-bottom: 10px;
	}
	.h3{
		font-size: 21px;
		font-family: $font-regular;
		font-weight: 400;
		margin-bottom: 60px;
		a{
			color:#fff;
			text-decoration: underline;
		}
	}
	.hero-steps{
		background-image: url(/img/hero-steps.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		padding: 0;
		padding-top: 35px;
		margin: 0;
		width: 1075px;
		&:after{
			content:"";
			display: table;
			clear: both;
		}
		li{
			display: inline-block;
			list-style: none;
			color:#fff;
			width: 25%;
			float: left;
			font-size: 15px;
			letter-spacing: 0.3px;
			line-height: 20px;
		}
	}
	.js-toggle-steps{
		display: none;
		width: 100%;
		font-size: 20px;
		line-height: 26px;
		text-align: center;
		img{
			transition: all 0.2s linear;
		}
		&.active{
			img{
				transform:rotate(180deg);
			}
		}
	}
}
section{
	background-color: #343539;
	padding: 80px 0;
	color:#fff;
	.h3{
		font-size: 30px;
		margin-bottom: 30px;
		color:#fff;
	
	}
	&.white{
		background-color: #fff;
		padding-top: 0;
		color: #343539;
		&.address-map-section{
			display: inline-block;
			width: 100%;
			padding-bottom: 0;
		}
		.h3{
			color: #343539;
		}
		.map-area{
			.h3{
				color:#fff;
			}
		}
	}
}
.form-control{
	border-radius: 0;
	box-shadow: none !important;
	outline: none !important;
	font-size: 15px;
	color:#000;
	height: 44px;
	padding: 14px 14px;
	background-clip: border-box;
}
.form-group label{
	font-size: 13px;
	font-weight: 400;
	margin-bottom: .5em;
}
.popup-item{
	margin-bottom: 24px!important;
}
.popup-subscribe{
	padding: 70px 50px 50px;
    width: 600px !important;
}
.form-row-info{
	float: left;
	padding-top: 21px;
	padding-left: 45px;
	/*width: 194px;*/
	.total{
		font-size: 13px;
		position: relative;
		z-index: 2;
		span{
			display: block;
			font-size: 22px;
			margin-top: 10px;
			b{
				font-weight: 700;
				font-family: $font-bold;
				font-size: 30px;
				margin-right: 5px;
			}
		}
		.tooltip-link{
			top: -3px;
			left: auto;
			right: -45px !important;
			position: absolute;
		}
	}
	.alert-info{
		background-color: transparent;
		color:#fff;
		font-size: 13px;
		font-family: $font-bold;
		font-weight: 700;
		margin-bottom: 20px;
		margin-top: 35px;
		img{
			margin-right: 10px;
			position: relative;
			top: -2px;
		}
		&.alert-weight{
			position: absolute;
			left: 0;
			width: 255px;
		}
	}
	.info-ul-wrap{
		display: none;
		position: absolute;
		&.active{
			display: block;
		}
		span.small{
			font-size: 13px;
			line-height: 18px;
			display: block;
			margin-top: 5px;
		}
		.alert-info{
			margin-top: 25px;
			margin-bottom: 10px;
		}
	}
	.form-group{
		width: 275px !important;

		float: none !important;
	}
	.coupon-field+.btn-default{
		bottom: -209px;
	}
	.terms{
		position: absolute;
		bottom: -121px;
		left: 402px;
		right: auto;
		font-size: 11px;
	}
	.info-ul{
		padding: 0;
		margin: 0;
		li{
			list-style: none;
			display: block;
			position: relative;
			font-size: 13px;
			line-height: 18px;
			padding-left: 32px;
			margin-bottom: 2px;
			span{
				font-size: 20px;
				font-weight: bold;
			}
			&:nth-child(n+6){
				display: none !important;
			}
			&:before{
				content:"";
				display: block;
				position: absolute;
				left: 10px;
				top: 9px;
				width: 3px;
				height: 3px;
				background-color: #fff;
				border-radius: 100%;
			}
		}
		&.opened{
			li{
				display: block !important;
			}
		}
	}
	.more-items{
		margin-top: 20px;
		display: block;
		font-size: 11px;
		padding-left: 32px;
		cursor: pointer;
		position: relative;
		z-index: 10;
		img{
			width: 18px;
		}
		&.active img{
			transform: rotate(180deg);
		}
	}
}
.form-row-tablet{
	display: none;
}
.form-row-mobile{
	display: none;
}
.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    line-height: 18px;
    width: auto !important;
	font-size: 16px;
	letter-spacing: -0.2px;
	font-weight: 400;
	margin-bottom: 0;
  a{
  	text-decoration: underline !important;
  }
  em{
  	font-style: normal;
  	font-size: 12px;
  	line-height: 16px;
  	color:#333;
  }
}
.control-subscribe {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    line-height: 18px;
    width: auto !important;
    font-size: 16px;
    letter-spacing: -0.2px;
    font-weight: 400;
    margin-bottom: 0;
}
.control.checked{
  color: $active;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
    position: absolute;
    top: -5px;
    left: 0;
    height: 26px;
    width: 26px;
    background: transparent;
    border: 2px solid #717174;
    box-sizing: border-box;
}

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after,
.control__indicator:before {
  content: '';
  position: absolute;
  display: none;
}

.control.unchecked .control__indicator:after,
.control.unchecked .control__indicator:before {
  display: none !important;
}
.control--checkbox{
	padding-left: 38px;
}
.control input:checked ~ .control__indicator:after,
.control input:checked ~ .control__indicator:before,
.control input.checked ~ .control__indicator:after,
.control input.checked ~ .control__indicator:before {
  display: block;
}
.control--checkbox .control__indicator:after {
    left: -2px;
    top: -2px;
    width: 26px;
    height: 26px;
    background-image: url(/img/selected.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.control.control--radio{
	display: inline-block !important;
	margin-right: 50px;
	padding-left: 43px;
	.control__indicator {
	    position: absolute;
	    top: -5px;
	    left: 0;
	    height: 26px;
	    width: 26px;
	    border-radius: 100%;
	    background: transparent;
	    border: 2px solid #717174;
	    box-sizing: border-box;
	    &:after{
	    	left: -3px;
		    top: -3px;
		    width: 28px;
		    height: 28px;
	    	border:8.5px solid $active;
	    	border-radius: 100%;
	    }
	    &:before{
	    	content:"";
	    	position: absolute;
	    	width: 15px;
	    	height: 15px;
	    	left: 3px;
	    	top: 3px;
	    	background-color: #fff;
	    	border-radius: 100%;
	    }

	}
}
.nds-switch{
	margin-top: 25px;
	margin-bottom: 30px;
	@media (max-width: 767px){
		background-color: #45464b;
		margin: 0 -15px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 35px;
	}
}
.control.control--switch{
	display: block !important;
	padding-left: 0;
	font-size: 11px;
	line-height: 18px;
	margin-top: 23px;
	margin-bottom: 0 !important;
	.control__indicator {
	    position: relative;
	    display: inline-block;
	    vertical-align: top;
	    top: -5px;
	    left: 0;
	    height: 26px;
	    width: 46px;
	    border-radius: 15px;
	    background: transparent;
	    border: 1px solid #fff;
	    box-sizing: border-box;
	    margin: 0 9px;
	    &:after{
	    	left: 3px;
		    top: 2px;
		    width: 20px;
		    height: 20px;
	    	border:6px solid $active;
	    	border-radius: 100%;
	    	display: block;
	    	transition: all 0.2s linear;
	    }
	    &:before{
	    	content:"";
	    	position: absolute;
	    	width: 15px;
	    	height: 15px;
	    	left: 5px;
	    	top: 5px;
	    	background-color: #343539;
	    	border-radius: 100%;
	    	display: none !important;
	    }

	}
	input:checked ~ .control__indicator:after{
		left: 21px;
	}
}
#calculator-form{
	.nds-switch{
		border-bottom: 2px solid #45464b;
		margin-top: 0;
		margin-bottom: 0;
		font-size: 13px;
		width: 610px;
		max-width: 100%;
		.control{
			display: inline-block !important;
			margin-bottom: 11px !important;
			font-size: 13px;
			margin-left: 13px;

		}
		@media (max-width: 992px){
			width: 100%;
		}
		@media (max-width: 767px){
			margin: 0;
			padding: 0;
			background-color: transparent;
			display: inline-block;
			width: 100%;
			text-align: right;
			border-bottom: none;
			.control{
				float: right;
			}
		}
	}
}
.control--checkbox{
	a{
		transition: none;
	}
	&.highlight-offert{
		color: #ef483e !important;
		a{
			color: #ef483e !important;
		}
	}
}
.map-area{
	position: relative;
	margin-top: -200px;
	margin-bottom: 100px;
	float: left;
	&.address-map{
		margin-top: -120px;
	}
	.h3{
		margin-bottom: 30px;
	}
}
.marker-popup{
	position: absolute;
	display: none;
	overflow-y: auto;
	bottom: -55px;
	left: 0;
	width: 350px;
	background-color: #fff;
	z-index: 10;
	padding: 40px 50px;
	transition: all 0.2s linear;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
	color:#343539;
	&.active{
		display: block;
	}
	.close{
		position: absolute;
		opacity: 1;
		right: 15px;
		top: 15px;
	}
	h5{
		font-size: 25px;
		font-weight: 700;
		margin-top: 0;
		margin-bottom: 20px;
	}
	p{
		font-size: 13px;
		padding: 0;
		margin-bottom: 30px;
		line-height: normal;
		font-weight: 300 !important;
		a{
			text-decoration: underline !important;
			font-weight: 300 !important;
		}
		a[href^=tel]{
			text-decoration: none !important;
			font-weight: 400 !important;
			font-family: $font-regular;

		}
		span{
			font-size: 11px;
			font-weight: bold;
			font-family: $font-bold;
			display: block;
			color: #7b7e83;
			margin-top: 15px;
			margin-bottom: 5px;
		}
	}
	a{
		color: $active;
		font-size: 13px;
		font-family: $font-bold;
		font-weight: 400;
		text-decoration: underline;
		img{
			margin-right: 10px;
			vertical-align: middle;
			display: inline-block;
		}
	}

}
.client-slider{
	padding-bottom: 45px;
	margin-bottom: 80px;
	position: relative;
	.swiper-slide{
		display: flex;
		flex-wrap:nowrap;
		align-items: flex-start;
		.client-info{
			margin-left: 55px;
			p{
				font-size: 21px;
				line-height: 26px;
				margin-bottom: 35px;
			}
			.client-meta{
				position: absolute;
				bottom: 0;
				b{
					display: block;
					font-size: 15px;
				}
				span{
					font-size: 13px;
					opacity: 0.5;
					color:#000;
				}
			}
		}
	}
	.swiper-button-next, .swiper-button-prev{
		background-image: none;
		top:auto;
		bottom:-25px;
		&:focus{
			outline: none;
		}
		svg path{
			transition: all 0.2s linear;
		}
		&:hover{
			svg path{
				fill: $active;
			}
		}
	}
	.swiper-button-prev{
		left: 82px;
	}
	.swiper-button-next{
		right: auto;
		left: 132px;
	}
}

.sender-banner{
	display: flex;
	flex-wrap:wrap;
	margin-left: -165px;
	margin-bottom: 80px;
	.banner-info{
		background-color: $active;
		color:#fff;
		padding: 50px 54px;
		min-width: 485px;
		.h3{
			font-size: 31px;
			line-height: 32px;
			letter-spacing: -0.5px;
			color:#fff;
		}
		.h4{
			font-size: 21px;
			line-height: 25px;
			letter-spacing: -0.5px;
			margin-bottom: 40px;
			color:#fff;
		}
	}
}
.any-question{
	margin-top: 15px;
	margin-bottom: 80px;
	display: flex;
	flex-wrap:nowrap;
	&:after{
		content:"";
		display: table;
		clear: both;
	}

	.quote-author{
		flex: 0 1 40%;
		&:after{
			content:"";
			display: table;
			clear: both;
		}
		>img{
			float: left;
			border-radius: 100%;
		}
		.quote-author-info{
			float: left;
			margin-left: 20px;
			.h5{
				font-size: 15px;
				margin-bottom: 5px;
			}
			p{
				font-size: 13px;
				color:#000;
				opacity: 0.5;
				margin-bottom: 20px;
			}
			a{
				color: $active;
				font-family: $font-bold;
				font-weight: 700;
				//text-decoration: underline;
				img{
					margin-right: 7px;
				}
			}
		}
	}
	.quote{
		margin-left: 33px;
		width: 55%;
	}
}
.quote{
	padding-left: 50px;
	background-image: url(/img/quote.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 21px;
	line-height: 26px;
}
@media only screen and (min-width: 1280px){
	#footer .container{
		margin-left: 165px;
		width: 1070px !important;
	}
}
$footer-lk: footer-lk;
#footer{
	padding-bottom: 80px;
	color: #343539;
	font-size: 13px;
	.container{
		border-top: 1px solid #d8d8d8;
		padding-top: 40px;
		padding-left: 0;
		padding-right: 0;

	}
	.copyright{
		a{
			text-decoration: underline;
		}
	}
	.company-copyright{
		font-size: 13px;
		line-height: 20px;
		color: #343539;
		line-height: 20px;
		a{
			display: inline-block;
			color: $active;
			font-family: $font-bold;
			font-weight: bold;
			//text-decoration: underline;
			&.black{
				color:#000;
				margin-right: 14px;
			}
		}
		ul{
			display: inline-block;
			padding: 0;
			margin: 0;
			margin-left: 6px;
			vertical-align: bottom;
			position: relative;
			top: -4px;
			li{
				display: inline-block;
				vertical-align: middle;
				list-style: none;
				margin-left: 5px;
			}
		}
	}
	.lefted {
		margin-right: 49px;
		margin-left: -49px;
	}
	.footer-faq {
		display: inline-block;
		margin-right: 31px;
		a{
			color: #343539;
		}
	}
	.footer-faq img {
		position: relative;
		top: -2px;
		padding-right: 5px;
	}
	.footer-phone{
		display: inline-block;
		a{
			font-family: $font-bold;
			font-weight: bold;
		}
	}
	.footer-phone img{
		position: relative;
		top: -2px;
	}
	.footer-logos{
		margin: 0;
		margin-bottom: 15px;
		padding: 0;
		display: inline-block;
		float: right;
		position: relative;
		left: 0;
		li{
			display: inline-block;
			list-style: none;
			padding: 0;
			margin-right: 15px;
		}
	}

	.footer-column-left{
		width: 22%;
		flex: 0 0 22%;
		max-width: 22%;
	}
	.footer-column-center{
		width: 47%;
		flex: 0 0 47%;
		max-width: 47%;
		.footer-faq{
			margin-right: 20px;
		}
		.footer-logos{
			float: none;
			top: -6px;
			li{
				margin-right: 10px;
				&:last-child{
					margin-right: 0;
				}
			}
		}
		.footer-phone{
			margin-right: 20px;
		}
	}
	.footer-column-right{
		width: 29%;
		flex: 0 0 29%;
		max-width: 29%;
	}
	@media (max-width: 767px){
		.footer-column-left,
		.footer-column-center,
		.footer-column-right{
			flex: 0 0 auto;
			max-width: 100%;
			width: 100%;
			text-align: center !important;
			.footer-logos{
				display: block !important;
			}
			.footer-faq{
				text-align: center;
				margin-right: 0;
			}
		}
	}
}

.tooltip{
	&.in{
		opacity: 1;
	}
	.tooltip-inner{
		width: 250px;
		max-width: 250px;
		font-size: 11px;
		padding: 10px 15px;
		text-align: left;
	}
	.close-tooltip{
		display: none;
	}
}
.tooltip-link.showing + .tooltip.in{
	display: block !important;
}
.input-group.date{
	input{
		border-right: none;
		&::-webkit-input-placeholder {
			color: #000;
		}
		&::-moz-placeholder {
			color: #000;
		}
		&:-ms-input-placeholder {
			color: #000;
		}
		&:-moz-placeholder {
			color: #000;
		}
	}
	.input-group-addon{
		padding: 0;
		width: 30px;
		background-color: #fff;
		border-right: none;
		img{
			margin-right: 12px;
		}
	}
}
.bootstrap-datetimepicker-widget{
	color:#000;
	th.next{
	    span{
	        display: none;
	    }
	    background: url(/img/chevron-right.png) no-repeat center !important;
	    background-size: 18px !important;
	}
	th.prev{
	    span{
	        display: none;
	    }
	    background: url(/img/chevron-left.png) no-repeat center !important;
	    background-size: 18px !important;
	}
}

.company-popup .mfp-close{
	background-image: url(/img/close.png) !important;
}

.price-tables{
	margin-left: -30px;
	margin-right: -30px;
	position: relative;

	margin-bottom: -60px;
	display: none;
	.os-scrollbar-horizontal{
		top: -2px;
		bottom: auto;
	}
	&.show{
		display: block;
	}
	&:before{
		content:"";
		display: none;
		position: absolute;
		left: 30px;
		right: 30px;
		height: 1px;
		top: 0;
		background-color: #45464b;
	}
	&:after{
		content:"";
		display: table;
		clear: both;
	}
}
.price-table{
	width: 25%;
	float: left;
	padding: 30px;
	padding-bottom: 30px;
	color:#fff;
	position: relative;
	transition: background-color 0.2s linear;
	.control{
		margin-bottom: 30px;
		font-weight: bold;
		font-size: 15px;
		padding-right: 10px;
		margin-right: 0;
		a{
			color:#fff;
		}
		i{
			opacity: 0;
			visibility: hidden;
			position: relative;
			top: -2px;
			margin-left: 10px;
			transition: all 0.2s linear;
		}
	}
	.control--radio{
		.control__indicator{
			border-radius: 0;
		}
		.control__indicator:after {
			    left: -2px;
			    top: -2px;
			    width: 26px;
			    height: 26px;
			    border-radius: 0;
			    border:none;
			    background-image: url(/img/selected.svg);
			    background-repeat: no-repeat;
			    background-position: center;
			}
	}
	.price-table-cell{
		margin-bottom: 20px;
		font-size: 13px;
		line-height: 18px;
		p{
			font-size: 13px;
			margin: 0;
			line-height: 18px;
			white-space: normal;
		}
		b{
			font-size: 15px;
		}
		span{
			display: block;
		}
		b.big{
			margin-top: 10px;
			display: block;
			span{
				display: inline-block;
				font-size: 30px;
				font-weight: 700;
				padding-right: 6px;
			}
			font-weight: 400;
			font-size: 22px;
			font-family: $font-regular;
		}
		&.submit{
			opacity: 0;
			visibility: hidden;
			position: absolute;
			bottom: 0;
			left: 0;
			padding-left: 30px;
			padding-right: 30px;
			margin-top: 20px;
			margin-bottom: 0;
			.btn-default{
				display: inline-block;
			}
			.control{
				font-size: 11px;
				line-height: 12px;
				font-weight: 400;
				margin-top: 20px;
				color:#bababa;
				.control__indicator{
					top: -1px;
				}
			}
		}
	}
	&:hover{
		background-color: rgba(123, 126, 131, 0.4);
		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
		.control i{
			opacity: 1;
			visibility: visible;
		}
	}
	&.selected{
		background-color: rgba(123, 126, 131, 0.4);
		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
		padding-bottom: 120px;
		.price-table-cell.submit{
			opacity: 1;
			visibility: visible;
		}

	}
	&.not-selected{
		background-color: transparent;
		box-shadow: none;
	}
}
.yes-no{
	.control--radio{
		width: auto !important;
		margin-right: 30px;
		float: left;
		.control__indicator{
			border-radius: 0;
		}
		.control__indicator:after {
			    left: -2px;
			    top: -2px;
			    width: 26px;
			    height: 26px;
			    border-radius: 0;
			    border:none;
			    background-image: url(/img/selected.svg);
			    background-repeat: no-repeat;
			    background-position: center;
			}
	}
}
.warning{
	display: none;

	padding: 28px 28px 58px;
	padding-left: 0px;
	display: none !important;
	flex-wrap: nowrap;
	margin-bottom: 0;
	margin-top: 30px;
	align-items:center;
	position: relative;
	border-bottom: 1px solid #45464b;
	&.show{
		display: flex !important;
	}
	.close{
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
		img{
			width: 18px;
			margin-right: 0;
		}
	}
	img{
		margin-right: 15px;
	}
	p{
		margin: 0;
		font-size: 13px;
		line-height: 16px;
		font-weight: bold;
		font-family: $font-bold;
	}
}
.sticky-total{
	top:30px;
}
.stuck{
	position: fixed;
	&.sticky{
		top: 30px !important;
	}
}
.container-inner{
	min-width: 500px;
	&:after{
		content:"";
		display: table;
		clear: both;
	}
}
header .container-inner{
	width: 680px;
}
.log-reg-wrapper{
	background-color: #343539;
	padding-top: 0;
	padding-bottom: 0;
	display: flex;
	flex-wrap:nowrap;
	position: relative;
	.container{
		width: 65% !important;
		min-width: 940px;
		float: left;
		margin-left: 0 !important;
		padding-top: 170px;
		padding-left: 165px;
		padding-right: 100px;
		padding-bottom: 65px;
		min-height: 100vh;
		background-color: #343539;
	}

	.wizard>.actions a, .wizard>.actions a:active, .wizard>.actions a:hover{
		width: auto;
		position: relative;
		z-index: 30;
	}
	.log-reg-bg{
		width: 35%;
		float: left;
		min-height: 100vh;
		background-image: url(/img/reg-bg.png);
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		position: relative;
		z-index: 1;
	}

}
.reg-copyright{
	color:#fff;
	position: absolute;
	bottom: 35px;
	span{
		display: block;
		font-size: 13px;
		margin-bottom: 9px;
	}
	a{
		font-family: $font-bold;
		font-weight: 700;
		font-size: 13px;
		color:#fff;
		text-decoration: underline;
	}
}
.form-row-wrap{
	.btn-group{
		margin-bottom: 35px;
		.btn{
			padding: 0;
			background-color: transparent;
			color:#fff;
			box-shadow: none;
			&:focus,
			&:active{
				background-color: transparent !important;
			}
			.control{
				margin-bottom: 0;
				font-size: 13px;
			}
		}
	}
}

.track-form{
	margin-bottom: 100px;
	.form-group{
		position: relative;
		p{
			display: inline-block;
			vertical-align: middle;
			font-size: 11px;
			line-height: 15px;
			color: #7b7e83;
			margin-bottom: 0;
		}
		label{
			display: block !important;
		}
		input{
			display: inline-block;
			width: 277px;
			vertical-align: middle;
			margin-right: 20px;
		}
		.btn-default{
			display: inline-block;
			vertical-align: bottom;
			&.disabled{
				color:#fff;
				background-color: #e6e6e6;
				pointer-events:none;
			}
		}
		.view-password{
			position: absolute;
			left: 240px;
			top: 37px;
			width: 26px;
			opacity: 0.4;
			cursor: pointer;
			transition: all 0.2s linear;
			&:hover{
				opacity: 0.9;
			}
		}
	}
}
.track-wrapper{
	border-top: 2px solid #e6e6e6;
	padding-top: 34px;
	.track-inner{
		width: 760px;
		b{
			font-size: 11px;
			color: #7b7e83;
			display: block;
			font-family: $font-bold;
			font-weight: 700;
			span{
				color: $active;
			}
		}
	}
	.track-title{
		margin-bottom: 20px;
		.h5{
			font-size: 15px;
			color: #343539;
			margin-bottom: 5px;
		}
	}
	.track-info{
		&:after{
			content:"";
			display: table;
			clear: both;
		}
		padding: 0;
		margin: 0;
		margin-bottom: 30px;
		li{
			display: inline-block;
			float: left;
			width: 50%;
			list-style: none;
			margin-bottom: 20px;
			font-size: 13px;
			&:nth-child(odd){
				clear: both;
			}
		}
	}
	.track-table{
		margin-bottom: 80px;
	}
}
.track-table{
	width: 760px;
	th{
		border-top: none;
		font-size: 11px;
		color: #7b7e83;
		font-weight: 400;
		padding-left: 0;
		padding-right: 0;
		border-bottom: 1px solid #e6e6e6;
		padding-bottom: 15px;
	}
	td{
		padding: 25px 0 !important;
		height: auto !important;
		border-bottom: 1px solid #e6e6e6 !important;
		&:before{
			display: none !important;
		}
		b{
			font-size: 11px;
    		color: #7b7e83;
		}
	}
	tr:last-child{
		td{
			border-bottom: none !important;
		}
	}
}


.mfp-wrap ~ * {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}
.scb_phone_but,
#scb_bg{
	filter:none !important;
}
.mfp-zoom-out-cur {
  cursor: auto;
}
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: pointer;
  display: inline-block;
  width: auto;
  padding: 0 6px;
}

.mfp-arrow, .mfp-close {
  transition: opacity 0.15s;
}
.mfp-iframe-scaler{
	overflow: visible;
}
.mfp-zoom-in .mfp-figure, .mfp-zoom-in .mfp-iframe-holder .mfp-iframe-scaler,
.mfp-zoom-in .main-popup  {
  opacity: 0;
  transition: all 0.3s ease-out;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.mfp-zoom-in.mfp-bg, .mfp-zoom-in .mfp-preloader {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-image-loaded .mfp-figure,
.mfp-zoom-in.mfp-image-loaded .main-popup {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.mfp-zoom-in.mfp-ready .mfp-iframe-holder .mfp-iframe-scaler {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg, .mfp-zoom-in.mfp-ready .mfp-preloader {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-figure, .mfp-zoom-in.mfp-removing .mfp-iframe-holder .mfp-iframe-scaler, .mfp-zoom-in.mfp-removing .main-popup {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg, .mfp-zoom-in.mfp-removing .mfp-preloader {
  opacity: 0;
}

.mfp-preloader {
  width: 30px;
  height: 30px;
  background-color: #fff;
  opacity: 0.7;
  margin: 0 auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
          animation: rotateplane 1.2s infinite ease-in-out;
}
@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.main-popup{
	background-color: #fff;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 70px 75px 50px;
	text-align: center;
	position: relative;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
	.h2{
		font-size: 25px;
		letter-spacing: -0.5px;
		color: #343539;
		margin-bottom: 20px;
		&.error{
			color: $active;
		}
	}
	p{
		font-size: 13px;
		line-height: 15px;
		color: #343539;
		margin-bottom: 20px;
		a{

			font-family: $font-bold;
			font-weight: bold;
			color: $active;
		}
	}
	.btn-default{
		display: inline-block;
		min-width: 240px;
		margin-top: 10px;
	}
	.back-link{
		margin-right: 30px;
	}
	&.compare-popup{
		width: 100%;
		max-width: 1440px;
		background-color: #343539;
		text-align: left;
		.container-popup{
			width: 1070px;
			margin-left: auto;
			margin-right: auto;
		}
		.h2{
			color:#fff;
			font-size: 30px;
		}
		p.big-border{
			border-top: 7px solid #7b7e83;
			padding-top: 10px;
			font-size: 11px;
			letter-spacing: 0.3px;
			color: #fff;
			margin-bottom: 40px;
		}
		.mfp-close{
			top: 65px;
			right: 65px;
			font-size: 0;
			background-image: url(/img/close-white.png);
			background-repeat: no-repeat;
			background-position: center;
			opacity: 1;
		}
		.table{
			th{
				font-size: 11px;
				font-family: $font-bold;
				color: #bababa;
				padding-bottom: 20px;
				border-bottom: none;
				&:not(:first-child){
					text-align: right;
					padding-right: 75px;
				}
				img{
					&:first-child{
						margin-right: 5px;
					}
					&:last-child{
						margin-left: 5px;
					}
				}
			}
			td{
				color:#fff;
				font-size: 15px;
				padding: 15px 0;
				border-top: 1px solid #4e4f55;
				&:not(:first-child){
					text-align: right;
					padding-right: 75px;
				}
			}
			tr:last-child{
				td{
					border-bottom: 1px solid #4e4f55;
				}
			}
		}
		span.info{
			font-size: 11px;
			display: block;
			margin-top: 15px;
			color: #7b7e83;
		}
		.img-wrap{
			margin-top: 60px;
			padding: 0;
			margin-left: -30px;
			margin-right: -30px;
			&:after{
				content:"";
				display: table;
				clear: both;
			}
			li{
				display: inline-block;
				float: left;
				margin-right: 29px;
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
	&.register-popup{
		padding: 70px 50px 50px;
		width: 600px !important;
		.reg-actions{
			// display: flex;
			// justify-content: space-between;
			margin-top: 30px;
			.checkboxes{
				margin-top: 13px;
			}
			.submit{
				margin-top: 30px;
			}
		}
		.btn-default{
			margin-top: 0;
			min-width: 175px;
			&.disabled{
				color: #fff;
				background-color: #e6e6e6;
				pointer-events: none;
			}
		}
		.control{
			margin-bottom: 24px;
			font-size: 11px;
			color: #343539;
			&:last-child{
				margin-bottom: 0;
			}
		}
		.tooltip-link{
			right: auto;
			top: 0;
			margin-left: 12px;
		}
	}
}

.company-popup{
	text-align: left;
	width: 1070px;
	padding: 50px 60px;
	height: 700px;

	.h2{
		font-size: 30px;
		margin-bottom: 50px;
	}
	.company-swiper{
		display: none;
	}
	.btn-group{
		margin-bottom: 50px;
		.btn-default{
			background-color: transparent !important;
			color: #a1a3ab !important;
			box-shadow: none;
			padding: 0;
			padding-bottom: 8px;
			border-bottom: 2px solid transparent;
			width: auto;
			text-align: left;
			margin-right: 60px;
			min-width: 1px;
			margin-left: 0 !important;
			&:last-child{
				margin-right: 0;
			}
			label{
				margin: 0;
				padding: 0;
				font-size: 15px;
			}
			&.active{
				label{
					font-family: $font-bold;
					font-weight: 700;
				}
				background-color: transparent !important;
				color: #343539 !important;
				border-bottom-color: $active !important;
			}
			&:hover{
				border-bottom-color: $active;
			}
		}
	}
	.os-scrollbar-horizontal{
		bottom: -5px;
		.os-scrollbar-track{
			background-color: #a1a3ab!important;
		}
	}
	.btn-group .os-content a.btn-default.active{
		background-color: transparent !important;
		color: #343539 !important;
		border-bottom-color: $active !important;
		border-bottom: none;
	}
	.text-columns{
		&:after{
			content:"";
			display: table;
			clear: both;
		}
		.btn-client{
			background-color: #ef483e;
			color: #fff;
			border-radius: 0;
			font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
			font-weight: 700;
			font-size: 15px;
			outline: none;
			line-height: 1;
			padding: 14px 41px 15px;
			border: none;
			-webkit-transition: all 0.2s linear;
			-o-transition: all 0.2s linear;
			transition: all 0.2s linear;
			cursor: pointer;
		}

		p, div{
			float: left;
			width: 50%;
			font-size: 13px;
			line-height: 2.46;
			margin-bottom: 55px;
			line-height: 1.8;
			&:first-child{
				width: 450px;
			}
			&:last-child{
				width: 450px;
				margin-left: 50px;
			}
			.title{
				display: block;
				font-size: 15px;
				font-weight: bold;
				color: #343539;
				padding-top: 10px;
				padding-bottom: 2px;
			}
			.links{
				display: block;
				margin-top: 40px;
				max-height: 100px;
				&.scroll-wrapper{
					.links{
						margin-top: 0;
					}
					.scroll-element.scroll-y{
						bottom: 10px;
						height: auto;
						top: 5px;
					}
					.scroll-element div{
						border-radius: 0;
					}
					.scroll-element .scroll-element_track{
						width: 3px;
						background-color: rgba(52, 53, 57, 0.1);
						opacity: 1;
					}
					.scroll-element .scroll-bar{
						width: 3px;
						background-color: $active;
						opacity: 1;
					}
				}
			}
			a{
				font-size: 15px;
				text-decoration: underline;
				color: #343539;
				font-weight: 400;
				display: inline-block;
				font-weight: bold;
				&.popup-link{
					display: inline-block;
				}
			}
			ul{
				margin-left: -24px;
			}
		}
	}
	.btn-default{
		width: auto;
		margin-left: 500px;
		text-align: center;
	}
	.mfp-close{
		top: 38px;
		right: 38px;
	}
}
.company-popup .text-columns .text-columns-left{
	width: 450px;
    margin-left: 50px;
}
.os-scrollbar-horizontal{
	.os-scrollbar-track{
		height: 3px;
		background-color: #4e4f55 !important;
	}
	.os-scrollbar-track>.os-scrollbar-handle{
		background-color: $active !important;
		height: 3px;
	}
}

.mfp-close-btn-in .mfp-close{
	background-image: url(/img/close.svg);
	background-repeat: no-repeat;
	background-position: center;
	font-size: 0;
	opacity: 1;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
	background-color: #fff;
}
.form-control.disabled{
	opacity: 0.6;
	pointer-events:none;
}

.form-control.hidden-field{
	position: absolute;
	top: 25px;
	width: 90%;
	border-right: none !important;
	left: 0;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	transition: all 0.2s linear;
	&.active{
		opacity: 1;
		visibility: visible;
		z-index: 10;
	}
}
.content{
	.form-control.hidden-field{
		border:none !important;
	}
}
.flatpickr,.flatpickr-default{
	position: relative;
	.input-button{
		position: absolute;
		right: 6px;
		top: 9px;
		z-index: 1;
		cursor: pointer;
		opacity: 1;
	}
	input{
		&::-webkit-input-placeholder {
			color: #000;
		}
		&::-moz-placeholder {
			color: #000;
		}
		&:-ms-input-placeholder {
			color: #000;
		}
		&:-moz-placeholder {
			color: #000;
		}
	}
}
.flatpickr-calendar.arrowBottom.open{
	margin-top: -65px;
}
.flatpickr-calendar{
	padding: 30px;
	width: 370px !important;
}
.flatpickr-current-month{
	padding-top: 0;
	padding-left: 15px;
}
.flatpickr-current-month span.cur-month,
.flatpickr-current-month input.cur-year{
	font-size: 15px;
	font-weight: bold;
	color:#000;
}
.flatpickr-current-month .numInputWrapper{
	width: 60px;
}
.flatpickr-months .flatpickr-next-month.flatpickr-prev-month, .flatpickr-months .flatpickr-prev-month.flatpickr-prev-month{
	left: 30px;
}
.flatpickr-months .flatpickr-next-month.flatpickr-next-month, .flatpickr-months .flatpickr-prev-month.flatpickr-next-month{
	right: 30px;
}
.flatpickr-months .flatpickr-next-month, .flatpickr-months .flatpickr-prev-month{
	top: 22px;
}
.flatpickr-day{
    font-size: 15px;
    width: 34px;
    max-width: 34px;
    line-height: 32px;
    height: 34px;
    margin: 4px;
}
.flatpickr-day.endRange, .flatpickr-day.endRange.inRange, .flatpickr-day.endRange.nextMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.endRange:focus, .flatpickr-day.endRange:hover, .flatpickr-day.selected, .flatpickr-day.selected.inRange, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.selected:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange, .flatpickr-day.startRange.inRange, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.startRange:focus, .flatpickr-day.startRange:hover{
	background-color: #7b7e83;
	color:#fff;
	font-weight: bold;
	border-color: #7b7e83;
}
.flatpickr-confirm {
	max-height: 0px;
	margin-top: 20px;
	display: none;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: $active;
	color:#fff;
	border-radius: 0;
	font-family: $font-bold;
	font-weight: 700;
	font-size: 15px;
    line-height: 1;
    padding: 14px 41px 15px;
    border:none;

    cursor: pointer;
}

.flatpickr-confirm svg path {
	fill: inherit;
}

.flatpickr-confirm.darkTheme {
	color: white;
	fill: white;
}

.flatpickr-confirm.visible {
	max-height: 50px;
	display: flex;
}
.flatpickr-confirm{
	svg{
		display: none;
	}
}

#print-wrapper{
	width: 1235px;
	padding: 70px 30px;
	#header{
		position: static;
		padding-top: 0;
		padding-bottom: 70px;
		.container{
			margin-left: 0;
			padding-left: 0;
			width: auto !important;
		}
	}
	#map{
		width: 1175px;
		margin-left: 0;
	}
	>img{
		width: 1235px;
	}
	.map-column{
		width: 575px;
		padding-right: 30px;
		float: left;
		margin-top: 70px;
		.h3{
			font-size: 25px;
			color: #343539;
			margin-bottom: 30px;
		}
		.h5{
			font-size: 18px;
			color: #7b7e83;
			margin-bottom: 10px;
		}
		p{
			font-size: 16px;
			line-height: 26px;
			color: #343539;
			margin-bottom: 25px;
		}
		&.right{
			width: 600px;
			padding-right: 0;
		}
	}
}
.dropdown-menu{
	border-left: none;
	border-right: none;
}
@supports (-ms-ime-align:auto) {
    .order-buttons li .order-stop{
        width: 251px !important;
    }
}


.go-to-faq {
		&.h3 {
			font-size: 30px;
			margin-bottom: 60px;}
		&__link {
			color: $active;
			margin-left: 20px;
				svg {
					vertical-align: middle;
					fill: #ef483e;
					transition: 0.3s;
				}

			&:hover {
				svg {
					fill: #000;
					transition: 0.3s;
				}
			}
		}
	.mob {
		display: none;
	}

	&:hover {
			color: $active;
		}
}
//Articles section

#header {
  .p0 {
    padding-left: 0;
  }
}
.tags-show-img {
	display: none;
}
.article-slider{
	position: relative;
	margin-top: 30px;
	margin-bottom: 80px;

	.swiper-slide{
		text-align: left;

		.articles {
			&__top-section {
				display: flex;
                height: auto;
                width: 100%;
				//height: 30rem;
              width: 100%;
				&.small {
					flex-basis: 0;
					flex-grow: 1;
					display: block;
					//height: 50rem;
					.h3 {
						font-size: 21px;
						font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
						font-weight: normal;
					}
					.articles__top-section__image {
						width: 100%;
						height: 28rem;
						background-position: center !important;
					}
					.articles__top-section__description {
						width:100%;
						padding: 3rem 2.9rem 0 2rem;
					}
					.last {
							display: none;
						}
					}
				&__image {
					width: 50%;
					//height: 100%;
                    height: auto;
					padding: 20px 0 0 18px;

					&.darken-pseudo {
						position: relative;

						&:after {
							content: '';
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							display: block;
							background-color: rgba(0, 0, 0, 0.5);
						}
					}
					.tags__tags-list{

					.tags__label {
						margin-right: 10px;

						color: white;
						position: relative;
						z-index: 1;
						font-size: 13px;
					}
					}
				}
				&__description {
					width: 50%;
					padding: 4rem 2rem 5rem 5rem;
					.h3 {
						margin-bottom: 15px;
					}
					p{
						font-size: 13px;
						opacity: 0.5;
						line-height: normal;
						margin-bottom: 0;
					}
					&__text {
						margin-bottom: 20px;
						max-height: 60px;
						overflow: hidden;
					}
					&__more {
						.more-button{
							span {
								color: #ef483e;
								font-weight: 700;
								margin-right: 1rem;
								font-size: 1.5rem;
								transition: 0.3s;
							}
							svg {
								vertical-align: middle;
								fill: #ef483e;
								transition: 0.3s;
							}

							&:hover {
								span {
									color: #000;
									transition: 0.3s;
								}
								svg {
									fill: #000;
									transition: 0.3s;
								}
							}
						}
					}
				}

			}
			&__bottom-section {
				display: flex;
				//height: 500px;
			}
		}
	}
	.swiper-button-next,
	.swiper-button-prev{
		background-image: none;
		top: -35px;
		bottom: auto;
		right: 0 !important;
		left: auto;
		outline: none !important;
		text-align: right;
		&.swiper-button-disabled{
			svg path{
				fill: #BABABA !important;
			}
		}
	}
	.swiper-button-prev{
		-webkit-transform: translateX(-30px);
		transform: translateX(-30px);
	}
	.swiper-button-prev svg{
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	.swiper-button-next, .swiper-button-prev{
		&:focus{
			outline: none;
		}
		svg path{
			transition: all 0.2s linear;
		}
		&:hover{
			svg path{
				fill: $active;
			}
		}
	}
}

.tags {

	&__tags-list {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 20px;
		& input[type=checkbox]:hover:enabled + label {
			color: $active;
			cursor: pointer;
			transition: 0.3s;
		}
		& input[type=checkbox]:checked + label {
			background-color: $active;
			border-color: $active;
			color: #ffffff;
			transition: 0.3s;
		}
		& input[type=checkbox]:checked:hover + label{
			background-color: $active;
			border-color: $active;
			color: #ffffff;
		}

		& input[type=checkbox]:disabled + label {
			cursor: inherit;
			color: #d9d9d9;
			transition: 0.3s;
		}
	}
	&__checkbox {
		display: none;
	}
	&__label {
		border: 2px solid #D9D9D9;
		padding: 7px 13px;
		margin-right: 10px;
		margin-bottom: 10px;
		//font-weight: 700;
		font-size: 13px;
		font-weight: 600;
		//color: #404040;
		color: rgba(0, 0, 0, 0.5);
		transition: 0.3s;
		user-select: none;
	}
}

.partner-slider{
	 position: relative;
	 margin-top: 30px;
	 .swiper-slide{
		 text-align: left;
		 display: flex;
		 //justify-content: flex-start;
		 justify-content: space-between;
		 align-items: center;
		 img{
			 height: auto;
			 margin-right: 10px;
			 max-width: 215px;
			 display: block;
			 &:last-child{
				 margin-right: 0;
			 }
		 }
	 }
	 .swiper-button-next,
	 .swiper-button-prev{
		 background-image: none;
		 top: -35px;
		 bottom: auto;
		 right: 0 !important;
		 left: auto;
		 outline: none !important;
		 text-align: right;
		 &.swiper-button-disabled{
			 svg path{
				 fill: #BABABA !important;
			 }
		 }
	 }
	 .swiper-button-prev{
		 -webkit-transform: translateX(-30px);
		 transform: translateX(-30px);
	 }
	 .swiper-button-prev svg{
		 -webkit-transform: rotate(180deg);
		 transform: rotate(180deg);
	 }
	 .swiper-button-next, .swiper-button-prev{
		 &:focus{
			 outline: none;
		 }
		 svg path{
			 transition: all 0.2s linear;
		 }
		 &:hover{
			 svg path{
				 fill: $active;
			 }
		 }
	 }
 }

.partner-slider-mobile{
	display: none;
}
.b-offer{
	margin-top: 56px;
	padding-top: 56px;
	&__wrap{
		border-top: 2px solid #e6e6e6;
		b{
			font-size: 16px;
			font-weight: bold;
			letter-spacing: 0.2px;
			text-align: left;
			color: #343539;
			text-transform: uppercase;
		}
	}
	&__list{
		margin-top: 60px;
	}
	&__link{
		display: block;
		font-size: 15px;
		color: #343539 !important;
		margin-bottom: 28px;

		&:last-child{
			margin-bottom: 0;
		}
		&:hover{
			color: #ec4a44 !important;
		}
	}
}
.p-lead{
	margin-top: -91px;
	width: 295px;
	max-width: 279px;
	min-height: 190px;
	box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.2);
	background-color: #343539;
	border: solid 1px #464851;
	color: #fff;
	border-radius: 0;
	margin-left: 47px;
	&__close{
		position: absolute;
		top: 15px;
		right: 15px;
		width: 14px;
		height: 14px;
		&:hover{
			&:before{background-color: #fff;}
			&:after{background-color: #fff;}
		}
		&:before{
			content: '';
			position: absolute;
			top: 6px;
			left: 0;
			display: block;
			width: 14px;
			height: 2px;
			-webkit-transform: rotate(45deg);
			        transform: rotate(45deg);
			background-color: #bababa;
		}
		&:after{
			content: '';
			position: absolute;
			top: 6px;
			left: 0;
			display: block;
			width: 14px;
			height: 2px;
			-webkit-transform: rotate(-45deg);
			        transform: rotate(-45deg);
			background-color: #bababa;
		}
	}
	.arrow{
		display: none;
	}
	table{
		transition: all 0.2s linear;
	}
	.popover-header{
		display: none;
	}
	.popover-body{
		padding: 20px 10px 20px 40px;
	}
	.popover-content{
		padding: 20px 10px 20px 40px;
		position: relative;

	}
	.popover-inner{
		position: relative;
		color: #fff;
		min-height: 170px;
		&:after{
			opacity: 0;
			visibility: hidden;
			transition: all 0.2s linear;
			content:"";
			position: absolute;
			width: 22px;
			height: 22px;
			left: 50%;
			top: 50%;
			margin-left: -26px;
			margin-top: -11px;
			background-image: url(/img/loader.svg);
			display: block;
			-webkit-animation: rotation 2s infinite linear;
		}
		.p-lead__close{
			top: -5px;
			right: 5px;
		}
		&.loading{
			table,.p-lead__text{
				visibility: hidden;
				opacity: 0;
			}
			&:after{
				opacity: 1;
				visibility: visible;
			}
		}
	}
	&__title{
		font-size: 15px;
		font-weight: bold;
		letter-spacing: 0.2px;
		text-align: left;
		margin-bottom: 18px;
		color: #fff;
	}
	&__line{
		font-size: 13px;
		letter-spacing: 0.2px;
		td{
			vertical-align: baseline;
			padding-bottom: 10px;
		}
		.num{
			font-size: 15px;
		}
		.tk{
			margin-left: 14px;
			font-size: 11px;
			font-weight: bold;
			color: #bababa;
		}
	}
	&__text{
		margin-top: 8px;
		font-size: 11px;
		color: #7b7e83;
		transition: all 0.2s linear;
		&:last-child{
			margin-top: 0;
		}
	}

}
@-webkit-keyframes rotation {
	from {
			-webkit-transform: rotate(0deg);
	}
	to {
			-webkit-transform: rotate(359deg);
	}
}
.compare-row{
	width: 1140px;
	margin-top: 60px;
	&:after{
		content: "";
		display: table;
		clear: both;
	}

}
.compare-graph{
	position: relative;
	width: 210px;
	margin-right: 98px;
	padding-top: 25px;
	float: left;
	.h4{
		position: absolute;
		right: 65px;
		top: 0;
		color:#fff;
		font-size: 15px;
		letter-spacing: 0.3px;
	}
	&:last-child{
		margin-right: 0;
	}
	&:after{
		content: "";
		display: table;
		clear: both;
	}
	.graph-columns{
		padding: 0;
		margin: 0;
		height: 200px;
		width: 144px;
		border-bottom: 1px solid #d8d8d8;
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		justify-content: flex-end;
		position: relative;
		&:after{
			content: "";
			display: table;
			clear: both;
		}
		li{
			list-style: none;
			vertical-align: bottom;
			width: 25px;
			margin-right: 1px;
			position: relative;
			&:last-child{
				margin-right: 0;
			}
			span{
				opacity: 0.3;
				display: block;
				width: 100%;
				height: 100%;
				position: relative;
				background-blend-mode: multiply;
				background-image: linear-gradient(#6a98cb, #6a98cb), linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
			}
			&:after{
				content:"";
				position: absolute;
				top: 0px;
				-webkit-transform: translateY(-100%);
				        transform: translateY(-100%);
				left: 0;
				width: 100%;
				height: 3px;
				background-color: #6a98cb;
				display: block;
				z-index: 2;
			}
			&.dot-column{
				span{
					opacity: 0.5;
					background-color: rgba(239, 72, 62, 0.6);
					background-blend-mode: normal;
					background-image: none;
				}
				&:after{
					height: 17px;
					background-color: #ef483e;
				}
			}
			&.bigger-column{
				&:before{
					width: 144px;
					content:"";
					display: block;
					border:0.5px dashed #fff;
					opacity: 0.2;
					left: -93px;
					position: absolute;
					top: -3px;
				}
				&:nth-child(2){
					&:before{
						left: -41px;
					}
				}
			}
			&.economy-column{
				vertical-align: top;
				align-self: flex-start;
				span{
					opacity: 0.4;
					background-blend-mode: screen;
					background-image: linear-gradient(to left,#ef483e,rgb(52, 53, 57));
				}
				&:after{
					height: 3px;
					opacity: 0.4;
					background-image: linear-gradient(to left,#ef483e,rgb(52, 53, 57));
				}
				&:before{
					width: 144px;
					content:"";
					display: block;
					border:0.5px dashed #fff;
					opacity: 0.2;
					left: -119px;
					position: absolute;
					bottom: 0;
				}
			}
		}
	}
	.graph-tk{
		padding: 0;
		margin: 0;
		width: 90px;
		-webkit-transform: rotate(270deg);
		        transform: rotate(270deg);
		height: 120px;
		display: inline-block;
		margin-top: -20px;
		margin-left: 33px;
		&:after{
			content: "";
			display: table;
			clear: both;
		}
		li{
			list-style: none;
			color:#fff;

			font-size: 10px;
			line-height: 10px;
			min-height: 20px;
			display: flex;
			align-items:center;
			letter-spacing: 0.5px;

			margin-bottom: 5px;
			&:first-child{
				font-weight: bold;
				color: $active;
			}
		}
	}
	.economy-total{
		position: absolute;
		right: -65px;
		top: -5px;
		color:#fff;
		span{
			display: block;
			font-size: 11px;
			background-image: none !important;
			opacity: 1 !important;
		}
		b{
			color: $active;
			display: block;
			font-size: 21px;
		}
	}
}
.compare-price{
	position: absolute;
	padding: 0;
	margin: 0;
	left: 0;
	top: 25px;
	width: 144px;
	li{
		display: block;
		list-style: none;
		height: 50px;
		border-top: 1px solid rgba(216, 216, 216, 0.1);
		span{
			color: #7b7e83;
			font-size: 11px;
			position: relative;
			left: -55px;
			width: 43px;
			top: -11px;
			text-align: right;
			display: inline-block;
		}
	}
}

.compare-graph-slider{
	display: none;
}

.content .form-group.error .bootstrap-select >.dropdown-toggle {
    border: 2px solid #ef483e!important;
    padding: 13px 19px 12px;
    padding-right: 32px;
}
.content .form-group.error .bootstrap-select>.dropdown-toggle {
    border: 2px solid #ef483e!important;
    padding: 13px 19px 12px;
    padding-right: 32px;
}

.bootstrap-select.btn-group .dropdown-menu.open{
	z-index: 99999;
}

.main-popup{position:relative}

.wizard>.content{min-height:265px;}
@media (max-width: 992px){
	.wizard>.content{min-height:530px;}
	.company-popup .text-columns .text-columns-left{
		margin-left: 0px!important;
	}
}
.form-row-info .more-items{position:relative;z-index:10;}

.order-docs li.disabled a {
    color: #cfcfcf;
    pointer-events: none;
}

input::-ms-clear {
    display: none;
}

label.error {
    color: red;
}

label a {
    color: #fff;
    text-decoration: underline;
}

/*
.control input:checked+.control__indicator:after, .control input:checked+.control__indicator:before, .control input:checked+.control__indicator:after, .control input:checked+.control__indicator:before {
    display: block;
}

.control input.checked+.control__indicator:after, .control input.checked+.control__indicator:before, .control input.checked+.control__indicator:after, .control input.checked+.control__indicator:before {
    display: block;
}
*/

.order-row .order-column .control.control--radio {
    color: #343539!important;
}

.order-buttons li .btn-default.disabled {
    background-color: #f6f6f6!important;
    color: #cfcfcf!important;
    background-image: none;
}

.content .form-group.error .bootstrap-select>.dropdown-toggle {
    border: 1px solid #ef483e!important;
    padding: 14px 19px 13px;
}

.form-group input.error {
    background-color: #fff!important;
    border: 1px solid #ef483e!important;
}

.order-table thead th.order-status{min-width:341px}

.sms-links a.disabled img {
    opacity: 0.3;
}

#auction, #customer_calc, #profile, #orders, #register, #login, #track {
    visibility: hidden;
}

.price.error {
    color: #ef483e;
}

#wizard-register .content .terms, #wizard-register-sender .content .terms, .login-wrap .content .terms {
    position: absolute;
    bottom: -70px;
    left: 0;
    font-size: 11px;
    z-index: 20;
    color: #bababa;
}

#wizard-register .content .subscribe, #wizard-register-sender .content .subscribe, .login-wrap .content .subscribe {
    position: absolute;
    bottom: -120px;
    left: 0;
    font-size: 11px;
    z-index: 20;
    color: #bababa;
}

#wizard-register .content .subscribe{
	bottom: -62px;
}

#wizard-register .content .subscribe .tooltip-link {
    position: absolute;
    top: -2px;
}

.control.single.readonly {
    display: block!important;
    font-weight: normal!important;
    color: #7b7e83!important;
    padding-left: 38px;
}

.control.single.readonly .control__indicator {
    display: block!important;
}

.control.single.disabled .control__indicator {
    border: 2px solid #e7e7e7;
}

.control--checkbox.readonly.control.single .control__indicator:after {
    background-image: url(/img/selected_disabled.svg);
}

.def-form .driver-row+.edit-buttons {
    margin-top: 95px;
}

.control.unchecked .control__indicator:after,
.control.unchecked .control__indicator:before {
    display: none !important;
}


.form-group .flatpickr-default input.error {
    background-color: #fff!important;
    border: 1px solid #ef483e!important;
}

.form-group .flatpickr-default.disabled input.error {
    background-color: transparent!important;
    border: 1px solid #e7e7e7!important;
}

.form-group .flatpickr-default.disabled label.error {
    display: none;
}

.p-lead{height:auto;min-height:221px;
	margin-top: -156px;
	z-index: 1040;

}

.p-lead .popover-content .popover-inner {
    min-height: 170px;
}

.chart-info {
	background-color: rgba(0,0,0,0.2);
	padding: 8px 0 3px 8px;
	width: 500px;
	margin-bottom: 10px;
	opacity: 0.8;
	border-radius: 10px;

	#coords, #data-info {
		color: #ecf0f1;
		font-size: 14px;
	}
}

@mixin triangle($size, $color, $location) {
	&:before {
		content: '';
		display: block;
		width: 0;
		height: 0;
		position: absolute;

		/* left pointing arrow*/
		@if $location == 'left' {
			border-top: $size solid transparent;
			border-bottom: $size solid transparent;
			border-right: $size solid $color;
			left: -$size;
		}
		/* right pointing arrow*/
		@else if $location == 'right' {
			border-top: $size solid transparent;
			border-bottom: $size solid transparent;
			border-left: $size solid $color;
			right: -$size;
		}
		/* up pointing arrow*/
		@else if $location == 'top' {
			border-left: $size solid transparent;
			border-right: $size solid transparent;
			border-bottom: $size solid $color;
			top: -$size;
		}
		/* down pointing arrow*/
		@else if $location == 'bottom' {
			border-left: $size solid transparent;
			border-right: $size solid transparent;
			border-top: $size solid $color;
			bottom: -$size;
			/* to center:
			 --> left: 50%;
			 --> margin-left: -$size;
			*/
		}
	}
}

.data-tooltip {
	position: absolute;
	background: rgba(0,0,0,0.6);
	color: #ecf0f1;
	font-weight: lighter;
	width: 100px;
	height: 40px;
	border-radius: 5px;
	padding: 10px;;
	opacity: 0;
	transition: left 0.25s ease, top 0.25s ease;
	pointer-events: none;
	text-align: center;
	-webkit-filter: drop-shadow(0px 0px 5px rgba(224,224,224,0.5));
	        filter: drop-shadow(0px 0px 5px rgba(224,224,224,0.5));
	@include triangle(10px, rgba(0,0,0,0.6), 'bottom');
}
.chart-tooltip-bottom,
.chart-tooltip-left{
	position: absolute;
	color: #7b7e83;
    font-size: 12px;
    transition: opacity 0.2s linear;
    opacity: 1;
    &.hide-slow{
    	opacity: 0;
    }
}
.chart-tooltip-left{
	width: 40px;
	margin-left: -45px;
	margin-top: -17px;
}
.main-container {
	border: 3px solid rgba(46, 204, 113, 0.75);
	width: 800px;
	height: 400px;
	margin: 0 auto;
}
.chart-wrapper{
	&:after{
		content:"";
		display: table;
		clear: both;
	}
	.h3{
		display: inline-block;
		float: left;
	}
	span.small{
		font-size: 12px;
		color: #7b7e83;
		display: block;
		float: right;
		width: 416px;
		position: relative;
		margin-top: -8px;
	}
	.popup-link{
		float: right;
	}
	.popup-link .chart{
		width: 416px;
		svg{
			overflow: visible;
		}
		.current-circle{
			fill: rgba(216,216,216, 0.5)!important;
			fill-opacity: 1 !important;
		}
	}
	.chart{
		display: inline-block;
		float: right;
		margin-top: -50px;
		cursor: pointer;
		circle{
			fill: #ffffff;
			transition: all 0.2s linear;
		}
		rect{
			cursor: pointer;
		}
		.current-circle{
			fill: #ef483e !important;
			fill-opacity: 1 !important;
			transition: all 0.2s linear;
		}
		path {
			stroke: white;
			stroke-width: 2;
			fill: none;
			transition: all 0.2s linear;
		}
		&:hover{
			path{
				stroke: #ef483e;
			}
			circle{
				fill: #ef483e;
			}
			.current-circle{
				fill: #ef483e !important;
			}
		}
	}
}

.canvas {
	cursor: pointer;
	&:hover{
		.data-line{
			stroke: #ef483e;
		}
	}
}

.chart-popup{
	width: 1000px;
	box-shadow: 0 28px 57px 0 rgba(0, 0, 0, 0.5);
	background-color: rgb(52, 53, 57);
	border: solid 1px rgb(70, 72, 81);
	.mfp-close{
		background-size: 11px;
		right: 7px;
		top: 7px;
	}
	.h3{
		text-align: center;
		color: #fff;
		font-size: 25px;
		margin-bottom: 110px;
	}
	.chart-wrapper{
		width: 650px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		.chart-tooltip{
			position: absolute;
			background-color: #000;
			color:#fff;
			padding: 10px;
			text-align: left;
			margin-left: -68px;
			min-width: 135px;
			box-shadow: 0 4px 10px 0 rgba(0,0,0,.5);
			&:before{
				content:"";
				display: block;
				position: absolute;
				bottom: -6px;
				left: 50%;
				margin-left: -5px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 6px 5px 0 5px;
				border-color: #000000 transparent transparent transparent;
			}
			span{
				display: block;
				font-size: 10px;
				line-height: 14px;
			}
			b{
				display: block;
				font-size: 18px;
				font-weight: bold;
			}
		}
		.kg{
			position: absolute;
			right: 100%;
			margin-right: -6px;
			border-right: 1px solid #77797b;
			top: -34px;
			padding-right: 7px;
			padding-bottom: 18px;
			line-height: 7px;
			color:#fff;
			display: block;
			font-size: 11px;
			letter-spacing: 0.9px;
		}
		.rub{
			position: absolute;
			right: -14px;
			width: 23px;
			padding-top: 9px;
			bottom: 4px;
			color:#fff;
			display: block;
			font-size: 11px;
			letter-spacing: 0.9px;
			border-top: 1px solid #77797b;
		}
		.chart{
			margin-top: 0;
			cursor: default;
			position: relative;
			right: -10px;
			margin-top: -20px;
			path{
				shape-rendering: optimizespeed;
				stroke: #7b7e83;
				stroke-width: 1;
			}
			.tick{
				display: none !important;
				line{
					stroke: #343539;
					stroke-width:0;
				}
				text{
					fill: #7b7e83;
					font-size: 12px;
				}
				display: none;
				&:last-child{
					display: block;
				}
				&:nth-child(2){
					display: block;
				}
				&.show{
					text{
						fill: $active;
						font-weight: bold;
					}
				}
			}
			.horizontal-marker-left{
				opacity: 0.4;
				background-image: url(/img/arrow-left.png);
			}
			.vertical-marker-bottom{
				opacity: 0.4;
			}
			.current-text-quantity{
				fill: $active;
				font-weight: bold;
				font-size: 12px;
			}
			.current-text-price{
				fill: $active;
				font-weight: bold;
				font-size: 12px;
			}
			&:hover{
				circle{
					fill: #fff;
				}
			}
		}
	}
}
@supports (-ms-ime-align:auto) {
	.chart-popup .chart-wrapper .kg{
		bottom:34px;
	}
	.chart-popup .chart-wrapper .y-axis path{
		display: none;
	}
	.chart-popup .chart-wrapper .x-axis path{
		display: none;
	}
	.chart-popup .chart-wrapper .rub{
		left: 0;
		width: auto;
		text-align: right;
		bottom: 10px;
		padding-top: 8px;
	}
}
.promocode{
	background-color: $active;
	display: inline-block;
	width: 160px;
	padding: 15px 0;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
	line-height: 1;
	font-weight: bold;
	font-family: $font-bold;
	margin-bottom: 45px;
}
.promocode-price span{
	text-decoration: line-through;
}
.stop-left {
    stop-color: #343539;
}

.stop-right {
    stop-color: #fff;
}

.filled {
    fill: url(#mainGradient);
}

.outlined {
    fill:   none;
    stroke: url(#mainGradient);
    stroke-width: 0.5;
}
.doc-img{
	position: absolute;
	right: 0;
	top: 0;
	width: 115px;
}
.fixed-mobile-table{
	display: none;
}

// faq-section
dl.accordion {
	margin-bottom: 40px;
}
div.h2.faqued {
	font-size: 56px;
	margin-bottom: 9px;
}
 .accordion {
 	.h3, h3 {
		font-size: 30px;
 		margin-top: 50.6px;
         margin-bottom: 40.5px;
 	}
 	.questions-list {
		margin-left: 56px;
         margin-bottom: 80px;

 		.panel-question {
         border-top: 1px #E1E1E2 solid;

     	&:last-child {
         border-bottom: 1px #E1E1E2 solid;
    		}

     .panel-title {
		 letter-spacing: -0.5px;
         padding: 24px 0 24px 29px;
         font-size: 25px;
         color: #333;
         cursor: pointer;
         //margin-bottom: 5px;
         display: flex;
         justify-content: space-between;
         align-items: center;
         user-select: none;

         .circle {
         border:1px solid #D9D9D9;
         width:4rem;
         height:4rem;
         border-radius:100%;
         position:relative;
		 margin: 2px 0 2px 12px;
         display:inline-block;
         vertical-align:middle;
         flex-shrink: 0;

     &.plus {
     	&:before, &:after {
     	content: '';
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         background: #EF483E;
     	}

     	&:before {
     	width: 2px;
         margin: 11px auto;
         opacity: 1;
     	transition: .3s;
     	}

     	&:after {
     	margin: auto 11px;
         height: 2px;
     	}
     	}
     }
     }

      &.active {
         	.circle{
         		&.plus{
         			&:before {
         				 opacity: 0;
        					 transition: .3s;
         			}
         		}
         	}
     }
     .panel-body {
		 font-size: 15px;
         padding: 0 0 24px 29px;
     }
     }

 	}

 }

//article page

.heading {
	background-color: $active;
	height: 500px;
	margin-left: -168px;
	width: calc(100% + 380px);
	overflow: hidden;
	position: relative;
	max-width: 100vw;

  &.no-photo {
    width: 100%;
    margin: 0;
    height: auto;
    background-color: transparent;
    color: #000000;

    .heading__picture {
      display: none;

    }

    .tags__tags-list {
      margin-bottom: 0;
      color: #000000;
    }

    .heading__text-section .heading-text {
      position: inherit;
    }

    .heading__text-section {
      padding: 0;
    }
    .heading__text-section .heading-text span {
      color: black;
      background-color: transparent;
    }
    .heading__text-section .tags__label {
      color: white;
      background-color: $active;
      border-color: $active;
    }

  }


	&__text-section {
		display: inline-block;
		padding: 106px 0 0 175px;

		.tags__label {
			color: #ffffff;
			border-color: #ffffff;
		}

		.heading-text {
			//width: 723px;
          line-height: 1.2;
			margin-top: 10px;
			position: absolute;
			font-size: 56px;
			font-weight: bold;
			color: #ffffff;
			width: calc(100% - 180px);
			span {
				background-color: $active;
				padding-right: 20px;
				&:nth-child(2){
					display: block;
					margin-top: -9px;
				}
			}


		}
	}
	&__picture {
		display: inline-block;
		background-size: cover;
		height: 100%;
		width: 66%;
		float: right;
	}
}
@media only screen and (max-width: 1280px){
	.heading{
		width: calc(100% + 215px);
	}
}
//
//.p-heading {
//	font-size: 21px;
//	line-height: normal;
//	letter-spacing: normal;
//	color: #343539;
//	margin-top: 20px;
//	margin-bottom: 15px;
//}
//.dop-price-value.delivery-to-place {
//	display: none;
//}
//.order-row .order-column .tab-content.lined-tabs .hidden-order-settings .form-group .disabled {
//	opacity: 1;
//}
//.order-row .order-column .tab-content.lined-tabs .form-group.another-active.mb0 {
//	margin-bottom: 0;
//}



//.article-main-content {
//	margin: 50px 3px 100px 110px;
//
//
//}

.article-main-content {
	margin: 50px 3px 100px 97px;
	.h3, h3 {
		font-size: 30px;
		margin-bottom: 30px;
		margin-top: 50px;
	}
	.h4 {
		font-family: HelveticaNeue, "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-weight: 400;
		font-size: 21px;
		color: #343539;
		line-height: normal;
		letter-spacing: normal;
		margin-bottom: 15px;
	}
	p{
		font-size: 15px;
		opacity: 1;
		color: rgba(52,53,57,0.5);
		line-height: normal;
		margin-bottom: 20px;
	}

	table {
		width: 100%;
		margin-top: 40px;
	}

	tr {
		vertical-align: top;
		background-color: rgba(239,72,62,.05);
	}
	tr:nth-child(odd) {
		background-color: rgba(239,72,62,.02);
	}

	th {
		font-size: 15px;
		padding: 21px 4px 21px 22px;
		font-weight: 700;
		background-color: rgba(239,72,62,.3);
		color: rgba(0,0,0,.5);
	}
	td {
		p {
		font-size: 13px;
		opacity: .5;
		padding-top: 20px;
		padding-left: 22px;
		line-height: normal;
			span {
				font-size: 15px;
				font-weight: 700;
				color: #000;
			}

		&:not(:first-child) {
			span {
				font-size: 13px;
			}
			padding-top: 15px;
		}
		}

		ul {
			list-style-type: none;
			padding: 0 12px 3px 0;
			margin: 0;

			li {
				margin: 0;
				&:before {
					display: none;
				}

				p {
					padding-left: 0;
					margin-bottom: 0;
					font-size: 13px;
				}
				&:last-child {
					margin-bottom: 20px;
				}
			}
			 }

		&:nth-child(3), &:nth-child(4)
		{
			p {
				display: none;
			}

			ul {
				p {
					display: inherit;
				}
			}

		}
	  }
	ol {
		list-style: none;
		counter-reset: my-awesome-counter;
		padding-left: 0;

		li {
			p {
				margin-top: 15px;
				margin-left: 43px;
				font-size: 15px;
				opacity: .5;
				line-height: normal;
			}

			&:last-child {
				ul {
					line-height: 1.5em;
					margin: 5px 0 15px 38px;
					padding: 0;
					opacity: 1;

					li {
						list-style: none;
						position: relative;
						padding: 0 0 0 20px;
						margin-bottom: 26px;
						p {
							font-size: 15px;
							line-height: normal;
							margin-left: 0;
							opacity: 0.5;
						}


						&::before {
							content: "";
							position: absolute;
							left: 0;
							top: 7px;
							width: 7px;
							height: 7px;
							background-color: $active;
							opacity: 1;
							border-radius: 50%;
							-moz-border-radius: 50%;
							-webkit-border-radius: 50%;
						}
					}
				}

			}
		}
	}
	ol>li {
		counter-increment: my-awesome-counter;
		font-size: 21px;
		color: #343539;
		margin-top: 20px;
		margin-bottom: 15px;
	}
	ol>li::before {
		content: counter(my-awesome-counter) ". ";
		font-size: 21px;
		font-weight: 500;
		letter-spacing: normal;
		color: $active;
		margin-right: 10px;
	}

	ul {

		line-height: 1.5em;
		margin: 5px 0 15px;
		padding: 0;
		opacity: 1;

		li {
			list-style: none;
			position: relative;
			padding: 0 0 0 20px;
			margin-bottom: 26px;
			color: rgba(20, 20, 22, 0.5);
			p {
				font-size: 15px;
				line-height: normal;
				opacity: 0.5;
				margin-bottom: 10px;

				span {
					font-weight: bold;
					color: #000;
				}
			}
			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 7px;
				width: 7px;
				height: 7px;
				background-color: $active;
				opacity: 1;
				border-radius: 50%;
				-moz-border-radius: 50%;
				-webkit-border-radius: 50%;
			}
		}
	}

	.article-content__image {
		background-size: cover;
		width: 100%;
		height: 450px;
		padding: 20px 0 0 18px;
		margin: 30px 0;

		&.darken-pseudo {
			position: relative;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				display: block;
				background: linear-gradient(rgba(100, 101, 107, 0.1), rgba(0, 0, 0, 0.7));
			}
		}
		.image-text{
			opacity: 1;
			margin-left: 30px;
			margin-bottom: 31px;
			color: white;
			position: absolute;
			z-index: 1;
			bottom: 0;
			font-size: 15px;
			line-height: 1.33;
			letter-spacing: 0.35px;
		}
	}
		.article-content__also-read {
			padding-left: 23px;
			padding-bottom: 13px;
			padding-top: 13px;
			margin-top: 63px;
			margin-bottom: 63px;

			p {
				font-size: 13px;
				line-height: normal;
				opacity: 0.5;
			}

			.h3 {
				margin-top: 20px;
				margin-bottom: 15px;
			}
			border-left: 7px $active solid;
			.more-button {
				span {
					color: #ef483e;
					transition: 0.3s;
					font-weight: 700;
					margin-right: 1rem;
					font-size: 1.5rem;
				}

				svg {
					vertical-align: middle;
					fill: #ef483e;
					transition: 0.3s;
				}

				&:hover {
					span {
						color: #000;
						transition: 0.3s;
					}
					svg {
						fill: #000;
						transition: 0.3s;
					}
				}
			}
		}
	td:first-child {
		width: 13%;
	}
	td:nth-child(2) {
		width: 50%;
	}
	td:nth-child(3) {
		width: 18.5%;
	}
	td:nth-child(4) {
		width: 18.5%;
	}

    }

.time-popup{
	position: absolute;
	width: 100%;
	height: auto;
	background-color: #fff;
	z-index: 1000;
	padding: 30px 20px;
	text-align: center;
	border-top:2px solid #e6e6e6;
	color: #000;
	ul{
		padding: 0;
		margin: 0;
		display: inline-block;
		width: 100%;
		margin-bottom: 10px;
	}
	li{
		color: #000;
		list-style: none;
		width: 50%;
		float: left;
		padding: 0;
		cursor: pointer;
		font-size: 15px;
		padding: 7px 11px;
		transition: all .2s linear;
		&:hover,
		&.active{
			background-color: $active;
			color: #fff;
		}
	}
	.close-popup{
		position: absolute;
		right: 10px;
		top: 15px;
		width: 16px;
		height: 16px;
		cursor: pointer;
	}
	.btn{
	    cursor: default;
	    pointer-events: none;
		background-color: #f6f6f6;
		color: #cfcfcf;
	    &.active{
			background-color: #ef483e;
			color: #fff;
			pointer-events: auto;
			cursor: pointer;
			box-shadow: none;
	    }
	}
}

.mx-datepicker{
	width: 100%;

	.mx-input{
		border-radius: 0;
		box-shadow: none !important;
		outline: none !important;
		font-size: 15px;
		color:#000;
		height: 44px;
		padding: 14px 14px;
		border:none;
		&-append{
			svg{
				display: none;
			}
			background-image: url(/img/calendar.svg);
			background-repeat: no-repeat;
			background-position: center;
		}
		&-icon{
			&:before,
			&:after{
				display: none;
			}
		}
	}
	&-popup{
		padding: 20px;
		width: 341px!important;
		top: 44px !important;
		left: 0;
		box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0,0,0,.08);
	    border-radius: 5px;
	    border:none;
	}

	.mx-calendar{
		padding: 0;
	}
	.mx-calendar-panel-time{
		width: 100%;
	}
	.mx-time-list{
		padding-top: 5px;
		.cell{
			width: 33.33%;
			display: inline-block;
			vertical-align: top;
			text-align: center;
			padding-left: 0;
			color: #000;
			font-size: 15px;
			padding: 7px 11px;
			height: auto;
			line-height: normal;
			&.actived,
			&:hover{
				background-color: $active !important;
				color: #fff;
			}
		}
	}
	.mx-calendar-content{
		width: 100%;
		height: 100%;
	}
	.mx-panel-date td, .mx-panel-date th{
		border-radius: 100%;
		font-size: 15px;
		width: 34px;
		max-width: 34px;
		line-height: 34px;
		height: 34px;
		margin: 4px;
		display: inline-block;
		color: #393939;
		border:none;
		padding: 0;
	}

	.mx-calendar-header > a:hover{
		color: $active;
	}
	.mx-calendar-content .cell.actived,{
		background-color: #7b7e83;
		color: #fff;
		font-weight: 700;
		border-color: #7b7e83;
	}
	.mx-calendar-content .cell:hover{
		background-color: #e6e6e6;
	}
	.mx-current-month,
	.mx-current-year{
		font-size: 15px;
		font-weight: 700;
		color: #000;
	}
	&.readonly{
		opacity: 1;
		.mx-input{
			background-color: transparent;
			opacity: 1;
			padding: 0;
			font-weight: 700;
			&::-webkit-input-placeholder{
				opacity: 0;
			}
			&::-moz-input-placeholder{
				opacity: 0;
			}
		}
		.mx-input-append{
			display: none;
		}
		.mx-input-wrapper{
			pointer-events: none;
		}
		.error{
			color: $active;
			position: absolute;
			bottom: -20px;
		}
	}
	.mx-calendar-content .cell.disabled{
		color: rgba(57,57,57,.1);
		background-color: transparent !important;
	}
}
.driver-doc:nth-child(4){
	.mx-datepicker-popup{
		top: -370px !important;
		box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 -3px 13px rgba(0, 0, 0, 0.08);
	}
}
.mx-calendar-disabled-header .mx-calendar-header {
    .mx-icon-next-month, .mx-icon-next-year,
    .mx-icon-last-month, .mx-icon-last-year{
    	display: none;
    }
    .mx-current-month,
    .mx-current-year{
    	pointer-events: none;
    }
}

.auction-calendar-picker {
	.mx-datepicker {
		&-popup {
			width: 254px !important;
			left: 1px !important;
			padding: 15px;
			border-radius: 0 0 5px 5px;
		}
	}
	.mx-panel-date td,
	.mx-panel-date th {
		width: 28px;
		height: 28px;
		line-height: 28px;
		margin: 2px;
	}
	.mx-time-list .cell {
		width: 50%;
	}
}
.day-list{
	display: inline-block;
	vertical-align: middle;
	max-width: 80%;
	white-space: nowrap;
	&__wrapper{
		margin-bottom: 110px;
		padding-top: 30px;
		border-top: 6px solid #45464B;
		.vs-select--inline{
			float: right;
		}
	}
	&__item{
		display: inline-block;
		border: 1px solid #45464B;
		margin-right: 3px;
		padding: 11px;
		font-size: 14px;
		line-height: 16px;
		cursor: pointer;
		width: 120px;
		&__name{
			font-weight: bold;
			color: #67686B;
			margin-bottom: 3px;
		}
		&__date{
			color: #fff;
			font-weight: bold;
		}
		&--disabled{
			background-color: #45464B;
			.day-list__item__date{
				color: #67686B;
			}
		}
		&--active{
			position: relative;
			background-color: #45464B;
			&:before{
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -1px;
				height: 4px;
				background-color: #ef483e;
				display: block;
			}
		}
	}
}
.map-wrapper{
	position: relative;
	>div{
		max-width: 100%;
	}
}


.vs-select--inline{
	display: inline-block;
	width: auto;
	min-width: 17%;
	text-align: right;
	.vs__dropdown-toggle{
		background-color: transparent;
		padding: 0;
		height: 18px;
		border:none;
		color: #fff;
	}
	.vs__selected-options{
		justify-content: flex-end;
		padding-right: 20px;
	}
	.vs__selected{
		color: #fff;
		font-size: 15px;
		font-weight: bold;
		margin-top: 0;
		line-height: 17px;
		height: 17px ;
		display: inline-block;
		margin-right: 0 !important;
	}
	.vs__search{
		display: none;
	}	
	.vs__open-indicator{
		fill: #fff;
		background-image: url(/img/arrow-white.svg);
		margin-top: -26px;
	}
}
.price-graph{
	display: inline-block;
	float: right;
	&__wrapper{
		width: 100%;
		.h3{
			display: inline-block;
			width: auto;
		}
	}
	&__column{
		display: inline-block;
		vertical-align: bottom;
		width: 30px;
		height: 8px;
		border-radius: 1px;
		background-color: #57575b;
		margin-right: 3px;
		position: relative;
		overflow: hidden;
		&--filled{
			background-color: #EF483E;
		}
		&--current{
			background-color: #7f3d3b;
		}
		&:nth-child(2){height: 16px};
		&:nth-child(3){height: 24px};
		&:nth-child(4){height: 32px};
		&:nth-child(5){height: 40px};
		&:nth-child(6){height: 48px};
		&:nth-child(7){height: 56px};
		&:nth-child(8){height: 64px};
		&:nth-child(9){height: 72px};
		&:nth-child(10){height: 80px};
		&:nth-child(11){height: 88px};
		&:nth-child(12){height: 94px};
		&__fill{
			position: absolute;
			left: 0;
			top: 100%;
			height: 100%;
			width: 100%;
			background-color: #EF483E;
			transition: all 0.2s linear;
		}
	}
	&__info{
		display: inline-block;
		margin-left: 15px;
	}
	&--mobile{
		display: none;
		width: 56px;
		height: 56px;
		background-color: #fff;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
		border-radius: 60px;
		padding-top: 9px;
		.price-graph{
			&__column{
				width: 30px;
				height: 5px;
				margin: 2px 0;
				border-radius: 1px;
				background-color: #e0e0e0;
				display: block;
				margin-left: auto;
				margin-right: auto;
				&--current{
					background-color: #EF483E;
					transform: rotate(180deg);
				}
				&--filled{
					background-color: #EF483E;

				}
				&__fill{
					top: 0;
					transform: translateX(-100%);
					background-color: #fbc9c6;
				}				
			}
		}		
	}
}

@media only screen and (max-width: 1200px){
	.day-list{
		&__item{
			width: 100px;
		}
	}
}

@media only screen and (max-width: 992px){
	.day-list{
		max-width: 75%;
		overflow-x: auto;
		&__item{
			width: 120px;
		}
		
	}
}

@media only screen and (max-width: 767px){
	.day-list{
		max-width: 100%;
		&__wrapper{
			padding-top: 20px;
			margin-bottom: 70px;
		}
	}
	.main-hero.address-hero{
		background-position: 33% 50%;
	}
	.price-graph{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		&--mobile{
			display: block;
			position: fixed;
			left: 20px;
			bottom: 20px;
			top: auto;
			z-index: 100;
			text-align: center;			
		}
		&__column{
			width: calc(20% - 8px);
			margin-left: 2px;
			margin-right: 2px;
			
		}
		&__info{
			display: block;
			margin-left: 0;
			margin-top: 15px;
			br{
				display: none;
			}
		}
		&__wrapper{
			padding-top: 120px;
			position: relative;
		}
	}
	.vs-select--inline{
		float: left;
		width: 100%;
		margin-bottom: 20px;
		.vs__dropdown-toggle{
			border: 1px solid #45464B;
			padding: 10px 14px;
			height: auto;
		}
		.vs__selected-options{
			justify-content: flex-start;
		}
		.vs__selected{
			margin-top: 4px;
			line-height: 1.4;
		}
		.vs__open-indicator{
			margin-top: -13px;
		}
	}
}

.city-select-popup{
	background-color: #343539;
	text-align: left;
	padding: 50px;
	.h2{
		color: #fff;
	}
}
.city-select__item{
	width: 50%;
	text-decoration: none;
	margin-bottom: 15px;
	display: inline-block;
}
@media (max-width: 767px){
	.city-select__item{
		width: 100%;
	}
}
@media (max-width: 992px){
	.form-row-tablet{
		margin-top: 21px;
	}
}