.order-empty {
    padding-top: 35px;
    padding-bottom: 90px;
}

.order-table {
    margin-bottom: 30px;
    width: 100%;
    display: table;
    select {
        border: none;
        outline: none;
        width: auto;
    }
    tr.has-notice {
        background-color: rgba(239, 72, 62, 0.05);
    }
    td {
        padding: 0;
        height: 76px;
        padding-top: 15px;
        padding-bottom: 15px;
        vertical-align: middle;
        border-bottom: 2px solid #e6e6e6;
        &.btn-status {
            padding-left: 10px;
            width: 208px;
        }
        .bordered-btn {
            padding-left: 19px;
            padding-right: 19px;
        }
    }
    thead {
        position: relative;
        .js-delete-orders-wrapper {
            display: none;
            position: absolute;
            left: 35px;
            height: 20px;
            top: 0px;
            background-color: #fff;
            z-index: 1;
            font-size: 13px;
            font-family: $font-bold;
            font-weight: 700;
            color: #343539;
            width: 320px;
            .js-delete-orders {
                cursor: pointer;
                display: inline-block;
            }
            span {
                display: inline-block;
                filter: none !important;
                color: #343539;
                font-family: $font-bold;
                font-weight: 700;
            }
            img {
                margin-right: 12px;
                filter: none !important;
                display: inline-block;
                vertical-align: sub;
            }
            .js-undelete {
                display: inline-block;
                margin-left: 40px;
                color: #bababa;
                cursor: pointer;
                filter: none;
            }
        }
        .control {
            top: 1px;
        }
        &.blured {
            .js-delete-orders-wrapper {
                display: block;
            }
            span,
            img {
                filter: blur(3px);
                color: #a1a3ab;
            }
            .bootstrap-select.btn-group {
                pointer-events: none;
            }
            .bootstrap-select.btn-group .dropdown-toggle .filter-option {
                color: #a1a3ab;
            }
        }
        th {
            border-bottom: 2px solid #e6e6e6;
            padding-bottom: 20px;
            font-size: 13px;
            color: #a1a3ab;
            font-weight: 400;
            padding-right: 20px;
            position: relative;
            img {
                width: 10px;
                position: relative;
                z-index: 10;
            }
            &:first-child {
                width: 217px;
            }
            &.order-send {
                width: 162px;
            }
            &.order-delivery {
                padding-right: 0;
                width: 140px;
            }
            &.order-price {
                padding-right: 0;
                width: 193px;
            }
            &.order-status {
                padding-right: 0;
                padding-left: 108px;
                &.text-right {
                    padding-left: 0;
                    padding-right: 74px;
                }
            }
            &.order-open {
                width: 100px;
            }
            &:last-child {
                padding-right: 0;
            }
            span {
                color: #a1a3ab;
                display: inline-block;
                margin-right: 8px;
                font-size: 13px;
            }
            img {
                cursor: pointer;
            }
        }
    }
    .order-open {
        text-align: right;
        position: relative;
        .btn-default {
            display: inline-block;
            margin-right: 14px;
            color: #fff !important;
            border: 2px solid $active !important;
            border-radius: 30px;
            padding: 7px 22px;
            font-size: 11px;
        }
        .control{
            padding-left: 30px;
            &__indicator{
                top: 1px;
            }
        }
    }
    .control {
        width: 16px;
        height: 10px;
        display: inline-block;
        vertical-align: middle;
        padding: 0 8px;
        margin-right: 18px;
        top: 0;
        .control__indicator {
            width: 16px;
            height: 16px;
        }
        .control__indicator:after {
            width: 16px;
            height: 16px;
            background-size: 20px;
        }
        &.disabled {
            display: inline-block !important;
            pointer-events: none;
            .control__indicator {
                border: 2px solid #d8d8d8;
            }
        }
    }
    .mx-datepicker {
        width: 218px;
    }
    .mx-input {
        border: 1px solid #e6e6e6;
    }    
    .bootstrap-select {
        width: auto !important;
    }
    .bootstrap-select>.dropdown-toggle {
        padding: 0;
        background-color: transparent;
        width: auto;
        background-color: transparent !important;
        box-shadow: none;
        &:focus {
            outline: none !important;
        }
        .caret {
            top: 6px;
        }
    }
    .bootstrap-select.btn-group .dropdown-toggle .caret {
        right: 0;
        margin: 0;
    }
    .bootstrap-select.btn-group .dropdown-toggle .filter-option {
        font-family: $font-bold;
        font-weight: 700;
    }
    .js-open-order {
        display: inline-block;
        width: 50px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        &.active {
            transform: rotate(180deg);
        }
    }
    .order-number {
        span {
            font-size: 15px;
        }
        &.disabled {
            .control {
                pointer-events: none;
            }
            .control__indicator {
                border: 2px solid #d8d8d8;
            }
        }
    }
    .order-date {
        span {
            display: block;
            font-size: 15px;
            &.small {
                font-size: 13px;
                color: #a1a3ab;
                margin-top: 5px;
            }
        }
    }
    .order-status {
        //min-width: 170px;
    }
    thead th.order-status {
        min-width: 341px;
    }
    &.shipment-mover-table {
        thead th.order-send {
            width: 290px;
        }
    }
}

.consignment-table {
    thead {
        th:first-child {
            width: 150px;
        }
        th {
            padding-right: 0;
        }
        .order-shipment {
            width: 250px;
            text-align: right;
        }
        .order-accept {
            width: 250px;
            text-align: right;
        }
        .order-crash {
            width: 300px;
            padding-right: 50px !important;
            text-align: right;
        }
    }
    td {
        .form-control {
            width: 125px;
            text-align: right;
        }
        &.order-delivery,
        &.order-shipment,
        &.order-accept {
            text-align: right;
        }
        input {
            float: right;
        }
    }
    .order-open {
        .js-open-order {
            pointer-events: none;
        }
        .control {
            padding-left: 35px;
            height: 30px;
            font-size: 15px;
            height: 20px;
            margin-right: 0;
            .control__indicator {
                top: -4px;
                width: 25px;
                height: 25px;
                &:after {
                    width: 26px;
                    height: 26px;
                    background-size: 26px;
                    top: -3px;
                }
            }
        }
    }
    tr.not-equal {
        background-color: rgba(239, 72, 62, 0.05);
        .js-open-order {
            pointer-events: auto;
        }
    }
}

.shipment-table {
    thead {
        th:first-child {
            width: 330px;
        }
        .order-send {
            width: 290px !important;
        }
        .order-status {
            padding-left: 0 !important;
            min-width: 300px !important;
        }
    }
}

.order-details {
    display: none;
    width: 100%;
}

.pagination>li>a,
.pagination>li>span {
    border: none;
    font-size: 15px;
    color: #a1a3ab;
    border-bottom: 2px solid transparent;
    background-color: transparent !important;
    width: 24px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin: 0 6px;
    padding-bottom: 5.5px;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    padding-top: 6px;
    padding-bottom: 4px;
}

.pagination>li>a:focus {
    border-bottom-color: transparent;
    color: #a1a3ab;
}

.pagination>li>a:hover,
.pagination>li>span:hover {
    color: #a1a3ab;
    border-bottom: 2px solid $active;
}

.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:hover {
    border-bottom: 2px solid transparent !important;
}

.pagination+.documents-links,
.pagination+.consignment-total {
    margin-top: 30px;
}

.pagination {
    margin-top: 0;
    margin-bottom: 0;
    +.clearfix {
        margin-top: 30px;
    }
    >li {
        &.active {
            >a {
                border-bottom: 2px solid $active;
                color: #343539;
                font-family: $font-bold;
                font-weight: 700;
            }
        }
        img {
            width: 22px;
            opacity: 0.5;
            position: relative;
            top: -2px;
        }
        &.disabled {
            >a {
                cursor: default;
            }
            opacity: 0.3;
        }
        &:first-child {
            >a {
                padding-left: 0;
            }
        }
    }
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-radius: 0;
    border: none;
    img {
        transition: all 0.2s linear;
    }
}

.pagination>li:last-child:hover>a,
.pagination>li:last-child:hover>span {
    img {
        opacity: 1;
    }
}

.pagination>li:first-child:hover>a,
.pagination>li:first-child:hover>span {
    border-radius: 0;
    border: none;
    img {
        opacity: 1;
    }
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    border-color: $active;
    color: #343539;
}

.order-details td {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: -2px;
        width: 100%;
        height: 2px;
        background-color: #fff;
        display: block;
    }
    .track-table {
        margin-top: 50px;
    }
}

.order-buttons {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    li {
        margin-right: 22px;
        float: left;
        list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=) !important;
        padding-left: 0;
        a {
            display: inline-block;
        }
        .btn-default {
            width: 206px;
            text-align: center;
            font-size: 15px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: $active !important;
            color: #fff !important;
        }
        .btn-gray {
            padding-left: 27px;
            font-size: 15px;
            padding-right: 44px;
            background-position: 95% center;
            &:focus {
                color: #404040;
                &:hover {
                    color: #000;
                }
            }
        }
        .order-refuse {
            width: 276px;
            padding-right: 40px;
        }
        .order-stop {
            width: 250px;
            padding-right: 40px;
        }
        .order-share {
            width: 271px;
            padding-right: 39px;
        }
        &:last-child {
            margin-right: 0;
        }
        .disabled {
            background-color: #f6f6f6;
            color: #cfcfcf;
            background-image: url(../../img/arrow-nonactive.svg);
        }
        .not-filled {
            background-color: transparent;
            background-image: none;
            padding-right: 0;
            padding-left: 0;
            img {
                margin-right: 5px;
            }
        }
    }
}

.order-row {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    .order-column {
        width: 500px;
        float: left;
        &:last-child {
            float: right;
        }
        .form-group {
            margin-bottom: 20px;
            float: left;
            label {
                display: block;
                color: #7b7e83;
            }
            &:after {
                content: "";
                display: table;
                clear: both;
            }
        }
        .h3 {
            font-size: 21px;
            padding-bottom: 20px;
            margin-top: 20px;
            display: block;
            float: left;
            width: 100%;
            border-bottom: 1px solid #e6e6e6;
            margin-bottom: 30px;
        }
        #tabDelivery {
            margin-bottom: 40px;
        }
        .dropdown-menu {
            border-radius: 0;
        }
        .btn-group {
            .btn {
                padding: 0;
                background-color: transparent;
                color: #fff;
                -webkit-box-shadow: none;
                box-shadow: none;
                display: inline-block;
            }
        }
        .control {
            color: #343539;
            margin-right: 70px;
            padding-left: 43px;
            font-size: 13px;
            margin-right: 0;
            width: 220px !important;
            text-align: left;
        }
        .control.control--radio .control__indicator {
            width: 26px;
            height: 26px;
        }
        .control.control--radio .control__indicator:after {
            width: 28px;
            height: 28px;
            top: -3px;
            left: -3px;
        }
        .bootstrap-select {
            width: 500px !important;
        }
        .bootstrap-select>.dropdown-toggle {
            width: 100% !important;
            padding: 11px 19px;
            -webkit-border-radius: 0;
            border-radius: 0;
            line-height: 1;
            border: 1px solid #e6e6e6;
            background-color: #fff;
            -webkit-box-shadow: none!important;
            box-shadow: none!important;
            outline: 0!important;
            font-family: HelveticaNeue, "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: 400;
            color: #000;
            .filter-option {
                font-weight: 400;
                white-space: normal;
                font-family: $font-regular;
                line-height: 20px;
                font-size: 15px;
            }
        }
        .bootstrap-select.btn-group .dropdown-menu li a span.text {
            white-space: normal;
        }
        .bootstrap-select>.dropdown-toggle .caret {
            border: none;
            background-image: url(../../img/arrow.svg);
            background-repeat: no-repeat;
            background-position: center;
            width: 8px;
            height: 5px;
            right: 20px;
            top: 18px;
        }
        .form-column {
            &:after {
                content: "";
                display: table;
                clear: both;
            }
            &.lined {
                .form-group {
                    width: 240px;
                    margin-right: 20px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
                .small {
                    width: 150px;
                }
                .bigger {
                    width: 330px;
                }
                .form-group .bootstrap-select.btn-group {
                    width: 100% !important;
                    .caret {
                        right: 12px;
                    }
                }
                .control {
                    margin-top: 15px;
                }
            }
            &.full {
                .form-group {
                    width: 500px;
                }
            }
        }
        span.gray {
            display: block;
            color: #7b7e83;
        }
    }
    &.three-columns {
        .order-column {
            width: 345px;
            margin-right: 20px;
            float: left;
            &.order-transporter {
                margin-right: 61px;
            }
            &:nth-child(3) {
                width: 206px;
                float: right;
                margin-right: 0;
            }
        }
    }
    &.order-select-driver {
        .order-column:first-child {
            width: 218px;
        }
        .order-column:nth-child(2) {
            width: 345px;
        }
        .order-column:last-child {
            width: 419px;
        }
        .order-driver {
            width: 486px !important;
            position: relative;
        }
        .bootstrap-select {
            width: 419px !important;
        }
        label.order-driver-label {
            font-size: 11px;
            color: #7b7e83;
            b {
                font-size: 22px;
                font-weight: bold;
                color: #343539;
                line-height: 11px;
                float: right;
            }
        }
    }
}

.order-edit-icons {
    position: absolute;
    right: 0;
    top: 0;
    span {
        display: inline-block;
        cursor: pointer;
        margin-left: 9px;
        &.disabled {
            cursor: default;
            pointer-events: none;
        }
    }
}

.def-form {
    .form-group {
        margin-bottom: 24px;
        float: left;
        label {
            display: block;
            color: #7b7e83;
        }
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }
    .driver-row+.edit-buttons {
        margin-top: 42px;
    }
    .h3 {
        font-size: 21px;
        padding-bottom: 8px;
        margin-top: 20px;
        display: block;
        float: left;
        width: 100%;
        border-bottom: 1px solid #e6e6e6;
        margin-bottom: 30px;
    }
    .view-password {
        position: absolute;
        right: 18px;
        top: 35px;
        width: 26px;
        opacity: 0.4;
        cursor: pointer;
        transition: all 0.2s linear;
        &:hover {
            opacity: 0.9;
        }
        &.active {
            opacity: 1;
        }
    }
    .tooltip-link {
        top: 37px;
        right: -42px;
    }
    .form-column {
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        &.lined {
            .form-group {
                width: 240px;
                margin-right: 20px;
                &:last-child {
                    margin-right: 0;
                }
            }
            .small {
                width: 150px;
            }
            .bigger {
                width: 330px;
            }
            .form-group .bootstrap-select.btn-group {
                width: 100% !important;
                .caret {
                    right: 12px;
                }
            }
            .control {
                margin-top: 15px;
            }
        }
        &.full {
            .form-group {
                width: 500px;
            }
        }
    }
	.btn-group.lined-tabs{
		border-bottom: 1px solid #e6e6e6;
		width: 100%;
		margin-bottom: 30px;
		.btn{
			width: 50%;
		}
		.control{
			width: 100% !important;
			height: auto;
			padding-left: 0;
			text-align: center;
			font-size: 15px;
			font-weight: bold;
			color:#d0d0d0 !important;
			padding-bottom: 12px;
			.control__indicator{
				width: 100%;
				border:none;
				&:after{
					width: 100%;
					height: 2px;
					border-radius: 0;
					border-width:1px;
					top: 35px;
					left: 0;
				}
			}
		}
		.btn.active{
			.control{
				color: #404040 !important;
			}
		}

	}
	.tab-content.lined-tabs{
		.form-group{
			margin-bottom: 25px;
			width: 100%;
			&.disabled{
				pointer-events: none;
				.control--checkbox{
					color: #cfcfcf;
					.control__indicator{
						border:2px solid #cfcfcf;
					}
				}
			}
        }
        .form-column.lined .small{
            width: 150px;
        }
        .form-column.lined .bigger{
            width: 330px;
        }
		.usergroup{
			&__row{
				display: inline-block;
				width: 100%;
				border-bottom: 1px solid #e6e6e6;
				margin-bottom: 35px;
				margin-right: 0;
			}
			&__item.control{
				display: inline-block;
				width: calc(50% - 53px) !important;
				margin-bottom: 20px;
                height: 26px;
                font-size: 13px;
			}
        }	
        .who-pay{
            &__title{
                margin-bottom: 35px;
            }
           
        }		
		.bootstrap-select.faded{
			opacity: 0;
		}
		.tooltip .tooltip-inner {
			min-width: 320px;
		}
		.hidden-order-settings{
			float: left;
			width: 100%;
			position: relative;
			display: none;
			&.visible{
				display: block;
			}
			.form-group{
				width: 100%;
				.flatpickr{
					width: 218px;
					+ .tooltip-link{
						right: auto;
						left: 240px;
					}
				}
				.form-control{
					border:1px solid #e6e6e6;
				}
				.disabled{
					opacity: 0.6;
					pointer-events: none;
                }
                .mx-datepicker{
                    width: auto;
                }
                .mx-datepicker.disabled{
                    border: 1px solid #d9d9d9;
                    + .tooltip-link{
                        right: auto;
                        margin-left: 20px;
                    }
                }
            }

			.order-address{
				position: absolute;
				top: -110px;
				background-color: #fff;
				z-index: 10;
			}
			.order-settings-radio{
				position: relative;
				.control{
					display: inline-block;
					width: 33.33% !important;
					float: left;
					font-size: 13px;
					font-weight: 400;
				}
				.tooltip-link{
					right: 0;
					top: -3px;
				}
			}
		}
		.control--checkbox{
			width: 100% !important;
			color: #343539;
			font-weight: bold;
			font-size: 15px;
			.control__indicator{
				width: 26px;
				height: 26px;
				&:after{
					width: 26px;
					height: 26px;
					background-size: 28px;
				}
			}
		}
		.red-alert{
			font-size: 15px;
			margin-bottom: 10px;
			display: block;
			img{
				display: inline-block;
				margin-right: 5px;
			}
		}
		.order-settings-buttons{
			float: left;
			width: 100%;
			border-top:1px solid  rgba(69, 70, 75, 0.3);
			padding-top: 40px;
			margin-top: 25px;
			&:after{
				content:"";
				display: table;
				clear: both;
			}
			.back-btn{
				background-color: transparent;
				padding: 11px 25px 11px 25px;
				background-image: url(../../img/arrow-left-dark.svg);
				background-repeat: no-repeat;
				background-position: 0 center;
				background-size: 10px;
				font-size: 15px;
				font-weight: bold;
				color: #7b7e83;
				float: left;
				cursor: pointer;
			}
			.btn-active{
				float: right;
				cursor: pointer;
				&.disabled{
					background-color: #f6f6f6;
					color: #cfcfcf !important;
					background-image: url(../../img/arrow-nonactive.svg);
				}
			}
			.control{
				width: auto !important;
				float: right;
				font-size: 11px;
				padding-left: 33px;
				margin-top: 24px;
				a{
					color: #000!important;
				}
			}

		}
		.form-control{
			font-weight: 400;
		}
		.form-column{
			&.dop-info{
				border-bottom: 1px solid #ccc;
				padding-bottom: 35px;
				margin-bottom: 30px;
				font-size: 13px;
                min-height: 153px;
                &:last-child{
                    border-bottom: none;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
				&.loading{
					&:after{
						margin-top: -40px;
					}
				}
				.js-dop-info{
					display: none;
				}
				.h5{
					font-size: 15px;
					margin-bottom: 20px;
				}
				ul{
					padding-left: 15px;
					margin-bottom: 25px;
					.dop-price-value{
						font-size: 15px;
						color: #343539;
						line-height: 17px;
						b{
							font-size: 15px;
							letter-spacing: 0.5px;
						}
					}
				}
				.dop-price:after{
					clear: both;
					display: table;
					content:"";
				}
				.dop-price-value{
					float: right;
					font-size: 22px;
					color: #343539;
					line-height: 17px;
					b{
						font-size: 30px;
						letter-spacing: 0.5px;
					}
				}
			}
		}
	}	    
}

.order-details {
    .tooltip-link {
        top: 38px;
    }
}

.order-info-item {
    margin-bottom: 16px;
    font-size: 13px;
    b {
        font-size: 11px;
        display: block;
        color: #7b7e83;
        margin-bottom: 3px;
    }
    &__login {
        .btn-default {
            display: inline-block;
            margin-right: 15px;
        }
        margin-bottom: 25px;
    }
    .bootstrap-select.btn-group.disabled,
    .bootstrap-select.btn-group>.disabled {
        cursor: default;
        border-color: transparent !important;
        padding-left: 0;
        font-weight: 700 !important;
        font-family: $font-bold !important;
        opacity: 1;
        .bs-caret {
            display: none;
        }
    }
}

.tab-content>.tab-pane {
    display: none;
    overflow: visible;
}

.tab-content>.active {
    display: block;
}

.print-link {
    color: $active;
    font-family: $font-bold;
    font-weight: 700;
    font-size: 13px;
    margin-top: 15px;
    text-decoration: underline;
    img {
        margin-right: 7px;
        position: relative;
        top: -2px;
    }
}

.order-docs {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    width: 100%;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    >li {
        line-height: 31px;
    }
    li {
        display: inline-block;
        float: left;
        font-size: 15px;
        font-family: $font-bold;
        font-weight: 700;
        color: #343539;
        margin-right: 30px;
        position: relative;
        list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=) !important;
        &.disabled {
            color: #cfcfcf;
            pointer-events: none;
            img {
                opacity: 0.3;
            }
        }
        img {
            cursor: pointer;
            position: relative;
            top: -2px;
        }
        .download-doc {
            margin-right: 15px;
        }
        &:hover {
            .sub-menu-docs {
                opacity: 1;
                visibility: visible;
                transform: none;
            }
        }
    }
    .sub-menu-docs {
        position: absolute;
        top: 100%;
        background-color: #fff;
        margin: 0;
        opacity: 0;
        visibility: hidden;
        left: -30px;
        transition: all 0.2s linear;
        transform: translateY(10px);
        padding: 24px 30px;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
        min-width: 190px;
        margin-top: 10px;
        li {}
        a {
            float: left;
        }
        span {
            display: inline-block;
            float: left;
            line-height: 22px;
        }
        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 10px;
            top: -10px;
        }
        li {
            display: flex;
            flex-wrap: nowrap;
            margin-bottom: 25px;
            list-style-type: none;
            margin-right: 0;
            line-height: 18px;
            white-space: nowrap;
            a {
                min-width: 24px;
                img {
                    position: relative;
                    top: -4px;
                }
            }
            span {
                min-width: 150px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .order-buttons li {
        margin-right: 21px;
    }
    .form-control.hidden-field {
        top: 25px;
        line-height: 16px;
    }
}

@supports (-ms-ime-align:auto) {
    .order-buttons li {
        margin-right: 21px;
        display: block;
    }
    .order-table thead .js-delete-orders-wrapper img {
        vertical-align: middle;
        position: relative;
        top: -1px;
    }
    .form-control.hidden-field {
        top: 25px;
        line-height: 16px;
    }
}

.form-wrapper {
    max-height: 1200px;
    .form-row{
        margin-left: 0;
        margin-right: 0;
    }
    &.scroll-wrapper {
        overflow: visible !important;
        -ms-overflow-style: none;
        position: relative;
        &:before {
            content: "";
            display: block;
            position: absolute;
            left: -40px;
            right: -40px;
            top: 0;
            height: 2px;
            background-color: #e6e6e6;
            z-index: 2;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            left: -40px;
            right: -40px;
            bottom: 0;
            height: 2px;
            background-color: #e6e6e6;
            z-index: 2;
        }
        .form-row-wrap:first-child {
            margin-top: 30px;
        }
        .form-row-wrap:last-child {
            margin-bottom: 0;
        }
        .form-wrapper {
            margin-right: 0 !important;
            margin-bottom: 0 !important;
            max-height: 1200px !important;
        }
    }
}

.profile-wrapper {
    margin-bottom: 0;
    width: 1180px;
    position: relative;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: -1px;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    .block-title {
        .h3 {
            display: inline-block;
        }
        .print-order {
            float: right;
            font-size: 15px;
            font-weight: bold;
            position: absolute;
            top: -53px;
            right: 0;
        }
    }
    .form-row-wrap {
        position: relative;
        border: 2px solid #d9d9d9;
        padding: 18px;
        padding-bottom: 10px;
        padding-top: 30px;
        margin-bottom: 30px;
    }
    .form-group {
        width: 246px;
        float: left;
        .form-control[disabled] {
            opacity: 0.8;
            background-color: #aeaeb0;
            border: 1px solid #aeaeb0;
            pointer-events: none;
        }
        .form-control {
            border: 1px solid #d9d9d9;
            &.no-border {
                border: none;
                padding-left: 0;
                pointer-events: none;
            }
        }
        label:not(.error) {
            color: #343539;
        }
        &.bigger {
            width: 380px;
            margin-right: 20px;
            margin-bottom: 12px;
        }
        &.small {
            width: 180px;
            margin-right: 20px;
        }
        &.pull-right{
            float: right;
        }
        .control {
            margin-top: 5px;
        }
        &.half {
            width: 180px;
            margin-right: 20px;
        }
        &.group-info {
            padding-left: 52px;
            padding-right: 0;
            width: 288px;
        }
        &.w-auto {
            width: auto;
        }
        .bootstrap-select {
            width: 100% !important;
            &.field-error {
                >.dropdown-toggle {
                    border: 2px solid #ef483e!important;
                    padding: 13px 19px 12px;
                }
            }
            >.dropdown-toggle {
                padding: 13px 19px 13px;
                border-radius: 0;
                line-height: 1;
                line-height: 16px;
                background-color: #fff;
                box-shadow: none !important;
                outline: none !important;
                font-family: $font-regular;
                font-weight: 400;
                border: 1px solid #d9d9d9;
                color: #000;
                transition: border-color 0.2s linear;
                .caret {
                    border: none;
                    background-image: url(../../img/arrow.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 8px;
                    height: 5px;
                }
            }
            .dropdown-menu {
                margin: 0;
                border-radius: 0;
                li {
                    list-style: none;
                }
            }
        }
    }
    .control{
        font-size: 13px;
    }
}

.form-control {
    &.no-border {
        border: none;
        padding-left: 0;
        pointer-events: none;
    }
}

.print-order {
    font-size: 15px;
    span {
        color: #404040;
        opacity: 0.5;
        transition: all 0.2s linear;
        display: inline-block;
        vertical-align: middle;
    }
    &:hover {
        span {
            opacity: 1;
        }
    }
}
#wmsorder.loading{
    min-height: 100px;
}
.profile-column {
    width: 500px;
    float: left;
    padding-bottom: 60px;
    &.bigger {
        width: 620px;
    }
    .block-title {
        .h3 {
            font-size: 25px !important;
            margin-top: 0 !important;
        }
    }
    .form-row{
        margin-left: 0;
        margin-right: 0;
    }    
    &:not(:last-child) {
        margin-right: 60px;
        .edit-buttons {
            margin-top: 18px;
        }
    }
    p {
        font-size: 13px;
        margin-bottom: 40px;
    }
    .form-control {
        border-color: #d9d9d9;
    }
    &.order-new-form {
        .order-info-item {
            b {
                padding-bottom: 9px;
                border-bottom: 2px solid #d9d9d9;
                margin-bottom: 20px;
            }
            label:not(.hidden) {
                display: inline-block !important;
            }
            &.no-border {
                b {
                    border-bottom: none;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
            }
        }
        .btn-group[data-toggle="buttons"] {
            margin-bottom: 40px;
        }
        .btn-group .btn {
            padding: 0;
            background-color: transparent !important;
            color: #fff;
            -webkit-box-shadow: none;
            box-shadow: none;
            display: inline-block;
            &.active,
            &:active {
                background-color: transparent !important;
            }
        }
        .form-column {
            margin-bottom: 25px;
            &:after {
                content: "";
                display: table;
                clear: both;
            }
            &.editable:first-of-type {
                margin-top: 0 !important;
                border-top: none !important;
                padding-top: 0 !important;
            }
            &.lined {
                .form-group {
                    width: 240px !important;
                    margin-right: 20px !important;
                    &:last-child {
                        margin-right: 0 !important;
                    }
                }
                .small {
                    width: 150px !important;
                }
                .bigger {
                    width: 330px !important;
                }
                .form-group .bootstrap-select.btn-group {
                    width: 100% !important;
                    .caret {
                        right: 12px;
                    }
                }
                .control {
                    margin-top: 15px;
                }
            }
            &.full {
                .form-group {
                    width: 500px !important;
                }
            }
        }
        .bootstrap-select.btn-group.disabled .dropdown-toggle .filter-option {
            font-size: 15px !important;
            line-height: 25px !important;
            font-weight: bold !important;
        }
        .form-control[readonly]:not(.flatpickr-input) {
            font-weight: 700 !important;
            font-size: 15px !important;
            border: none;
        }
    }
    .block-title {
        position: relative;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        .h3 {
            margin-top: 9px;
            font-size: 30px;
            color: #020205;
            background-color: #fff;
            i {
                font-style: normal;
            }
        }
    }
    .sms-links {
        margin-top: 0;
        margin-bottom: 60px;
        a img {
            width: 24px;
            position: relative;
            top: -2px;
        }
    }
    .form-group {
        &.small {
            //margin-bottom: 12px;
        }
    }
}

.small-info.static {
    margin-top: 0;
}

.edit-profile {
    position: absolute;
    top: 11px;
    right: 0;
    font-size: 11px;
    font-family: $font-bold;
    font-weight: 700;
    color: #a1a3ab;
    cursor: pointer;
    &.clicked {
        color: #e6e6e6;
        pointer-events: none;
    }
}

.profile-buttons {
    margin-top: 18px;
    .btn-active:last-child {
        float: right;
        padding-right: 45px;
        min-width: 200px;
        text-align: left;
    }
    .change-pass {
        //margin-top: 10px;
    }
    .btn-back {
        float: left;
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    .btn-default {
        background-color: $active !important;
        color: #fff !important;
        float: left;
    }
}

.edit-buttons {
    margin-top: 18px;
    background-color: #fff;
    .back {
        font-size: 15px;
        color: #bababa;
        font-family: $font-bold;
        font-weight: 700;
        margin-top: 11px;
        display: inline-block;
        cursor: pointer;
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    .btn-default {
        float: right;
        background-color: $active !important;
        color: #fff !important;
    }
}

.control.disabled {
    display: none !important;
}

.control.readonly {
    pointer-events: none;
    padding-left: 0;
    color: #000 !important;
    font-family: $font-bold;
    font-weight: 700;
    .control__indicator {
        display: none;
    }
}

.driver-row {
    background-color: #e7e7e7;
    padding: 23px 30px 1px;
    position: relative;
    .form-control {
        padding-left: 15px;
        padding-right: 15px;
    }
    .form-control,
    .form-group {
        max-width: 100%;
    }
    label.error {
        left: 10px;
    }
    .flatpickr-default {
        label.error {
            left: 0;
        }
    }
    .form-column {
        margin-left: -10px;
        margin-right: -10px;
        .form-group {
            padding-left: 10px;
            padding-right: 10px;
            width: 50% !important;
            margin-right: 0 !important;
            &.smaller {
                width: 115px !important;
            }
        }
        &.full {
            .form-group {
                width: 100% !important;
            }
        }
    }
    .bordered:before {
        background-color: #dcdcdc;
    }
    .bordered span {
        color: #7b7e83;
        background-color: #e7e7e7;
    }
    input[readonly] {
        background-color: transparent;
        padding: 0;
    }
    .driver-controls {
        position: absolute;
        left: 385px;
        bottom: 25px;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        span {
            display: inline-block;
            float: left;
            width: 44px;
            height: 44px;
            cursor: pointer;
            border: 2px solid #bdbdbd;
            text-align: center;
            line-height: 39px;
            margin-left: -2px;
            img {
                width: 24px;
            }
            &.not-active {
                pointer-events: none;
                img {
                    opacity: 0.4;
                }
            }
        }
    }
}

.flatpickr-default.disabled {
    pointer-events: none;
    padding-left: 0;
    font-family: $font-bold;
    font-weight: 700;
    color: #000;
    input {
        padding-left: 0;
        background-color: transparent;
    }
    .input-button {
        display: none;
    }
}

.driver-service-meta {
    padding: 0px 0 27px;
    position: relative;
    .driver-form-status {
        font-size: 13px;
        color: #7b7e83;
        background-color: #fff;
        line-height: 26px;
        img {
            margin-right: 13px;
        }
    }
    .edit-profile {
        right: 0;
        top: 10px;
        z-index: 10;
    }
}

.profile-column {
    .swiper-button-next,
    .swiper-button-prev {
        background-image: url(../../img/chevron-right.png);
        background-size: 22px;
        top: 27px;
        right: -8px;
        opacity: 0.3;
        transition: all 0.2s linear;
        &:focus {
            outline: none;
        }
        &:hover {
            opacity: 1;
        }
    }
    .swiper-button-prev {
        transform: rotate(180deg);
        right: 32px;
        left: auto;
    }
}

.flatpickr-mobile {
    background: #fff !important;
    background-color: #fff !important;
    box-shadow: none !important;
    background-image: none !important;
    -webkit-appearance: none;
    padding-top: 5px;
}

.flatpickr {
    .flatpickr-mobile+.flatpickr-mobile {
        display: none;
    }
}

.flatpickr-mobile-wrapper {
    &:before {
        content: 'Дата и время';
        width: 100%;
        position: absolute;
        top: 12px;
        left: 15px;
        display: block;
        color: #000;
        height: 1px;
    }
    &.focused {
        &:before {
            display: none;
        }
    }
}

p.bordered {
    font-size: 13px;
    line-height: 15px;
    color: #7b7e83;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 9px;
    margin-bottom: 20px;
    margin-top: 20px;
    &:before {
        display: none;
    }
    &.mb0 {
        margin-bottom: 0;
    }
}

.overload-table {
    margin-bottom: 35px;
    thead {
        &.blured {
            span,
            img {
                filter: none;
            }
            .bootstrap-select.btn-group {
                pointer-events: auto;
            }
            .bootstrap-select.btn-group .dropdown-toggle .filter-option {
                color: #000;
            }
        }
        th {
            padding-bottom: 15px;
            &:first-child {
                width: 150px;
            }
        }
    }
    td {
        padding-top: 0;
        padding-bottom: 0;
        height: 76px;
    }
    td.text-right {
        padding-right: 20px;
        &:last-child {
            padding-right: 0;
        }
    }
    .order-date {
        padding-top: 18px;
        span.small {
            margin-top: 0;
        }
    }
    thead .js-delete-orders-wrapper {
        width: 340px;
        top: 9px;
    }
}

.order-table thead .js-delete-orders-wrapper img {
    width: 17px;
}

.order-total-table {
    margin-bottom: 35px;
    &:last-of-type {
        margin-bottom: 70px;
    }
    td {
        font-size: 13px;
        vertical-align: top;
    }
    +.pagination {
        margin-bottom: 30px;
    }
}

.order-total {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    span {
        font-weight: 400;
        display: block;
    }
}

.order-create {
    margin-bottom: 35px;
    .btn-default {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
    .order-column {
        width: calc( 50% - 10px) !important;
        .form-group {
            width: 100%;
        }
        .bootstrap-select {
            width: 100% !important;
        }
        &:first-child {
            width: calc( 50% - 10px) !important;
        }
    }
}

.transporter-table {
    thead th.order-status {
        min-width: 220px;
        padding-left: 0;
        padding-right: 60px;
        text-align: right;
    }
    thead th:first-child {
        width: 180px;
    }
    .order-open {
        width: 60px;
    }
}

.inline-form {
    margin-bottom: 30px;
    display: flex;
    .btn-default {
        min-width: 206px;
        margin-left: 20px;
    }
    .search {
        width: 100%;
        position: relative;
        display: inline-block;
        width: 100%;
        >div {
            display: inline-block;
            vertical-align: top;
            float: left;
        }
        .form-group {
            width: calc(100% - 280px) !important;
            float: left;
        }
        .form-control {
            //background-image: url(../../img/search.svg);
            background-repeat: no-repeat;
            background-position: 98% center;
            border: 2px solid #e6e6e6;
            border-right: none;
        }
    }
    .form-group {
        display: flex;
        margin-bottom: 0;
        position: relative;
    }
    label.error {
        position: absolute;
        left: 0;
        bottom: -28px;
    }
    .form-control {
        display: inline-block;
    }
    button:not(.vs__clear) {
        display: inline-block;
        width: 200px;
        min-width: 200px;
        margin-left: 20px;
    }
}

.select-in-field {
    display: inline-block;
    width: 280px;
    .vs__dropdown-toggle {
        border: 2px solid #e6e6e6;
    }
}

.breadcrumbs {
    margin-top: 0px;
    padding: 0;
    margin-bottom: 30px;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    li {
        display: inline-block;
        list-style: none;
        position: relative;
        float: left;
        a {
            font-size: 15px;
            color: #a1a3ab;
            line-height: 17px;
        }
        span {
            font-size: 15px;
            line-height: 17px;
        }
        &:after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            margin: 0 7px 0 9px;
            width: 7px;
            height: 11px;
            background-image: url(../../img/arrow-grey.svg);
            background-repeat: no-repeat;
            background-size: 100%;
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}

.order-info {
    margin-bottom: 25px;
    width: 100%;
    th {
        padding-bottom: 8px;
        border-bottom: 1px solid #e6e6e6;
        font-size: 13px;
        line-height: 18px;
        padding-right: 60px;
        font-weight: 400;
        &:last-child {
            padding-right: 0;
        }
    }
    td {
        padding-top: 9px;
        font-size: 20px;
        color: #343539;
        font-weight: bold;
    }
}

.quantity {
    position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.styled-input-number {
    input {
        width: 100%;
        height: 44px;
        line-height: 1.65;
        float: left;
        display: block;
        padding: 0;
        margin: 0;
        font-size: 15px;
        padding-left: 20px;
        border: 1px solid #d9d9d9;
        &:focus {
            outline: none;
        }
    }
}

.input-number-nav {
    float: left;
    position: relative;
    height: 44px;
}

.input-number-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #d8d8d8;
    width: 48px;
    line-height: 21px;
    text-align: center;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.input-number-button.input-number-up {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid #d8d8d8;
}

.input-number-button.input-number-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
}

.profile-wrapper .def-form .order-info-item {
    margin-bottom: 25px;
    b {
        color: #7b7e83;
        font-weight: 400;
        font-size: 13px;
    }
    .bootstrap-select {
        width: 500px !important;
        &.disabled {
            cursor: default;
            opacity: 1 !important;
            >.dropdown-toggle .filter-option {
                font-size: 13px;
                line-height: 15px;
            }
            .bs-caret {
                display: none;
            }
        }
    }
    .bootstrap-select.btn-group.disabled,
    .bootstrap-select.btn-group>.disabled {
        opacity: 1;
        border: none !important;
        padding: 0;
    }
    .form-control[readonly]:not(.flatpickr-input) {
        padding: 0;
        height: auto;
        font-size: 13px;
        font-weight: 400;
        min-width: 1px;
        margin-right: 0;
        &[size="1"] {
            width: 24px;
        }
        &[size="2"] {
            width: 55px;
        }
    }
    label {
        font-size: 13px;
        color: #7b7e83;
        font-weight: 400;
    }
    .form-group {
        // width: auto !important;
        // margin-right: 0 !important;
        // margin-bottom: 0;
    }
    .form-column {
        &.editable {
            margin-bottom: 25px;
            &:first-of-type {
                margin-top: 9px;
                border-top: 2px solid #d9d9d9;
                padding-top: 20px;
            }
            .form-group {
                margin-right: 20px !important;
                &:last-child {
                    margin-right: 0 !important;
                }
                &.passport-field {
                    width: 382px !important;
                    margin-right: 0 !important;
                }
            }
        }
    }
    .bootstrap-select>.dropdown-toggle {
        width: 100% !important;
        padding: 11px 19px;
        -webkit-border-radius: 0;
        border-radius: 0;
        line-height: 1;
        border: 1px solid #d9d9d9 !important;
        background-color: #fff !important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
        outline: 0!important;
        font-family: HelveticaNeue, "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 400;
        color: #000;
        &:focus {
            outline: none !important;
        }
        .filter-option {
            font-weight: 400;
            white-space: normal;
            font-family: $font-regular;
            line-height: 20px;
            font-size: 15px;
        }
    }
    .bootstrap-select.btn-group .dropdown-menu li a span.text {
        white-space: normal;
    }
    .bootstrap-select>.dropdown-toggle .caret {
        border: none;
        background-image: url(../../img/arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 8px;
        height: 5px;
        right: 20px;
        top: 18px;
    }
}

.row-buttons {
    padding: 0;
    margin: 0;
    position: absolute;
    right: 20px;
    top: -20px;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    li {
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        height: 40px;
        border: 2px solid #bababa;
        margin-left: 10px;
        float: left;
        border-radius: 100%;
        text-align: center;
        line-height: 41px;
        background-color: #fff;
        cursor: pointer;
        svg path {
            transition: all 0.2s linear;
        }
        &:hover {
            svg {
                path {
                    stroke: $active;
                }
            }
        }
        &:first-child {
            svg {
                position: relative;
                top: 3px;
                left: -1px;
            }
        }
        &:nth-child(2) {
            &:hover {
                svg {
                    path {
                        fill: $active;
                        stroke: transparent;
                    }
                }
            }
            svg {
                position: relative;
                top: 4px;
            }
        }
        &.cargo-qty {
            input {
                display: none;
                position: absolute;
                left: 28px;
                height: 36px;
                border: none;
                padding: 0;
                background-color: transparent;
                &:focus {
                    outline: none;
                }
            }
            &.active {
                width: 65px;
                min-width: 65px;
                border-radius: 40px;
                text-align: right;
                padding-right: 10px;
                &:before {
                    content: "x";
                    position: absolute;
                    left: 17px;
                    top: -1px;
                    font-weight: 400;
                    font-size: 15px;
                }
                input {
                    width: 25px;
                    display: block;
                }
                svg {
                    path {
                        stroke: $active;
                    }
                }
            }
        }
    }
}

.add-cargo {
    text-align: center;
    font-size: 13px;
    margin-top: 25px;
    margin-bottom: 30px;
    cursor: pointer;
    span {
        width: 40px;
        height: 40px;
        line-height: 35px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 100%;
        text-align: center;
        border: 2px solid #bababa;
        margin-bottom: 3px;
        img {
            width: 14px;
        }
    }
}

.documents-links {
    margin-bottom: 30px;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    .form-group {
        display: inline-block;
        width: auto;
        margin-right: 60px;
        margin-bottom: 0;
        float: left;
        &:last-child {
            margin-right: 0;
        }
    }
    .form-group.disabled {
        pointer-events: none;
        opacity: 0.5;
        a {
            img {
                opacity: 0.8;
            }
        }
    }
    a {
        font-size: 15px;
        font-weight: bold;
        color: #404040;
        display: inline-block;
        img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 3px;
        }
        span {
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.proxy-phone {
    margin-top: -30px;
    margin-bottom: 30px;
    width: 240px;
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    &.disabled {
        opacity: 0.5;
    }
    +.js-labelFile {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0;
        cursor: pointer;
        span {
            font-size: 15px;
            font-weight: bold;
            color: #404040;
            display: inline-block;
            vertical-align: middle;
        }
        img {
            display: inline-block;
            vertical-align: middle;
        }
        .loaded {
            display: none;
        }
        .text-loaded {
            display: none;
        }
        &.has-file {
            img {
                display: none;
            }
            .js-fileName {
                display: none;
            }
            .loaded {
                display: inline-block;
            }
            .text-loaded {
                display: inline-block;
                &:hover {
                    color: rgba(255, 255, 255, 0);
                    &:before {
                        content: attr(data-hover);
                        color: #404040;
                        position: absolute;
                        left: 30px;
                        top: 1px;
                    }
                }
            }
        }
    }
}

.order-column-buttons {
    .btn-default {
        display: inline-block;
        vertical-align: bottom;
        width: 280px;
        text-align: center;
        &.disabled {
            color: #cfcfcf;
            background-color: #f6f6f6;
            pointer-events: none;
        }
    }
    .back-link {
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 0.2px;
        display: inline-block;
        vertical-align: middle;
        padding: 14px 0 15px;
        line-height: 1;
        &.disabled {
            color: #bababa;
        }
    }
    &.pull-right {
        .back-link {
            margin-right: 30px;
        }
    }
}

.scroll-wrapper>.scroll-element,
.scroll-wrapper>.scroll-element div {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.scroll-wrapper>.scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.scroll-wrapper>.scroll-element.scroll-x {
    bottom: 2px;
    height: 4px;
    left: 0;
    width: 100%;
    display: none !important;
}

.scroll-wrapper>.scroll-element.scroll-y {
    height: 100%;
    right: -24px;
    top: 0;
    width: 4px;
}

.scroll-wrapper>.scroll-element .scroll-element_outer {
    overflow: hidden;
}

.scroll-wrapper>.scroll-element .scroll-element_track {
    background-color: #e6e6e6;
}

.scroll-wrapper>.scroll-element .scroll-bar {
    background-color: $active;
}

.consignment-head {
    margin-bottom: 30px;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    .bolder-list {
        float: left;
        .list-column {
            width: 155px;
            margin-right: 10px;
        }
    }
    .btn-gray {
        padding: 0;
        background-color: transparent;
        background-image: none;
    }
}

.consignment-table {
    td {
        overflow: hidden;
    }
    .order-details {
        td {
            padding-bottom: 0;
            padding-top: 0;
        }
    }
}

.bolder-list {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    .list-column {
        float: left;
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
    .list-item {
        span {
            display: block;
            font-size: 13px;
            line-height: 18px;
            color: #343539;
            margin-bottom: 10px;
        }
        b {
            font-size: 18px;
            font-weight: bold;
            color: #000;
        }
        em {
            font-style: normal;
            font-size: 18px;
            display: block;
            margin-top: 3px;
        }
    }
}

.consist {
    display: block;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 9px;
    margin-bottom: 20px;
    font-size: 13px;
    img {
        display: inline-block;
        margin-left: 17px;
        vertical-align: middle;
    }
}

.consignment-list {
    padding: 0;
    margin: 0;
    padding-top: 30px;
    //border-top: 1px solid #e6e6e6;
    display: block;
    max-height: 480px;
    &.scroll-wrapper {
        padding-top: 30px !important;
    }
    >.scroll-element.scroll-y {
        right: 20px;
        top: 0;
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    li {
        list-style: none !important;
        margin-bottom: 30px;
        list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
        >span {
            display: inline-block;
            vertical-align: top;
            margin-right: 20px;
        }
        .bolder-list {
            display: inline-block;
            .list-column {
                width: auto;
                margin-right: 50px;
                &.big {
                    width: 200px !important;
                }
                &:last-child {
                    width: 124px;
                }
            }
            .list-item {
                display: inline-block;
                margin-bottom: 15px;
                &:first-child {
                    margin-right: 50px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                &.wide {
                    width: 100%;
                    margin-right: 0;
                }
            }
        }
        .control {
            padding-left: 35px;
            height: 30px;
            font-size: 15px;
            height: 20px;
            vertical-align: top;
            top: 5px;
            .control__indicator {
                top: -4px;
                width: 25px;
                height: 25px;
                &:after {
                    width: 26px;
                    height: 26px;
                    background-size: 26px;
                    top: -3px;
                }
            }
        }
    }
}

.consignment-total {
    margin-bottom: 30px;
    >span {
        display: block;
        border-bottom: 1px solid #e6e6e6;
        padding-bottom: 9px;
        font-size: 13px;
        color: #7b7e83;
        margin-bottom: 20px;
    }
    .list-column:first-child {
        width: 300px;
    }
    .list-column:nth-child(2) {
        width: 260px;
    }
    .list-column:nth-child(3) {
        width: auto;
    }
    .list-column:nth-child(4) {
        width: 100px;
        float: right;
    }
}

.pallet-wrap-title {
    margin-bottom: 30px;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    .h2 {
        display: inline-block;
        font-size: 30px;
    }
    .inline-form {
        width: 700px;
        float: right;
        margin-bottom: 0;
    }
}

.pallets-wrapper {
    margin-left: -4px;
    margin-right: -4px;
    display: flex;
    width: 1130px;
    margin-left: -30px;
    margin-bottom: 100px;
    &:last-of-type {
        margin-bottom: 0;
    }
    .pallets-wrapper {
        padding-bottom: 50px;
        overflow: auto !important;
    }
    &>.scroll-element.scroll-x {
        display: block !important;
        cursor: pointer;
        left: 15px;
        right: 15px;
        width: auto;
    }
    &>.scroll-element div {
        cursor: pointer;
    }
    &>.scroll-element.scroll-y {
        display: none !important;
    }
}

.pallet {
    background-color: #343539;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    width: 275px;
    min-width: 275px;
    padding: 15px 25px;
    margin-left: 4px;
    margin-right: 4px;
    float: left;
    color: #fff;
    font-size: 13px;
    position: relative;
    .delete-pallet {
        position: absolute;
        right: 15px;
        top: 15px;
        display: block;
        cursor: pointer;
    }
    .form-control {
        width: 160px;
        margin-top: 5px;
    }
    .pallet-row {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
        .h5 {
            color: #bababa;
            line-height: 13px;
            margin-bottom: 4px;
            display: block;
            font-weight: 400;
            font-size: 13px;
            display: inline-block;
            padding-right: 10px;
        }
        b {
            font-size: 15px;
        }
        p {
            margin-bottom: 0;
            font-size: 13px;
            line-height: 15px;
            min-height: 45px;
        }
        &.bordered-row {
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid rgba(186, 186, 186, 0.3);
            .h5 {
                border-bottom: 1px solid rgba(186, 186, 186, 0.3);
                padding-bottom: 10px;
                margin-bottom: 4px;
                display: block;
            }
        }
        a:not(.btn-default) {
            display: block;
            color: #bababa;
            font-size: 15px;
            margin-bottom: 5px;
            font-weight: bold;
            img {
                margin-right: 5px;
                display: inline-block;
                vertical-align: bottom;
            }
        }
        a.btn-default {
            margin-top: 30px;
            width: 100%;
            display: block;
            text-align: center;
        }
    }
}

.pallet-id-wrapper {
    height: 44px;
    &>.scroll-element.scroll-y {
        right: 0;
    }
}

.create-pallets {
    .h2 {
        margin-bottom: 40px;
    }
    .form-column {
        margin-bottom: 25px;
        .form-group {
            display: inline-block;
            width: 165px;
            margin-right: 20px !important;
            vertical-align: top;
        }
        b {
            font-weight: 400;
            display: block;
            font-size: 13px;
            color: #7b7e83;
            margin-bottom: 5px;
        }
        .bootstrap-select {
            width: 530px !important;
            &.field-error {
                >.dropdown-toggle {
                    border: 2px solid #ef483e!important;
                    padding: 13px 19px 12px;
                }
            }
            >.dropdown-toggle {
                padding: 14px 19px 13px;
                border-radius: 0;
                line-height: 1;
                background-color: #fff;
                box-shadow: none !important;
                outline: none !important;
                font-family: $font-regular;
                font-weight: 400;
                border: 1px solid #d9d9d9;
                color: #000;
                transition: border-color 0.2s linear;
                .caret {
                    border: none;
                    background-image: url(../../img/arrow.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 8px;
                    height: 5px;
                }
                .filter-option {
                    font-weight: 400;
                    white-space: normal;
                    font-family: HelveticaNeue, "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
                    line-height: 20px;
                    font-size: 15px;
                }
            }
            .dropdown-menu {
                margin: 0;
                border-radius: 0;
                li {
                    list-style: none;
                }
            }
        }
    }
}

.main-popup .back-link {
    display: inline-block;
    margin-right: 30px;
    font-weight: bold;
    width: 150px;
    font-size: 15px;
    color: #bababa;
    text-align: center;
}

.login-wms {
    p {
        font-size: 13px;
        margin-bottom: 0;
    }
    form {
        margin-top: 40px;
        &.sms-form {
            width: 300px;
            .form-group {
                width: 100%;
            }
            label.error {
                bottom: 18px;
            }
        }
    }
    .back-link {
        display: inline-block;
        margin-right: 30px;
        font-weight: bold;
        width: auto;
        padding-top: 11px;
        font-size: 15px;
        color: #bababa;
        text-align: center;
    }
    .form-group {
        width: 195px;
        margin-bottom: 40px;
        position: relative;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        span.small {
            display: inline-block;
            position: absolute;
            right: -100%;
            margin-left: 20px;
            font-size: 11px;
            line-height: 15px;
            color: #7b7e83;
            top: 33px;
        }
        span.code-again {
            float: right;
            font-size: 11px;
            color: #bababa;
            display: inline-block;
            margin-top: 20px;
            img {
                margin-right: 6px;
                display: inline-block;
            }
        }
    }
    button {
        width: 195px;
    }
}

.v--modal{
    .login-wrap .form-group{
        width: 100%;
        margin-bottom: 0;
    }
    .login-wrap{
        .btn-default{
            margin-top: 0;
            min-width: 175px;
            padding: 14px 30px 14px 30px;
            &.disabled{
                color: #fff;
                background-color: #e6e6e6;
                pointer-events: none;
            }
        }
        .btn-active{
            text-align: center;
            min-width: 175px;
            &.disabled{
                color: #fff;
                background-color: #e6e6e6;
                pointer-events: none;
            }
        }        
    }
}