.order-empty {
    padding-top: 35px;
    padding-bottom: 90px;
}

.vs__clear {
    display: none;
}

.order-table {
    margin-bottom: 70px;
    width: 100%;
    display: table;
    .order-status {
        //display: flex;
        //align-items:center;
        &>span {
            vertical-align: middle;
            display: inline-block;
        }
    }
    th {
        .v-select {
            display: inline-block;
            vertical-align: middle;
            //flex-grow:1;
        }
        .vs__dropdown-toggle {
            border: none;
            padding-left: 0;
            padding-right: 0;
            height: auto;
            min-height: 1px;
            padding-left: 0;
            padding-right: 0;
            position: relative;
            line-height: 18px;
            padding: 0 12px;
            .vs__open-indicator {
                right: 0;
                top: 8px;
                transform: none;
            }
            .vs__actions {
                padding: 0;
            }
        }
        .vs__clear {
            display: none;
        }
        .vs__selected {
            margin-top: 0;
            font-weight: 700;
            color: #000;
        }
        .vs--single.vs--open .vs__selected {
            position: relative;
            opacity: 1;
        }
        .vs__dropdown-menu {
            span {
                color: #a1a3ab !important;
            }
        }
    }
    select {
        border: none;
        outline: none;
        width: auto;
    }
    td {
        padding: 0;
        height: 92px;
        padding-top: 23px;
        padding-bottom: 23px;
        vertical-align: middle;
        border-bottom: 2px solid #e6e6e6;
        &.btn-status {
            padding-left: 10px;
            width: 208px;
        }
        .bordered-btn {
            padding-left: 19px;
            padding-right: 19px;
        }
    }
    thead {
        position: relative;
        .js-delete-orders-wrapper {
            display: none;
            position: absolute;
            left: 35px;
            height: 20px;
            top: 0px;
            background-color: #fff;
            z-index: 1;
            font-size: 13px;
            font-family: $font-bold;
            font-weight: 700;
            color: #343539;
            width: 320px;
            .js-delete-orders {
                cursor: pointer;
                display: inline-block;
            }
            span {
                display: inline-block;
                -webkit-filter: none !important;
                filter: none !important;
                color: #343539;
                font-family: $font-bold;
                font-weight: 700;
            }
            img {
                margin-right: 12px;
                -webkit-filter: none !important;
                filter: none !important;
                display: inline-block;
                vertical-align: sub;
            }
            .js-undelete {
                display: inline-block;
                margin-left: 40px;
                color: #bababa;
                cursor: pointer;
                -webkit-filter: none;
                filter: none;
            }
        }
        .control {
            top: 1px;
        }
        &.blured {
            .js-delete-orders-wrapper {
                display: block;
            }
            span,
            img {
                -webkit-filter: blur(3px);
                filter: blur(3px);
                color: #a1a3ab;
            }
            .bootstrap-select.btn-group {
                pointer-events: none;
            }
            .bootstrap-select.btn-group .dropdown-toggle .filter-option {
                color: #a1a3ab;
            }
        }
        th {
            border-bottom: 2px solid #e6e6e6;
            padding-bottom: 20px;
            font-size: 13px;
            color: #a1a3ab;
            font-weight: 400;
            padding-right: 20px;
            position: relative;
            img {
                width: 10px;
                position: relative;
                z-index: 10;
            }
            &:first-child {
                width: 217px;
            }
            &.order-send {
                width: 162px;
            }
            &.order-delivery {
                padding-right: 0;
                width: 140px;
            }
            &.order-price {
                padding-right: 0;
            }
            &.order-status {
                padding-right: 0;
                padding-left: 108px;
                &.text-right {
                    padding-left: 0;
                    padding-right: 74px;
                }
            }
            &.order-open {
                width: 100px;
            }
            &:last-child {
                padding-right: 0;
            }
            span {
                color: #a1a3ab;
                display: inline-block;
                margin-right: 8px;
                font-size: 13px;
            }
            img {
                cursor: pointer;
            }
        }
        .mobile-table-cell {
            display: none;
        }
    }
    .order-open {
        text-align: right;
        position: relative;
        width: 205px;
        padding-top: 0;
        padding-bottom: 0;
        .btn-default {
            display: inline-block;
            margin-right: 14px;
            color: #fff !important;
            border: 2px solid $active !important;
            border-radius: 30px;
            padding: 7px 22px;
            font-size: 11px;
        }
    }
    .control {
        width: 16px;
        height: 10px;
        display: inline-block;
        vertical-align: middle;
        padding: 0 8px;
        margin-right: 18px;
        top: 0;
        .control__indicator {
            width: 16px;
            height: 16px;
        }
        .control__indicator:after {
            width: 16px;
            height: 16px;
            background-size: 20px;
        }
        &.disabled {
            display: inline-block !important;
            pointer-events: none;
            .control__indicator {
                border: 2px solid #d8d8d8;
            }
        }
    }
    .bootstrap-select {
        width: auto !important;
    }
    .bootstrap-select>.dropdown-toggle {
        padding: 0;
        background-color: transparent;
        width: auto;
        background-color: transparent !important;
        box-shadow: none;
        &:focus {
            outline: none !important;
        }
        .caret {
            top: 6px;
        }
    }
    .bootstrap-select.btn-group .dropdown-toggle .caret {
        right: 0;
        margin: 0;
    }
    .bootstrap-select.btn-group .dropdown-toggle .filter-option {
        font-family: $font-bold;
        font-weight: 700;
    }
    .js-open-order {
        display: inline-block;
        width: 50px;
        height: 90px;
        line-height: 90px;
        text-align: center;
        cursor: pointer;
        &.active {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
        &:not(:nth-child(2)) {
            width: 100%;
            position: relative;
            img {
                position: absolute;
                right: 20px;
                top: 50%;
            }
            &.active {
                img {
                    right: auto;
                    left: 20px;
                    margin-top: -6px;
                }
            }
        }
    }
    .order-number {
        span {
            font-size: 15px;
            position: relative;
            &.has-notice {
                &:after {
                    content: "";
                    position: absolute;
                    width: 7px;
                    height: 7px;
                    right: -10px;
                    top: -5px;
                    display: block;
                    background-color: $active;
                    border-radius: 25px;
                }
            }
        }
        &.disabled {
            .control {
                pointer-events: none;
            }
            .control__indicator {
                border: 2px solid #d8d8d8;
            }
        }
    }
    .order-date {
        span {
            display: block;
            font-size: 15px;
            &.small {
                font-size: 13px;
                color: #a1a3ab;
                margin-top: 5px;
            }
        }
    }
    .order-status {
        /*min-width: 170px;*/
    }
    thead th.order-status {
        min-width: 341px;
    }
}

.order-details {
    display: none;
    width: 100%;
}

.pagination>li>a,
.pagination>li>span {
    border: none;
    font-size: 15px;
    outline: none;
    color: #a1a3ab;
    border-bottom: 2px solid transparent;
    background-color: transparent !important;
    width: 24px;
    float: left;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin: 0 6px;
    padding-bottom: 5.5px;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    padding-top: 6px;
    padding-bottom: 4px;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #a1a3ab;
    border-bottom: 2px solid $active;
}

.pagination>li>a:focus,
.pagination>li>span:focus {
    border-bottom: 2px solid transparent !important;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    border-bottom: 2px solid transparent !important;
}

.pagination {
    margin-top: 0;
    margin-bottom: 80px;
    >li {
        &.active {
            >a {
                border-bottom: 2px solid $active;
                color: #343539;
                font-family: $font-bold;
                font-weight: 700;
            }
        }
        img {
            width: 22px;
            opacity: 0.5;
            position: relative;
            top: -2px;
        }
        &.disabled {
            >a {
                cursor: default;
            }
            opacity: 0.3;
        }
        &:first-child {
            >a {
                padding-left: 0;
            }
        }
        .next {
            background-image: url(/img/chevron-right.png);
            background-repeat: no-repeat;
            background-position: center;
            height: 22px;
            opacity: 0.5;
            background-size: 22px;
            transition: all 0.2s linear;
            &:hover {
                opacity: 1;
            }
        }
        .prev {
            background-image: url(/img/chevron-left.png);
            background-repeat: no-repeat;
            background-position: center;
            height: 22px;
            opacity: 0.5;
            background-size: 22px;
            transition: all 0.2s linear;
            position: relative;
            top: 1px;
            &:hover {
                opacity: 1;
            }
        }
    }
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-radius: 0;
    border: none;
    img {
        transition: all 0.2s linear;
    }
}

.pagination>li:last-child:hover>a,
.pagination>li:last-child:hover>span {
    img {
        opacity: 1;
    }
}

.pagination>li:first-child:hover>a,
.pagination>li:first-child:hover>span {
    border-radius: 0;
    border: none;
    img {
        opacity: 1;
    }
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    border-color: $active;
    color: #343539;
}

.order-details td {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: -2px;
        width: 100%;
        height: 2px;
        background-color: #fff;
        display: block;
    }
    .track-table {
        margin-top: 50px;
        float: left;
    }
}

.order-buttons {
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    li {
        margin-right: 22px;
        float: left;
        list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=) !important;
        padding-left: 0;
        a {
            display: inline-block;
        }
        .btn-default {
            width: 206px;
            text-align: center;
            display: inline-block;
            font-size: 15px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: $active !important;
            color: #fff !important;
        }
        .btn-gray {
            padding-left: 27px;
            font-size: 15px;
            padding-right: 44px;
            background-position: 95% center;
        }
        .order-refuse {
            width: 276px;
            padding-right: 40px;
        }
        .order-stop {
            width: 250px;
            padding-right: 40px;
        }
        .order-share {
            width: 271px;
            padding-right: 39px;
        }
        &:last-child {
            margin-right: 0;
        }
        .disabled {
            background-color: #f6f6f6;
            color: #cfcfcf;
            background-image: url(/img/arrow-nonactive.svg);
        }
        .with-arrow {}
    }
}

.order-row {
    position: relative;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    .order-column {
        width: 500px;
        float: left;
        &:last-child {
            float: right;
        }
        [data-toggle="buttons"] {
            margin-bottom: 40px;
        }
        .form-group {
            margin-bottom: 20px;
            float: left;
            label {
                display: block;
                color: #7b7e83;
            }
            &:after {
                content: "";
                display: table;
                clear: both;
            }
        }
        .h3 {
            font-size: 21px;
            padding-bottom: 20px;
            margin-top: 20px;
            display: block;
            float: left;
            width: 100%;
            border-bottom: 1px solid #e6e6e6;
            margin-bottom: 30px;
        }
        .hr{
            height: 1px;
            width: 100%;
            background-color: #e6e6e6;
            margin-bottom: 20px;
        }
        #tabDelivery {
            margin-bottom: 40px;
        }
        .dropdown-menu {
            border-radius: 0;
        }
        .btn-group {
            .btn {
                padding: 0;
                background-color: transparent;
                color: #fff;
                box-shadow: none;
                display: inline-block;
            }
        }
        .control {
            color: #343539;
            margin-right: 70px;
            padding-left: 43px;
            font-size: 13px;
            margin-right: 0;
            width: 220px !important;
            text-align: left;
        }
        .control.control--radio .control__indicator {
            width: 26px;
            height: 26px;
        }
        .control.control--radio .control__indicator:after {
            width: 28px;
            height: 28px;
            top: -3px;
            left: -3px;
        }
        .btn-group {
            .control {
                margin-bottom: 40px;
            }
        }
        .btn-group.lined-tabs {
            border-bottom: 1px solid #e6e6e6;
            width: 100%;
            margin-bottom: 30px;
            .btn {
                width: 50%;
            }
            .control {
                width: 100% !important;
                height: auto;
                padding-left: 0;
                text-align: center;
                font-size: 15px;
                font-weight: bold;
                color: #d0d0d0 !important;
                padding-bottom: 12px;
                .control__indicator {
                    width: 100%;
                    border: none;
                    &:after {
                        width: 100%;
                        height: 2px;
                        border-radius: 0;
                        border-width: 1px;
                        top: 35px;
                        left: 0;
                    }
                }
            }
            .btn.active {
                .control {
                    color: #404040 !important;
                }
            }
        }
        .tab-content.lined-tabs {
            .form-row {
                margin-left: 0;
                margin-right: 0;
            }
            .form-group {
                margin-bottom: 25px;
                width: 100%;
                &-area {
                    display: inline-block;
                    width: 100%;
                }
                &.disabled {
                    pointer-events: none;
                    .control--checkbox {
                        color: #cfcfcf;
                        .control__indicator {
                            border: 2px solid #cfcfcf;
                        }
                    }
                }
            }
            .usergroup {
                &__row {
                    display: inline-block;
                    width: 100%;
                    border-bottom: 1px solid #e6e6e6;
                    margin-bottom: 35px;
                    margin-top: 30px;
                }
                &__item.control {
                    display: inline-block;
                    width: calc(50% - 5px) !important;
                    margin-bottom: 20px;
                    height: 26px;
                }
            }
            .bootstrap-select.faded {
                opacity: 0;
            }
            .tooltip .tooltip-inner {
                min-width: 320px;
            }
            .hidden-order-settings {
                float: left;
                width: 100%;
                position: relative;
                display: none;
                &.visible {
                    display: block;
                }
                .form-group {
                    width: 100%;
                    .flatpickr {
                        width: 218px;
                        +.tooltip-link {
                            right: auto;
                            left: 240px;
                        }
                    }
                    .form-control {
                        border: 1px solid #e6e6e6;
                    }
                    .disabled {
                        opacity: 0.6;
                        pointer-events: none;
                    }
                }
                .order-address {
                    position: absolute;
                    top: -110px;
                    background-color: #fff;
                    z-index: 10;
                }
                .order-settings-radio {
                    position: relative;
                    .control {
                        display: inline-block;
                        width: 33.33% !important;
                        float: left;
                        font-size: 13px;
                        font-weight: 400;
                    }
                    .tooltip-link {
                        right: 0;
                        top: -3px;
                    }
                }
            }
            .control--checkbox {
                width: 100% !important;
                color: #343539;
                font-weight: bold;
                font-size: 15px;
                .control__indicator {
                    width: 26px;
                    height: 26px;
                    &:after {
                        width: 26px;
                        height: 26px;
                        background-size: 28px;
                    }
                }
            }
            .red-alert {
                font-size: 15px;
                margin-bottom: 10px;
                display: block;
                img {
                    display: inline-block;
                    margin-right: 5px;
                }
            }
            .order-settings-buttons {
                float: left;
                width: 100%;
                border-top: 1px solid rgba(69, 70, 75, 0.3);
                padding-top: 40px;
                margin-top: 25px;
                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }
                .back-btn {
                    background-color: transparent;
                    padding: 11px 25px 11px 25px;
                    background-image: url(/img/arrow-left-dark.svg);
                    background-repeat: no-repeat;
                    background-position: 0 center;
                    background-size: 10px;
                    font-size: 15px;
                    font-weight: bold;
                    color: #7b7e83;
                    float: left;
                    cursor: pointer;
                }
                .btn-active {
                    float: right;
                    cursor: pointer;
                    &.disabled {
                        background-color: #f6f6f6;
                        color: #cfcfcf !important;
                        background-image: url(/img/arrow-nonactive.svg);
                    }
                }
                .control {
                    width: auto !important;
                    float: right;
                    font-size: 11px;
                    padding-left: 33px;
                    margin-top: 24px;
                    a {
                        color: #000!important;
                    }
                }
            }
            .form-control {
                font-weight: 400;
            }
            .price-info {
                width: 100%;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .bootstrap-select {
            width: 500px !important;
        }
        .bootstrap-select>.dropdown-toggle {
            width: 100% !important;
            padding: 11px 19px;
            border-radius: 0;
            line-height: 1;
            border: 1px solid #e6e6e6;
            background-color: #fff;
            box-shadow: none!important;
            outline: 0!important;
            font-family: HelveticaNeue, "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: 400;
            color: #000;
            .filter-option {
                font-weight: 400;
                white-space: normal;
                font-family: $font-regular;
                line-height: 20px;
                font-size: 15px;
            }
        }
        .bootstrap-select.btn-group .dropdown-menu li a span.text {
            white-space: normal;
        }
        .bootstrap-select>.dropdown-toggle .caret {
            border: none;
            background-image: url(/img/arrow.svg);
            background-repeat: no-repeat;
            background-position: center;
            width: 8px;
            height: 5px;
            right: 20px;
            top: 18px;
        }
        &.two-column {
            display: flex;
            .form-group:first-child {
                margin-right: 20px;
            }
            .with-flatpickr {
                width: 218px;
            }
            .with-selectpicker {
                width: 287px;
            }
        }
        .form-column {
            &:after {
                content: "";
                display: table;
                clear: both;
            }
            &.lined {
                .form-group {
                    width: 240px;
                    margin-right: 20px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
                .small {
                    width: 150px;
                }
                .bigger {
                    width: 330px;
                }
                .form-group .bootstrap-select.btn-group {
                    width: 100% !important;
                    .caret {
                        right: 12px;
                    }
                }
                .control {
                    margin-top: 15px;
                }
            }
            &.full {
                .form-group {
                    //width: 500px;
                }
            }
            &.dop-info {
                border-bottom: 1px solid #ccc;
                padding-bottom: 35px;
                margin-bottom: 30px;
                font-size: 13px;
                //min-height: 153px;
                &:after {
                    margin-top: -30px;
                    margin-left: -26px;
                }
                .js-dop-info {
                    display: none;
                }
                .h5 {
                    font-size: 15px;
                    margin-bottom: 20px;
                }
                ul {
                    padding-left: 15px;
                    margin-bottom: 25px;
                    .dop-price-value {
                        font-size: 15px;
                        color: #343539;
                        line-height: 17px;
                        b {
                            font-size: 15px;
                            letter-spacing: 0.5px;
                        }
                    }
                }
                .dop-price:after {
                    clear: both;
                    display: table;
                    content: "";
                }
                .dop-price-value {
                    float: right;
                    font-size: 22px;
                    color: #343539;
                    line-height: 17px;
                    b {
                        font-size: 30px;
                        letter-spacing: 0.5px;
                    }
                }
            }
        }
        .form-group-area {
            .dop-info {
                border-bottom: none;
                padding-bottom: 0;
                margin-bottom: 0;
                width: 100%;
                display: inline-block;
            }
        }
    }
    &.three-columns {
        .order-column {
            width: 345px;
            margin-right: 20px;
            float: left;
            &.order-transporter {
                margin-right: 61px;
            }
            &:nth-child(3) {
                width: 207px;
                float: right;
                margin-right: 0;
            }
        }
    }
    &.four-columns {
        .order-column {
            width: 278px;
            margin-right: 20px;
            float: left;
            &.order-transporter {
                margin-right: 61px;
            }
            &:nth-child(2) {
                width: 248px;
            }
            &:nth-child(3) {
                width: 275px;
            }
            &:nth-child(4) {
                width: 207px;
                float: right;
                margin-right: 0;
            }
        }
    }
    &.order-select-driver {
        .order-column:first-child {
            width: 223px;
        }
        .order-column:nth-child(2) {
            width: 345px;
        }
        .order-column:last-child {
            width: 419px;
        }
        .order-driver {
            width: 423px !important;
            position: relative;
        }
        .bootstrap-select {
            width: 419px !important;
        }
        label.order-driver-label {
            font-size: 11px;
            color: #7b7e83;
            b {
                font-size: 22px;
                font-weight: bold;
                color: #343539;
                line-height: 11px;
                float: right;
            }
        }
        .order-info-item {
            margin-bottom: 20px;
            b {
                margin-bottom: 1px;
            }
        }
    }
    .edit-tabs {
        display: none;
        &.visible {
            display: block;
            width: 500px;
            float: right;
        }
        .disabled-area {
            pointer-events: none;
            .form-group {
                .control--checkbox {
                    color: #cfcfcf;
                }
                .control__indicator {
                    border: 2px solid #cfcfcf;
                }
            }
        }
    }
    .mx-datepicker {
        width: 218px;
    }
    .mx-input {
        border: 1px solid #e6e6e6;
    }
    .person-row {
        margin-top: 5px;
        .btn-group {
            width: 100%;
            margin-top: 0;
        }
        .btn-group .control {
            margin-bottom: 5px;
            width: calc(50% - 1px) !important;
        }
    }
}

.order-edit-icons {
    position: absolute;
    right: 0;
    top: 0;
    span {
        display: inline-block;
        cursor: pointer;
        margin-left: 9px;
        &.disabled {
            cursor: default;
            pointer-events: none;
        }
    }
}

.main-popup .back-link {
    display: inline-block;
    margin-right: 25px;
    font-weight: bold;
    width: auto;
    font-size: 15px;
    color: #bababa;
    text-align: center;
}

.def-form {
    .form-group {
        margin-bottom: 24px;
        float: left;
        label {
            display: block;
            color: #7b7e83;
        }
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }
    .driver-row+.edit-buttons {
        margin-top: 42px;
    }
    .h3 {
        font-size: 21px;
        padding-bottom: 20px;
        margin-top: 20px;
        display: block;
        float: left;
        width: 100%;
        border-bottom: 1px solid #e6e6e6;
        margin-bottom: 30px;
    }
    .view-password {
        position: absolute;
        right: 18px;
        top: 35px;
        width: 26px;
        opacity: 0.4;
        cursor: pointer;
        transition: all 0.2s linear;
        &:hover {
            opacity: 0.9;
        }
        &.active {
            opacity: 1;
        }
    }
    .tooltip-link {
        top: 37px;
        right: -42px;
    }
    .form-column {
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        &.lined {
            .form-group {
                width: 240px;
                margin-right: 20px;
                &:last-child {
                    margin-right: 0;
                }
            }
            .small {
                width: 150px;
            }
            .bigger {
                width: 330px;
            }
            .form-group .bootstrap-select.btn-group {
                width: 100% !important;
                .caret {
                    right: 12px;
                }
            }
            .control {
                margin-top: 15px;
            }
        }
        &.full {
            .form-group {
                width: 500px;
            }
        }
    }
}

.order-details {
    .tooltip-link {
        top: 36px;
    }
}

.order-info-item {
    margin-bottom: 20px;
    font-size: 13px;
    b {
        font-size: 11px;
        display: block;
        color: #7b7e83;
        margin-bottom: 5px;

    }
    .vs--single .vs__selected {
        white-space: normal;
    }
}

.tab-content>.tab-pane {
    display: none;
    overflow: visible;
}

.tab-content>.active {
    display: block;
}

.print-link {
    color: $active;
    font-family: $font-bold;
    font-weight: 700;
    font-size: 13px;
    margin-top: 15px;
    text-decoration: underline;
    img {
        margin-right: 7px;
        position: relative;
        top: -2px;
    }
}

.order-docs {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    width: 100%;
    position: relative;
    z-index: 101;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    >li {
        line-height: 31px;
    }
    li {
        display: inline-block;
        float: left;
        font-size: 15px;
        font-family: $font-bold;
        font-weight: 700;
        color: #343539;
        margin-right: 30px;
        position: relative;
        z-index: 101;
        list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=) !important;
        &.disabled {
            color: #cfcfcf;
            pointer-events: none;
            img {
                opacity: 0.3;
            }
        }
        img {
            cursor: pointer;
            position: relative;
            top: -2px;
        }
        .download-doc {
            margin-right: 15px;
        }
        &:hover {
            .sub-menu-docs {
                opacity: 1;
                visibility: visible;
                -webkit-transform: none;
                transform: none;
            }
        }
        &.docs-icon {
            position: absolute;
            right: 0;
            margin-right: 0;
            top: 0;
            width: 32px;
            height: 32px;
        }
    }
    .sub-menu-docs {
        position: absolute;
        top: 100%;
        background-color: #fff;
        margin: 0;
        opacity: 0;
        visibility: hidden;
        left: -30px;
        z-index: 100;
        transition: all 0.2s linear;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        padding: 24px 30px;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
        min-width: 190px;
        margin-top: 10px;
        li {}
        a {
            float: left;
        }
        span {
            display: inline-block;
            float: left;
            line-height: 22px;
        }
        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 10px;
            top: -10px;
        }
        li {
            display: flex;
            flex-wrap: nowrap;
            margin-bottom: 25px;
            list-style-type: none;
            margin-right: 0;
            line-height: 18px;
            white-space: nowrap;
            a {
                min-width: 24px;
                img {
                    position: relative;
                    top: -4px;
                }
            }
            span {
                min-width: 150px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.edit-order-popup {
    h2 {
        font-size: 25px;
        margin-bottom: 20px;
    }
    p {
        font-size: 13px;
        line-height: 18px;
    }
}

.hidden-edit-time {
    display: none;
    .flatpickr {
        width: 220px;
    }
    .btn {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.active-time-edit {
    .order-info-item .info-text {
        display: none;
    }
    .hidden-edit-time {
        display: block;
    }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .order-buttons li {
        margin-right: 21px;
    }
    .form-control.hidden-field {
        top: 25px;
        line-height: 16px;
    }
}

@supports (-ms-ime-align:auto) {
    .order-buttons li {
        margin-right: 21px;
        display: block;
    }
    .order-table thead .js-delete-orders-wrapper img {
        vertical-align: middle;
        position: relative;
        top: -1px;
    }
    .form-control.hidden-field {
        top: 25px;
        line-height: 16px;
    }
}

.profile-wrapper {
    margin-bottom: 100px;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.profile-column {
    width: 500px;
    float: left;
    &:not(:last-child) {
        margin-right: 70px;
        .edit-buttons {
            margin-top: 18px;
        }
    }
    p {
        font-size: 13px;
        margin-bottom: 40px;
    }
    .form-control {
        border-color: #e6e6e6;
    }
    .form-row{
        margin-left: 0;
        margin-right: 0;
    }    
    .block-title {
        position: relative;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        .h3 {
            margin-top: 9px;
            font-size: 30px;
            color: #020205;
            background-color: #fff;
            i {
                font-style: normal;
            }
        }
    }
    .sms-links {
        margin-top: 0;
        margin-bottom: 60px;
        a img {
            width: 24px;
            position: relative;
            top: -2px;
        }
    }
    .form-group {
        &.small {
            margin-bottom: 22px;
        }
    }
    .bootstrap-select>.dropdown-toggle {
        background-color: transparent !important;
        box-shadow: none;
        border: 1px solid #e6e6e6;
        padding-left: 19px;
        font-weight: 400;
        &:focus {
            outline: none !important;
        }
        .caret {
            border: none;
            background-image: url(/img/arrow.svg);
            background-repeat: no-repeat;
            background-position: center;
            width: 8px;
            height: 5px;
        }
    }
    .bootstrap-select.btn-group.disabled,
    .bootstrap-select.btn-group>.disabled {
        cursor: default;
        border-color: transparent !important;
        padding-left: 0;
        font-weight: 700;
        font-family: $font-bold;
        opacity: 1;
        .bs-caret {
            display: none;
        }
    }
    .v-select {
        &.vs--disabled {
            .vs__dropdown-toggle {
                padding: 0;
                height: auto;
                line-height: 1;
                border: none;
                background-color: transparent;
            }
            .vs__selected {
                font-weight: bold;
            }
            .vs__search,
            .vs__actions {
                display: none;
            }
        }
    }
    .control {
        &--disabled {
            pointer-events: none;
        }
    }
}

.edit-profile {
    position: absolute;
    top: 19px;
    right: 0;
    font-size: 11px;
    font-family: $font-bold;
    font-weight: 700;
    color: #a1a3ab;
    cursor: pointer;
    &.clicked {
        color: #e6e6e6;
        pointer-events: none;
    }
}

.profile-buttons {
    margin-top: 18px;
    .btn-active:last-child {
        float: right;
        padding-right: 45px;
        min-width: 200px;
        text-align: left;
    }
    .change-pass {
        /*margin-top: 10px;*/
    }
    .btn-back {
        float: left;
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    .btn-default {
        background-color: $active !important;
        color: #fff !important;
        float: left;
    }
}

.edit-buttons {
    margin-top: 18px;
    background-color: #fff;
    .back {
        font-size: 15px;
        color: #bababa;
        font-family: $font-bold;
        font-weight: 700;
        margin-top: 11px;
        display: inline-block;
        cursor: pointer;
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    .btn-default {
        float: right;
        background-color: $active !important;
        color: #fff !important;
    }
}

.control.disabled {
    display: none !important;
}

.control.readonly {
    pointer-events: none;
    padding-left: 0;
    color: #000 !important;
    font-family: $font-bold;
    font-weight: 700;
    .control__indicator {
        display: none;
    }
}

.driver-row {
    background-color: #e7e7e7;
    padding: 23px 30px 1px;
    position: relative;
    .form-control {
        padding-left: 15px;
        padding-right: 15px;
    }
    .form-control,
    .form-group {
        max-width: 100%;
    }
    label.error {
        left: 10px;
    }
    .flatpickr-default {
        label.error {
            left: 0;
        }
    }
    .form-column {
        margin-left: -10px;
        margin-right: -10px;
        .form-group {
            padding-left: 10px;
            padding-right: 10px;
            width: 50% !important;
            margin-right: 0 !important;
            &.smaller {
                width: 115px !important;
            }
        }
        &.full {
            .form-group {
                width: 100% !important;
            }
        }
    }
    .bordered:before {
        background-color: #dcdcdc;
    }
    .bordered span {
        color: #7b7e83;
        background-color: #e7e7e7;
    }
    input[readonly] {
        background-color: transparent;
        padding: 0;
    }
    .driver-controls {
        position: absolute;
        left: 385px;
        bottom: 25px;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        span {
            display: inline-block;
            float: left;
            width: 44px;
            height: 44px;
            cursor: pointer;
            border: 2px solid #bdbdbd;
            text-align: center;
            line-height: 39px;
            margin-left: -2px;
            img {
                width: 24px;
            }
            &.not-active {
                pointer-events: none;
                img {
                    opacity: 0.4;
                }
            }
        }
    }
}

.flatpickr-default.disabled {
    pointer-events: none;
    padding-left: 0;
    font-family: $font-bold;
    font-weight: 700;
    color: #000;
    input {
        padding-left: 0;
        background-color: transparent;
    }
    .input-button {
        display: none;
    }
}

.service-meta {
    padding: 0px 0 27px;
    position: relative;
    .edit-profile {
        right: 0;
        top: 10px;
        z-index: 10;
    }
}

.form-status {
    font-size: 13px;
    color: #7b7e83;
    background-color: #fff;
    line-height: 26px;
    img {
        margin-right: 13px;
        width: 21px;
    }
    .tooltip-link {
        margin-left: 20px;
        img {
            opacity: 0.5;
            width: auto;
        }
    }
}

.profile-column {
    .swiper-button-next,
    .swiper-button-prev {
        background-image: url(/img/chevron-right.png);
        background-size: 22px;
        top: 27px;
        right: -8px;
        opacity: 0.3;
        transition: all 0.2s linear;
        &:focus {
            outline: none;
        }
        &:hover {
            opacity: 1;
        }
    }
    .swiper-button-prev {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        right: 32px;
        left: auto;
    }
}

.flatpickr-mobile {
    background: #fff !important;
    background-color: #fff !important;
    box-shadow: none !important;
    background-image: none !important;
    -webkit-appearance: none;
    padding-top: 5px;
    font-size: 13px;
}

.flatpickr {
    .flatpickr-mobile+.flatpickr-mobile {
        display: none;
    }
}

.flatpickr-mobile-wrapper {
    &:before {
        content: 'Дата и время';
        width: 100%;
        position: absolute;
        top: 12px;
        left: 15px;
        display: block;
        color: #000;
        height: 1px;
    }
    &.focused {
        &:before {
            display: none;
        }
    }
}

p.bordered {
    font-size: 13px;
    line-height: 15px;
    color: #7b7e83;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 9px;
    margin-bottom: 20px;
    margin-top: 20px;
    &:before {
        display: none;
    }
    &.mb0 {
        margin-bottom: 0;
    }
}

.overload-table {
    margin-bottom: 35px;
    thead {
        &.blured {
            span,
            img {
                -webkit-filter: none;
                filter: none;
            }
            .bootstrap-select.btn-group {
                pointer-events: auto;
            }
            .bootstrap-select.btn-group .dropdown-toggle .filter-option {
                color: #000;
            }
        }
        th {
            padding-bottom: 15px;
            &:first-child {
                width: 230px;
            }
            &:last-child {
                span {
                    margin-right: 0;
                }
            }
            .vs__dropdown-toggle {
                padding-left: 0;
            }
            .v-select {
                .vs__dropdown-menu {
                    min-width: fit-content;
                }
            }
        }
    }
    td {
        padding-top: 0;
        padding-bottom: 0;
        height: 76px;
    }
    td.text-right {
        padding-right: 20px;
        &:last-child {
            padding-right: 0;
            padding-left: 50px;
            font-size: 13px;
        }
        &.small {
            font-size: 13px;
        }
    }
    .order-date {
        padding-top: 18px;
        span.small {
            margin-top: 0;
        }
    }
    thead .js-delete-orders-wrapper {
        width: 340px;
        top: 9px;
    }
}

.overload {
    .mr0 {
        margin-right: 0;
    }
}

.order-table thead .js-delete-orders-wrapper img {
    width: 17px;
}

.order-total-table {
    margin-bottom: 35px;
    &:last-of-type {
        margin-bottom: 70px;
    }
    td {
        font-size: 13px;
        vertical-align: top;
    }
    +.pagination {
        margin-bottom: 40px;
    }
}

.order-total {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    span {
        font-weight: 400;
        display: block;
    }
}

.order-create {
    margin-bottom: 35px;
    &:not(:last-child) {
        margin-bottom: 0;
    }
    .btn-default {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
    .order-column {
        width: calc( 50% - 10px) !important;
        .form-group {
            width: 100%;
        }
        .bootstrap-select {
            width: 100% !important;
        }
        &:first-child {
            width: calc( 50% - 10px) !important;
        }
    }
}

.transporter-table {
    thead th.order-status {
        min-width: 220px;
        padding-left: 0;
        padding-right: 60px;
        text-align: right;
    }
    thead th:first-child {
        width: 180px;
    }
    .order-open {
        width: 60px;
    }
}

.form-group.disabled .bootstrap-select {
    pointer-events: none;
    cursor: default;
    opacity: 0.7;
}

.loading {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-color: #fff;
        z-index: 100;
    }
    &:after {
        transition: all 0.2s linear;
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        left: 50%;
        top: 50%;
        z-index: 101;
        margin-left: -26px;
        margin-top: -11px;
        background-image: url(/img/loader.svg);
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: 100%;
        display: block;
        -webkit-animation: rotation 2s infinite linear;
    }
    &.load:after {
        display: none;
    }
    &.load:before {
        display: none;
    }
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

.popover-inner.loading:before {
    background-color: transparent;
}

.popover-inner.loading:after {
    background-color: transparent;
}

.overload-tabs {
    margin-top: 15px;
    margin-bottom: 10px;
    .btn {
        box-shadow: none;
        padding: 0;
        padding-bottom: 5px;
        border-bottom: 2px solid transparent;
        border-radius: 0;
        margin-right: 20px;
        .control {
            padding-left: 0;
            margin-right: 25px;
            margin-right: 0;
            font-size: 15px;
            color: #a1a3ab;
            .control__indicator {
                display: none;
            }
        }
        &.active {
            border-bottom-color: #ef483e;
            .control {
                color: #37383c;
                font-weight: bold;
            }
        }
    }
}

.js-fix-tooltip+.tooltip {
    left: 90px !important;
}

$price-info: price-info;
.#{$price-info} {
    margin-bottom: 50px;
    &__title {
        font-size: 15px;
        margin-bottom: 15px;
    }
    &__list {
        padding-left: 0;
        margin-bottom: 0;
    }
    &__item {
        list-style-type: none;
        margin-bottom: 12px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__value {
        display: inline-block;
        float: right;
        font-size: 20px;
        margin-top: -4px;
    }
    &--total {
        .#{$price-info} {
            &__item {
                font-size: 15px;
            }
            &__value {
                margin-top: -15px;
                b {
                    font-size: 30px;
                }
            }
        }
    }
    .small {
        font-size: 11px;
        line-height: 17px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}