@media only screen and (min-width: 1280px){
	html{
		min-width: 1260px;
	}
	.container{
		width: 1100px !important;
		margin-left: 150px;
	}
}

@media only screen and (max-width: 1200px) {
	.order-docs .order-edit-btn {
		float: right;
		margin-top: 30px;
	}
	.order-row .order-column {
		width: 50%;
	}
	.order-row .order-column .bootstrap-select {
		width: 100% !important;
	}
	.sender-banner {
		margin-left: 0;
		img {
			width: 455px;
			object-fit: cover;
		}
	}
	.recipient-table {
		td {
			border-bottom: none;
			padding-bottom: 0;
		}
	}
	#header .main-menu {
		li {
			margin-right: 35px;
		}
	}
	#header {
		.navbar-right {
			//right: -65px;
			li {
				display: none;
				&.mobile-login {
					display: block;
				}
				&.mobile-logged {
					display: block;
				}
			}
		}
	}
	#header {
		.navbar-right li {
			margin-left: 0;
			&:last-child {
				display: none;
			}
		}
	}
	#header .navbar-right li .user-menu {
		transform: translate3d(-100%, 10px, 0);
		margin-left: 32px;
	}
	#header .navbar-right li:hover .user-menu {
		transform: translate3d(-100%, 0, 0);
	}
	.wizard.step-2-active,
	.wizard [data-step="2"] {
		margin-bottom: 320px;
		display: inline-block;
		width: 100%;
		.previous {
			display: none;
		}
		.form-row-wrap {
			margin-right: 30px;
		}
	}
	.form-row-info {
		padding-left: 0;
	}
	.form-row-info .alert-info.alert-weight {
		margin-top: 34px;
		line-height: 24px;
		left: 15px;
	}
	.wizard.step-3-active,
	.wizard [data-step="3"] {
		margin-bottom: 160px;
		.previous {
			display: none;
		}
		.form-row-wrap {
			width: 50%;
			margin-right: 0;
		}
		.form-row-info {
			float: right;
		}
		.form-row.finished {
			padding-bottom: 0 !important;
			&:last-child {
				padding-top: 0;
				border-bottom: none !important;
			}
		}
		.form-row.finished .form-group {
			width: 100%;
			padding-left: 0;
			margin-bottom: 30px;
		}
		.actions {
			margin-right: 0;
			float: right;
			top: -70px;
			border-top: 2px solid #45464b;
			width: 275px;
			padding-top: 30px;
		}
		.actions a {
			width: 275px;
		}
		.form-row-info .terms {
			left: auto;
			bottom: -53px;
			margin-left: 0;
		}
	}
	.chart-wrapper {
		.popup-link {
			float: right;
		}
		span.small {
			float: none;
		}
	}
	.hidden-on-responsive {
		display: none;
	}
	.form-row-tablet {
		display: block;
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		.form-group {
			padding-left: 0 !important;
			width: calc(33.33% - 8px) !important;
			float: left !important;
			text-align: left !important;
			label {
				display: block;
			}
		}
	}
	.small-info.static {
		position: absolute;
	}
	.log-reg-wrapper {
		.container {
			min-width: 667px;
			padding-left: 80px;
			padding-right: 70px;
		}
		.log-reg-bg {

		}
	}
	.reg-header {
		.container {
			width: 667px;
			padding-left: 80px;
			padding-right: 70px;
			margin-left: 0;
		}
		.container-inner {
			width: 100%;
		}
		.navbar-right li:last-child {
			display: block !important;
		}
	}
	.main-popup.compare-popup {
		width: 100%;
		overflow-y: auto;
		position: fixed;
		top: 0;
		overflow-y: auto;
		height: 100%;
		left: 0;
		.container-popup {
			width: 100%;
		}
		.fixed-mobile-table {
			display: block;
			position: absolute;
			left: 0;
			top: 0px;
			background-color: rgb(52, 53, 57);
			width: 80px;
			z-index: 2;
			box-shadow: 10px 0px 9px -8px rgba(0, 0, 0, 0.31);
			table {
				width: 100% !important;
				th {
					border-top: none;
				}
			}
		}
		.table-wrapper {
			position: relative;
			table {
				width: 920px;
				display: block;
				th{
					border-top:none;
				}
				th:first-child {
					min-width: 125px;
				}
				th:not(:first-child) {
					padding-right: 20px;
				}
				td:not(:first-child) {
					min-width: 170px;
					padding-right: 20px;
				}
			}
			.scroll-element.scroll-x {
				bottom: auto;
				height: auto;
				top: 0;
			}
			.scroll-element div {
				border-radius: 0;
				position: relative;
			}
			.scroll-element .scroll-element_size {
				height: 3px;
				background-color: rgba(255, 255, 255, 0.1);
				opacity: 1;
			}
			.scroll-element .scroll-bar {
				height: 3px;
				background-color: $active;
				opacity: 1;
				position: absolute;
				z-index: 10;
				bottom: 0;
			}
		}
	}
	.compare-row {
		display: none;
	}
	.compare-graph {
		.graph-columns {
			//width: 129px;
		}
	}
	.compare-graph-slider {
		display: block;
		margin-top: 40px;
		.compare-graph {
			margin-left: 50px;
		}
		.swiper-button-next,
		.swiper-button-prev {
			background-image: none;
			bottom: 0;
			right: 20px;
			outline: none;
			top: auto;
			left: auto;
		}
		.swiper-button-prev {
			right: 70px;
		}
	}
	.news-slider__news-date {
		margin: 0 16px 0 32px;
	}
	.news-slider .swiper-slide {
		padding-left: 61px;
	}
	p.last {
		display: none;
	}
	.article-slider .swiper-slide .articles__top-section.small.last {
		display: none;
	}
	.article-slider {
		margin-bottom: 68px;
	}

	.go-to-faq.h3 {
		margin-bottom: 46px;
	}

  //article page
  .article-main-content {
    overflow:hidden;
    td {
      p {
        padding-right: 18px;
      }

      ul {

        line-height: 1.5em;
        margin: 5px 0 0 22px;
        padding: 0;
        opacity: 1;

        li {
          &:before {
            display: inherit;
          }
          list-style: none;
          position: relative;
          padding: 0 0 0 20px;
          margin-bottom: 15px;
          p {
            font-size: 13px;
            padding-left: 0;
            padding-top: 0;
            line-height: normal;
            opacity: 0.5;
          }
          &::before {
            top: 4px;
          }
          &:last-child {
            p{margin-bottom: 20px;}
          }
        }
      }

      &:nth-child(3), &:nth-child(4)
      {
        p {
          display: inherit;
        }
      }
    }
    th:nth-child(2), td:nth-child(2) {
      width: 100%;
      display: block;
    }

    td:nth-child(3), td:nth-child(4) {
      display: inline-block;
      width: 50%;
    }

    th:nth-child(3), th:nth-child(4) {
      display: none;
      width: 50%;
    }
    .article-content__image {
      height: 360px;
    }
  }
}

@media only screen and (max-width: 992px){
	.reg-header{
		.container-inner{
			min-width: 422px;
		}
	}
	.mfp-container{
		padding-left: 0;
		padding-right: 0;
	}
	.container{
		width: 667px;
		margin-left: 20px;
		padding-left: 0;
		padding-right: 0;
	}
	#header{
		.main-menu{
			li:last-child{
				margin-right: 0;
			}
		}
		.navbar-right{
			position: relative;
			right: -80px;
			float: none !important;
		}
		.logo{
			margin-right: 50px !important;
		}
		&.reg-header{
			padding-top: 60px;
		}
	}
	.log-reg-wrapper .container{
		padding-top: 160px;
	}
	.order-table{
		td{
			padding-top: 20px;
			height: auto;
		}
		td.btn-status{
			.bordered-btn{
				margin-bottom: 10px;
				float: right;
			}
			.btn-default{
				margin-bottom: 3px;
			}
		}
	}
	.form-row-info .coupon-field+.btn-default{
		width: 275px;
		bottom: -220px;
	}
	.order-row.three-columns .order-column:not(:first-child){
		width: 360px;
		margin-right: 0;
	}
	.order-row.three-columns .order-column{
		width: 287px;
	}
	.order-docs li .download-doc{
		margin-right: 2px;
	}
	.order-docs li{
		margin-right: 15px !important;
	}
	.recipient-table .order-docs li:nth-last-child(2){
		margin-right: 0 !important;
	}
	.recipient-table .order-docs li button{
		width: 360px;
	}
	.order-table thead th{
		width: auto;
		min-width: 115px;
	}
	.order-table thead th:first-child{
		min-width: 115px;
		width: auto;
	}
	.order-table thead th.order-status{
		min-width: 1px;
	}
	.sender-banner img{
		width: 380px;
	}
	.sender-banner{
		margin-left: -20px;
		.banner-info{
			padding: 50px 30px;
			min-width: 1px;
			width: 306px;
			.h3{
				font-size: 21px;
				line-height: 25px;
			}
		}
	}
	#footer .container{
		width: auto;
		margin-left: 20px;
		margin-right: 20px;
		padding-top: 0;
		border-top: none;
	}
	#footer .row{
		margin-right: 0;
		.footer-logos{
			top: 0;
		}
		.clearfix{
			display: none;
		}
	}
	#footer .row .col-md-4{
		width: auto;
		padding-right: 0;
		&:last-child{
			float: right;
		}
	}
	.company-copyright{
		width: 100%;
		float: none;
	}
	#footer .footer-faq {
		margin-right: 0;
		display: block;
		width: auto;
		text-align: left;
		font-weight: 700;
		margin-bottom: 10px;
	}
	.footer-phone{
		text-align: left;
		float: left;
	}
	.main-hero{
		.h2{
			font-size: 45px;
			line-height: 54px;
		}
		.h3{
			margin-bottom: 120px;
		}
		.hero-steps{
			width: 740px;
			background-image: url(/img/hero-steps-tablet.png);
			li{
				max-width: 187px;
				&:first-child{
					padding-right: 30px;
				}
			}
		}
	}
	.content .form-group{
		width: 257px;
		&.medium{
			width: 185px !important;
		}
		&.bigger{
			width: 390px;
		}
		&.half{
			width: 110px;
		}
		&.small{
			width: 116.5px;
			input{
				padding-left: 10px;
				padding-right: 10px;
			}
		}
		&.medium-tablet{
			width: 195px !important;
		}
	}
	.wizard .steps:before{
		width: 650px;
	}
	.wizard .steps li{
		.fix{
			left: 0;
			transform:translateX(-24%);
		}
		&:last-child{
			 a:before{
			 	right: 35px;
			 }
			 &:after{
			 	right: 45px !important;
			 }
			 &.current{
			 	&:after{
			 		right: 54px !important;
			 	}
			 }
		}
	}
	.wizard .steps li.current:last-child a:before{
		right: 35px;
	}
	.wizard .steps li.last.current a:after{
		left: auto;
		right: 35px;
	}
	.wizard{
		margin-bottom: 125px;
	}
	.wizard>.actions{
		width: 667px;
		padding-top: 0;
		top: -30px;
		.finished{
			width: 275px;
		}
	}
	.map-area{
		margin-top: -160px;
	}
	.content .form-row-wrap{
		width: 668px;
		position: relative;
		.small-info{
			bottom: 18px;
		}
	}
	.content .form-row:nth-last-child(2):not(:first-child){
		padding-bottom: 30px;
		.row-controls{
			bottom: 54px;
		}
	}
	.content .form-row.hidden + .small-info{
		bottom: 0;
	}
	.form-row-info{
		padding-left: 0;
		padding-top: 30px;
		.total{
			top: 0 !important;
		}
	}
	.map-area .h3{
		margin-bottom: 15px;
	}
	.client-slider .swiper-slide{
		.client-info{
			p{
				margin-bottom: 60px;
			}
		}
	}
	#map{
		width: 100%;
		margin-left: 0;
	}
	.content .form-group.group-info{
		float: right;
		padding-left: 0;
		text-align: right;
		button{
			width: 237px;
			margin-top: 50px !important;
		}
	}
	.chart-wrapper{
		.h3{
			width: 190px;
			line-height: 36px;
		}
		.chart{
			margin-top: 0;
		}
		.popup-link,
		>span{
			margin-bottom: 20px;
		}
	}
	section{
		padding-top: 50px;
	}
	.flatpickr-mobile{
		padding-top: 14px;
	}
	.flatpickr-mobile {
	  // Use the :not() pseudo-class with the :placeholder-shown pseudo-class
	  // to display an ::after pseudo-element with the placeholder attribute as content
	  padding-right: 30px;
	  line-height: 20px;
	  position: relative;
	  &:not(:placeholder-shown)::after {
	    color: #000;
	    content: attr(placeholder);
	    line-height: 1;
	    display: inline-block;
	    vertical-align: baseline;
	    position: absolute;
	    top: 50%;
	    margin-top: -7px;
	  }

	  // Then when we focus the input or when it has a value (:valid pseudo-class used
	  // to hijack the html5 validation state when the user enter a value), we mask the ::after
	  &:focus,
	  &:valid {
	    &::after {
	      display: none;
	    }
	  }
	}
	.flatpickr-mobile-wrapper:before{
		display: none;
	}
	.price-tables{
		white-space: nowrap;
		margin-bottom: 0;
		overflow-x: auto;
		.price-table{
			width: 33.33%;
			float: none;
			display: inline-block;
			vertical-align: top;
			.price-table-cell.submit{
				padding-left: 20px;
				padding-right: 20px;
			}

		}
		.scroll-element.scroll-x{
			bottom: auto;
			height: auto;
			top: 0;
		}
		.scroll-element div{
			border-radius: 0;
		}
		.scroll-element .scroll-element_track{
			height: 3px;
			background-color: rgba(52, 53, 57, 0.1);
			opacity: 1;
		}
		.scroll-element .scroll-bar{
			height: 3px;
			background-color: $active;
			opacity: 1;
			position: absolute;
			z-index: 10;
			bottom: 0;
		}
	}
	.small-info.static{
		bottom: 80px;
	}
	#header.reg-header{
		.container-inner{
			width: 420px;
			.navbar-right{
				right: 0 !important;
				float: right !important;
				position: relative;
				top: 4px;
			}
		}
	}
	#wizard-register,
	#wizard-register-sender{
		.actions{
			top: 0;
			width: 420px !important;
		}

	}
	.log-reg-wrapper{
		.container{
			min-width: 472px;
			padding-right: 0;
		}
		.log-reg-bg{
			width: 195px;
			min-height: 980px;
			height: 980px;
		}
		.container-inner{
			width: 420px;
			min-width: 420px;
		}
		.content{
			.form-row-wrap{
				width: 100%;
			}
			.form-column.lined{
				.form-group{
					width: 200px !important;
					&.small{
						width: 150px !important;
					}
					&.bigger{
						width: 250px !important;
					}
				}
			}
			.form-group{
				width: 100% !important;
				&:last-child{
					margin-right: 0 !important;
				}
			}
			.login-meta{
				width: 420px;
			}

		}
	}
	#wizard-register .content .terms,
	#wizard-register-sender .content .terms,
	.login-wrap .content .terms{
		width: 50% !important;
		bottom: -85px;
		.control__indicator{
			top: 5px;
		}
	}
	#wizard-register .content>.body label.control:not(.terms),
	#wizard-register-sender .content>.body label.control:not(.terms){
		width: auto !important;
		margin-right: 50px;
	}
	#wizard-register .content .form-row-wrap, #wizard-register-sender .content .form-row-wrap, .login-wrap .content .form-row-wrap{
		min-height: 250px;
	}
	.driver-wrapper .form-row{
		width: 420px;
		padding: 20px 20px 1px;
		.form-column{
			.form-group{
				width: 230px !important;
			}
			&.lined{
				.form-group:nth-child(3){
					width: 170px !important;
				}
			}
		}
		.form-column .form-group.smaller{
			width: 115px !important;
		}
	}
	#wizard-register .actions.action-started>ul li a.previous, #wizard-register-sender .actions.action-started>ul li a.previous{
		margin-right: auto;
	}
	.driver-wrapper .driver-controls{
		width: 85px;
		left: 316px;
	}
	.chart-popup{
		width: 100%;
		padding-left: 60px;
		padding-right: 60px;
		.chart-tooltip-left{
			margin-left: -58px;
		}
		.chart-tooltip-bottom{
			margin-left: -18px;
		}
		.chart-wrapper{
			.kg{
				margin-right: -6px;
			}
			.rub{
				width: 50px;
				text-align: right;
				bottom: -16px;
				right: -14px;
			}
		}
	}
	.company-popup{
		width: 100%;
		padding: 45px 15px;
		height: auto;
		.h2{
			margin-bottom: 20px;
		}
		.btn-group{
			margin-bottom: 30px;
			.btn-default{
				margin-right: 15px;
			}
		}
		.mfp-close{
			right: 0;
			top: 0;
		}
		.text-columns{
			p, div{
				width: 100% !important;
				font-size: 16px;
				line-height: 24px;
				margin-left: 0 !important;
				margin-bottom: 0;
				.title{
					font-size: 18px;
					margin-bottom: 5px;
					margin-top: 15px;
				}
			}
		}
	}

	.heading {
		width: calc(100% + 430px);

      &.no-photo {
        .heading__text-section .heading-text {
          font-size: 45px;
        }
      }

		&__text-section {
			padding: 106px 0 0 169px;
		}
	}

	#footer .no-padding-r-tablet {
		padding-right: 32px;
	}

	#footer .lefted {
		margin-right: 13px;
		margin-left: -13px;
	}
	.form-group.half{
		label.error{
			font-size: 10px;
		}
	}

}

@media only screen and (max-width: 767px){
  #header {
    .p0 {
      padding-left: 15px;
    }
  }

	body.fixed{
		position: fixed;
		height: 100%;
		overflow: hidden;
		width: 100%;
	}
body {
	-webkit-overflow-scrolling: touch;
}
body.mfp-active {
	-webkit-overflow-scrolling: auto;
	width: 100%;
	position: fixed;
	overflow: hidden;
}
body .mfp-wrap {
	position: fixed;
	overflow: auto;
	top: 0 !important;
}
	br.mobile{
		display: block;
	}
	.container{
		width: auto;
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	html.menu-opened{
		overflow: hidden;
	}
	#header{
		padding: 20px 0;
		.container{
			position: relative;
			z-index: 1000;
			&:after{
				content: '';
				display: table;
				clear: both;
			}
		}
		&.inner-header{
			padding: 20px 0;
			margin-bottom: 30px;
		}
		.main-menu{
			display: none;
		}
		.logo{
			width: 148px !important;
		}
		.navbar-right{
			display: none;
		}
		.mobile-menu{
			position: absolute;
			padding-top: 66px;
			top: 0;
			background-color: rgba(52, 53, 57, 0.95);
			width: 100%;
			height: 100vh;
			z-index: 999;
			text-align: center;
			color:#fff;
			overflow-y: auto;
			a{
				color:#fff;
			}
			.menu-inner{
				height: 100%;
				display: flex;
				justify-content: space-between;
				flex-direction: column;
				padding: 40px 20px 14vh;
			}
			ul{
				padding: 0;
				margin: 0;
				li{
					list-style: none;
				}
			}
			.mobile-main-menu{
				li{
					margin-bottom: 20px;
					a{
						font-size: 22px;
						color: #a1a3ab;
						border-bottom: 3px solid transparent;
						padding-bottom: 3px;
					}
					&.active{
						a{
							border-bottom-color: $active;
							color:#fff;
							font-weight: bold;
						}
					}
				}
			}
			.links{
				li{
					a{
						font-size: 16px;
						color: #a1a3ab;
						font-weight: bold;
						margin-top: 15px;
						&.btn-rounded{
							font-size: 16px;
							color:#fff;
							line-height: 30px;
							padding: 0 26px;
							border-radius: 40px;
						}
					}
				}
			}
			.mobile-phone{
				font-size: 22px;
				img{
					position: relative;
					top: -1px;
				}
			}
		}
		&.menu-opened{
			//background-color: rgba(52, 53, 57, 0.95);
		}
	}
	.hamburger {
		transition: all 0.3s ease-in-out;
		float: right;
		margin-left: 30px;
		margin-top: 4px;
		width: 20px;
		.line {
			width: 20px;
			height: 2px;
			background-color: #fff;
			display: block;
			margin: 4px auto;
			transition: all 0.3s ease-in-out;
		}
		&:hover {
			cursor: pointer;
		}
		&.is-active {
			right: 20px;
			.line {
				width: 22px;
			}
			.line:nth-child(2) {
				opacity: 0;
			}
			.line:nth-child(1) {
				-webkit-transform: translateY(6px) rotate(45deg);
				transform: translateY(6px) rotate(45deg);
			}
			.line:nth-child(3) {
				-webkit-transform: translateY(-6px) rotate(-45deg);
				transform: translateY(-6px) rotate(-45deg);
			}
		}
	}
	.main-hero{
		padding-top: 0;
		align-items: center;
		min-height: 100vh;
		position: relative;
		.h3{
			margin-bottom: 50px;
		}
		.hero-steps{
			width: 100%;
			padding-left: 30px;
			background-image: url(/img/hero-steps-mobile.png);
			padding-top: 0;
			position: absolute;
			margin-top: -30px;
			li{
				max-width: 100%;
				width: 100%;
				padding-right: 0 !important;
				margin-bottom: 20px;
				br{
					display: none;
				}
			}
		}
	}
	.order-table{
		display: block;
		margin-bottom: 60px;
		thead{
			display: block;
			tr{
				display: flex;
				flex-direction: column;
				th{
					display: block;
					border-bottom: none;
					padding-bottom: 20px;
					padding-right: 0;
					padding-left: 0 !important;
					text-align: left;
					margin-right: 0;
					width: 100% !important;
					&.order-price{
						order:5;
					}
					.mobile-table-cell{
						float: right;
						display: inline-block;
						margin-right: 0;
						font-size: 15px;
						color: #343539;
						text-align: right;
						span{
							margin-right: 0;
							color: #343539;
							&.small{
								color: #a1a3ab;
							}
						}
						.btn-default{
							display: block;
						    border: 2px solid #ef483e!important;
						    -webkit-border-radius: 30px;
						    border-radius: 30px;
						    padding: 8px 22px 7px;
						    font-size: 11px;
						    line-height: 1;
						    margin-top: 10px;
						}
						.bordered-btn.red{
							font-size: 11px;
							padding: 5px 21px;
						}
					}
				}
			}
		}
		tbody{
			tr:not(.order-details){
				display: none;
			}
		}
		.order-details{
			width: auto;
		}
		.order-docs{
			border-top: 1px solid #e6e6e6;
			padding-top: 35px;
			margin-bottom: 20px;
			li{
				margin-right: 16px !important;
				margin-bottom: 20px;
				&:nth-child(1),
				&:nth-child(2){
					margin-right: 48px !important;
				}
			}
			.order-edit-btn{
				width: 100%;
				margin-top: 20px;
			}
			 li button{
			 	width: 100%;
			 	margin-left: 0;
			 }
		}
		.order-row .order-column{
			width: 100% !important;
			margin-left: 0;
			margin-right: 0;
		}
	}
	.sender-banner{
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom: 40px;
		img{
			width: 100%;
			height: 111px;
		}
		.banner-info{
			width: 100%;
			padding: 40px 15px 50px;
		}
	}
	section .h3{
		font-size: 28px;
		margin-bottom: 20px;
	}
	.any-question{
		flex-wrap:wrap;
		.quote{
			width: 100%;
			margin-left: 0;
			padding-left: 40px;
			font-size: 16px;
			line-height: 22px;
			margin-bottom: 40px;
			br{
				display: none;
			}
		}
		.quote-author{
			order:2;
			width: 100%;
			flex: 1 1 100%;
		}
	}
	.partner-slider{
		margin-top: 40px;
		.swiper-button-next,
		.swiper-button-prev{
			top: -40px;
		}
	}
	.partner-slider .swiper-slide{
		text-align: center;
		justify-content: center;
	}
	section.white{
		padding-bottom: 30px;
	}
	.wizard>.content>.body label.error{
		display: none !important;
	}
	#footer{
		padding-top: 20px;
		border-top: 1px solid #e6e6e6;
		padding-bottom: 30px;
		text-align: center;
		.row{
			margin-left: 0;
			margin-right: 0;
			.col-md-4{
				padding-left: 0;
				width: 100%;
				display: inline-block;
				&:last-child{
					float: none;
					text-align: center;
				}
			}
		}
		.company-copyright{
			margin-bottom: 10px;
			a{
				img{
					width: 31px;
				}
			}
		}

		.footer-phone{
			width: 100%;
			float: none;
			text-align: center;
			font-weight: bold;
			margin-bottom: 10px;
		}
		.copyright{
			margin-top: 6px;
			text-align: center;
		}
		.text-centered-mobile {
			text-align: center;
			padding-right: 15px;
		}
	}
	.company-popup{
		min-height: 100vh;
		.company-swiper{
			display: block;
			&.btn-group{
				display: block;
			}
			.swiper-slide{
				text-align: center;
				opacity: 0;
				transition: opacity 0.2s linear;
				&-active{
					opacity: 1;
				}
				.btn-default{
					margin-top: 0;
					&.active{
						background-color: transparent !important;
						color: #343539!important;
					}
				}
			}
			.swiper-button-next,
			.swiper-button-prev{
				background-image: none;
				margin-top: -11px;
				outline: none;
				background-color: #fff;
				width: 31px;
				height: 31px;
				&:hover{
					svg path{
						fill: #ef483e;
					}
				}
				&.swiper-button-disabled{
					svg path{
						fill: #bababa;
					}
				}
			}
			.swiper-button-prev{
				left: 0;
			}
			.swiper-button-next{
				right: 0;
			}
		}
		.btn-group{
			width: 100%;
			display: none;
			flex-direction: row;
			/* Below sets up your display method: flex-start|flex-end|space-between|space-around */
			justify-content: flex-start;
			/* Below removes bullets and cleans white-space */
			list-style: none;
			padding: 0;
			/* Bonus: forces no word-wrap */
			white-space: nowrap;
			overflow-x: scroll;
		}
		.tab-pane .btn-default{
			margin-left: auto !important;
			margin-right: auto;
			white-space: nowrap;
			width: 200px;
			min-width: 200px;
			text-align: center;
			display: block;
			margin-top: 30px;
		}
		.scroll-wrapper>.scroll-content{

		}
	}
	.wizard{
		.steps{
			width: 100%;
			margin-right: 0;
			&:before{
				width: calc(100% - 15px);
			}
			li:last-child{
				a:before{
					right: 0;
				}
			}
			li .fix{
				left: 0;
				transform:none;
				text-align: right;
			}
		}
	}
	.wizard .steps li:last-child:after{
		right: 10px !important;
	}
	.wizard .steps li:last-child.current:after{
		right: 19px !important;
	}
	.content{
		.form-row{
			border-bottom: none;
			border-top: 2px solid #45464b;
			&:first-child{
				border-top: none;
			}
		}
		.form-row-info{
			padding-top: 15px;
		}
		.form-row:first-child{
			padding-top: 0;
		}
		.form-row-wrap{
			width: 100%;
			margin-right: 0;
		}
		.form-column{
			margin-bottom: 0;

		}
		.form-group .tooltip-link{
			right: 0;
			top: -5px;
		}
		.form-row .row-controls{
			position: static;
			height: 40px;
			width: 136px;
			margin-bottom: 15px;
			span{
				width: 50%;
				float: left;
				height: 38px;
				&.row-minus{
					border-bottom: none;
					border-right: 2px solid #717174;
					padding-top: 0;
					line-height: 35px;
				}
				&.row-plus{
					line-height: 36px;
				}
			}
		}
	}
	.content .form-group{
		margin-bottom: 24px;
		width: 100%;
		margin-right: 0;
		&.medium{
			width: 100% !important;
		}
		&.bigger{
			width: 100% !important;
		}
		&.half{
			width: calc(50% - 8px) !important;
			margin-right: 16px;
		}
		&.small{
			width: calc(33.33% - 11px);
			margin-right: 16px;
			&:nth-child(3){
				margin-right: 0;
			}
		}
	}
	.flatpickr-calendar{
		width: 100% !important;
		left: 0 !important;
		right: 0 !important;
	}
	.flatpickr .input-button, .flatpickr-default .input-button{
		z-index: 0;
	}
	.form-row-info .total .tooltip-link{
		right: 15px !important;
		left: auto !important;
		top: 21px !important;
	}
	.form-row-info .info-ul-wrap{
		//height: 137px;
	}
	.form-row-info .coupon-field+.btn-default{
		bottom: -248px;
		right: 50%;
		transform: translateX(138px);
	}
	.arrow-switcher{
		background-color: $active;
		width: 30px;
		height: 44px;
		top: 25.5px;
		text-align: center;
		line-height: 44px;
		svg path{
			fill: #fff !important;
		}
		+ input{
			padding-right: 30px;
		}
	}
	.wizard>.actions{
		width: 100%;
		top:0;
		margin-bottom: 70px;
		padding-top: 20px;
		>ul{
			text-align: center;
			li{
				float: none !important;
				display: inline-block;
			}
		}
	}
	#wizard-register.wizard>.actions{
		>ul{
			//li{
			//	float: left !important;
			//}
			li:nth-child(2){
				float: right !important;
			}

		}
	}

	.form-row-info{
		width: 100%;
		.total{
			background-color: #45464b;
			margin-left: -15px;
			margin-right: -15px;
			padding: 25px 15px 15px;
			margin-bottom: 20px;
			span{
				margin-top: 0;
			}
		}
		.alert-info.alert-weight{
			position: static;
			margin-top: 20px;
		}
	}
	#map{
		height: 400px;
		width: auto;
		margin-left: -15px;
		margin-right: -15px;
	}
	.map-area{
		margin-bottom: 40px;
		position: static;
	}
	.marker-popup{
		max-width: 100%;
		border-radius: 12px 12px 0 0;
		position: fixed;
		bottom: 0;
		display: block;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		z-index: -1;
		transition: all 0.2s linear;
		transform:translateY(100%);
		&.active{
			transform:translateY(0);
			opacity: 1;
			visibility: visible;
			z-index: 100;
		}
	}
	.client-slider .swiper-slide{
		flex-wrap:wrap;
		.client-info{
			order:1;
			margin-left: 0;

			p{
				margin-bottom: 35px;
				font-size: 16px;
				line-height: 22px;
			}
			.client-meta{
				position: static;
				padding-left: 80px;
				b{
					font-size: 18px;
				}
			}
		}
		img{
			order:2;
			width: 60px;
			margin-top: -45px;
		}
	}
	.client-slider{
		margin-bottom: 40px;
		.swiper-button-prev{
			left: auto;
			right: 50px;
		}
		.swiper-button-next{
			right: 0;
			left: auto;
		}
	}
	.sender-banner{

		.banner-info{
			padding-top: 23px;
			.h3{
				font-size: 31px;
				line-height: 32px;
			}
		}
	}
	.wizard .steps li.done.first a:after{
		width: 140%;
	}
	.form-column.lined .form-group{
		width: 100%;
		.packing-item{
			width: 100% !important;
			margin-bottom: 20px;
		}
		.price-inner{
			float: none;
			width: 100%;
			display: inline-block;
			padding-left: 0;
			label{
				float: left;
				margin-bottom: 0;
			}
			b{
				float: right;
				font-size: 18px;
			}
		}
	}
	.wizard.step-2-active,
	.wizard [data-step="2"]{
		margin-bottom: 0;
		display: inline-block;
		width: 100%;
	}
	.form-row-info .info-ul-wrap{
		position: static;
		margin-bottom: 23px;
	}
	.wizard .steps li.current:last-child a:before{
		right: 0;
	}
	.wizard .steps li.last.current a:after{
		right: 0;
		width: 330px;
	}
	.wizard.step-3-active,
	.wizard [data-step="3"]{
		.form-row-wrap{
			width: auto;
			float: none;
			background-color: #45464b;
			margin-left: -15px;
			margin-right: -15px;
			padding: 25px 15px 0;
		}
		.form-row-info{
			padding-top: 0;
			.total{
				padding-top: 0;
				margin-bottom: 0 !important;
				.tooltip-link{
					transform:translateX(-15px);
				}
			}
			.form-group{
				width: auto !important;
				float: none !important;
				background-color: #45464b;
				margin-left: -15px;
				margin-right: -15px;
				padding: 0 15px 40px;
				.coupon-field{
					margin-top: 0;
				}
			}
		}
	}
	.wizard.step-3-active .actions,
	.wizard [data-step="3"] .actions{
		top: 0;
		width: 100%;
		padding-top: 20px;
		border-top: none;
	}
	.wizard.step-3-active .form-row-info .terms,
	.wizard [data-step="3"] .form-row-info .terms{
		bottom: -115px;
	}
	.partner-slider{
		display: none;
	}
	.partner-slider-mobile{
		display: block;
	}
	.hero-steps{
		display: none;
	}
	.main-hero{
		height: auto;
		padding-bottom: 30px;
	}
	.main-hero .js-toggle-steps{
		display: block;
		position: absolute;
		bottom: 13vh;
		left: 0;
		transition: all 0.3s linear;
		img{
			width: 23px;
		}
		&.active{
			bottom: 3vh;
		}
	}
	.price-tables{
		z-index: 100;
		.os-padding{
			z-index: 2;
		}
		.price-table{
			margin-top: 3px;
		}
	}
	section{
		padding-top: 50px;
	}
	.chart-wrapper{
		display: flex;
		flex-wrap: wrap;
		.h3{
			order:3;
			width: 100%;
		}
		.popup-link,
		>span{
			// width: 100% !important;
			// margin-bottom: 40px;
			.chart{
				width: 100%;
				svg{
					width: 100% !important;
				}
			}
		}
	}
	.form-row-tablet{
		display: none;
	}
	.form-row-mobile{
		display: block;
		width: 100%;
		.form-group{
			margin-bottom: 35px;
			&:last-child{
				margin-bottom: 70px !important;
			}
			&:after{
				content:"";
				display: table;
				clear: both;
			}
			b{
				float: right;
				font-size: 30px;
				line-height: 15px;
				font-weight: bold;
			}
			label{
				font-size: 13px;
				float: left;
				max-width: 50%;
				span{
					display: none;
					color: #7b7e83;
				}
			}
		}
	}

	.flatpickr-mobile{
		padding-top: 14px;
		&::-moz-placeholder {
			font-size: 12px;
			color:#000;
		}
		&:-ms-input-placeholder {
			font-size: 12px;
			color:#000;
		}
		&:-moz-placeholder {
			font-size: 12px;
			color:#000;
		}
	}
	.flatpickr-mobile::-webkit-input-placeholder {
		font-size: 0;
		color:#fff;
	}
	.flatpickr-mobile-wrapper:before{
		display: none;
	}
	#calculator-form{
		.form-row{
			padding-top: 0;
			padding-bottom: 0;
			border-top: none;
			&:last-child{
				border-bottom: none;
				padding-bottom: 0;
			}
			.form-group.small{
				width: calc(50% - 8px) !important;
				&:nth-child(2){
					margin-right: 0;
				}
			}
		}
		.form-group.group-info{
			width: 100%;
			 button{
				margin-top: 16px !important;
				width: 100%;
			}
		}
		.small-info{
			bottom: 80px;
		}
		+ .warning{
			margin-top: 0;
			padding-top: 25px;
			padding-bottom: 40px;
		}
	}
	.calculator-steps{
		margin-bottom: 140px;
	}
	.price-tables{
		margin-left: -15px;
		margin-right: -15px;
		.price-table{
			width: 240px;
			float: none;
			display: inline-block;
		}
	}
	.log-reg-wrapper{
		.container{
			min-width: 100%;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 80px;
		}
		.container-inner{
			min-width: 100%;
			width: 100%;
		}
	}
	#header{
		&.reg-header{
			padding-top: 20px;
			.container{
				width: 100%;
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
	#wizard-register .content .h3+p, #wizard-register-sender .content .h3+p, .login-wrap .content .h3+p{
		margin-bottom: 20px !important;
	}
	#wizard-register .content .terms, #wizard-register-sender .content .terms, .login-wrap .content .terms{
		width: 100% !important;
		position: relative;
		bottom: 0;
		float: left;
		margin-bottom: 20px !important;
		.control__indicator{
			top: -2px;
		}
	}
	#wizard-register .content label.control{
		margin-right: 0 !important;
	}
	#wizard-register .content .subscribe, #wizard-register-sender .content .subscribe, .login-wrap .content .subscribe{
		position: relative;
		bottom: 0;
	}
	#wizard-register .actions, #wizard-register-sender .actions{
		width: 100% !important;
		//li{
		//	width: 100%;
		//}
		a{
			width: 100%;
		}
	}

	#wizard-register .actions.action-started>ul, #wizard-register-sender .actions.action-started>ul {
		text-align: left;
	}

	#wizard-register, #wizard-register-sender{
		margin-bottom: 0;
		.actions{
			margin-bottom: 40px;
			li{
				float: none !important;
			}
		}
	}
	.reg-copyright{
		border-top: 1px solid #45464b;
		padding-top: 30px;
		text-align: center;
	}
	#header.reg-header .container-inner{
		width: 100%;
		min-width: 100%;
	}
	#wizard-register .content p, #wizard-register-sender .content p, .login-wrap .content p{
		width: 100%;
	}
	.sms-links{
		margin-top: 0;
		a{
			display: block;
			width: 100%;
			margin-bottom: 20px;
			&:last-child{
				float: none;
				margin-bottom: 0;
			}
		}
	}
	#wizard-register .content .form-row-wrap, #wizard-register-sender .content .form-row-wrap, .login-wrap .content .form-row-wrap{
		min-height: 100px;
	}
	.log-reg-wrapper .container{
		min-height: 1px;
	}
	.log-reg-wrapper .log-reg-bg{
		display: none;
	}
	.wizard>.content{
		min-height: 1px;
	}
	#wizard-register .content>.body .form-column:not(.yes-no) label.control--radio:not(.terms),
	#wizard-register-sender .content>.body .form-column:not(.yes-no) label.control--radio:not(.terms){
		display: block !important;
		width: 100% !important;
		margin-bottom: 35px;
		color:#fff;
		font-size: 18px;
		padding-left: 57px;
		.control__indicator{
			width: 34px;
			height: 34px;
			top: -8px;
			&:after{
				width: 34px;
				height: 34px;
				top: -2px;
				left: -2px;
				border:10px solid $active;
			}
			&:before{
				top: 7px;
				left: 7px;
			}
		}
	}
	.log-reg-wrapper .content{
		.form-column{
			.form-group{
				width: 100% !important;
				margin-right: 0;
				.bootstrap-select.btn-group{
					margin-bottom: 0;
				}
				label[for="organizationName"]{
					display: none !important;
				}
			}
			&.lined{
				.form-group{
					width: 100% !important;
					&.small{
						width: 100% !important;
					}
					&.bigger{
						width: 100% !important;
					}
				}
			}
		}
	}
	.driver-wrapper .form-row{
		padding-bottom: 75px;
		width: auto;
		margin-left: -15px;
		margin-right: -15px;
		padding-left: 15px;
		padding-right: 15px;
		.form-column.lined .form-group:nth-child(3){
			width: 100% !important;
		}
	}
	.driver-wrapper .driver-controls{
		left: 50%;
		margin-left: -40px;
	}
	.reg-copyright{
		position: static;
	}
	.log-reg-wrapper .container{
		padding-bottom: 30px;
	}
	.log-reg-wrapper .container.pass-reset {
		height: 100vh;
	}
	.chart-popup{
		width: 100%;
		padding: 60px 15px;
		.h3{
			margin-bottom: 60px;
			text-align: left;
		}
		.chart-wrapper{
			width: 100%;
			.chart{
				right: 0;
			}
			.chart-tooltip-left{
				margin-left: 0;
			}
			.chart-tooltip-bottom{
				margin-left: 50px;
			}
			.kg{
				margin-right: -51px;
				width: auto;
			}
			.rub{
				right: 0;
				bottom: -16px;
				width: 60px;
				text-align: right;
			}
		}
	}
	.login-wrap .content .back-to-login{
		margin-left: 40px;
	}
	.popover.p-lead{
		left: 0 !important;
		right: 0 !important;
		position: fixed !important;
		border-radius: 12px 12px 0 0;
		margin: 0 !important;
		width: 100%;
		max-width: 100%;
		border:none;
		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
		background-color: rgb(255, 255, 255);
		bottom: 0;
		top:auto !important;
		transform:translateY(100%);
		transition: all 0.2s linear 0.2s;

		&.in{
			transform:translateY(0);
		}
		.p-lead__line{
			font-size: 24px;
			color: #212529;
			span.num{
				font-size: 24px;
			}
			span.tk{
				font-size: 20px;
				color: #343539;
			}
		}
		.popover-content{
			color: #343539;
			font-size: 24px;
			padding: 43px 50px;
			.popover-inner{

			}
		}
		.p-lead__title{
			font-size: 25px;
			color: #212529;
		}
		.p-lead__text{
			margin-top: 10px;
			font-size: 14px;
		}
	}
	.compare-graph-slider .compare-graph {
	    margin-left: auto;
	    margin-right: auto;
	    float: none;
	    position: relative;
	    left: 23px;
	}
	.main-popup{
		padding: 50px 15px;
		max-width: 100%;

	}
	.main-popup.company-popup{
		height: 100vh;
		overflow: auto;
	}
	.main-popup.compare-popup{
		padding: 50px 15px 95px;
		height: 100vh;
		overflow: auto;
		.mfp-close{
		    right: -10px;
		    top: -35px;
		}
		.table-wrapper{
			position: relative;

			table{
				margin-bottom: 0;
			}
			.table-inner{
				height:auto !important;
				    overflow-x: auto;
				table{
					margin-bottom: 60px;
				}
			}
		}
		.container-popup{
			position: relative;
		}
		span.info{
			bottom: 20px;
			position: absolute;
			left: 0;
		}
		.scroll-wrapper{

		}
		.scroll-element.scroll-x{
			position: relative;
			top: 2px !important;
		}
		.scroll-wrapper>.scroll-content{
			overflow-x: scroll !important;
			overflow-y: hidden !important;
		}
		.scroll-element_track{
			display: none;
		}
		p.big-border{
			margin-bottom: 10px;
		}
		.compare-graph-slider{
			margin-top: 20px;
		}
		.swiper-button-next{
			right: 4px;
		}
		.swiper-button-prev{
			right: 55px;
		}
		.swiper-button-next,
		.swiper-button-prev{
			bottom: -65px;
			&:hover{
				svg{
					path{
						fill: #ef483e;
					}
				}
			}
			&.swiper-button-disabled{
				svg{
					path{
						fill: #bababa !important;
					}
				}
			}
		}
	}
	.client-slider{
			.swiper-button-disabled{
				svg{
					path{
						fill: #bababa !important;
					}
				}
			}
	}
	.partner-slider .swiper-slide img{
		//filter: grayscale(100);
	}
	.wizard.step-3-active .form-row-info .total .tooltip-link,
	.wizard [data-step="3"] .form-row-info .total .tooltip-link{
		top: -5px !important;

	}
	.tooltip, .p-lead{
		left: 0 !important;
		right: 0 !important;
		position: fixed !important;
		padding: 0 !important;
		margin: 0 !important;
		width: 100%;
		max-width: 100%;

		bottom: 0;
		top:auto !important;
		transform:translateY(0) !important;
		transition: all 0.2s linear 0.2s;
		opacity: 1 !important;
		z-index: 100;
		&.in{
			transform:translateY(0);
			opacity: 1;
			visibility: visible;
			z-index: 100;
		}
		.arrow{
			display: none;
		}
		.tooltip-inner{
			border:none;
			box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
			background-color: rgb(255, 255, 255);
			border-radius: 12px 12px 0 0;
			color: #343539;
			padding: 90px 30px 60px;
			width: 100%;
			max-width: 100%;
			font-size: 16px;
			line-height: 22px;
			text-align: center;
			background-image: url(/img/i-big.svg);
			background-position: 50% 27px;
			background-repeat: no-repeat;
		}
		.close-tooltip{
			position: absolute;
			opacity: 1;
			display: block;
			right: 15px;
			top: 15px;
		}
	}
	.form-row-info{
		.info-ul-wrap{
			position: relative;
		}
		.info-ul li{
			display: none !important;
		}
		.more-items{
			position: absolute;
			right: 5px;
			top: -3px;
			margin-top: 0;
			font-size: 0;
			display: block !important;
			img{
				width: 23px;
			}
		}
	}
	.order-row .order-column .tab-content.lined-tabs{
		 .hidden-order-settings{
		 	 .order-settings-radio{
		 	 	 .control{
		 	 	 	width: 50% !important;
		 	 	 	margin-bottom: 27px;
		 	 	 	&:last-of-type{
		 	 	 		margin-bottom: 0;
		 	 	 	}
		 	 	 }
		 	 	 .tooltip-link{
		 	 	 	bottom: -8px;
		 	 	 	top:auto;
		 	 	 }
		 	 }
		 }
	}
	.order-row .order-column .form-row .btn-group{
		.btn[data-toggle="tab"]{
			margin-bottom: 26px;
			width: 100%;
			text-align: left;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.log-reg-wrapper .content .login-meta{
		max-width: 100%;
	}
	.main-popup{
		&.register-popup{
			padding: 45px 15px;
			.reg-actions{
				flex-wrap:wrap;
				margin-top: 10px;
				.checkboxes{
					margin-bottom: 30px;
				}
			}
		}
	}

	.step-3-active .form-row-info .info-ul-wrap.active,
	[data-step="3"] .form-row-info .info-ul-wrap.active{
		li{
			display: block !important;
		}
	}
	.main-popup.compare-popup .table-inner td:first-child,
	.main-popup.compare-popup .table-inner th:first-child{
		opacity: 0;
	}
//articles
	.article-slider .swiper-slide .articles__bottom-section {
		display: block;
		//height: 760px;
	}
	.article-section-mobile {
		margin-left: -15px;
		width: calc(100% + 30px);
	}

	.article-slider .swiper-slide .articles__top-section.small .h3 {
		font-size: 18px;
		font-weight: bold;
		letter-spacing: -0.3px;
		margin-bottom: 10px;
	}

	.article-slider .swiper-slide .articles__top-section.small .articles__top-section__description {
		padding: 2rem 2.9rem 5.4rem 2rem;
	}
	.article-slider .swiper-slide .articles__top-section__description p {
		height: 49px;
		overflow: hidden;
		margin-bottom: 10px;
	}
	.article-slider .swiper-slide .articles__top-section__description__text {
		margin-bottom: 0;
	}
	.article-slider .swiper-slide .articles__top-section.small .articles__top-section__image {
		height: 230px;
	}
	.article-slider .swiper-slide .articles__top-section.small {
		//height: 385px;
	}
	.article-slider {
		margin-bottom: 35px;
	}

//news
	.news-slider__piece {
		display: block;
		padding: 20px 0;
	}
	.news-slider .swiper-slide {
		padding-left: 0;
	}
	.news-slider__news-content {
		width: 100%;
		font-size: 13px;
		height: 85px;
	}
	.news-slider__news-date {
		margin: 0 0 10px 0;
	}
	.tags {
		display: none;
	}
	.tags-show-img {
		margin-left: 32px;
		width: 24px;
		height: 24px;
		position: relative;
		display: inline-block;
		top: 4px;
	}
	.tags-hide-img {
		margin-left: 32px;
	}

	.tags-list_hide {
		display: inherit;
	}
  .heading-tags {
	  .tags__label,
	  .tags__tags-list {
		  margin-bottom: 0;
		  font-size: 13px;
	  }
  }
	.img-hidden {
		opacity: 0;
	}
	.img1, .img2 {
		transition: .6s;
		@include centered();
	}
//go to faq
	.h3 .go-to-faq  {
		font-size: 30px;
		margin-bottom: 31px;
	}
	.go-to-faq__link {
		margin-left: 0;
		margin-top: 9px;
	}
	.pk {
		display: none;
	}
	.go-to-faq .mob {
		display: block;
	}
	.go-to-faq.h3 {
		margin-bottom: 31px;
	}

//faq
	div.h2.faqued {
		font-size: 28px;
		line-height: 1.5;
	}
	.accordion .h3,.accordion h3 {
		font-size: 22px;
		margin-top: 30px;

	}
	.accordion .questions-list {
		margin-left: 0;
	}
	.accordion .questions-list .panel-question .panel-title {
		padding: 20px 0;
		font-size: 18px;
	}
	.accordion .questions-list .panel-question .panel-body {
		padding: 0 0 20px 0;
	}
	.accordion .questions-list .panel-question .panel-title .circle {
		margin: 2px 0 2px 12px;
		width: 32px;
		height: 32px;
	}
	.accordion .questions-list .panel-question .panel-title .circle.plus:before {
		margin: 8px auto;
	}
	.accordion .questions-list .panel-question .panel-title .circle.plus:after {
		margin: auto 8px;
	}


	//article

	.heading {
		height: 300px;
		margin-left: -15px;
		width: calc(100% + 30px);
		padding: 0;

      &.no-photo {
        .heading__text-section .heading-text {
          font-size: 28px;
        }
	  }
	  .heading__text-section .heading-text{
		  max-width: 95%;
	  }

		&__picture {
		display: none;
		}

		&__text-section {
		padding: 30px 0 0 15px;

			.heading-text {
				font-size: 28px;
				width: 100%;
			}
		}
	}

  	.track-form .form-group{
		.form-control{
			width: 100%;
			margin-bottom: 15px;
		}
	}

  //article page
  .article-main-content {
    margin: 30px 0 80px 0;

	  td:first-child {
		  width: 100%;
	  }
    .h3, h3 {
      font-size: 18px;
      margin-top: 40px;
      margin-bottom: 10px;
    }
    .h4 {
      font-size: 16px;
    }
    p {
      font-size: 13px;
    }
    table {
      margin: 6px 0 0;
    }
    tr {
      overflow: hidden;
      transition:0.5s;
      &:not(first-child){
        margin-bottom: 13px;
        display: block;
      }
      td {
        width: 100%;
        display: block;
        background-color: #fff;

        ul {
          margin-bottom: 0;
          margin-top: 10px;
          margin-left: 0;

          li {
            margin-left: 0;
            margin-bottom: 15px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        p {
          padding-left: 0;
          padding-right: 0;
        }
        p:last-child {
          margin-bottom: 0;
        }


        &:first-child {
          background-color: rgba(239,72,62,.3);
          padding: 20px;
          cursor: pointer;

          p {
            margin: 0;
            padding: 0;
            font-weight: 700;
          }
          &:after {
            content: url(/img/arrow-down.svg);
            display: inline;
            float: right;
            position: relative;
            top: -19px;
            transition: all 0.3s ease-out;
          }

          &.active {
            &:after {
              transform: rotate(180deg);
              transition: all 0.3s ease-out;
            }
          }
        }
        &:nth-child(3), &:nth-child(4)
        {
          p:first-child {
            margin-bottom: 0;
          }
        }
      }
      td:nth-child(3), td:nth-child(4) {
        width: 100%;
      }
      td:nth-child(4) {
        ul {
          margin-bottom: 20px;
        }
      }
      th:first-child, th:nth-child(2) {
        display: none;
      }
    }

    ol>li {
      font-size: 16px;

      p {
        margin-left: 27px;
        font-size: 13px;
        margin-top: 5px;
      }
      &:before {
        font-size: 16px;
        margin-right: 8px;
      }
      &:last-child ul {
        margin: 5px 0 15px 28px;
        li {
          padding: 0 0 0 15px;
          margin-bottom: 0;
          p {
            font-size: 13px;
          }
        }
      }
    }

    ul {
      li {
        margin-bottom: 10px;
        p {
          font-size: 13px;
        }
      }
    }
    .article-content__image {
      height: 220px;

      .image-text {
        margin-left: 0;
        font-size: 13px;
      }
    }
  }

	#footer .lefted {
		margin-right: 0;
		margin-left: 0;
	}
	.mx-datepicker-popup{
		width: 100% !important;
	}
}

@media only screen and (max-width: 374px){
	.wizard .steps li.last.current a:after{
		width: 275px;
	}
	.main-hero{
		padding-top: 40px;
	}
	.main-hero .js-toggle-steps{
		bottom:8vh;
	}
}

@media only screen and (min-width: 375px) and (max-width: 767px){
	#map{
		height: 492px;
	}
}
@media screen and (-webkit-min-device-pixel-ratio: 0){
	input[type=text],
	input[type=email],
	input[type=password],
	textarea {
		-webkit-appearance: none;
	}
	input[type=date].form-control, input[type=datetime-local].form-control, input[type=month].form-control, input[type=time].form-control{
		line-height: 1;
	}
}
