.mile-info{
    position: absolute;
    right: -70px;
    top: 0;
    width: 335px;
    min-height: 100%;
    z-index: 5;
    background-color: #5B5C5F;
    padding: 30px;
    font-size: 14px;
    line-height: 16px;
    &__close{
        position: absolute;
        right: 30px;
        top: 30px;
    }
    &__title{
        font-size: 26px;
        font-weight: bold;
        line-height: 30px;
        margin-bottom: 15px;
        color: #fff;
    }
    &__time{
        margin-bottom: 25px;
        color: #fff;
        img{
            display: inline-block;
            vertical-align: inherit;
            margin-right: 5px;
        }
    }
    &__price{
        color: #97979A;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        &__item{
            display: inline-block;
            vertical-align: top;
            &:first-child{
                margin-right: 30px;
            }
        }
        span{
            display: block;
            margin-bottom: 8px;
        }
        b{
            display: block;
        }
        &--bigger{
            color: #fff;
            font-size: 26px;
            line-height: 30px;
        }
    }
    &__spec{
        display: block;
        margin-bottom: 5px;
        color: #97979A;
        &__title{
            width: 70px;
            display: inline-block;
            margin-right: 5px;
            vertical-align: top;
            line-height: 20px;
        }
        &__values{
            display: inline-block;
            vertical-align: top;
            width: calc(100% -80px);
            line-height: 20px;
        }
        &__value{
            color: #fff;
        }
    }
    &__address{
        background-image: url(/img/miles-line.png);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: contain;
        padding-left: 35px;
        margin-bottom: 65px;
        margin-top: 30px;
        b{
            display: block;
            margin-bottom: 5px;
        }
        p{
            margin: 0;
            font-size: 14px;
            line-height: 18px;
            color: #A3A3A7;
        }
        &__first{
            color: #fff;
            margin-bottom: 15px;
            height: 60px;
            &:last-child{
                height: auto;
                margin-bottom: 0;
            }
        }
        &__last{
            color: #fff;
            position: relative;
            margin-bottom: 15px;
            height: 60px;
            &:last-child{
                height: auto;
                margin-bottom: 0;
                p{
                    position: absolute;
                    top: 100%;
                }
            }
            
        }
    }
    &__map{
        width: 1235px;
        height: 690px;
        margin-left: -165px;

        &__checked{
            width: 900px;
            height: 690px;
            margin-left: -165px;
        }
    }
    .btn-default{
        width: 100%;
        margin-bottom: 20px;
    }
    .control{
        color: #97979A;
        font-size: 14px;
    }
    &__more-specs{
        color: #fff;
        text-decoration: underline;
        cursor: pointer;
    }
}

@media only screen and (max-width: 1200px){
    .mile-info__map{
        margin-left: -15px;
        margin-right: -15px;
        width: auto;
    }
}
@media only screen and (max-width: 767px){
    .mile-info{
        right: 0;
        padding: 20px;
        width: 100%;
        height: 100vh;
        overflow-y: auto;
        position: fixed;
        z-index: 102;
        &__title{
            font-size: 24px;
            margin-bottom: 15px;
        }
        &__time{
            margin-bottom: 20px;
            img{
                opacity: 0.6;
            }
        }
        &__price{
            &__item{
                width: 100%;
                margin-right: 0 !important;
                &:first-child{
                    border-bottom: 1px solid #696a6e;
                    margin-bottom: 5px;
                }
                span{
                    display: inline-block;
                    margin-bottom: 0;
                    line-height: 30px;
                }
            }
            b{
                display: inline-block;
                font-size: 22px !important;
                float: right;
            }
        }
    }
}