.recipient-table{
	thead th.order-status{
		padding-left: 80px;
	}
	td.btn-status{
		width: 340px;
		text-align: left;
		padding-left: 80px;
		.bordered-btn{
			float: left;
			line-height: 1;
			padding: 8px 21px 7px;
			+ .btn-default{
				float: left;
				margin-left: 25px;
			}
		}
		.btn-default{
			float: right;
		    color: #fff!important;
		    border: 2px solid #ef483e!important;
		    -webkit-border-radius: 30px;
		    border-radius: 30px;
		    padding: 8px 22px 7px;
		    font-size: 11px;
		    line-height: 1;
		}
	}
	td{
		border-bottom: none;
		padding-bottom: 0;
		height: auto;
		padding-top: 15px;
	}
	.order-docs{
		li{
			margin-right: 20px;
			button{
				width: 260px;
				margin-left: 0px;
				padding-left: 30px;
				padding-right: 30px;
				position: relative;
				top: -5px;
			}
			&:last-child{
				margin-right: 0 !important;
			}
		}
		.order-edit-btn{
			float: right;
		}
		.docs-icon{
			position: static;
			margin-right: 20px;
			position: relative;
			top: 3px;
		}
	}
	.js-edit-tabs.disabled{
		display: none;
	}
	.form-control.hidden-field{
		border-color:#e6e6e6;
		top: 25px;
	}
	.another-active{
		input:nth-child(2){
			border-right: 1px solid #e6e6e6 !important;
			width: 100%;
			position: static;
		}
	}
}