.wizard{
	margin-bottom: 250px;
	overflow: visible;
	.steps{
		padding-top: 30px;
		width: 706px;
		margin-left: -5px;
		margin-bottom: 40px;
		&:before{
			content:"";
			position: absolute;
			left: 15px;
			top: 10px;
			width: 665px;
			height: 2px;
			background-color: #616369;
		}
		li{
			width: 33.33% !important;
			text-align: center;
			&:first-child{
				text-align: left;
				a:before{
					left: 12px;
					-webkit-transform:none;
					        transform:none;
				}
				&.current a:before{
					left: 7px;
				}
				&.current{
									&:after{
						content: "";
						display: block !important;
						position: absolute;
						top: 9px;
						background-color: #343539;
						height: 6px;
						width: 6px;
						left: 27px;
					}
				}
			}
			&:last-child{
				text-align: right;
				position: relative;
				a:before{
					left: auto;
					right: 21px;
					-webkit-transform:none;
					        transform:none;
				}

				&.done{
					&:after{
						content: "";
						display: block!important;
						position: absolute;
						top: -21px;
						background-color: #343539;
						height: 6px;
						width: 6px;
						right: 31px;
					}
				}
				&.current:after{
					width: 7px;
					right: 34px;
				}
			}
			a{
				margin: 0;
				color: rgba(255,255,255,0.3);
				font-size: 15px;
				font-weight: bold;
				font-family: $font-bold;
				position: relative;
				.number{
					display: none;
				}
				&:before{
					content:"";
					display: block;
					position: absolute;
					top: -24px;
					left: 50%;
					z-index: 2;
					-webkit-transform:translateX(-50%);
					        transform:translateX(-50%);
					width: 10px;
					height: 10px;
					border-radius: 100%;
					background-color: #7b7e83;

				}
			}
			&.current{
					.popover-link{
                      cursor: pointer;

                      pointer-events: auto;
						text-decoration: underline;
					}
				a{
					color:#fff !important;
					&:before{
						width: 20px;
						height: 20px;
						top: -29px;
						z-index: 2;
						border:5px solid $active;
						background-color: #343539;
					}
				}
				&:last-child{
					a:before{
						right: 15px;
					}
				}
			}
			&.done{
				a{
					color: rgba(255,255,255,0.3);
				}
				a:before{
					background-color: $active;
				}
			}
			&.done.first{
				&:after{
					content: "";
					display: block !important;
					position: absolute;
					top: 9px;
					background-color: #343539;
					height: 6px;
					width: 6px;
					left: 21px;
					z-index: 1;
				}
				a:after{
					content:"";
					display: block;
					position: absolute;
					top: -21px;
					left: 21px;
					width: 335px;
					height: 4px;
					background-color: $active;
				}
			}
			&:nth-child(2){
				position: relative;
				&:after{
					content: "";
					display: block !important;
					position: absolute;
					top: -22px;
					background-color: #343539;
					height: 8px;
					width: 24px;
					margin-left: -12px;
					left: 50%;
					z-index: 1;
				}
			}
			&:nth-child(3){
				position: relative;
				&:after{
					content: "";
					display: block !important;
					position: absolute;
					top: -22px;
					background-color: #343539;
					height: 8px;
					width: 6px;
					margin-left: -15px;
					right: 31px;
					z-index: 1;
				}
			}
			&.current:nth-child(2){
				position: relative;
				&:after{
					content: "";
					display: block !important;
					position: absolute;
					top: -22px;
					background-color: #343539;
					height: 8px;
					width: 32px;
					margin-left: -16px;
					left: 50%;
				}
			}
			&.last.current{
				a:after{
					content:"";
					display: block;
					position: absolute;
					top: -21px;
					left: -127px;
					width: 335px;
					height: 4px;
					background-color: $active;
				}
			}
			&.done.current:last-child a:before{
				background-color: #343539;
			}
			.fix{
				position: relative;
				-webkit-transform: translate(-50%,0%);
				        transform: translate(-50%,0%);
				left: 50%;
				display: inline-block;
				text-align: center;
			}
			.popover-link{
              pointer-events: none;
			}
		}
	}

}
.content{
	border-top: 7px solid #45464b;
	padding-top: 30px;
	overflow: visible !important;
	min-height: 265px;
	.form-row-wrap{
		width: 680px;
		float: left;
		margin-right: 70px;
	}
	.form-row{
		padding: 21px 0 0;
		border-bottom: 2px solid #45464b;
		position: relative;
		label:not(.error){
			display: block !important;
		}
		.row-controls{
			position: absolute;
			right: -60px;
			bottom: 24px;
			width: 40px;
			border: solid 2px #717174;
			text-align: center;
			span{
				display: block;
				width: 100%;
				height: 67px;
				cursor: pointer;
				color:#fff;
				font-size: 24px;
				transition: all 0.2s linear;
				&:hover{
					background-color: #717174;
				}
				&.row-minus{
					border-bottom: 2px solid #717174;
					font-size: 18px;
					color: rgba(255,255,255,0.3);
					padding-top: 3px;
				}
				&.row-plus{
					line-height: 85px;
				}
			}
		}
	}
	.form-row:not(:nth-child(2)){
		.row-controls{
			span.row-minus{
				color: #fff;
			}
		}
	}
	.form-column{
		margin-bottom: 24px;
		width: 100%;
		&:after{
			content:"";
			display: table;
			clear: both;
		}
	}
	.form-group{
		margin-bottom: 0;
		width: 256px;
		float: left;
		&.custom-autocomplete-select{
			input{
				width: 100%;
				border-radius: 0;
				-webkit-box-shadow: none !important;
				box-shadow: none !important;
				outline: none !important;
				font-size: 15px;
				color: #000;
				height: 44px;
				padding: 14px 14px !important;
				background-clip: border-box;
				font-weight: 400;
				line-height: 1.5;
				border: 1px solid #ccc;
			}
		}
		.form-control[disabled]{
			opacity: 0.8;
			background-color: #aeaeb0;
			border: 1px solid #aeaeb0;
			pointer-events: none;
		}
		&.bigger{
			width: 404px;
			margin-right: 20px;
		}

		&.medium{
			width: 192px;
			margin-right: 20px;
			.select2-container{
				width: 100% !important;
			}
		}
		&.small{
			width: 121px;
			margin-right: 20px;
		}
		&.half{
			width: 118px;
			margin-right: 20px;
			&.with-arrow{
				//width: 127px;
			}
		}
		&.group-info{
			padding-left: 52px;
			padding-right: 0;
			width: 280px;
		}
		&.w-auto{
			width: auto;
		}
		.bootstrap-select{
			width: 100% !important;
			&.field-error{
				>.dropdown-toggle{
					border: 2px solid #ef483e!important;
					padding: 13px 19px 12px;
					padding-right: 32px;
				}
			}
			>.dropdown-toggle{
				padding: 14px 19px 13px;
				padding-right: 32px;
				border-radius: 0;
				line-height: 1;
				background-color: #fff;
				box-shadow: none !important;
				outline:none !important;
				font-family: $font-regular;
				font-weight: 400;
				border:1px solid #ccc;
				color:#000;
				transition: border-color 0.2s linear;
				.caret{
					border:none;
					background-image: url(/img/arrow.svg);
					background-repeat: no-repeat;
					background-position: center;
					width: 8px;
					height: 5px;
				}
			}
			.dropdown-menu{
				margin: 0;
				border-radius: 0;
				li{
					list-style: none;
				}
			}
		}
		&.field-error{
			.select2-container{
				border: 2px solid #ef483e!important;
				.select2-selection--single{
					height: 40px;
					.select2-selection__rendered{
						line-height: 40px;
					}
				}
			}
		}
	}
}
.select2-container{
	max-width: 100%;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
	border:1px solid #ccc;
	outline: none !important;
	&:focus{
		border:1px solid #a5a5a5;
	}
}
.select2-container--default .select2-results__option{
	transition: all 0.2s linear;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background-color: #ef483e;
	color: #fff;
}
.select2-container .select2-selection--single{
	height: 44px;
	border-radius: 0;
	border:none;
	outline: none;
    .select2-selection__arrow{
		right: 2px;
		top: 50%;
		margin-top: -13px;
		z-index: 10000;
    }
	.select2-selection__arrow b{
	    border: none;
	    background-image: url(/img/arrow.svg);
	    background-repeat: no-repeat;
	    background-position: center;
	    width: 8px;
	    height: 5px;
	}
	.select2-selection__rendered{
		line-height: 44px;
		padding-left: 19px;
		padding-right: 19px;
		color:#000;
		font-size: 15px;

	}
}
.select2-dropdown{
	box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.2);
	border:none;
	border-radius: 0;
	
}
.select2-container{
	.scrollbar-inner>.scroll-element.scroll-y{
		bottom: 10px;
		height: auto;
		top: 5px;
	}
	.select2-results__option{
		padding: 7px 11px;
	}
	.select2-search--dropdown{
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 11px;
		padding-right: 11px;
		border-top: 1px solid #ccc;
	}
	.scrollbar-inner>.scroll-element div{
		border-radius: 0;
	}
	.scrollbar-inner>.scroll-element .scroll-element_track{
		width: 3px;
		background-color: rgba(52, 53, 57, 0.1);
		opacity: 1;
	}
	.scrollbar-inner>.scroll-element .scroll-bar{
		width: 3px;
		background-color: rgb(69, 70, 75);
		opacity: 1;
	}
}
.select2-container--default .select2-selection--single .select2-selection__placeholder{
	color: #000;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
	position: absolute;
	left: 0;
	top: -44px;
	border:none !important;
	height: 44px;
	padding-left: 19px;	
	padding-right: 19px;	
}
.select2-container .select2-search--dropdown{
	padding-top: 0;	
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option{
	color:#000;
}
.wizard>.steps .disabled a, .wizard>.steps .disabled a:active, .wizard>.steps .disabled a:hover{
	color: rgba(255,255,255,0.3);
}
.wizard>.steps .done a:hover{
	color: rgba(255,255,255,.3);
}
section.body{
	padding: 0;
}
.small-info{
	display: block;
	font-size: 11px;
	color: #7b7e83;
	position: absolute;
	bottom: -46px;
	&.static{
		position: static;
		float: left;
		margin-top: 15px;
		&:after{
			content:"";
			display: table;
			clear: both;
		}
	}
}
.wizard>.actions{
	width: 680px;
	padding-top: 35px;
	li.disabled{
		display: none;
	}
	>ul{
		width: 100%;
	}
	li{
		float: right !important;
		&:first-child{
			float: left !important;
		}
	}
	a.disabled{
		cursor: default;
		pointer-events:none;
		background-color: #424347;
		color: #7b7b7e;
	}
}
.wizard>.actions>ul>li{
	margin: 0;
}
.wizard>.actions a, .wizard>.actions a:active, .wizard>.actions a:hover{
	background-color: $active;
	width: 278px;
	color:#fff;
	border-radius: 0;
	font-size: 15px;
	font-family: $font-bold;
	text-align: left;
	font-weight: bold;
	line-height: 1;
	padding: 14px 60px 14px 25px;
	background-image: url(/img/arrow-right.svg);
	background-repeat: no-repeat;
	background-position: 90% center;
	transition: none;
}
.wizard>.actions a.finished, .wizard>.actions a.finished:active, .wizard>.actions a.finished:hover{
	background-image: none;
	text-align: center;
	padding-right: 25px;
	&.disabled{
		cursor: default;
		pointer-events: none;
		background-color: #424347;
		color: #7b7b7e;
		display: block;
	}
}
.wizard>.actions a.previous, .wizard>.actions a.previous:active, .wizard>.actions a.previous:hover{
	padding: 0;
	width: auto;
	background-color: transparent;
	padding: 14px 25px 14px 25px;
	background-image: url(/img/arrow-left.svg);
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: 10px;
}

#map{
	width: 1235px;
	height: 475px;
	margin-left: -165px;
}
.form-group{
	position: relative;
	label.error{
		position: absolute;
		bottom: -17px;
		margin: 0 !important;
		left: 0;
		color: $active !important;
		font-size: 11px;
		font-family: $font-bold;
		font-weight: 700;
	}
	input.error{
		background-color: #fff !important;
		border: 2px solid $active !important;
	}
	.tooltip-link{
		position: absolute;
		right: -45px;
		top: 35px;
	}
	.tooltip-wrap{
		position: relative;
		padding-left: 30px;
		display: inline-block;
		font-size: 11px;
		color: #bababa;
		.tooltip-link{
			left: 0;
			top: -5px;
			right: auto;
		}
	}
	&.info-item{
		span{
			display: block;
			font-size: 13px;
		}
		>b{
			display: block;
			margin-bottom: 10px;
			font-size: 15px;
		}
	}
}
.form-column.lined{
	.form-group{
		width: 50%;
		.bootstrap-select.btn-group{
			width: 230px !important;
			float: left;
		}
		.price-inner{
			float: left;
			padding-left: 22px;
		}
	}
	.packing-item{
		width: 230px;
		float: left;
	}
}
.bootstrap-select>.dropdown-toggle[title="Без упаковки"]{
	background-color: transparent !important;

	opacity: 1 !important;
	border:2px solid rgba(255,255,255,0.3);
	padding: 12px 19px 13px !important;
	.filter-option{
		color:#fff !important;
	}
	.caret{
		background-image: url(/img/arr-down.png) !important;
		background-size: 16px;
	}

}
.bootstrap-select.btn-group .dropdown-toggle .caret{
	right: 20px;
}
.form-row.finished{
	padding-bottom: 25px !important;
	border-bottom: none !important;
	&:last-child{
		border-bottom: 2px solid #45464b !important;
		padding-bottom: 70px !important;
	}
	&:after{
		content: "";
		display: table;
		clear: both;
	}
	.tooltip-wrap{
		position: relative;
		top: -2px;
	}
	.form-group{
		width: 33.33%;
		float: left;
		&:last-child{
			padding-left: 80px;
		}
		b{
			font-size: 20px;
			span{
				font-size: 30px;
				letter-spacing: 0.5px;
			}
		}
	}
	.control{
		position: absolute;
		bottom: -151px;
		left: -153px;
		z-index: 20;
		font-size: 11px;
		color: #bababa;
			a{
				color:#fff;
			}
	}
}
.form-row-info .coupon-field{
	margin-top: 10px;
}
.form-row-info .price-subtext{
	font-size: 13px;
    background: #4C4D51;
    border-radius: 4px;
    padding: 4px 6px;
    display: inline-block;
    margin-top: 8px;
    cursor: pointer;
}
.calculator-steps{
	margin-bottom: 170px;
	padding-bottom: 20px;

	.form-row{
		border-bottom: none;
		margin-left: 0;
		margin-right: 0;
		&:last-child{
			border-bottom: 2px solid #45464b;
			padding-bottom: 20px;
		}
		&:after{
			content:"";
			display: table;
			clear: both;
		}
	}
	.form-group{
		b{
			font-size: 20px;
			span{
				font-size: 30px;
			}
		}
		&.bigger{
			width: 337px;
		}
		&.small{
			width: 157px;
		}
		&.medium{
			.vs__dropdown-menu{
				width: 157px;
				min-width: 157px;
			}
			@media only screen and (max-width: 767px){
				.vs__dropdown-menu{
					width: 100%;
					min-width: 100%;
				}
			}

		}
		&.group-info .calculator-btn{
			margin-top: 24px;
			background-color: $active;
			color:#fff;
			border-radius: 0;
			font-family: $font-bold;
			font-weight: 700;
			font-size: 15px;
		    line-height: 1;
		    padding: 14px 41px 15px;
		    border:none;
		    transition: all 0.2s linear;
		    cursor: pointer;
		    &.disabled{
		    	cursor: default;
		    	pointer-events:none;
		    	background-color: #424347;
		    	color: #7b7b7e;
		    }
		    &:hover{
				background-color: $active;
				color:#fff ;
		    }
		}
		.price-inner{
			padding-top: 0;
			label{
				margin-bottom: 5px;
			}
			b{
				font-size: 15px;
			}
		}
	}
}
#wizard-register,
.login-wrap,
#wizard-register-sender{
	section{
		background-color: transparent;
	}
	.content{
		border-top: none;
		padding-top: 0;
		min-height: 458px;
		.form-row{
			border-bottom: none;
			margin-left: 0;
			margin-right: 0;
			.form-column:last-child{
				margin-bottom: 55px;
			}
		}
		.form-row-wrap{
			min-height: 392px;
		}
		p{
			font-size: 13px;
			line-height: 20px;
			margin-bottom: 30px;
			width: 500px;
			a{
				text-decoration: underline;
				color: #fff;
				font-family: $font-bold;
				font-weight: 700;
			}
		}
		.h3{
			margin-bottom: 10px;
			&.lost-pass-title{
				margin-bottom: 50px;
			}
			+ p{
				margin-bottom: 20px;
			}
		}

		.form-group{
			width: 500px;
		}
		.form-column{
			&.lined{
				.form-group{
					width: 240px;
					margin-right: 20px;
				}
				.small{
					width: 150px;
				}
				.bigger{
					width: 330px;
				}
				.form-group .bootstrap-select.btn-group{
					width: 100% !important;
				}
				.control{
					margin-top: 15px;
				}
			}
			&.full{
				.form-group{
					width: 500px;
				}
			}
		}
		.view-password{
			position: absolute;
			right: 15px;
			top: 35px;
			width: 26px;
			opacity: 0.4;
			cursor: pointer;
			transition: all 0.2s linear;
			&:hover{
				opacity: 0.9;
			}
			&.active{
				opacity: 1;
			}
		}
		
		.terms{
			position: absolute;
			bottom: -20px;
			left: 0;
			font-size: 11px;
			z-index: 20;
			color:#bababa;
		}

	}
	.actions{
		width: 500px !important;
		padding-top: 0px;
		top: -15px;
		&.action-started{
			padding-top: 34px;
			top:0;
		}
		&.action-finished{
			padding-top: 42px;
			top:0;
		}
	}
	.actions>ul li:last-child{
		float: right !important;
	}
	.content>.body label.control{
		margin-right: 80px;
	}
	.content>.body .form-group label.control:last-child{
		margin-right: 0;
	}
	.content>.body label.control.usergroup{
		width: 100% !important;
		margin-top: 22px;
		font-size: 11px;
	}
}
#wizard-register,
#wizard-register-sender{
	.content{
		p{
			margin-bottom: 0 !important;
		}
	}
}
.login-wrap{
	padding-top: 10px;
}
.login-wrap .content{
	.view-password{
		top: 38px;
	}
	.login-meta{
		width: 500px;
		margin-bottom: 30px;
		margin-top: 30px;
		&:after{
			content:"";
			display: table;
			clear: both;
		}
		.control{
			font-size: 11px;
			float: left;
			color:#bababa;
		}
		a{
			float: right;
			font-family: $font-bold;
			font-weight: 700;
			color:#fff;
			text-decoration: underline;
			font-size: 11px;
		}
	}
	.back-to-login{
		margin-left: 254px;
		font-family: $font-bold;
		font-weight: 700;
		color:#fff;
		text-decoration: underline;
		font-size: 11px;
	}
}
#wizard-register,
#wizard-register-sender{
	margin-bottom: 58px;
	.actions{
		width: auto;
		text-align: left;
		>ul{
			text-align: left;
			li{

				margin-left: 0;
			}
		}
		&.action-started{
			text-align: right;
			>ul{
				text-align: right;
				li{
					a.previous{
						margin-right: 127px;
					}
				}
			}
		}
	}
	.steps{
		padding-top: 0;
		margin-bottom: 70px;
		margin-left: 0;
		&:before{
			display: none;
		}
		li{
			width: auto !important;
			a{
				font-size: 0;
				transition: none;
			}
			&.current a{
				font-size: 15px;
			}
			a:before{
				top: 40px;
				margin-right: 20px;
				left: 0;
				width: 6px;
				height: 6px;
				border:none;
				background-color: #7b7e83;
			}
			&.done a:after{
				display: none !important;
			}
			&.last.current a:after{
				display: none !important;
			}

			&.current a:before{
				background-color: $active;
				width: 12px;
				height: 12px;
				top: 37px;
			}
			&.current ~ .done:nth-child(2){
				a:before{
					left: 9px;
				}
			}
			&.current ~ .done:nth-child(3){
				a:before{
					left: 29px;
				}
			}
			&.current ~ .done:nth-child(4){
				a:before{
					left: 45px;
				}
			}
			&.done a:before{
				background-color: $active;
			}

			&:nth-child(2){
				a:before{
					left: 9px;
				}
				&.current{
					a:before{
						left: 26px;
					}
				}
				&.done{
					a:before{
						left: 26px;
					}
				}
			}
			&:nth-child(3){
				a:before{
					left: 29px;
				}
				&.current{
					a:before{
						left: 48px;
					}
				}
				&.done{
					a:before{
						left: 48px;
					}
				}
			}
			&:nth-child(4){
				a:before{
					left: 45px;
				}
				&.current{
					a:before{
						left: 67px;
					}
				}
				&.done{
					a:before{
						left: 67px;
					}
				}
			}
		}
	}

	.content>.body label.control:not(.terms){
		display: inline-block !important;
		color:#bababa;
		float: left;
		margin-right: 0;
		margin-top: 22px;
		margin-bottom: 0;
		text-align: left;
	}
	.content>.body .btn-group label.control:not(.terms){
		width: 220px !important;
	}
	.content>.body .yes-no{
		label.control{
			width: auto !important;
			margin-right: 30px !important;
		}
	}
}
	.sms-links{
		margin-top: 14px;
		&:after{
			content:"";
			display: table;
			clear: both;
		}
		a{
			float: left;
			font-size: 11px;
			color: #bababa;
			margin-right: 35px;
			img{
				width: 18px;
				margin-right: 7px;
			}
			&:last-child{
				margin-right: 0;
				float: right;
			}
			&.disabled{
				color: #7b7b7e;
				pointer-events:none;
			}
		}
	}

.driver-wrapper{
	+ .driver-wrapper{
		margin-top: 20px;
	}
	.h5{
		font-size: 15px;
		margin-bottom: 20px;
	}
	.form-row{
		background-color: rgba(123, 126, 131, 0.4);
		padding: 23px 30px 1px;
		width: 500px;
		.form-column{
			margin-left: -10px;
			margin-right: -10px;
			.form-group{
				padding-left: 10px;
				padding-right: 10px;
				width: 100% !important;
				margin-right: 0 !important;
				&.smaller{
					width: 115px !important;
				}
				label.error{
					left: 10px;
				}
				.flatpickr-default{
					label.error{
						left: 0;
					}
				}
			}
			&.full{
				width: 100%;
				margin-left: 0;
				margin-right: 0;
				.form-group{
					width: 100% !important;
					padding: 0;
				}
			}
			&.lined{
				width: auto;
				.form-group{
					width: 50% !important;
					&.smaller{
						width: 115px !important;
					}
				}
			}
			&.half{
				width: auto;
				.form-group{
					width: 230px !important;
				}
			}			
		}
		.form-control{
			padding-left: 15px;
			padding-right: 13px;
		}
	}
	.driver-controls{
		position: absolute;
		left: 385px;
		bottom: 25px;
		&:after{
			content:"";
			display: table;
			clear: both;
		}
		span{
			display: inline-block;
			float: left;
			width: 44px;
			height: 44px;
			cursor: pointer;
			border: 2px solid #717174;
			text-align: center;
			line-height: 39px;
			margin-left: -2px;
			img{
				width: 24px;
			}
			&.not-active{
				pointer-events:none;
				img{
					opacity: 0.4;
				}
			}
		}
	}
}
.bordered{
	position: relative;
	margin-bottom: 20px;
	span{
		background-color: #505256;
		font-size: 13px;
		font-weight: bold;
		font-family: $font-bold;
		padding-right: 12px;
		display: inline-block;
		position: relative;
		z-index: 2;

	}
	&:before{
		content:"";
		height: 2px;
		width: 100%;
		position: absolute;
		left: 0;
		top: 10px;
		right: 0;
		display: block;
		opacity: 0.5;
		background-color: #7b7e83;
	}
}
.flatpickr-calendar.showTimeInput.hasTime .flatpickr-time{
	background-color: #7b7e83;
}
.flatpickr-time input.flatpickr-hour,
.flatpickr-time input.flatpickr-minute, .flatpickr-time input.flatpickr-second{
	font-weight: 700;
	color:#fff;
	font-size: 16px;
}
.flatpickr-time .flatpickr-am-pm, .flatpickr-time .flatpickr-time-separator{
	color:#fff;
}

.coupon-field{
	&::-webkit-input-placeholder {
		color: #000;
	}
	&::-moz-placeholder {
		color: #000;
	}
	&:-ms-input-placeholder {
		color: #000;
	}
	&:-moz-placeholder {
		color: #000;
	}
	+ .btn-default{
		position: absolute;
		bottom: -158px;
		right: 0;
		width: 278px;
		height: 43px;
		z-index: 10;
		text-align: center;
	}
}
.overload-head{
	.h4{
		color: #7b7e83;
		font-size: 30px;
		margin-bottom: 5px;
	}
}
.overload{
	border-bottom: 7px solid #e6e6e6;
	margin-bottom: 80px;
	padding-bottom: 80px;
	.order-column:first-child{
		width: 575px !important;
	}

	.btn-default{
		width: 203px;
		text-align: center;
	}
	.pallets{
		margin: 0;
		margin-top: 21px;
		padding: 0;
		li{
			list-style: none;
			padding: 0;
			margin-bottom: 30px;
			&:after{
				content:"";
				display: table;
				clear: both;
			}
			.form-control{
				width: 510px;
				margin-right: 20px;
				display: inline-block;
				vertical-align: top;
				border:1px solid #e6e6e6;
				float: left;
				&::-webkit-input-placeholder {
					color: #000;
				}
				&::-moz-placeholder {
					color: #000;
				}
				&:-ms-input-placeholder {
					color: #000;
				}
				&:-moz-placeholder {
					color: #000;
				}
			}
			span{
				display: inline-block;
				vertical-align: top;
				width: 44px;
				height: 44px;
				border:2px solid #e6e6e6;
				text-align: center;
				line-height: 40px;
				float: left;
				cursor: pointer;
			}
		}
	}
}
.arrow-switcher{
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	svg path{
		transition: all 0.2s linear;
	}
	background-color: $active;
	width: 30px;
	height: 44px;
	top: auto;
	bottom: 0;
	text-align: center;
	line-height: 44px;
	&.disabled{
		pointer-events: none;
		background-color: #717174;
	}
	svg path{
		fill: #fff !important;
	}
	+ input{
		padding-right: 30px;
	}
	&:hover{
		svg path{
			fill: #ef483e;
		}
	}
}