.suggestions-input{
	border-radius: 0;
	box-shadow: none!important;
	outline: 0!important;
	font-size: 15px;
	color: #000;
	height: 44px;
	width: 100% !important;
	padding: 14px 14px !important;
	border: 1px solid #e6e6e6;
}
.suggestions{
	&-suggestions{
		z-index: 100;
		margin:2px 0;
		padding: 5px 0px;
		top: 100% !important;
		background-color: #fff;
		box-shadow: 0 6px 12px rgba(0,0,0,.175);		
	}
	&-hint{
		padding: 3px 20px;
		cursor: default;
		color: #000;
	}	
	&-suggestion{
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: 400;
		line-height: 1.42857143;
		color: #333;
		white-space: nowrap;
		transition: all 0.2s linear;
		cursor: pointer;
		&:hover{
			color: #262626;
			background-color: #f5f5f5;
		}
	}
	&-constraints{
		margin: 0 !important;
	}
	&-value{
		white-space: normal;
	}
}