.vs{
	&__dropdown-toggle{
		border-radius: 0;
		min-height: 44px;
		padding: 5px 14px 5px;
		line-height: 48px;
		background-position: right 25px top 23px;
		color: #fff!important;
		margin-left: 0;
		border: 1px solid #e6e6e6;
		display: flex !important;
		font-size: 14px;
		background-color: #fff;
		background-position: right 25px top 34px;
		-webkit-background-size: 10px 6px;
		background-size: 10px 6px;
		transition: background-color .2s;
	}
	&__open-indicator{
		fill: #404040;
		right: 4px !important;
		top: 50% !important;
		margin-top: -13px;
		transform:scale(1) !important;
		position: absolute;
		cursor: pointer;
		background-image: url(/img/arrow.svg);
		background-repeat: no-repeat;
		background-position: center;
		width: 20px;
		height: 26px;		
		path{
			display: none;
		}
	}
	&__selected{
		
		background-color: transparent;
		border-radius: 0;
		padding: 0;
		border:none;
		margin-left: 0;
	}
	&__search{
		
		color: #000;
		font-size: 15px !important;
		border:none !important;
		margin-top:0px;
		padding-left: 0 !important;
		&:focus{
			margin-top: 0;
		}
	}	
	&__clear,
	&__deselect{
		svg{
			fill: #404040;
		}
	}
	.vs__selected{
		align-items: baseline;
		margin-right: 10px;
	}
	.vs__deselect {
		margin-top: -2px;
	}

	&--single{
		.vs__selected{
			margin-right: 20px;
			height: 100%;
			margin-top: 0;
			white-space: normal;
		}
		.vs__clear{
			position: absolute;
			right: 25px;
			top: 0px;
		}
		.vs__search{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}
	&--open{
		.vs__open-indicator{
			transform: rotate(180deg) scale(1);
		}
	}	
}
.v-select .vs__dropdown-menu {
	padding: 0;
	margin: 0;
	width: 100%;
	overflow-y: auto;
	box-shadow: none;
	border: none;
	border-radius: 0;
	text-align: left;
	list-style: none;
	background-color: #fff;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	li{
		display: block;
		padding: 7px 11px;;
		line-height: 1;
		font-size: 14px;
		white-space: normal;
		list-style: none;
	}
}
.vs__dropdown-option{
	transition: all 0.2s linear;
}
.vs__selected-options {
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 0 2px;
  position: relative;
}
.vs__dropdown-option--highlight {
    background: $active;
    color: #fff
}

// vue select on register and steps pages
.content{
	.vs{
		&__dropdown-toggle{
			padding: 5px 14px 5px;
			border:none;
		}
	}
}

.calculator-steps{
	.vs--single .vs__selected{
		white-space: nowrap;
	}
}


.calculator-steps,
.wizard{
	.vs__no-options{
		color: #ef483e;
	}
}