#header {
    position: absolute;
    top: 0;
    padding-top: 70px;
    left: 0;
    width: 100%;
    z-index: 10;
    &.inner-header {
        position: static;
        background-color: #000;
        padding: 12px 0;
        margin-bottom: 30px;
        .navbar-right {
            top: 3px;
            position: relative;
        }
    }
    .container {
        display: block;
    }
    .logo {
        display: inline-block;
        margin-right: 70px;
        float: left;
    }
    .main-menu {
        display: inline-block;
        margin: 0;
        float: left;
        padding: 0;
        position: relative;
        top: 6px;
        padding-right: 0;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        li {
            display: inline-block;
            float: left;
            margin-right: 40px;
            list-style: none;
            position: relative;
            a {
                font-size: 15px;
                color: #a1a3ab;
                padding-bottom: 8px;
                border-bottom: 2px solid transparent;
            }
            &.active {
                >a {
                    font-weight: bold;
                    font-family: $font-bold;
                    color: #fff;
                    border-bottom-color: $active;
                }
            }
            &:hover>a {
                border-bottom-color: $active;
            }
            .sub-menu {
                position: absolute;
                top: 100%;
                opacity: 0;
                visibility: hidden;
                transform: translateY(10px);
                transition: all 0.2s linear;
                padding: 0;
                width: 150px;
                padding-top: 17px;
                li {
                    margin-right: 0;
                }
                a {
                    display: block;
                    width: auto;
                    border-bottom: none;
                    &:hover {
                        color: #fff;
                    }
                }
            }
            &:hover {
                .sub-menu {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }
        }
    }
    .navbar-right {
        display: inline-block;
        float: right;
        margin: 0;
        padding: 0;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        li {
            display: inline-block;
            list-style: none;
            vertical-align: middle;
            margin-left: 20px;
            color: #fff;
            position: relative;
            &:last-child {
                margin-left: 30px;
            }
            a {
                color: #fff;
                font-size: 11px;
            }
            span {
                font-size: 11px;
            }
            img {
                display: inline-block;
            }
            b {
                font-size: 15px;
                position: relative;
                top: 2px;
            }
            .user-menu {
                position: absolute;
                opacity: 0;
                visibility: hidden;
                transform: translateY(10px);
                transition: all 0.2s linear;
                background-color: #fff;
                box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
                margin: 0;
                padding: 0;
                width: 270px;
                z-index: 10;
                top: 100%;
                margin-top: 5px;
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    top: -5px;
                    height: 10px;
                    width: 100%;
                }
                li {
                    display: block;
                    margin: 0;
                    a {
                        color: #343539;
                        font-size: 13px;
                        padding: 19px 45px 17px;
                        display: block;
                        img {
                            margin-right: 20px;
                            position: relative;
                            top: -1px;
                        }
                        &:hover {
                            background-color: #f8f9fa;
                        }
                    }
                }
            }
            .bordered-btn {
                border-width: 3px;
                padding: 6px 22px;
            }
            &:hover {
                .user-menu {
                    opacity: 1;
                    transform: none;
                    visibility: visible;
                }
            }
        }
    }
}