<tr v-bind:class="{'not-equal' : package.damaged}">
    <td class="order-number disabled">${ package.externalId }</td>
    <td class="order-shipment js-shipment-value">${ package.volume }</td>
    <td class="order-delivery">${ package.weight }</td>
    <td class="order-open">
        <label class="control control--checkbox">
            <input type="checkbox" v-model="package.damaged" :checked="package.damaged" v-on:click="orderSaveDelivered(); toogleShowDetailPackage(package)" />
            <div class="control__indicator"></div>
            Повреждено
        </label>
        <span class="js-open-order" v-on:click="toogleShowDetailPackage(package)" v-bind:class="{'active' : showDetailPackage(package)}">
            <img src="{{ asset('img/down-arrow.svg') }}" alt="">
        </span>
    </td>
</tr>
