<tr v-if="showDetailPackage(package)">
    <td colspan="6">
        <ul class="consignment-list">
            <li>
                <div class="bolder-list">
                    <div class="list-column big">
                        <div class="list-item wide">
                            <span>Тип груза</span>
                            <b>${ package.packageType.title } </b>
                        </div>
                    </div>
                    <div class="list-column big">
                        <div class="list-item wide">
                            <span>Длина х Ширина х Высота, см:</span>
                            <b>${ package.size }</b>
                        </div>
                    </div>
                    <div class="list-column big" v-if="package.packing">
                        <div class="list-item wide">
                            <span>Упаковка:</span>
                            <b>${ package.packing.title }</b>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </td>
</tr>