<tr :id="'order-header'+order.id" v-bind:class="{'has-notice': order.isDamaged || order.isArriveDamaged}">
    <td class="order-number disabled">
        <label class="control control--checkbox terms">
            <input type="checkbox" id="head-checkbox" :value="order.id" />
            <div class="control__indicator"></div>
        </label>
        <span>${ order.externalId } ${ order.isPayed }</span>
    </td>
    <td class="order-date">
        <span>${ formatDate(order.receptionAt) }</span>
        <span class="small">${ formatTime(order.receptionAt) }</span>
    </td>
    <td class="order-date">
        <span>${ formatDate(order.issueAt) }</span>
        <span class="small">${ formatTime(order.issueAt) }</span>
    </td>
    <td class="order-price text-right">
        <div v-if="order.suspendedPrice">
            ${ order.suspendedPrice } ₽
        </div>
        <div v-else-if="order.price && order.isShowRealPrice">
            ${ order.price } ₽
        </div>
        <div v-else-if="order.minPrice">
            <template v-if="order.minPrice != order.maxPrice">
                ${ order.minPrice } - ${ order.maxPrice } ₽
            </template>
            <template v-else-if="order.minPrice == order.maxPrice">
                ${ order.minPrice } ₽
            </template>
        </div>
    </td>
    <td class="text-right btn-status"><span class="bordered-btn tdghter" v-bind:class="order.statusClass">${ order.status }</span></td>
    <td class="order-open" v-on:click="toggleOrder(order.id)">
        <span class="js-open-order" v-bind:class="{active: orderId == order.id}">
            <img src="{{ asset('img/down-arrow.svg') }}" alt="">
        </span>
    </td>
</tr>

