<tr :id="'order-detail'+order.id" :data-order-details="'order'+order.id" v-if="order" class="order-details" v-show="orderId == order.id" style="display: table-row; width: 100%;">
    <td colspan="6">
        <ul class="order-buttons">
            <li v-if="order.isEditStatus && order.stock.id == order.stockFrom.id">
                <a :href="'/wms/order/'+order.externalId" class="btn-gray">Редактировать</a>
            </li>
            <li v-else><a href="javascript:void(0)" class="btn-gray disabled">Редактировать</a></li>

            <li v-if="order.isEditStatus && order.realStatus != 'rejected' && order.stock.id == order.stockFrom.id">
                <a href="javascript:void(0)" v-on:click="orderRejected($event)" class="btn-gray">Отказать в приемке</a>
            </li>
            <li v-else><a href="javascript:void(0)" class="btn-gray order-stop disabled">Отказать в приемке</a></li>

            <li v-if="order.payed && (order.realStatus == 'ready') && order.stock.id == order.stockTo.id">
                <a :href="'/wms/order/delivered/'+order.externalId" class="btn-gray">Выдать заказ</a>
            </li>
            <li v-else><a href="javascript:void(0)" class="btn-gray disabled">Выдать заказ</a></li>

            <li v-if="!order.isEditStatus" class="pull-right">
                <a target="_blank" :href="'/wms/pdf/order/composition/'+order.externalId" class="btn-gray not-filled">
                    <img src="{{ asset('img/print-dark.svg') }}" alt="">
                    Печать состава заказа
                </a>
            </li>
        </ul>

        <div v-if="order.files">
            {% include 'personal/block/files.html.twig' %}
        </div>

        <div class="order-row personal-orders" v-bind:class="{'three-columns' : order.receiver && !edit}">
            <div class="order-column">
                <div class="order-info-item">
                    <b>Тип груза:</b>

                    <span v-for="packageType in order.packagesTypes">
                        ${ packageType }<br>
                    </span>
                    <span v-if="!order.packagesTypes" v-for="package in order.orderPackages">
                        <template v-if="package.packageType">${ package.packageType.title }<br></template>
                        <template v-else="package.packageTypeAnother">${ package.packageTypeAnother }<br></template>
                    </span>
                </div>
                <div class="order-info-item">
                    <b>Общий вес:</b>
                    ${ order.totalWeight } кг
                </div>
                <div class="order-info-item">
                    <b>Общий объем:</b>
                    ${ order.totalVolume } м<sup>3</sup>
                </div>
                <div class="order-info-item">
                    <b>Общая стоимость упаковки:</b>
                    ${ order.totalPricePackage } руб.
                </div>

                <div class="order-info-item" v-if="order.totalPriceShipping">
                    <b>Cтоимость дополнительных услуг (без НДС, руб.):</b>
                    ${ order.totalPriceShipping } руб.
                </div>

                <div class="order-info-item" v-if="order.packages.length || order.orderPackages.length">
                    <b>Количество грузовых мест:</b>

                    <span>${ order.totalPackages }</span>
                </div>

                <div class="order-info-item">
                    <b>Объявленная ценность:</b>
                    ${ order.declaredPrice } руб.
                </div>
            </div>

            <template v-if="order.receiver">
                <div class="order-column">
                    <div class="order-info-item">
                        <b>Точка отправления:</b>
                        <span v-if="order.pickUp && order.pickUp.active">
                            ${ order.pickUp.address }
                        </span>
                        <span v-else-if="order.pickUp && order.pickUp.stockObject">
                            <a class="link-with-decoration" target="_blank" :href="'/stock/print/' + order.pickUp.stockObject.id" title="Распечатать карту">
                                ${ order.pickUp.stockObject.address }
                            </a>
                        </span>
                        <span v-else="">
                            <a class="link-with-decoration" target="_blank" :href="'/stock/print/' + order.stockFrom.id" title="Распечатать карту">
                                ${ order.stockFrom.address }
                            </a>
                        </span>
                    </div>

                    <div class="order-info-item" v-if="order.pickUp && order.pickUp.date">
                        <b>Дата и время:</b>
                        <span v-if="order.pickUp.date">${ formatDateTime(order.pickUp.date) }</span>
                    </div>

                    <div class="order-info-item" v-if="order.pickUp && order.pickUp.driverName">
                        <b>ФИО водителя:</b>
                        <span v-if="order.pickUp.driverName">${ order.pickUp.driverName }</span>
                    </div>

                    <div class="order-info-item" v-if="order.pickUp && order.pickUp.driverPhone">
                        <b>Контактные данные водителя:</b>
                        <span v-if="order.pickUp.driverPhone">${ formatPhone(order.pickUp.driverPhone) }</span>
                    </div>
                    <div class="order-info-item" v-if="order.pickUp && order.pickUp.driverDocument">
                        <b>Паспортные данные водителя:</b>
                        <span v-if="order.pickUp.driverDocument">${ order.pickUp.driverDocument }</span>
                    </div>
                </div>

                <div class="order-column">
                    <div class="order-info-item">
                        <b>Точка доставки:</b>
                        <span v-if="order.deliver && order.deliver.active">
                            ${ order.deliver.address }
                        </span>
                        <span v-else-if="order.deliver && order.deliver.stockObject">
                            <a class="link-with-decoration" target="_blank" :href="'/stock/print/' + order.deliver.stockObject.id" title="Распечатать карту">
                                ${ order.deliver.stockObject.address }
                            </a>
                        </span>
                        <span v-else="">
                            <a class="link-with-decoration" target="_blank" :href="'/stock/print/' + order.stockTo.id" title="Распечатать карту">
                                ${ order.stockTo.address }
                            </a>
                        </span>

                        <div class="order-info-item" v-if="order.deliver && order.deliver.date">
                            <b>Дата и время:</b>
                            <span v-if="order.deliver.date">${ formatDateTime(order.deliver.date) }</span>
                        </div>

                        <div class="order-info-item" v-if="order.deliver && order.deliver.driverName">
                            <b>ФИО водителя:</b>
                            <span v-if="order.deliver.driverName">${ order.deliver.driverName }</span>
                        </div>

                        <div class="order-info-item" v-if="order.deliver && order.deliver.driverPhone">
                            <b>Контактные данные водителя:</b>
                            <span v-if="order.deliver.driverPhone">${ formatPhone(order.deliver.driverPhone) }</span>
                        </div>
                        <div class="order-info-item" v-if="order.deliver && order.deliver.driverDocument">
                            <b>Паспортные данные водителя:</b>
                            <span v-if="order.deliver.driverDocument">${ order.deliver.driverDocument }</span>
                        </div>
                    </div>
                </div>

                <div class="order-column">

                    <div class="order-info-item">
                        <b>Отправитель:</b>
                        <span v-if="order.organization">
                            ${ order.organization.companyName }
                        </span>
                        <span v-else>
                            ${ order.customer.firstname } <br>
                            ${ order.customer.series } ${ order.customer.number }
                        </span>
                    </div>
                    <div class="order-info-item">
                        <b>Контактные данные отправителя:</b>
                        <span v-if="order.organization">
                            ${ order.organization.contactName } <br>
                            ${ order.organization.contactPhone }
                            ${ order.customer.email }
                        </span>
                        <span v-else>
                            +7${ order.customer.username } <br>
                            ${ order.customer.email }
                        </span>
                    </div>

                    <div class="order-info-item">
                        <b>Получатель:</b>
                        <span v-if="order.receiver.uridical">
                            ${ order.receiver.type } ${ order.receiver.companyName }<br>
                            ${ order.receiver.inn }<br>
                            ${ order.receiver.contactName },<br>
                        </span>
                        <span v-else>
                            ${ order.receiver.contactName }, <br>
                            ${ order.receiver.series } ${ order.receiver.number }
                        </span>
                    </div>
                    <div class="order-info-item">
                        <b>Контактные данные получателя:</b>

                        ${ order.receiver.contactPhone }<br>
                        ${ order.receiver.contactEmail }
                    </div>
                </div>
            </template>
        </div>
    </td>
</tr>
