
{% extends 'template/mainpage/empty.html.twig' %}

{% block content %}


<div id="widgetCalc"
     data-direction=""
     data-weight="0"
     data-host="https://dot-dot.ru"
></div>

{{ encore_entry_link_tags('css/widget-calc') }}
{{ encore_entry_script_tags('js/widget-calc') }}


{% endblock %}
