{% verbatim %}
<div id="customer_calc">
<section>
    <div class="container">
        <div class="h3">Расчет стоимости заказа</div>

        <form v-on:submit.prevent="getPrice" novalidate autocomplete="off">
            <div role="application" class="wizard clearfix">
                <div class="steps clearfix">
                    <ul role="tablist">
                        <li role="tab" v-bind:class="{ 'current': step == 1, 'done': step > 1 || maxPrevStep > step && prevStep == 1 }"  class="first "><a aria-controls="wizard-p-0"><span class="current-info audible">current step: </span><span class="number">1.</span> Груз</a></li>
                        <li role="tab" v-bind:class="{ 'current': step == 2, 'done': step > 2 || maxPrevStep > step && prevStep == 2 }"  class="disabled" aria-disabled="true"><a id="wizard-t-1" href="#wizard-h-1" aria-controls="wizard-p-1"><span class="number">2.</span> Упаковка</a></li>
                        <li role="tab" v-bind:class="{ 'current': step == 3, 'disabled': step < 3, 'done': maxPrevStep >= step && prevStep == 3 }"  class=" last" aria-disabled="true"><a id="wizard-t-2" href="#wizard-h-2" aria-controls="wizard-p-2"><span class="number">3.</span> <span class="fix"><span class="popover-link js-lead" role="button" data-original-title="" title="">Оформить заказ</span></span></a></li>
                    </ul>
                </div>
                <div class="content clearfix">
                    <div v-if="step == 1" class="step body" data-step="1">
                        <div class="form-row-wrap">
                            <div class="form-row">
                                <div class="form-column">
                                    <div class="form-group medium" v-bind:class="{ error: errors.has('cityFrom') }">
                                        <label for="sendDirectionFrom">Откуда*</label>
                                        <select class="js-select hide"
                                            id="cityFrom" name="cityFrom" v-select2 v-model="cityFrom" v-bind:class="{ error: errors.has('cityFrom')}" v-validate="{required: true, numeric: true}"
                                            data-placeholder="Выберите город" required>
                                            <option value=" ">Выберите город</option>
                                            <option v-for="cityFrom in getCityFromList" v-bind:value="cityFrom.id">{{ cityFrom.title }}</option>
                                        </select>
                                        <label class="error" v-if="errors.has('cityFrom')">Заполните поле</label>
                                    </div>
                                    <div class="form-group medium " v-bind:class="{ error: errors.has('cityTo') }">
                                        <label for="sendDirectionTo">Куда*</label>
                                        <select class="js-select hide"
                                            id="cityTo" name="cityTo" v-select2  v-model="cityTo" v-bind:class="{ error: errors.has('cityTo')}" v-validate="{required: true, numeric: true}"
                                            data-placeholder="Выберите город" required>
                                            <option value=" ">Выберите город</option>
                                            <option v-for="cityTo in getCityToList" v-bind:value="cityTo.id">{{ cityTo.title }}</option>
                                        </select>
                                        <label class="error" v-if="errors.has('cityTo')">Заполните поле</label>
                                    </div>
                                    <div class="form-group">
                                        <label for="sendPrice">Объявленная ценность, руб.*</label>
                                        <input type="text" class="form-control" v-filter="filter.int" v-bind:class="{ error: errors.has('price') }" v-on:change="fixSize()" name="price" v-model="price" v-validate="'required|numeric'" step="1" placeholder="≥ 1">
                                        <i class="tooltip-link" data-toggle="tooltip" data-placement="right" title="Не может превышать реальную стоимость, подтвержденную документально. Страхование б/у грузов не производится"><img src="/img/circle.png" alt=""></i>
                      
                                        <label class="error" v-if="errors.has('price') && !price">Заполните поле</label>
										<label class="error" v-if="errors.has('price') && price">Только целые числа</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" :id="'package'+index" class="packages" v-for="(package,index) in packages">
                                <div class="form-column">
                                    <div class="form-group bigger" v-bind:class="{ error: errors.has('package.type'+index) }">
                                        <label for="sendType">Тип груза*</label>
                                        <select class="selectpicker js-send-type" id="package.type" v-bind:class="{ error: errors.has('package.type'+index) }" :name="'package.type'+index" v-model="package.type" v-on:change="changeType(package)" v-validate="{required: true}">
                                            <option value=""> Выберите тип груза</option>

                                            <option v-for="packageType in packageTypes" v-bind:value="packageType.id" v-bind:checked="packageType.id == package.type">{{ packageType.title }}</option>

                                            <option value="Другое">Другое</option>
                                        </select>
                                        <input type="text" v-model="package.anotherType" id="packageAnotherType"  v-bind:class="{ error: errors.has('package.anotherType'+index) }" v-validate="{required: package.type == 'Другое'}" :name="'package.anotherType'+index" class="form-control hidden-field js-another-field" >
                                        <label class="error" v-if="errors.has('package.anotherType'+index)">Введите тип груза</label>
                                        <label class="error" v-if="errors.has('package.type'+index)">Выберите тип груза</label>
                                    </div>
                                    <div class="form-group half with-arrow">
                                         <label v-if="!byCargo" for="sendPrice">Вес 1 места, кг*</label>
                                         <label v-else for="sendPrice">Вес груза, кг*</label>
                                         <span class="js-weight-switcher arrow-switcher" v-on:click="toggleCalculateByCargo()">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12"><path fill="#E6E6E6" fill-rule="evenodd" d="M.578 10.594L5.172 6 .578 1.406 1.984 0l6 6-6 6z"></path></svg>
                                        </span>
                                        <input type="text" class="form-control js-eq-right" v-filter="filter.int" v-on:change="fixSize(package)" v-bind:class="{ error: errors.has('package.weight'+index) }" :name="'package.weight'+index" v-model="package.weight" v-validate="'required|numeric'" min="1" step="1" placeholder="≥ 1">

                                        <label class="error" v-if="errors.has('package.weight'+index) && !package.weight">Заполните поле</label>
										<label class="error" v-if="errors.has('package.weight'+index) && package.weight">Только целые числа</label>

                                    </div>
                                    <div class="form-group half mr-0">
                                        <label for="sendPlaceQty">Количество мест*</label>
                                        <input type="text" class="form-control" v-on:change="fixSize(package)" v-filter="filter.int" v-bind:class="{ error: errors.has('package.count'+index) }" :name="'package.count'+index" v-model="package.count" v-validate="{'required' : true, 'numeric' : true}" min="1" step="1" placeholder="≥ 1">

                                        <label class="error" v-if="errors.has('package.count'+index) && !package.count">Заполните поле</label>
										<label class="error" v-if="errors.has('package.count'+index) && package.count">Только целые числа</label>
                                    </div>
                                </div>
                                <div class="form-column js-form-column">
                                    <div class="form-group small">
                                        <label for="sendLength">Длина, см* </label>
                                        <input type="text" class="form-control js-eq-left" :disabled="package.useSize === false || byCargo" v-filter="filter.int" v-on:click="useSize(package)" v-on:keyup="useSize(package)" :placeholder="'≤ '+maxDepth" v-on:change="fixSize(package)" v-bind:class="{ error: errors.has('package.depth'+index) && validateStep == 2 }" :name="'package.depth'+index" v-model="package.depth" v-validate="{'required' : package.useSize === true || package.useSize === null , numeric: true}">

										<label class="error" v-if="validateStep == 2 && errors.has('package.depth'+index) && !package.depth">Заполните поле</label>
										<label class="error" v-if="validateStep == 2 && errors.has('package.depth'+index) && package.depth">Только целые числа</label>
                                    </div>
                                    <div class="form-group small">
                                        <label for="sendWidth">Ширина, см*</label>
                                        <input type="text" class="form-control js-eq-left" :disabled="package.useSize === false || byCargo" v-filter="filter.int" v-on:click="useSize(package)" v-on:keyup="useSize(package)" :placeholder="'≤ '+maxWidth" v-on:change="fixSize(package)" v-bind:class="{ error: errors.has('package.width'+index) && validateStep == 2 }" :name="'package.width'+index" v-model="package.width" v-validate="{'required' : package.useSize === true || package.useSize === null, numeric: true}">

										<label class="error" v-if="validateStep == 2 && errors.has('package.width'+index) && !package.width">Заполните поле</label>
										<label class="error" v-if="validateStep == 2 && errors.has('package.width'+index) && package.width">Только целые числа</label>
                                    </div>
                                    <div class="form-group small">
                                        <label for="sendHeight">Высота, см*</label>
                                        <input type="text" class="form-control js-eq-left" :disabled="package.useSize === false || byCargo" v-filter="filter.int" v-on:click="useSize(package)" v-on:keyup="useSize(package)" :placeholder="'≤ '+maxHeight" v-on:change="fixSize(package)" v-bind:class="{ error: errors.has('package.height'+index) && validateStep == 2  }" :name="'package.height'+index" v-model="package.height" v-validate="{'required' : package.useSize === true || package.useSize === null, numeric: true}">

										<label class="error" v-if="validateStep == 2 && errors.has('package.height'+index) && !package.height">Заполните поле</label>
										<label class="error" v-if="validateStep == 2 && errors.has('package.height'+index) && package.height">Только целые числа</label>
                                    </div>
                                    <div class="form-group">
                                        <label v-if="!byCargo" for="sendPrice">Объем места, м3*</label>
                                        <label v-else for="sendPrice">Объем груза, м3*</label>

                                        <span v-on:click="toggleCalculateByCargo()" class="js-weight-switcher arrow-switcher">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12"><path fill="#E6E6E6" fill-rule="evenodd" d="M.578 10.594L5.172 6 .578 1.406 1.984 0l6 6-6 6z"></path></svg>
                                        </span>

                                        <input type="text" class="form-control js-eq-right" :disabled="package.useSize === true" v-filter="filter.float" v-on:click="useSize(package)" v-on:keyup="changeCalculateWeight(package); useSize(package)" v-on:change="changeCalculateWeight(package)" v-bind:class="{ error: errors.has('package.calculateWeight'+index) && validateStep == 2 }" :name="'package.calculateWeight'+index" v-model="package.calculateWeight" v-validate="{'required' : package.useSize === false || package.useSize === null, nozero: true}" min="1" :placeholder="placeholderVolume">

                                        <label class="error" v-if="validateStep == 2 && errors.has('package.calculateWeight'+index) && !package.calculateWeight">Заполните поле</label>
										<label class="error" v-if="validateStep == 2 && errors.has('package.calculateWeight'+index) && package.calculateWeight">Только числа</label>
                                    </div>
                                </div>

                                <div class="row-controls">
                                    <span class="row-minus" v-on:click="removePackage(index)">─</span>
                                    <span class="row-plus" v-on:click="createPackage(index)">+</span>
                                </div>
                            </div>
                            <div class="small-info">* - обязательные поля</div>


                        </div>
                        <div class="form-row-info">
                            <div class="sticky-wrapper">
                                <div class="total sticky-total">
                                    Расчетный вес —
                                    <span><b>{{ totalWeight }}</b>кг</span>
                                    <i class="tooltip-link" data-toggle="tooltip" data-placement="top"
                                       title="Большее значение между общим (плотностью 250 кг/м3) и объемным весом (длина,см × ширина,см × высота,см/ 4000)"
                                       style="top:0;right: 0;"><img src="img/circle.png" alt=""></i>

                                    <div v-if="byCargo" class="alert-info alert-weight "><img src="img/alert.svg" alt="">Одно место не может превышать<br> 120х80х180 см и 1450 кг</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="step == 2" class="step body" data-step="2">
                        <div class="form-row-wrap">
                            <div v-for="(package,index) in packages" :id="'packagetype'+package.hidden" :key="package.hidden">
                                <div class="form-row">
                                    <div class="form-column lined">
                                        <div class="form-group info-item">
                                            <label>Тип груза</label>
                                            <b v-if="getPackageTypeTitle(package)">{{ getPackageTypeTitle(package) }}</b>
                                            <span >Количество мест: <b>{{ package.count }}</b></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="packageType">Упаковка (рекомендуемая)</label>
                                            <select class="selectpicker" v-model="package.packing"  v-on:change="checkEmptyPacking()" :name="'package.packing'+index" v-bind:class="{ error: errors.has('package.packing'+index) }">
                                                 <option value="null">Без упаковки</option>
                                                 <option
                                                     v-for="item in getPackings(package)"
                                                     v-bind:value="item.id" :selected="item.id == package.packing"
                                                     >
                                                     {{ item.title }}
                                                 </option>
                                            </select>

                                            <div class="price-inner">
                                                <label>Стоимость</label>
                                                <b>{{ getPackingPrice(package) }} руб.</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row-info">
                            <div class="total">
                                Общая стоимость упаковки (без НДС) —
                                <span><b>{{ getPackingPriceTotal() }}</b>руб.</span>
                            </div>
                            <div class="info-ul-wrap active" v-show="isEmptyPacking">
                                <div class="alert-info"><img src="/img/alert.svg" alt="">Не возим без упаковки:</div>
                                <ul class="info-ul ">
                                    <li>бытовую техника и электронику, включая оргтехнику;</li>
                                    <li>промышленное оборудование, механизмы, агрегаты, техника;</li>
                                    <li>кузовные автозапчасти;</li>
                                    <li>мебель и предметы интерьера;</li>
                                    <li>пластмассовые изделия и тару, металлические емкости объемом до 50 л.;</li>
                                    <li>груз, транспортировка которого без упаковки может повредить или негативно воздействовать на соседний груз;</li>
                                    <li>груз, конструктивно содержащий в себе жидкости;</li>
                                    <li>груз, в составе которого есть стекло, гнущиеся или хрупкие элементы;</li>
                                    <li>любые грузы с манипуляционными знаками.</li>
                                </ul>
                                <span class="more-items">Показать все <img src="/img/arr-down.png" alt=""></span>
                            </div>
                        </div>
                    </div>

                    <div v-if="step == 3" class="step body" data-step="3">
                        <div class="form-row-wrap">
                            <div class="form-row finished">
                                <div class="form-group">
                                    <label>Тип груза:</label>
                                    <b v-for="(package,index) in packages">{{ getPackageTypeTitle(package) }}<br></b>
                                </div>
                                <div class="form-group">
                                    <label>Расчетный вес груза:</label>
                                    <b>{{ totalWeight }} кг</b>
                                </div>
                            </div>

                            <div class="form-row finished">
                                <div class="form-group">
                                    <label>Количество грузовых мест:</label>
                                    <b>{{ getPackageCount }}</b>
                                </div>
                                <div class="form-group" style="width: 50%">
                                    <label>Общая стоимость упаковки:</label>
                                    <b>{{ getPackingPriceTotal() }} руб.</b>
                                </div>
                            </div>
                        </div>
                        <div class="form-row-info">
                            <div class="total">
                                Итого (без НДС) —
                                 <span v-if="totalPriceMin != totalPriceMax"><b>{{ totalPriceMin }}-{{ totalPriceMax }}</b> руб.</span>
                                 <span v-else><b>{{ totalPriceMin }}</b> руб.</span>
                                <i class="tooltip-link" style="right: 0!important;" data-toggle="tooltip" data-placement="bottom" title="Фиксируется в момент отправки и будет доступна в Личном Кабинете - чем больше отправителей в одной партии, тем ниже цена вашей перевозки." style="top:0;right: 0;"><img src="img/circle.png" alt=""></i>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control coupon-field" :name="promocode" v-model="promocode" placeholder="Промокод">
                                <span class="btn-default" v-on:click="checkPromocode()" v-bind:class="{ 'hidden': (!promocode || usePromocode)}">Применить</span>
                            </div>
                            <div class="info-ul-wrap active">
                                <div class="alert-info"><img src="img/ic_print activ.svg" alt="">От двери до двери:</div>
                                <ul class="info-ul">
                                    <li>Забрать груз <span class="milePrice">{{ totalFirstMilePriceMin }}-{{ totalFirstMilePriceMax }}</span> руб.</li>
                                    <li>Доставить до адреса получателя: <span class="milePrice">{{ totalLastMilePriceMin }}-{{ totalLastMilePriceMax }}</span> руб.</li>
                                </ul>
                                <span class="small">Можно заказать в личном кабинете при оформлении заказа.</span>
                            </div>
                            <label class="control control--checkbox terms">
                                Согласен с условиями <a target="_blank" href="/offer/customer">оферты</a>
                                <input type="checkbox" v-model="confirm" v-bind:checked="confirm == true" v-validate="{required: true}">
                                <div class="control__indicator"></div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="actions clearfix" v-bind:class="{ 'action-finish': step == 3 }">
                    <ul role="menu" aria-label="Pagination">
                        <li v-if="step == 1"></li>
                        <li v-if="step == 1"><a href="#next" v-on:click="showStep(2)" role="menuitem">Перейти к упаковке</a></li>
                        <li v-if="step == 2"><a href="#previous" v-on:click="showStep(1, false)" role="menuitem" class="previous">Вернуться к грузу</a></li>
                        <li v-if="step == 2"><a href="#next" v-on:click="showStep(3)" role="menuitem">Рассчитать стоимость</a></li>
                        <li v-if="step == 3"><a href="#previous" v-on:click="showStep(2, false)" role="menuitem" class="previous">Вернуться к упаковке</a></li>
                        <li v-if="step == 3"><a id="createOrder" href="#finish" v-on:click="showStep(4, false, $event)" role="menuitem" class="finished" v-bind:class="{ 'disabled': confirm != true }">Оформить заказ</a></li>
                    </ul>
                </div>

                <div class="js-lead-content" style="display: none;">
                    <div class="popover-inner " v-bind:class="{ 'loading': !competitorPricesLoad}">
                        <div class="p-lead__title">Лидеры рынка</div>

                        <a href="" class="js-lead-close p-lead__close"></a>
                        <table v-if="competitorPrices.length > 0">
							<tr class="p-lead__line" v-if="competitorPrice.price > 0" v-for="(competitorPrice, index) in competitorPrices">
								<td><span class="num">{{ competitorPrice.price }}</span> руб.</td>
								<td><span class="tk">ТК {{competitorPrice.index}}*</span></td>
							</tr>
                        </table>
                        <div v-else-if="competitorPrices.length == 0 && competitorPricesLoad">
                            К сожалению, лидеры не хотят делиться расчетом
                        </div>
                        <div class="p-lead__text">* - калькулятор официальных сайтов, </div>
                        <div class="p-lead__text">без учета упаковки</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
</div>
{% endverbatim %}

