{% extends 'template/mainpage/template.html.twig' %}

{% block content %}

    <div class="main-hero">
        <div class="container">
            <div class="h2">{{ header|raw }}</div>
            <div class="h3">{{ subheader|raw }}</div>

            <ul class="hero-steps">
                <li>Рассчитайте стоимость<br> перевозки</li>
                <li>Сдайте груз</li>
                <li>Оплатите счет<br> в личном кабинете</li>
                <li>Получите груз<br> в точке назначения</li>
            </ul>

            <span class="js-toggle-steps"><span>Подробнее</span> <img src="{{ asset('img/arr-down.png') }}" alt=""></span>
        </div>
    </div>

    <div id="auction" data-attach-vue="calc" {% if direction is defined and direction is not null %} data-route="{{ direction.id }}" {% endif %}></div>

    <section class="white">
        <div class="container">

            <noindex>
            {{ render(url('app.stock.map')) }}
            </noindex>

            {% include 'block/clients_history.html.twig' %}

            {% include 'block/sender_banner.html.twig' %}

            {% include 'block/questions.html.twig' %}

            {{ render(url('app.part.articles')) }}

            {{ render(url('app.part.partners')) }}
        </div>
    </section>

{% endblock %}
