<template>
    <div>

        <div class="container" v-if="step == 1">
            <div class="profile-wrapper">
                <div class="profile-column def-form">
                    <div class="block-title">
                        <div class="h3">Изменение пароля</div>
                    </div>
                    <form>
                        <div class="form-column full">
                            <div class="form-group">
                                <label>Новый пароль</label>
                                <input :type="passwordTypePassword" class="form-control" v-model="password" v-bind:class="{ error: errors.has('password')}" name="password" v-validate="{required: true, regex: '^(?=.*[A-Za-z])(?=.*\\d)[A-Za-z\\d]{6,}'}" value="" required>
                                <label v-if="errors.has('password') && !password" class="error">Заполните поле</label>
                                <label v-if="errors.has('password') && password" class="error">Пароль должен содержать не менее 6 символов, буквы и цифры.</label>

                                <i class="tooltip-link" v-b-tooltip.hover="{'placement': 'right', 'title': 'Пароль должен содержать не менее 6 символов, буквы и цифры.'}" >
                                    <img src="/img/info-gray.png" alt="">
                                </i>

                                <span class="view-password" @click="toggleShowPassword"><img src="/img/eye.png" alt=""></span>
                            </div>
                        </div>
                        <div class="form-column full">
                            <div class="form-group">
                                <label>Введите пароль еще раз</label>

                                <input :type="passwordTypePasswordRepeat" class="form-control" v-model="reenteredPassword" v-bind:class="
                                     { error:
                                        errors.has('reenteredPassword') && !reenteredPassword && reenteredPasswordChange
                                        ||
                                        errors.has('reenteredPassword') && !errors.has('password') && reenteredPasswordChange
                                     }"
                                       name="reenteredPassword" v-validate="{required: true, confirmed: password}" value=""
                                       @change="reenteredPasswordChangeEvent()"
                                >
                                <label v-if="errors.has('reenteredPassword') && !reenteredPassword && reenteredPasswordChange"  class="error">Заполните поле</label>
                                <label v-else-if="errors.has('reenteredPassword') && !errors.has('password') && reenteredPasswordChange" class="error">Пожалуйста, введите такое же значение ещё раз.</label>

                                <span class="view-password" @click="toggleShowPasswordRepeat"><img src="/img/eye.png" alt=""></span>
                            </div>
                        </div>
                        <div class="profile-buttons">
                            <a href="/personal/profile/" class="btn-back">Назад</a>
                            <button type="button" v-on:click="showStep(2)" class="btn-active">Изменить пароль</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container" v-if="step == 2">
            <div class="profile-wrapper">
                <div class="profile-column def-form">
                    <div class="block-title">
                        <div class="h3">Подтвердждение смены пароля</div>
                    </div>
                    <p style="margin-bottom: 28px;">Система должна отправить СМС в течение 60 секунд</p>
                    <form id="profilePassword2">
                        <div class="form-row">
                            <div class="form-column full">
                                <div class="form-group">
                                    <label>Введите код из СМС</label>
                                    <input type="text" class="form-control" data-mask="code" v-bind:class="{ error: errors.has('code'),  error: checkCode === false}" value="" v-validate="{required: true}" name="code" v-model="code" autocomplete="off">
                                    <label v-if="checkCode === false" class="error">Заполните поле</label>
                                </div>
                            </div>
                            <div class="form-column">
                                <div class="form-group">
                                    <div class="sms-links">
                                        <a href="javascript:void(0);" v-on:click="resendSms()" >
                                            <img src="/img/repeat-gray.svg" alt="">
                                            Выслать код повторно
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="profile-buttons">
                            <a href="javascript:void(0);" v-on:click="showStep(1, true)" class="btn-back">Назад</a>
                            <button type="button" v-on:click="showStep(3)" class="btn-active">Продолжить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container" v-if="step == 3">
            <div class="profile-wrapper">
                <div class="profile-column def-form">
                    <div class="block-title">
                        <div class="h3">Подтвердждение смены пароля</div>
                    </div>
                    <p style="margin-bottom: 28px;">Ваш пароль успешно изменен</p>
                    <form>
                        <div class="profile-buttons">
                            <a href="/personal/profile/" class="btn-back">Назад</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import Vue from 'vue';
    import ff from '../../../vueconfig.js';
    import Files from '../../../block/files.vue';
    import Person from '../../../block/person.vue';
    import vSelect from 'vue-select';
    import DatePicker from 'vue2-datepicker';
    import { VBTooltip } from 'bootstrap-vue';

    Vue.directive('b-tooltip', VBTooltip);

    export default {
        name: 'Profile',
        components: {
            Files,
            Person,
            DatePicker,
            vSelect
        },
        data() {
            return {
                step: 1,
                password: '',
                reenteredPassword: '',
                code: '',
                checkCode: '',
                reenteredPasswordChange: false,
                passwordTypePassword: 'password',
                passwordTypePasswordRepeat: 'password',
            }
        },
        computed: {

        },
        created() {
            this.loadData();
            this.showAdditionalPopups();
        },
        watch: {
            'organization.inn': function() {
                let $this = this;
                clearTimeout(this.organizationInnTypingTimer);
                this.organizationInnTypingTimer = setTimeout(function() {
                    $this.suggestInn();
                }, 600);
            },
            'autocompleteOrganizationAddressSelected': function(val) {
                if(val) {
                    this.organization.address = val;
                }
            },
            'organization.address': function(val) {
                let $this = this;
                clearTimeout(this.autocompleteOrganizationAddressTypingTimer);
                if(this.organization.address == this.autocompleteOrganizationAddressSelected) {
                    return false;
                }
                if(this.autocompleteOrganizationAddressFromSelect) {
                    this.autocompleteOrganizationAddressFromSelect = false;
                    return false;
                }
                this.autocompleteOrganizationAddressTypingTimer = setTimeout(function() {
                    $this.suggestOrganizationAddress();
                }, 500);
            },
            'organization.type': function (val) {
                if (val == 'ip') {
                    this.organization.kpp = '';
                }
            },
            'editDrivers': function (val) {
                let $this = this;
                if (!val) {
                    $this.driverActive = 1;
                    $this.editFormDrivers(val);
                    $this.loadData(function () {
                        $this.editFormDrivers(val);
                        $this.errors.clear();
                    });
                } else {
                    $this.editFormDrivers(val);
                }
            },
            'edit': function (val) {
                let $this = this;
                if (!val) {
                    $this.editFormProfile(val);

                    $this.loadData(function () {
                        $this.editFormProfile(val);
                        $this.errors.clear();
                    });
                } else {
                    $this.editFormProfile(val);
                }
            }
        },
        methods: {
            showStep: function (step, validateStep) {
                let $this = this;

                this.$validator.validateAll().then(function (result) {

                    if (!result && validateStep == undefined) {
                        return;
                    }

                    if (step == 2 && !validateStep) {
                        $this.sendSms();
                    }

                    if (step == 3 && !validateStep) {
                        if (!$this.checkSmsCode()) {
                            return false;
                        }

                        if (!$this.changePassword()) {
                            return false;
                        }
                    }

                    $this.step = step;
                    
                    return false;
                });

                return false;
            },
            sendSms: function () {
                let jqxhr = $.ajax({
                    url: "/api/security/change_password/sendsms",
                    cache: true,
                    async: false,
                    data: {}
                });

                let data = jqxhr.responseJSON;

                return data.status;
            },

            checkSmsCode: function () {

                this.checkCode = false;

                let code = this.code;
                let jqxhr = $.ajax({
                    url: "/api/security/change_password/checksms",
                    cache: true,
                    async: false,
                    data: {code: code}
                });

                let data = jqxhr.responseJSON;

                this.checkCode = data.status;

                return data.status;
            },

            changePassword: function () {
                let password = this.password;

                let code = this.code;
                let jqxhr = $.ajax({
                    url: "/api/security/change_password",
                    cache: true,
                    async: false,
                    data: {password: password}
                });

                let data = jqxhr.responseJSON;

                this.checkCode = data.status;

                return data.status;
            },

            resendSms: function () {
                this.sendSms()
                return false;
            },

            reenteredPasswordChangeEvent: function() {
                this.reenteredPasswordChange = true;
            },

            toggleShowPassword: function () {
                if (this.passwordTypePassword == 'password') {
                    this.passwordTypePassword = 'text';
                } else if (this.passwordTypePassword == 'text') {
                    this.passwordTypePassword = 'password';
                }
            },

            toggleShowPasswordRepeat: function () {
                if (this.passwordTypePasswordRepeat == 'password') {
                    this.passwordTypePasswordRepeat = 'text';
                } else if (this.passwordTypePasswordRepeat == 'text') {
                    this.passwordTypePasswordRepeat = 'password';
                }
            },
        }
    }
</script>
