<template>
    <div v-if="user">

        <div class="profile-column profile def-form js-editable-form">
            <div class="block-title">
                <div class="h3">Данные профиля</div>
                <span class="js-edit-profile edit-profile" v-bind:class="{'clicked' : edit}" v-on:click="edit = true">Редактировать</span>
            </div>

            <div style="display: none">{{ user.id }}</div>

            <div v-if="user.carrier || user.customer && organization.id">
                <div class="service-meta" v-if="user.isCarrierNow">
                    <div class="form-status" v-if="organization.verifiedCode == 'verified'">
                        <img src="/img/done-circle.svg" alt=""/>Верифицирован
                    </div>
                    <div class="form-status" v-else-if="organization.verifiedCode == 'delay'">
                        <img src="/img/warning-circle.svg" alt=""/>Ожидает верификации

                        <i class="tooltip-link" v-b-tooltip.hover="{'placement': 'right', 'title': 'Верификация данных займет 3 часа, с переносом на следующий рабочий день, в случае регистрации после 18-00. Вы получите СМС уведомление и тогда сможете приступить к перевозкам.'}" >
                            <img src="/img/circle-black.png" alt="">
                        </i>
                    </div>
                    <div class="form-status" v-else>
                        <template v-if="organization.id">
                            <img src="/img/warning-circle.svg" alt=""/>Не верифицирован

                            <i class="tooltip-link" v-b-tooltip.hover="{'placement': 'right', 'title': 'Ваши данные не прошли верификацию. Вы не можете приступить к перевозкам. Просьба проверить данные или предоставить новые для повторной проверки.'}" >
                                <img src="/img/circle-black.png" alt="">
                            </i>
                        </template>
                    </div>
                </div>

                <div class="form-column lined">
                    <input type="hidden" class="form-control" v-model="organization.id" name="organization.id" value="" >
                    <div class="form-group small">
                        <label>Организация</label>

                        <v-select
                                placeholder=""
                                :clearable="false"
                                :multiple="false"
                                v-model="organization.type"
                                label="title"
                                :options="organizationTypes"
                                :disabled="!edit"
                                v-bind:class="{error: errors.has('organization.type')}"
                                v-validate="{required: true}"
                        >
                        </v-select>
                    </div>
                    <div class="form-group bigger">
                        <label>&nbsp;</label>
                        <input type="text" v-filter="filter.cyrillicNumeric" class="form-control" v-model="organization.companyName" v-bind:class="{error: errors.has('organization.companyName')}" name="organization.companyName" value="" v-validate="{required: edit, cyrillicNumeric: true}" :readonly="!edit">
                        <label v-if="errors.has('organization.companyName')" class="error">Заполните поле</label>
                    </div>
                </div>
                <div class="form-column lined yes-no">
                    <div class="form-group">
                        <label>Плательщик НДС</label>
                        <label class="control control--radio" v-bind:class="{'control--disabled': !edit}">Да
                            <input type="radio" v-model="organization.nds" name="organization.nds" :checked="organization.nds" v-validate="{required: edit}" required value="1" :readonly="!edit" />
                            <div class="control__indicator"></div>
                        </label>
                        <label class="control control--radio" v-bind:class="{'control--disabled': !edit}">Нет
                            <input type="radio" v-model="organization.nds" name="organization.nds" :checked="!organization.nds" v-validate="{required: edit}" required value="0" :readonly="!edit" />
                            <div class="control__indicator"></div>
                        </label>

                        <label v-if="errors.has('organization.nds')" class="error">Заполните поле</label>
                    </div>
                </div>
                <div class="form-column lined">
                    <div class="form-group">
                        <label for="organizationINN">ИНН</label>
                        <input type="text" class="form-control" v-filter="filter.numeric" v-bind:class="{error: errors.has('organization.inn')}" v-model="organization.inn" name="organization.inn" :maxlength="organization.type.slug == 'ip' ? 12 : 10" v-validate="{required: edit, max: organization.type.slug == 'ip' ? 12 : 10, min: organization.type.slug == 'ip' ? 12 : 10, numeric: true}" :readonly="!edit">
                        <label v-if="errors.has('organization.inn')" class="error">Заполните поле</label>
                    </div>
                    <div class="form-group">
                        <label for="organization.kpp">КПП</label>
                        <input type="text" class="form-control" v-filter="filter.numeric" v-bind:class="{error: errors.has('organization.kpp'), disabled: organization.type.slug == 'ip'}" v-model="organization.kpp" :maxlength="9" :readonly="!edit" v-validate="{required: organization.type.slug != 'ip' && edit, max: 9, min: 9, numeric: true}" name="organization.kpp" value="">
                        <label v-if="errors.has('organization.kpp')" class="error">Заполните поле</label>
                    </div>
                </div>
                <div class="form-column lined">
                    <div class="form-group">
                        <label for="organizationBIK">БИК</label>
                        <input type="text" class="form-control" v-filter="filter.numeric" v-model="organization.bik" v-bind:class="{error: errors.has('organization.bik')}" name="organization.bik" :maxlength="9" v-validate="{required: edit, max: 9, min: 9, numeric: true}" required :readonly="!edit">
                        <label v-if="errors.has('organization.bik')" class="error">Заполните поле</label>
                    </div>
                    <div class="form-group">
                        <label for="organizationRS">Р/С</label>
                        <input type="text" class="form-control " v-filter="filter.numeric" v-mask="mask.five" v-model="organization.rs"  v-bind:class="{error: errors.has('organization.rs')}" name="organization.rs" :maxlength="23" v-validate="{required: edit, max: 23, min: 23}" required :readonly="!edit">
                        <label v-if="errors.has('organization.rs')" class="error">Заполните поле</label>
                    </div>
                </div>
                <div class="form-column full">
                    <div class="form-group">
                        <label v-if="organization.type.slug == 'ooo' || organization.type.slug == 'drugoe'" for="ceo">ФИО ген. директора</label>
                        <label v-if="organization.type.slug == 'ip'">ФИО инд. предпринимателя</label>
                        <input type="text" v-filter="filter.cyrillic" class="form-control" v-bind:class="{error: errors.has('organization.ceo')}" v-model="organization.ceo" name="organization.ceo" v-validate="{required: edit, cyrillic: true}" required value="" :readonly="!edit">
                        <label v-if="errors.has('organization.ceo')" class="error">Заполните поле</label>
                    </div>
                </div>
                <div class="form-column lined">
                    <div class="form-group">
                        <label for="fioContact">ФИО контактного лица</label>
                        <input type="text" v-filter="filter.cyrillic" class="form-control" v-model="organization.contactName"  v-bind:class="{error: errors.has('organization.contactName')}" name="organization.contactName" v-validate="{required: edit, cyrillic: true}" required :readonly="!edit">
                        <label v-if="errors.has('organization.contactName')" class="error">Заполните поле</label>
                    </div>
                    <div class="form-group">
                        <label for="contactEmail">Email</label>
                        <input type="text" class="form-control" v-model="user.email"  v-bind:class="{error: errors.has('user.email')}" name="user.email" v-validate="{required: edit, email: true}" required :readonly="!edit">
                        <label v-if="errors.has('user.email')" class="error">Заполните поле</label>
                    </div>
                </div>
                <div class="form-column lined">
                    <div class="form-group">
                        <label for="contactPhone">Контактный телефон</label>
                        <input type="text" class="form-control phone-number" v-mask="mask.phone" v-bind:class="{error: errors.has('organization.contactPhone')}" v-model="organization.contactPhone" name="organization.contactPhone" v-validate="{required: edit, phone: true}" required :readonly="!edit">
                        <label v-if="errors.has('organization.contactPhone')" class="error">Заполните поле</label>
                    </div>
                </div>
                <div class="form-column full">
                    <div class="form-group custom-autocomplete-select">
                        <label for="postAdress">Почтовый адрес</label>

                        <VueSuggestions
                            :model.sync="organization.address"
                            :placeholder="'Введите адрес'"
                            class="form-control"
                            v-validate="{required: true}"
                            v-bind:class="{error: errors.has('organization.address')}"
                            :options="suggestionOptionsAddress"
                            :readonly="!edit"
                        >
                        </VueSuggestions>
                    </div>
                </div>
                <div class="form-column full " style="margin-top: 5px;">
                    <div class="form-group">
                        <label class="control control--checkbox single" v-bind:class="{'control--disabled': !edit}">
                            <input type="checkbox" v-model="user.subscribe" name="user.subscribe" :checked="user.subscribe" v-validate="{required: false}" value="1" :readonly="!edit" />
                            <div class="control__indicator"></div>
                            Подписаться на новости и рекламу
                        </label>
                    </div>
                </div>
                <div v-if="!edit" class="profile-buttons">
                    <a href="/personal/profile/change_password"  class="btn-default">Изменить пароль</a>
                </div>
                <div v-if="edit" class="edit-buttons">
                    <span v-on:click="edit = false" class="back">Отмена</span>
                    <a href="javascript:void(0)" v-on:click="save($event, true)" class="btn-default">Сохранить и верифицировать</a>
                </div>
            </div>

            <div v-else-if="user.customer && organization.id <= 0">
                <div class="form-column full">
                    <div class="form-group">
                        <label>ФИО</label>
                        <input type="text" class="form-control" v-filter="filter.cyrillic" v-model="user.firstname" name="user.firstname" v-bind:class="{error: errors.has('user.firstname')}" value="" v-validate="{required: edit, cyrillic : true}" :readonly="!edit">
                        <label v-if="errors.has('user.firstname')" class="error">Заполните поле</label>
                    </div>
                </div>
                <div class="form-column lined">
                    <div class="form-group small">
                        <label>Серия паспорта</label>
                        <input type="text" class="form-control" v-model="user.series" v-bind:class="{error: errors.has('user.series')}" name="user.series" value="" v-validate="{required: edit}" :readonly="!edit">
                        <label v-if="errors.has('user.series')" class="error">Заполните поле</label>
                    </div>
                    <div class="form-group bigger">
                        <label>Номер паспорта</label>
                        <input type="text" class="form-control" v-model="user.number" v-bind:class="{error: errors.has('user.number')}" name="user.number" value="" v-validate="{required: edit}" :readonly="!edit">
                        <label v-if="errors.has('user.number')" class="error">Заполните поле</label>
                    </div>
                </div>
                <div class="form-column full">
                    <div class="form-group">
                        <label>Телефон</label>
                        <input type="text" class="form-control" v-mask="mask.phone" v-model="user.username" v-bind:class="{error: errors.has('user.username')}" name="user.username" value="" v-validate="{required: edit}"  :readonly="!edit">
                        <label v-if="errors.has('user.username')" class="error">Заполните поле</label>
                    </div>
                </div>
                <div class="form-column full">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" v-model="user.email" name="user.email" v-bind:class="{error: errors.has('user.email')}" value="" v-validate="{required: edit, email: true}" :readonly="!edit">
                        <label v-if="errors.has('user.email')" class="error">Заполните поле</label>
                    </div>
                </div>
                <div class="form-column full" style="margin-top: 5px;">
                    <div class="form-group">
                        <label class="control control--checkbox single">
                            <input type="checkbox" v-model="user.subscribe" name="user.subscribe" :checked="user.subscribe" v-validate="{required: false}" value="1" :readonly="!edit" />
                            <div class="control__indicator"></div>
                            Подписаться на новости и рекламу
                        </label>
                    </div>
                </div>
                <div v-if="!edit" class="profile-buttons">
                    <a href="/personal/profile/change_password"  class="btn-default">Изменить пароль</a>
                </div>
                <div v-if="edit" class="edit-buttons">
                    <span v-on:click="edit = false" class="back">Отмена</span>
                    <a href="javascript:void(0)" v-on:click="save($event, false)" class="btn-default">Сохранить изменения</a>
                </div>
            </div>
        </div>
        <div class="profile-column drivers def-form " v-if="user.carrier">
            <!-- Slider main container -->
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide" :id="'driver'+driver.hidden" :key="driver.hidden" v-if="driverIndex == driverActive - 1" v-for="(driver,driverIndex) in organization.drivers">
                        <div class="block-title">
                            <div class="h3">Водитель
                                <span v-if="organization.drivers.length > 1">{{driverIndex + 1}} / {{organization.drivers.length}}</span>
                            </div>

                        </div>
                        <div class="service-meta">
                            <div class="form-status" v-if="driver.verifiedCode == 'verified'">
                                <img src="/img/done-circle.svg" alt=""/>Верифицирован
                            </div>
                            <div class="form-status" v-else-if="driver.verifiedCode == 'delay'">
                                <img src="/img/warning-circle.svg" alt=""/>Ожидает верификации

                                <i class="tooltip-link" v-b-tooltip.hover="{'placement': 'right', 'title': 'Верификация данных займет 3 часа, с переносом на следующий рабочий день, в случае регистрации после 18-00. Вы получите СМС уведомление и тогда сможете приступить к перевозкам.'}" >
                                    <img src="/img/circle-black.png" alt="">
                                </i>

                            </div>
                            <div class="form-status" v-else>
                                <img src="/img/warning-circle.svg" alt=""/>Не верифицирован

                                <i class="tooltip-link" v-b-tooltip.hover="{'placement': 'right', 'title': 'Ваши данные не прошли верификацию. Водитель не может быть назначен для перевозки. Просьба проверить данные или предоставить новые для повторной проверки.'}" >
                                    <img src="/img/circle-black.png" alt="">
                                </i>
                            </div>
                            <span class="js-edit-profile edit-profile" v-bind:class="{'clicked' : editDrivers}" v-on:click="editDrivers = true">Редактировать</span>
                        </div>
                        <form class="js-form">
                            <div class="driver-row">
                                <div class="form-column full">
                                    <div class="form-group">
                                        <label for="fiodriver">ФИО водителя</label>
                                        <input type="text" v-filter="filter.cyrillic" class="form-control" v-model="driver.name" v-bind:class="{error: errors.has('driver.name'+driverIndex)}" :name="'driver.name'+driverIndex" v-validate="{required: editDrivers, cyrillic: true}" required :readonly="!editDrivers">
                                        <label v-if="errors.has('driver.name'+driverIndex)" class="error">Заполните поле</label>
                                    </div>
                                </div>
                                <div class="form-column lined">
                                    <div class="form-group">
                                        <label for="INNdriver">ИНН</label>
                                        <input type="text" class="form-control" v-filter="filter.numeric" v-model="driver.inn" v-bind:class="{error: errors.has('driver.inn'+driverIndex)}" :name="'driver.inn'+driverIndex" :maxlength="12" v-validate="{required: editDrivers, numeric: true, max: 12, min: 12}" required :readonly="!editDrivers">
                                        <label v-if="errors.has('driver.inn'+driverIndex)" class="error">Заполните поле</label>
                                    </div>
                                    <div class="form-group">
                                        <label>Дата рождения водителя </label>

                                        <date-picker
                                            :key="driverIndex"
                                            v-model="driver.birthdate"
                                            :disabled="!editDrivers"
                                            v-mask="mask.date"
                                            lang="ru"
                                            :first-day-of-week="1"
                                            format="DD.MM.YYYY"
                                            :clearable="false"
                                            :value="driver.birthdate"
                                            placeholder="Выберите дату"
                                            v-validate="{required: editDrivers}"
                                            :name="'driver.birthdate'+driverIndex"
                                            v-bind:class="{'readonly' : !editDrivers, error: errors.has('driver.birthdate'+driverIndex)}"
                                        >
                                        </date-picker>
                                        <label v-if="errors.has('driver.birthdate'+driverIndex)" class="error">Заполните поле</label>

                                    </div>
                                </div>
                                <div  v-for="(document,documentIndex) in driver.documents" class="driver-doc">
                                    <div class="bordered"><span>{{ document.name }}</span></div>
                                    <div class="form-column lined">
                                        <div class="form-group smaller">
                                            <label for="passportSerial">Серия</label>
                                            <input type="text" class="form-control" v-model="document.series" v-bind:class="{error: errors.has('driver.series'+driverIndex+''+documentIndex)}" :name="'driver.series'+driverIndex+''+documentIndex" v-validate="{required: editDrivers}" required :readonly="!editDrivers">
                                            <label v-if="errors.has('driver.series'+driverIndex+''+documentIndex)" class="error">Заполните поле</label>
                                        </div>
                                        <div class="form-group smaller">
                                            <label for="passportNomer">Номер</label>
                                            <input type="text" class="form-control" v-model="document.number" v-bind:class="{error: errors.has('driver.number'+driverIndex+''+documentIndex)}" :name="'driver.number'+driverIndex+''+documentIndex" v-validate="{required: editDrivers}" required :readonly="!editDrivers">
                                            <label v-if="errors.has('driver.number'+driverIndex+''+documentIndex)" class="error">Заполните поле</label>
                                        </div>
                                        <div class="form-group">
                                            <label>Дата выдачи</label>

                                            <date-picker
                                                    :key="driverIndex+''+documentIndex"
                                                    v-model="document.date"
                                                    :disabled="!editDrivers"
                                                    v-mask="mask.date"
                                                    lang="ru"
                                                    :first-day-of-week="1"
                                                    format="DD.MM.YYYY"
                                                    :clearable="false"
                                                    placeholder="Выберите дату"
                                                    :name="'document.date'+driverIndex+''+documentIndex"
                                                    v-validate="{required: editDrivers}"
                                                    v-bind:class="{'readonly' : !editDrivers, error: errors.has('document.date'+driverIndex+''+documentIndex)}"
                                            >
                                            </date-picker>
                                            <label v-if="errors.has('document.date'+driverIndex+''+documentIndex)" class="error">Заполните поле</label>
                                        </div>
                                    </div>
                                    <div class="form-column full" v-if="document.type != 'license'">
                                        <div class="form-group">
                                            <label for="passportPlace">Кем выдан</label>
                                            <input type="text" class="form-control" v-model="document.place" v-bind:class="{error: errors.has('driver.place'+driverIndex+''+documentIndex)}" :name="'driver.place'+driverIndex+''+documentIndex" v-validate="{required: editDrivers}" required :readonly="!editDrivers">

                                            <label v-if="errors.has('driver.place'+driverIndex+''+documentIndex)" class="error">Заполните поле</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-column">
                                    <div class="form-group">
                                        <label for="driverPhone"><b>Контактный телефон водителя</b></label>
                                        <input type="text" class="form-control phone-number"  v-mask="mask.phone" v-model="driver.phone" v-bind:class="{error: errors.has('driver.phone'+driverIndex)}" :name="'driver.phone'+driverIndex" v-validate="{required: editDrivers, phone: true}" :readonly="!editDrivers">
                                        <label v-if="errors.has('driver.phone'+driverIndex)" class="error">Заполните поле</label>
                                    </div>

                                </div>
                                <div class="driver-controls js-slide-controls">
                                    <span class="minus" v-bind:class="{'not-active' : driverIndex == 0 }" v-on:click="removeDriver(driverIndex)"><img src="/img/minus-gray.png" alt=""></span>
                                    <span class="plus" v-on:click="createDriver(driverIndex)"><img src="/img/plus-gray.png" alt=""></span>
                                </div>
                            </div>
                            <div v-if="editDrivers" class="edit-buttons">
                                <span  v-on:click="editDrivers = false" class="back">Отмена</span>
                                <a href="javascript:void(0)" v-on:click="save($event, false, true)" class="btn-default">Сохранить и верифицировать</a>
                            </div>
                        </form>

                    </div>

                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"  v-on:click="prevDriver()"></div>
                <div class="swiper-button-next"  v-on:click="nextDriver()"></div>
            </div>

        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import ff from '../../../vueconfig.js';
    import Files from '../../../block/files.vue';
    import Person from '../../../block/person.vue';
    import vSelect from 'vue-select';
    import DatePicker from 'vue2-datepicker';
    import { VBTooltip } from 'bootstrap-vue';
    import VueSuggestions from 'vue-suggestions';

    Vue.directive('b-tooltip', VBTooltip);

    export default {
        name: 'Profile',
        components: {
            Files,
            Person,
            DatePicker,
            vSelect,
            VueSuggestions
        },
        data() {
            return {
                edit: false,
                editDrivers: false,
                organizationInnTypingTimer: null,
                autocompleteOrganizationAddress: [],
                autocompleteOrganizationAddressSelected: '',
                autocompleteOrganizationAddressTypingTimer: null,
                autocompleteOrganizationAddressFromSelect: false,
                driverActive: 1,
                user: Object.assign({}, ff.UserObject()),
                organization: Object.assign({}, ff.Organization()),
                hiddenIndex: 0,
                organizationTypes: [],
                mask: ff.mask(),
                filter: ff.filter(),

                suggestionOptionsAddress: {
                    token: 'c9aa5fdc338a746e23ce91ceb6fdb9e635749833',
                    type: "ADDRESS",
                    scrollOnFocus: false,
                    triggerSelectOnBlur: false,
                    triggerSelectOnEnter: false,
                    addon: 'none',
                    onSelect (suggestion) {

                    }
                },
            }
        },
        computed: {

        },
        created() {
            this.loadData();
            this.showAdditionalPopups();
        },
        watch: {
            'organization.inn': function() {
                let $this = this;
                clearTimeout(this.organizationInnTypingTimer);
                this.organizationInnTypingTimer = setTimeout(function() {
                    $this.suggestInn();
                }, 600);
            },
            'autocompleteOrganizationAddressSelected': function(val) {
                if(val) {
                    this.organization.address = val;
                }
            },
            'organization.address': function(val) {
                let $this = this;
                clearTimeout(this.autocompleteOrganizationAddressTypingTimer);
                if(this.organization.address == this.autocompleteOrganizationAddressSelected) {
                    return false;
                }
                if(this.autocompleteOrganizationAddressFromSelect) {
                    this.autocompleteOrganizationAddressFromSelect = false;
                    return false;
                }
                this.autocompleteOrganizationAddressTypingTimer = setTimeout(function() {
                    $this.suggestOrganizationAddress();
                }, 500);
            },
            'organization.type': function (val) {
                if (this.organization.type.slug == 'ООО') {
                    this.organization.type = 'ooo';
                }
                if (this.organization.type.slug == 'ИП') {
                    this.organization.type = 'ip';
                }
                if (this.organization.type.slug == 'Другое') {
                    this.organization.type = 'drugoe';
                }
                if (this.organization.type.slug == 'ip') {
                    this.organization.kpp = '';
                }
            },
            'editDrivers': function (val) {
                let $this = this;
                if (!val) {
                    $this.driverActive = 1;
                    $this.editFormDrivers(val);
                    $this.loadData(function () {
                        $this.editFormDrivers(val);
                        $this.errors.clear();
                    });
                } else {
                    $this.editFormDrivers(val);
                }
            },
            'edit': function (val) {
                let $this = this;
                if (!val) {
                    $this.editFormProfile(val);

                    $this.loadData(function () {
                        $this.editFormProfile(val);
                        $this.errors.clear();
                    });
                } else {
                    $this.editFormProfile(val);
                }
            }
        },
        methods: {
            nextDriver: function () {
                let $this = this;
                if (this.organization.drivers.length >= this.driverActive + 1) {
                    this.driverActive = this.driverActive + 1;

                    $this.editFormDrivers($this.editDrivers);
                }
            },

            prevDriver: function () {
                let $this = this;
                if (this.driverActive - 1 > 0) {
                    this.driverActive = this.driverActive - 1;

                    $this.editFormDrivers($this.editDrivers);
                }
            },

            createDriver: function (index) {
                let $this = this;

                $this.organization.drivers.splice(index + 1, 0, Object.assign({}, ff.getEmptyDriver()));

                $.each($this.organization.drivers, function( index, driver ) {
                    if (!driver.hidden) {
                        driver.hidden = $this.hiddenIndex + 1;
                        $this.hiddenIndex = $this.hiddenIndex + 1;
                    }
                })

                $this.driverActive = index + 2;
            },

            removeDriver: function (index) {
                let $this = this;

                if ($this.organization.drivers.length <= 1) {
                    return;
                }
                $this.organization.drivers.splice(index, 1);

                $this.driverActive = index;
            },

            save: function ($event, updateOrganization, updateDrivers) {

                if (!updateOrganization) {
                    updateOrganization = false;
                }
                if (!updateDrivers) {
                    updateDrivers = false;
                }

                let $this = this;
                let user = this.user;
                let organization = this.organization;

                let button = $($event.target);

                this.$validator.validateAll().then(function(result) {

                    if(!result) {
                        button.removeClass('disabled');
                        return;
                    }

                    if (button.hasClass('disabled')) {
                        return false;
                    }

                    button.addClass('disabled');

                    if (user.carrier || user.customer && organization.id) {

                        let action = 'full';
                        if(updateDrivers && !updateOrganization) {
                            action = 'driver';
                        }
                        else if (!updateDrivers && updateOrganization) {
                            action = 'organization';
                        }

                        let formData = new FormData();
                        formData.append('action', action);
                        formData.append('url', window.location.pathname);
                        formData.append('user[id]', user.id);
                        formData.append('user[subscribe]', user.subscribe);
                        formData.append('user[email]', user.email);
                        formData.append('edit[organization]', updateOrganization);
                        formData.append('edit[drivers]', updateDrivers);
                        formData.append('organization[id]', organization.id);
                        formData.append('organization[type]', organization.type.slug);
                        formData.append('organization[companyName]', organization.companyName);
                        formData.append('organization[uridical]', organization.uridical);
                        formData.append('organization[nds]', organization.nds);
                        formData.append('organization[inn]', organization.inn);
                        formData.append('organization[kpp]', organization.kpp);
                        formData.append('organization[ceo]', organization.ceo);
                        formData.append('organization[address]', organization.address);
                        formData.append('organization[contactName]', organization.contactName);
                        formData.append('organization[contactPhone]', organization.contactPhone);
                        formData.append('organization[rs]', organization.rs);
                        formData.append('organization[bik]', organization.bik);

                        $.each(organization.drivers, function( index, driver ) {
                            formData.append('organization[drivers]['+index+'][id]', driver.id);
                            formData.append('organization[drivers]['+index+'][name]', driver.name);
                            formData.append('organization[drivers]['+index+'][inn]', driver.inn);
                            formData.append('organization[drivers]['+index+'][birthdate]', driver.birthdate);
                            formData.append('organization[drivers]['+index+'][phone]', driver.phone);

                            $.each(driver.documents, function( indexDocument, document) {
                                formData.append('organization[drivers]['+index+'][documents]['+indexDocument+'][id]', document.id);
                                formData.append('organization[drivers]['+index+'][documents]['+indexDocument+'][type]', document.type);
                                formData.append('organization[drivers]['+index+'][documents]['+indexDocument+'][series]', document.series);
                                formData.append('organization[drivers]['+index+'][documents]['+indexDocument+'][number]', document.number);
                                formData.append('organization[drivers]['+index+'][documents]['+indexDocument+'][date]', document.date);
                                formData.append('organization[drivers]['+index+'][documents]['+indexDocument+'][place]', document.place);
                            })
                        });

                        $.ajax({
                            method: 'POST',
                            url: "/api/security/register_organization",
                            data: formData,
                            dataType: "json",
                            processData: false,
                            contentType: false,
                        }).done(function(data) {
                            button.removeClass('disabled');

                            setTimeout(function() {
                                if (updateDrivers) {
                                    $this.editDrivers = false;

                                    if (data.verificationEvent) {
                                        ff.openPopupUrl('/static/popup/verification_status?organizationId='+organization.id);
                                    }
                                }
                                if (updateOrganization) {
                                    $this.edit = false;
                                    if (data.verifiedCode == 'verified') {
                                        ff.openPopupUrl('/static/popup/verification_success');
                                    } else if (data.verifiedCode == 'delay') {
                                        ff.openPopupUrl('/static/popup/verification_delay');
                                    } else if (data.verifiedCode == 'not_verified') {
                                        ff.openPopupUrl('/static/popup/verification_error');
                                    } else {
                                        if (user.isCarrierNow) {
                                            ff.openPopupUrl('/static/popup/error');
                                        }
                                    }
                                }
                                $this.loadData();
                            }, 200);

                        });
                    } else {
                        let formData = new FormData();
                        formData.append('url', window.location.pathname);
                        formData.append('user[id]', user.id);
                        formData.append('user[subscribe]', user.subscribe);
                        formData.append('user[firstname]', user.firstname);
                        formData.append('user[number]', user.number);
                        formData.append('user[series]', user.series);
                        formData.append('user[username]', user.username);
                        formData.append('user[email]', user.email);

                        $.ajax({
                            method: 'POST',
                            url: "/api/security/register_update",
                            data: formData,
                            dataType: "json",
                            processData: false,
                            contentType: false,
                        }).done(function(data) {
                            button.removeClass('disabled');

                            setTimeout(function(){
                                $this.edit = false;
                                $this.editDrivers = false;

                                $this.loadData();
                            }, 200);

                        });
                    }

                    return false;
                });

                return false;
            },

            loadData: function (callback) {
                let $this = this;
                let user = this.user;
                let organization = this.organization;

                $.ajax({
                    method: "POST",
                    url: "/api/security/profile",
                    data: {
                        userId: $this.user.id,
                        organizationId: $this.organization.id
                    },
                    dataType: "json",
                })
                    .done(function( result ) {
                        let data = result.data;
                        if (data.params.organizationTypes) {
                            $this.organizationTypes = data.params.organizationTypes;
                        }

                        if (result.data.user) {
                            $this.user.id = data.user.id;
                            $this.user.firstname = data.user.firstname;
                            $this.user.series = data.user.series;
                            $this.user.number = data.user.number;
                            $this.user.email = data.user.email;
                            $this.user.username = data.user.username;
                            $this.user.carrier = data.user.carrier;
                            $this.user.customer = data.user.customer;
                            $this.user.subscribe = data.user.subscribe;

                            $this.user.isCarrierNow = data.user.isCarrierNow;
                            $this.user.isCustomerNow = data.user.isCustomerNow;
                        }

                        if (data.organization) {
                            $this.organization.id = data.organization.id;
                            $this.organization.uridical = data.organization.uridical;
                            $this.organization.type = $this.getOrganizationType(data.organization.type);
                            $this.organization.companyName = data.organization.companyName;
                            $this.organization.nds = data.organization.nds;
                            $this.organization.inn = data.organization.inn;
                            if (data.organization.kpp == 'null') {
                                data.organization.kpp = '';
                            }
                            $this.organization.kpp = data.organization.kpp;
                            $this.organization.ceo = data.organization.ceo;
                            $this.organization.address = data.organization.address;
                            $this.organization.contactName = data.organization.contactName;
                            $this.organization.contactPhone = data.organization.contactPhone;
                            $this.organization.rs = data.organization.rs;
                            $this.organization.bik = data.organization.bik;
                            $this.organization.verifiedCode = data.organization.verifiedCode;
                            $this.organization.verifiedDate = data.organization.verifiedDate;
                            $this.organization.drivers = data.organization.drivers;

                            $.each($this.organization.drivers, function( indexDriver, driver ) {
                                $this.organization.drivers[indexDriver].birthdate = new Date(driver.birthdate);
                                $.each(driver.documents, function( indexDoc, document ) {
                                    $this.organization.drivers[indexDriver].documents[indexDoc].date = new Date(document.date);
                                    if (document.type == 'passport') {
                                        $this.organization.drivers[indexDriver].documents[indexDoc].type = 'passport';
                                        $this.organization.drivers[indexDriver].documents[indexDoc].name = 'Паспорт водителя';
                                    }
                                    if (document.type == 'license') {
                                        $this.organization.drivers[indexDriver].documents[indexDoc].type = 'license';
                                        $this.organization.drivers[indexDriver].documents[indexDoc].name = 'Водительское удостоверение';
                                    }
                                })
                            });
                        }

                        if (callback) {
                            callback(data);
                        }
                    });

                return false;
            },
            showAdditionalPopups: function() {
                $(function () {
                    if(window.location.hash === '#verify_fail') {
                        ff.openPopupUrl('/static/popup/verification_error_special');
                    }
                })
            },

            editFormProfile: function (edit) {

            },
            editFormDrivers: function (edit) {

            },

            getOrganizationType: function (value) {
                var result = null;
                $.each(this.organizationTypes, function( index, organizationTypeItem ) {
                  if (value == organizationTypeItem.slug || value == organizationTypeItem.id || value == organizationTypeItem.title) {
                      result = organizationTypeItem;
                  }
                })

                return result;
            },

            suggestInn: function () {
                if(!this.edit) {
                    return false;
                }
                if(!this.organization.inn) {
                    return;
                }
                let $this = this;
                $.ajax({
                    url: '/api/data-normalize/suggest/inn',
                    method: 'GET',
                    data: {'number':this.organization.inn},
                })
                .done(function(data) {
                    if (data.status && data.data) {
                        if(data.data.name && !$this.organization.companyName) {
                            $this.organization.companyName = data.data.name;
                        }
                        if(data.data.kpp && !$this.organization.kpp) {
                            $this.organization.kpp = data.data.kpp;
                        }
                        if(data.data.ceo && !$this.organization.ceo) {
                            $this.organization.ceo = data.data.ceo;
                        }
                        if(data.data.address && !$this.organization.address) {
                            $this.organization.address = data.data.address;
                        }
                        if(data.data.type == "LEGAL") {
                            $this.organization.type = $this.getOrganizationType("ooo");
                        }

                        if(data.data.type == "INDIVIDUAL") {
                            $this.organization.type = $this.getOrganizationType("ip");
                        }
                        if(data.data.type &&  data.data.type != "INDIVIDUAL" && data.data.type != "LEGAL") {
                            $this.organization.type = $this.getOrganizationType("drugoe");
                        }
                    }
                });
            },
            cleanOrganizationAddress: function () {
                if(!this.organization.address) {
                    return;
                }
                if($('.custom-autocomplete-select .dropdown-menu').is(':visible')) {
                    return;
                }

                let $this = this;
                $.ajax({
                    url: '/api/data-normalize/clean/address',
                    method: 'GET',
                    data: {'address':this.organization.address},
                })
                .done(function(data) {
                    if (data.status && data.data) {
                        $this.organization.address = data.data;
                        $this.autocompleteOrganizationAddressFromSelect = true;
                    }
                });
            },
            suggestOrganizationAddress: function () {
                if(this.organization.address) {
                    let $this = this;
                    $.ajax({
                        url: '/api/data-normalize/suggest/address',
                        method: 'GET',
                        data: {'address':this.organization.address},
                    })
                    .done(function(data) {
                        if (data.status && data.data) {
                            $this.autocompleteOrganizationAddress = data.data;
                        }
                    });
                }
            },
        }
    }
</script>
