
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="format-detection" content="telephone=no">
    <title>Email</title>
    <style>
      /* -------------------------------------
          GLOBAL RESETS
      ------------------------------------- */
      img {
        border: none;
        -ms-interpolation-mode: bicubic;
        max-width: 100%; }
      a[href^=tel] { color: inherit; text-decoration: none; }
      body {
        background-color: #fff;
        width: 800px;
        max-width: 100%;
        font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        line-height: 1.4;
        margin: 0;
        padding: 0;
        color: #343539;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%; }

      table {
        border-collapse: collapse;
        mso-table-lspace: 0pt;
        mso-table-rspace: 0pt;
        width: 100%; }
        table td {
          font-family: sans-serif;
          font-size: 14px;
          vertical-align: top; }

      /* -------------------------------------
          BODY & CONTAINER
      ------------------------------------- */

      .body {

      }

      /* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
      .container {
        display: block;
        Margin: 0 !important;
        /* makes it centered */
        max-width: 100%;
        width: 100%; }

      /* This should also be a block element, so that it will fill 100% of the .container */
      .content {
        box-sizing: border-box;
        display: block;
        Margin: 0 auto;
        max-width: 100%;}

      /* -------------------------------------
          HEADER, FOOTER, MAIN
      ------------------------------------- */
      .main {
        background: #ffffff;
        border-radius: 3px;
        max-width: 800px;
        table-layout: fixed;}

      .wrapper {
        box-sizing: border-box;
        padding: 43px 60px; }

      .content-block {
        padding-bottom: 10px;
        padding-top: 10px;
      }



      /* -------------------------------------
          TYPOGRAPHY
      ------------------------------------- */
      h1,
      h2,
      h3,
      h4 {
        color: #000000;
        font-weight: 700;
        font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        line-height: 1.4;
        margin: 0;
        Margin-bottom: 30px; }
      h1{
        margin-bottom: 0;
        font-size: 30px;
      }
      h4{
        font-size: 15px;
        margin-top: 36px;
        margin-bottom: 43px;
      }

      p,
      ul,
      ol {
        font-family: sans-serif;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
        Margin-bottom: 15px; }
        p li,
        ul li,
        ol li {
          list-style-position: inside;
          margin-left: 5px; }

      a {
        color: #343539;
        text-decoration: underline; }
        h6{
          margin-top: 0;
          font-size: 11px;
          font-weight: 700;
          color: #7b7e83;
          margin-bottom: 3px;
        }
        p.small{
          font-size: 13px;
          margin-bottom: 20px;
        }
      hr {
        border: 0;
        border-bottom: 2px solid #e6e6e6;
        Margin: 36px 0; }

      .header{
        box-sizing: border-box;
      }
      .header td{
        padding: 0;
      }
      .header td a{
        float: left;
        width: 50%;
      }
      .header-phone svg{
        display: inline-block;
        vertical-align: middle;
        opacity: 0.5;
      }
      .header-phone a{
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
        color:#fff;
        font-size: 15px;
      }
      .bottom-table hr{
        margin-top: 23px;
        margin-bottom: 31px;
      }
      .bottom-table h4{
        margin-top: 31px;
        margin-bottom: 20px;
      }
      .ii a[href]{
        color:#343539 !important;
      }
      u + #body a {
          color: inherit;
          text-decoration: none;
          font-size: inherit;
          font-family: inherit;
          font-weight: inherit;
          line-height: inherit;
      }
    </style>

</head>
<body class="" id="body">
<table border="0" borderspacing="0" cellpadding="0" cellspacing="0" class="header">
    <tr>
        <td class="container" style="font-family: sans-serif;font-size: 14px;vertical-align: top;display: block;max-width: 100%;width: 100%;padding: 0;margin: 0 !important;">
            <table style="border-collapse: separate;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;">
                <tr>
                    <td style="font-family: sans-serif;font-size: 14px;vertical-align: top;padding: 0;">
						<a href="#" style="color: #343539;text-decoration: underline;float: left;width: 50%;"><img src="https://image.ibb.co/gDB8N8/email_logo.jpg" alt="" border="0" style="border: none;-ms-interpolation-mode: bicubic;max-width: 100%;"></a>
						<a href="tel:8 800 222 33 57" style="color: #343539;text-decoration: underline;float: left;width: 50%;"><img src="https://image.ibb.co/jKS4vT/email_phone.jpg" alt="" border="0" style="border: none;-ms-interpolation-mode: bicubic;max-width: 100%;"></a>
					 </td>  
                </tr>
            </table>

        </td>

    </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" class="body" style="border-collapse: separate;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;">
    <tr>
        <td class="container" style="font-family: sans-serif;font-size: 14px;vertical-align: top;display: block;max-width: 100%;width: 100%;margin: 0 !important;">
            <div class="content" style="box-sizing: border-box;display: block;margin: 0 auto;max-width: 100%;">

                {% block content %}{% endblock %}

            </div>
        </td>
    </tr>
</table>
</body>
</html>
