{% extends 'template/innerpage/template.html.twig' %}

{% block content %}

    {% if app.user %}
        <section class="white">
            <div class="container">
                {% if app.user.isCustomerNow %}

                    <div id="orders" data-attach-vue="orders" data-order-id="{{ app.request.get('orderId') }}"></div>

                    {% include 'block/sender_banner.html.twig' %}

                    {% include 'block/questions.html.twig' %}

                {% elseif app.user.isCarrierNow %}

                    {% if false and is_granted('ROLE_ADMIN') %}
                        <div id="overload-batches" data-attach-vue="overload-batches"></div>

                        {#% include('site/personal/carrier/overload_orders.html.twig') %#}
                        {% include('site/personal/carrier/orders.html.twig') %}
                    {% else %}
                        {% include('site/personal/carrier/orders.html.twig') %}
                    {% endif %}

                {% endif %}

            </div>
        </section>
    {% endif %}

{% endblock %}