{% if articles is not empty %}
<div>
    <div class="h3">Блог
        <span class="tags-show-img">
            <img class="img1" src="{{ asset('/img/articles-show.svg') }}">
            <img class="img2 img-hidden" src="{{ asset('/img/articles-hide.svg') }}">
        </span>
    </div>
</div>
<div class="article-slider">
    <form class="tags">
        <div class="tags__tags-list">
            {% for tag in tags %}
            <div class="tags__item">
                <input type="checkbox"  class="tags__checkbox" id="checkbox{{ tag.id }}" value="{{ tag.id }}">
                <label for="checkbox{{ tag.id }}" class="tags__label tags__label_checked">{{ tag.title }}</label>
            </div>
            {% endfor %}
        </div>
    </form>
    <!-- Slider main container -->
    <div id="article-slider" class="swiper-container article-section-mobile">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            {% for articleList in articles|batch(4) %}
            <div class="swiper-slide">
                <div class="articles">
                    {% for article in articleList[0:1] %}
                        {% include 'site/article/previewTop.html.twig' with {'article': article} %}
                    {% endfor %}
                    <div class="articles__bottom-section">
                        {% for article in articleList[1:4] %}
                            {% include 'site/article/preview.html.twig' with {'article': article} %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12">
            <path fill="#BABABA" fill-rule="evenodd" d="M.578 10.594L5.172 6 .578 1.406 1.984 0l6 6-6 6z"/>
        </svg>

    </div>
    <div class="swiper-button-next">
        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12">
            <path fill="#BABABA" fill-rule="evenodd" d="M.578 10.594L5.172 6 .578 1.406 1.984 0l6 6-6 6z"/>
        </svg>
    </div>
</div>
{% endif %}
