<div class="h3">Истории клиентов</div>
<div class="client-slider">
    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img src="/img/client1.png" alt="">
                <div class="client-info">
                    <p>Обычно организация канала доставки — трудоемкий процесс. <br>Сервис Т-Т оказался очень простым в использовании. И самое главное — я могу задавать любые вопросы по телефону.</p>
                    <div class="client-meta">
                        <b>Мария</b>
                        <span>частный предприниматель</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/img/client2.png" alt="">
                <div class="client-info">
                    <p>Мы боремся за себестоимость и нам нужна стабильность. <br>Нас устроило наличие профессиональных складов и транспортная доступность. Планириуем продолжать сотрудничество — своих целей достигли.</p>
                    <div class="client-meta">
                        <b>Борис</b>
                        <span>владелец интернет-магазина</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/img/client3.png" alt="">
                <div class="client-info">
                    <p>Была проблема с ценой магистрали и сроком перевозки. <br>Причем нужны были гарантии. Да, мы немного потеряли в срочности, но зато получили существенный рост рентабельности и можем с уверенностью выполнять свои обещания.</p>
                    <div class="client-meta">
                        <b>Александр К.</b>
                        <span>логист</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/img/client4.png" alt="">
                <div class="client-info">
                    <p>Мы всегда очень внимательно относились к рискам, несмотря на постоянное давление по цене. Нашли необходимый компромисс. Все потенциальные потери застрахованы.</p>
                    <div class="client-meta">
                        <b>Михаил Алексеевич</b>
                        <span>Руководитель отдела логистики</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/img/client5.png" alt="">
                <div class="client-info">
                    <p>Наша постоянная головная боль — обработка большого количества грузовых мест.<br> Альтернатива была крайне неэффективна (собственный склад или заказ целого ТС). Нам предложили решение, которое выигрывает по всем статьям: упаковка, доставка, выдача конкретному получателю.</p>
                    <div class="client-meta">
                        <b>Сергей</b>
                        <span>оптовая компания</span>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="14" viewBox="0 0 30 14">
            <path fill="#BABABA" fill-rule="evenodd" d="M3.828 6.01H30v1.98H3.828l4.657 4.61L7.071 14 0 7l7.071-7 1.414 1.4z"/>
        </svg>
    </div>
    <div class="swiper-button-next">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="14" viewBox="0 0 30 14">
            <path fill="#BABABA" fill-rule="evenodd" d="M26.172 6.01H0v1.98h26.172l-4.657 4.61 1.414 1.4L30 7l-7.071-7-1.414 1.4z"/>
        </svg>
    </div>
</div>
