<div class="h3">Истории клиентов</div>
<div class="client-slider">
    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img src="/img/client6.png" alt="">
                <div class="client-info">
                    <p>Я глава семьи. Не могу позволить себе просто сидеть. <br>Сервис позволяет постоянно зарабатывать.</p>
                    <div class="client-meta">
                        <b>Дмитрий</b>
                        <span>ИП</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/img/client7.png" alt="">
                <div class="client-info">
                    <p>Очень важно, чтобы не было простоя транспорта. <br>Меня очень устраивает, что весь груз паллетирован и загрузка происходит очень быстро.</p>
                    <div class="client-meta">
                        <b>Андрей Н.</b>
                        <span>собственник</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/img/client8.png" alt="">
                <div class="client-info">
                    <p>Мы постоянно нанимаем грузовики, но используем только половину объема.<br> Предложение Т-Т существенно повысило заработок с одного ТС.</p>
                    <div class="client-meta">
                        <b>Павел Сергеевич</b>
                        <span>старший логист</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/img/client9.png" alt="">
                <div class="client-info">
                    <p>Нелегко найти клиентов. <br>Благодаря наличию груза, мы не только закрыли "бреши", но и увеличили грузопоток.</p>
                    <div class="client-meta">
                        <b>Виктор</b>
                        <span>Руководитель отдела продаж</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="14" viewBox="0 0 30 14">
            <path fill="#BABABA" fill-rule="evenodd" d="M3.828 6.01H30v1.98H3.828l4.657 4.61L7.071 14 0 7l7.071-7 1.414 1.4z"/>
        </svg>
    </div>
    <div class="swiper-button-next">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="14" viewBox="0 0 30 14">
            <path fill="#BABABA" fill-rule="evenodd" d="M26.172 6.01H0v1.98h26.172l-4.657 4.61 1.414 1.4L30 7l-7.071-7-1.414 1.4z"/>
        </svg>
    </div>
</div>
