{% if partners is not empty and partners.count > 0 %}

<div class="h3">Наши партнеры</div>
<div class="partner-slider">
    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            {% for row in partners|batch(4) %}
            <div class="swiper-slide">
                {% for partner in row %}
                    {% if partner.url %}
                        <a href="{{ partner.url }}" target="_blank">
                            <img src="{% path partner.media, 'small' %}" alt="{{ partner.title }}">
                        </a>
                    {% else %}
                    <img src="{% path partner.media, 'small' %}" alt="{{ partner.title }}">
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12">
            <path fill="#BABABA" fill-rule="evenodd" d="M.578 10.594L5.172 6 .578 1.406 1.984 0l6 6-6 6z"/>
        </svg>

    </div>
    <div class="swiper-button-next">
        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12">
            <path fill="#BABABA" fill-rule="evenodd" d="M.578 10.594L5.172 6 .578 1.406 1.984 0l6 6-6 6z"/>
        </svg>
    </div>
</div>
<div class="partner-slider partner-slider-mobile">
    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            {% for partner in partners %}
                <div class="swiper-slide">
                    {% if partner.url %}
                        <a href="{{ partner.url }}" target="_blank">
                            <img src="{% path partner.media, 'small' %}" alt="{{ partner.title }}">
                        </a>
                    {% else %}
                        <img src="{% path partner.media, 'small' %}" alt="{{ partner.title }}">
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12">
            <path fill="#BABABA" fill-rule="evenodd" d="M.578 10.594L5.172 6 .578 1.406 1.984 0l6 6-6 6z"/>
        </svg>

    </div>
    <div class="swiper-button-next">
        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12">
            <path fill="#BABABA" fill-rule="evenodd" d="M.578 10.594L5.172 6 .578 1.406 1.984 0l6 6-6 6z"/>
        </svg>
    </div>
</div>

{% endif %}
