{% if app.request.attributes.get('_route') != 'app.faq.index' and app.request.attributes.get('_route') != 'app.faq.carrier' %}
<div class="h3 go-to-faq"><span>Не нашли ответ? </span>
    <a class="go-to-faq__link pk" href="{{ path('app.faq.index') }}">к Частым вопросам <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12">
            <path fill-rule="evenodd" d="M.578 10.594L5.172 6 .578 1.406 1.984 0l6 6-6 6z"/></svg>
    </a>
    <a class="go-to-faq__link mob" href="{{ path('app.faq.index') }}">Частые вопросы <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12">
            <path fill-rule="evenodd" d="M.578 10.594L5.172 6 .578 1.406 1.984 0l6 6-6 6z"/></svg>
    </a>
</div>
{% else %}
    <div class="h3"><span>Остались вопросы?</span></div>
{% endif %}
<div class="any-question">
    <div class="quote-author">
        <img src="{{ asset('img/quote-author.png') }}" alt="">
        <div class="quote-author-info">
            <div class="h5">Максим Алексеев</div>
            <p>Операционный директор</p>
            <a onclick="counterEvent('Mail_max', 'click');" href="mailto:ma@dot-dot.ru"><img src="{{ asset('img/ic-mail.svg') }}" alt="">ma@dot-dot.ru</a>
        </div>
    </div>
    <div class="quote">
        Напишите мне — лично отвечу и расскажу подробнее про наши услуги. Дам
        рекомендации, как решить проблему.
    </div>
</div>
