<div class="sender-banner">
    <img src="{{ asset('img/sender-banner.jpg') }}" alt="">
    <div class="banner-info">
        <div class="h3">Готовы отправить груз?</div>
        <a href="{{ path('app.default.index') }}#calc-section" onclick="counterEvent('PEREHOD_K_RASCHETU', 'click'); return true;" class="btn btn-gray">Рассчитать</a>
    </div>
</div>