<div class="map-area">
    <div class="h3">Где находятся наши склады?</div>
    <div id="map"></div>
    <div class="container">
        {% for stock in stocks %}
        <div id="markerPopup{{ stock.id }}" class="marker-popup">
            <span class="close">
                <img src="/img/close.png" alt="">
            </span>
            <h5>{{ stock.title }}</h5>
            <p>
                <span>Адрес:</span>
                {{ stock.address }}
                <span>Время работы:</span>
                {{ stock.mode }}<br>
                <span>Контактный телефон:</span>
                {{ stock.phone }}
            </p>
            <a target="_blank" href="{{ path('app.stock.map_detail', { id: stock.id }) }}">
                <img src="/img/print.svg" alt="">
                Распечатать карту
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<script>
{% for stock in stocks %}
    var store = {
        id: {{ stock.id }},
        lat: {{ stock.lat }},
        lng: {{ stock.lng }}
    }
    window.stores.push(store);
{% endfor %}
</script>
