<template>
    <div v-if="batch" class="container loading" v-bind:class="{load: !loading}">
        <ul class="breadcrumbs">
            <li><a href="/wms/batch">Партии</a></li>
            <li><span>Принять</span></li>
        </ul>
        <div class="consignment-head">
            <div class="bolder-list">
                <div class="list-column">
                    <div class="list-item">
                        <span>ID партии</span>
                        <b>{{ batch.externalId }}</b>
                    </div>
                </div>
                <div class="list-column">
                    <div class="list-item">
                        <span>Доход, ₽</span>
                        <b>{{ batch.price }}</b>
                    </div>
                </div>
                <div class="list-column">
                    <div class="list-item">
                        <span>Общий вес, кг</span>
                        <b>{{ batch.totalWeight }}</b>
                    </div>
                </div>
            </div>
            <a target="_blank" :href="'/wms/pdf/batch/composition/'+batch.externalId" class="btn-gray not-filled pull-right">
                <img src="/img/print-dark.svg" alt="">
                Печать состава партии
            </a>
        </div>
        <span class="consist">Состав партии</span>
        <table class="order-table consignment-table">
            <thead>
            <tr>
                <th>
                    <span>ID палетты</span>
                    <sort :sort="sort" sortBy="pallet.id"></sort>
                </th>
                <th class="order-shipment">
                    <span>Вес отгрузки, кг:</span>
                    <sort :sort="sort" sortBy="pallet.weight"></sort>
                </th>
                <th class="order-accept">
                    <!--<span>Вес приемки, кг:</span>-->
                </th>
                <th class="order-crash">&nbsp;</th>
            </tr>
            </thead>

            <tbody v-for="pallet in batch.pallets" >
                <tr v-bind:class="{'not-equal' : isNotEqualPallet(pallet)}" >
                    <td class="order-number disabled">{{ pallet.externalId }}</td>
                    <td class="order-shipment js-shipment-value">{{ pallet.weight }}</td>
                    <td class="order-delivery">
                        <input type="text" v-filter="maskfilter.int" class="form-control" v-model="pallet.arriveWeight" v-on:change="toogleShowDetailPallet(pallet)" :checked="pallet.arriveWeight"/>
                    </td>
                    <td class="order-open">
                        <label class="control control--checkbox">
                            <input type="checkbox" v-model="pallet.damaged" :checked="pallet.damaged" v-on:click="toogleShowDetailPallet(pallet)" />
                            <div class="control__indicator"></div>
                            Повреждено
                        </label>
                        <span class="js-open-order" v-on:click="showDetailPallet(pallet)" v-bind:class="{'active' : isShowDetailPallet(pallet)}">
                            <img src="/img/down-arrow.svg" alt="">
                        </span>
                    </td>
                </tr>
                <tr v-if="isShowDetailPallet(pallet)">
                    <td colspan="6">
                        <ul class="consignment-list">
                            <li v-for="packageItem in pallet.packages">
                                <span>1.</span>
                                <div class="bolder-list">
                                    <div class="list-column big">
                                        <div class="list-item">
                                            <span>ID места</span>
                                            <b>{{ packageItem.externalId }}</b>
                                        </div>
                                        <div class="list-item">
                                            <span>Номер заказа:</span>
                                            <b>{{ packageItem.orderId }}</b>
                                        </div>
                                        <div class="list-item wide">
                                            <span>Тип груза</span>
                                            <b>{{ packageItem.packageType.title }}</b>
                                        </div>
                                    </div>
                                    <div class="list-column big">
                                        <div class="list-item wide">
                                            <span>Длина х Ширина х Высота, см:</span>
                                            <b>{{ packageItem.size }}</b>
                                        </div>
                                        <div class="list-item wide">
                                            <span>Упаковка:</span>
                                            <b v-if="packageItem.packing">{{ packageItem.packing.title }}</b>
                                            <b v-else>Без упаковки</b>
                                        </div>
                                    </div>
                                    <div class="list-column">
                                        <div class="list-item">
                                            <span>Объем, см3:</span>
                                            <b>{{ packageItem.volume }}</b>
                                        </div>
                                    </div>
                                    <div class="list-column">
                                        <div class="list-item">
                                            <span>Вес, кг:</span>
                                            <b>{{ packageItem.weight }}</b>
                                        </div>
                                    </div>
                                </div>
                                <label class="control control--checkbox">
                                    <input type="checkbox" v-model="packageItem.arriveDamaged" v-on:click="pallet.damaged = true" :checked="packageItem.arriveDamaged" />
                                    <div class="control__indicator"></div>
                                    Повреждено
                                </label>
                            </li>
                        </ul>

                    </td>
                </tr>
            </tbody>

        </table>

        <paginate
                v-scroll-to="{
                        el: '.order-table',
                        container: 'body',
                        duration: 700,
                        easing: 'ease-in',
                        offset: -200,

                        x: false,
                        y: true
                    }"
                v-if="pagination.pages > 1"
                :page-count="pagination.pages"
                :page-range="6"
                :margin-pages="1"
                prev-text=""
                prev-class="unstyled"
                prev-link-class="btn btn-rect previous"
                next-class="unstyled"
                next-link-class="btn btn-rect next"
                next-text=""
                :click-handler="changePage"
                :container-class="'pagination'"
                :page-class="'page-item'">
        </paginate>

        <div class="documents-links">

            <div class="form-group" v-bind:class="{disabled: !batchSaved}">
                <uploadFile
                        :file="getFileByGroup('act')"
                        :url="'/api/wms/wmsbatch/batch-upload-file/'+batch.id"
                        :name="'Акт ВР'"
                        :group="'act'"
                />
            </div>

            <div class="form-group" v-bind:class="{disabled: (!batchSaved) || !isDamaged}">
                <uploadFile
                        :file="getFileByGroup('act-discrepancy')"
                        :url="'/api/wms/wmsbatch/batch-upload-file/'+batch.id"
                        :name="'Акт Расхождения'"
                        :group="'act-discrepancy'"
                />
            </div>

            <div class="form-group" v-bind:class="{disabled: !batchSaved}">
                <a target="_blank" :href="'/wms/pdf/batch/act_completed/'+batch.externalId">
                    <img src="/img/print-dark.svg" alt="">
                    <span>Распечатать акт ВР</span>
                </a>
            </div>

            <div class="form-group" v-bind:class="{disabled: !batchSaved || !isDamaged}">
                <a target="_blank" :href="'/wms/pdf/batch/act_discrepancy/'+batch.externalId">
                    <img src="/img/print-dark.svg" alt="">
                    <span>Распечатать акт Расхождения</span>
                </a>
            </div>



            <div class="form-group">
                <uploadFile
                        :file="getFileByGroup('tn-delivery')"
                        :url="'/api/wms/wmsbatch/batch-upload-file/'+batch.id"
                        :name="'ТН'"
                        :group="'tn-delivery'"
                        :loadName="'ТН загружена'"
                />
            </div>

            <div class="form-group">
                <uploadFile
                        :file="getFileByGroup('procuratory-delivery')"
                        :url="'/api/wms/wmsbatch/batch-upload-file/'+batch.id"
                        :name="'доверенность'"
                        :group="'procuratory-delivery'"
                        :loadName="'Доверенность загружена'"
                />
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="order-column-buttons">
            <template v-if="!batchSaved">
                <a href="#" class="btn-default pull-right" v-on:click="batchSave($event)" v-bind:class="{disabled: batch.issueAt}">Сохранить</a>
            </template>
            <template v-else>
                <a href="#" class="btn-default pull-right" v-on:click="batchArrived($event)" v-bind:class="{disabled: batch.issueAt}">Завершить</a>
            </template>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import ff from '../../../vueconfig.js';
    import Files from '../../../block/files.vue';
    import UploadFile from '../../../block/upload-file.vue';
    import Sort from '../../../block/sort.vue';
    import vSelect from 'vue-select';
    import DatePicker from 'vue2-datepicker';
    import VModal from 'vue-js-modal';
    import Paginate from 'vuejs-paginate';
    import VueScrollTo from 'vue-scrollto';
    Vue.use(VModal);

    export default {
        name: 'batchArrived',
        props: ['batchId'],
        components: {
            Files,
            DatePicker,
            vSelect,
            Paginate,
            VueScrollTo,
            Sort,
            UploadFile
        },
        data() {
            return {
                loading: true,
                batchData: null,
                batch: null,
                filter: '',
                sort: {
                    by: 'id',
                    direction: 'desc'
                },
                edit: false,
                pagination: {
                    page : 1,
                    perPage : 10,
                    pages : 0,
                },
                selectPallets: [],
                maskfilter: ff.filter(),
                batchSaved: false,
                palletId: null,
            }
        },
        computed: {
            totalSelectPallet: function () {
                return this.selectPallets.length;
            },
            isDamaged: function() {
                let damaged = false;
                this.batch.pallets.forEach(pallet => {
                    if (this.isNotEqualPallet(pallet)) {
                        damaged = true;
                    }
                });
                return damaged;
            },
        },
        created() {

        },
        destroyed() {

        },
        methods: {
            formatPhone: function (phone) {
                return ff.formatPhone(phone);
            },

            formatDateTime: function (phone) {
                return ff.formatDateTime(phone);
            },

            formatDate: function (phone) {
                return ff.formatDate(phone);
            },

            formatTime: function (phone) {
                return ff.formatTime(phone);
            },

            getFileByGroup: function($type) {
                let $this = this;
                let $result = null;

                $.each($this.batch.files, function( index, file ) {
                    if (file.group.slug == $type) {
                        $result = file;
                    }
                })

                return $result;
            },

            batchSave: function($event) {
                var $this = this;
                var errorWeight = false;

                var formData = new FormData();

                $.each($this.batch.pallets, function( indexPallet, pallet ) {
                    formData.append('batch[pallet]['+indexPallet+'][id]', pallet.id);
                    formData.append('batch[pallet]['+indexPallet+'][damaged]', pallet.damaged ? 1 : 0);
                    formData.append('batch[pallet]['+indexPallet+'][arriveWeight]', pallet.arriveWeight);

                    if (!pallet.arriveWeight) {
                        errorWeight = true;
                    }

                    $.each(pallet.packages, function( indexPackage, packageItem ) {
                        formData.append('batch[pallet]['+indexPallet+'][packages]['+indexPackage+'][id]', packageItem.id);
                        formData.append('batch[pallet]['+indexPallet+'][packages]['+indexPackage+'][arriveDamaged]', packageItem.arriveDamaged ? 1 : 0);
                    });
                });

                if (errorWeight) {
                    ff.openPopup('Ошибка сохранения', 'Не указан вес всех паллет');
                    return false;
                }

                var jqxhr = $.ajax({
                    method: 'POST',
                    url: "/api/wms/wmsbatch/batch-arrived/"+$this.batch.id,
                    cache: false,
                    async: false,
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                });

                var data = jqxhr.responseJSON;

                if (data.status == true) {
                    if ($event) {
                        $this.batchSaved = true;
                    }
                }

                return false;
            },

            batchArrived: function($event) {
                var $this = this;

                var formData = new FormData();
                formData.append('batch[arrived]', true);

                var jqxhr = $.ajax({
                    method: 'POST',
                    url: "/api/wms/wmsbatch/batch-arrived/"+$this.batch.id,
                    cache: false,
                    async: false,
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                });

                var data = jqxhr.responseJSON;

                if (data.status == true) {
                    location.href = '/wms/batch';
                }

                return false;
            },

            addPallet: function (id) {
                var $this = this;
                if ($.inArray(id, this.selectPallets) == -1) {
                    $this.selectPallets.push(id);
                }

                return $this.selectPallets;
            },

            removePallet: function (id) {
                var $this = this;
                $.each($this.selectPallets, function( index, palletId ) {
                    if (id == palletId) {
                        $this.selectPallets.splice(index, 1);
                    }
                })

                return $this.selectPallets;
            },

            togglePalletActive: function (pallet) {
                var $this = this;
                if ($this.isPalletActive(pallet)) {
                    $this.removePallet(pallet);
                } else {
                    $this.addPallet(pallet);
                }

                return $this.selectPallets;
            },

            isPalletActive: function (pallet) {
                var $this = this;
                if ($.inArray(pallet, $this.selectPallets) != -1) {
                    return true;
                }

                return false;
            },

            selectAllPallets: function () {
                var $this = this;
                $.each($this.batch.palletIds, function( index, palletId ) {
                    if (!$this.isPalletActive(palletId.value)) {
                        $this.addPallet(palletId.value);
                    }
                })

                return false;
            },

            showDetailPallet: function (pallet) {
                if(this.palletId != pallet.id) {
                    this.palletId = pallet.id;
                } else {
                    this.palletId = null;
                }

                return false;
            },

            isShowDetailPallet: function (pallet) {
                if (this.palletId == pallet.id) {
                    return true;
                }

                return false;
            },

            toogleShowDetailPallet: function (pallet) {
                if(this.isNotEqualPallet(pallet)) {
                    pallet.damaged = true;
                    this.palletId = pallet.id;

                    if (pallet.packages.length == 1) {
                        pallet.packages[0].arriveDamaged = true;
                    }

                } else {
                    this.palletId = null;

                    $.each(pallet.packages, function( index, packageItem ) {
                        packageItem.arriveDamaged = false;
                    })
                }

                return false;
            },

            isNotEqualPallet: function (pallet) {
                if (pallet.damaged) {
                    return true;
                }

                if (pallet.weight != pallet.arriveWeight && pallet.arriveWeight > 0) {
                    return true;
                }

                return false;
            },




            loadBatch: function () {
                let $this = this;

                let jqxhr = $.ajax({
                    url: "/api/wms/wmsbatch/batch/"+$this.batchId,
                    cache: false,
                    async: false
                });

                let data = jqxhr.responseJSON.data;
                this.loading = false;

                this.batch = data;
            },
        },
        mounted: function() {
            this.loadBatch(this.batchId);
        },

        watch: {

        }
    }
</script>
