<template>
    <div v-if="batch" class="container loading" v-bind:class="{load: !loading}">
        <ul class="breadcrumbs">
            <li><a href="/wms/batch">Партии</a></li>
            <li><span>Отгрузить партию</span></li>
        </ul>

        <div class="consignment-head">
            <div class="bolder-list">
                <div class="list-column">
                    <div class="list-item">
                        <span>ID партии</span>
                        <b>{{ batch.externalId }}</b>
                    </div>
                </div>
                <div class="list-column">
                    <div class="list-item">
                        <span>Доход, ₽</span>
                        <b>{{ batch.price }}</b>
                    </div>
                </div>
                <div class="list-column">
                    <div class="list-item">
                        <span>Общий вес, кг</span>
                        <b>{{ batch.totalWeight }}</b>
                    </div>
                </div>
            </div>

            <a target="_blank" :href="'/wms/pdf/batch/composition/'+batch.externalId" class="btn-gray not-filled pull-right">
                <img src="/img/print-dark.svg" alt="">
                Печать состава партии
            </a>
        </div>
        <span class="consist">Состав партии</span>
        <table class="order-table shipment-table">
            <thead>
            <tr>
                <th>
                    <label class="control control--checkbox terms" v-bind:class="{disabled: batch.pallets.length <= 0}">
                        <input type="checkbox" class="js-select-all" v-on:click="selectAllPallets()" :checked="isTotalSelected()">
                        <div class="control__indicator"></div>
                    </label>
                    <span>ID паллеты</span>
                    <sort :sort="sort" sortBy="id"></sort>
                </th>
                <th class="order-send">
                    <span>Доставить до:</span>
                    <sort :sort="sort" sortBy="id"></sort>
                </th>
                <th class="order-status">
                    <span>Направление:</span>
                </th>
                <th class="order-price text-right">
                    <span>Вес, кг:</span>

                    <sort :sort="sort" sortBy="totalWeight"></sort>
                </th>
            </tr>
            </thead>
            <tr v-for="pallet in batch.pallets">
                <td class="order-number">
                    <label class="control control--checkbox terms">
                        <input type="checkbox" id="head-checkbox" :checked="isPalletActive(pallet)" v-on:click="togglePalletActive(pallet)" :key="pallet.id"/>
                        <div class="control__indicator"></div>
                    </label>
                    <span>{{ pallet.externalId }}</span>
                </td>
                <td class="order-date">
                    <span>{{ formatDate(pallet.deliverToAt) }}</span>
                    <span class="small">{{ formatTime(pallet.deliverToAt) }}</span>
                </td>
                <td class="order-delivery">{{ batch.direction.title }}</td>
                <td class="order-weight text-right">{{ pallet.weight }}</td>
            </tr>

        </table>

        <paginate
                v-scroll-to="{
                        el: '.order-table',
                        container: 'body',
                        duration: 700,
                        easing: 'ease-in',
                        offset: -200,

                        x: false,
                        y: true
                    }"
                v-if="pagination.pages > 1"
                :page-count="pagination.pages"
                :page-range="6"
                :margin-pages="1"
                prev-text=""
                prev-class="unstyled"
                prev-link-class="btn btn-rect previous"
                next-class="unstyled"
                next-link-class="btn btn-rect next"
                next-text=""
                :click-handler="changePage"
                :container-class="'pagination'"
                :page-class="'page-item'">
        </paginate>

        <div class="consignment-total">
            <span>Итого по партии</span>
            <div class="bolder-list">
                <div class="list-column">
                    <div class="list-item">
                        <span>Всего паллет:</span>
                        <b>{{ totalSelectPallet }}</b>
                    </div>
                </div>
                <div class="list-column">
                    <div class="list-item">
                        <span>Доставить до:</span>
                        <b v-if="totalSelectTimePallet">{{ formatDate(totalSelectTimePallet) }}</b>
                        <em v-if="totalSelectTimePallet">{{ formatTime(totalSelectTimePallet) }}</em>
                    </div>
                </div>
                <div class="list-column">
                    <div class="list-item">
                        <span>Направление:</span>
                        <b>{{ batch.direction.title }}</b>
                    </div>
                </div>
                <div class="list-column">
                    <div class="list-item text-right">
                        <span>Вес партии, кг:</span>
                        <b>{{ totalSelectWeightPallet }}</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="documents-links">
            <div class="form-group">
                <uploadFile
                        :file="getFileByGroup('procuratory-shipping')"
                        :url="'/api/wms/wmsbatch/batch-upload-file/'+batch.id"
                        :name="'Доверенность'"
                        :group="'procuratory-shipping'"
                        :loadName="'Доверенность загружена'"
                />
            </div>

            <div class="form-group">
                <a target="_blank" :href="'/wms/pdf/batch/tn/'+batch.externalId">
                    <img src="/img/print-dark.svg" alt="">
                    <span>Распечатать ТН </span>
                </a>
            </div>

            <div class="form-group">
                <uploadFile
                        :file="getFileByGroup('tn-shipping')"
                        :url="'/api/wms/wmsbatch/batch-upload-file/'+batch.id"
                        :name="'ТН'"
                        :group="'tn-shipping'"
                        :loadName="'ТН загружена'"
                />
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="order-column-buttons pull-right">
            <a href="#" v-if="!batchSaved" v-on:click="batchSave($event)" class="btn-default pull-right" v-bind:class="{disabled: selectPallets.length <= 0}">Сохранить</a>
            <a href="#" v-else v-on:click="batchLoad($event)" class="btn-default pull-right" v-bind:class="{disabled: selectPallets.length <= 0}">Отгрузить</a>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import ff from '../../../vueconfig.js';
    import Files from '../../../block/files.vue';
    import UploadFile from '../../../block/upload-file.vue';
    import Sort from '../../../block/sort.vue';
    import vSelect from 'vue-select';
    import DatePicker from 'vue2-datepicker';
    import VModal from 'vue-js-modal';
    import Paginate from 'vuejs-paginate';
    import VueScrollTo from 'vue-scrollto';
    Vue.use(VModal);

    export default {
        name: 'batchLoad',
        props: ['batchId'],
        components: {
            Files,
            DatePicker,
            vSelect,
            Paginate,
            VueScrollTo,
            Sort,
            UploadFile
        },
        data() {
            return {
                loading: true,
                batchData: null,
                batch: null,
                filter: '',
                sort: {
                    by: 'id',
                    direction: 'desc'
                },
                edit: false,
                pagination: {
                    page : 1,
                    perPage : 10,
                    pages : 0,
                },
                selectPallets: [],
                batchSaved: false,
            }
        },
        computed: {
            totalSelectPallet: function () {
                return this.selectPallets.length;
            },
            totalSelectWeightPallet: function () {
                var totalWeight = 0;
                $.each(this.selectPallets, function( index, pallet ) {
                    totalWeight = totalWeight + pallet.weight;
                })
                return totalWeight;
            },
            totalSelectTimePallet: function () {
                var deliverToAt = null;
                $.each(this.selectPallets, function( index, pallet ) {
                    if (!deliverToAt) {
                        deliverToAt = pallet.deliverToAt;
                    }
                    if (deliverToAt > ff.convertDate(pallet.deliverToAt)) {
                        deliverToAt = pallet.deliverToAt;
                    }
                })
                return deliverToAt;
            },
        },
        created() {

        },
        destroyed() {

        },
        methods: {
            formatPhone: function (phone) {
                return ff.formatPhone(phone);
            },

            formatDateTime: function (phone) {
                return ff.formatDateTime(phone);
            },

            formatDate: function (phone) {
                return ff.formatDate(phone);
            },

            formatTime: function (phone) {
                return ff.formatTime(phone);
            },

            getFileByGroup: function($type) {
                let $this = this;
                let $result = null;

                $.each($this.batch.files, function( index, file ) {
                    if (file.group.slug == $type) {
                        $result = file;
                    }
                })

                return $result;
            },

            batchSave: function($event) {
                var $this = this;

                var formData = new FormData();
                $.each($this.selectPallets, function( index, pallet ) {
                    formData.append('wmsBatch[palletIds]['+index+']', pallet.id);
                })

                var jqxhr = $.ajax({
                    method: 'POST',
                    url: "/api/wms/wmsbatch/batch-save/"+$this.batch.id,
                    cache: false,
                    async: false,
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                });

                var data = jqxhr.responseJSON;

                if (data.status == true) {
                    $this.batchSaved = true;
                }

                return false;
            },

            batchLoad: function($event) {
                var $this = this;

                var formData = new FormData();
                $.each($this.selectPallets, function( index, pallet ) {
                    formData.append('wmsBatch[palletIds]['+index+']', pallet.id);
                })

                var jqxhr = $.ajax({
                    method: 'POST',
                    url: "/api/wms/wmsbatch/batch-load/"+$this.batch.id,
                    cache: false,
                    async: false,
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                });

                var data = jqxhr.responseJSON;

                if (data.status == true) {
                    location.href = '/wms/batch';
                }

                return false;
            },

            addPallet: function (pallet) {
                var $this = this;
                if ($.inArray(pallet, this.selectPallets) == -1) {
                    $this.selectPallets.push(pallet);
                }

                return $this.selectPallets;
            },

            removePallet: function (pallet) {
                var $this = this;
                $.each($this.selectPallets, function( index, selectPallet ) {
                    if (pallet.id == selectPallet.id) {
                        $this.selectPallets.splice(index, 1);
                    }
                })

                return $this.selectPallets;
            },

            togglePalletActive: function (pallet) {
                var $this = this;
                if ($this.isPalletActive(pallet)) {
                    $this.removePallet(pallet);
                } else {
                    $this.addPallet(pallet);
                }

                return $this.selectPallets;
            },

            isPalletActive: function (pallet) {
                var $this = this;
                var result = false;
                $.each($this.selectPallets, function( index, selectPallet ) {
                    if (pallet.id == selectPallet.id) {
                        result = true;
                    }
                })

                return result;
            },

            selectAllPallets: function () {
                var $this = this;
                if ($this.isTotalSelected()) {
                    $this.removeAllPallets();
                } else {
                    $this.addAllPallets();
                }

                return false;
            },

            addAllPallets: function () {
                var $this = this;
                $.each($this.batch.pallets, function( index, pallet ) {
                    if (!$this.isPalletActive(pallet)) {
                        $this.addPallet(pallet);
                    }
                })

                return false;
            },

            removeAllPallets: function () {
                this.selectPallets = [];

                return false;
            },


            isTotalSelected: function () {
                var $this = this;
                var result = true;

                $.each($this.batch.pallets, function( index, pallet ) {
                    if (!$this.isPalletActive(pallet)) {
                        result = false;
                    }
                })

                return result;
            },

            loadBatch: function () {
                let $this = this;

                let jqxhr = $.ajax({
                    url: "/api/wms/wmsbatch/batch/"+$this.batchId,
                    cache: false,
                    async: false
                });

                let data = jqxhr.responseJSON.data;
                this.loading = false;

                this.batch = data;
            },
        },
        mounted: function() {
            this.loadBatch(this.batchId);
        },

        watch: {

        }
    }
</script>
