<template>
    <div>
        <div>
            <div v-if="!isEditFromAvailable" class="disabled-area form-group-area">
                <div class="order-info-item">
                    <b>Точка отправления: </b>
                    <span v-if="pickUp.active">{{ pickUp.address }}</span>
                    <span v-else-if="pickUp.stockObject">{{ pickUp.stockObject.address }}</span>
                </div>
                <div v-if="pickUp.date" class="order-info-item">
                    <b>Дата и время:</b> {{ formatDateTime(pickUp.dateObject) }}
                </div>
            </div>

            <div v-if="isEditFromAvailable">
                <div class="form-group" v-if="!pickUp.active">
                    <label>Точка отправления*</label>
                    <v-select
                            :readonly="this.editRecevier"
                            placeholder="Выберите точку отправления"
                            :multiple="false"
                            :reduce="item => item.value"
                            v-model="pickUp.stock"
                            label="title"
                            :name="'pickUp.stock'"
                            :options="stocksFromList"
                            v-bind:class="{error: errors.has('pickUp.stock')}"
                            v-validate="{required: !pickUp.active && !pickUp.stock}"
                    >
                    </v-select>

                    <label v-if="errors.has('pickUp.stock')" class="error">Выберите точку отправления</label>
                </div>

                <div class="form-group order-address-from" v-if="pickUp.active">
                    <label>Точка отправления*</label>
                    <div class="order-address custom-autocomplete-select">
                        <VueAddressSuggestion
                                :model.sync="pickUp.address"
                                :placeholder="'Введите адрес'"
                                class="form-control"
                                :name="'pickUp.address'"
                                :options="suggestionOptionsAddress">
                        </VueAddressSuggestion>
                    </div>
                    <label v-if="errors.has('pickUp.address')" class="error">Укажите правильный адрес. Адрес должен содержать город, улицу, дом.</label>
                </div>

                <div class="form-group" v-if="isEditFirstMileAvailable">
                    <label class="control control--checkbox" v-bind:class="{'error': errors.has('pickUp.active')}">
                        Забрать груз с адреса отправителя

                        <input type="checkbox" v-model="pickUp.active" :name="pickUp.active" :id="pickUp.active" v-validate="{required: !pickUp.stock}">
                        <div class="control__indicator"></div>
                    </label>
                </div>
                <div class="hidden-order-settings visible" v-if="pickUp.active">
                    <div class="form-group">
                        <label>Дата и время</label>
                        <div>
                            <date-picker
                                    type="datetime"
                                    v-model="pickUp.date"
                                    :disabled-days="disabledDates"
                                    lang="ru"
                                    :minute-step="10"
                                    :time-picker-options="timeOptions()"
                                    :value="pickUp.date"
                                    :first-day-of-week="1"
                                    format="DD.MM.YYYY HH:mm"
                                    :clearable="false"
                                    name="pickUp.date"
                                    :input-attr="{ required: pickUp.active, name: 'pickUp.date'}"
                                    placeholder="Дата и время"
                                    v-validate="{required: pickUp.active}"
                                    v-bind:class="{ error: errors.has('pickUp.date')}"
                            >
                            </date-picker>
                        </div>
                    </div>

                    <div class="form-group order-settings-radio">
                        <label class="control control--checkbox">Один грузчик
                            <input type="checkbox" :name="pickUp.countLoader" v-model="pickUp.countLoader" true-value="1" false-value="0" v-bind:class="{checked: pickUp.countLoader === 1}"/>
                            <div class="control__indicator"></div>
                        </label>
                        <label class="control control--checkbox" >Два грузчика
                            <input type="checkbox" :name="pickUp.countLoader" v-model="pickUp.countLoader" true-value="2" false-value="0"  v-bind:class="{checked: pickUp.countLoader === 2}"/>
                            <div class="control__indicator"></div>
                        </label>
                        <label class="control control--checkbox">Гидроборт
                            <input type="checkbox" :name="pickUp.hydroBoard" v-model="pickUp.hydroBoard" :disabled="!pickUpHydroBoard"/>
                            <div class="control__indicator"></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group-area">
            <div v-if="!isEditLastAvailable" class="disabled-area form-group-area">
                <div class="order-info-item">
                    <b><slot name="deliver-stock-title">Точка доставки</slot>:</b>
                    <span v-if="deliver.active">{{ deliver.address }}</span>
                    <span v-else-if="deliver.stockObject">{{ deliver.stockObject.address }}</span>
                </div>
                <div v-if="deliver.date" class="order-info-item">
                    <b>Дата и время:</b>
                    {{ formatDateTime(deliver.dateObject) }}
                </div>
            </div>

            <div v-if="isEditLastAvailable">
                <div class="form-group" v-if="!deliver.active || stocksTo.length !== 1"> 
                    <template v-if="this.isCreated || this.isNew || this.isWaiting">
                        <label><slot name="deliver-stock-title">Точка доставки</slot>*</label>

                        <v-select
                                :readonly="this.editRecevier"
                                placeholder="Выберите точку доставки"
                                :multiple="false"
                                :reduce="item => item.id"
                                v-model="deliver.stock"
                                label="address"
                                name="deliver.stock"
                                :options="stocksTo"
                                v-bind:class="{error: errors.has('deliver.stock')}"
                                v-validate="{required: (stocksTo.length !== 1) || !deliver.active}"
                        >
           
                        </v-select>

                        <label v-if="errors.has('deliver.stock')" class="error">Выберите точку доставки</label>
                    </template>
                    <template v-else-if="(!this.isCreated && !this.isNew && !this.isWaiting) && deliver.stockObject">
                        <div class="order-info-item">
                            <b><slot name="deliver-stock-title">Точка доставки</slot>: </b>
                            <span v-if="deliver.stockObject">{{ deliver.stockObject.address }}</span>
                        </div>
                    </template>
                </div>
                <template>
                    <template v-if="(this.isEditDeliver || this.isCreated || this.isNew || this.isAddDeliver) && !deliver.externalId && !this.payed">
                        <div class="form-group order-address-to" v-if="deliver.active" v-bind:class="{'disabled': deliver.externalId || this.payed}">
                            <label>Точка доставки* </label>
                            <div class="order-address custom-autocomplete-select">
                                <VueAddressSuggestion
                                        :model.sync="deliver.address"
                                        :placeholder="'Введите адрес'"
                                        class="form-control"
                                        :name="'deliver.address'"
                                        @change="validateDeliverAddress"
                                        :options="suggestionOptionsAddress">
                                </VueAddressSuggestion>
                            </div>
                            <label v-if="errors.has('deliver.address')" class="error">Укажите правильный адрес. Адрес должен содержать город, улицу, дом.</label>
                        </div>
                    </template>
                    <template v-else-if="deliver.externalId || this.payed">
                        <div class="order-info-item" v-if="deliver.active">
                            <b>Точка доставки: </b>
                            <span v-if="deliver.stockObject">{{ deliver.address }}</span>
                        </div>
                        <div class="order-info-item" v-else-if="deliver.active == false">
                            <b><slot name="deliver-stock-title">Точка доставки</slot>: </b>
                            <span v-if="deliver.stockObject">{{ deliver.stockObject.address }}</span>
                        </div>
                    </template>

                    <div class="form-group" v-if="isEditLastMileAvailable" v-bind:class="{'disabled': this.payed}">
                        <label class="control control--checkbox" v-bind:class="{'error': errors.has('deliver.active')}">
                            Доставить до адреса получателя
                            <input 
                                    type="checkbox" 
                                    v-model="deliver.active" 
                                    id="deliver.active" 
                                    v-bind:class="{checked: deliver.active == 1}" 
                                    v-validate="{required: !deliver.stock}">
                            <div class="control__indicator"></div>
                        </label>
                    </div>
                    <div class="hidden-order-settings visible" v-if="deliver.active">
                        <div class="form-group">
                            <label>Дата и время*</label>

                            <date-picker
                                    type="datetime"
                                    v-model="deliver.date"
                                    :disabled-days="disabledDatesDeliver"
                                    lang="ru"
                                    :minute-step="10"
                                    :disabled="!this.isEditDeliver"
                                    :time-picker-options="timeOptionsDeliver()"
                                    :value="deliver.date"
                                    name="deliver.date"
                                    :first-day-of-week="1"
                                    format="DD.MM.YYYY HH:mm"
                                    :clearable="false"
                                    placeholder="Дата и время"
                                    v-validate="{required: deliver.active && !!this.isEditDeliver}"
                                    v-bind:class="{ error: errors.has('deliver.date')}"
                            >
                            </date-picker>

                            <i class="tooltip-link deliver-tooltip-link" v-b-tooltip.hover="{'placement': 'top', 'title': 'Будут доступны после доставки в город назначения'}" >
                                <img src="/img/info-gray.svg" alt="">
                            </i>

                        </div>
                        <div class="form-group order-settings-radio" v-bind:class="{'disabled': deliver.externalId || this.payed}">
                            <label class="control control--checkbox">Один грузчик
                                <input type="checkbox" name="deliver.countLoader1" value="1" v-model="deliver.countLoader" true-value="1" false-value="0" v-bind:class="{checked: deliver.countLoader == 1}"/>
                                <div class="control__indicator"></div>
                            </label>
                            <label class="control control--checkbox" >Два грузчика
                                <input type="checkbox" name="deliver.countLoader2" value="2" v-model="deliver.countLoader" true-value="2" false-value="0" v-bind:class="{checked: deliver.countLoader == 2}"/>
                                <div class="control__indicator"></div>
                            </label>
                            <label class="control control--checkbox">Гидроборт
                                <input type="checkbox" name="deliver.hydroBoard" v-model="deliver.hydroBoard"/>
                                <div class="control__indicator"></div>
                            </label>
                        </div>
                    </div>
                </template>
            </div>

        </div>


    </div>


</template>

<script>
    import Vue from 'vue';
    import ff from '../../../../vueconfig.js';
    import {MoverPickUp, MoverDeliver} from '../../../../custom/Mover/MoverTime';

    import Files from '../../../../block/files.vue';
    import vSelect from 'vue-select';
    import DatePicker from 'vue2-datepicker';
    import VModal from 'vue-js-modal';
    import VueSuggestions from 'vue-suggestions';
    import VueAddressSuggestion from "../../../../custom/vue-address-suggestion";

    //Vue.use(VModal);
    Vue.use(VModal, { dialog: true });

    export default {
        name: 'orderStepDirection',
        props: [
            'pickUp',
            'deliver',        

            'isEditFromAvailable',
            'isEditLastAvailable',

            'isEditFirstMileAvailable',
            'isEditLastMileAvailable',

            'direction',
            'orderId',

            // Потом это оптимизировать
            'isCreated',
            'isNew',
            'isWaiting',
            'payed',
            'isAddDeliver',
            'isEditDeliver',
            'editRecevier',
        ],
        components: {
            Files,
            DatePicker,
            vSelect,
            VueSuggestions,
            VueAddressSuggestion
        },
        data() {
            return {
                suggestionOptionsAddress: {
                    token: 'c9aa5fdc338a746e23ce91ceb6fdb9e635749833',
                    type: "ADDRESS",
                    scrollOnFocus: false,
                    triggerSelectOnBlur: false,
                    triggerSelectOnEnter: false,
                    addon: 'none',
                    onSelect (suggestion) {

                    }
                },
            }
        },
        computed: {
            stocks() {
                return this.$store.getters['config/stocks'];
            },
            directions() {
                return this.$store.getters['config/directions'];
            },            
            stocksFrom() {
                let direction = this.direction;
                let stocks = this.stocks;

                var result = [];
                

                $.each(stocks, function( index, item ) {
                    result.push(item);
                });

                return result;
            },
            stocksTo() {
                let direction = this.direction;
                let stocks = this.stocks;
            
                var result = [];
                let cityList = [];
                $.each(this.directions, (index, item) => {
                    if (direction.cityFrom && direction.cityFrom.id == item.cityFrom.id) {
                        cityList.push(item.cityTo.id);
                    }
                })                

                if (cityList.length > 0) {
                    $.each(stocks, function( index, item ) {
                        if (cityList.indexOf(item.city.id) >= 0) {
                            result.push(item);
                        }
                    });
                }                
                
                return result;
            },
        },
        created() {

        },
        methods: {
            // Валидирует шаг и возвращает оъект в случае успеха
            isValid() {
                let $this = this;
                let tmpPromise = new Promise((resolve, reject) => {
                    $this.$validator.validateAll().then(function(resultItem) {
                        if (!$this.errors.any()) {
                            resolve({
                                pickUp: $this.pickUp,
                                deliver: $this.deliver,
                            });
                        } else {
                            reject(false);
                        }
                    });
                });

                return tmpPromise;
            },

            formatDateTime: function (date) {
                return ff.formatDateTime(date);
            },


            // Доступные даты для отправки
            timeOptions: function () {
                let options = {start: '09:00', step: '00:10', end: '16:00'};

                if (this.pickUp.date) {
                    let boundaries = MoverPickUp.getTimeBoundaries(this.pickUp.date);
                    options.start = boundaries.start;
                    options.end = boundaries.end;
                }

                return options;
            },
            disabledDates: function (date) {
                if (date.getHours() === 0 && date.getMinutes() === 0) {
                    return MoverPickUp.isDateAvailable(date);
                }
                return MoverPickUp.isTimeAvailable(date);
            },

            // Доступные даты для получения
            timeOptionsDeliver: function () {
                let options = {start: '09:00', step: '00:10', end: '16:00'};

                if (this.pickUp.date) {
                    let boundaries = MoverDeliver.getTimeBoundaries(this.pickUp.date);
                    options.start = boundaries.start;
                    options.end = boundaries.end;
                }

                return options;
            },
            disabledDatesDeliver: function (date) {
                if (date.getHours() === 0 && date.getMinutes() === 0) {
                    return MoverDeliver.isDateAvailable(date);
                }
                return MoverDeliver.isTimeAvailable(date);
            },

            validateDeliverAddress: function () {
                if (this.$validator.fields.find({name: 'deliver.address'})) {
                    this.$validator.validateAll(['deliver.address']).then(data => { }, error => { });
                }
            }
        },
        watch: {
            'pickUp.stock': function (val) {
                this.$emit('pickup_update', this.pickUp);
            },
            'deliver.stock': function (val) {
                this.$emit('deliver_update', this.deliver);
            },
        }
    }
</script>
