<template>
    <div>
        <div class="order-info-item__login">
            <a href="#" v-on:click="showLogin()" class="btn-default">Войти</a>
            <a href="/register" class="btn-default" target="_blank">Регистрация</a>
        </div>

        <modal name="wms-login-popup" :height="'auto'" >
            <div class="main-popup">
                <div class="h2">Авторизация</div>
                    <div class="login-wrap">
                        <div class="content text-left">
                            <div class="form-column">
                                <div class="form-group">
                                    <label for="loginPhone">Введите логин (номер моб. телефона)</label>
                                    <input tabindex="-1" v-model="phone" v-mask="mask.phone" type="text" class="form-control" name="loginPhone" id="loginPhone" autocomplete="off" v-validate="{phone: true}">
                                    <p v-if="errorPhoneMessage" style="color: red;">{{ errorPhoneMessage }}</p>
                                </div>
                            </div>
                            <div class="form-column">
                                <span tabindex="-1" v-on:keyup.enter="sendSms()" v-on:click="sendSms()" class="btn-default js-order-login-code" v-bind:class="{'disabled': isValidPhone == false || send == true}">Отправить код</span>
                            </div>
                            <div class="form-column">
                                <div class="form-group">
                                    <label for="logPassword">Введите код из смс</label>
                                    <input tabindex="-1" v-model="code" v-bind:class="{'error': checkCode == false, 'disabled': send == false }" type="text" class="form-control" name="logPassword" id="logPassword" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-column">
                                <div class="form-group" style="line-height: 1"><b>ИЛИ</b></div>
                            </div>

                            <div class="form-column">
                                <div class="form-group">
                                    <label for="logPassword">Введите код для склада</label>
                                    <input
                                            v-mask="'NNNNN-NNNNN'"
                                            tabindex="-1"
                                            v-model="authtoken"
                                            v-bind:class="{'disabled': false }"
                                            type="text"
                                            class="form-control"
                                            name="authtoken"
                                            autocomplete="off">
                                </div>
                            </div>

                            <p v-if="errorMessage" >{{ errorMessage }}</p>

                            <button type="button" @click="auth" class="btn-active" v-bind:class="{'disabled': !authtoken.length && (checkCode == false || send == false) }">Войти</button>

                        </div>
                    </div>
            </div>
        </modal>

    </div>

</template>



<script>
    import Vue from 'vue';
    import ff from '../../../../vueconfig.js';



    export default {
        name: 'wms-order-login',
        props: [
            'orderId'
        ],
        data() {
            return {
                phone: '',
                send: false,
                code: null,
                error: false,
                mask: ff.mask(),
                maskfilter: ff.filter(),
                checkCode: null,
                authtoken: '',
                errorMessage: '',
                errorPhoneMessage: null,
            }
        },
        methods: {
            showLogin: function () {
                this.$modal.show('wms-login-popup');
            },


            sendSms: function () {
                let phone = this.phone;
                let jqxhr = $.ajax({
                    url: "/api/security/sendsms/wms",
                    cache: true,
                    async: false,
                    data: {phone: phone}
                });

                let data = jqxhr.responseJSON;
                if (data.error) {
                    this.errorPhoneMessage = data.error;
                    return false;
                }

                this.errorPhoneMessage = null;
                this.send = true;

                return data.status;
            },

            checkSmsCode: function () {
                this.checkCode = null;

                let code = this.code;
                let jqxhr = $.ajax({
                    url: "/api/security/checksms",
                    cache: true,
                    async: false,
                    data: {code: code}
                });

                let data = jqxhr.responseJSON;

                this.checkCode = data.status;

                return data.status;
            },

            resendSms: function ($event) {
                let button = $($event.target);
                if (button.hasClass('disabled')) {
                    return false;
                }

                this.sendSms();
                button.addClass('disabled');

                setTimeout(function(){
                    button.removeClass('disabled');
                }, 20000)

                return false;
            },

            auth: function ($event) {
                if (!this.authtoken) {
                    if (this.checkSmsCode() != true) {
                        return false;
                    }
                }

                let jqxhr = $.ajax({
                    method: 'POST',
                    url: "/api/wms/security/auth_client",
                    cache: false,
                    async: false,
                    data: {
                        phone: ff.formatUserName(this.phone),
                        code: this.code,
                        authtoken: this.authtoken,
                        orderId: this.orderId
                    }
                });

                let json = jqxhr.responseJSON;

                if (json.status != undefined && json.status) {
                    this.$modal.hide('wms-login-popup');
                    this.$emit('auth_succesfull');
                } else {
                    this.error = true;
                    if (json.error) {
                        this.errorMessage = json.error[0];
                    }
                }

                return false;
            },



        },
        watch: {
            code: function(val) {
                this.error = false;
                if (val.length == 4) {
                    this.checkSmsCode();
                }
            }
        },
        computed: {
            isValidPhone: function() {
                if (ff.formatUserName(this.phone).length == 10) {
                    return true;
                }

                return false;
            }
        },
        mounted: function() {

        }


    }
</script>



