<template>
    <div>
        <table class="order-info">
            <tr>
                <th>Номер заказа:</th>
                <th>Стоимость перевозки, ₽:</th>
                <th>Количество мест:</th>
                <th>Объем, м3:</th>
                <th>Общий вес, кг:</th>
            </tr>
            <tr>
                <td>{{ order.externalId }}</td>
                <td>
                    <div v-if="order.suspendedPrice">
                        {{ order.suspendedPrice }} ₽
                    </div>
                    <div v-else-if="order.price && order.isShowRealPrice">
                        {{ order.price }} ₽
                    </div>
                    <div v-else-if="order.minPrice">
                        <template v-if="order.minPrice != order.maxPrice">
                            {{ order.minPrice }} - {{ order.maxPrice }} ₽
                        </template>
                        <template v-else-if="order.minPrice == order.maxPrice">
                            {{ order.minPrice }} ₽
                        </template>
                    </div>
                </td>
                <td>{{ order.totalPackages }}</td>
                <td>{{ order.totalVolume }}</td>
                <td>{{ order.totalWeight }}</td>
            </tr>
        </table>
    </div>
</template>



<script>
    import Vue from 'vue';

    export default {
        name: 'wmsOrderInfo',
        props: ['orderId'],
        computed: {
            order() {
                return this.$store.getters.originalOrder(this.orderId);
            },
        },
    }
</script>
