<template>
    <div>
        <div :id="'packageItem'+index" :key="index" class="form-row-wrap">
            <ul class="row-buttons">
                <li class="js-cargo-quantity cargo-qty" v-bind:class="{ active: packageItem.count > 1}">
                    <input type="text" v-filter="filter.int" v-model="packageItem.count" name="packageItem.count">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="19"><path fill="none" stroke="#BABABA" stroke-width="2" stroke-miterlimit="10" d="M5 1h14v14H5z"/><path fill="#FFF" stroke="#BABABA" stroke-width="2" stroke-miterlimit="10" d="M1 5h14v14H1z"/></svg>
                </li>
                <li v-if="packageItem.id > 0" class="order-edit-print">
                    <a target="_blank"  :href="'/wms/pdf/order/marking-package/' + packageId">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="#BABABA" d="M21 17h-4v3H7v-3H3V8h18v9zm-2-2v-5H5v5h2v-3h10v3h2zm-4 3v-4H9v4h6zM7 4h10v2H7V4z"/></svg>
                    </a>
                </li>
                <li v-if="edit" lass="js-delete-order" data-id="'package'+index" v-on:click="$parent.removePackage(index)">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="14"><path fill="none" stroke="#BABABA" stroke-width="2" stroke-miterlimit="10" d="M0 0l13.9 14M14 0L0 13.9"/></svg>
                </li>
            </ul>

            <div class="form-row">
                <div class="form-column">
                    <div class="form-group bigger" v-bind:class="{ error: errors.has('packageItem.packageType') }">
                        <label for="orderType">Тип груза*</label>
                        <v-select
                                placeholder="Выберите тип груза"
                                :multiple="false"
                                :clearable="false"
                                :reduce="type => { return {id: type.id} }"
                                :name="'packageItem.packageType'"
                                v-model="packageItem.packageType"
                                label="title"
                                :options="packageTypes"
                                v-bind:class="{ error: errors.has('packageItem.packageType') }"
                                v-validate="{required: true}"
                                v-on:change="$parent.clearSave()">
                            <template slot="option" slot-scope="option">
                                {{ option.title }}
                            </template>
                        </v-select>

                        <input type="text"
                               v-if="packageItem.packageType && !packageItem.packageType.id"
                               v-model="packageItem.packageTypeAnother"
                               id="packageAnotherType"
                               v-bind:class="{ error: errors.has('packageItem.packageTypeAnother'), 'active' : !packageItem.packageType.id }"
                               v-validate="{required: !packageItem.packageType.id}" :name="'packageItem.packageTypeAnother'"
                               class="form-control hidden-field" >

                        <label class="error" v-if="errors.has('packageItem.packageTypeAnother')">Введите тип груза</label>
                        <label class="error" v-if="errors.has('packageItem.packageType')">Выберите тип груза</label>
                    </div>

                    <div class="form-group half mr-0">
                        <label for="orderSingleWeight">Вес 1 места, кг*</label>
                        <input type="text" class="form-control js-eq-right"
                               v-bind:class="{ error: errors.has('packageItem.weight') }"
                               :name="'packageItem.weight'"
                               v-model="packageItem.weight"
                               v-validate="{required: true}"
                               placeholder="не менее 1">

                        <label class="error" v-if="errors.has('packageItem.weight') && !packageItem.weight">Заполните поле</label>
                    </div>

                </div>
                <div class="form-column">
                    <div class="form-group small">
                        <label for="orderLength">Длина, см</label>

                        <input type="text"
                               class="form-control js-eq-left"
                               :placeholder="'не более '+maxDepth"
                               v-bind:class="{ error: errors.has('packageItem.depth')}"
                               :name="'packageItem.depth'"
                               v-model="packageItem.depth"
                               v-validate="{'required': true}">

                        <label class="error" v-if="errors.has('packageItem.depth') && !packageItem.depth">Заполните поле</label>
                    </div>
                    <div class="form-group small">
                        <label for="orderWidth">Ширина, см</label>

                        <input type="text"
                               class="form-control js-eq-left"
                               :placeholder="'не более '+maxWidth" 
                               v-bind:class="{ error: errors.has('packageItem.width')}"
                               :name="'packageItem.width'"
                               v-model="packageItem.width"
                               v-validate="{'required' : true}">

                        <label class="error" v-if="errors.has('packageItem.width') && !packageItem.width">Заполните поле</label>
                    </div>
                    <div class="form-group small mr-0">
                        <label for="orderHeight">Высота, см</label>

                        <input type="text"
                               class="form-control js-eq-left"
                               :placeholder="'не более '+maxHeight"
                               v-bind:class="{ error: errors.has('packageItem.height')}"
                               :name="'packageItem.height'"
                               v-model="packageItem.height"
                               v-validate="{'required' : true}">

                        <label class="error" v-if="errors.has('packageItem.height') && !packageItem.height">Заполните поле</label>
                    </div>
                </div>
                <div class="form-column" v-if="isAvailablePacking">
                    <div class="form-group bigger">
                        <label>Упаковка</label>

                        <v-select
                                class="packing-item"
                                placeholder="Без упаковки"
                                :multiple="false"
                                :clearable="false"
                                :reduce="item => { return {'id': item.id} }"
                                v-model="packageItem.packing"
                                :name="'packageItem.packing'"
                                label="title"
                                :options="packings"
                                v-bind:class="{ error: errors.has('packageItem.packing') }"
                        >
                        </v-select>
                        <input type="text" id="anotherPackage" class="form-control hidden-field js-another-field">
                    </div>


                    <div class="form-group half mr-0">
                        <label for="orderPrice"> Стоимость упаковки, ₽</label>
                        <input type="text"
                               v-model="packageItem.packingPrice"
                               v-bind:class="{ error: errors.has('packageItem.packingPrice'), disabled: !(!packageItem.packing || !packageItem.packing.id)}"
                               placeholder="не менее 1"
                               v-validate="{required: false}"
                               :name="'packageItem.packingPrice'"
                               class="form-control js-another-field" >
                    </div>
                </div>
                <div class="form-column">
                    <div class="form-group small">
                        <label for="orderId">ID места</label>
                        <input type="text" class="form-control no-border" name="orderId" id="orderId" placeholder="" :value="packageId">

                        <label class="control control--checkbox">
                            Повреждено
                            <input type="checkbox" v-model="packageItem.damaged" name="orderСrashed" value="1">
                            <div class="control__indicator"></div>
                        </label>
                    </div>
                    <div class="form-group small">&nbsp;</div>
                    <div class="form-group small mr-0">
                        <label for="orderPallet">ID паллеты</label>
                        <div class="styled-input-number">
                            <input
                                    type="text"
                                    readonly
                                    class="disabled"
                                    v-model="packageItem.palletId"
                                    v-bind:class="{ error: errors.has('packageItem.palletId') }"
                                    v-validate="{required: true}"
                                    :name="'packageItem.palletId'">
                            <div class="input-number-nav">
                                <div class="input-number-button input-number-up" v-on:click="upPalletId">
                                    <img src="/img/small-up.svg" alt="">
                                </div>
                                <div class="input-number-button input-number-down" v-on:click="downPalletId">
                                    <img src="/img/small-down.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import ff from '../../../../vueconfig.js';
    import Files from '../../../../block/files.vue';
    import vSelect from 'vue-select';
    import DatePicker from 'vue2-datepicker';
    import VModal from 'vue-js-modal';

    import PackagesHelper from '../../../custom/helper/packages';
    
    Vue.use(VModal);

    export default {
        name: 'package-item-form',
        props: {
            'index': {},
            'packageItem': {},
            'stockFrom': {},
            'stockTo': {},
            'isAvailablePacking': {
                default: true
            }
        },
        components: {
            Files,
            DatePicker,
            vSelect
        },
        data() {
            return {
                maxWidth: 80,
                maxHeight: 180,
                maxDepth: 120,

                filter: ff.filter(),
                edit: true,

                loadingPallets: false
            }
        },
        computed: {
            packageTypes() {
                return this.$store.getters['config/packageTypes'];
            },
            packings: function () {
                let result = [{'title': 'Без упаковки', 'id': null}];

                $.each(this.$store.getters['config/packings'], function( index, packing ) {
                    result.push(packing);
                });

                return result;
            },
            packageId() {
                return this.packageItem.packageId;
            },
            maxWeight: function () {
                let settings = this.$store.getters['config/settings'];

                if (settings && settings.max_weight) {
                    return settings.max_weight;
                }
                return 1200;
            }
        },
        methods: {
            /**
             * Проверяем валидный ли груз, если валидный, возвращаем его
             */
            isValid() {
                let $this = this;

                let promise = new Promise((resolve, reject) => {
                    $this.$validator.validateAll().then(function(resultItem) {
                        if (!$this.errors.any()) {
                            resolve($this.packageItem);
                        } else {
                            reject(false);
                        }
                    });
                });

                return promise;
            },

            upPalletId: function () {
                if (this.loadingPallets) {
                    return false;
                }

                let $this = this;
                let params = {palletId: $this.packageItem.palletId, stockFrom: this.stockFrom, stockTo: this.stockTo};
                this.loadingPallets = true;

                this.$store.dispatch('freePallets/nextPallet', params).then(nextPallet => {
                    this.loadingPallets = false;
                    if (nextPallet) {
                        $this.packageItem.palletId = nextPallet.externalId;
                    }
                });
            },

            downPalletId: function (packageItem) {
                let $this = this;
                let params = {palletId: $this.packageItem.palletId, stockFrom: this.stockFrom, stockTo: this.stockTo};

                this.$store.dispatch('freePallets/prevPallet', params).then(prevPallet => {
                    if (prevPallet) {
                        $this.packageItem.palletId = prevPallet.externalId;
                    }
                });
            },

        },
        created() {
            // @todo убрать эти костыли
            $('body').on("input", '.js-cargo-quantity input', function() {
                let $self = $(this);
                $self.css('width', ($self.val().length + 1)*7 + 'px');
                $self.parent().css('width', $self.width() + 52 + 'px');
            });
        },
        mounted() {
            if (this.packageItem.packageTypeAnother) {
                this.packageItem.packageType = {id: null};
            }
        },
        watch: {
            'packageItem.packageType': function (packageType) {
                if (!packageType && this.packageItem.packageTypeAnother) {
                    this.packageItem.packageType = {id: null};
                }
            },

            'packageItem.width': function (val) {
                let width = parseInt(val);

                if (isNaN(width) || width < 1 || width === null) {
                    width = '';
                }
                if (width > 0 && width > this.maxWidth) {
                    width = this.maxWidth;
                }

                this.packageItem.width = width;
            },
            'packageItem.height': function (val) {
                let height = parseInt(val);

                if (isNaN(height) || height < 1 || height === null) {
                    height = '';
                }
                if (height > 0 && height > this.maxHeight) {
                    height = this.maxHeight;
                }

                this.packageItem.height = height;
            },
            'packageItem.depth': function (val) {
                let depth = parseInt(val);

                if (isNaN(depth) || depth < 1 || depth === null) {
                    depth = '';
                }
                if (depth > 0 && depth > this.maxDepth) {
                    depth = this.maxDepth;
                }

                this.packageItem.depth = depth;
            },
            'packageItem.weight': function (val) {
                let weight = parseInt(val);

                if (isNaN(weight) || weight < 1 || weight === null) {
                    weight = '';
                }
                if (weight > 0 && weight > this.maxWeight) {
                    weight = this.maxWeight;
                }

                this.packageItem.weight = weight;
            },
            'packageItem.count': function (val) {
                let count = parseInt(val);

                if (isNaN(count) || count < 1 || count === null) {
                    count = '';
                }

                this.packageItem.count = count;
            },
            'price': function (val) {
                let price = parseFloat(val);

                if (isNaN(price) || price < 1 || price === null) {
                    price = 1;
                }

                this.price = price;
            },
            'packageItem.palletId': function (val) {
                this.$validator.errors.remove('packageItem.palletId');
            },
            'packageItem': {
                handler(packageItem){
                    let packing = null;
                    $.each(this.packings, function( index, item ) {
                        if (packageItem.packing && item.id == packageItem.packing.id) {
                            packing = item;
                        }
                    });                
                
                    packageItem.packingPrice =  PackagesHelper.getPackingPrice(packageItem, packing);
                },
                deep: true
            }
            
            
            
            
        }
    }
</script>


