<template>
    <div>
        <div class="form-row">
            <h3 class="who-pay__title">Кто оплачивает</h3>

            <div class="usergroup__row who-pay">
                <label class="control control--radio usergroup__item">
                    {{ username }}
                    <input
                            type="radio"
                            name="whopayer"
                            v-model="mode"
                            :disabled="!availableEdit"
                            value="user"
                            required>
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--radio usergroup__item">
                    3-е лицо
                    <input
                            type="radio"
                            name="whopayer"
                            v-model="mode"
                            :disabled="!availableEdit"
                            value="payer"
                            required>
                    <div class="control__indicator"></div>
                </label>
                <label class="control control--radio usergroup__item" v-if="availableSender">
                    Отправитель
                    <input
                            type="radio"
                            name="whopayer"
                            v-model="mode"
                            :disabled="!availableSender || !availableEdit"
                            value="sender"
                            required>
                    <div class="control__indicator"></div>
                </label>

                <label class="control control--radio usergroup__item" v-if="availableReceiver">
                    Получатель
                    <input
                            type="radio"
                            name="whopayer"
                            v-model="mode"
                            :disabled="!availableReceiver || !availableEdit"
                            value="receiver"
                            required
                    >
                    <div class="control__indicator"></div>
                </label>
            </div>

            <template v-if="mode == 'payer'">
                <div class="form-group" v-if="availableEdit">
                    <label></label>

                    <v-select :options="persons" label="fullName" :value="currentPerson" @input="val => { tmpPerson = val; }"  :multiple="false" placeholder="Выберите юр. лицо из списка">
                        <template slot="option" slot-scope="option">
                            {{ option.fullName }}

                            <a v-if="availableRemove" href="#" style="float: right" v-on:click="removePerson(option, $event)">удалить</a>
                        </template>
                    </v-select>
                </div>

                <person class="person-row" ref="person" v-on:update:person="tmpPerson = $event" :person="tmpPerson" :isEdit="availableEdit" />

            </template>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import ff from '../../../../vueconfig.js';
    import Person from '../../../../block/person-vuex.vue';
    import vSelect from 'vue-select';
    import VModal from 'vue-js-modal';

    import PersonHelper from '../../../custom/helper/person';

    //Vue.use(VModal);
    Vue.use(VModal, { dialog: true });

    export default {
        name: 'orderStepPayer',
        props: {
            // Тут всегда будет актуальный платещик, выбранный в этой форме
            'payer': {},
        
            'user': {
                required: true
            },
            'userPerson': {
                required: true
            },

            'sender': {},
            'receiver': {},
            'availableEdit': true,

            'availableRemove': { default: false }
        },
        components: {
            Person,
            vSelect,
        },
        data() {
            return {
                mode: 'user',
                tmpPerson: null
            }
        },
        computed: {
            username() {
                let username = '';
                if (this.user) {
                    username = this.user.firstname;
                } else if (this.organization) {
                    username = this.organization.type + ' ' + this.organization.companyName;
                }
                return username;
            },
            availableSender() {
                return this.sender && this.userPerson && this.sender.id != this.userPerson.id;
            },
            availableReceiver() {
                return true;
            },
            persons() {
                return this.$store.getters['persons/publicPersons'];
            },
            currentPerson() {
                let person = this.$store.getters['persons/publicPersonById'](this.tmpPerson.id);

                return person ? person : 'Выберите контакт или заполните вручную';
            }
        },
        methods: {
            isValid() {
                let $this = this;

                let promise = new Promise((resolve, reject) => {
                    if (this.mode === 'user') {
                        resolve(this.payer);
                    }
                    if (this.mode === 'sender' && $this.sender) {
                        resolve(this.payer);
                    }
                    if (this.mode === 'receiver' && $this.receiver) {
                        resolve(this.payer);
                    }


                    $this.$refs['person'].$validator.validateAll().then(function(resultItem) {
                        if (!$this.errors.any()) {
                            resolve($this.payer);
                        } else {
                            reject(false);
                        }
                    });
                });

                return promise;
            },
        },
        mounted: function() {
            if (this.payer && this.payer.id) {
                if (this.userPerson && this.payer.id === this.userPerson.id) {
                    this.mode = 'user';
                } else if (this.sender && this.sender.id === this.payer.id) {
                    this.mode = 'sender';
                } else if (this.receiver && this.receiver.id === this.payer.id) {
                    this.mode = 'receiver';
                } else {
                    this.mode = 'payer';
                }
            } else {
                this.mode = 'payer';
            }

            this.tmpPerson = jQuery.extend(true, {}, this.payer);
        },
        watch: {
            'tmpPerson': {
                handler(order){
                    if (this.mode == 'payer') {
                        PersonHelper.copy(this.payer, this.tmpPerson);                     
                    }
                },
                deep: true
            },
            'mode': function (mode) {
                if (this.mode === 'user') {
                    PersonHelper.copy(this.payer, this.userPerson);
                }
                if (this.mode === 'sender') {
                    PersonHelper.copy(this.payer, this.sender);
                }
                if (this.mode === 'receiver') {
                    PersonHelper.copy(this.payer, this.receiver);
                }            
                if (this.mode === 'payer') {
                    PersonHelper.copy(this.payer, this.tmpPerson);
                }                        
            },


            // Костыль, чтобы применялись изменения из другого шага
            'sender': {
                handler(order){
                    if (this.mode == 'sender') {
                        PersonHelper.copy(this.payer, this.sender);                     
                    }
                },
                deep: true
            }, 
            'receiver': {
                handler(order){
                    if (this.mode == 'receiver') {
                        PersonHelper.copy(this.payer, this.receiver);
                    }
                },
                deep: true
            }, 
        },
        provide() {
            return {
                $validator: this.$validator,
            }
        },
    }
</script>
