<template>
    <div>
        <div class="form-row">
            <div class="form-group" >
                <label class="control control--checkbox usergroup" >
                    {{ username }} является получателем
                    <input type="checkbox" :disabled="!availableEdit" v-model="userIsReceiver" :checked="userIsReceiver" value="1">
                    <div class="control__indicator"></div>
                </label>
            </div>

            <template v-if="userIsReceiver == false">
                <div class="form-group" v-if="availableEdit">
                    <label></label>

                    <v-select :options="persons" label="fullName" :value="currentPerson" @input="val => { tmpPerson = val; }" :multiple="false" placeholder="Выберите юр. лицо из списка">
                        <template slot="option" slot-scope="option">
                            {{ option.fullName }}

                            <a v-if="availableRemove" href="#" style="float: right" v-on:click="removePerson(option, $event)">удалить</a>

                        </template>
                    </v-select>
                </div>

                <person class="person-row" :id="'receiver'" v-on:update:person="tmpPerson = $event" :person="tmpPerson" :isEdit="availableEdit" />
            </template> 
        </div>
        
        <v-dialog/>
    </div>
</template>



<script>
    import Vue from 'vue';
    import ff from '../../../../vueconfig.js';
    import Person from '../../../../block/person-vuex.vue';
    import vSelect from 'vue-select';
    import VModal from 'vue-js-modal';
    
    import PersonHelper from '../../../custom/helper/person';


    //Vue.use(VModal);
    Vue.use(VModal, { dialog: true });

    export default {
        name: 'orderStepReciever',

        props: {
            // Тут всегда будет актуальный получатель, выбранный в этой форме
            'receiver': {},
        
            'user': {},
            'userPerson': {},
            'availableEdit': {},
            'availableRemove': { default: false }
        },
        components: {
            Person,
            vSelect,
        },
        data() {
            return {
                tmpPerson: {},
                userIsReceiver: false
            }
        },
        methods: {
            isValid() {
                let $this = this;

                let promise = new Promise((resolve, reject) => {
                    if ($this.userIsReceiver) {
                        PersonHelper.copy(this.receiver, this.userPerson);
                        resolve($this.receiver);
                        return;
                    }

                    $this.$validator.validateAll().then(function(resultItem) {
                        if (!$this.errors.any()) {
                            resolve($this.receiver);
                        } else {
                            reject(false);
                        }
                    });
                });

                return promise;
            },

            removePerson(person, $event) {
                if ($event) {
                    $event.preventDefault();
                }

                let $this = this;

                this.$modal.show('dialog', {
                    text: 'Вы действительно хотите удалить ' + person.fullName + '?',
                    buttons: [
                        {
                            title: 'Да',
                            default: true,
                            handler: () => {
                                this.$store.dispatch('persons/removePerson', person);
                                $this.$modal.hide('dialog');
                            }
                        },
                        {
                            title: 'Нет',
                            handler: () => {
                                $this.$modal.hide('dialog');
                            }
                        },
                    ]
                });
            },

        },
        computed: {
            username() {
                let username = '';
                if (this.user) {
                    username = this.user.firstname;
                } else if (this.organization) {
                    username = this.organization.type + ' ' + this.organization.companyName;
                }
                return username;
            },
            persons() {
                let persons = this.$store.getters['persons/publicPersons'];
                return persons;
            },
            currentPerson() {
                let person = this.$store.getters['persons/publicPersonById'](this.tmpPerson.id);

                return person ? person : 'Выберите контакт или заполните вручную';
            }
        },
        created() {
            this.tmpPerson = jQuery.extend(true, {}, this.receiver);
                        
            if (this.tmpPerson && this.userPerson && PersonHelper.isEquals(this.tmpPerson, this.userPerson)) {
                this.userIsReceiver = true;
            }            
        },
        provide() {
            return {
                $validator: this.$validator,
            }
        },
        watch: {
            'receiver.id': function (newId) {
                this.tmpPerson.id = newId;
            },
            'tmpPerson': {
                handler(order){
                    PersonHelper.copy(this.receiver, this.tmpPerson);                     
                },
                deep: true
            }, 
            'userPerson': function (userPerson) {
                if (this.tmpPerson && this.userPerson && PersonHelper.isEquals(this.tmpPerson, this.userPerson)) {
                    this.userIsReceiver = true;
                }                
            },
            'userIsReceiver': function () {
                if (this.userIsReceiver) {
                    PersonHelper.copy(this.receiver, this.userPerson);                     
                } else {
                    PersonHelper.copy(this.receiver, this.tmpPerson);                     
                }
            }
        }
    }
</script>
