<template>
    <modal name="unique-person-popup">
        <div class="main-popup">
            <div class="h2">Лицо с
                <template v-if="person.uridical">ИНН {{ person.inn }}</template>
                <template v-else>паспортом {{ person.series }} {{ person.number }}</template>
                уже существует.</div>
            <p>Обновить для него данные?</p>
            <a href="javascript:void(0)" v-on:click="close" class="back-link">Нет</a>
            <a href="javascript:void(0)" v-on:click="updatePerson" class="btn-default">Да</a>
        </div>
    </modal>
</template>

<script>
    export default {
        name: 'unique-person-popup',
        props: {
            user: {}
        },
        data() {
            return {
                inDialog: false,
                person: {}
            }
        },
        methods: {
            checkUnique: function (person) {
                this.person = person;

                let tmpPromise = new Promise((resolve, reject) => {
                   this.$store.dispatch('persons/synchPersonWithList', this.person).then(needOverwrite => {
                        if (needOverwrite) {
                            this.inDialog = true;
                            this.$modal.show('unique-person-popup', );

                            // Промис ждет, пока пользователь не выйдет из диалога
                            let intervalId = setInterval(() => {
                                if (!this.inDialog) {
                                    resolve(true);
                                    clearInterval(intervalId);
                                }
                            }, 500);
                        } else {
                            resolve(true);
                        }
                    });
                });

                return tmpPromise;
            },
            close: function() {
                // Если пользователь выбрал не обновлять данные, создаем новый контакт
                this.person.id = null;
                // Контакт будет сохранен, но не показан в списке
                this.person.hidden = true;

                this.$store.dispatch('persons/savePerson', {'person': this.person, 'userId': this.user.id}).then(() => {
                    this.inDialog = false;
                    this.$modal.hide('unique-person-popup');
                }, () => {
                    this.inDialog = false;
                    this.$modal.hide('unique-person-popup');
                });
            },
            updatePerson: function() {
                this.$store.dispatch('persons/savePerson', {'person': this.person, 'userId': this.user.id}).then(() => {
                    this.inDialog = false;
                    this.$modal.hide('unique-person-popup');
                }, () => {
                    this.inDialog = false;
                    this.$modal.hide('unique-person-popup');
                });
            }
        }
    }
</script>