{% extends 'template/pdfpage/template.html.twig' %}

{% block content %}
    <div class="page-content" style="padding: 60px 0; text-align: justify;">

        <div class="container" style="margin: 0 auto;">
            <img src="{{ asset('/img/doc-logo.jpg') }}" alt="" class="doc-img">
            <div class="doc-header">
                <a href="#" class="doc-logo"><img src="{{ asset('/img/doc-header.jpg') }}" alt="" style="width: 306px"></a>
                <p>Доставка грузов по России<br>119034, г. Москва, Рязанский пр-кт, дом 16, с. 4, {{ '800 222 33 57'|formatPhone}}, www.dot-dot.ru</p>
            </div>

            <h1>Одноразовые коды</h1>
            <p>Передайте неиспользованный код лицу, сдающему груз на складе Точка-Точка</p>
            <br/>
            <br/>
            <br/>

            <table>
                {% for row in tokens|batch(4, null) %}
                    {% if row %}
                    <tr>
                        {% for token in row %}
                            <td style="padding-right: 40px; padding-bottom: 5px; font-size: 30px;">{{ token.getCodeHumanReadable }}</td>
                        {% endfor %}
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .container{
            position: relative;
        }
        .doc-img{
            top: -58px !important;
            position: absolute;
            right: 0;
            width: 115px;
        }
        .bg{
            background-color: #fff;
            position: relative;
            top: 6px;
        }
        .black-border{
            border-bottom: 1px solid #000;
            height: 28px;
        }
        .doc-header{
            margin-bottom: 100px;
        }
        .doc-header .doc-logo{
            display: inline-block;
            vertical-align: top;
        }
        .doc-header p{
            display: inline-block;
            vertical-align: top;
            font-size: 15px;
            color: #656565;
            margin-left: 50px;
        }
        .doc-img{
            position: absolute;
            right: 0;
            top: 0;
            width: 115px;
        }
    </style>

    <link rel="stylesheet" href="{{ asset('/css/wms.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/fix.css') }}">
{% endblock %}


