<template>
<section id="calc-section">
	    <header>
	        <a v-bind:href="host" class="logo"><img v-bind:src="host + '/img/calc-widget/logo.svg'" alt=""></a>
	        <a v-bind:href="host + '/register'" class="btn btn-bordered">Регистрация</a>
	    </header>
    <div class="mini-calc">
		<div class="mini-calc__title">Калькулятор</div>
        <div class="form-group medium" v-bind:class="{ error: errors.has('cityFrom') }">
            <label >Откуда*</label>

            <v-select
                    placeholder="Выберите город"
                    :multiple="false"
                    :reduce="item => item.id"
                    v-model="cityFrom"
                    :key="cityFrom"
                    label="title"
                    :name="'cityFrom'"
                    :options="getCityFromList"
                    v-bind:class="{ error: errors.has('cityFrom')}"
                    v-validate="{required: true}"
                    @input="changeDirection"
            >
            </v-select>

            <label class="error" v-if="errors.has('cityFrom')">Заполните поле</label>
        </div>
        <div class="form-group medium " v-bind:class="{ error: errors.has('cityTo') }">
            <label>Куда*</label>

            <v-select
                    placeholder="Выберите город"
                    :multiple="false"
                    :reduce="item => item.id"
                    v-model="cityTo"
                    :key="cityTo"
                    label="title"
                    :name="'cityTo'"
                    :options="getCityToList"
                    v-bind:class="{ error: errors.has('cityTo')}"
                    v-validate="{required: true}"
                    v-on:input="changeDirection"
            >
            </v-select>

            <label class="error" v-if="errors.has('cityTo')">Заполните поле</label>
        </div>
        <div class="form-group half">
            <label>Расчетный вес груза, кг*</label>
            <input class="form-control" name="weight" v-model="weight" v-validate="{required: true}">
            <label class="error" v-if="errors.has('weight')">Заполните поле</label>
        </div>

        <div class="button-wrapper">
        	<button @click="getPrice" class="btn-default">Рассчитать стоимость</button>
        </div>


        <div id="calc-result" class="mini-calc__total">
            <transition name="fade">
                <div v-if="totalPriceMin && totalPriceMin">
                    <label>Итого (*без НДС):</label>
                    <div class="mini-calc__price"><b>{{ this.totalPriceMin }} &mdash; {{ this.totalPriceMax }}</b> руб.</div>
                </div>
            </transition>

            <transition name="fade">
         		<div v-if="totalPriceMin && totalPriceMin">
                    <div class="competitors-price__title">Лидеры рынка</div>
                    <div v-bind:class="{loading: !competitorsPrice}">
                        <div v-if="competitorsPrice" class="competitors-price">
                            <div>
                                <div v-for="competitorPrice in competitorsPrice" class="competitors-price__item">
                                    <span>{{ competitorPrice.price }} руб.</span> <span>ТК {{ competitorPrice.index }}*</span>
                                </div>
                            </div>
                            <div class="competitors-price__notice">* - калькулятор официальных сайтов</div>
                        </div>
                    </div>
         		</div>
                
            </transition>


        </div>

        <div class="goto-site-link">
            <transition name="fade">
                <template v-if="showGotoSiteLink && totalPriceMin && totalPriceMin">
                    <slot name="goto-site">
                        <a v-bind:href="host" class="btn-default">Перейти на сайт</a>
                    </slot>
                </template>
            </transition>
        </div>





        <div class="contact-phone">
            <img v-bind:src="host + '/img/calc-widget/phone.svg'" alt=""> 8 800 222 33 57
        </div>


    </div>
</section>
</template>

<script>
    import Vue from 'vue';
    import vSelect from 'vue-select';
    import { BPopover } from 'bootstrap-vue'
    import VeeValidate from 'vee-validate';
    import VueScrollTo from 'vue-scrollto';

    Vue.use(VueScrollTo, {
        container: "body",
        duration: 500,
        easing: "ease",
        offset: 0,
        force: true,
        cancelable: true,
        onStart: false,
        onDone: false,
        onCancel: false,
        x: false,
        y: true
    });

    const config = {
        errorBagName: 'errors', // change if property conflicts
        fieldsBagName: 'fields',
        delay: 0,
        locale: 'ru',
        dictionary: null,
        strict: true,
        classes: false,
        classNames: {
            touched: 'touched', // the control has been blurred
            untouched: 'untouched', // the control hasn't been blurred
            valid: 'valid', // model is valid
            invalid: 'invalid', // model is invalid
            pristine: 'pristine', // control has not been interacted with
            dirty: 'dirty' // control has been interacted with
        },
        events: 'change',
        inject: true,
        validity: false,
        aria: true,
        debug: true
    };

    Vue.use(VeeValidate, config);
    Vue.component('b-popover', BPopover);

    export default {
        components: {
            vSelect,
        },
        name: 'calc',
        props: [
            'predefinedDirection',
            'predefinedWeight',
            'host'
        ],
        data() {
            return {
                weight: null,
                price: null,
                directions: [],
                cityFrom: null,
                cityTo: null,

                maxWeight: 1000000,

                totalPriceMax: null,
                totalPriceMin: null,
                showGotoSiteLink: false,

                competitorsPrice: null
            }
        },
        methods: {
            loadConfig: function () {
                let formData = new FormData();

                $.ajax({
                    url: this.host + "/api/customer/calc/config",
                    cache: false,
                    async: true,
                    data: formData,
                    jsonp: "callback",
                    dataType: "jsonp",
                    processData: false,
                    contentType: false,
                }).done(data => {
                    if (typeof data.error === 'undefined') {
                        this.directions = data.data.params.directions;

                        if (this.predefinedDirection) {
                            this.setDirection(this.predefinedDirection);
                        }
                    }
                });
            },

            getPrice: function () {
                this.$validator.validateAll(['weight', 'cityFrom', 'cityTo']).then(result => {
                    if (result) {
                        this.loadPrice();
                        this.loadCompetitorPrice();
                    }
                });
            },

            loadPrice: function () {
                $.ajax({
                    method: 'POST',
                    url: this.host + "/api/customer/calc/price",
                    cache: false,
                    async: true,
                    data: {
                        orderCustomer: {
                            byCargo: 1,
                            direction: this.direction,
                            declaredPrice: 1,
                            packages: [
                                {
                                    type: null,
                                    anotherType: 'Другое',
                                    packing: null,
                                    count: Math.ceil(this.weight / 1450),
                                    weight: this.weight,
                                    depth: 1,
                                    width: 1,
                                    height: 1,
                                    calculateWeight: null
                                }
                            ]
                        }
                    },
                    jsonp: "callback",
                    dataType: "jsonp",
                }).done(data => {
                    if (typeof data.error == "undefined") {
                        this.totalPriceMin = data.data.minPrice;
                        this.totalPriceMax = data.data.maxPrice;

                        this.$scrollTo(document.getElementById('calc-result'), 500, {});

                        setTimeout(() => {
                            this.showGotoSiteLink = true;
                        }, 1500)
                    } else {
                        this.totalPriceMin = 0;
                        this.totalPriceMax = 0;
                    }
                }).catch(error => {
                    this.totalPriceMin = 0;
                    this.totalPriceMax = 0;
                });
            },



            loadCompetitorPrice: function () {
                $.ajax({
                    method: 'GET',
                    url: this.host + "/api/customer/calc/competitor_price",
                    cache: false,
                    async: true,
                    data: {
                        byCargo: true,
                        direction: this.direction,
                        packages: [{
                            type: null,
                            anotherType: 'Другое',
                            packing: null,
                            count: 1,
                            weight: this.weight,
                            depth: 10,
                            width: 10,
                            height: 10,
                            calculateWeight: null
                        }]
                    },
                    jsonp: "callback",
                    dataType: "jsonp",
                }).done(data => {
                    if (typeof data.error == "undefined" && typeof data.data != "undefined") {
                        this.competitorsPrice = data.data;
                    } else {
                        this.competitorsPrice = null;
                    }
                }).catch(error => {
                    this.competitorsPrice = null;
                });
            },









            setDirection: function (id) {
                this.directions.forEach(direction => {
                    if (direction.id == id) {
                        this.cityFrom = direction.cityFrom.id;
                        this.cityTo = direction.cityTo.id;
                        this.direction = direction.id;
                    }
                });
            },

            changeDirection: function () {
                let currentDirection = null;
                if (!this.cityTo || !this.cityFrom) {
                    return;
                }

                this.directions.forEach(direction => {
                    if (direction.cityFrom.id == this.cityFrom && direction.cityTo.id == this.cityTo) {
                        this.direction = direction.id;
                    }
                });
            },
        },
        computed: {
            getCityFromList: function () {
                var resultIds = [];
                var list = [{'title': 'Выберите город', 'id': null}];

                this.directions.forEach(direction => {
                    if (resultIds.indexOf(direction.cityFrom.id) === -1) {
                        list.push(direction.cityFrom);
                        resultIds.push(direction.cityFrom.id);
                    }
                });

                //list.sort(ff.comparePosition);
                return list;
            },
            getCityToList: function () {
                var resultIds = [];
                var list = [{'title': 'Выберите город', 'id': null}];

                this.directions.forEach(direction => {
                    // Города не могут совпадать
                    // Делаем список городов, в которые доступна доставка из города отправления
                    if (!this.cityFrom || (this.cityFrom !== direction.cityTo.id) && (!parseInt(this.cityFrom) || this.cityFrom === direction.cityFrom.id)) {
                        if (resultIds.indexOf(direction.cityTo.id) === -1) {
                            list.push(direction.cityTo);
                            resultIds.push(direction.cityTo.id);
                        }
                    }
                });

                // Если мы построили список и в нем нет выбранного города, заменяем на "Выберите город"
                if (this.cityTo && resultIds.indexOf(this.cityTo) === -1) {
                    this.cityTo = null;
                }

                return list;
            },

        },
        watch: {
            'cityTo': function (val) {
                this.changeDirection();

                this.totalPriceMin = null;
                this.totalPriceMin = null;
                this.competitorsPrice = null;
            },
            'cityFrom': function (val) {
                this.changeDirection();

                this.totalPriceMin = null;
                this.totalPriceMin = null;
                this.competitorsPrice = null;
            },
            'weight': function (val) {
                let weight = parseInt(val);

                if (isNaN(weight) || weight < 1 || weight === null) {
                    weight = '';
                }
                if (weight > 0 && weight > this.maxWeight) {
                    weight = this.maxWeight;
                }

                this.weight = weight;

                this.$validator.validateAll(['weight']).then(data => { }, error => { });

                this.totalPriceMin = null;
                this.totalPriceMin = null;
                this.competitorsPrice = null;
            }

        },

        created : function () {
            this.loadConfig();

            if (1 * this.predefinedWeight) {
                this.weight = this.predefinedWeight;
            }
        },

    }
</script>
