{% extends 'template/mainpage/template.html.twig' %}

{% block content %}

    <div class="main-hero transporter">
        <div class="container">
            <div class="h2">{{ header|raw }}</div>
            <div class="h3">{{ subheader|raw }}</div>
            <ul class="hero-steps">
                <li>Регистрируйтесь</li>
                <li>Рассчитайте<br>заработок</li>
                <li>Перевезите груз</li>
                <li>Получите деньги</li>
            </ul>

            <span class="js-toggle-steps"><span>Подробнее</span> <img src="{{ asset('img/arr-down.png') }}" alt=""></span>
        </div>
    </div>
    
    <div id="auction" data-attach-vue="auction" {% if direction is defined and direction is not null %} data-route="{{ direction.id }}" {% endif %}></div>

    <section class="white">
        <div class="container">

            <noindex>
                {{ render(url('app.stock.map')) }}
            </noindex>

            {% include 'block/clients_history_auction.html.twig' %}

            {% include 'block/sender_banner.html.twig' %}

            {% include 'block/sender_questions.html.twig' %}

            {{ render(url('app.part.articles')) }}

            {{ render(url('app.part.partners')) }}
        </div>
    </section>

{% endblock %}
