<template>
    <form id="reset"  method="POST" class="fos_user_resetting_request">
        <div class="login-wrap">
            <div class="content">
                <section>
                    <div class="h3 lost-pass-title">Восстановление пароля</div>

                    <div v-show="change == null">
                        <div class="form-column">
                            <div class="form-group">
                                <label for="username">Введите логин (номер моб. телефона)</label>
                                <input style="display: none;" type="text" id="username" name="username" class="t-input" value="" />
                                <input type="text" id="loginPhone" v-model="login" v-mask="mask.phone" v-bind:class="{ error: errors.has('name') }" v-validate="{required: true, phone: true}" name="name"  class="form-control " value=""/>
                                <label class="error" v-if="errors.has('name')">Заполните поле</label>
                            </div>
                        </div>
                        <div class="form-column">
                            <div class="form-group">
                                <button v-on:click="reset($event)" type="button" class="btn-active">Сбросить</button>
                                <a href="/" class="back-to-login">На главную</a>
                            </div>
                        </div>
                    </div>

                    <p v-if="change == true">
                        Вам отправлено смс сообщение с новым паролем, <a href="/login">авторизуйтесь</a>
                    </p>
                    <p v-else-if="change == false">
                        Пользователь не найден

                        <br><br>
                        <button v-on:click="change = null" type="button" class="btn-active">Назад</button>
                        <a href="/" class="back-to-login">На главную</a>
                    </p>
                </section>
            </div>
        </div>
    </form>
</template>

<script>
    import Vue from 'vue';
    import ff from '../../vueconfig.js';

    export default {
        name: 'reset',
        data() {
            return {
                login: '',
                change: null,
                mask: ff.mask(),
            }
        },
        methods: {
            reset: function ($event) {
                let $this = this;

                this.$validator.validateAll().then(function(result) {

                    if(!result) {
                        return;
                    }

                    let button = $($event.target);
                    if (button.hasClass('disabled')) {
                        return false;
                    }

                    button.addClass('disabled');

                    let login = ff.normalizeLogin($this.login);

                    let jqxhr = $.ajax({
                        url: "/api/security/reset",
                        cache: false,
                        async: false,
                        data: {phone: login}
                    });

                    let data = jqxhr.responseJSON;

                    if (data.status) {

                        $this.change = true;

                        setTimeout(function(){
                            button.removeClass('disabled');
                        }, 60000)
                    } else {
                        $this.change = false;
                        button.removeClass('disabled');
                    }

                    return false;

                });

                return false;
            },
        },
        watch: {
            change: function (val) {

            }
        }
    }
</script>