<div class="h2">Вы не авторизованы как перевозчик</div>
<p>Чтобы отправить (перевезти) груз, пожалуйста <br>
<a href="{{ path('fos_user_security_login') }}">авторизуйтесь как перевозчик</a>.</p>
<p>Нет личного кабинета? 
{% if app.user and not app.user.isCarrier %}
    <a href="{{ path('app.personal.change_login') }}">Зарегистрируйтесь как перевозчик</a>
{% else %}
    <a href="{{ path('app.security.register') }}" onclick="counterEvent('REG_BUT', 'click'); return true;">Зарегистрируйтесь как перевозчик.</a>
{% endif %}
</p>