{% set senderActive = app.request.get('sender') or app.request.get('transporter') == '' ? true : false %}
{% set transporterActive = app.request.get('transporter') and app.request.get('sender') == '' ? true : false %}
    <div class="h2">О компании</div>
    <div id="companyTabs" class="btn-group custom-tabs__nav" data-toggle="buttons" data-tabgroup="first-tab-group">
        <a href="#sender" class="btn btn-default {% if senderActive %} active {% endif %}" data-toggle="tab" role="tab">
            <label class="control control--radio">Клиентам
                <input type="radio" name="userType" {% if senderActive %} checked="checked" {% endif %} />
            </label>
        </a>
        <a href="#transporter" class="btn btn-default {% if transporterActive %} active {% endif %}" data-toggle="tab" role="tab">
            <label class="control control--radio">Перевозчикам
                <input type="radio" name="userType" {% if transporterActive %} checked="checked" {% endif %}/>
            </label>
        </a>
        <a href="#partners" class="btn btn-default" data-toggle="tab" role="tab">
            <label class="control control--radio">Партнерам
                <input type="radio" name="userType"/>
            </label>
        </a>
        <a href="#press" class="btn btn-default" data-toggle="tab" role="tab">
            <label class="control control--radio">Прессе
                <input type="radio" name="userType"/>
            </label>
        </a>

    </div>
    <div class="tab-content custom-tabs__content" id="first-tab-group">
        <div class="tab-pane {% if senderActive %} active {% endif %}" id="sender" role="tabpanel">
            <div class="text-columns">
                <p>
                   &laquo;Точка-Точка&raquo;&nbsp;&mdash; доставляет грузы по&nbsp;России. Мы&nbsp;снижаем издержки и&nbsp;упрощаем организацию перевозок. Экономия дважды!

                    <span class="title">Как вы экономите</span>
                    Клиент платит только за&nbsp;место в&nbsp;транспортном средстве. Стоимость перевозки делится на&nbsp;всех отправителей.<br><br>
                    Наша технология повышает скорость потока,&nbsp;а значит, вы&nbsp;экономите и&nbsp;на&nbsp;всей цепи поставок.


                    <span class="title">Качественный сервис</span>
                    Клиентская поддержка 24/7. С&nbsp;первого заказа&nbsp;&mdash; персональный менеджер. Прозрачный документооборот: все расчеты и&nbsp;оформление в&nbsp;личном кабинете.
                </p>

                <p class="text-columns-left">
                    <span class="title">Безопасность</span>
                    Заключаем прямой договор со&nbsp;всеми участниками перевозки. Проверяем на&nbsp;благонадежность. Полностью страхуем груз на&nbsp;всем пути следования.
                 </p>
                <p>
                    <a href="https://dot-dot.ru/media/download/7566" download><span class="title">Презентация</span></a> <br><br>
                    <a href="{{ path('app.default.index') }}#calc-section" onclick="closePopup()" class="btn-client">Рассчитай стоимость и сравни</a>
                </p>
                 
            </div>

           
        </div>
        <div class="tab-pane {% if transporterActive  %} active {% endif %}" id="transporter" role="tabpanel">
            <div class="text-columns">
                <div style="text-align: left;">
                    <span>&laquo;Точка-Точка&raquo;&nbsp;&mdash; доставляет грузы по&nbsp;России. Предлагаем безопасный заработок, а&nbsp;также простую и&nbsp;удобную схему догруза по&nbsp;вашей цене.</span>
                    <span class="title">Преимущества работы с нами</span>
                   <ul>
                    <li>Бесплатная подписка на грузы.</li>
                    <li>Платим на третий день.</li>
                    <li>Нет простоя: весь груз паллетирован.</li>
                    <li>Удобный сервис: оформить заказ можно с&nbsp;телефона, весь документооборот&nbsp;&mdash; в&nbsp;личном кабинете, поддержка 24/7.</li>
                    </ul>
                </div>
                <p>
                    <span class="title">Подключай чат-бот</span>
                     <a  href="https://wa.me/79164800273">WhatsApp</a>
                     <a style="margin-left: 50px;" href="https://tele.click/DotToDotTelegrammBot">Telegram</a><br>
                     <img src="http://qrcoder.ru/code/?https%3A%2F%2Fwa.me%2F79164800273&10&0" width="120px">
                     <img src="http://qrcoder.ru/code/?https%3A%2F%2Ftele.click%2FDotToDotTelegrammBot&10&0" width="120px">
                </p>
            </div>
        </div>
        <div class="tab-pane" id="partners" role="tabpanel">
            <div class="text-columns">
                <div>
                    &laquo;Точка-Точка&raquo;&nbsp;&mdash; доставляет грузы по&nbsp;России. Ищем партнеров, готовых обеспечить стандартный сервис по&nbsp;обработке груза.
                    Платим за&nbsp;каждый килограмм и&nbsp;отдельно за&nbsp;привлеченный объем.<br>

           
                <span class="title">Предлагаем не просто франшизу</span>
                    <ul>
                        <li>Работаем без взносов и роялти.</li>
                        <li>Сами приводим клиентов.</li>
                        <li>Ведем работу через онлайн-сервис.</li>
                    </ul>
                <span  class="title">Что вы получите</span>
                    <ul>
                        <li>Увеличите загрузку склада и&nbsp;повысите производительность.</li>
                        <li>Дополнительный доход.</li>
                    </ul>

                </div>
                <p>

                    <span class="title">Напишите менеджеру по&nbsp;развитию на&nbsp;<a href="mailto:region@dot-dot.ru">region@dot-dot.ru</a>&nbsp;&mdash;или  по&nbsp;телефону&nbsp;<a href="tel:+78002223357"><b>8</b>&nbsp;800&nbsp;222 33&nbsp;57.</a></span>
                </p>

            </div>
        </div>
        <div class="tab-pane" id="press" role="tabpanel">
            <div class="text-columns">
                <p>
                   &laquo;Точка-Точка&raquo;&nbsp;&mdash; логистическая компания, доставляющая грузы по&nbsp;России. Мы&nbsp;снижаем издержки в&nbsp;транспорте, повышаем скорость и&nbsp;упрощаем организацию перевозок.
                    <span class="title">Наша миссия</span>
                   Обеспечить встраиваемый, эффективный логистический процесс: как поток между двумя точками. Работаем на&nbsp;принципах свободной конкуренции и&nbsp;экономики совместного потребления. Верим в&nbsp;то, что наш подход к&nbsp;организации логистики сделает рынок прозрачным и&nbsp;справедливым.
                </p>

                <p class="text-columns-left">
                    <span class="title">Мы открыты к диалогу</span>
                    Готовы честно рассказать о&nbsp;своей работе и&nbsp;предоставить экспертные комментарии на&nbsp;тему грузоперевозок и&nbsp;технологий логистики.<br><br>
                    Будем рады сотрудничеству!
                </p>
                <p class="text-columns-left">
                <span class="title">Передавайте запросы в&nbsp;пресс-службу по телефону <br> <a href="tel:+74956096766">+7&nbsp;495 609-67-66</a> или на <a href="mailto:im@longmedia.ru">&nbsp;im@longmedia.ru</a></span>    
                    <span class="links">
                        <a href="{{ path('sonata_media_download', {'id': 31}) }}">Пресс-кит</a>
                    </span>
                </p> 
            </div>
        </div>

    </div>
    <button title="Close (Esc)" type="button" class="mfp-close">×</button>

