
    <div class="container-popup">
        <div class="h2">Таблица сравнения</div>
        <p class="big-border"> Информация из открытых источников (на {{ "now"|date("d.m.Y") }} 00.01, с НДС) и носит ознакомительный характер, не является офертой.</p>
        <div class="table-wrapper">
            <div class="fixed-mobile-table">
                <table class="table">
                    <tr><th>Вес</th></tr>
                    <tr><td><b>30 кг</b></td></tr>
                    <tr><td><b>100 кг</b></td></tr>
                    <tr><td><b>1 000 кг</b></td></tr>
                    <tr><td><b>5 000 кг</b></td></tr>
                </table>
            </div>
            <div class="table-inner">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Вес</th>
                        <th><img src="/img/tt-logo.svg" alt="">Точка-Точка* <img src="/img/rectangle.svg" alt=""></th>
                        <th>ТК 1</th>
                        <th>ТК 2</th>
                        <th>ТК 3</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, itemList in data %}
                    <tr>
                        <td><b>{{ key|formatNumber }} кг</b></td>
                        {% for item in itemList %}
                        {% set price = item.price|split('-') %}
                        <td>

                            {% if price[1] is defined and price[1] is not null %}
                                {{ price[0]|formatNumber }} - {{ price[1]|formatPrice }}
                            {% else %}
                                {{ price[0]|formatPrice }}
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <span class="info"><span style="font-size: 18px;">*</span> - цена зависит от количества отправителей в одной партии</span>
        </div>

        <div class="compare-row">
            {% for key, itemList in data %}
            <div class="compare-graph">
                <div class="h4">{{ key|formatNumber }} кг</div>
                <ul class="graph-columns">
                    {% set maxAr = [] %}
                    {% for item in itemList %}
                        {% set maxAr = maxAr|merge([item.price]) %}
                    {% endfor %}
                    {% set realMaxPrice = max(maxAr) %}
                    {% set maxPrice = (max(maxAr) + max(maxAr) * 0.1) %}
                    {% set maxPrice = ((maxPrice / 100)|round) * 100 %}
                    {% set dotPrice = 1 %}

                    {% for key, item in itemList %}
                        {% set price = [] %}
                        {% set price = item.price|split('-') %}

                        {% if price[1] is defined and price[1] > 0 %}
                            {% set dotPrice = price[0] %}
                        {% endif %}

                        <li  data-percent-from="{{ ((price[0] / maxPrice)*100)|round }}%"
                            {% if price[1] is defined and price[1] > 0 %}
                                class="dot-column"
                                data-percent-to="{{ ((price[1] / maxPrice)*100)|round }}"
                            {% endif %}
                            {% if realMaxPrice == price[0] %}
                                class="bigger-column"
                            {% endif %}

                        ><span>&nbsp;</span></li>
                    {% endfor %}
                    <li class="economy-column">
                        <span>&nbsp;</span>
                        <div class="economy-total">

                            <span>Экономия</span>
                            <b>{{ ((1-(dotPrice/realMaxPrice)) * 100)|round(0, 'floor')|formatNumber }}%</b>
                        </div>
                    </li>
                </ul>
                <ul class="graph-tk">
                    <li><span>Точка-Точка</span></li>
                    <li><span>ТК 1</span></li>
                    <li><span>ТК 2</span></li>
                    <li><span>ТК 3</span></li>
                </ul>
                <ul class="compare-price">
                    <li><span>{{ maxPrice|formatPrice }}</span></li>
                    <li></li>
                    <li><span>{{ (maxPrice / 2)|round|formatPrice}}</span></li>
                    <li></li>
                    <li><span>0 ₽</span></li>
                </ul>
            </div>
            {% endfor %}
        </div>

        <div class="compare-graph-slider">
            <!-- Slider main container -->
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                        {% for key, itemList in data %}
                    <!-- Slides -->
                    <div class="swiper-slide">
                            <div class="compare-graph">
                                <div class="h4">{{ key|formatNumber }} кг</div>
                                <ul class="graph-columns">
                                    {% set maxAr = [] %}
                                    {% for item in itemList %}
                                        {% set maxAr = maxAr|merge([item.price]) %}
                                    {% endfor %}
                                    {% set realMaxPrice = max(maxAr) %}
                                    {% set maxPrice = (max(maxAr) + max(maxAr) * 0.1) %}
                                    {% set maxPrice = ((maxPrice / 100)|round) * 100 %}
                                    {% set dotPrice = 1 %}

                                    {% for key, item in itemList %}
                                        {% set price = [] %}
                                        {% set price = item.price|split('-') %}

                                        {% if price[1] is defined and price[1] > 0 %}
                                            {% set dotPrice = price[0] %}
                                        {% endif %}

                                        <li  data-percent-from="{{ ((price[0] / maxPrice)*100)|round }}%"
                                                {% if price[1] is defined and price[1] > 0 %}
                                                    class="dot-column"
                                                    data-percent-to="{{ ((price[1] / maxPrice)*100)|round }}"
                                                {% endif %}
                                                {% if realMaxPrice == price[0] %}
                                                    class="bigger-column"
                                                {% endif %}

                                        ><span>&nbsp;</span></li>
                                    {% endfor %}
                                    <li class="economy-column">
                                        <span>&nbsp;</span>
                                        <div class="economy-total">

                                            <span>Экономия</span>
                                            <b>{{ ((1-(dotPrice/realMaxPrice)) * 100)|round(0, 'floor')|formatNumber }}%</b>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="graph-tk">
                                    <li><span>Точка-Точка</span></li>
                                    <li><span>ТК 1</span></li>
                                    <li><span>ТК 2</span></li>
                                    <li><span>ТК 3</span></li>
                                </ul>
                                <ul class="compare-price">
                                    <li><span>{{ maxPrice|formatPrice }}</span></li>
                                    <li></li>
                                    <li><span>{{ (maxPrice / 2)|round|formatPrice}}</span></li>
                                    <li></li>
                                    <li><span>0 ₽</span></li>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="swiper-button-prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="14" viewBox="0 0 30 14">
                    <path fill="#BABABA" fill-rule="evenodd"
                          d="M3.828 6.01H30v1.98H3.828l4.657 4.61L7.071 14 0 7l7.071-7 1.414 1.4z"/>
                </svg>
            </div>
            <div class="swiper-button-next">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="14" viewBox="0 0 30 14">
                    <path fill="#BABABA" fill-rule="evenodd"
                          d="M26.172 6.01H0v1.98h26.172l-4.657 4.61 1.414 1.4L30 7l-7.071-7-1.414 1.4z"/>
                </svg>
            </div>

        </div>

        <script>
            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) || $(window).width() < 1200) {
                setTimeout(function () {
                    var compareGraphSwiper = new Swiper('.compare-graph-slider .swiper-container', {
                        slidesPerView: 2,
                        spaceBetween: 0,
                        navigation: {
                            nextEl: '.compare-graph-slider .swiper-button-next',
                            prevEl: '.compare-graph-slider .swiper-button-prev',
                        },
                        breakpoints: {
                            767: {
                                slidesPerView: 1
                            }
                        }
                    });

                }, 100)


                setTimeout(function () {
                    $('.compare-popup .table-inner').overlayScrollbars({
                        dragScrolling: false
                    });
                }, 500)
            }
        </script>
