{% set senderActive = app.request.get('sender') or app.request.get('transporter') == '' ? true : false %}
{% set transporterActive = app.request.get('transporter') and app.request.get('sender') == '' ? true : false %}
    <div class="h2">О компании</div>
    <div id="tab" class="btn-group" data-toggle="buttons">
        <a href="#sender" class="btn btn-default {% if senderActive %} active {% endif %}" data-toggle="tab">
            <label class="control control--radio">Отправителю
                <input type="radio" name="userType" {% if senderActive %} checked="checked" {% endif %} />
            </label>
        </a>
        <a href="#transporter" class="btn btn-default {% if transporterActive %} active {% endif %}" data-toggle="tab">
            <label class="control control--radio">Перевозчику
                <input type="radio" name="userType" {% if transporterActive %} checked="checked" {% endif %}/>
            </label>
        </a>
        <a href="#press" class="btn btn-default" data-toggle="tab">
            <label class="control control--radio">Прессе
                <input type="radio" name="userType"/>
            </label>
        </a>
    </div>
    <div class="tab-content">
        <div class="tab-pane {% if senderActive %} active {% endif %}" id="sender">
            <div class="text-columns">
                <p>
                    Предлагаем самые низкие цены на грузоперевозки по России.
                    <span class="title">Кто мы</span>
                    <b>Точка-Точка</b> — это междугородняя доставка грузов и посылок. <br>Мы экономим ваши деньги на
                    доставке.<br> Пока
                    Москва и Санкт-Петербург. Обработка в центрах класса B+.

                    <span class="title">Как это работает</span>
                    Вам не надо выбирать "сборный груз" или "выделенный транспорт". Стоимость зависит от количества
                    заявок к
                    моменту отправки — это не влияет на срок и снижает затраты при каждом заказе.<br>
                    Мы не посредники, не доска объявлений, не "цифровая логистическая
                </p>

                <p>
                    компания". У нас прямой договор с вами и персональная ответственность. Отправления полностью
                    застрахованы нашим партнером "Спасские Ворота".
                    <span class="title">Как видим будущее</span>
                    Наша цель — низкие транспортные издержки по всей стране. <br>Мы развиваемся: в этом году будут открыты
                    точки в 15 городах.<br> Осенью организуем забор груза и доставку до адреса.
                    <span class="title">Попробуйте сами</span>
                    Начните регистрацию — перевезем первый заказ до 100 кг бесплатно.
                </p>
            </div>

            <a href="{{ path('app.default.index') }}#customer_calc" onclick="closePopup()" class="btn-default">Попробовать</a>
        </div>
        <div class="tab-pane {% if transporterActive  %} active {% endif %}" id="transporter">
            <div class="text-columns">
                <p style="text-align: left;">
                    Мы предлагаем заработать.<br>
                    Точка-Точка — это магистральный сервис. Пока Москва и Санкт—Петербург (трасса М11). До конца года
                    будут открыты 10 направлений. Все грузы паллетируются, чтобы сократить время. <br>
                    Вы управляете загрузкой своего транспорта. Выбор партий зависит от количества желающих с нами
                    работать по текущей или более низкой цене.

                </p>
                <p>
                    Мы работаем только с верифицированными партнерами и не сотрудничаем с физическими лицами.<br>Мы не посредники, не доска объявлений, не "цифровая логистическая компания". У нас прямой договор
                    экспедиции.<br>
                    Мы убеждены, что вы не должны терять, когда ТС идет полупустым или парк простаивает. <br>
                    Пройдите регистрацию и начните зарабатывать больше.


                </p>
            </div>

            <a style="margin-top: 113px;" href="{{ path('app.auction.index') }}#auction" onclick="closePopup()" class="btn-default">Продолжить</a>
        </div>
        <div class="tab-pane" id="press">
            <div class="text-columns">
                <p>
                    «Точка-Точка» — новый игрок на рынке логистических услуг.<br>Мы снижаем издержки в транспорте и упрощаем организацию <br>доставки для малого и среднего бизнеса в РФ.
                    <span class="title">Миссия</span>
                    Миссия нашей компании — обеспечить эффективность <br>и предложить возможности «свободного рынка» в логистике: <br>справедливые расходы и достойный заработок для всех участников.
                </p>
                <p>
                    <span class="title">Открытость</span>
                    Мы открыты к сотрудничеству со всеми заинтересованными медиа, <br>с удовольствием расскажем о нашем сервисе, поделимся <br>аналитическими данными и экспертными комментариями на темы транспорта, логистики и E-commerce. Будем рады стать верным партнёром для СМИ и оперативно предоставлять актуальную информацию.
                    <span class="links">
                        <a href="{{ path('sonata_media_download', {'id': 31}) }}">Пресс-кит</a>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <button title="Close (Esc)" type="button" class="mfp-close">×</button>

