<div class="h2">Вы не авторизованы как отправитель</div>
<p>Чтобы отправить (перевезти) груз, пожалуйста <br>
<a href="{{ path('fos_user_security_login') }}">авторизуйтесь как отправитель</a>.</p>
<p>Нет личного кабинета? 
{% if app.user and not app.user.isCustomer %}
    <a href="{{ path('app.personal.change_login') }}">Зарегистрируйтесь как отправитель</a>
{% else %}
    <a href="{{ path('app.security.register') }}" onclick="counterEvent('REG_BUT', 'click'); return true;">Зарегистрируйтесь как отправитель.</a>
{% endif %}
</p>