<div id="chartPopup" class="main-popup chart-popup">
    <div class="h3">Доступный для перевозки груз по цене за кг</div>
    <div class="chart-wrapper">
        <span class="kg">кг</span>
        <span class="rub">руб</span>
        <div id="chart-big" class="chart" data-current-step="2" style="width: 720px"></div>
    </div>
</div>