<div class="h2">Заказ №{{ orderId }} на складе доставки </div>
<p>Выберите время и дату доставки до адреса получателя. В ином случае оператор свяжется с получателем и уточнит время и дату доставки. Изменения в обоих случаях сохранятся в заказе.</p>
<span class="btn btn-default" id="openEdit">Выбрать</span>