<span class="mfp-close"></span>
<div class="h2">Вы указали данные Отправителя</div>
<p>Для оформления перевозки нужно авторизоваться или зарегистрироваться как Перевозчик</p>
<br/>
<p><a href="{{ path('app.personal.index', {'group': 'sender'}) }}">Перейти в ЛК Отправителя</a></p>
<p><a href="{{ path('fos_user_security_login') }}">Ввести другие данные авторизации</a></p>
<p><a href="{{ path('app.personal.change_login') }}" onclick="counterEvent('REG_BUT', 'click'); return true;">Зарегистрируйтесь как перевозчик</a></p>

