<span class="mfp-close"></span>
<div class="h2">Вы указали данные Перевозчика</div>
<p>Для оформления перевозки нужно авторизоваться или зарегистрироваться как Отправитель</p>
<br/>
<p><a href="{{ path('app.personal.index', {'group': 'sender'}) }}">Продолжить работу как перевозчик</a></p>
<p><a href="{{ path('fos_user_security_login') }}">Ввести другие данные авторизации</a></p>
<p><a href="{{ path('app.personal.change_login') }}" onclick="counterEvent('REG_BUT', 'click'); return true;">Зарегистрируйтесь как отправитель</a></p>


