<div id="subscribe">
    <div class="h2">Подпишитесь на обновления</div>
    <form class="form-column full text-left">
        <div class="form-group">
            <label for="email">Введите Email</label>
            <input type="text" v-model="email" class="form-control" name="email" id="email" v-on:keyup.enter="subscribeEmail(); return false;" v-validate="{required: true, email: true}" value="" placeholder="username@mail.ru">
            <label v-if="errors.has('email')" class="error">Заполните поле</label>
            <label v-if="error" class="error">Подписка уже активирована</label>
        </div>
        <div class="form-group">
            <div class="reg-actions">
                <div class="checkboxes">
                    <label for="terms0" class="control control--checkbox terms" v-on:click="terms = !terms">Даю согласие на обработку персональных данных
                        <input type="checkbox" id="terms" v-model="terms" v-bind:checked="terms"  value="1">
                        <div class="control__indicator"></div>
                    </label>

                    <label for="terms1" class="control control--checkbox terms" v-on:click="subscribe = !subscribe">Подписаться на новости и рекламу
                        <input type="checkbox" id="subscribe" v-model="subscribe" v-bind:checked="subscribe"  v-validate="{required: true}" value="1">
                        <div class="control__indicator"></div>
                    </label>

                </div>
                <div class="submit">
                    <button type="button" class="btn-default" v-on:click="subscribeEmail(); return false;" v-bind:class="{disabled: !terms || !subscribe}">Подписаться</button>
                </div>
            </div>
        </div>
    </form>
</div>
