<div class="h2">Верификация</div>

{% set viewDelayText = false %}
<div style="text-align: left">
{% for driver in organization.drivers %}
    <b>{{ driver.name }}</b> - {% if driver.isVerifiedSuccess %}Верифицирован{% endif %}
    {% if driver.isVerifiedDelay %}Ожидает верификации{% endif %}
    {% if driver.isVerifiedError %}Данные не прошли верификацию{% endif %}<br>

    {% if driver.isVerifiedDelay %}
        {% set viewDelayText = true %}
    {% endif %}
{% endfor %}
</div>

{% if viewDelayText %}
    <br>Верификация данных займет 3 часа, с переносом на следующий рабочий день, в случае регистрации после 18-00. Вы получите СМС уведомление и тогда сможете приступить к перевозкам.
{% endif %}

<a href="#" onclick="closePopup(); return false;" class="btn-default">Продолжить</a>