<div class="h2">Ожидание верификации</div>
<p>Верификация данных займет 3 часа, с переносом на следующий рабочий день, в случае регистрации после 18-00. Вы получите СМС уведомление и тогда сможете приступить к перевозкам.</p>
<a href="{{ path('app.auction.index') }}" class="btn-default">На главную</a>