<div class="h2">Авторизация</div>
<form id="loginForm" novalidate="novalidate" autocomplete="off">
    <div class="login-wrap">
        <div class="content text-left">
            <div class="form-column">
                <div class="form-group">
                    <label for="loginPhone">Введите логин (номер моб. телефона)</label>
                    <input tabindex="-1" v-model="phone" v-mask="mask.phone" type="text" class="form-control" name="loginPhone" id="loginPhone" autocomplete="off" v-validate="{phone: true}">
                </div>
            </div>
            <div class="form-column">
                <span tabindex="-1" v-on:keyup.enter="sendSms()" v-on:click="sendSms()" class="btn-default js-order-login-code" v-bind:class="{'disabled': isValidPhone == false || send == true}">Отправить код</span>
            </div>
            <div class="form-column">
                <div class="form-group">
                    <label for="logPassword">Введите код из смс</label>
                    <input tabindex="-1" v-model="code" v-bind:class="{'error': checkCode == false, 'disabled': send == false }" type="text" class="form-control" name="logPassword" id="logPassword" autocomplete="off">
                </div>
            </div>
            <button tabindex="-1" type="submit" v-on:click="auth($event)" class="btn-active" v-bind:class="{'disabled': checkCode == false || send == false}">Войти</button>
        </div>
    </div>
</form>
