{% extends 'template/emailpage/template.html.twig' %}

{% block content %}


    <table>
        <tbody>
        <tr>
            <td>Адрес отправления</td>
            <td>{{ shipping.type == 'pickup' ? shipping.address : shipping.stock.address }}</td>
        </tr>
        <tr>
            <td>Адрес доставки</td>
            <td>{{ shipping.type == 'pickup' ? shipping.stock.address : shipping.address }}</td>
        </tr>
        <tr>
            <td>Данные водителя</td>
            <td>
                {{ format_driver(driver) }}
            </td>
        </tr>
        <tr>
            <td>Забор</td>
            <td>{{ shipping.pickAt ? shipping.pickAt|date('d.m.Y H:i') }}</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td>{{ order.totalWeight }}</td>
        </tr>
        <tr>
            <td>Кол-во ГМ</td>
            <td>{{ order.totalCount }}</td>
        </tr>
        <tr>
            <td>Тип груза</td>
            <td>{{ order.packagesTypes|join(', ') }}</td>
        </tr>
        <tr>
            <td>Объем груза</td>
            <td>{{ order.totalVolume }}</td>
        </tr>
        <tr>
            <td>Габариты груза</td>
            <td>
                {% if order.packages|length > 0 %}
                    {% for orderPackage in order.packages %}
                        {{ orderPackage.sizeObject.sizeString }} {{ orderPackage.count }}<br/>
                    {% endfor %}
                {% elseif order.orderPackages|length > 0 %}
                    {% for orderPackage in order.orderPackages %}
                        {{ orderPackage.sizeObject.sizeString }} {{ orderPackage.count }}<br/>
                    {% endfor %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Кол-во грузчиков</td>
            <td>{{ shipping.countLoader }}</td>
        </tr>
        <tr>
            <td>Необходимость гидроборта (да/нет)</td>
            <td>{{ shipping.hydroBoard ? 'да' : 'нет' }}</td>
        </tr>
        <tr>
            <td>Кол-во грузчиков</td>
            <td>{{ shipping.countLoader }}</td>
        </tr>
        <tr>
            <td>Необходимость гидроборта (да/нет)</td>
            <td>{{ shipping.hydroBoard ? 'да' : 'нет' }}</td>
        </tr>
        <tr>
            <td>Стоимость груза</td>
            <td>{{ order.declaredPrice }}</td>
        </tr>
        <tr>
            <td>Время создания заказа</td>
            <td>{{ order.createdAt ? order.createdAt|date('d.m.Y H:i') }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}