{% extends 'template/emailpage/template.html.twig' %}

{% block content %}


    <table>
        <tbody>
        <tr>
            <td>Адрес отправления</td>
            <td>{{ shipping.type == 'pickup' ? shipping.address : shipping.stock.address }}</td>
        </tr>
        <tr>
            <td>Адрес доставки</td>
            <td>{{ shipping.type == 'pickup' ? shipping.stock.address : shipping.address }}</td>
        </tr>
        <tr>
            <td>Данные водителя</td>
            <td>
                {{ format_driver(driver) }}
            </td>
        </tr>
        <tr>
            <td>Забор</td>
            <td>{{ shipping.pickAt ? shipping.pickAt|date('d.m.Y H:i') }}</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td>{{ order.totalWeight }}</td>
        </tr>
        <tr>
            <td>Кол-во ГМ</td>
            <td>{{ order.totalCount }}</td>
        </tr>
        <tr>
            <td>Тип груза</td>
            <td>{{ order.packagesTypes|join(', ') }}</td>
        </tr>
        <tr>
            <td>Объем груза</td>
            <td>{{ order.totalVolume }}</td>
        </tr>
        <tr>
            <td>Габариты груза</td>
            <td>
                {% if order.packages|length > 0 %}
                    {% for orderPackage in order.packages %}
                        {{ orderPackage.sizeObject.sizeString }} {{ orderPackage.count }}<br/>
                    {% endfor %}
                {% elseif order.orderPackages|length > 0 %}
                    {% for orderPackage in order.orderPackages %}
                        {{ orderPackage.sizeObject.sizeString }} {{ orderPackage.count }}<br/>
                    {% endfor %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Кол-во грузчиков</td>
            <td>{{ shipping.countLoader }}</td>
        </tr>
        <tr>
            <td>Необходимость гидроборта (да/нет)</td>
            <td>{{ shipping.hydroBoard ? 'да' : 'нет' }}</td>
        </tr>

        </tbody>
    </table>


    {% if order.user.userPerson and order.sender and order.user.userPerson.id != order.sender.id %}
    Вам необходимо идентифицировать водителя при передаче груза. <br> <br>

    Для экономии Вашего времени заранее распечатайте Экспедиторскую Расписку (ЭР) и Транспортную Накладную (ТН) из Личного кабинета.<br> <br>

    С целью упрощения процедуры отгрузки прилагаем информационное письмо для Отправителя, которое Вы можете распечатать и подписать.
    {% endif %}

{% endblock %}
