{% extends 'template/securitypage/template.html.twig' %}

{% block content %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div id="auth">
        <div class="t-container">

            <h2>Регистрация в системе</h2>

            <p>Нет аккаунта? <a href="{{ path('app.security.register') }}">Зарегистрируйтесь</a> в системе </p>

            <form action="/login_check" method="post">
                <label for="username">Введите логин (номер моб. телефона)</label>
                <input type="text" id="username" name="phone" class="t-input " value="{{ last_username }}" />

                <input type="text" id="username" name="_username" class="t-input " value="{{ last_username }}" />

                <label for="password">Введите пароль</label>
                <input type="password" id="password" class="t-input" name="_password" />

                {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                    <input type="hidden" name="_target_path" value="/account" />
                #}

                <button type="submit">Войти</button>
            </form>

        </div>
    </div>

{% endblock %}