<div v-if="organization.uridical == 1">
    <div class="form-column lined">
        <div class="form-group small">
            <label for="organization.type">Организация</label>
            <select class="selectpicker" name="organization.type" v-model="organization.type" v-validate="{required: true}" >
                <option :value="organizationType.title" v-for="organizationType in organizationTypes">${ organizationType.title }</option>
            </select>
            <label v-if="errors.has('organization.type')" class="error">Заполните поле</label>
        </div>
        <div class="form-group bigger">
            <label for="organization.companyName">&nbsp;</label>
            <input type="text" class="form-control" v-filter="filter.cyrillicNumeric" v-bind:class="{error: errors.has('organization.companyName')}" v-model="organization.companyName" name="organization.companyName" v-validate="{required: true, cyrillicNumeric: true}">
            <label v-if="errors.has('organization.companyName')" class="error">Заполните поле</label>
        </div>
    </div>
    <div class="form-column lined yes-no">
        <div class="form-group">
            <label>Плательщик НДС</label>
            <label class="control control--radio">Да
                <input type="radio" v-bind:class="{error: errors.has('organization.nds')}" v-model="organization.nds" name="organization.nds" :checked="organization.nds" v-validate="{required: true}" required value="1" />
                <div class="control__indicator"></div>
            </label>
            <label class="control control--radio">Нет
                <input type="radio" v-bind:class="{error: errors.has('organization.nds')}" v-model="organization.nds" name="organization.nds" :checked="!organization.nds" v-validate="{required: true}" required value="0" />
                <div class="control__indicator"></div>
            </label>

            <label v-if="errors.has('organization.nds')" class="error">Заполните поле</label>
        </div>
    </div>
    <div class="form-column lined">
        <div class="form-group">
            <label for="organization.inn">ИНН</label>
            <input type="text" class="form-control" v-filter="filter.numeric" v-bind:class="{error: errors.has('organization.inn')}" v-model="organization.inn" name="organization.inn" :maxlength="organization.type == 'ИП' ? 12 : 10" v-validate="{required: true, max: organization.type == 'ИП' ? 12 : 10, min: organization.type == 'ИП' ? 12 : 10, numeric: true}" required>
            <label v-if="errors.has('organization.inn')" class="error">Заполните поле</label>
        </div>
        <div class="form-group">
            <label for="organization.kpp">КПП</label>
            <input type="text" class="form-control" v-filter="filter.numeric" v-bind:class="{error: errors.has('organization.kpp'), disabled: organization.type == 'ИП'}" v-model="organization.kpp"  :maxlength="9" v-validate="{required: organization.type != 'ИП', max: 9, min: 9, numeric: true}" name="organization.kpp" value="">
            <label v-if="errors.has('organization.kpp')" class="error">Заполните поле</label>
        </div>
    </div>
    <div class="form-column lined">
        <div class="form-group">
            <label for="organization.bik">БИК</label>
            <input type="text" class="form-control" v-filter="filter.numeric" v-bind:class="{error: errors.has('organization.bik')}" v-model="organization.bik" name="organization.bik" :maxlength="9" v-validate="{required: true, max: 9, min: 9, numeric: true}" required  value="">
            <label v-if="errors.has('organization.bik')" class="error">Заполните поле</label>
        </div>
        <div class="form-group">
            <label for="organization.rs">Р/С</label>
            <input type="text" class="form-control" v-filter="filter.numeric" v-mask="mask.five" v-bind:class="{error: errors.has('organization.rs')}" v-model="organization.rs" name="organization.rs" :maxlength="23" v-validate="{required: true, max: 23, min: 23}" required value="">
            <label v-if="errors.has('organization.rs')" class="error">Заполните поле</label>
        </div>
    </div>
    <div class="form-column full">
        <div class="form-group">
            <label v-if="organization.type == 'ООО' || organization.type == 'Другое'" for="ceo">ФИО ген. директора</label>
            <label v-if="organization.type == 'ИП'" for="ceo">ФИО инд. предпринимателя</label>
            <input type="text" v-filter="filter.cyrillic" class="form-control" v-bind:class="{error: errors.has('organization.ceo')}" v-model="organization.ceo" name="organization.ceo" v-validate="{required: true, cyrillic : true}" required value="">
            <label v-if="errors.has('organization.ceo')" class="error">Заполните поле</label>
        </div>
    </div>
    <div class="form-column full">
        <div class="form-group">
            <label for="fioContact">ФИО контактного лица</label>
            <input type="text" v-filter="filter.cyrillic" class="form-control" v-bind:class="{error: errors.has('organization.contactName')}" v-model="organization.contactName" name="organization.contactName" v-validate="{required: true, cyrillic : true}" required  >
            <label v-if="errors.has('organization.contactName')" class="error">Заполните поле</label>
        </div>
    </div>
    <div class="form-column lined">
        <div class="form-group">
            <label for="contactPhone">Контактный телефон</label>
            <input type="text" class="form-control" v-bind:class="{error: errors.has('organization.contactPhone')}" v-mask="mask.phone" v-model="organization.contactPhone" name="organization.contactPhone" v-validate="{required: true, phone: true}" required>
            <label v-if="errors.has('organization.contactPhone')" class="error">Заполните поле</label>
        </div>
    </div>
    <div class="form-column full">
        <div class="form-group custom-autocomplete-select">
            <label for="postAdress">Почтовый адрес</label>
            <input autocomplete="off" type="text" v-filter="filter.address" class="form-control" v-bind:class="{error: errors.has('organization.address')}" @keyup.enter="cleanOrganizationAddress()" @change="cleanOrganizationAddress()" v-model="organization.address" name="organization.address" v-validate="{required: true}" required>
            <label v-if="errors.has('organization.address')" class="error">Заполните поле</label>
            <select v-model="autocompleteOrganizationAddressSelected" v-if="autocompleteOrganizationAddress.length >0 " class="selectpicker" title="Выберите адрес">
                <option v-for="address in autocompleteOrganizationAddress">
                    ${ address }
                </option>
            </select>
        </div>
    </div>
</div>
