{% extends 'template/securitypage/template.html.twig' %}

{% block content %}

<div>
    <section class="log-reg-wrapper">
       <div class="container">
          <div class="container-inner">
              <div
                    id="register-form"
                    data-attach-vue="register"
                    {% if app.request.get('step') %}data-step="{{ app.request.get('step') }}"{% endif %}
                    {% if app.request.get('group') %}data-group="{{ app.request.get('group') }}"{% endif %}
                    {% if app.request.get('userId') %}data-userid="{{ app.request.get('userId') }}"{% endif %}
              >
              </div>
             <div class="reg-copyright">
                <span>{{ "now"|date("Y") }} © ООО "Точка-Точка”. Все права защищены.</span>
                <a target="_blank" id="offer_customer" href="/offer/customer" style="display: none">Условия оферты</a>
                <a target="_blank" id="offer_carrier" href="/offer/carrier"  style="display: none">Условия оферты</a>
             </div>
          </div>
       </div>

       <div class="log-reg-bg"></div>
    </section>
</div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_script_tags('js/main') }}
{% endblock %}

