<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">

    <title>Как до нас добраться</title>
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1400">

    <meta property="og:image" content="path/to/image.jpg">
    <link rel="shortcut icon" href="/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/img/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-touch-icon-114x114.png">
    <meta name="format-detection" content="telephone=no">

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#000">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">
    <style type="text/css">
        body {
            opacity: 0;
            overflow-x: hidden;
        }
    </style>
    <style type="text/css">
        @media print {
            #print-wrapper {
                max-width: 1235px !important;
                min-width: 800px !important;
                padding: 20px 20px !important;
            }
            .map-column.left, .map-column.right {
                width: 330px !important;
            }
            #print-wrapper #map {
                width: 700px !important;
            }
            #print-wrapper #header {
                padding-bottom: 30px !important;
            }
        }
    </style>
</head>

<body>

<script>
    window.stocks = [];
    var store = {
        id: '{{ stock.id }}',
        lat: '{{ stock.lat }}',
        lng: '{{ stock.lng }}'
    }
    window.stocks.push(store);
</script>

<div id="print-wrapper">
    <!--============================
    =            Header            =
    =============================-->
    <header id="header">
        <div class="container">
            <a class="logo">
                <img src="/img/logo-gray.svg" alt="">
            </a>
        </div>
    </header>
    <!--====  End of Header  ====-->
    <div id="map"></div>

    <div class="map-column left">
        <div class="h3">{{ stock.title }}</div>
        <div class="h5">Адрес:</div>
        <p>
            {{ stock.address }}
        </p>
        <div class="h5">Время работы:</div>
        <p>{{ stock.mode }}</p>
        <div class="h5">Контактный телефон</div>
        <span x-ms-format-detection="none">{{ stock.phone }}</span>
    </div>
    <div class="map-column right">
        <div class="h3">Как до нас добраться</div>
        <p>{{ stock.howToGet|raw }}</p>
    </div>
    <div class="clearfix"></div>
</div>

<link rel="stylesheet" href="/css/main.min.css">
<script src="/libs/jquery/dist/jquery.min.js"></script>
<script src="{{ asset('js/stocks.js') }}"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLqawvvNm0Oj1Nt8yaQ-CdvQ1190oPaug&callback=initMap">
</script>
<script>
    $(function(){
        setTimeout(function(){
            window.print();
        }, 3000);
    })
</script>
</body>

</html>
