<template>
    <section class="white">
        <div class="container">
            <div class="h3">Отследить заказ</div>
            <form id="trackForm" class="track-form" novalidate autocomplete="off">
                <div class="form-group">
                    <label>Введите номер заказа:</label>
                    <input type="text" class="form-control" name="number" id="number" v-model="number">
                    <span class="btn-default " v-bind:class="{disabled : numberCheck == false}"  v-on:click="sendSms()" id="track-btn" >Отследить</span>
                </div>
                <div class="form-group" id="track-sms" v-show="smsSend">
                    <label>Введите код из SMS:</label>
                    <input type="text" class="form-control" name="code" id="code" v-model="code">
                    <p>Система должна отправить СМС в течение 60 секунд.<br>
                        Если вы не получили СМС - просьба связаться с отправителем!</p>
                </div>
            </form>
        </div>
    </section>
</template>

<script>
    import Vue from 'vue';
    import ff from '../../vueconfig.js';

    export default {
        name: 'track',
        data() {
            return {
                url: '',
                number: '',
                numberCheck: false,
                code: '',
                checkCode: null,
                smsSend: false,
                mask: ff.mask(),
            }
        },
        methods: {
            checkNumber: function () {
                let number = this.number;

                this.smsSend = false;
                this.checkCode = null;

                let jqxhr = $.ajax({
                    url: "/api/order/customer/check_number",
                    cache: false,
                    async: false,
                    data: {number: number}
                });

                let data = jqxhr.responseJSON.data;

                this.numberCheck = data.result;

                if (data.auth) {
                    location.href = data.url;
                }

                return data;
            },

            sendSms: function () {
                let number = this.number;

                if (this.numberCheck == false) {
                    return false;
                }

                let jqxhr = $.ajax({
                    url: "/api/order/customer/sendsms",
                    cache: false,
                    async: false,
                    data: {number: number}
                });

                let data = jqxhr.responseJSON;

                this.smsSend = data.status;

                return data.status;
            },

            checkSmsCode: function () {
                let number = this.number;
                let code = this.code;

                let jqxhr = $.ajax({
                    url: "/api/order/customer/checksms",
                    cache: true,
                    async: false,
                    data: {code: code, number: number}
                });

                let data = jqxhr.responseJSON;

                this.checkCode = data.status;

                if (this.checkCode) {
                    location.href = data.data.url;
                }

                return data.status;
            },
        },
        watch: {
            number: function (val) {
                this.checkNumber();
            },
            code: function (val) {
                this.checkSmsCode();
            }
        }
    }
</script>