<template>
    <div>
        <div class="codes">
            <div>
                <div class="codes__title">Персональный код</div>
                <div class="codes__subtitle">Ускорьте процесс оформления заказа на складе</div>
                <div class="codes__steps">
                    <div class="codes__steps__item">
                        Сгенерируйте и сохраните <br> коды
                    </div>
                    <div class="codes__steps__item">
                        Передайте код отправителю <br> вместе с остальными данными
                    </div>                
                    <div class="codes__steps__item">
                        Отправитель сдает груз <br> на основании предъявленного кода
                    </div>
                </div>
                <span class="js-toggle-steps"><span>Подробнее</span> <img src="img/arrow-down-red.svg" alt=""></span>
                <div class="codes__get">
                    <div class="codes__get__title">Генератор персонального кода</div>
                    <p class="codes__get__text">Сохраните 100 одноразовых кодов</p>
                    <br/>
                    <label class="control control--checkbox terms" v-bind:class="{'highlight-offert': highlightOffert}">
                        Согласен с условиями <a target="_blank" href="/offer/customer">оферты</a>
                        <input  @change="highlightOffert ? highlightOffert = !acceptOffert : null" type="checkbox" v-model="acceptOffert">
                        <div class="control__indicator"></div>
                    </label>
                    <ul class="codes__get__list" >
                        <li class="codes__get__item"><span @click="highlightOffert = !acceptOffert"><a href="/api/user/authtoken/download/csv" v-bind:class="{disabled: !acceptOffert}">CSV</a></span></li>
                        <li class="codes__get__item"><span @click="highlightOffert = !acceptOffert"><a href="/api/user/authtoken/download/pdf" v-bind:class="{disabled: !acceptOffert}">PDF</a></span></li>
                        <li class="codes__get__item"><span @click="highlightOffert = !acceptOffert"><a href="/api/user/authtoken/download/txt" v-bind:class="{disabled: !acceptOffert}">Text</a></span></li>
                    </ul>
                </div>
            </div>
            <div v-bind:class="{ 'loading': usedTokensLoading}">
                <template v-if="authtokens && authtokens.length">
                    <div class="codes__table__title">Использованные коды</div>
                    <table class="codes__table">
                        <thead>
                            <tr>
                                <th>Код</th>
                                <th>Заказ №</th>
                                <th>Дата</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="authtoken in authtokens">
                                <td>{{ authtoken.code }}</td>
                                <td>{{ authtoken.order.id }}</td>
                                <td>{{ formatDateTime(authtoken.order.createdAt) }}</td>
                            </tr>                   
                        </tbody>
                    </table>                        
                    
                </template>

                <paginate
                        v-if="usedTokenPages > 1"
                        :page-count="usedTokenPages"
                        :page-range="6"
                        :margin-pages="1"
                        prev-text=""
                        prev-class="unstyled"
                        prev-link-class="btn btn-rect previous"
                        next-class="unstyled"
                        next-link-class="btn btn-rect next"
                        next-text=""
                        :click-handler="loadPage"
                        :container-class="'pagination'"
                        :page-class="'page-item'">
                </paginate>
            </div>
        </div>

    </div>
</template>

<script>
    import Vue from 'vue';
    import ff from '../../vueconfig.js';
    import Paginate from 'vuejs-paginate';

    import Vuex from 'vuex';
    import storeData from '../../custom/store/wms.personal.store';

    Vue.use(Vuex);
    const store = new Vuex.Store(storeData);

    export default {
        name: 'authtoken',
        store,
        components: {
            Paginate
        },
        props: {
            limit: {
                default: 10
            }
        },
        data() {
            return {
                usedTokensLoading: false,

                highlightOffert: false,
                acceptOffert: false
            }
        },
        created() {
            this.usedTokensLoading = true;
            this.$store.dispatch('authtoken/loadUsedTokens', {limit: this.limit}).then(() => {
                this.usedTokensLoading = false;
            });
        },
        methods: {
            formatDateTime: function (date) {
                return ff.formatDateTime(date);
            },
            loadPage: function(page) {
                if (page >= 1 && page <= this.usedTokenPages) {
                    this.usedTokensLoading = true;
                    this.$store.dispatch('authtoken/loadUsedTokens', {
                        page: page,
                        limit: this.limit
                    }).then(() => {
                        this.usedTokensLoading = false;
                    });
                }
            },
        },
        computed: {
            usedTokenPages: function () {
                return this.$store.getters['authtoken/usedTokensPages'];
            },
            authtokens: function () {
                return this.$store.getters['authtoken/usedTokens'];
            }
        }
    }
</script>
