{% extends 'template/innerpage/template.html.twig' %}

{% block content %}
    <section class="white">
        <div class="container">

            <div class="heading {% if article.picture == false %}no-photo{% endif %}">
                <div class="heading__text-section">
                    <div class="heading-tags">
                        <div class="tags__tags-list">
                            {% for tag in article.tags %}
                            <div class="tags__label">{{ tag.title }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="heading-text">
                        <!--<span>Грузоперевозки </span>-->
                        <!--<span>для интернет-магазинов</span>-->
                        <span id="small">{{ article.title|raw }}</span>
                    </div>
                </div>
                {% if article.picture %}
                <div class="heading__picture" style="background: url({% path article.picture, 'big' %}); background-size: cover;">

                </div>
                {% endif %}
            </div>
            <div class="article-main-content">
                {% for block in article.blocks if block.published %}

                    {% if block.type == constant('App\\Entity\\Content\\Block::TYPE_TEXT') %}
                        {{ block.description|raw }}
                    {% endif %}


                    {% if block.type == constant('App\\Entity\\Content\\Block::TYPE_IMAGE') %}
                        <div class="article-content__image darken-pseudo darken-with-text"
                             style="background: url({% path block.picture, 'big' %}); background-size: cover;"
                        >
                            <p class="image-text">{{ block.heading|raw }}</p>
                        </div>
                    {% endif %}

                    {% if block.type == constant('App\\Entity\\Content\\Block::TYPE_LINK') %}
                        <div class="article-content__also-read">
                            <p>{{ block.heading|default('Читайте также') }}</p>
                            <div class="h3">{{ block.heading|raw }}</div>
                            <div class="">
                                <a class="more-button" href="{{ block.link }}">
                                    <span>Подробнее</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12">
                                        <path fill-rule="evenodd" d="M.578 10.594L5.172 6 .578 1.406 1.984 0l6 6-6 6z"></path></svg>
                                </a>
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}
            </div>

            {% include 'block/sender_banner.html.twig' %}

            {% include 'block/questions.html.twig' %}

        </div>
    </section>
{% endblock %}

{% block stylesheets %}
   <style>
       body #header.inner-header {
           margin-bottom: 0;
       }
   </style>

{% endblock %}

{% block js %}
    <script>
        if ($(window).width() < 767) {
            (function ($) {
                var accoIsAnimated = false;
                var table = $('.article-main-content').find('table');
                var triggers = table.find('tr:not(first-child) td:first-child');
                var content = triggers.closest('tr');
                triggers.each(function(i, el) {
                    var height = $(this).innerHeight();
                    $(this).closest('tr').innerHeight(height)
                })
                triggers.on('click', function(e) {
                    if(!accoIsAnimated) {
                        accoIsAnimated = true;
                        triggers.each(function(i ,el) {
                            var triggerHeight = $(this).innerHeight();
                            content.eq(i).innerHeight(triggerHeight);
                        })
                        if(!$(this).hasClass('active')) {
                            var thisContent = $(this).closest('tr');
                            thisContent.css({height:'auto'});
                            var fullHeight = thisContent.innerHeight();
                            var thisTriggerHeight = $(this).innerHeight();
                            thisContent.innerHeight(thisTriggerHeight);
                            thisContent.innerHeight(fullHeight);
                        }
                        setTimeout(function(){
                            accoIsAnimated = false;
                        },500)

                        if($(this).hasClass('active')) {
                            $(this).removeClass('active');
                        } else {
                            triggers.removeClass('active')
                            $(this).addClass('active')

                        }
                    }
                })
            })(jQuery);
        }
    </script>
{% endblock %}
