<div class="articles__top-section small">
    <div class="articles__top-section__image darken-pseudo darken-with-text" style="background: url({% path article.picturePreview, 'big' %}); background-size: cover;">
        <div class="tags__tags-list">
            {% for tag in article.tags %}
                <div class="tags__label">{{ tag.title }}</div>
            {% endfor %}
        </div>
    </div>
    <div class="articles__top-section__description">
        <div class="h3">{{ article.title|raw }}</div>
        <div class="articles__top-section__description__text">
            {{ article.preview|raw }}
        </div>
        <div class="articles__top-section__description__more">
            <a class="more-button" href="{{ path('app.article.detail', {'code': article.slug}) }}">
                <span>Подробнее</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12">
                    <path fill-rule="evenodd" d="M.578 10.594L5.172 6 .578 1.406 1.984 0l6 6-6 6z"/></svg>
            </a>
        </div>
    </div>
</div>
