<template>
    <div class="login-wms">
        <div class="h2">Авторизация</div>
        <form id="loginForm">
            <div class="form-group">
                <label>Введите код</label>
                <input type="text" class="form-control" v-model="code" name="code" v-bind:class="{'error' : error}" required>
                <label v-if="error && !code" class="error">Заполните поле</label>
                <label v-if="error && code" class="error">Неверный код</label>
            </div>
            <button type="submit" v-on:click="auth($event)" class="btn-default">Войти</button>
        </form>
    </div>
</template>

<script>
    import Vue from 'vue';
    import ff from '../../vueconfig.js';

    export default {
        name: 'wms-auth',
        props: [],
        data() {
            return {
                code: null,
                error: false
            }
        },
        methods: {
            auth: function ($event) {
                $event.preventDefault();

                let jqxhr = $.ajax({
                    method: 'POST',
                    url: "/api/wms/security/auth",
                    cache: false,
                    async: false,
                    data: {
                        code: this.code,
                    }
                });

                let json = jqxhr.responseJSON;

                if (json.status != undefined && json.status) {
                    location.reload();

                    this.error = false;
                } else {
                    this.error = true;
                }

                return false;
            },
        },
        watch: {
            code: function(val) {
                this.error = false;
            }
        },
    }
</script>