{% extends 'template/pdfpage/template.html.twig' %}

{% block content %}

    <div class="page-content" style="padding: 60px 0; text-align: justify; overflow: hidden; height: 1800px;">

        <div class="container" style="margin: 0 auto;max-width: 100%; ">
            <img src="{{ asset('/img/doc-logo.jpg') }}" alt="" class="doc-img">
            <div class="doc-header">
                <a href="#" class="doc-logo"><img src="{{ asset('/img/doc-header.jpg') }}" alt="" style="width: 306px"></a>
                <p>Доставка грузов по России<br>119034, г. Москва, Рязанский пр-кт, дом 16, с. 4, 8 800 222 33 57, www.dot-dot.ru</p>
            </div>
            <div class="text-center" style="margin-bottom: 50px;">
                <p>
                    <b>
                        АКТ ПРИЕМА-ПЕРЕДАЧИ ГРУЗА № {{ batch.externalId }}
                    </b>
                </p>
            </div>
            <div class="pull-left">
                <p>г. {{ batch.stockTo.city.title }}</p>
            </div>
            <div class="pull-right">
                <p>{{ 'now'|date('d.m.Y') }} г.</p>
            </div>
            <div class="clearfix"></div>
            <p><b>Грузоотправитель</b> ООО «ТОЧКА-ТОЧКА ЛОГИСТИКА», Рязанский пр-кт, дом 16, с. 4, тел. {{ '800 222 33 57'|formatPhone}}</p>
            <p><b>Получатель</b> ООО «ТОЧКА-ТОЧКА ЛОГИСТИКА», {{ batch.stockTo.address }} , тел. {{ batch.stockTo.phone|formatPhone }}</p>
            <p><b>Экспедитор</b>
                {% if batch.organization is not null %}
                    {{ batch.organization.type }} «{{ batch.organization.companyName }}», {{ batch.organization.address }}.
                {% endif %}
            </p>

            <p><b>Экспедиторская расписка №</b> {{ batch.externalId }}</p>
            <br>
            <table class="table">
                <tr>
                    <td class="text-center"><b>№ места</b></td>
                    <td class="text-center"><b>Наименование груза</b></td>
                    <td class="text-center"><b>Упаковка</b></td>
                    <td class="text-center"><b>Вес, кг</b></td>
                </tr>
                {% for pallet in batch.pallets %}
                <tr>
                    <td>{{ pallet.externalId }}</td>
                    <td>палета</td>
                    <td>стрейч пленка</td>
                    <td>{{ pallet.weight }}</td>
                </tr>
                {% endfor %}
            </table>
            <p><b>Итого</b></p>
            <p>
                <span class="pull-left" style="width:28%">
                    Кол-во мест {{ batch.pallets|length }}
                </span>
                <span class="pull-left" style="width:28%">
                    Общий объем, м3 {{ batch.totalVolume|nformat }}
                </span>
                <span class="pull-left" style="width:28%">
                    Общий вес, кг {{ batch.totalWeight }}
                </span>

                <span class="clearfix"></span>
            </p>
            <br>
            <div style="width: 50%; float: left;">
                <p><b>ГРУЗ ПЕРЕДАЛ</b></p>
                <p style="margin-bottom: 80px">
                    {% if batch.organization is not null %}
                        {{ batch.organization.type }} «{{ batch.organization.companyName }}»
                    {% endif %}
                </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_____________________/_______________/<br>
                    М.П.</p>
                <p>по доверенности № _____ от __________г.               </p>
            </div>
            <div style="width: 50%; float: left;">
                <p><b>ГРУЗ ПРИНЯЛ</b></p>
                <p style="margin-bottom: 80px">ООО «ТОЧКА-ТОЧКА ЛОГИСТИКА»
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_____________________/_______________/<br>
                    М.П.</p>
                <p>по доверенности № _____ от __________г.               </p>
            </div>
            <div class="clearfix"></div>




        </div>
    </div>

    {% if batch.damaged %}
    <div class="page"></div>
    
    <div class="page-content" style="padding: 60px 0; text-align: justify; overflow: hidden">

        <div class="" style="margin: 0 auto;max-width: 100%;">
            <img src="{{ asset('/img/doc-logo.jpg') }}" alt="" class="doc-img">
            <div class="doc-header">
                <a href="#" class="doc-logo"><img src="{{ asset('/img/doc-header.jpg') }}" alt="" style="width: 306px"></a>
                <p>Доставка грузов по России<br>119034, г. Москва, Рязанский пр-кт, дом 16, с. 4, 8 800 222 33 57, www.dot-dot.ru</p>
            </div>
            <p><b>Экспедиторская расписка № </b>{{ batch.externalId }}</p>
            <br>
            <p><b>Акт составил: </b><span style="width: 88%; border-bottom: 1px solid #000; display: inline-block;">&nbsp;</span></p>
            <p><b>Транспортная накладная № </b>{{ batch.externalId }} от {{ 'now'|date('d.m.Y') }}</p>
            <p><b>Пункт отправления:</b> {{ batch.stockFrom.address }}</p>
            <p><b>Пункт назначения:</b> {{ batch.stockTo.address }}</p>
            <p><b>Объявленная ценность: </b>согласно реальной стоимости, подтвержденной документально </p>
            <p><b>Описание груза по факту: </b>
                кол-во мест {{ batch.pallets|length }} шт, объем общий {{ batch.totalVolume|nformat }} м3, вес общий {{ batch.totalWeight }} кг,

                в том числе поврежденных и испорченных мест {{ batch.damagedCount }} шт.
            </p>
            <br>
            <p>
                <b>Замечания по приему-передаче груза (нужное подчеркнуть):</b> <br>
                &nbsp;&nbsp;&nbsp;&nbsp;•   акт экспертизы составлен/ не составлен<br>
                &nbsp;&nbsp;&nbsp;&nbsp;•   к акту приложены следующие материалы: пломбы, документы, фото, видеоматериалы

            </p>
            <br>
            <table class="table">
                <tr>
                    <td class="text-center"><b>№ места</b></td>
                    <td class="text-center"><b>Упаковка/ пломбы (подчеркнуть)</b></td>
                    <td class="text-center"><b>Описание повреждения</b></td>
                </tr>
                {% for pallet in batch.pallets if pallet.isDamaged %}
                <tr>
                    <td>{{ pallet.externalId }}</td>
                    <td>в запечатанном / не запечатанном виде,<br> упаковка не нарушена/нарушена <br><br>пломбы не нарушены/ нарушены</td>
                    <td><span style="position: relative;top: 90px">следы вскрытия/характер повреждения;<br> описание груза с указанием фактов его порчи; причины порчи</span></td>
                </tr>
                {% endfor %}
            </table>
            <br><br>
            <p><b>Обстоятельства составления акта; условия транспортировки:</b></p>
            <p class="bottom-line">
                &nbsp;
                <span class="line">
                </span>
            </p>
            <p class="bottom-line">
                &nbsp;
                <span class="line">
                </span>
            </p>
            <p class="bottom-line">
                &nbsp;
                <span class="line">
                </span>
            </p>
            <p class="bottom-line">
                &nbsp;
                <span class="line">
                </span>
            </p>
            <p class="bottom-line">
                &nbsp;
                <span class="line">
                </span>
            </p>
            <br>
            <div style="width: 50%; float: left;">
                <p><b>ГРУЗ ПЕРЕДАЛ</b></p>
                <p style="margin-bottom: 80px">
                    {% if batch.organization is not null %}
                        {{ batch.organization.type }} «{{ batch.organization.companyName }}»
                    {% endif %}
                </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_____________________/_______________/<br>
                    М.П.</p>
                <p>по доверенности № _____ от __________г.               </p>
            </div>
            <div style="width: 50%; float: left;">
                <p><b>ГРУЗ ПРИНЯЛ</b></p>
                <p style="margin-bottom: 80px">ООО «ТОЧКА-ТОЧКА ЛОГИСТИКА»
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_____________________/_______________/<br>
                    М.П.</p>
                <p>по доверенности № _____ от __________г.               </p>
            </div>
            <div class="clearfix"></div>




        </div>
    </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <style>
        .container{
            position: relative;
        }
        .doc-img{
            top: -58px !important;
            position: absolute;
            right: 0;
            width: 115px;
        }
        .bg{
            background-color: #fff;
            position: relative;
            top: 6px;
        }
        .black-border{
            border-bottom: 1px solid #000;
            height: 28px;
        }
        .doc-header{
            margin-bottom: 100px;
        }
        .doc-header .doc-logo{
            display: inline-block;
            vertical-align: top;
        }
        .doc-header p{
            display: inline-block;
            vertical-align: top;
            font-size: 15px;
            color: #656565;
            margin-left: 50px;
        }
        p.bottom-line{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
        }
        span.line{
            width: 100%;
            border-bottom: 1px solid #000;
            display: inline-block;
        }
        p.bottom-line b{
            flex: 1 0 auto;
        }
    </style>

    <link rel="stylesheet" href="{{ asset('/css/wms.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/fix.css') }}">
{% endblock %}

