{% extends 'template/pdfpage/template.html.twig' %}

{% block content %}
<div class="page-content" style="padding: 60px 0; text-align: justify;">
    <div class="container" style="margin: 0 auto;">
        <div class="text-center" style="margin-bottom: 50px;">
            <p>
                <b>
                    Экспедиторская расписка
                </b>
            </p>
        </div>
        <div class="pull-left">
            <p><b>Дата</b>
                {% if batch.receptionAt %}{{ batch.receptionAt.format('d.m.Y') }}{% else %}{{ "now"|date('d.m.Y') }}{% endif %}
            </p>
        </div>
        <div class="pull-right">
            <p><b>Номер</b> {{ batch.externalId }}</p>
        </div>
        <div class="clearfix"></div>
        <p><b>Грузоотправитель</b> ООО «ТОЧКА-ТОЧКА ЛОГИСТИКА», Рязанский пр-кт, дом 16, с. 4, тел. {{ '800 222 33 57'|formatPhone}}</p>
        <p><b>Получатель</b> ООО «ТОЧКА-ТОЧКА ЛОГИСТИКА», {{ batch.stockTo.address }} , тел. {{ batch.stockTo.phone|formatPhone }}</p>
        <p><b>Экспедитор</b>
            {% if batch.organization is not null %}
                {{ batch.organization.type }} «{{ batch.organization.companyName }}», {{ batch.organization.address }}, {{ batch.organization.contactPhone|formatPhone }}.
            {% endif %}
        </p>
        <br>
        <p>
            <b>Страна происхождения груза -</b><span style="width: 160px">&nbsp;</span>
            <b>Товарный код - </b><span style="width: 160px">&nbsp;</span>
            <b>Маркировка - </b><span style="width: 160px">&nbsp;</span>
        </p>
        <p><b>Количество мест, вид упаковки</b> {{ batch.pallets|length }} шт., стрейч плёнка</p>
        <p>
            {% for index,pallet in batch.pallets %}
                {{ pallet.externalId }}/{{ pallet.weight }} кг<br>
            {% endfor %}
        </p>
        <p style="width:600px">
                <span class="pull-left">
                    <b>Вес партии</b> {{ batch.totalWeight }}кг
                </span>
                <span class="pull-right">
                    <b>Объем партии</b> {{ batch.totalVolume|nformat }}  м3
                </span>
            <span class="clearfix"></span>
        </p>
        <p><b>Стоимость (Объявленная ценность)</b> согласно реальной стоимости, подтверждённой документально</p>
        <p><b>Размер упаковки -</b></p>
        <p><b>Условия:</b> доставка от {{ batch.stockFrom.address }} до {{ batch.stockTo.address }}, стоимость перевозки {{ batch.price }} руб., согласно оферте опубликованной на сайте www.dot-dot.ru от {{ offerDate }} г.</p>
        <p class="black-border"><span class="bg"><b>Особые отметки </b></span></p>
        <p class="black-border"></p>
        <p class="black-border"></p>
        <p class="black-border"></p>
        <br><br>
        <p>
                <span class="pull-left">
                    <b>Подпись Экспедитора</b>
                </span>
            <span class="pull-right">
                    _________________________/__________________
                </span>
            <span class="clearfix"></span>
        </p>
        <p>По доверенности № &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; от&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; .&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; . &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;г. </p>
        <br><br>
        <p>
                <span class="pull-left">
                    <b>Подпись Грузоотправителя</b>
                </span>
            <span class="pull-right">
                    _________________________/__________________
                </span>
            <span class="clearfix"></span>
        </p>
        <p>По доверенности № &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; от&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; .&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; . &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;г. </p>

    </div>
</div>
{% endblock %}

{% block stylesheets %}
<style>
    .container{
        position: relative;
    }
    .doc-img{
        top: -58px !important;
        position: absolute;
        right: 0;
        width: 115px;
    }
    .bg{
        background-color: #fff;
        position: relative;
        top: 6px;
    }
    .black-border{
        border-bottom: 1px solid #000;
        height: 28px;
    }
    .doc-header{
        margin-bottom: 100px;
    }
    .doc-header .doc-logo{
        display: inline-block;
        vertical-align: top;
    }
    .doc-header p{
        display: inline-block;
        vertical-align: top;
        font-size: 15px;
        color: #656565;
        margin-left: 50px;
    }
</style>

<link rel="stylesheet" href="{{ asset('/css/wms.min.css') }}">
<link rel="stylesheet" href="{{ asset('/css/fix.css') }}">
{% endblock %}
