{% extends 'template/pdfpage/template.html.twig' %}

{% block content %}

    <table class="marking-table table">
        <tr>
            <td colspan="2">
                <div class="doc-header">
                    <a href="#" class="doc-logo"><img src="{{ asset('img/doc-header.jpg') }}" alt="" style="width: 320px"></a>
                    <p>Доставка грузов по России<br>119034, г. Москва, Рязанский пр-кт, дом 16, с. 4, <br>8 800 222 33 57, www.dot-dot.ru</p>
                </div>
            </td>
        </tr>
        <tr>
            <td rowspan="3">
                <div class="h1">{{ batch.externalId }}</div>
            </td>
            <td>
                <div class="h2">{{ batch.stockTo.city.title }}-{{ batch.stockTo.externalId }}</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="h2">{{ batch.stockTo.address }}</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="h2">{{ batch.weight }} кг</div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="h2">
                    {% for index, pallet in batch.pallets %}
                        {{ pallet.externalid }} - {{ pallet.weight }} кг {% if index < batch.pallets|length -1 %}, {% endif %}
                    {% endfor %}
                </div>
            </td>
        </tr>
    </table>
    <div class="page"></div>

{% endblock %}

{% block stylesheets %}
    <style>
        html,body{
            min-width: 1px !important;
        }
        .doc-header{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
        }
        .doc-header .doc-logo{
            display: inline-block;
            vertical-align: top;
            margin-right: 50px;
        }
        .doc-header p{
            display: inline-block;
            vertical-align: top;
            font-size: 0.23em;
            line-height: 1.3;
            color: #000;
            margin-left: 1em;
        }
        table{
            width: auto;
        }
        .marking-table{
            font-size: 100px;
            line-height: 1.2;
            max-width: 100%;
        }
        .marking-table .h1{
            font-size: 0.9em;
            min-width: 3.5em;
        }
        .marking-table .h2{
            font-size: 0.3em;
        }
        .marking-table .h1,
        .marking-table .h2{
            margin-bottom: 0;
        }
        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
            vertical-align: middle !important;
            padding: 0.35em 0.2em !important;
        }
        .marking-table>tbody>tr>td, .marking-table>tbody>tr>th, .marking-table>tfoot>tr>td, .marking-table>tfoot>tr>th, .marking-table>thead>tr>td, .marking-table>thead>tr>th{
            border:0.06em solid #000 !important;
        }
    </style>

    <link rel="stylesheet" href="{{ asset('/css/wms.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/fix.css') }}">
{% endblock %}
