{% if docs is defined %}
<div class="container">
    <div class="h4">Распечатать шаблоны</div>
    <ul class="order-docs">
        {% for doc in docs %}
        <li>
            <div>
                <a target="_blank" href="{{ asset(doc.path) }}" class="download-doc order-doc">
                    <img src="{{ asset('img/pdf-dark.svg') }}" alt="">

                    {{ doc.title }}
                </a>

            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}