{% extends 'template/emptypage/template.html.twig' %}

{% block content %}


    <div class="page-content" style="padding: 60px 0; text-align: justify;">
        <div class="container">
            <div class="text-center">
                <b>
                    ОФЕРТА<br>
                    УСЛУГИ ДОСТАВКИ<br><br>
                </b>
            </div>
            
<b>г. Москва <br>
Дата публикации: 20. 05. 2018г.</b><br><br>

<b>ООО «ТОЧКА-ТОЧКА ЛОГИСТИКА»</b> (далее – «Заказчик»), предлагает любому индивидуальному предпринимателю или юридическому лицу (далее – «Перевозчик») заключить договор на оказание услуг по доставке груза на указанных ниже условиях. <br>
Настоящая публичная оферта (далее – «Договор»), размещённая на сайте Заказчика <a href="http://www.dot-dot.ru">www.dot-dot.ru</a> (далее – «Сайт»), заключается путём акцепта настоящего Договора. Акцептом является размещение заказа на доставку на Сайте.<br><br>

<b><span style="width: 35px;">1.</span>ПРЕДМЕТ ДОГОВОРА </b><br>
<span style="width: 35px;">1.1.</span>Перевозчик обязуется за вознаграждение и за счёт Заказчика доставить или организовать доставку груза грузополучателю согласно заказу на Сайте (далее – «Услуги»). <br>
<span style="width: 35px;">1.2.</span>Перевозчик имеет право оказывать услугу самостоятельно или привлекать для выполнения услуг третьих лиц. При этом остаётся ответственным перед Заказчиком за качество оказываемых услуг и сохранность переданного груза. <br>
<span style="width: 35px;">1.3.</span>Любые действия, осуществляемые на Сайте, являются юридически значимыми для Сторон и являются доказательством при рассмотрении спорных ситуаций. <br>
<span style="width: 35px;">1.4.</span>Все приложения, на которые есть ссылка в данном Договоре являются неотъемлемой частью.
<br><br>

<b><span style="width: 35px;">2.</span>ПРАВА И ОБЯЗАННОСТИ СТОРОН </b><br>
<span style="width: 35px;">2.1.</span>Перевозчик обязан: 
<ul>
    <li>Осуществлять доставку согласно срокам, указанным в <span class="underline"><a href="#attach1">Приложении №1</a></span>.</li>
    <li>Соблюдать требования к оформлению документов, предусмотренных законодательством.</li>
    <li>Пройти верификацию страховой компании при регистрации на Сайте. </li>
    <li>Вовремя обеспечить к погрузке готовое транспортное средство в соответствии с <span class="underline"><a href="#attach2">Приложением №2</a></span>.</li>
    <li>Сдавать груз только уполномоченному лицу согласно указаниям Заказчика.</li>
    <li>Компенсировать возникший по вине Перевозчика ущерб, на основании подтверждающих ущерб или штраф документов.</li> 
</ul>
<span style="width: 35px;">2.2.</span>Заказчик обязан:  
<ul>
    <li>Сдать груз Перевозчику по адресу, обозначенному на Сайте.</li>
    <li>Своевременно оплатить услуги Перевозчика на основании данных, зафиксированных на Сайте. </li>
    <li>Предоставлять Перевозчику соответствующие документы, полные и достоверные данные о Грузополучателе, грузе, уполномоченных лицах. </li>   
</ul>


<b><span style="width: 35px;">3.</span>ОТВЕТСТВЕННОСТЬ СТОРОН  </b><br>
<span style="width: 35px;">3.1.</span>Ответственность Перевозчика устанавливается в следующих размерах: 
<ul>
    <li>за утрату или недостачу груза, принятого Перевозчиком для перевозки - в размере объявленной ценности или части объявленной ценности, пропорционально недостающей части груза; </li>
    <li>за повреждение (порчу) груза, принятого Перевозчиком для перевозки - в размере суммы, на которую понизилась объявленная ценность, а при невозможности восстановления поврежденного груза в размере объявленной ценности;  </li>   
</ul>
<span style="width: 35px;">3.2.</span>Заказчик несёт ответственность перед Перевозчиком за все документально подтверждённые убытки, причиненные вследствие неисполнения Заказчиком обязательств, установленных Договором. 
<br><br>

<b><span style="width: 35px;">4.</span>СТОИМОСТЬ УСЛУГ И РАСЧЁТЫ СТОРОН</b><br>
<span style="width: 35px;">4.1.</span>Размер оплаты Услуг указывается Сторонами при размещении заказа на перевозку. И может быть пересчитан после отгрузки, пропорционально взятому весу и стоимости за кг при заказе на Сайте.<br>
<span style="width: 35px;">4.2.</span>Оплата осуществляется в течение 3 (трёх) банковских дней путём безналичного расчёта с даты сдачи груза по адресу, обозначенному на Сайте и приема Грузополучателем. Датой оплаты является момент списания денежных средств с расчётного счёта Заказчика.<br>
<span style="width: 35px;">4.3.</span>Перевозчик обязан в течение 5 (пяти) рабочих дней по истечении календарного месяца подписать Акт об оказанных услугах (далее - Акт), размещённый в «личном кабинете» и направить Заказчику в 2х экземплярах. В случае отсутствия мотивированного возражения от подписания, услуги считаются принятыми, а Акт подписанным. <br>
<span style="width: 35px;">4.4.</span>Акт подлежит возврату Перевозчику в течение 10 календарных дней с момента получения Заказчиком. В случае непредоставления Перевозчиком подписанного оригинала, Заказчик имеет право потребовать, а Перевозчик обязуется компенсировать убытки Заказчика, которые возникли в связи с отсутствием оригинала.

<br><br>
<b><span style="width: 35px;">5.</span>ПРОЧИЕ УСЛОВИЯ</b><br>
<span style="width: 35px;">5.1.</span>Оферта вступает в силу с момента размещения в сети Интернет по адресу <a href="http://www.dot-dot.ru">www.dot-dot.ru</a> и действует до момента отзыва Оферты Заказчиком.<br>
<span style="width: 35px;">5.2.</span>Перевозчик дает безусловное согласие (подтверждается размещением заказа на Сайте) на обработку, хранение, передачу и использование, предоставленных в связи с исполнением Договора персональных данных, а также на рассылку sms, push и иных уведомлений о статусах заказа. При предоставлении Перевозчиком персональных данных иных лиц, Перевозчик гарантирует, что согласие вышеуказанных лиц на предоставление (с правом использования) персональных данных Заказчику Перевозчиком получено и последний несёт ответственность в случае предъявления каких-либо претензий Заказчику вследствие несоблюдения данного условия. <br>
<span style="width: 35px;">5.3.</span>Все споры решаются путём переговоров, в ином случае в Арбитражном суде города Москвы.

<br><br>
<b>ЗАКАЗЧИК: </b><br>
ООО «ТОЧКА-ТОЧКА ЛОГИСТИКА» ИНН/ КПП 9721084356/ 770401001<br>
Адрес: 119034, Москва г, Пречистенская наб., дом № 17, эт. 2, ком. 1<br>
Р/С 40702810738000172922, БИК 044525225<br>
hello@dot-dot.ru
<br><br><br><br>

   
 
<div class="text-right" id="attach1" style="padding-bottom: 60px;">
    <b>
        Приложение №1 <br>
        СРОКИ ДОСТАВКИ
    </b>
</div>

Нормативы по сроку с момента выхода транспортного средства после загрузки:<br><br>

<table class="table" style="width: 500px;margin-left: auto;margin-right: auto;">
    <tr>
        <td>Москва ↔ Санкт-Петербург</td>
        <td width="181">16 часов</td>
    </tr>    
</table>
<br>
Моментом загрузки считается установка статуса на Сайте «груз в пути».
   
 <br><br><br><br>
   
  
<div class="text-right" id="attach2" style="padding-bottom: 60px;">
    <b>
        Приложение №2 <br>
        ТРЕБОВАНИЯ К ТРАНСПОРТНОМУ СРЕДСТВУ
    </b>
</div>

<b><span style="width:35px;">1.</span></b>К перевозке допускаются тентованные и цельнометаллические транспортные средства с государственной регистрацией на территории РФ.<br>
<b><span style="width:35px;">2.</span></b>Разрешенная грузоподъёмность от 900 до 20 000 кг.<br>
<b><span style="width:35px;">3.</span></b>К перевозке не допускаются:
    <ul>
        <li>рефрижераторы, </li>
        <li>изотермические и</li>
        <li>открытые кузова,</li> 
        <li>контейнеровозы, </li>
        <li>платформы и </li>
        <li>специальные транспортные средства для перевозки негабаритных, наливных, насыпных и опасных грузов. </li>   
    </ul>
<b><span style="width:35px;">4.</span></b>Транспортное средство грузоподъёмностью свыше 3,5 должно иметь тахограф.<br>
<b><span style="width:35px;">5.</span></b>При применении тягача не допускается превышение нормативов массы буксируемого прицепа (или полуприцепа) с грузом.<br>
<b><span style="width:35px;">6.</span></b>Работа тормозной системы автопоезда должна осуществляться от автомобиля-тягача.<br>
<b><span style="width:35px;">7.</span></b>Транспортное средство должно иметь, как минимум, два противооткатных упора для каждого звена автопоезда.<br>
<b><span style="width:35px;">8.</span></b>Прицеп (или полуприцеп) должен оснащаться стояночным тормозом, с действием на все колеса.<br>
<b><span style="width:35px;">9.</span></b>Техническое состояние транспортных средств, с использованием которых осуществляются перевозки, должно отвечать требованиям Правил дорожного движения, Основных положений по допуску транспортных средств к эксплуатации.

   <br><br>
   <br><br>
            {% if page.files.count > 0 %}
                {% for file in page.files %}
                    <div class="text-center">
                        <a target="_blank" href="{{ path('sonata_media_download', {'id': (file.media|sonata_urlsafeid)}) }}" class="btn btn-default download-offer">{{ file.title }}</a>
                    </div>
                {% endfor %}
            {% endif %}

            {% if page.oldFiles.count > 0 %}
                <div class="b-offer b-offer__wrap">
                    <b>Предыдущие оферты:</b>
                    <div class=" b-offer__list">
                        {% for file in page.oldFiles %}
                            <a href="{{ path('sonata_media_download', {'id': (file.media|sonata_urlsafeid)}) }}" class="b-offer__link">{{ file.title }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    <script src="{{ asset('js/customer.auction.js') }}"></script>
{% endblock %}
