{% extends 'template/emptypage/template.html.twig' %}

{% block content %}

    <div class="page-content" style="padding: 60px 0; text-align: justify;">
        <div class="container">
            <div class="text-center">
                <b>
                    ОФЕРТА<br>
                    КОМПЛЕКС УСЛУГ ПО ДОСТАВКЕ ГРУЗА<br><br>
                </b>
            </div>
            
<b>г. Москва <br>
Дата публикации: 20. 05. 2018г.</b><br><br>

<b>ООО «ТОЧКА-ТОЧКА ЛОГИСТИКА»</b> (далее – «Экспедитор»), предлагает любому индивидуальному предпринимателю, юридическому или дееспособному физическому лицу (далее – «Клиент») заключить договор на оказание комплекса услуг по доставке груза на указанных ниже условиях. <br>
Настоящая публичная оферта (далее – «Договор»), размещённая на сайте Экспедитора <a href="http://www.dot-dot.ru">www.dot-dot.ru</a> (далее – «Сайт»), заключается путём акцепта настоящего Договора. Акцептом является оформленный на Сайте заказ на упаковку и доставку груза.<br><br>

<b><span style="width: 35px;">1.</span>ПРЕДМЕТ ДОГОВОРА </b><br>
<span style="width: 35px;">1.1.</span>Экспедитор обязуется за вознаграждение и за счёт Клиента организовать оказание услуг, связанных с упаковкой и перевозкой груза Клиента согласно заказу на Сайте (далее – «Услуги»). <br>
<span style="width: 35px;">1.2.</span>Экспедитор имеет право привлекать для выполнения услуг третьих лиц. При этом остаётся ответственным перед Клиентом за качество оказываемых услуг и сохранность переданного груза. <br>
<span style="width: 35px;">1.3.</span>Любые действия, осуществляемые на Сайте, являются юридически значимыми для Сторон и являются доказательством при рассмотрении спорных ситуаций. <br>
<span style="width: 35px;">1.4.</span>Все приложения, на которые есть ссылка в данном Договоре являются неотъемлемой частью.<br><br>

<b><span style="width: 35px;">2.</span>ПРАВА И ОБЯЗАННОСТИ СТОРОН </b><br>
<span style="width: 35px;">2.1.</span>Экспедитор обязан: 
<ul>
    <li>Принять груз у Клиента на условиях, изложенных в <span class="underline"><a href="#attach1">Приложении №1</a>,<a href="#attach2">2</a></span> (Правила сдачи-приёма груза, Правила упаковки). </li>
    <li>После полной оплаты Услуг, осуществлять доставку согласно срокам, указанным в <span class="underline"><a href="#attach3">Приложении №3</a></span> (Сроки доставки) и выдать груз в пункте назначения Грузополучателю.</li>
    <li>Информировать на Сайте о статусах доставки.</li>
</ul>
<span style="width: 35px;">2.2.</span>Клиент обязан:  <br>
<ul>
    <li>Сдать груз Экспедитору по адресу, обозначенному на Сайте.</li>
    <li>Своевременно оплатить услуги Экспедитора на основании выставленного счёта. При отказе от услуги после сдачи груза Экспедитору, Клиент обязан письменно уведомить Экспедитора и возместить расходы, фактически понесенные последним до момента получения отказа Клиента.</li>
    <li>Получить и/или обеспечить получение груза Грузополучателем в срок не позднее 3-х рабочих дней с момента прибытия груза на склад Экспедитора и/или его партнёров в пункте назначения. </li>
    <li>Предоставлять Экспедитору соответствующие документы, полные и достоверные данные о Грузополучателе, грузе уполномоченных лицах.</li>
</ul>
<span style="width: 35px;">2.3.</span>Экспедитор вправе в целях безопасности на своё усмотрение производить выборочную сверку внутритарного содержимого груза на предмет соответствия заявленного груза сопроводительным документам в присутствии лица, представляющего интересы Клиента. <br><br>

<b><span style="width: 35px;">3.</span>ВЫНУЖДЕННОЕ ХРАНЕНИЕ </b><br>
<span style="width: 35px;">3.1.</span>В случае просрочки получения груза (в том числе по причине неоплаты услуг, не предоставления документов, удостоверяющих личность, полномочий на право получения груза) Экспедитор осуществляет его вынужденное хранение сроком до 50 (пятидесяти) календарных дней.<br>
<span style="width: 35px;">3.2.</span>Услуга, подлежит оплате из расчёта 20 рублей за сутки (без НДС) за грузовое место, начиная с 1го дня вынужденного хранения. <br>
<span style="width: 35px;">3.3.</span>По истечении 50 (пятидесяти) календарных дней хранения груза на складе Экспедитор извещает Клиента о необходимости направить Экспедитору письменные указания о дальнейшей судьбе груза по электронной почте на адрес: hello@dot-dot.ru.<br>
<span style="width: 35px;">3.4.</span>Если Клиент не даёт Экспедитору указаний относительно дальнейшей судьбы груза и/или не оплачивает оказанные услуги согласно выставленному счёту по истечении 3-х банковских дней с даты получения уведомления, Экспедитор вправе по собственному усмотрению утилизировать данный груз. Клиент настоящим подтверждает, что он уведомлен и согласен с тем, что в случае утилизации груза, стоимость груза Клиенту не возмещается.<br><br>

<b><span style="width: 35px;">4.</span>ОТВЕТСТВЕННОСТЬ СТОРОН </b><br>
<span style="width: 35px;">4.1.</span>Ответственность Экспедитора устанавливается в следующих размерах: <br>
<ul>
    <li>за утрату или недостачу груза, принятого Экспедитором для перевозки - в размере объявленной ценности или части объявленной ценности, пропорционально недостающей части груза;</li>
    <li>за повреждение (порчу) груза, принятого Экспедитором для перевозки - в размере суммы, на которую понизилась объявленная ценность, а при невозможности восстановления поврежденного груза в размере объявленной ценности;</li>
    <li>Стороны определили, что объявленная ценность груза не может превышать его реальную стоимость.  Ответственность Экспедитора определяется в размере реального документально подтверждённого ущерба, причинённого грузу Клиента.</li>
    <li>В отношении принимаемых к перевозке грузов Экспедитором осуществляется их страхование. Стоимость страхования включена в стоимость услуг Экспедитора. При отказе Клиента от страхования Экспедитор вправе отказаться от оказания услуг.</li>   
</ul>
<span style="width: 35px;">4.2.</span>Экспедитор не несёт ответственности за выявившееся в процессе транспортировки и/или приема/выдачи груза несоответствия, в том числе за внутритарную недостачу при целостности наружной упаковки.<br>
<span style="width: 35px;">4.3.</span>Клиент несёт ответственность перед Экспедитором и третьими лицами за все убытки, причиненные вследствие неисполнения Клиентом обязательств, установленных Договором. В случае выставления Экспедитору каких-либо штрафов, неустоек вследствие нарушения Клиентом своих обязательств, Клиент компенсирует расходы Экспедитора в течение 3 (трех) банковских дней с момента направления соответствующего требования. 
<br><br>
<b><span style="width: 35px;">5.</span>СТОИМОСТЬ УСЛУГ И РАСЧЁТЫ СТОРОН</b><br>
<span style="width: 35px;">5.1.</span>Предварительная стоимость Услуг определяется на Сайте и окончательно фиксируется в счёте, который Экспедитор выставляет после сдачи Клиентом груза. <br>
При этом:
<ul>
    <li>стоимость упаковки и страхования включены в стоимость организации перевозки груза;</li>
    <li>Клиент вправе дополнить свой заказ на Сайте, путём оформления соответствующего документа при сдаче груза Экспедитору.</li>
</ul>
<span style="width: 35px;">5.2.</span>Оплата осуществляется путём безналичного расчёта. Датой оплаты является дата поступления денежных средств на расчётный счёт Экспедитора.<br>
Стороны определили, что независимо от назначения платежа, указанного в платежном документе, в случае наличия у Клиента просроченной задолженности за фактически оказанные Экспедитором услуги, срок возникновения которой превышает 10 (десять) дней, платежи засчитываются в счёт оплаты задолженности Клиента, имеющей наиболее ранний срок возникновения.<br>
<span style="width: 35px;">5.3.</span>Для оплаты банковской картой в «личном кабинете» (ввода реквизитов карты) Клиент перенаправляется на платежный шлюз ПАО СБЕРБАНК. Соединение с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования SSL. В случае если банк Клиента поддерживает технологию безопасного проведения интернет-платежей Verified By Visa или MasterCard SecureCode для проведения платежа может потребоваться ввод пароля.
Сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ПАО СБЕРБАНК. Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем МИР, Visa Int. и MasterCard Europe Sprl. <br>
<span style="width: 35px;">5.4.</span>Клиент обязан в течение 5 (пяти) рабочих дней после получения груза Грузополучателем подписать Акт об оказанных услугах (далее - Акт), размещённый в «личном кабинете» или предоставить Экспедитору мотивированный отказ от подписания. В случае отсутствия мотивированного возражения от подписания, услуги считаются принятыми, а Акт подписанным. <br>
<span style="width: 35px;">5.5.</span>Оригинал Акта передаётся Клиенту в 2-х экземплярах и подлежит возврату в течение 10 календарных дней с момента получения. В случае невозврата подписанного оригинала со стороны Клиента, последний обязуется компенсировать убытки Экспедитора, которые возникли в связи с отсутствием оригинала.
<br><br>
<b><span style="width: 35px;">6.</span>ПРОЧИЕ УСЛОВИЯ</b><br>
<span style="width: 35px;">6.1.</span>Оферта вступает в силу с момента размещения в сети Интернет по адресу <a href="http://www.dot-dot.ru">www.dot-dot.ru</a> и действует до момента отзыва Оферты Экспедитором.<br>
<span style="width: 35px;">6.2.</span>Клиент дает безусловное согласие (подтверждается размещением заказа на Сайте) на обработку, хранение, передачу и использование, предоставленных в связи с исполнением Договора персональных данных, а также на рассылку sms, push, онлайн-чеков и иных уведомлений о статусах заказа, оплате. При предоставлении Клиентом персональных данных иных лиц, Клиент гарантирует, что согласие вышеуказанных лиц на предоставление (с правом использования) персональных данных Экспедитору Клиентом получено и последний несёт ответственность в случае предъявления каких-либо претензий Экспедитору вследствие несоблюдения данного условия. <br>
<span style="width: 35px;">6.3.</span>Все споры решаются путём переговоров, в ином случае в Арбитражном суде города Москвы или суде общей юрисдикции по месту нахождения Экспедитора.
<br><br>
<b>ЭКСПЕДИТОР: </b><br>
ООО «ТОЧКА-ТОЧКА ЛОГИСТИКА» ИНН/ КПП 9721084356/ 770401001<br>
Адрес: 119034, Москва г, Пречистенская наб., дом № 17, эт. 2, ком. 1<br>
Р/С 40702810738000172922, БИК 044525225<br>
hello@dot-dot.ru <br><br><br><br>


<div id="attach1" class="text-right" style="padding-bottom: 60px;">
    <b>
        Приложение №1<br>
        ПРАВИЛА СДАЧИ-ПРИЁМА ГРУЗА
    </b>
</div>







<b>КЛИЕНТ ОБЯЗУЕТСЯ:</b><br>
<b><span style="width: 35px;">1.</span>Не сдавать Экспедитору:</b> 
<ul>
    <li>максимальные весогабаритные характеристики одного грузового места, превышающие: 80X120X180см. и 1450 кг в т.ч.:</li>
    <li>опасные (все классы) грузы;</li>
    <li>боеприпасы и оружие;</li>
    <li>рентгеновское оборудование;</li>
    <li>антиквариат и предметы искусства;</li>
    <li>драгоценные металлы, камни, изделия из них и денежные средства;</li>
    <li>биоматериалы;</li>
    <li>насыпные/ наливные/ балковые вне товарной упаковки;</li>
    <li>живность;</li>
    <li>грузы, требующие температурных режимов;</li>
    <li>военного назначения, в т.ч. техническая и научная документация;</li>
    <li>наркотические и психотропные вещества;</li>
    <li>алкогольная продукция;</li>
    <li>отходы и сырьё для переработки;</li>
    <li>товары бывшие в употреблении.</li>    
</ul>
 
<b>ГРУЗ</b><br>
<b><span style="width:35px;">1.</span></b>Принимается без досмотра и проверки содержимого упаковки на предмет работоспособности, внутренней комплектации, количества, наличия явных или скрытых дефектов, чувствительности к температурному воздействию в следующем порядке: по весу, объему и количеству мест - при приемке на складе Экспедитора и/или его партнеров.<br>
<b><span style="width:35px;">2.</span></b>При приёмке груза производится его взвешивание и обмер (т.е. определение объёма груза). Определение объёма груза производится Экспедитором следующим образом: 
<ul>
    <li>объём груза измеряется в см3 (кубических сантиметрах) и равен произведению длины, ширины, высоты груза, при этом точность измерения - 1 см.; </li>
    <li>при измерении грузов со сложной геометрической формой, измерение объема производится исходя из максимальных длин сторон груза таким образом, чтобы в случае упаковки, все ее углы составляли 90 градусов.   </li>  
</ul>
<b><span style="width:35px;">3.</span></b>Экспедитором в порядке и на условиях Правил УПАКОВКИ осуществляется дополнительная упаковка груза. <br>
<b><span style="width:35px;">4.</span></b>В случае обнаружения Экспедитором факта сдачи груза, входящего в список не принимаемых к перевозке, Экспедитор в любой момент вправе приостановить оказание услуг и потребовать у Клиента незамедлительно забрать груз. <br>
В случае, если Клиентом груз не будет получен в течение 3-х (трех) рабочих дней, он может быть в любое время уничтожен Экспедитором, без возмещения убытков Клиента.<br>
<b><span style="width:35px;">5.</span></b>Клиент отвечает за убытки, причиненные Экспедитору и третьим лицам в связи с хранением таких грузов, и обязуется в полном объеме оплатить фактически оказанные услуги Экспедитора, а также дополнительные расходы Экспедитора на обработку такого груза, в том числе расходы, связанные с его уничтожением.  <br><br><br><br>



<div class="text-right" id="attach2" style="padding-bottom: 60px;">
    <b>
        Приложение №2 <br>
        ПРАВИЛА УПАКОВКИ
    </b>
</div>

<b><span style="width:35px;">1.</span></b>Экспедитор осуществляет перевозку только в евро-паллете с высотой не более 1,8 м и весом не более 800 кг. Паллетирование осуществляется силами и за счет Экспедитора и входит в стоимость.<br>
<b><span style="width:35px;">2.</span></b>Клиент может заказать необходимую упаковку на Сайте или на складе Экспедитора и/или его партнеров в пункте отправления.<br>
<b><span style="width:35px;">3.</span></b>При отсутствии надлежащей упаковки Экспедитор в праве отказаться от заказа. Вид упаковки и ее необходимость определяется при приеме груза Экспедитором и/или его партнером.<br>
<b><span style="width:35px;">4.</span></b>Требования к упаковке:
<ul>
    <li>упаковка защищает груз отправителя и другие грузы от повреждений при перевозке; </li>
    <li>обеспечивает возможность нанести маркировку;</li>
    <li>груз или упаковка не повреждены;</li>
    <li>на упаковке нет отверстий, замятий, деформации, трещин и сколов;</li>
    <li>тара опечатана: короба заклеены скотчем, ящики сколочены, крышки закрыты; </li>
    <li>нет следов вскрытия или повторного запечатывания; </li>
    <li>пломбы (если есть) не повреждены.</li>
</ul>
<b><span style="width:35px;">5.</span></b>Грузы, требующие обязательно упаковки:
<ul>
    <li>бытовая техника и электроника, включая оргтехнику;</li>
    <li>промышленное оборудование, механизмы, агрегаты, техника;</li>
    <li>кузовные автозапчасти;</li>
    <li>мебель и предметы интерьера;</li>
    <li>пластмассовые изделия и тара, металлические емкости объемом до 50 л.;</li>
    <li>груз, транспортировка которого без упаковки может повредить или негативно воздействовать на соседний груз;</li>
    <li>груз, конструктивно содержащий в себе жидкости;</li>
    <li>груз, в составе которого есть стекло, гнущиеся или хрупкие элементы;</li>
    <li>любые грузы с манипуляционными знаками.</li>    
</ul>
<b><span style="width:35px;">6.</span></b>Тарифы на упаковку (длина * ширина * высота), без НДС:<br><br>

<table class="table" style="width: 500px;margin-left: auto;margin-right: auto;margin-bottom: 0;">
    <tr>
        <td>короб малый (20*20*40см.)</td>
        <td>40р. за шт.</td>
    </tr>
    <tr>
        <td>короб большой (50*50*50см.)</td>
        <td>60р. за шт.</td>
    </tr>
    <tr>
        <td>мешок малый (70*90см. высота)</td>
        <td>30р. за шт.</td>
    </tr>
    <tr>
        <td>мешок средник (70*120см. высота)</td>
        <td>50р. за шт.</td>
    </tr>
    <tr>
        <td>мешок большой (120*120см.)</td>
        <td>70р.  за шт.</td>
    </tr>
    <tr>
        <td>обрешетка</td>
        <td>700р. за м3 груза</td>
    </tr>                    
    <tr>
        <td>воздушно-пузырьковая плёнка</td>
        <td>200р. за м3 груза </td>
    </tr>     
</table>
<br><br><br>
   
 
<div class="text-right" id="attach3" style="padding-bottom: 60px;">
    <b>
        Приложение №3 <br>
        СРОКИ ДОСТАВКИ
    </b>
</div>

Нормативы по сроку доставки с момента приемки груза (не более):<br><br>

<table class="table" style="width: 500px;margin-left: auto;margin-right: auto;">
    <tr>
        <td>Москва ↔ Санкт-Петербург</td>
        <td width="181">60 часов</td>
    </tr>    
</table>
<br>
Моментом приемки считается установка статуса на Сайте «заказ принят».

            <br><br>
            <br><br>

            {% if page.files.count > 0 %}
                {% for file in page.files %}
                    <div class="text-center">
                        <a target="_blank" href="{{ path('sonata_media_download', {'id': (file.media|sonata_urlsafeid)}) }}" class="btn btn-default download-offer">{{ file.title }}</a>
                    </div>
                {% endfor %}
            {% endif %}

            {% if page.oldFiles.count > 0 %}
                <div class="b-offer b-offer__wrap">
                    <b>Предыдущие оферты:</b>
                    <div class=" b-offer__list">
                        {% for file in page.oldFiles %}
                            <a href="{{ path('sonata_media_download', {'id': (file.media|sonata_urlsafeid)}) }}" class="b-offer__link">{{ file.title }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

        </div>
    </div>


{% endblock %}
