<template>
    <div v-if="batch" class="container loading" v-bind:class="{load: !loading}">

        <ul class="breadcrumbs">
            <li><a href="/wms/batch">Партии</a></li>
            <li><span>Отгрузить партию</span></li>
        </ul>
        <div class="consignment-head">
            <div class="bolder-list">
                <div class="list-column">
                    <div class="list-item">
                        <span>ID партии</span>
                        <b>{{ batch.title }}</b>
                    </div>
                </div>
                <div class="list-column">
                    <div class="list-item">
                        <span>Доход, ₽</span>
                        <b>{{ batch.price }}</b>
                    </div>
                </div>
            </div>
        </div>
        <span class="consist">Состав партии</span>

        <div>
            <table class="order-table shipment-mover-table">
                <thead>
                <tr>
                    <th>
                        <label class="control control--checkbox terms" v-bind:class="{disabled: batch.orderPackages.length <= 0}">
                            <input type="checkbox" class="js-select-all" checked disabled>
                            <div class="control__indicator"></div>
                        </label>
                        <span>ID грузового места</span>
                        <th class="order-send">
                            <span>Вес:</span>
                        </th>
                        <th class="order-send">
                            <span>Доставить до:</span>
                        </th>
                    </tr>
                </thead>
                <tr v-for="(packageItem, index) in batch.orderRealPackages">
                    <td class="order-number">
                        <label class="control control--checkbox terms">
                            <input type="checkbox" id="head-checkbox" checked="true" :key="packageItem.id" disabled/>
                            <div class="control__indicator"></div>
                        </label>
                        <span>{{ index + 1 }}</span>
                    </td>
                    <td class="order-date">
                        <span>{{ packageItem.weight }}</span>
                    </td>
                    <td class="order-date">
                        <span>{{ formatDate(batch.shipping.date) }}</span>
                        <span class="small">{{ formatTime(batch.shipping.date) }}</span>
                    </td>
                </tr>

            </table>
        </div>

        <div class="consignment-total">
            <span>Итого по партии</span>
            <div>
                <div class="bolder-list">
                    <div class="list-column">
                        <div class="list-item">
                            <span>Всего мест:</span>
                            <b>{{ batch.orderPackages.length }}</b>
                        </div>
                    </div>
                    <div class="list-column">
                        <div class="list-item">
                            <span>Доставить до:</span>
                            <b>{{ formatDate(batch.shipping.date) }}</b>
                            <em>{{ formatTime(batch.shipping.date) }}</em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="documents-links">
            <div class="form-group" v-bind:class="{disabled: !(getFileByGroup('tn') && getFileByGroup('act-rt'))}">
                <uploadFile
                        :file="getFileByGroup('act')"
                        :url="'/api/wms/wmsbatch/batch-upload-file/'+batch.id"
                        :name="'Акт ВР'"
                        :group="'act'"
                />
            </div>


            <div class="form-group" v-bind:class="{disabled: !batchSaved || batch.realStatus != 'waiting'}">
                <a target="_blank" :href="'/wms/pdf/batch_mover/tn/'+batch.externalId">
                    <img src="/img/print-dark.svg" alt="">
                    <span>Распечатать ТН </span>
                </a>
            </div>

            <div class="form-group" v-bind:class="{disabled: !batchSaved || batch.realStatus != 'waiting'}">
                <a target="_blank" :href="'/wms/pdf/batch_mover/act/'+batch.externalId">
                    <img src="/img/print-dark.svg" alt="">
                    <span>Распечатать акт ПП</span>
                </a>
            </div>

            <div class="form-group" v-bind:class="{disabled: !batchSaved || batch.realStatus != 'waiting'}">
                <a target="_blank" :href="'/wms/pdf/batch_mover/act_completed/'+batch.externalId">
                    <img src="/img/print-dark.svg" alt="">
                    <span>Распечатать акт ВР</span>
                </a>
            </div>


        </div>

        <div class="clearfix"></div>


        <div class="order-column-buttons pull-right" v-if="batch.realStatus == 'waiting'">
            <a href="#" v-on:click="batchLoad($event)" class="btn-default pull-right">Отгрузить</a>
        </div>


    </div>
</template>

<script>
    import Vue from 'vue';
    import ff from '../../../vueconfig.js';
    import Files from '../../../block/files.vue';
    import UploadFile from '../../../block/upload-file.vue';

    export default {
        name: 'batchLoad',
        props: ['batchId'],
        components: {
            Files,
            UploadFile
        },
        data() {
            return {
                loading: true,
                batch: null,
                batchSaved: true,
            }
        },
        methods: {
            formatDate: function (phone) {
                return ff.formatDate(phone);
            },
            formatTime: function (phone) {
                return ff.formatTime(phone);
            },

            getFileByGroup: function($type) {
                let $this = this;
                let $result = null;

                $.each($this.batch.files, function( index, file ) {
                    if (file.group.slug == $type) {
                        $result = file;
                    }
                });

                return $result;
            },


            batchLoad: function($event) {
				var $this = this;

				var formData = new FormData();
				$.each($this.selectPackages, function( index, packageItem ) {
					formData.append('wmsBatch[packageIds]['+index+']', packageItem.id);
				});

				var jqxhr = $.ajax({
					method: 'POST',
					url: "/api/wms/wmsbatch/batch-mover-load/"+$this.batch.id,
					cache: false,
					async: false,
					data: formData,
					dataType: "json",
					processData: false,
					contentType: false,
				});

				var data = jqxhr.responseJSON;

				if (data.status == true) {
					location.href = '/wms/batch';
				} else {
                    ff.openPopup(data.error);
                }

				return false;
			},

            loadBatch: function(batchId) {
                $.ajax({
                    method: 'POST',
                    url: "/api/wms/wmsbatch/batch/"+batchId,
                    dataType: "json",
                    success: data => {
                        this.batch = data.data;
                        this.loading = false;
                    }
                });
            },
        },
        mounted: function() {
            this.loadBatch(this.batchId);
        },
        watch: {

        }
    }
</script>
