<template>
    <div v-if="batch" class="container loading" v-bind:class="{load: !loading}">
        <ul class="breadcrumbs">
            <li><a href="/wms/batch">Партии</a></li>
            <li><span>Принять</span></li>
        </ul>
        <div class="consignment-head">
            <div class="bolder-list">
                <div class="list-column">
                    <div class="list-item">
                        <span>ID партии</span>
                        <b>{{ batch.title }}</b>
                    </div>
                </div>
                <div class="list-column">
                    <div class="list-item">
                        <span>Доход, ₽</span>
                        <b>{{ batch.price }}</b>
                    </div>
                </div>
            </div>
        </div>
        <span class="consist">Состав партии</span>

        <div>
            <div style="margin-bottom: 40px">
                <label>Количество мест</label>
                <input name="count" value="" v-model.lazy="countPackages" class="form-control" style="max-width: 300px" v-validate="{'required' : true}">
            </div>

            <table class="order-table shipment-mover-table">
                <thead>
                <tr>
                    <th>
                        <label class="control control--checkbox terms" v-bind:class="{disabled: batch.packages.length <= 0}">
                            <input type="checkbox" class="js-select-all" checked disabled>
                            <div class="control__indicator"></div>
                        </label>
                        <span>ID грузового места</span>
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tr v-for="(packageItem, key) in packages">
                    <td class="order-number">
                        <span>{{ parseInt(key) + 1 }}</span>
                    </td>
                    <td class="order-open">
                        <label class="control control--checkbox">
                            <input type="checkbox" v-model="packageItem.damaged" />
                            <div class="control__indicator"></div>
                            Повреждено
                        </label>
                    </td>
                </tr>

            </table>
        </div>


        <div class="documents-links">
            <div class="form-group" v-bind:class="{disabled: (!batchSaved && !batch.issueAt) || !damaged}">
                <uploadFile
                        :file="getFileByGroup('act-discrepancy')"
                        :url="'/api/wms/wmsbatch/batch-upload-file/'+batch.id"
                        :name="'Акт Расхождения'"
                        :group="'act-discrepancy'"
                />
            </div>
            <div class="form-group" v-bind:class="{disabled: !batchSaved && !batch.issueAt}">
                <uploadFile
                        :file="getFileByGroup('act')"
                        :url="'/api/wms/wmsbatch/batch-upload-file/'+batch.id"
                        :name="'Акт ВР'"
                        :group="'act'"
                />
            </div>



            <div class="form-group">
                <uploadFile
                        :file="getFileByGroup('tn-delivery')"
                        :url="'/api/wms/wmsbatch/batch-upload-file/'+batch.id"
                        :name="'ТН'"
                        :group="'tn'"
                        :loadName="'ТН загружена'"
                />
            </div>

            <div class="form-group" v-bind:class="{disabled: !batchSaved}">
                <a target="_blank" :href="'/wms/pdf/batch_mover/act_completed/'+batch.externalId">
                    <img src="/img/print-dark.svg" alt="">
                    <span>Распечатать акт ВР</span>
                </a>
            </div>

            <div class="form-group" v-bind:class="{disabled: !batchSaved || !damaged}">
                <a target="_blank" :href="'/wms/pdf/batch_mover/act_discrepancy/'+batch.externalId">
                    <img src="/img/print-dark.svg" alt="">
                    <span>Распечатать акт Расхождения</span>
                </a>
            </div>

        </div>

        <div class="clearfix"></div>
        <div class="order-column-buttons" v-if="!batch.issueAt">
            <template v-if="!batchSaved">
                <a href="#" class="btn-default pull-right" v-on:click="batchSave($event)" v-bind:class="{disabled: filesByGroup('act').length > 0}">Сохранить</a>
            </template>
            <template v-else>
                <a href="#" class="btn-default pull-right" v-on:click="batchArrived($event)" v-bind:class="{disabled: filesByGroup('act').length > 0}">Завершить</a>
            </template>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import ff from '../../../vueconfig.js';
    import Files from '../../../block/files.vue';
    import UploadFile from '../../../block/upload-file.vue';

    import vSelect from 'vue-select';

    export default {
        name: 'batchLoad',
        props: ['batchId'],
        components: {
            Files,
            vSelect,
            UploadFile
        },
        data() {
            return {
                loading: true,
                batch: null,
                batchSaved: false,
                packages: [

                ],
                countPackages: null,
            }
        },
        computed: {
            damaged() {
                let damaged = false;
                this.packages.forEach(packageItem => {
                    if (packageItem.damaged) {
                        damaged = true;
                    }
                });
                return damaged;
            }
        },
        methods: {
            getFileByGroup: function($type) {
                let $this = this;
                let $result = null;

                $.each($this.batch.files, function( index, file ) {
                    if (file.group.slug == $type) {
                        $result = file;
                    }
                });

                return $result;
            },
			filesByGroup: function (group) {
				var $this = this;

				var files = [];
				if ($this.batch && $this.batch.files) {
					$.each($this.batch.files, function( index, file ) {
						if (file.group.id == group.id) {
							files.push(file);
						}
					})
				}
				return files;
			},

            loadBatch: function () {
                let $this = this;

                let jqxhr = $.ajax({
                    url: "/api/wms/wmsbatch/batch/"+$this.batchId,
                    cache: false,
                    async: false
                });

                let data = jqxhr.responseJSON.data;
                this.loading = false;
                this.batch = data;

                this.packages = [];
                if (this.batch.packages && this.batch.packages.length) {
                    this.batch.packages.forEach(packageItem => {
                        this.packages.push({'damaged': packageItem.damaged})
                    });
                    this.countPackages = this.packages.length;
                } else {
                    if (!this.countPackages) {
                        this.countPackages = this.batch.orderPackages.length;
                    }
                }
            },

            batchSave: function($event) {
				var $this = this;

				var formData = new FormData();
				$.each($this.packages, function( indexPackage, packageItem ) {
					formData.append('batch[package]['+indexPackage+'][id]', packageItem.id ? packageItem.id : null);
					formData.append('batch[package]['+indexPackage+'][damaged]', packageItem.damaged ? 1 : 0);
				});

				var jqxhr = $.ajax({
					method: 'POST',
					url: "/api/wms/wmsbatch/batch-mover-save/" + $this.batch.id,
					cache: false,
					async: false,
					data: formData,
					dataType: "json",
					processData: false,
					contentType: false,
				});

				var data = jqxhr.responseJSON;

				if (data.status == true) {
                    $this.batchSaved = true;
				}

				return false;
			},

			batchArrived: function($event) {
				var $this = this;

				var formData = new FormData();
				formData.append('batch[arrived]', true);

				var jqxhr = $.ajax({
					method: 'POST',
					url: "/api/wms/wmsbatch/batch-mover-arrived/"+$this.batch.id,
					cache: false,
					async: false,
					data: formData,
					dataType: "json",
					processData: false,
					contentType: false,
				});

				var data = jqxhr.responseJSON;

				if (data.status == true) {
					location.href = '/wms/batch';
				}



				return false;
			},
		},
        mounted: function() {
            this.loadBatch(this.batchId);
        },

        watch: {
            countPackages(val) {
                if (val === null) {
                    return null;
                }

                let packages = this.packages;
                let tmpPackages = [];

                for (let i = 0; i < 1 * val; i++) {
                    packages[i] ? tmpPackages.push(packages[i]) : tmpPackages.push({'damaged': false});
                }

                this.packages = tmpPackages;
            },
            'packages': {
                handler(packageItem){
                    this.batchSaved = false;
                },
                deep: true
            }
        }
    }
</script>
