<!DOCTYPE html>
<html lang="ru" {{ sonata_seo_html_attributes() }}>
<head {{ sonata_seo_head_attributes() }}>

    {{ sonata_seo_title() }}
    {{ sonata_seo_metadatas() }}
    {{ sonata_seo_link_canonical() }}
    {{ sonata_seo_lang_alternates() }}

    <meta name="viewport" content="width=1400">
    <meta name="format-detection" content="telephone=no">

    <style>body{opacity:0;overflow-x:hidden}a{text-decoration:none;color:#a1a3ab}.btn-rounded{border-radius:18px;padding:7px 21px}#header .navbar-right li a{font-size:11px}#header .main-menu li a{font-size:15px}</style>


</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-54KQBQ9"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% block header %}
    <header id="header" class="inner-header lk-header">
        <div class="container">
            <a href="/" class="logo" style="width: 185px; margin-right: 70px;"><img src="{{ asset('img/logo.svg') }}" alt=""></a>
            {% if app.session.get('wms.auth.code') %}
                <ul class="main-menu">
                    <li class="{% if app.request.attributes.get('_route') == 'app.wms.orders' %}active{% endif %}">
                        <a href="{{ path('app.wms.orders') }}">Заказы</a>
                    </li>
                    <li class="{% if app.request.attributes.get('_route') == 'app.wms.shipping_pallets' %}active{% endif %}">
                        <a href="{{ path('app.wms.shipping_pallets') }}">Сформировать паллеты</a>
                    </li>
                    <li class="{% if app.request.attributes.get('_route') == 'app.wms.form_pallets' %}active{% endif %}">
                        <a href="{{ path('app.wms.form_pallets') }}">Паллеты</a>
                    </li>
                    <li class="{% if app.request.attributes.get('_route') == 'app.wms.batch' %}active{% endif %}">
                        <a href="{{ path('app.wms.batch') }}">Партии</a>
                    </li>
                </ul>
            {% endif %}
            <ul class="navbar-right">
                <li>
                    <img src="{{ asset('img/ic-phone.svg') }}" alt="">
                    <a href="tel:8 800 222 33 57"><b>8 800 222 33 57</b></a>
                </li>
                <li>
                    {% if app.session.get('wms.auth.code') %}
                        <a href="{{ path('app.wms.logout') }}" class="bordered-btn red">Выйти</a>
                    {% else %}
                        <a href="#" class="bordered-btn red">Войти</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </header>
{% endblock %}

{% if app.session.get('wms.auth.code') %}
    {% block content %}{% endblock %}

{% else %}
    <section class="white">
        <div class="container">
            <div id="wms-auth" data-attach-vue="wms-auth"></div>
        </div>
    </section>
{% endif %}

<footer id="footer">
{% block footer %}
    {% include 'template/wmspage/block/footer-docs.html.twig' %}
{% endblock %}
</footer>

<script src="/libs/jquery/dist/jquery.min.js"></script>
<script src="/libs/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="/js/common.js"></script>

{{ encore_entry_link_tags('css/wms') }}

{{ encore_entry_script_tags('js/wms') }}

{% if app.session.get('wms.auth.code') %}
    {% block stylesheets %}{% endblock %}
{% endif %}

<div id="popup" class="main-popup mfp-hide">

</div>
</body>

</html>
