<div id="orders">

    <div id="batches" data-attach-vue="batches"
         {% if app.request.get('orderId') %}data-batch-id="{{ app.request.get('orderId') }}"{% endif %}
    >
    </div>

    {% include 'block/sender_banner.html.twig' %}

    {% include 'block/questions.html.twig' %}

</div>
