<div id="orders" class="loading" v-bind:class="{load: !loading}">

    <div v-if="!orders.length && loadOrdersEmpty" class="order-empty">
        <div class="h3">Партий пока нет </div>
    </div>

    <table v-if="orders.length" class="order-table transporter-table">
        <thead>
        <tr>
            <th>
                <label class="control control--checkbox terms">
                    <input type="checkbox" id="head-checkbox" class="js-select-all"/>
                    <div class="control__indicator"></div>
                </label>
                <span>Номер партии</span>

                {% include 'site/personal/block/sort.html.twig' with {'sortBy' : 'id'} %}

                <div class="js-delete-orders-wrapper">
                    <div class="js-delete-orders" v-on:click="removeOrders($event)">
                        <img src="{{ asset('img/delete.svg') }}" alt=""><span>Удалить выбранные заказы</span>
                    </div>
                    <span class="js-undelete">Отмена</span>
                </div>
            </th>
            <th class="order-check" width="175">
                <span>Время согласия</span>
                {% include 'site/personal/block/sort.html.twig' with {'sortBy' : 'acceptanceAt'} %}
            </th>
            <th class="order-send" width="165">
                <span>Время загрузки</span>
                {% include 'site/personal/block/sort.html.twig' with {'sortBy' : 'receptionAt'} %}
            </th>
            <th class="order-delivery" width="160">
                <span>Время сдачи</span>
                {% include 'site/personal/block/sort.html.twig' with {'sortBy' : 'issueAt'} %}
            </th>
            <th class="order-transporter" width="135">
                <span>Перевозчик</span>
                {% include 'site/personal/block/sort.html.twig' with {'sortBy' : 'carrier'} %}
            </th>
            <th class="order-status" colspan="2">
                <span>Статус:</span>
                <select name="sortOrders" id="sortOrders" v-model="filter" class="selectpicker">
                    <option value="">Все</option>
                    <option value="reserved">требует оформления</option>
                    <option value="ready">ожидает загрузки</option>
                    <option value="rejected">отказано</option>
                    <option value="shipping">в пути</option>
                    <option value="arrived">ожидает оплаты</option>
                    <option value="paid">оплачено</option>
                </select>
            </th>
        </tr>
        </thead>
        <template v-for="order in orders">
            {% include 'site/personal/carrier/block/overload_order_head.html.twig' %}
            {% include 'site/personal/carrier/block/overload_order_detail.html.twig' %}
        </template>
    </table>

    {% include 'site/personal/block/pagination.html.twig' %}

    {% include 'block/sender_banner.html.twig' %}

    {% include 'block/questions.html.twig' %}

</div>
