<div class="overload loading" id="overload" v-bind:class="{load: !loading}"> 
    <div class="h4">Перегруз</div>
    <p class="bordered">Собрать партию</p>

    <table class="order-table overload-table">
        <thead>
        <tr>
            <th>
                <span>ID Палетты</span>
                {% include 'site/personal/block/sort.html.twig' with {'sortBy' : 'id'} %}
            </th>
            <th class="" width="135">
                <span>Доставить до:</span>

                {% include 'site/personal/block/sort.html.twig' with {'sortBy' : 'date'} %}
            </th>
            <th width="330">
                <span>Направление:</span>
                <select v-model="filter.direction" name="filter.direction" id="filter.direction" class="selectpicker">
                    <option value="">Все</option>
                    <option :value="direction.id" v-for="direction in directions">
                        ${ direction.title }
                    </option>
                </select>

                {% include 'site/personal/block/sort.html.twig' with {'sortBy' : 'direction'} %}
            </th>
            <th class=" text-right">
                <span>Вес, кг:</span>

                {% include 'site/personal/block/sort.html.twig' with {'sortBy' : 'weight'} %}
            </th>
            <th width="166" class="text-right">
                <span class="text-left">Склад <br>отправки №:</span>
                <select  v-model="filter.stockFrom" name="filter.stockFrom" id="filter.stockFrom" class="selectpicker">
                    <option value="">Все</option>
                    <option :value="stockId" v-for="stockId in getStockFromIds" v-if="filter.stockTo != stockId">
                        ${ stockId }
                    </option>
                </select>

                {% include 'site/personal/block/sort.html.twig' with {'sortBy' : 'stockFrom'} %}
            </th>
            <th class="text-right">
                <span class="text-left">Склад <br>назначения №:</span>
                <select  v-model="filter.stockTo" name="filter.stockTo" id="filter.stockTo" class="selectpicker">
                    <option value="">Все</option>
                    <option :value="stockId" v-for="stockId in getStockToIds" v-if="filter.stockFrom != stockId">
                        ${ stockId }
                    </option>
                </select>

                {% include 'site/personal/block/sort.html.twig' with {'sortBy' : 'stockTo'} %}
            </th>
        </tr>
        </thead>
        <tr v-for="pallet in pallets">
            <td class="order-number" v-bind:class="{disabled : !isPalletCanSelected(pallet.id)}">
                <label class="control control--checkbox terms">
                    <input type="checkbox" id="head-checkbox" :checked="isPalletActive(pallet.id)" v-on:click="togglePalletActive(pallet.id)"/>
                    <div class="control__indicator"></div>
                </label>
                <span>${ pallet.externalId }</span>
            </td>
            <td class="order-date">
                <span>${ formatDate(pallet.maxDeliveryTime) }</span>
                <span class="small">${ formatTime(pallet.maxDeliveryTime) }</span>
            </td>
            <td class="">${ pallet.direction.title }</td>
            <td class="text-right">${ pallet.weight }</td>
            <td class="text-right">${ pallet.stockFrom.id } </td>
            <td class="text-right">${ pallet.stockTo.id }</td>
        </tr>
    </table>

    {% include 'site/personal/block/pagination.html.twig' %}

    <p class="bordered mb0">Итого по партии:</p>

    <table class="order-table order-total-table">
        <tr>
            <td width="150">
                Всего паллет:
                <div class="order-total">
                    <div v-if="selectPallets.length == 0">-</div>
                    <div v-else>${ selectPallets.length }</div>
                </div>
            </td>
            <td width="130">
                Доставить до:
                <div class="order-total" v-if="!deliveryDate">-</div>
                <div class="order-total" v-else>${ formatDate(deliveryDate) }<span>${ formatTime(deliveryDate) }</span></div>
            </td>
            <td width="295">
                Направление:
                <div class="order-total" v-if="!direction">-</div>
                <div class="order-total" v-else>${ direction.title }</div>
            </td>
            <td width="105" class="text-right">
                Общий вес груза:
                <div class="order-total" v-if="totalWeight == 0">-</div>
                <div class="order-total" v-else>${ totalWeight }</div>
            </td>
            <td width="160" class="text-right">
                Склад отправки:
                <div class="order-total" v-if="!stockFrom">-</div>
                <div class="order-total" v-else>${ stockFrom.id }</div>
            </td>
            <td width="205" class="text-right">
                Склад назначения:
                <div class="order-total" v-if="!stockTo">-</div>
                <div class="order-total" v-else>${ stockTo.id }</div>
            </td>
        </tr>
    </table>

    <div class="order-row order-create">
        <div class="order-column">
            <div class="form-group" v-bind:class="{ error: errors.has('organization') }">
                <select class="selectpicker" v-bind:class="{ error: errors.has('organization') }" v-validate="{ required: true}" title="Назначить перевозчика" required name="organization" v-model="organization" id="organization">
                    <option :value="organization.id" v-for="organization in organizations">
                        ${ organization.companyName }
                    </option>
                </select>
            </div>
        </div>
        <div class="order-column">
            <div class="form-column">
                <div class="form-group" v-bind:class="{ error: errors.has('driver'), disabled: !organization }">
                    <select class="selectpicker" v-bind:class="{ error: errors.has('driver')}" v-validate="{ required: getOrganization && !getOrganization.isWithoutDrivers}" title="Назначить водителя" required name="driver" v-model="driver" id="driver">
                        <option value="null" v-if="getOrganization && getOrganization.isWithoutDrivers">Без водителя</option>
                        <option :value="driver.id" v-for="driver in getOrganization.verifiedDrivers">
                            ${ driver.name }
                        </option>
                    </select>
                </div>
            </div>
            <div class="edit-buttons">
                <span class="btn-default" v-on:click="reserve($event); return false;">Создать партию</span>
            </div>
        </div>
    </div>
</div>
