{% extends 'template/mainpage/template.html.twig' %}

{% block content %}
    <div id="miles-auction" data-attach-vue="miles-auction"></div>
    <div class="container">
    	{% include 'block/questions.html.twig' %}
    </div>
{% endblock %}
