<template>
    <tbody v-if="order">
        <tr :id="'order-header'+order.id"
            :style="{'background-color': (filesByGroup('tn').length && filesByGroup('act-rt').length) && !filesByGroup('act').length  ? '#e9e9e9' : 'transparency'}">
            <td class="order-number disabled">
                <label class="control control--checkbox terms">
                    <input type="checkbox" id="head-checkbox" :value="order.id" />
                    <div class="control__indicator"></div>
                </label>
                <span>{{ order.title }} </span>
            </td>
            <td class="order-date">
                <span>{{ formatDate(order.receptionAt) }}</span>
                <span class="small">{{ formatTime(order.receptionAt) }}</span>
            </td>
            <td class="order-date">
                <span>{{ formatDate(order.issueAt) }}</span>
                <span class="small">{{ formatTime(order.issueAt) }}</span>
            </td>
            <td class="order-price text-right">
                <span>{{ order.price }} ₽</span>
            </td>
            <td class="order-status text-right btn-status">
                <span class="bordered-btn tdghter" v-bind:class="order.statusClass">{{ order.status }}</span>
            </td>
            <td class="order-open" v-on:click="toggleOrder(order.id)">
                <span class="js-open-order" v-bind:class="{active: orderId == order.id}">
                    <img src="/img/down-arrow.svg" alt="">
                </span>
            </td>
        </tr>

        <tr :id="'order-detail'+order.id" :data-order-details="'order'+order.id" v-if="order" class="order-details" v-show="orderId == order.id" style="display: table-row; width: 100%;">
            <td colspan="6">

                <ul class="order-buttons">
                    <li v-if="order.type == 'deliver' && order.realStatus == 'waiting' && order.batchLoadAvailable">
                        <a :href="'/wms/batch-mover/load/' + order.externalId" class="btn-gray">
                            Отгрузить
                        </a>
                    </li>
                    <li v-else-if="order.type == 'deliver' && (filesByGroup('tn').length && filesByGroup('act-rt').length) && !filesByGroup('act').length">
                        <a :href="'/wms/batch-mover/load/' + order.externalId" class="btn-gray">
                            Загрузить документы
                        </a>
                    </li>
                    <li v-else><a href="javascript:void(0)" class="btn-gray disabled">Отгрузить</a></li>

                    <li v-if="order.isStopSendExactStatus && order.realStatus != 'rejected'">
                        <a href="javascript:void(0)" v-on:click="orderRejected($event)" class="btn-gray">Отказать в отгрузке</a>
                    </li>
                    <li v-else><a href="javascript:void(0)" class="btn-gray disabled">Отказать в отгрузке </a></li>

                    <li v-if="order.type == 'pickup' && order.realStatus != 'suspended' && order.realStatus != 'shipping' && (filesByGroup('tn').length == 0 || filesByGroup('akty').length == 0)">
                        <a :href="'/wms/batch-mover/arrived/' + order.externalId" class="btn-gray">
                            {{ order.issueAt ? 'Загрузить документы' : 'Принять' }}
                        </a>
                    </li>
                    <li v-else><a href="javascript:void(0)" class="btn-gray disabled">Принять</a></li>
                </ul>

                <div v-if="order.files">
                    <files :order="order" :fileGroups="fileGroups"></files>
                </div>

                <div class="order-row three-columns">

                    <div class="order-column">
                        <div class="order-info-item" v-if="order.orderId">
                            <b>Id заказа:</b>
                            {{ order.orderId }}
                        </div>


                        <div class="order-info-item">
                            <b>Тип груза:</b>

                            <span v-for="packageType in order.orderPackagesTypes">
                                <template v-if="packageType">{{ packageType }}<br></template>
                            </span>
                        </div>

                        <div class="order-info-item">
                            <b>Общий вес:</b>
                            {{ order.orderTotalWeight }} кг
                        </div>
                        <div class="order-info-item">
                            <b>Общий объем:</b>
                            {{ order.orderTotalVolume }} м<sup>3</sup>
                        </div>

                        <div class="order-info-item" v-if="order.orderPackages.length">
                            <b>Количество грузовых мест:</b>

                            <span>{{ order.orderTotalPackages }}</span>
                        </div>
                    </div>

                    <div class="order-column">
                        <div class="order-info-item">
                            <b>Точка отправления:</b>
                            {{ order.shipping.type == 'pickup' ? order.shipping.address : order.shipping.stockObject.address }}
                        </div>
                        <div class="order-info-item" v-if="order.shipping.date && order.shipping.type == 'pickup'">
                            <b>Дата и время:</b>
                            <span v-if="order.shipping.date">{{ formatDateTime(order.shipping.date) }}</span>
                        </div>
                        <div class="order-info-item">
                            <b>Точка доставки:</b>
                            {{ order.shipping.type == 'pickup' ? order.shipping.stockObject.address : order.shipping.address }}
                        </div>
                        <div class="order-info-item" v-if="order.shipping.date && order.shipping.type == 'deliver'">
                            <b>Дата и время:</b>
                            <span v-if="order.shipping.date">{{ formatDateTime(order.shipping.date) }}</span>
                        </div>
                    </div>



                    <div class="order-column" v-if="order.receiver">
                        <div class="order-info-item">
                            <b>Перевозчик:</b>
                            {{ order.carrier.organizationCarrier.companyName }}
                        </div>
                        <div class="order-info-item">
                            <b>Контактные данные перевозчика:</b>
                            {{ order.carrier.organizationCarrier.contactPhone }}
                        </div>

                        <div class="order-info-item" v-if="order.driverName">
                            <b>ФИО водителя:</b>
                            <span v-if="order.driverName">{{ order.driverName }}</span>
                        </div>
                        <div class="order-info-item" v-if="order.driverPhone">
                            <b>Контактные данные водителя:</b>
                            <span v-if="order.driverPhone">{{ formatPhone(order.driverPhone) }}</span>
                        </div>
                        <div class="order-info-item" v-if="order.driverDocument">
                            <b>Паспортные данные водителя:</b>
                            <span v-if="order.driverDocument">{{ order.driverDocument }}</span>
                        </div>

                    </div>



                </div>
            </td>
        </tr>

    </tbody>
</template>

<script>
    import Vue from 'vue';
    import ff from '../../vueconfig.js';
    import Files from '../../block/files.vue';
    //import Person from './person.vue';
    import vSelect from 'vue-select';
    import DatePicker from 'vue2-datepicker';
    import VModal from 'vue-js-modal';

    Vue.use(VModal);

    export default {
        name: 'orderItem',
        props: ['orderData', 'open'],
        components: {
            Files,
            DatePicker,
            vSelect
        },
        data() {
            return {
                order: null,

                listPersons: [],
                loadingOrder: false,
                step: 1,

                organizationTypes: [],
                mask: ff.mask(),
                maskfilter: ff.filter(),

                stockFrom: {
                    id: null
                },
                stockTo: {
                    id: null
                },
                pickUp: null,
                moverLoad: false,
                deliver: null,

                orderId: null,

                stocks: [],
                fileGroups: [],
                direction: null,
                edit: false,
                batchLoadAvailable: false
            }
        },
        computed: {

        },
        created() {

        },
        destroyed() {

        },
        methods: {
            formatPhone: function (phone) {
                return ff.formatPhone(phone);
            },

            formatDateTime: function (phone) {
                return ff.formatDateTime(phone);
            },

            formatDate: function (phone) {
                return ff.formatDate(phone);
            },

            formatTime: function (phone) {
                return ff.formatTime(phone);
            },

            toggleOrder: function(orderId) {
                let $this = this;

                if ($this.orderId == orderId) {
                    $this.orderId = null;
                } else {
                    $this.loadOrder(orderId)
                }
            },

            loadOrder: function(orderId) {

                let $this = this;
                let formData = new FormData();

                this.orderId = orderId;

                let jqxhr = $.ajax({
                    method: 'POST',
                    url: "/api/wms/wmsbatch/batch/"+orderId,
                    cache: false,
                    async: false,
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                });

                let result = jqxhr.responseJSON;

                if (result.data) {
                    $this.order = Object.assign({}, result.data);
                    $this.order.batchLoadAvailable = result.data.load_available;

                    $this.loadingOrder = false;
                }
            },

            filesByGroup: function (group) {
                let $this = this;

                let files = [];
                if ($this.order && $this.order.files) {
                    $.each($this.order.files, function( index, file ) {
                        if (file.group && file.group.slug == group) {
                            files.push(file);
                        }
                    })
                }

                return files;
            },

            loadConfig: function(orderId) {
                let $this = this;

                $.ajax({url: "/api/wms/wmsbatch/config", success: function(result){
                    $this.fileGroups = result.data.params.fileGroups;
                }});
            },

            orderRejected: function($event) {
                let $this = this;

                ff.openPopupButton('Вы уверены?', '', '', function () {
                    let jqxhr = $.ajax({
                        method: 'POST',
                        url: " /api/wms/wmsbatch/batch-rejected/"+$this.orderId,
                        cache: false,
                        async: false,
                        dataType: "json",
                        processData: false,
                        contentType: false,
                    });

                    let data = jqxhr.responseJSON;

                    if (data.status == true) {
                        $($event.target).addClass('disabled');

                        $this.loadOrders();
                        ff.closePopup();
                    }
                });

                return false;
            },
        },
        mounted: function() {
            this.loadConfig();

            if (this.orderData) {
                this.order = this.orderData;
            }
        },

        watch: {
            'orderData': function(val) {
                this.order = val;
            },
        }
    }
</script>
