<template>
    <section class="white">
        <div class="container loading" v-bind:class="{load: !loading}">
            <div class="inline-form">
                <form id="orderSearch" class="search">
                    <div class="form-group">
                        <input type="text" class="form-control" v-model="filter.search" value="" >
                    </div>
                    <v-select
                            class="select-in-field"
                            placeholder="Искать по всем данным"
                            :multiple="false"
                            :reduce="item => item.value"
                            v-model="filter.field"
                            label="text"
                            :options="filterFields"
                            :clearable="false"
                    >
                    </v-select>
                </form>
            </div>
            <table class="order-table">
                <thead>
                <tr>
                    <th>
                        <span>Номер партии</span><sort :sort="sort" sortBy="id"></sort>
                    </th>
                    <th class="order-send">
                        <span>Время загрузки</span><sort :sort="sort" sortBy="receptionAt"></sort>
                    </th>
                    <th class="order-delivery">
                        <span>Время сдачи</span><sort :sort="sort" sortBy="issueAt"></sort>
                    </th>
                    <th class="order-price text-right">
                        <span>Доход, ₽</span><sort :sort="sort" sortBy="price"></sort>
                    </th>
                    <th class="order-status" colspan="2">
                        <span>Статус:</span>
                        <v-select
                                :clearable="false"
                                placeholder="Все"
                                :multiple="false"
                                v-model="filter.status"
                                label="text"
                                :options="filterStatuses"
                        >
                        </v-select>
                    </th>
                </tr>
                </thead>

                <template v-for="order in orders">
                    <batchItemShipping v-if="order.entityType == 'mbatch'" :orderData="order" />
                    <batchItem v-if="order.entityType == 'batch'" :orderData="order" />
                </template>

            </table>

            <paginate
                    v-scroll-to="{
                        el: '.order-table',
                        container: 'body',
                        duration: 700,
                        easing: 'ease-in',
                        offset: -200,

                        x: false,
                        y: true
                    }"
                    v-if="pagination.pages > 1"
                    :page-count="pagination.pages"
                    :page-range="6"
                    :margin-pages="1"
                    prev-text=""
                    prev-class="unstyled"
                    prev-link-class="btn btn-rect previous"
                    next-class="unstyled"
                    next-link-class="btn btn-rect next"
                    next-text=""
                    :click-handler="changePage"
                    :container-class="'pagination'"
                    :page-class="'page-item'">
            </paginate>
        </div>
    </section>
</template>

<script>
    import Vue from 'vue';
    import ff from '../../vueconfig.js';
    import Sort from '../../block/sort.vue';
    import Files from '../../block/files.vue';
    import vSelect from 'vue-select';
    import Paginate from 'vuejs-paginate';
    import VueScrollTo from 'vue-scrollto';
    import BatchItemShipping from './batchItemShipping.vue';
    import BatchItem from './batchItem.vue';

    Vue.use(VueScrollTo);

    export default {
        name: 'wms-batches',
        props: [],
        components: {
            Paginate,
            VueScrollTo,
            Sort,
            Files,
            vSelect,
            BatchItem,
            BatchItemShipping
        },
        data() {
            return {
                timeout: null,
                loading: true,
                orderId: null,
                orders: [],
                order: null,
                filterFields: [
                    {text: '№ партии', value: 'externalId'},
                    {text: 'Дата выдачи', value: 'issueAt'},
                    {text: 'Дата приемки', value: 'receptionAt'},
                    {text: 'Вес', value: 'wight'},
                    {text: 'Стоимость', value: 'price'},
                    {text: 'Адрес отправителя', value: 'fromAddress'},
                    {text: 'Адрес получателя', value: 'toAddress'},
                    {text: 'Направление', value: 'direction'},
                    {text: 'Перевозчик', value: 'carrier'},
                    {text: 'Контакты перевозчика', value: 'carrierContact'},
                    {text: 'Водитель', value: 'driver'},
                    {text: 'Контакты водителя', value: 'driverContact'},
                ],
                filterStatuses: [
                    {text: 'Все', value: ''},
                    {text: 'ожидает', value: 'ready'},
                    {text: 'отказано', value: 'rejected'},
                    {text: 'в пути', value: 'shipping'},
                    {text: 'ожидает оплаты', value: 'arrived'},
                    {text: 'оплачено', value: 'paid'},
                ],
                filter: {
                    search: '',
                    status: '',
                    field: 'externalId'
                },
                fileGroups: [],
                nextTime: 20,
                maxTime: 300,
                time: '',
                selectDrivers: null,
                pagination: {
                    page : 1,
                    perPage : 10,
                    pages : 1,
                },
                loadOrdersEmpty: true,
                mask: ff.mask(),
                sort: {
                    by: 'id',
                    direction: 'desc'
                },
                edit: false
            }
        },
        methods: {
            changePage: function (page) {
                this.showPage(page);
            },

            showPage: function(page) {
                if (page >= 1 && page <= this.pagination.pages) {
                    this.pagination.page = page;
                    this.loadOrders();
                }
            },

            toggleOrder: function(orderId){

                let $this = this;

                if ($this.orderId == orderId) {
                    $this.orderId = null;
                    $this.selectDrivers = null;
                } else {
                    let order = $this.loadOrder(orderId);
                }

                if (!order) {
                    $this.orderId = null;
                }

                $this.edit = false;
            },

            loadOrder: function(orderId){
                let $this = this;

                $this.orderId = orderId;

                $.each($this.orders, function( index, item ) {
                    if (item.id == $this.orderId) {
                        $this.order = item;

                        if ($this.order.drivers) {
                            $.each($this.order.drivers, function( index, driver ) {
                                $this.selectDrivers = driver.id
                            });
                        }
                    }
                })
                return $this.order;
            },

            loadOrders: function() {

                let $this = this;

                let formData = new FormData();
                if ($this.filter.search) {
                    formData.append('filter[search]', $this.filter.search);
                }
                if ($this.filter.status) {
                    formData.append('filter[status]', $this.filter.status.value);
                }
                formData.append('filter[field]', $this.filter.search ? $this.filter.field : '');
                formData.append('page', $this.pagination.page);
                formData.append('perPage', $this.pagination.perPage);
                formData.append('sort[by]', $this.sort.by);
                formData.append('sort[direction]', $this.sort.direction);

                let jqxhr = $.ajax({
                    method: 'POST',
                    url: "/api/wms/wmsbatch/orders",
                    cache: false,
                    async: false,
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                });

                let result = jqxhr.responseJSON;

                if (result && result.data) {
                    $this.orders = result.data.orders;
                    $this.pagination = result.data.pagination;

                    if ($this.orders.length && $this.loadOrdersEmpty) {
                        $this.loadOrdersEmpty = false;
                    }

                    $this.loading = false;

                    if ($this.orders) {
                        $($this.orders).each(function( index, order ) {
                            if (order.overload == false && order.chooseDrivers.length == 0 && order.realStatus == 'reserved') {
                                $(function(){
                                    ff.openPopupUrl('/static/popup/no_drivers');
                                    $this.removeOrder(order.id);
                                })
                            }
                        });
                    }
                }
            },

            formatDateTime: function (date) {
                return ff.formatDateTime(date);
            },

            formatDate: function (date) {
                return ff.formatDate(date);
            },

            formatTime: function (date) {
                return ff.formatTime(date);
            },
        },
        mounted: function() {
            let $this = this;

            $this.loadOrdersEmpty = true;
            $this.loadOrders();
        },
        computed: {

        },
        watch: {
            'filter.search': function(val) {
                let self = this;
                self.pagination.page = 1;
                clearTimeout(self.timeout);
                self.timeout = setTimeout(function () {
                    self.loadOrders();
                }, 600);
            },
            'filter.status': function(val) {
                this.loadOrders();
            },
            'sort.by': function(val) {
                this.loadOrders();
            },
            'sort.direction': function(val) {
                this.loadOrders();
            },
        }
    }
</script>
