<template>
    <tbody v-if="order">
        <tr :id="'order-header'+order.id" v-bind:class="{'has-notice': order.isDamaged}">
            <td class="order-number disabled">
                <label class="control control--checkbox terms">
                    <input type="checkbox" :value="order.id" />
                    <div class="control__indicator"></div>
                </label>
                <span>{{ order.externalId }} </span>
            </td>
            <td class="order-date">
                <span>{{ formatDate(order.receptionAt) }}</span>
                <span class="small">{{ formatTime(order.receptionAt) }}</span>
            </td>
            <td class="order-date">
                <span>{{ formatDate(order.issueAt) }}</span>
                <span class="small">{{ formatTime(order.issueAt) }}</span>
            </td>
            <td class="order-price text-right">
                <span>{{ order.price }} ₽</span>
            </td>
            <td class="order-status text-right btn-status">
                <span class="bordered-btn tdghter" v-bind:class="order.statusClass">{{ order.status }}</span>
            </td>
            <td class="order-open" v-on:click="toggleOrder(order.id)">
                <span class="js-open-order" v-bind:class="{active: orderId == order.id}">
                    <img src="/img/down-arrow.svg" alt="">
                </span>
            </td>
        </tr>

        <tr :id="'order-detail'+order.id" :data-order-details="'order'+order.id" class="order-details" v-if="order && orderId == order.id" style="display: table-row; width: 100%;">
            <td colspan="6">

                <ul class="order-buttons">
                    <li v-if="!order.receptionAt && order.stock.id == order.stockFrom.id">
                        <a :href="'/wms/batch/load/'+order.externalId" class="btn-gray">Отгрузить</a>
                    </li>
                    <li v-else><a href="javascript:void(0)" class="btn-gray disabled">Отгрузить</a></li>

                    <li v-if="order.isStopSendExactStatus && order.realStatus != 'rejected' && order.stock.id == order.stockFrom.id">
                        <a href="javascript:void(0)" v-on:click="orderRejected($event)" class="btn-gray">Отказать в отгрузке</a>
                    </li>
                    <li v-else><a href="javascript:void(0)" class="btn-gray disabled">Отказать в отгрузке </a></li>

                    <li v-if="order.receptionAt && !order.issueAt && order.stock.id == order.stockTo.id">
                        <a :href="'/wms/batch/arrived/'+order.externalId" class="btn-gray">Принять</a>
                    </li>
                    <li v-else><a href="javascript:void(0)" class="btn-gray disabled">Принять</a></li>

                    <li v-if="order.receptionAt" class="pull-right">
                        <a target="_blank" :href="'/wms/pdf/batch/composition/'+order.externalId" class="btn-gray not-filled">
                            <img src="/img/print-dark.svg" alt="">
                            Печать состава партии
                        </a>
                    </li>
                </ul>

                <div v-if="order.files">
                    <files :order="order" :fileGroups="fileGroups"></files>
                </div>

                <div class="order-row three-columns">
                    <div class="order-column">
                        <div class="order-info-item">
                            <b>Направление:</b>
                            {{ order.direction.title }}
                        </div>
                        <div class="order-info-item">
                            <b>Общий вес:</b>
                            {{ order.totalWeight }} кг
                        </div>
                        <div class="order-info-item">
                            <b>Кол-во паллет, шт.:</b>
                            {{ order.totalPallets }}

                            <div v-if="order.pallets" v-for="pallet in order.pallets">

                            </div>
                        </div>

                        <div class="order-info-item" v-if="order.slaDate">
                            <b>Доставить до:</b>
                            {{ formatTime(order.slaDate) }} {{ formatDate(order.slaDate) }}
                        </div>
                    </div>
                    <div class="order-column">
                        <div class="order-info-item">
                            <b>Точка отправления:</b>
                            {{ order.stockFrom.address }}
                        </div>
                        <div class="order-info-item">
                            <b>Точка доставки:</b>
                            {{ order.stockTo.address }}
                        </div>
                    </div>
                    <div class="order-column" v-if="order.carrier.organizationCarrier">
                        <div class="order-info-item">
                            <b>Перевозчик:</b>
                            {{ order.carrier.organizationCarrier.companyName }}
                        </div>
                        <div class="order-info-item">
                            <b>Контактные данные перевозчика:</b>
                            {{ order.carrier.organizationCarrier.contactPhone }}
                        </div>


                        <template v-for="driver in order.drivers">
                            <div class="order-info-item">
                                <b>Водитель:</b>
                                {{ driver.name }}
                            </div>
                            <div class="order-info-item" v-for="document in driver.documents" v-if="document.type == 'passport'">
                                <b>Паспортные данные водителя:</b>
                                {{ document.series }} {{ document.number }}
                            </div>
                            <div class="order-info-item" style="margin-top: -10px;">
                                <b>Контактные данные водителя:</b>
                                {{ driver.phone }}
                            </div>
                        </template>
                    </div>
                </div>
            </td>
        </tr>

    </tbody>
</template>

<script>
    import Vue from 'vue';
    import ff from '../../vueconfig.js';
    import Files from '../../block/files.vue';
    //import Person from './person.vue';
    import vSelect from 'vue-select';
    import DatePicker from 'vue2-datepicker';
    import VModal from 'vue-js-modal';

    Vue.use(VModal);

    export default {
        name: 'batchItem',
        props: ['orderData', 'open'],
        components: {
            Files,
            DatePicker,
            vSelect
        },
        data() {
            return {
                order: null,

                listPersons: [],
                loadingOrder: false,
                step: 1,

                organizationTypes: [],
                mask: ff.mask(),
                maskfilter: ff.filter(),

                stockFrom: {
                    id: null
                },
                stockTo: {
                    id: null
                },
                pickUp: null,
                moverLoad: false,
                deliver: null,

                orderId: null,

                stocks: [],
                fileGroups: [],
                direction: null,
                edit: false
            }
        },
        computed: {

        },
        created() {

        },
        destroyed() {

        },
        methods: {
            formatPhone: function (phone) {
                return ff.formatPhone(phone);
            },

            formatDateTime: function (phone) {
                return ff.formatDateTime(phone);
            },

            formatDate: function (phone) {
                return ff.formatDate(phone);
            },

            formatTime: function (phone) {
                return ff.formatTime(phone);
            },

            toggleOrder: function(orderId) {
                let $this = this;

                if ($this.orderId == orderId) {
                    $this.orderId = null;
                } else {
                    $this.loadOrder(orderId)
                }
            },

            loadOrder: function(orderId) {
                let $this = this;
                let formData = new FormData();

                this.orderId = orderId;

                let jqxhr = $.ajax({
                    method: 'POST',
                    url: "/api/wms/wmsbatch/batch/"+orderId,
                    cache: false,
                    async: false,
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                });

                let result = jqxhr.responseJSON;

                if (result.data) {
                    $this.order = Object.assign({}, result.data);

                    $this.loadingOrder = false;
                }
            },


            orderRejected: function($event) {
                let $this = this;

                ff.openPopupButton('Вы уверены?', '', '', function () {
                    let jqxhr = $.ajax({
                        method: 'POST',
                        url: " /api/wms/wmsbatch/batch-rejected/"+$this.orderId,
                        cache: false,
                        async: false,
                        dataType: "json",
                        processData: false,
                        contentType: false,
                    });

                    let data = jqxhr.responseJSON;

                    if (data.status == true) {
                        $($event.target).addClass('disabled');

                        $this.loadOrders();
                        ff.closePopup();
                    }
                });

                return false;
            },

            loadConfig: function(orderId) {
                let $this = this;

                $.ajax({url: "/api/wms/wmsbatch/config", success: function(result){
                    $this.fileGroups = result.data.params.fileGroups;
                }});
            },
        },
        mounted: function() {
            this.loadConfig();

            if (this.orderData) {
                this.order = this.orderData;
            }
        },
        watch: {
            'orderData': function(val) {
                this.order = val;
            },
        }
    }
</script>
