{% extends 'template/pdfpage/template.html.twig' %}

{% block content %}

    <div class="page-content" style="padding: 0 0 60px; text-align: justify; overflow: hidden; height: 1800px;">
        <div class="" style="margin: 0 auto;max-width: 100%;">
            <div class="text-center" style="margin-bottom: 50px;">
                <p>
                    <img src="/img/wms-truck.png" alt="" style="width: 80px;height:80px; display:block; position:relative; top: 40px;">
                    <b>
                        Акт выполненных работ № ТТ{{ batch.externalId }} от {{ "now"|date('d.m.Y') }}
                    </b>
                </p>
            </div>

            <div class="pull-left">
                <p>г. {{ batch.stock.city.title }}</p>
            </div>
            <div class="pull-right" style="width: 150px;text-align:right;">
                <p>{{ 'now'|date('d.m.Y') }} г.</p>
            </div>

            <div class="clearfix"></div>
            <p><b>Исполнитель</b> {{ format_user(batch.carrier, 'carrier') }}</p>
            <p><b>Заказчик</b> ООО «ТОЧКА-ТОЧКА ЛОГИСТИКА», Рязанский пр-кт, дом 16, с. 4, тел. {{ '800 222 33 57'|formatPhone}}</p>
            <p><b>Основание</b> договор-оферта от {{ offer_date }}</p>

            <br>

            <table class="table">
                <tr>
                    <td class="text-center"><b>№</b></td>
                    <td class="text-center"><b>Наименование работ, услуг</b></td>
                    <td class="text-center"><b>Кол-во</b></td>
                    <td class="text-center"><b>Ед.</b></td>
                    <td class="text-center"><b>Дата</b></td>
                    <td class="text-center"><b>Пункт Погрузки</b></td>
                    <td class="text-center"><b>Пункт Выгрузки</b></td>
                    <td class="text-center"><b>Цена</b></td>
                    <td class="text-center"><b>Сумма</b></td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Транспортные услуги №{{ batch.getTitleId }}</td>
                    <td>1</td>
                    <td>шт</td>
                    <td>{{ 'now'|date('Y-m-d') }}</td>
                    <td>{{ batch.shipping.type == 'pickup' ? batch.shipping.address : batch.stock.address }}</td>
                    <td>{{ batch.shipping.type == 'pickup' ? batch.stock.address : batch.shipping.address }}</td>
                    <td>{{ batch.price }}</td>
                    <td>{{ batch.price }}</td>
                </tr>

            </table>

            <br/>
            <br/>
            Итого: {{ batch.price }}
            В том числе НДС	0,00
            <br/>
            <br/>


            <p>Вышеперечисленные услуги выполнены полностью и в срок. Заказчик претензий по объему, качеству и срокам оказания услуг не имеет.</p>

            <br/><br/>

            <p style="float: left;">Исполнитель_____________</p>
            <p style="float: right;padding-right: 300px">Заказчик_____________</p>



            <div class="clearfix"></div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        .container{
            position: relative;
        }
        .doc-img{
            top: -58px !important;
            position: absolute;
            right: 0;
            width: 115px;
        }
        .bg{
            background-color: #fff;
            position: relative;
            top: 6px;
        }
        .black-border{
            border-bottom: 1px solid #000;
            height: 28px;
        }
        .doc-header{
            margin-bottom: 100px;
        }
        .doc-header .doc-logo{
            display: inline-block;
            vertical-align: top;
        }
        .doc-header p{
            display: inline-block;
            vertical-align: top;
            font-size: 15px;
            color: #656565;
            margin-left: 50px;
        }
        p.bottom-line{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
        }
        span.line{
            width: 100%;
            border-bottom: 1px solid #000;
            display: inline-block;
        }
        p.bottom-line b{
            flex: 1 0 auto;
        }
    </style>

    <link rel="stylesheet" href="{{ asset('/css/wms.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/fix.css') }}">
{% endblock %}


