{% extends 'template/pdfpage/template.html.twig' %}

{% block content %}

    <div class="page-content" style="padding: 60px 0; text-align: justify;">

        <div class="container" style="margin: 0 auto;max-width: 100%;">
            <img src="{{ asset('/img/doc-logo.jpg') }}" alt="" class="doc-img">
            <div class="doc-header">
                <a href="#" class="doc-logo"><img src="{{ asset('/img/doc-header.jpg') }}" alt="" style="width: 306px"></a>
                <p>Доставка грузов по России<br>119034, г. Москва, Рязанский пр-кт, дом 16, с. 4, 8 800 222 33 57, www.dot-dot.ru</p>
            </div>

            <p><b>ID партии:</b> {{ batch.externalId }}</p>
            <p><b>Вес партии:</b> {{ batch.weight }} кг</p>
            <p><b>Доставить до:</b> {{ batch.deliveryToAt|date('d.m.Y') }}</p>
            <p><b>Получатель:</b>
                ООО «ТОЧКА-ТОЧКА ЛОГИСТИКА»
            </p>
            <p><b>Направление:</b> {{ batch.stockFrom.city.title }} - {{ batch.stockTo.city.title }}</p>
            <p><b>Адрес отправки:</b>  {{ batch.stockFrom.address }}</p>
            <p><b>Адрес доставки:</b>   {{ batch.stockTo.address }}</p>
            <p><b>Паллеты (ID, вес)</b></p>
            <p>
                {% for pallet in batch.pallets %}
                    {{ pallet.externalId }} - {{ pallet.weight }} кг<br>
                {% endfor %}
            </p>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .container{
            position: relative;
        }
        .doc-img{
            top: -58px !important;
            position: absolute;
            right: 0;
            width: 115px;
        }
        .bg{
            background-color: #fff;
            position: relative;
            top: 6px;
        }
        .black-bbatch{
            bbatch-bottom: 1px solid #000;
            height: 28px;
        }
        .doc-header{
            margin-bottom: 100px;
        }
        .doc-header .doc-logo{
            display: inline-block;
            vertical-align: top;
        }
        .doc-header p{
            display: inline-block;
            vertical-align: top;
            font-size: 15px;
            color: #656565;
            margin-left: 50px;
        }
        p.bottom-line{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
        }
        span.line{
            width: 100%;
            bbatch-bottom: 1px solid #000;
            display: inline-block;
        }
        p.bottom-line b{
            flex: 1 0 auto;
        }
    </style>

    <link rel="stylesheet" href="{{ asset('/css/wms.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/fix.css') }}">
{% endblock %}

