{% extends 'template/pdfpage/template.html.twig' %}

{% block content %}
<div class="page-content" style="padding: 60px 0; text-align: justify;">
    <div class="container" style="margin: 0 auto;">
        <div class="text-center" style="margin-bottom: 50px;">
            <p>
                <b>
                    Экспедиторская расписка
                </b>
            </p>
        </div>
        <div class="pull-left">
            <p><b>Дата</b>
                {% if batch.receptionAt %}{{ batch.receptionAt.format('d.m.Y') }}{% else %}{{ "now"|date('d.m.Y') }}{% endif %}
            </p>
        </div>
        <div class="pull-right">
            <p><b>Номер</b> {{ batch.externalId }}</p>
        </div>
        <div class="clearfix"></div>
        <p><b>Грузоотправитель</b> ООО «ТОЧКА-ТОЧКА ЛОГИСТИКА», Рязанский пр-кт, дом 16, с. 4, тел. {{ '800 222 33 57'|formatPhone}}</p>
        {% if batch.type == 'pickup' %}
            <p><b>Получатель</b> ООО «ТОЧКА-ТОЧКА ЛОГИСТИКА», {{ batch.shipping.stock.address }} , тел. {{ batch.shipping.stock.phone|formatPhone }}</p>
        {% else %}
            <p><b>Получатель</b> ООО «ТОЧКА-ТОЧКА ЛОГИСТИКА», {{ batch.shipping.stock.address }} , тел. {{ batch.shipping.stock.phone|formatPhone }}</p>
        {% endif %}
        <p><b>Экспедитор</b> ООО «Мувер» ИНН 7717291814 Адрес: 109052, г. Москва, улица Нижегородская, дом 73, 27

        </p>
        <br>
        <p>
            <b>Страна происхождения груза -</b><span style="width: 160px">&nbsp;</span>
            <b>Товарный код - </b><span style="width: 160px">&nbsp;</span>
            <b>Маркировка - </b><span style="width: 160px">&nbsp;</span>
        </p>
        <p><b>Количество мест</b>
            {% if batch.type == 'pickup' %}
                {{ batch.packages|length }} шт.
            {% else %}
                {{ batch.order.packages|length }} шт.
            {% endif %}
        </p>
        {% if batch.type == 'pickup' %}
            <p>
                {% for packageType in batch.order.getPackagesTypes %}
                    {{ packageType }}<br>
                {% endfor %}
            </p>
        {% else %}
            <p>
                {% for package in batch.order.getPackages %}
                    {{ package.externalId }}/{{ package.weight }} кг, {% if package.packageType %}{{ package.packageType.title }}{% else %}{{ package.getPackageTypeAnother }}{% endif %}{% if package.packing %}, {{ package.packing.title }}{% endif %}<br>
                {% endfor %}
            </p>
        {% endif %}
        <p style="width:600px">
                <span class="pull-left">
                    <b>Вес</b> {% if batch.type == 'pickup' %} - {% else %}{{ batch.order.totalWeight }} кг{% endif %}
                </span>
                <span class="pull-right">
                    <b>Объем</b> {% if batch.type == 'pickup' %} - {% else %} - {% endif %}
                </span>
            <span class="clearfix"></span>
        </p>
        <p><b>Стоимость (Объявленная ценность)</b> согласно реальной стоимости, подтверждённой документально</p>
        <p><b>Размер упаковки -</b></p>

        {% if batch.type == 'pickup' %}
            <p><b>Условия:</b> доставка от {{ batch.shipping.address }} до {{ batch.shipping.stock.address }}, стоимость перевозки {{ batch.price }} рублей, согласно договору №1М от 29.03.2019 г.</p>
        {% elseif batch.type == 'deliver' %}
            <p><b>Условия:</b> доставка от {{ batch.shipping.stock.address }} до {{ batch.shipping.address }}, стоимость перевозки {{ batch.price }} рублей, согласно договору №1М от 29.03.2019 г.</p>
        {% endif %}
        <p class="black-border"><span class="bg"><b>Особые отметки </b></span></p>
        <p class="black-border"></p>
        <p class="black-border"></p>
        <p class="black-border"></p>
        <br><br>
        <p>
                <span class="pull-left">
                    <b>Подпись Экспедитора</b>
                </span>
            <span class="pull-right">
                    _________________________/__________________
                </span>
            <span class="clearfix"></span>
        </p>
        <p>По доверенности № &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; от&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; .&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; . &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;г. </p>
        <br><br>
        <p>
                <span class="pull-left">
                    <b>Подпись Грузоотправителя</b>
                </span>
            <span class="pull-right">
                    _________________________/__________________
                </span>
            <span class="clearfix"></span>
        </p>
        <p>По доверенности № &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; от&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; .&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; . &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;г. </p>

    </div>
</div>
{% endblock %}

{% block stylesheets %}
<style>
    .container{
        position: relative;
    }
    .doc-img{
        top: -58px !important;
        position: absolute;
        right: 0;
        width: 115px;
    }
    .bg{
        background-color: #fff;
        position: relative;
        top: 6px;
    }
    .black-border{
        border-bottom: 1px solid #000;
        height: 28px;
    }
    .doc-header{
        margin-bottom: 100px;
    }
    .doc-header .doc-logo{
        display: inline-block;
        vertical-align: top;
    }
    .doc-header p{
        display: inline-block;
        vertical-align: top;
        font-size: 15px;
        color: #656565;
        margin-left: 50px;
    }
</style>

<link rel="stylesheet" href="{{ asset('/css/wms.min.css') }}">
<link rel="stylesheet" href="{{ asset('/css/fix.css') }}">
{% endblock %}
