{% extends 'template/pdfpage/template.html.twig' %}

{% block content %}
    {% set shipping = batch.shipping %}
    {% set order = shipping.order[0] %}

    {% for index in [1, 2, 3, 4] %}

        <div class="page-content " style="overflow: hidden; padding: 40px 0; text-align: justify;">
            <div class="" style="margin: 0 auto; max-width: 100%;">

                <div class="text-center" style="margin-bottom: 50px;">
                    <p>
                        <b>
                            ТРАНСПОРТНАЯ НАКЛАДНАЯ
                        </b>
                    </p>
                </div>
                <div class="column medium border-right space-right text-center">
                    <span>Транспортная накладная</span>
                    <p class="black-border big text-left">
                        Экземпляр № {{ index }}
                    </p>
                    <p class="black-border big text-center">
                        1. Грузоотправитель (грузовладелец) <br>
                        <span>
                            {% if shipping.type == 'pickup' %}
                                {% if order.sender.uridical %}
                                    <b>{{ order.sender.type }} {{ order.sender.companyName }}</b>
                                {% else %}
                                    <b>{{ order.sender.contactName }} {{ order.sender.contactPhone }}</b>
                                {% endif %}
                            {% else %}
                                ООО «ТОЧКА-ТОЧКА ЛОГИСТИКА»
                            {% endif %}
                        </span>
                        <span class="small-text">фамилия, имя, отчество, адрес места жительства, <br>номер телефона – для физического лица (уполномоченного лица)</span>
                    </p>
                    <p class="black-border big text-center">
                        <span>
                            <b>
                            {% if shipping.type == 'pickup' %}
                                {{ shipping.address }}
                            {% else %}
                                {{ order.stockTo.address }}, тел. {{ order.stockTo.phone }}
                            {% endif %}
                            </b>
                        </span>
                        <span class="small-text">полное наименование, адрес места нахождения - для юридического лица)</span>
                    </p>
                    <p class="black-border text-center">
                        <span>&nbsp;</span>
                        <span class="small-text">фамилия, имя, отчество, данные о средствах связи лица, ответственного за перевозку</span>
                    </p>
                </div>
                <div class="column big space-left text-center">
                    <span>Заказ (заявка)</span>
                    <p class="black-border big">
                        <span class="column bigger space-right text-left"><b>{{ 'now'|date('d.m.Y') }}</b></span>
                        <span class="column small" style="width: auto!important; font-size: 14px;"><b>№&nbsp;&nbsp;{{ batch.titleId }}&nbsp;</b></span>
                    </p>
                    <p class="black-border big text-center">
                        <span>2. Грузополучатель <br></span>
                        <span>
                            <b>
                                {% if shipping.type == 'deliver' %}
                                    {% if order.receiver.uridical %}
                                        <b>{{ order.receiver.type }} {{ order.receiver.companyName }}</b>
                                    {% else %}
                                        <b>{{ order.receiver.contactName }} {{ order.receiver.contactPhone }}</b>
                                    {% endif %}
                                {% else %}
                                    ООО «ТОЧКА-ТОЧКА ЛОГИСТИКА»
                                {% endif %}
                            </b>
                        </span>
                        <span class="small-text">фамилия, имя, отчество, адрес места жительства, номер телефона — для физического лица (уполномоченного лица)</span>
                    </p>
                    <p class="black-border big text-center">
                        <span><b>
                            {% if shipping.type == 'pickup' %}
                                {{ order.stockFrom.address }}, тел. {{ order.stockFrom.phone }}
                            {% else %}
                                {{ shipping.address }}
                            {% endif %}
                                </b> </span>
                        <span class="small-text">полное наименование, адрес места нахождения - для юридического лица</span>
                    </p>
                    <p class="black-border text-center">
                        <span>&nbsp;</span>
                        <span class="small-text">фамилия, имя, отчество, данные о средствах связи лица, ответственного за перевозку</span>
                    </p>
                </div>
                <div class="clearfix"></div>
                <br>
                <div class="column text-center">
                    <span>3. Наименование груза</span>
                    <p class="black-border text-center">
                        <span><b>{{ order.getPackagesTypes|join(', ') }}</b> </span>
                        <span class="small-text">отгрузочное наименование груза (для опасных грузов – в соответствии с ДОПОГ), его состояние и другая необходимая информация о грузе</span>
                    </p>
                    <p class="black-border text-center">
                        <span>
                            <b>Грузовых мест:
                                {{ order.totalCount }}
                            </b>
                        </span>
                        <span class="small-text">количество грузовых мест, маркировка, вид тары и способ упаковки</span>
                    </p>
                    <p class="black-border text-center">
                        <span><b>Вес - {{ order.totalWeight }} кг , Объем - {{ order.totalVolume|number_format(6) }} м3</b> </span>
                        <span class="small-text">масса нетто (брутто) грузовых мест в килограммах, размеры (высота, ширина и длина) в метрах, объем грузовых мест в кубических метрах</span>
                    </p>
                </div>
                <div class="column bigger" style="margin-top: 40px;">
                    <span class="small">в случае перевозки опасного груза - информация по каждому опасному веществу, материалу или изделию в соответствии с пунктом 5.4.1 ДОПОГ </span>
                </div>
                <div class="column small text-center" style="margin-top: 40px;">
                    <p class="black-border">—</p>
                </div>
                <div class="column text-center">
                    <span>4. Сопроводительные документы на груз</span>
                </div>
                <div class="column bigger" style="margin-top: 20px;">
                    <span class="small">перечень прилагаемых к транспортной накладной документов, предусмотренных ДОПОГ, санитарными, таможенными, карантинными, иными правилами в соответствии с законодательством Российской Федерации </span>
                </div>
                <div class="column small text-center" style="margin-top: 20px;">
                    <p class="black-border">—</p>
                </div>
                <div class="column text-center">
                    <p class="black-border">
                        —
                        <span class="small-text">перечень прилагаемых к грузу сертификатов, паспортов качества, удостоверений, разрешений, инструкций, товарораспорядительных и других документов, наличие которых установлено законодательством Российской Федерации</span>
                    </p>
                </div>
                <div class="column text-center" style="margin-top: 40px;">
                    <span>5. Указания грузоотправителя</span>
                    <p class="black-border">
                        —
                        <span class="small-text">перечень прилагаемых к грузу сертификатов, паспортов качества, удостоверений, разрешений, инструкций, товарораспорядительных и других документов, наличие которых установлено законодательством Российской Федерации</span>
                    </p>
                </div>
                <div class="column bigger" style="margin-top: 40px;">
                    <span class="small">указания, необходимые для выполнения фитосанитарных, санитарных, карантинных, таможенных и прочих требований, установленных законодательством Российской Федерации</span>
                </div>
                <div class="column small text-center" style="margin-top: 40px;">
                    <p class="black-border">—</p>
                </div>
                <div class="column bigger" style="margin-top: 20px;">
                    <span class="small">рекомендации о предельных сроках и температурном режиме перевозки, сведения о запорно-пломбировочных устройствах (в случае их предоставления грузоотправителем</span>
                </div>
                <div class="column small text-center" style="margin-top: 20px;">
                    <p class="black-border">—</p>
                </div>
                <div class="column text-center" style="margin-top: 20px;">
                    <p class="black-border">
                        <b>согласно реальной стоимости, подтверждённой документально</b>
                        <span class="small-text">объявленная стоимость (ценность) груза, запрещение перегрузки груза</span>
                    </p>
                </div>

                <div class="clearfix">&nbsp;</div>
                <div class="column medium border-right space-right text-center" style="margin-top: 40px;">
                    <span style="margin-bottom: 10px;">6. Прием груза</span>
                    <p class="black-border  text-left">
                        <span class="small" style="width:60%;">Прибытие под погрузку  (дата и время)</span>
                        <span class="text-center" style="width:40%;"><b></b></span>
                    </p>
                    <p class="black-border on-top text-left">
                        <span class="small" style="width:60%;">Убытие (дата и время)</span>
                        <span class="text-center" style="width:40%;"><b></b></span>
                    <div class="clearfix">&nbsp;</div>
                    </p>
                    <p class="black-border big text-center">
                        <span><b>
                            {% if shipping.type == 'pickup' %}
                                {{ shipping.address }}
                            {% else %}
                                {{ order.stockTo.address }}, тел. {{ order.stockTo.phone }}
                            {% endif %}
                            </b> </span>
                        <span class="small-text">(адрес места погрузки)</span>
                    </p>
                    <p class="black-border big text-center">
                        <span><b>повреждений нет</b> </span>
                        <span class="small-text">фактическое состояние груза, тары, упаковки, маркировки и опломбирования</span>
                    </p>
                    <p class="black-border text-center">
                        <b>{#Вес - {{ batch.totalWeight }} кг , Грузовых мест - {{ batch.pallets|length }} ({{ batch.pallets|length|numberInWords }})#}</b>
                        <span class="small-text">масса груза, количество грузовых мест</span>
                    </p>
                    <p class="black-border text-center">
                        <span style="width:50%" class="text-left small">Грузоотпр-ль</span>
                        <span style="width:50%" class="text-left small">
                             {% if shipping and shipping.active %}
                                 Водитель {{ shipping.driverName }}
                             {% endif %}
                        </span>
                        <span class="small-text">должность, подпись, расшифровка подписи грузоотправителя (уполномоченного лица), подпись, расшифровка подписи водителя, принявшего груз для перевозки</span>
                    </p>
                </div>
                <div class="column big space-left text-center" style="margin-top: 40px;">
                    <span style="margin-bottom: 10px;"> 7. Сдача груза</span>
                    <p class="black-border text-left">
                        <span class="small" style="width:60%;">Прибытие на выгрузку (дата и время)</span>
                        <span class="text-center" style="width:40%;"><b></b></span>
                    </p>
                    <p class="black-border on-top text-left">
                        <span class="small" style="width:60%;">Убытие (дата и время)</span>
                        <span class="text-center" style="width:40%;"><b></b></span>
                    <div class="clearfix">&nbsp;</div>
                    </p>
                    <p class="black-border big te   xt-center">
                        <span><b>
                                 {% if shipping.type == 'pickup' %}
                                     {{ order.stockFrom.address }}
                                 {% elseif shipping.type == 'deliver' %}
                                     {{ shipping.address }}
                                 {% endif %}
                            </b> </span>
                        <span class="small-text"> адрес места выгрузки</span>
                    </p>
                    <p class="black-border big text-center">
                        <span><b>&nbsp;</b> </span>
                        <span class="small-text">фактическое состояние груза, тары, упаковки, маркировки и опломбирования</span>
                    </p>
                    <p class="black-border text-center">
                        <b>Вес - <span style="width: 80px"></span>, Грузовых мест - <span style="width: 80px"></span></b>
                        <span class="small-text">масса груза, количество грузовых мест</span>
                    </p>
                    <p class="black-border text-center">
                        <span style="width:50%" class="text-left small">Грузополучатель</span>
                        <span style="width:50%" class="text-left small">Водитель</span>
                        <span class="small-text">должность, подпись, расшифровка подписи грузоотправителя (уполномоченного лица), подпись, расшифровка подписи водителя, принявшего груз для перевозки</span>
                    </p>
                </div>
                <div class="clearfix"></div>
                <div class="column text-center"  style="margin-top: 40px;">
                    <span>8. Условия перевозки</span>
                </div>
                <div class="column bigger" style="margin-top: 20px;">
                    <span class="small">сроки, по истечении которых грузоотправитель и грузополучатель вправе считать груз утраченным, форма уведомления о проведении экспертизы для определения размера фактических недостачи, повреждения (порчи) груза</span>
                </div>
                <div class="column small text-center" style="margin-top: 20px;">
                    <p class="black-border"><b><span class="small"><span></span> часов с момента загрузки (убытия)</span></b></p>
                </div>
                <div class="column bigger" style="margin-top: 20px;">
                    <span class="small">размер платы и предельный срок хранения груза в терминале перевозчика, сроки погрузки (выгрузки) груза, порядок предоставления и установки приспособлений, необходимых для погрузки, выгрузки и перевозки груза</span>
                </div>
                <div class="column small text-center" style="margin-top: 20px;">
                    <p class="black-border"><b><span class="small">—</span></b></p>
                </div>
                <div class="column bigger" style="margin-top: 20px;">
                    <span class="small">размер штрафа за невывоз груза по вине перевозчика, несвоевременное предоставление транспортного средства, контейнера и просрочку доставки груза; порядок исчисления срока просрочки</span>
                </div>
                <div class="column small text-center" style="margin-top: 20px;">
                    <p class="black-border"><b><span class="small">—</span></b></p>
                </div>
                <div class="column bigger" style="margin-top: 20px;">
                    <span class="small">размер штрафа за непредъявление транспортных средств для перевозки груза, за задержку (простой) транспортных средств, поданных под погрузку, выгрузку, за простой специализированных транспортных средств и задержку (простой) контейнеров</span>
                </div>
                <div class="column small text-center" style="margin-top: 20px;">
                    <p class="black-border"><b><span class="small">—</span></b></p>
                </div>
                <div class="column text-center"  style="margin-top: 20px;margin-bottom: 100px;">
                    <span>9. Информация о принятии заказа (заявки) к исполнению</span>
                    <p class="black-border text-center">
                        <span><b>{{ 'now'|date('d.m.Y') }},
                                {% if shipping and shipping.driverName %}
                                    {{ shipping.driverName }}
                                {% endif %}
                            </b> </span>
                        <span class="small-text">дата принятия заказа(заявки) к исполнению-фамилия, имя, отчество, должность лица, принявшего заказ(заявку) к исполнению, подпись</span>
                    </p>
                </div>
                <div class="page"></div>
                <div class="column text-right">
                    <span class="small">Продолжение приложения N 4<br>Оборотная сторона</span>
                </div>
                <div class="column text-center"  style="margin-top: 20px;">
                    <span>10. Перевозчик</span>
                    <p class="black-border text-center">
                        <span><b>{{ batch.carrier.organizationCarrier.type }} {{ batch.carrier.organizationCarrier.companyName }}</b> </span>
                        <span class="small-text">фамилия, имя, отчество, адрес места жительства, номер телефона – для физического лица (уполномоченного лица)</span>
                    </p>
                    <p class="black-border text-center">
                        <span><b>ИНН {{ batch.carrier.organizationCarrier.inn }}, {{ batch.carrier.organizationCarrier.address }} {{ batch.carrier.organizationCarrier.contactPhone }}</b> </span>
                        <span class="small-text">наименование и адрес места нахождения, номер телефона – для юридического лица</span>
                    </p>
                    <p class="black-border text-center">
                        <span>
                            {{ format_driver(shipping.driver) }}
                        </span>
                        <span class="small-text">фамилия, имя, отчество, данные о средствах связи (при их наличии) водителя (водителей)</span>
                    </p>
                </div>
                <div class="column text-center" style="margin-top: 20px;">
                    <span>11. Транспортное средство</span>
                </div>
                <div class="column big border-right space-right" style="margin-top: 20px;">
                    <p class="black-border text-center">
                        <span><b>&nbsp;</b></span>
                        <span class="small-text">количество, тип, марка, грузоподъемность в тоннах, вместимость в кубических метрах</span>
                    </p>
                    <p class="black-border"></p>
                </div>
                <div class="column medium space-left" style="margin-top: 20px;">
                    <p class="black-border text-center">
                        <span><b>&nbsp;</b></span>
                        <span class="small-text">регистрационные номера</span>
                    </p>
                    <div class="column small border-right space-right">
                        <p class="black-border"></p>
                    </div>
                    <div class="column bigger space-left">
                        <p class="black-border"></p>
                    </div>
                </div>
                <div class="column text-center" style="margin-top: 20px;">
                    <span>12. Оговорки и замечания перевозчика </span>
                </div>
                <div class="column medium border-right space-right" style="margin-top: 20px;">
                    <p class="black-border text-center">
                        <span><b>повреждений нет</b></span>
                        <span class="small-text">фактическое состояние груза, тары, упаковки, маркировки и опломбирования при приеме груза</span>
                    </p>
                    <p class="black-border text-center">
                        <span>—</span>
                        <span class="small-text">изменение условий перевозки при движении</span>
                    </p>
                </div>
                <div class="column big space-left" style="margin-top: 20px;">
                    <p class="black-border text-center">
                        <span><b></b></span>
                        <span class="small-text">фактическое состояние груза, тары, упаковки, маркировки и опломбирования при приеме груза</span>
                    </p>
                    <p class="black-border text-center">
                        <span>—</span>
                        <span class="small-text"> изменение условий перевозки при выгрузке</span>
                    </p>
                </div>
                <div class="column text-center"  style="margin-top: 20px;">
                    <span>13. Прочие условия</span>
                    <p class="black-border text-center">
                        <span>—</span>
                        <span class="small-text">номер, дата и срок действия специального разрешения, установленный маршрут перевозки опасного, тяжеловесного или крупногабаритного груза</span>
                    </p>
                    <p class="black-border text-center">
                        <span>—</span>
                        <span class="small-text">режим труда и отдыха водителя в пути следования, сведения о коммерческих и иных актах</span>
                    </p>
                </div>
                <div class="column text-center" style="margin-top: 20px;">
                    <span>14. Переадресовка</span>
                </div>
                <div class="column medium border-right space-right" style="margin-top: 20px;">
                    <p class="black-border text-center">
                        <span>—</span>
                        <span class="small-text">дата, форма переадресовки (устно или письменно)</span>
                    </p>
                    <p class="black-border text-center">
                        <span>—</span>
                        <span class="small-text">сведения о лице, от которого получено указание на переадресовку (наименование, фамилия, имя, отчество и др.)</span>
                    </p>
                </div>
                <div class="column big space-left" style="margin-top: 20px;">
                    <p class="black-border text-center">
                        <span>—</span>
                        <span class="small-text">адрес нового пункта выгрузки, дата и время подачи транспортного средства под выгрузку</span>
                    </p>
                    <p class="black-border text-center">
                        <span>—</span>
                        <span class="small-text">при изменении получателя груза - новое наименование грузополучателя и место его нахождения</span>
                    </p>
                </div>
                <div class="column text-center" style="margin-top: 20px;">
                    <span>15. Стоимость услуг перевозчика и порядок расчета провозной платы</span>
                </div>
                <div class="column medium border-right space-right" style="margin-top: 20px;">
                    <p class="black-border text-center">
                        <span>
                        <b>
                         {{ shipping.price }}
                          руб.
                        </b>
                        </span>
                        <span class="small-text">стоимость услуги в рублях</span>
                    </p>

                    <p class="black-border text-center">
                        <span class="small">согласно оферте опубликованной на сайте www.dot-dot.ru</span>
                        <span class="small-text">порядок (механизм) расчета (исчислений) платы</span>
                    </p>
                    <p class="black-border text-center">
                        <span>—</span>
                        <span class="small-text">размер провозной платы (заполняется после окончания перевозки) в рублях</span>
                    </p>
                </div>
                <div class="column medium space-left" style="margin-top: 20px;">
                    <p class="black-border text-center">
                        <span>—</span>
                        <span class="small-text">расходы перевозчика и предъявляемые грузоотправителю платежи за проезд по платным автомобильным дорогам,</span>
                    </p>
                    <p class="black-border text-center">
                        <span>—</span>
                        <span class="small-text">при перевозке опасных, тяжеловесных и крупногабаритных грузов, уплату таможенных пошлин и сборов,</span>
                    </p>
                    <p class="black-border text-center">
                        <span>—</span>
                        <span class="small-text">выполнение погрузо-разгрузочных работ, работ по промывке и дезинфекции транспортных средств</span>
                    </p>
                </div>
                <div class="column text-center" style="margin-top: 20px">
                    <p class="black-border text-center">
                        <span class="small"><b>ООО «ТОЧКА-ТОЧКА ЛОГИСТИКА», Рязанский пр-кт, дом 16, с. 4, тел. 8 800 222 33 57</b></span>
                        <span class="small-text">полное наименование организации плательщика (грузоотправителя), адрес, банковские реквизиты организации плательщика (грузоотправителя)</span>
                    </p>
                </div>
                <div class="column text-center" style="margin-top: 20px;">
                    <span>16. Дата составления, подписи сторон</span>
                </div>
                <div class="column medium space-right" style="margin-top: 20px;">
                    <p class="black-border text-center">
                        <span class="small text-left" style="width: 25%!important;">Грузоотпр-ль</span>
                        <span class="small" style="width: 35%!important;"></span>
                        <span class="small" style="width: 35%!important;"><b>{{ 'now'|date('d.m.Y') }}</b></span>
                        <span class="small-text">грузоотправитель (грузовладелец) (уполномоченное лицо), дата, подпись</span>
                    </p>
                </div>
                <div class="column big space-left" style="margin-top: 20px;">
                    <p class="black-border text-center">
                        <span class="small text-left" style="width: 25%!important;">Перевозчик</span>
                        <span class="small text-left" style="width: 35%!important;"></span>
                        <span class="small" style="width: 35%!important;"><b>{{ 'now'|date('d.m.Y') }}</b></span>
                        <span class="small-text">перевозчик (уполномоченное лицо), дата, подпись</span>
                    </p>
                </div>
                <div class="column text-center" style="margin-top: 20px;">
                    <span>17. Отметки грузоотправителей, грузополучателей и перевозчиков</span>
                </div>
                <div class="column text-center" style="margin-top: 20px;">
                    <table class="table">
                        <tr>
                            <td><b>Краткое описание обстоятельств, послуживших основанием для отметки</b></td>
                            <td><b>Расчет и размер штрафа</b></td>
                            <td><b>Подпись, дата</b></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="page"></div>

    {% endfor %}

{% endblock %}

{% block stylesheets %}
    <style>
        body{
            overflow: visible;
        }
        .bg{
            background-color: #fff;
            position: relative;
            top: 6px;
        }
        .black-border{
            border-bottom: 1px solid #000;
            position: relative;
            height: 28px;

        }
        .doc-header{
            margin-bottom: 100px;
        }
        .doc-header .doc-logo{
            display: inline-block;
            vertical-align: top;
        }
        .doc-header p{
            display: inline-block;
            vertical-align: top;
            font-size: 15px;
            color: #656565;
            margin-left: 50px;
        }
        p.bottom-line{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            position: relative;
        }
        p.black-border.big{
            position: relative;
            height: 65px;
            padding-top: 22px;

        }
        p.black-border{
            font-size: 14px;
            height: 28px;
            padding-top: 5px;
        }
        p.black-border b{
            font-size: 15px;
            line-height: 18px;
        }
        p.black-border span.small{
            width: 49% !important;
        }
        p.black-border.on-top{
            border-bottom: none;
            vertical-align: top;
        }
        p.black-border.on-top span{
            vertical-align: top;
        }
        p.black-border.on-top .small{
            position: relative;
            float: left;
        }
        p.black-border.big span{
            vertical-align: bottom;
            width: 100%;
            line-height: 18px;
            float: left;
        }
        span.line{
            width: 100%;
            border-bottom: 1px solid #000;
            display: inline-block;
        }
        .small-text{
            font-size: 10px;
            line-height: 9px !important;
            position: absolute;
            top:100%;
            left: 0;
            width: 100%;
            margin-top: 3px;
        }
        span.small{
            font-size: 11px;
            line-height: 12px;
        }
        p.bottom-line b{
            flex: 1 0 auto;
        }
        .column{
            float: left;
            width: 100%;
        }
        .column.medium{
            width: 50% !important;
        }
        .column.small{
            width: 30% !important;
        }
        .column.big{
            width: 50% !important;
        }
        .column.bigger{
            width: 70% !important;
        }
        .column.space-right{
            padding-right: 5%;
        }
        .column.space-left{
            padding-left: 5%;
        }
        .column.border-right{
            border-right: 1px solid #000;
        }
        .column.border-left{
            border-left: 1px solid #000;
        }
        .clearfix{
            clear: both;
        }
        .clearfix:after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
        }
    </style>

    <link rel="stylesheet" href="{{ asset('/css/wms.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/fix.css') }}">
{% endblock %}
