<template>
    <div>
        <div style="position:relative; width: 1000px;">
            <div class="mile-info" v-if="mapCheckedMile !== null">
                <h3 class="mile-info__title">Партия №{{ mapCheckedMile.name }}</h3>
                <div @click="mapCheckedMile = null" class="mile-info__close"><img src="/img/close.svg"/></div>
                <div class="mile-info__time"><img src="/img/time-small.png"/>Забор {{ ff.formatDateTime(mapCheckedMile.pickupAt) }}</div>
                <div class="mile-info__price">
                    <div class="mile-info__price__item"><span>Ваш доход:</span> <b class="mile-info__price--bigger">{{ Math.round((mapCheckedMile.price / 100) * percentCoef) }} ₽</b></div>
                    <div class="mile-info__price__item"><span>Следующая цена:</span> <b>{{ Math.round((mapCheckedMile.price / 100) * percentNextCoef) }} ₽</b></div>
                </div>

                <div class="mile-info__spec">
                    <span class="mile-info__spec__title">Вес</span> 
                    <div class="mile-info__spec__values">
                        <span class="mile-info__spec__value">{{ mapCheckedMile.weigth }} кг</span>
                    </div>
                </div>
                <div class="mile-info__spec">
                    <span class="mile-info__spec__title">Объем</span> 
                    <div class="mile-info__spec__values">
                        <span class="mile-info__spec__value">{{ mapCheckedMile.volume }} м<sup>3</sup></span>
                    </div>
                </div>
                <div class="mile-info__spec">
                    <span class="mile-info__spec__title">Грузоместа:</span>
                    <div class="mile-info__spec__values">
                        <template v-for="packageItem in mapCheckedMile.packages">
                            <span class="mile-info__spec__value">{{ packageItem.title }}</span> {{ packageItem.count }} грузомест<br>
                        </template>
                        <span v-if="mapCheckedMile.packages.length > 5" class="mile-info__more-specs">Еще грузы</span>
                    </div>
                </div>

                <div class="mile-info__spec" v-if="mapCheckedMile.numLoaders">
                    <span class="mile-info__spec__title">Грузчиков:</span>
                    <div class="mile-info__spec__values">
                        <span class="mile-info__spec__value">{{ mapCheckedMile.numLoaders }}</span>
                    </div>
                </div>

                <div class="mile-info__spec" v-if="mapCheckedMile.hydroBoard">
                    <span class="mile-info__spec__title">Гидроборт:</span>
                    <div class="mile-info__spec__values">
                        <span class="mile-info__spec__value">да</span>
                    </div>
                </div>


                <template v-if="mapCheckedMile.type == 'pickup'">
                <div class="mile-info__address">
                    <div class="mile-info__address__first">
                        {{ mapCheckedMile.address }}
                    </div>
                    <div class="mile-info__address__last">
                        <b>Склад</b>
                        <p>{{ stockByExternalId(mapCheckedMile.stockId).address }}</p>
                    </div>
                </div>
                </template>
                <template v-if="mapCheckedMile.type == 'deliver'">
                    <div class="mile-info__address">
                        <div class="mile-info__address__last">
                            <b>Склад</b>
                            <p>{{ stockByExternalId(mapCheckedMile.stockId).address }}</p>
                        </div>
                        <div class="mile-info__address__first">
                            {{ mapCheckedMile.address }}
                        </div>
                    </div>
                </template>

                <template v-if="!mapCheckedMileLost">
                    <span @click="highlightOffert = !acceptedOffert">
                        <button class="btn-default" @click="reserveAvailableMile(mapCheckedMile.id)" v-bind:class="{disabled: !acceptedOffert}">Забрать</button>
                    </span>

                    <label class="control control--checkbox" v-bind:class="{'highlight-offert': highlightOffert}">
                        Согласен с условиями <a target="_blank" href="/offer/customer">оферты</a>
                        <input type="checkbox" v-model="acceptedOffert" :checked="acceptedOffert" :value="1"  @change="highlightOffert ? highlightOffert = !agree : null" />
                        <div class="control__indicator"></div>
                    </label>
                </template>
                <template v-if="mapCheckedMileLost">
                    забронированно
                </template>
                <br/>
                <br/>
            </div>

            <div class="mile-info__map" v-bind:class="{ 'mile-info__map__checked': this.mapCheckedMile }" id="auction_map"></div>
        </div>
    </div>
</template>

<script>
    import MilesMap from '../map/MilesMap';
    import ff from '../../../vueconfig.js';

    export default {
        name: 'miles-auction-map',
        props: [
            'currentDate',
            'currentCity',
            'percentCoef',
            'percentNextCoef',
            'percentPeriodLeft'
        ],
        data() {
            return {
                milesMap: null,
                mapCheckedMile: null,
                mapCheckedMileLost: false,
                acceptedOffert: false,
                highlightOffert: false,
                'ff': ff
            }
        },
        methods: {
            /**
             * Загружаем мили для карты
             */
            loadMapAvailableMiles() {
                if (!this.currentCity) {
                    return false;
                }

                return this.$store.dispatch('mapMiles/loadAvailableMiles', {
                    'city_id': this.currentCity ? this.currentCity.id : null,
                    'date': this.currentDate
                });
            },

            initMap() {
                this.milesMap = new MilesMap(document.getElementById('auction_map'), true);
                this.reInitMarkers();
            },

            setCurrentDate(date) {
                this.currentDate = date;
                this.loadMapAvailableMiles();
            },

            reInitMarkers() {
                if (this.milesMap) {
                    this.milesMap.reInitMapMarkers(this.mapAvailableMiles, this.mapCheckedMile, (mile) => {
                        this.mapCheckedMile = mile;
                    });
                    this.milesMap.reInitStockMarkers(this.stocks, this.currentCity);

                    if (this.percentCoef) {
                        this.milesMap.reInitMarkerPrice(this.percentCoef);
                    }
                }
            },

            stockByExternalId(externalId) {
                let stock = this.$store.getters['config/stockByExternalId'](externalId);
                return stock;
            },

            reserveAvailableMile(mileId) {
                return this.$store.dispatch('mapMiles/reserveAvailableMile', {
                    mile_id: mileId,
                    coef: this.percentCoef
                }).then((data) => {
                    window.location = '/personal?group=carrier&orderId=' + data.data.batchId;
                }, (result) => {
                    ff.openPopup('К сожалению, неудалось зарезервировать заказ.');
                }).catch(error => {
                    ff.openPopup('К сожалению, неудалось зарезервировать заказ.');
                });
            },

            clearChecked() {
                this.mapCheckedMile = null;
            }
        },
        computed: {
            mapAvailableMiles() {
                return this.$store.getters['mapMiles/availableMiles'];
            },
            cities() {
                return this.$store.getters['config/cities'];
            },
            stocks() {
                return this.$store.getters['config/stocks'];
            },
            availableSorts() {
                return this.$store.getters['config/availableSorts'];
            }
        },
        mounted() {
            this.loadMapAvailableMiles();

            // Обновляем список
            let intervalId = setInterval(() => {
                this.loadMapAvailableMiles();
            }, 10000);
        },
        watch: {
            'mapAvailableMiles': function (miles) {
                if (this.mapCheckedMile) {
                    let founded = false;
                    miles.forEach(mile => {
                        if (mile.id === this.mapCheckedMile.id) {
                            founded = true;
                            this.mapCheckedMile = mile;
                        }
                    });
                    if (!founded) {
                        // Показываем что миля уже была забронирована
                        this.mapCheckedMileLost = true;
                    } else {
                        this.mapCheckedMileLost = false;
                    }
                }

                this.reInitMarkers();
            },
            'mapCheckedMile': function (checkedMile, prevMile) {
                if (!checkedMile) {
                    this.mapCheckedMileLost = false;
                }
                if (this.milesMap) {
                    this.milesMap.checkMile(this.mapCheckedMile);

                    // Если поменялись координаты мили, перересовываем маршрут
                    if (checkedMile && (!prevMile || prevMile.latitude !== checkedMile.latitude || prevMile.lotitude !== checkedMile.lotitude)) {
                        let stock = this.$store.getters['config/stockByExternalId'](checkedMile.stockId);
                        this.milesMap.drawRoute(
                            {lat: parseFloat(checkedMile.latitude), lng: parseFloat(checkedMile.lotitude)},
                            {lat: parseFloat(stock.lat), lng: parseFloat(stock.lng)}
                        );
                    }
                }
            },
            'currentDate': function () {
                // Перезагружаем, после того, как поменялась дата
                this.mapCheckedMile = null;
                this.loadMapAvailableMiles();
            },
            'currentCity': function (city) {
                /*
                 * Инициализируем карту, только после того, как у нас есть выбранный город,
                 * либо если карта инициализированна
                 */
                if (!this.milesMap) {
                    if (typeof window.google === 'undefined') {
                        window.addEventListener('map-loaded', () => this.initMap());
                    } else {
                        this.initMap();
                    }
                }

                this.mapCheckedMile = null;
                // Загружаем мили после того, как у нас поменялся город
                if (city) {
                    this.loadMapAvailableMiles();
                }
            },
            'percentCoef': function (coef) {
                if (this.milesMap) {
                    this.milesMap.reInitMarkerPrice(coef);
                }
            }
        }
    }
</script>
