<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <base href="https://www.dot-dot.ru/">
    <title>Title</title>
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1400">

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#000">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">
    <style>
        body {
            opacity: 0;
            overflow-x: hidden;
        }

    </style>
</head>

<body class="pdf">

{% block content %}{% endblock %}

{% block stylesheets %}{% endblock %}

</body>

</html>
