<template>
  <div style="display: inline-block;">
    <li id="subscribe" style="cursor: pointer;">
      <a id="subscrib" data-attach-vue="subscrib" @click="showModal" alt>
        <img src="/img/mail.svg" alt />
      </a>
    </li>
    <transition name="modal">
      <div class="modal__wrapper" v-if="modal">
        <div class="modal-content popup-subscribe">
          <div class="mfp-close-btn-in">
            <button title="Close (Esc)" type="button" @click="showModal" class="mfp-close">×</button>
          </div>

          <div id="subscribe">
            <div class="h2">Подпишитесь на обновления</div>
            <form class="form-column full text-left">
              <div class="form-group popup-item">
                <label for="email">Email</label>
                <input
                  type="text"
                  v-model="email"
                  class="form-control"
                  @input="emailErr=false; error=false; emailVal=false"
                  name="email"
                  id="email"
                  placeholder="username@mail.ru"
                />
                <label v-if="emailErr" class="error">Укажите email</label>
                <label v-if="emailVal" class="error">Укажите правильный email</label>
                <label v-if="error" class="error">Подписка уже активирована</label>
              </div>
              <div class="form-group">
                <div class="reg-actions">
                  <div class="checkboxes">
                    <label for="terms" class="control control--checkbox popup-item">
                      Даю согласие на обработку персональных данных
                      <input
                        type="checkbox"
                        id="terms"
                        v-model="terms"
                        :checked="terms"
                        value="1"
                      />
                      <div class="control__indicator"></div>
                    </label>

                    <label
                      for="subscribes"
                      class="control control-subscribe control--checkbox popup-item"
                    >
                      Подписаться на новости и рекламу
                      <input
                        type="checkbox"
                        id="subscribes"
                        v-model="subscribes"
                        :checked="subscribes"
                      />
                      <div class="control__indicator"></div>
                    </label>
                  </div>
                  <div class="submit">
                    <button
                      type="button"
                      class="btn-default"
                      @click="subscribeEmail"
                      :class="{disabled: !terms || !subscribes}"
                    >Подписаться</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import Vue from "vue";
import ff from "../../vueconfig.js";

export default {
  name: "Subscrib",
  data() {
    return {
      modal: false,
      email: "",
      emailErr: false,
      terms: false,
      subscribes: true,
      error: false,
      emailVal: false
    };
  },
  methods: {
    showModal() {
      this.modal = !this.modal;
    },
    validEmail() {
      if (this.email) {
        let email = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return this.email.match(email) ? true : false;
      }
    },
    validForm() {
      if (this.validEmail() && this.terms && this.subscribes) {
        return true;
      } else {
        return false;
      }
    },
    subscribeEmail() {
      if (this.validForm()) {
        let $this = this;
        $.ajax({
          method: "POST",
          url: "/api/subscribe/subscribe",
          async: true,
          data: {
            email: $this.email,
            subscribe: $this.subscribes,
            url: location.href
          }
        }).done(function(data) {
          if (data.error != undefined) {
            $this.error = true;
          } else if (data.status) {
            ff.counterEvent("Mail", "form_submit");
            ff.closePopup();
            $this.modal = false;
          }
        });
      }
      if (this.email == "" && !this.validForm()) {
        this.emailErr = true;
      }
      if (!this.validForm() && this.email !== "") {
        this.emailVal = true;
      }
      if (this.validEmail()) {
        this.emailErr = false;
      }
    }
  }
};
</script>

