<template>
<section id="calc-section">

    <popUp class="modal__wrapper"

        v-if="modalFirst"
        @close="modalFirst = !modalFirst">
        <!-- body -->
        <div slot="body">

        <button class="btn btnPrimary" @click="modalFirst = !modalFirst">Well Done!</button>
        </div>
    </popUp>

    <div class="container">
        <div class="h3">Расчет и оформление заказа</div>
        <form v-on:submit.prevent="getPrice" novalidate autocomplete="off">
            <div role="application" class="wizard clearfix">
                <div class="steps clearfix">
                    <ul role="tablist">
                        <li role="tab" v-bind:class="{ 'current': step == 1, 'done': step > 1 || maxPrevStep > step && prevStep == 1 }"  class="first "><a aria-controls="wizard-p-0"><span class="current-info audible">current step: </span><span class="number">1.</span> Груз</a></li>
                        <li role="tab" v-bind:class="{ 'current': step == 2, 'done': step > 2 || maxPrevStep > step && prevStep == 2 }"  class="disabled" aria-disabled="true"><a id="wizard-t-1" href="#wizard-h-1" aria-controls="wizard-p-1"><span class="number">2.</span> Упаковка</a></li>
                        <li role="tab" v-bind:class="{ 'current': step == 3, 'disabled': step < 3, 'done': maxPrevStep >= step && prevStep == 3 }"  class=" last" aria-disabled="true">
                            <a id="wizard-t-2" href="#wizard-h-2" aria-controls="wizard-p-2">
                                <span class="number">3.</span>
                                <span class="fix" id="js-lead"><span class="popover-link js-lead" role="button" data-original-title="" title="">Расчет и оформление</span></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="content clearfix">
                    <div v-if="step == 1" class="step body" data-step="1">
                        <div class="form-row-wrap">
                            <div class="form-row">
                                <div class="form-column">
                                    <div class="form-group medium" v-bind:class="{ error: errors.has('cityFrom') }">
                                        <label >Откуда*</label>

                                        <v-select
                                                placeholder="Выберите город"
                                                :multiple="false"
                                                v-model="cityFrom"
                                                label="title"
                                                :name="'cityFrom'"
                                                :options="getCityFromList"
                                                v-bind:class="{ error: errors.has('cityFrom')}"
                                                v-validate="{required: true}"
                                                :crearable="false"
                                                v-on:input="changeDirection"
                                        >
                                            <span slot="no-options">Город не найден</span>
                                        </v-select>

                                        <label class="error" v-if="errors.has('cityFrom')">Заполните поле</label>
                                    </div>
                                    <div class="form-group medium " v-bind:class="{ error: errors.has('cityTo') }">
                                        <label>Куда*</label>

                                        <v-select
                                                placeholder="Выберите город"
                                                :multiple="false"
                                                v-model="cityTo"
                                                label="title"
                                                :name="'cityTo'"
                                                :options="getCityToList"
                                                v-bind:class="{ error: errors.has('cityTo')}"
                                                v-validate="{required: true}"
                                                :crearable="false"
                                                v-on:input="changeDirection"
                                        >
                                            <span slot="no-options">Город не найден</span>
                                        </v-select>

                                        <label class="error" v-if="errors.has('cityTo')">Заполните поле</label>
                                    </div>
                                    <div class="form-group">
                                        <label for="sendPrice">Объявленная ценность, руб.*</label>
                                        <input type="text" class="form-control" v-filter="filter.int" v-bind:class="{ error: errors.has('price') }" v-on:change="fixSize()" name="price" v-model="price" v-validate="'required|numeric'" step="1" placeholder="≥ 1">

                                        <i class="tooltip-link" v-b-tooltip.hover="{'placement': 'right', 'title': 'Не может превышать реальную стоимость, подтвержденную документально. Страхование б/у грузов не производится'}" >
                                            <img src="/img/circle.png" alt="">
                                        </i>

                                        <label class="error" v-if="errors.has('price') && !price">Заполните поле</label>
                                        <label class="error" v-if="errors.has('price') && price">Только целые числа</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row packages" :id="'packageItem'+index" v-for="(packageItem, index) in packages" :key="index">
                                <div class="form-column">
                                    <div class="form-group bigger" v-bind:class="{ error: errors.has('packageItem.type'+index) }">
                                        <label for="sendType">Тип груза*</label>

                                        <v-select
                                                placeholder="Выберите тип груза"
                                                :multiple="false"
                                                :reduce="item => item.value"
                                                v-model="packageItem.type"
                                                label="title"
                                                :name="'packageItem.type'+index"
                                                :options="listPackageTypes"
                                                v-bind:class="{ error: errors.has('packageItem.type'+index) }"
                                                v-validate="{required: true}"
                                                v-on:change="changeType(packageItem)"
                                                :crearable="false"
                                        >
                                        </v-select>

                                        <input type="text" v-if="packageItem.type == 'Другое'" v-model="packageItem.anotherType"  id="packageAnotherType"  v-bind:class="{ error: errors.has('packageItem.anotherType'+index), 'active' : packageItem.type == 'Другое' }" v-validate="{required: packageItem.type == 'Другое'}" :name="'packageItem.anotherType'+index" class="form-control hidden-field" >
                                        <label class="error" v-if="errors.has('packageItem.anotherType'+index)">Введите тип груза</label>
                                        <label class="error" v-if="errors.has('packageItem.type'+index)">Выберите тип груза</label>
                                    </div>
                                    <div class="form-group half">
                                        <label v-if="!byCargo" for="sendPrice">Вес 1 места, кг*</label>
                                        <label v-else for="sendPrice">Вес груза, кг*</label>
                                        <span class="js-weight-switcher arrow-switcher" v-on:click="toggleCalculateByCargo()">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12"><path fill="#E6E6E6" fill-rule="evenodd" d="M.578 10.594L5.172 6 .578 1.406 1.984 0l6 6-6 6z"></path></svg>
                                        </span>
                                        <input type="text" class="form-control js-eq-right" v-filter="filter.int" v-on:change="fixSize(packageItem)" v-bind:class="{ error: errors.has('packageItem.weight'+index) }" :name="'packageItem.weight'+index" v-model="packageItem.weight" v-validate="'required|numeric'" min="1" step="1" placeholder="≥ 1">

                                        <label class="error" v-if="errors.has('packageItem.weight'+index) && !packageItem.weight">Заполните поле</label>
                                        <label class="error" v-if="errors.has('packageItem.weight'+index) && packageItem.weight">Только целые числа</label>

                                    </div>
                                    <div class="form-group half mr-0">
                                        <label for="sendPlaceQty">Количество мест*<span v-if="!byCargo"></span></label>
                                        <input
                                                type="text"
                                                v-model="packageItem.count"
                                                class="form-control"
                                                v-on:change="fixSize(packageItem)"
                                                v-filter="filter.int"
                                                v-bind:class="{ error: errors.has('packageItem.count'+index) }"
                                                :name="'packageItem.count'+index"
                                                v-validate="'required|numeric'"
                                                min="1"
                                                step="1"
                                                :placeholder="'≥' + (packageItem.calcCount ? packageItem.calcCount : 1)">


                                        <label class="error" v-if="errors.has('packageItem.count'+index) && !packageItem.count">Заполните поле</label>
                                        <label class="error" v-if="errors.has('packageItem.count'+index) && packageItem.count">Только целые числа</label>
                                    </div>
                                </div>
                                <div class="form-column js-form-column">
                                    <div class="form-group small">
                                        <label for="sendLength">Длина, см* </label>
                                        <input type="text" class="form-control js-eq-left" :disabled="packageItem.useSize === false || byCargo" v-filter="filter.int" v-on:click="useSize(packageItem)" v-on:keyup="useSize(packageItem)" :placeholder="'≤ '+maxDepth" v-on:change="fixSize(packageItem)" v-bind:class="{ error: errors.has('packageItem.depth'+index) && validateStep == 2 }" :name="'packageItem.depth'+index" v-model="packageItem.depth" v-validate="{'required' : packageItem.useSize === true || packageItem.useSize === null , numeric: true}">

                                        <label class="error" v-if="validateStep == 2 && errors.has('packageItem.depth'+index) && !packageItem.depth">Заполните поле</label>
                                        <label class="error" v-if="validateStep == 2 && errors.has('packageItem.depth'+index) && packageItem.depth">Только целые числа</label>
                                    </div>
                                    <div class="form-group small">
                                        <label for="sendWidth">Ширина, см*</label>
                                        <input type="text" class="form-control js-eq-left" :disabled="packageItem.useSize === false || byCargo" v-filter="filter.int" v-on:click="useSize(packageItem)" v-on:keyup="useSize(packageItem)" :placeholder="'≤ '+maxWidth" v-on:change="fixSize(packageItem)" v-bind:class="{ error: errors.has('packageItem.width'+index) && validateStep == 2 }" :name="'packageItem.width'+index" v-model="packageItem.width" v-validate="{'required' : packageItem.useSize === true || packageItem.useSize === null, numeric: true}">

                                        <label class="error" v-if="validateStep == 2 && errors.has('packageItem.width'+index) && !packageItem.width">Заполните поле</label>
                                        <label class="error" v-if="validateStep == 2 && errors.has('packageItem.width'+index) && packageItem.width">Только целые числа</label>
                                    </div>
                                    <div class="form-group small">
                                        <label for="sendHeight">Высота, см*</label>
                                        <input type="text" class="form-control js-eq-left" :disabled="packageItem.useSize === false || byCargo" v-filter="filter.int" v-on:click="useSize(packageItem)" v-on:keyup="useSize(packageItem)" :placeholder="'≤ '+maxHeight" v-on:change="fixSize(packageItem)" v-bind:class="{ error: errors.has('packageItem.height'+index) && validateStep == 2  }" :name="'packageItem.height'+index" v-model="packageItem.height" v-validate="{'required' : packageItem.useSize === true || packageItem.useSize === null, numeric: true}">

                                        <label class="error" v-if="validateStep == 2 && errors.has('packageItem.height'+index) && !packageItem.height">Заполните поле</label>
                                        <label class="error" v-if="validateStep == 2 && errors.has('packageItem.height'+index) && packageItem.height">Только целые числа</label>
                                    </div>
                                    <div class="form-group">
                                        <label v-if="!byCargo" for="sendPrice">Объем места, м3*</label>
                                        <label v-else for="sendPrice">Объем груза, м3*</label>

                                        <span v-on:click="toggleCalculateByCargo()" class="js-weight-switcher arrow-switcher">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12"><path fill="#E6E6E6" fill-rule="evenodd" d="M.578 10.594L5.172 6 .578 1.406 1.984 0l6 6-6 6z"></path></svg>
                                        </span>

                                        <input type="text" class="form-control js-eq-right" :disabled="packageItem.useSize === true" v-filter="filter.float" v-on:click="useSize(packageItem)" v-on:keyup="changeCalculateWeight(packageItem), useSize(packageItem), fixSize(packageItem)" v-on:change="changeCalculateWeight(packageItem), useSize(packageItem), fixSize(packageItem)" v-bind:class="{ error: errors.has('packageItem.calculateWeight'+index) && validateStep == 2 }" :name="'packageItem.calculateWeight'+index" v-model="packageItem.calculateWeight" v-validate="{'required' : packageItem.useSize === false || packageItem.useSize === null, nozero: true}" min="1" :placeholder="placeholderVolume">

                                        <label class="error" v-if="validateStep == 2 && errors.has('packageItem.calculateWeight'+index) && !packageItem.calculateWeight">Заполните поле</label>
                                        <label class="error" v-if="validateStep == 2 && errors.has('packageItem.calculateWeight'+index) && packageItem.calculateWeight">Только числа</label>
                                    </div>
                                </div>

                                <div class="row-controls">
                                    <span class="row-minus" v-on:click="removePackage(index)">─</span>
                                    <span class="row-plus" v-on:click="createPackage(index)">+</span>
                                </div>
                            </div>
                            <div class="small-info">* - обязательные поля</div>


                        </div>
                        <div class="form-row-info">
                            <div class="sticky-wrapper">
                                <div class="total sticky-total">
                                    Расчетный вес —
                                    <span><b>{{ totalWeight }}</b>кг</span>

                                    <i style="top:0;right: 0;" class="tooltip-link" v-b-tooltip.hover="{'placement': 'right', 'title': 'Расчетным весом груза является большее значение между общим весом и объемным весом, рассчитанным по формуле: объем груза в м3 умноженный на ' + this.volumeWeightCoef}" >
                                        <img src="/img/circle.png" alt="">
                                    </i>



                                    <div v-if="byCargo" class="alert-info alert-weight "><img src="img/alert.svg" alt="">Одно место не может превышать<br> 120х80х180 см и 1450 кг</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="step == 2" class="step body" data-step="2">
                        <div class="form-row-wrap">
                            <div v-for="(packageItem, index) in packages" :id="'packagetype'+packageItem.hidden" :key="packageItem.hidden">
                                <div class="form-row">
                                    <div class="form-column lined">
                                        <div class="form-group info-item">
                                            <label>Тип груза</label>
                                            <b v-if="getPackageTypeTitle(packageItem)">{{ getPackageTypeTitle(packageItem) }}</b>
                                            <span >Количество мест: <b>{{ packageItem.count }}</b></span>
                                        </div>
                                        <div class="form-group">
                                            <label>Упаковка (рекомендуемая)</label>

                                            <v-select
                                                class="packing-item"
                                                placeholder="Без упаковки"
                                                :multiple="false"
                                                :reduce="item => item.value"
                                                v-model="packageItem.packing"
                                                :name="'packageItem.packing'+index"
                                                label="title"
                                                :options="getPackings(packageItem)"
                                                @input="changePacking(packageItem)"
                                                @change="changePacking(packageItem)"
                                                v-bind:class="{ error: errors.has('packageItem.packing'+index) }"
                                                :crearable="false"
                                            >
                                            </v-select>


                                            <div class="price-inner">
                                                <label>Стоимость</label>
                                                <b>{{ packageItem.packingPrice }} руб.</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row-info">
                            <div class="total">
                                Общая стоимость упаковки (с НДС) —
                                <span><b>{{ getPackingPriceTotal() }}</b>руб.</span>
                            </div>
                            <div class="info-ul-wrap active" v-show="isEmptyPacking">
                                <div class="alert-info"><img src="/img/alert.svg" alt="">Не возим без упаковки:</div>
                                <ul class="info-ul ">
                                    <li>бытовую техника и электронику, включая оргтехнику;</li>
                                    <li>промышленное оборудование, механизмы, агрегаты, техника;</li>
                                    <li>кузовные автозапчасти;</li>
                                    <li>мебель и предметы интерьера;</li>
                                    <li>пластмассовые изделия и тару, металлические емкости объемом до 50 л.;</li>
                                    <li>груз, транспортировка которого без упаковки может повредить или негативно воздействовать на соседний груз;</li>
                                    <li>груз, конструктивно содержащий в себе жидкости;</li>
                                    <li>груз, в составе которого есть стекло, гнущиеся или хрупкие элементы;</li>
                                    <li>любые грузы с манипуляционными знаками.</li>
                                </ul>
                                <span class="more-items">Показать все <img src="/img/arr-down.png" alt=""></span>
                            </div>
                        </div>
                    </div>

                    <div v-if="step == 3" class="step body" data-step="3">
                        <div class="form-row-wrap">
                            <div class="form-row finished">
                                <div class="form-group">
                                    <label>Тип груза:</label>
                                    <b v-for="(packageItem ,index) in packages">{{ getPackageTypeTitle(packageItem) }}<br></b>
                                </div>
                                <div class="form-group">
                                    <label>Расчетный вес груза:</label>
                                    <b>{{ totalWeight }} кг</b>
                                </div>
                            </div>

                            <div class="form-row finished">
                                <div class="form-group">
                                    <label>Количество грузовых мест:</label>
                                    <b>{{ getPackageCount }}</b>
                                </div>
                                <div class="form-group" style="width: 50%">
                                    <label>Общая стоимость упаковки (с НДС):</label>
                                    <b>{{ getPackingPriceTotal() }} руб.</b>
                                </div>
                            </div>
                        </div>
                        <div class="form-row-info">
                            <div class="total">
                                Итого:
                                <div class="price-inner " v-bind:class="{ 'loading': !(totalPriceMin || totalPriceMax)}">
                                    <div v-if="totalPriceMin || totalPriceMax">
                                        <span v-if="totalPriceMin != totalPriceMax"><b>{{ totalPriceMin }}-{{ totalPriceMax }}</b> руб.</span>
                                        <span v-else><b>{{ totalPriceMin }}</b> руб.</span>
                                    </div>
                                </div>


                            </div>
                            <div class="price-subtext" @click="modalFirst = !modalFirst">Почему такая цена?</div>

                            <div v-if="this.predefinedVat == null" class="nds-switch">
                                <label class="control control--switch">
                                    <input type="checkbox" v-model="vat" name="vat" @change="recalculate" value="1"  />
                                    Без НДС
                                    <div class="control__indicator"></div>
                                    С НДС
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control coupon-field" :name="promocode" v-model="promocode" placeholder="Промокод">
                                <span v-if="promocode && !usePromocode" class="btn-default" v-on:click="checkPromocode()">Применить</span>
                            </div>

                            <div class="info-ul-wrap active"  v-if="!overloadWeightFirstMileShipping && !overloadWeightLastMileShipping && totalFirstMilePriceMin">
                                <div class="alert-info"><img src="img/ic_print activ.svg" alt="">От двери до двери:</div>
                                <ul class="info-ul">
                                    <li v-if="!overloadWeightFirstMileShipping">
                                        Забрать груз <span class="milePrice">{{ totalFirstMilePriceMin }}-{{ totalFirstMilePriceMax }}</span> руб.
                                    </li>
                                    <li v-if="!overloadWeightLastMileShipping">
                                        Доставить до адреса получателя: <span class="milePrice">{{ totalLastMilePriceMin }}-{{ totalLastMilePriceMax }}</span> руб.
                                    </li>
                                </ul>
                                <span class="small">Можно заказать в личном кабинете при оформлении заказа.</span>
                            </div>
                            <label class="control control--checkbox terms"  v-bind:class="{'highlight-offert': highlightOffert}">
                                Согласен с условиями <a target="_blank" href="/offer/customer">оферты</a>
                                <input type="checkbox" v-model="confirm" v-bind:checked="confirm == true" @change="highlightOffert ? highlightOffert = !confirm : null" v-validate="{required: true}">
                                <div class="control__indicator"></div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="actions clearfix" v-bind:class="{ 'action-finish': step == 3 }">
                    <ul role="menu" aria-label="Pagination">
                        <li v-if="step == 1"></li>
                        <li v-if="step == 1"><a href="#next" v-on:click="showStep(2)" role="menuitem">Перейти к упаковке</a></li>
                        <li v-if="step == 2"><a href="#previous" v-on:click="showStep(1, false)" role="menuitem" class="previous">Вернуться к грузу</a></li>
                        <li v-if="step == 2"><a href="#next" v-on:click="showStep(3)" role="menuitem">Рассчитать стоимость</a></li>
                        <li v-if="step == 3"><a href="#previous" v-on:click="showStep(2, false)" role="menuitem" class="previous">Вернуться к упаковке</a></li>
                        <li v-if="step == 3">
                            <span @click="highlightOffert = !confirm">
                                <a id="createOrder" href="#finish" v-on:click="showStep(4, false, $event)" role="menuitem" class="finished" v-bind:class="{ 'disabled': confirm != true }">Оформить заказ</a>
                            </span>
                        </li>
                    </ul>
                </div>

                <div class="js-lead-content" >
                    <b-popover :show.sync="competitorPricesShow" title="Popover" custom-class="popover p-lead" target="js-lead">
                        <div class="popover-inner " v-bind:class="{ 'loading': !competitorPricesLoad}">
                            <div class="p-lead__title">Лидеры рынка</div>

                            <span class="js-lead-close p-lead__close" v-on:click="hidePopover()"></span>
                            <table v-if="competitorPrices.length > 0">
                                <tr class="p-lead__line" v-if="competitorPrice.price > 0" v-for="(competitorPrice, index) in competitorPrices">
                                    <td><span class="num">{{ competitorPrice.price }}</span> руб.</td>
                                    <td><span class="tk">ТК {{competitorPrice.index}}*</span></td>
                                </tr>
                            </table>
                            <div v-else-if="competitorPrices.length == 0 && competitorPricesLoad">
                                К сожалению, лидеры не хотят делиться расчетом
                            </div>
                            <div class="p-lead__text">* - калькулятор официальных сайтов, </div>
                            <div class="p-lead__text">с НДС, без учета упаковки</div>
                        </div>
                    </b-popover>
                </div>
            </div>
        </form>
    </div>
</section>
</template>

<script>
    import Vue from 'vue';
    import vSelect from 'vue-select';
    import ff from '../../vueconfig.js';
    import VueScrollTo from 'vue-scrollto'
    import { BPopover } from 'bootstrap-vue'
    import popUp from './popUp'
    // import vClickOutside from 'v-click-outside'

    Vue.component('b-popover', BPopover);

    export default {
        components: {
            vSelect, popUp
        },
        directives: {
            // clickOutside: vClickOutside.directive
        },
        name: 'calc',
        props: ['route'],
        data() {
            return {
                modalFirst: false,

                confirm: false,
                highlightOffert: false,

                user: false,
                maxPrevStep: 0,
                prevStep: 1,
                step: 1,
                price: null,
                directions: [],
                packageTypes: [],
                packings: [],
                packing: null,
                stocks: [],
                direction: null,
                cityFrom: null,
                cityTo: null,
                packages: [
                    Object.assign({}, ff.Package),
                ],
                maxWeight: 1200,
                totalPriceMin: 0,
                totalPriceMax: 0,

                totalFirstMilePriceMin: 0,
                totalFirstMilePriceMax: 0,
                totalLastMilePriceMin: 0,
                totalLastMilePriceMax: 0,

                overloadWeightFirstMileShipping: false,
                overloadWeightLastMileShipping: false,

                maxWidth: 80,
                maxHeight: 180,
                maxDepth: 120,

                hiddenIndex: 1,
                mask: ff.mask(),
                filter: ff.filter(),
                promocode: '',
                appliedPromocode: '',
                usePromocode: false,
                competitorPrices: [],
                competitorPricesLoad: false,
                validateStep: 1,
                isEmptyPacking: false,
                byCargo: false,
                competitorPricesShow: false,

                vat: false,
                predefinedVat: false,

                volumeWeightCoef: 280,
            }
        },
        methods: {
            showStep: function (step, validateStep, $event) {
                var $this = this;

                this.validateStep = step;

                this.$validator.validateAll().then(function(result) {
                    if (step < 3) {
                        $this.hidePopover();
                    }

                    if(!result && validateStep == undefined) {
                        return;
                    }

                    if (step == 2 && validateStep == undefined) {
                        ff.counterEvent('sender_calc_step1', 'click');

                        $.each($this.packages, function( index, item ) {
                            $this.packages[index].packing = '';
                        });

                        $this.packingRecommended();
                        $this.checkEmptyPacking();
                    }

                    if (step == 3 && validateStep == undefined) {
                        $this.showPopover();

                        $this.getPrice();

                        $this.competitorPrices = [];
                        $this.competitorPricesLoad = false;
                        $this.getCompetitorPrice();
                    }

                    if (step == 4) {
                        $this.createOrder($event);
                        return false;
                    }

                    if ($this.maxPrevStep < $this.step) {
                        $this.maxPrevStep = $this.step;
                    }
                    $this.prevStep = $this.step;
                    $this.step = step;

                    VueScrollTo.scrollTo('.steps', 600);
                });

                return false;
            },

            recalculate() {
                if (this.step === 3) {
                    this.totalPriceMin = 0;
                    this.totalPriceMax = 0;
                    this.totalFirstMilePriceMin = 0;
                    this.totalFirstMilePriceMax = 0;
                    this.totalLastMilePriceMin = 0;
                    this.totalLastMilePriceMax = 0;

                    this.getPrice();
                }
            },

            getData: function () {
                var jqxhr = $.ajax({
                    url: "/api/customer/calc/config",
                    cache: true,
                    async: false
                });

                var data = jqxhr.responseJSON.data;

                this.directions = data.params.directions;

                /* Предустановим направление */
                //this.direction = this.directions[0].id;

                this.packageTypes = data.params.packageTypes;
                this.packings = data.params.packings;
                this.stocks = data.params.stocks;

                this.predefinedVat = data.params.user_vat;
                if (data.params.user_vat !== null) {
                    this.vat = data.params.user_vat;
                }

                this.maxWeight = data.settings.max_weight;
                this.maxWidth = data.settings.max_width;
                this.maxHeight = data.settings.max_height;
                this.maxDepth = data.settings.max_depth;
            },
            getPacking: function (packingId) {
                var result = null;
                $.each(this.packings, function( index, item ) {
                    if (item.id == packingId) {
                        result = item;
                    }
                });

                return result;
            },
            getPackageType: function (packageType) {
                var result = null;
                $.each(this.packageTypes, function( index, item ) {
                    if (item.id == packageType) {
                        result = item;
                    }
                });

                return result;
            },
            getPackageTypeTitle: function (packageItem) {
                var result = null;

                if (packageItem.anotherType && !parseInt(packageItem.type)) {
                    return packageItem.anotherType;
                }

                $.each(this.packageTypes, function( index, item ) {
                    if (item.id == packageItem.type) {
                        result = item;
                    }
                });

                return result != null ? result.title : '';
            },
            calculateWeight: function (width, height, depth) {
                return ((width*height*depth)/1000000) * this.volumeWeightCoef;
            },
            calculateWeightVolume: function (volume) {
                // плотность веса
                return volume * this.volumeWeightCoef;
            },
            getTariff: function () {
                return 5;
            },
            getPrice: function () {
                var packages = this.packages;

                var formData = new FormData();
                formData.append('orderCustomer[sender]', this.user);
                formData.append('orderCustomer[direction]', this.direction);
                formData.append('orderCustomer[declaredPrice]', this.price);
                formData.append('orderCustomer[promocode]', this.appliedPromocode);
                formData.append('orderCustomer[vat]', this.vat * 1);
                formData.append('orderCustomer[byCargo]', this.byCargo ? 1 : 0);

                $.each(packages, function( index, packageItem ) {
                    formData.append('orderCustomer[packages]['+index+'][packageType]', packageItem.type);
                    formData.append('orderCustomer[packages]['+index+'][packageTypeAnother]', packageItem.anotherType ? packageItem.anotherType : '');
                    formData.append('orderCustomer[packages]['+index+'][count]', packageItem.count ? packageItem.count : 1);
                    formData.append('orderCustomer[packages]['+index+'][weight]', packageItem.weight);
                    if (packageItem.packing > 0) {
                        formData.append('orderCustomer[packages]['+index+'][packing]', packageItem.packing);
                    }
                    formData.append('orderCustomer[packages]['+index+'][depth]', packageItem.depth);
                    formData.append('orderCustomer[packages]['+index+'][width]', packageItem.width);
                    formData.append('orderCustomer[packages]['+index+'][height]', packageItem.height);
                    formData.append('orderCustomer[packages]['+index+'][calculateWeight]', packageItem.calculateWeight);
                });

                $.ajax({
                    method: 'POST',
                    url: "/api/customer/calc/price",
                    cache: false,
                    async: true,
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                }).done((result) => {
                    if (result !== undefined) {
                        if (typeof result.error != "undefined") {
                            this.totalPriceMin = 0;
                            this.totalPriceMax = 0;
                            this.totalFirstMilePriceMin = 0;
                            this.totalFirstMilePriceMax = 0;
                            this.totalLastMilePriceMin = 0;
                            this.totalLastMilePriceMax = 0;
                        } else {
                            let data = result.data;
                            this.usePromocode = true;

                            this.totalPriceMin = data.minPricePromocode;
                            this.totalPriceMax = data.maxPricePromocode;
                            this.totalFirstMilePriceMin = data.totalFirstMilePriceMin;
                            this.totalFirstMilePriceMax = data.totalFirstMilePriceMax;
                            this.totalLastMilePriceMin = data.totalLastMilePriceMin;
                            this.totalLastMilePriceMax = data.totalLastMilePriceMax;

                            this.overloadWeightFirstMileShipping = data.overloadWeightFirstMileShipping;
                            this.overloadWeightLastMileShipping = data.overloadWeightLastMileShipping;
                        }
                    }
                });

            },
            getCompetitorPrice: function () {
                var $this = this;

                $this.competitorPricesLoad = false;

                var jqxhr = $.ajax({
                    url: "/api/customer/calc/competitor_price",
                    cache: true,
                    async: true,
                    dataType: "json",
                    data: {
                        price: this.price,
                        direction: this.direction,
                        packages: this.packages,
                        promocode: this.appliedPromocode,
                        byCargo: this.byCargo,
                    },
                    success: function(data){
                        if (typeof data.error != "undefined") {
                            $this.competitorPrices = [];
                        } else {
                            $this.competitorPrices = data.data;
                        }
                        $this.competitorPricesLoad = true;
                    },
                });
            },
            checkPromocode: function () {
                this.appliedPromocode = this.promocode;
                this.getPrice();
            },

            getDirection: function (id) {
                var result = null;

                if (!id) {
                    id = this.direction;
                }

                $.each(this.directions, function( index, item ) {
                    if (item.id == id) {
                        result = item;
                    }
                })

                return result;
            },
            checkPacking: function () {
                var packing = this.packing;
                var found = false;
                $.each(this.getPackingsForSize, function( index, item ) {
                    if (item.id == packing) {
                        found = true;
                    }
                })

                if (!found) {
                    this.packing = null;
                }

                return found;
            },
            checkSize: function (packageItem, packingItem) {
                var width = packageItem.width;
                var height = packageItem.height;
                var depth = packageItem.depth;
                var packageType = packageItem.type;

                var calculateWeight = packageItem.calculateWeight;

                if (packingItem.size) {
                    var size = packingItem.size.split('x');

                    size[0] = parseInt(size[0]);
                    size[1] = parseInt(size[1]);
                    size[2] = size[2] == undefined ? false : parseInt(size[2]);
                } else {
                    var size = [];
                    size[0] = parseInt(maxWidth);
                    size[1] = parseInt(maxHeight);
                    size[2] = parseInt(maxDepth);
                }

                // мешок + указан только объем
                if (!width && !height && !depth && !size[2])
                {
                    //V < (x*y^2)/4(*100*100*100)
                    var V1 = (size[0] * size[1] * size[1]) / 4000000;
                    var V2 = (size[1] * size[0] * size[0]) / 4000000;

                    // добавляем 50 %
                    var V1 = V1 - (V1*50)/100;
                    var V2 = V2 - (V2*50)/100;

                    if (calculateWeight < V1) {
                        return true;
                    }

                    if (calculateWeight < V2) {
                        return true;
                    }

                    return false;
                }

                // указкан только объем
                if (!width && !height && !depth) {
                    if (calculateWeight < ((size[0] * size[1] * size[2]) / 1000000)) {
                        return true;
                    }
                    return false;
                }

                // мешок
                if(size[2] == false)
                {
                    var minL1 = width + height;
                    var minH1= (width*height + height*depth + width*depth)/minL1;

                    var minL2 = width + depth;
                    var minH2= (width*depth + height*depth + width*height)/minL2;

                    var minL3 = depth + height;
                    var minH3= (depth*height + height*width + width*depth)/minL3;

                    // добавляем 25 %
                    var sizeW = size[0] - (size[0]*25)/100;
                    var sizeH = size[1] - (size[1]*25)/100;

                    if((sizeW >= minL1 && sizeH >= minH1) || (sizeH >= minL1 && sizeW >= minH1)) {
                        return true;
                    }

                    if((sizeW >= minL2 && sizeH >= minH2) || (sizeH >= minL2 && sizeW >= minH2)) {
                        return true;
                    }

                    if((sizeW >= minL3 && sizeH >= minH3) || (sizeH >= minL3 && sizeW >= minH3)) {
                        return true;
                    }
                    return false;
                }

                if (
                    ((size[0] >= width && size[1] >= height) || (size[1] >= width && size[0] >= height ))
                    && ((size[2] > 0 && size[2] >= depth) || (size[2] == false))) {

                    return true;
                }
                return false;
            },
            getPackingsForSize: function (packageItem) {
                var $this = this;
                var result = [];
                result.push({title: 'Без упаковки', id: null, value: null})
                $.each(this.packings, function( index, item ) {
                    item.value = item.id;
                    if (item.type == 'for_one') {
                        if (packageItem.weight && $this.checkSize(packageItem, item))  {
                            result.push(item);
                        }

                    } else if (item.type == 'to_size') {
                        result.push(item);
                    }
                });
                return result;
            },
            changeCalculateWeight: function (packageItem) {
                packageItem.enterVolume = true;

                if (!this.byCargo && packageItem.calculateWeight > 1.728) {
                    packageItem.calculateWeight = 1.728;
                }
            },

            createPackage: function (index) {
                var $this = this;

                this.packages.splice(index + 1, 0, Object.assign({}, ff.Package()));

                $.each(this.packages, function( index, packageItem ) {
                    if (!packageItem.hidden) {
                        packageItem.hidden = $this.hiddenIndex + 1;
                        $this.hiddenIndex = $this.hiddenIndex + 1;
                    }
                })

                return false;
            },

            removePackage: function (index) {
                if (this.packages.length <= 1) {
                    return;
                }

                this.packages.splice(index, 1);

                return false;
            },

            getPackings: function (packageItem) {
                var width = this.width;
                var height = this.height;
                var depth = this.depth;
                var result = [];

                return this.getPackingsForSize(packageItem);
            },

            changePacking(packageItem) {
                this.$set(packageItem, 'packingPrice', this.getPackingPrice(packageItem));
                this.checkEmptyPacking();
                this.$emit('change', packageItem);
            },

            getPackingPrice: function (packageItem) {
                var $this = this;
                var packingPrice = 0;
                var packing = this.getPacking(packageItem.packing);
                var exist = false;
                var result = 0;

                if (packing) {
                    $.each(this.getPackings(packageItem), function( index, item ) {
                        if (item.id == packing.id) {
                            exist = true;
                        }
                    });

                    if (exist) {
                        if (packing.type == 'for_one') {
                            packingPrice = packing.price;
                        } else if (packing.type == 'to_size') {
                            if (packageItem.calculateWeight > 0) {
                                packingPrice = packing.price * packageItem.calculateWeight;
                            } else {
                                packingPrice = packing.price * $this.getVolume(packageItem.width, packageItem.height, packageItem.depth);
                            }
                            if (packing.minPrice * 1 && packingPrice < packing.minPrice * 1) {
                                packingPrice = packing.minPrice * 1;
                            }
                        }
                    } else {
                        $.each(this.packages, function( index, packageItem ) {
                            if (packageItem.id == packageItem.id) {
                                $this.packages[index].packing = '';
                            }
                        })
                    }
                }


                if ($this.byCargo) {
                    result = Math.ceil(packingPrice);
                } else {
                    result = Math.ceil(packingPrice * packageItem.count);
                }
                return result;
            },

            getPackingPriceTotal: function () {
                var totalPackingPrice = 0;
                var packingPrice = 0;

                var $this = this;

                $.each(this.packages, function( index, packageItem ) {
                    var packing = $this.getPacking(packageItem.packing);
                    if (packing) {
                        if (packing.type == 'for_one') {
                            packingPrice = packing.price;
                        } else if (packing.type == 'to_size') {
                            if (packageItem.calculateWeight > 0) {
                                packingPrice = packing.price * packageItem.calculateWeight;
                            } else {
                                packingPrice = packing.price * $this.getVolume(packageItem.width, packageItem.height, packageItem.depth);
                            }
                            if (packing.minPrice * 1 && packingPrice < packing.minPrice * 1) {
                                packingPrice = packing.minPrice * 1;
                            }
                        }
                    }

                    if ($this.byCargo) {
                        totalPackingPrice = totalPackingPrice + packingPrice;
                    } else {
                        totalPackingPrice = totalPackingPrice + packingPrice * packageItem.count;
                    }
                })

                return Math.ceil(totalPackingPrice);
            },

            getVolume: function (width, height, depth) {
                return depth*height*width / 1000 / 1000;
            },

            createOrder: function ($event) {

                var button = $($event.target);
                if (button.hasClass('disabled')) {
                    return false;
                }

                button.addClass('disabled');

                var packages = this.packages;

                var formData = new FormData();
                formData.append('orderCustomer[sender]', this.user);
                formData.append('orderCustomer[direction]', this.direction);
                formData.append('orderCustomer[declaredPrice]', this.price);
                formData.append('orderCustomer[minPrice]', this.totalPriceMin);
                formData.append('orderCustomer[maxPrice]', this.totalPriceMax);
                formData.append('orderCustomer[promocode]', this.appliedPromocode);
                formData.append('orderCustomer[byCargo]', this.byCargo ? 1 : 0);
                formData.append('orderCustomer[vat]', this.vat * 1);

                $.each(packages, function( index, packageItem ) {
                    formData.append('orderCustomer[packages]['+index+'][packageType]', packageItem.type);
                    formData.append('orderCustomer[packages]['+index+'][packageTypeAnother]', packageItem.anotherType ? packageItem.anotherType : '');
                    formData.append('orderCustomer[packages]['+index+'][count]', packageItem.count ? packageItem.count : 1);
                    formData.append('orderCustomer[packages]['+index+'][weight]', packageItem.weight);
                    if (packageItem.packing > 0) {
                        formData.append('orderCustomer[packages]['+index+'][packing]', packageItem.packing);
                    }
                    formData.append('orderCustomer[packages]['+index+'][depth]', packageItem.depth);
                    formData.append('orderCustomer[packages]['+index+'][width]', packageItem.width);
                    formData.append('orderCustomer[packages]['+index+'][height]', packageItem.height);
                    formData.append('orderCustomer[packages]['+index+'][calculateWeight]', packageItem.calculateWeight);

                });

                $.ajax({
                    method: 'POST',
                    url: "/api/customer/calc/create_order",
                    cache: false,
                    async: true,
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                }).done(function(data) {
                    if (data.id > 0) {
                        ff.counterEvent('ZAKAZ', 'form_submit');

                        // Пользователь пытается создать заказ без нужной роли, сохраним ид
                        window.sessionStorage.setItem('sender_order_unauthed', data.id);

                        if(data.notCustomer) {
                            ff.openPopupUrl('/static/popup/customer/auth?orderId'+data.id);
                        } else {
                            location.href = '/personal?group=sender&orderId='+data.id;
                        }
                        //button.removeClass('disabled');
                    }
                });

                return true;
            },
            fixSize: function (packageItem) {
                if (packageItem) {
                    var width = parseInt(packageItem.width);
                    var height = parseInt(packageItem.height);

                    if (isNaN(width)) {
                        width = 1;
                    }
                    if (isNaN(height)) {
                        height = 1;
                    }

                    if (parseInt(packageItem.height) > 0) {
                        packageItem.height = parseInt(packageItem.height);

                        if (packageItem.height > this.maxHeight) {
                            packageItem.height = this.maxHeight;
                        }
                    }

                    if (parseInt(packageItem.width) > 0) {
                        packageItem.width = parseInt(packageItem.width);

                        if (packageItem.width > this.maxWidth) {
                            packageItem.width = this.maxWidth;
                        }
                    }

                    if (parseInt(packageItem.depth) > 0) {
                        packageItem.depth = parseInt(packageItem.depth);

                        if (packageItem.depth > this.maxDepth) {
                            packageItem.depth = this.maxDepth;
                        }
                    }

                    if (packageItem.weight > this.maxWeight && !this.byCargo) {
                        packageItem.weight = this.maxWeight;
                    }

                    if (packageItem.weight < 1 && packageItem.weight != null && packageItem.weight != '') {
                        packageItem.weight = 1;
                    }

                    if (packageItem.count < 1 && packageItem.count != null && packageItem.count != '') {
                        packageItem.count = 1;
                    }

                    if (packageItem.height < 1 && packageItem.height != null && packageItem.height != '') {
                        packageItem.height = 1;
                    }

                    if (packageItem.width < 1 && packageItem.width != null && packageItem.width != '') {
                        packageItem.width = 1;
                    }

                    if (packageItem.depth < 1 && packageItem.depth != null && packageItem.depth != '') {
                        packageItem.depth = 1;
                    }

                    //задача devl-69 расчет количества мест
                    if(packageItem.calculateWeight){
                        if (packageItem.count >= packageItem.calcCount) {
                            return;
                        } else {
                            packageItem.count = "";
                        }
                    }

                    this.useSize(packageItem);
                }

                if (this.price < 1 && this.price != null && this.price != '') {
                    this.price = 1;
                }


                return packageItem;
            },
            useSize: function (packageItem) {
                var $this = this;
                packageItem.useSize = null;
                if (packageItem && ((packageItem.width || packageItem.height || packageItem.depth) || packageItem.calculateWeight) ) {
                    if (packageItem.calculateWeight) {
                        packageItem.calculateWeight = packageItem.calculateWeight.toString().replace(',', '.')
                    }

                    var width = parseInt(packageItem.width);
                    var height = parseInt(packageItem.height);
                    var depth = parseInt(packageItem.depth);

                    if (width || height || depth) {
                        packageItem.useSize = true;
                        packageItem.enterVolume = false;
                    } else if (packageItem.calculateWeight) {
                        packageItem.useSize = false;
                    }

                    if (!packageItem.enterVolume && !(width || height || depth)) {
                        packageItem.calculateWeight = '';
                        packageItem.useSize = null;
                    }
                }

                if (packageItem.depth || packageItem.height || packageItem.width) {
                    depth = parseInt(packageItem.depth);
                    height = parseInt(packageItem.height);
                    width = parseInt(packageItem.width);

                    var calculateWeight = parseFloat((depth * height * width) / 1000000);
                    if (calculateWeight > 0) {
                        packageItem.calculateWeight = parseFloat((depth * height * width) / 1000000);
                    } else {
                        packageItem.calculateWeight = '';
                    }
                }

                this.validateStep = 1;

                return packageItem;
            },
            packingRecommended: function () {
                var $this = this;

                $.each($this.packages, function( index, packageItem ) {
                    var packageType = $this.getPackageType(packageItem.type);
                    var packings = $this.getPackings(packageItem);
                    if (packings) {
                        $.each($this.getPackings(packageItem), function( index2, packing ) {
                            if (packageType && packageType.packingsRecommended) {
                                $.each(packageType.packingsRecommended, function( index2, packingRecommended ) {
                                    if (!$this.packages[index].packing && packingRecommended.id == packing.id) {
                                        $this.packages[index].packing = packing.id;
                                        $this.changePacking($this.packages[index]);
                                        $this.checkEmptyPacking();
                                    }
                                })
                            }
                        })
                    }
                })

                return '';
            },
            changeType: function (packageItem) {
                packageItem.packing = null;
                this.changePacking(packageItem);
                return '';
            },
            checkEmptyPacking: function (packageItem) {
                var $this = this;
                var result = false;

                $.each($this.packages, function( index, item ) {
                    if (item.packing == null || item.packing == '' || item.packing == 'null') {
                        result = true;
                    }
                });
                this.isEmptyPacking = result;

                return result;
            },

            toggleCalculateByCargo: function () {
                var $this = this;
                $this.byCargo = !$this.byCargo;

                if (!$this.byCargo) {
                    $.each($this.packages, function( index, item ) {
                        $this.fixSize(item)
                        $this.changeCalculateWeight(item);
                    })

                }
            },

            setDirection: function (id) {
                let $this = this;
                let result = null;

                $.each($this.directions, function( index, item ) {
                    if (item.id == id) {
                        $this.cityFrom = {title: item.cityFrom.title, value: item.cityFrom.id };
                        $this.cityTo = {title: item.cityTo.title, value: item.cityTo.id };
                        $this.direction = item.id;
                    }
                })

                return result;
            },

            changeDirection: function () {
                var $this = this;
                var result = null;

                if (!$this.cityTo || !$this.cityFrom) {
                    return;
                }

                $.each($this.directions, function( index, item ) {
                    if (item.cityFrom.id == $this.cityFrom.value && item.cityTo.id == $this.cityTo.value) {
                        result = item;
                    }
                })

                if (result) {
                    this.direction = result.id;
                }
                return false;
            },
            showPopover: function() {
                this.competitorPricesShow = true;
                this.$root.$emit('bv::show::popover');
            },
            hidePopover: function() {
                this.$root.$emit('bv::hide::popover');
            }
        },
        computed: {
            stocksFrom: function () {
                var direction = this.getDirection();

                var result = [];

                if (direction) {
                    $.each(this.stocks, function( index, item ) {
                        if (direction.cityFrom.id == item.city.id) {
                            result.push(item);
                        }
                    });
                }

                return result;
            },
            stocksTo: function () {
                var direction = this.getDirection();

                var result = [];

                if (direction) {
                    $.each(this.stocks, function( index, item ) {
                        if (direction.cityTo.id == item.city.id) {
                            result.push(item);
                        }
                    });
                }

                return result;
            },
            getCityFromList: function () {
                var $this = this;
                var result = [];
                var resultIds = [];
                var list = [{'title': 'Выберите город', 'id': null}];

                $.each($this.directions, function( index, item ) {
                    if (resultIds.indexOf(item.cityFrom.id) === -1) {
                        list.push(item.cityFrom);
                        resultIds.push(item.cityFrom.id);
                    }
                });

                list.sort(ff.comparePosition);

                $.each(list, function( index, item ) {
                    result.push({title: item.title, value: item.id });
                });

                return result;
            },
            getCityToList: function () {
                var $this = this;
                var result = [];
                var resultIds = [];
                var list = [{'title': 'Выберите город', 'id': null}];
                $.each($this.directions, function( index, item ) {
                    // Города не могут совпадать
                    // Делаем список городов, в которые доступна доставка из города отправления
                    if (!$this.cityFrom || ($this.cityFrom.value !== item.cityTo.id) && (!parseInt($this.cityFrom.value) || $this.cityFrom.value === item.cityFrom.id)) {
                        if (resultIds.indexOf(item.cityTo.id) === -1) {
                            list.push(item.cityTo);
                            resultIds.push(item.cityTo.id);
                        }
                    }
                });

                list.sort(ff.comparePosition);

                $.each(list, function( index, item ) {
                    result.push({title: item.title, value: item.id });
                });

                // Если мы построили список и в нем нет выбранного города, заменяем на "Выберите город"
                if ($this.cityTo && resultIds.indexOf($this.cityTo.value) === -1) {
                    $this.cityTo = result[0];
                }

                return result;
            },

            listPackageTypes: function() {
                var $this = this;
                var result = [];
                $.each($this.packageTypes, function( index, packageType ) {
                    result.push({title: packageType.title, value: packageType.id });
                })

                result.push({title: 'Другое', value: 'Другое' });

                return result;
            },

            packingRequired: function () {
                var packageType = this.getPackageType();

                if (packageType && packageType.packingRequired) {
                    return true;
                }
                return false;
            },
            packingsRecommended: function () {
                var packageType = this.getPackageType();

                if (packageType && packageType.packingsRecommended) {
                    return packageType.packingsRecommended;
                }
                return [];
            },
            validationErrors: function () {
                return this.$validator.fields.items.filter(function (item, pos, array) {
                    return array.map(function (item) {
                        return item.field;
                    }).indexOf(item.field) === pos;
                });
                return [];
            },
            totalWeight: function () {
                var $this = this;
                var result = 0;

                $.each(this.packages, function( index, item ) {
                    var calculatedVolumeWeight = 0;
                    if (item.calculateWeight != null) {
                        calculatedVolumeWeight = $this.calculateWeightVolume(item.calculateWeight);
                    }
                    var calculatedWeight = 0;
                    if (item.width != null) {
                        calculatedWeight = $this.calculateWeight(item.width, item.height, item.depth);
                    }
                    var weight = item.weight;
                    if (item.width != null) {
                        weight = item.weight;
                    }

                    if (calculatedWeight < calculatedVolumeWeight) {
                        calculatedWeight = calculatedVolumeWeight;
                    }

                    var resultWeight = 0;

                    if (weight > calculatedWeight) {
                        resultWeight = weight;
                    } else {
                        resultWeight = calculatedWeight;
                    }

                    if ($this.byCargo) {
                        result += parseFloat(resultWeight);
                    } else {
                        if (parseFloat(resultWeight) > 0 && parseFloat(item.count) > 0) {
                            result += parseFloat(resultWeight) * parseFloat(item.count);
                        }
                    }
                  // расчет количества мест
                  let valueCount = Math.ceil(item.calculateWeight / 1.728);
                  let weightCount = Math.ceil(resultWeight / 1450);
                  if (valueCount !== undefined || weightCount !== undefined) {
                   item.calcCount = valueCount > weightCount ? valueCount : weightCount;
                  }

                })

                return result.toFixed(2);
            },
            getPackageCount: function () {
                var result = 0;
                $.each(this.packages, function( index, item ) {
                    result = result + parseInt(item.count);
                })
                return result;
            },
            placeholderVolume: function () {
                var result = '≤ 1.728';

                if (this.byCargo) {
                    result = '';
                }

                return result;
            },
        },
        watch: {
            'promocode': function (val) {
                this.usePromocode = false;
            },
            'cityTo.value': function (val) {
                this.changeDirection();
            },
            'cityFrom.value': function (val) {
                this.changeDirection();
            },
            'cityTo.id': function (val) {
                this.changeDirection();
            },
            'cityFrom.id': function (val) {
                this.changeDirection();
            },
        },

        mounted : function () {

            var $this = this;

            $(function(){

                $('body').on('change', '.js-send-type', function(){
                    var selected = $(this).find("option:selected").text();

                    var parent = $(this).parents('.packages');
                    var block = $('#'+parent.attr('id'));

                    selected = block.find('.js-send-type').find("option:selected").text();
                    if (selected == "Другое") {
                        setTimeout(function() {
                            block.find('.bootstrap-select.js-send-type').parent().addClass('another-active');
                            block.find('.js-another-field').addClass('active');

                            setTimeout(function() {
                                block.find('.js-another-field').focus();
                            }, 500);
                        }, 500);
                    } else {
                        block.find('.bootstrap-select.js-send-type').parent().removeClass('another-active');
                        block.find('.js-another-field').removeClass('active');
                    }
                });
            })

            this.getData();

            if (this.route) {
                this.setDirection(this.route);
            }
        },

    }
</script>

