<template>
  <transition name="modal">
    <div class="modal__wrapper" @click="$emit('close')">
      <div class="modal-content" @click.stop>
        <div class="modal-cont">
          <div class="modal-title">Почему цена в виде диапазона?</div>
          <div class="modal-desc">
            Мы принимаем грузы от разных отправителей и собираем их в партии. Чем больше
            отправителей в одной партии, тем ниже цена вашей перевозки.
          </div>
          <div class="modal-title">Когда я узнаю окончательную цену?</div>
          <div class="modal-desc">Цена будет зафиксирована в момент отправки груза со склада.</div>
          <button class="modal-button" @click="$emit('close')">Понятно</button>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    }
  },
  data() {
    return {};
  }
};
</script>

